Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

Add OpenAPI schemas and paths for webchat widgets/sessions/messages
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/webchat_messages/id.yaml
  bin-openapi-manager/openapi/paths/webchat_messages/main.yaml
  bin-openapi-manager/openapi/paths/webchat_sessions/id.yaml
  bin-openapi-manager/openapi/paths/webchat_sessions/id_end.yaml
  bin-openapi-manager/openapi/paths/webchat_sessions/main.yaml
  bin-openapi-manager/openapi/paths/webchat_widgets/id.yaml
  bin-openapi-manager/openapi/paths/webchat_widgets/id_direct_hash_regenerate.yaml
  bin-openapi-manager/openapi/paths/webchat_widgets/main.yaml
Due: run-bin-openapi-manager

Fix cross-tenant IDOR on webchat direct-token message/session-end paths
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
  bin-api-manager/pkg/servicehandler/webchat_session.go
Due: run-bin-api-manager

Fix cross-tenant IDOR on webchat agent/accesskey message/session-create paths
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
  bin-api-manager/pkg/servicehandler/webchat_session.go
  bin-api-manager/pkg/servicehandler/webchat_session_test.go
Due: run-bin-api-manager

Fix webchat message-direction spoofing (Round 3 finding)
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
Due: run-bin-api-manager

Fix cross-tenant flow-execution vector on webchat widget create/update
  bin-api-manager/pkg/servicehandler/webchat_widget.go
  bin-api-manager/pkg/servicehandler/webchat_widget_test.go
Due: run-bin-api-manager

NOJIRA-Implement-webchat-manager
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
  bin-api-manager/pkg/servicehandler/webchat_session.go
  bin-api-manager/pkg/servicehandler/webchat_session_test.go
Due: run-bin-api-manager

NOJIRA-Implement-webchat-manager
  bin-api-manager/pkg/servicehandler/webchat_widget.go
  bin-api-manager/pkg/servicehandler/webchat_widget_test.go
Due: run-bin-api-manager

Harden WebchatSessionCreate direct-scope owner-ID resolution (Round 6)
  bin-api-manager/pkg/servicehandler/webchat_session.go
  bin-api-manager/pkg/servicehandler/webchat_session_test.go
Due: run-bin-api-manager

Reject soft-deleted webchat resources in Get helpers (Round 7)
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
  bin-api-manager/pkg/servicehandler/webchat_session.go
  bin-api-manager/pkg/servicehandler/webchat_session_test.go
  bin-api-manager/pkg/servicehandler/webchat_widget.go
  bin-api-manager/pkg/servicehandler/webchat_widget_test.go
Due: run-bin-api-manager

Fix SenderID attribution gap for accesskey-originated messages (Round 8)
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
Due: run-bin-api-manager

Extend widget-soft-delete kill switch to message/session-end (Round 9)
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
  bin-api-manager/pkg/servicehandler/webchat_session.go
Due: run-bin-api-manager

Reject messages into ended webchat sessions (Round 10)
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
Due: run-bin-api-manager

Add missing Alembic migration for webchat_widgets/sessions/messages
  bin-dbscheme-manager/bin-manager/main/versions/c9602a744cb3_webchat_widgets_sessions_messages_.py
  bin-dbscheme-manager/docs/schema-ownership.md
Due: none

Harden webchat migration: NOT NULL identity columns, unique direct_id index (Round 1)
  bin-dbscheme-manager/bin-manager/main/versions/c9602a744cb3_webchat_widgets_sessions_messages_.py
Due: none

Add missing widget-scoped session index (Round 2)
  bin-dbscheme-manager/bin-manager/main/versions/c9602a744cb3_webchat_widgets_sessions_messages_.py
Due: none

NOJIRA-Add-webchat-db-migrations (#1105)
  bin-dbscheme-manager/bin-manager/main/versions/c9602a744cb3_webchat_widgets_sessions_messages_.py
  bin-dbscheme-manager/docs/schema-ownership.md
Due: none

Add missing bin-direct-manager replace directive to voip-asterisk-proxy
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-voip-asterisk-proxy

Add CI/CD pipeline for bin-webchat-manager
  .circleci/config.yml
  .circleci/config_work.yml
  bin-webchat-manager/Dockerfile
Due: none

Add k8s deployment manifests for bin-webchat-manager
  bin-webchat-manager/k8s/deployment.yml
  bin-webchat-manager/k8s/kustomization.yml
  bin-webchat-manager/k8s/namespace.yml
  bin-webchat-manager/k8s/service.yml
Due: none

NOJIRA-Add-webchat-manager-cicd (#1107)
  .circleci/config.yml
  .circleci/config_work.yml
  bin-webchat-manager/Dockerfile
  bin-webchat-manager/k8s/deployment.yml
  bin-webchat-manager/k8s/kustomization.yml
  bin-webchat-manager/k8s/namespace.yml
  bin-webchat-manager/k8s/service.yml
Due: none

VOIP-1263-webchat-session-message-filters
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
  bin-api-manager/pkg/servicehandler/webchat_session.go
  bin-api-manager/pkg/servicehandler/webchat_session_test.go
  bin-api-manager/server/webchat_messages.go
  bin-api-manager/server/webchat_sessions.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/webchat_messages/main.yaml
  bin-openapi-manager/openapi/paths/webchat_sessions/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1263-webchat-session-message-filters (#1109)
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
  bin-api-manager/pkg/servicehandler/webchat_session.go
  bin-api-manager/pkg/servicehandler/webchat_session_test.go
  bin-api-manager/server/webchat_messages.go
  bin-api-manager/server/webchat_sessions.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/webchat_messages/main.yaml
  bin-openapi-manager/openapi/paths/webchat_sessions/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1264-webchat-widget-direct-hash-expose
  bin-webchat-manager/models/widget/webhook.go
Due: none

Add webchat widget realtime message list and session-end event
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
  bin-api-manager/pkg/subscribehandler/webhookmanager.go
  bin-api-manager/pkg/subscribehandler/webhookmanager_test.go
  bin-webchat-manager/cmd/webchat-manager/main.go
  bin-webchat-manager/models/session/event.go
  bin-webchat-manager/pkg/sessionhandler/db.go
  bin-webchat-manager/pkg/sessionhandler/db_test.go
  bin-webchat-manager/pkg/sessionhandler/main.go
  docs/plans/2026-07-17-webchat-widget-runtime-and-realtime-design.md
Due: run-bin-api-manager

Move commonWebhookData to models/webhook, drop per-resource fields
  bin-api-manager/models/webhook/common_data.go
  bin-api-manager/pkg/subscribehandler/webhookmanager.go
  bin-api-manager/pkg/subscribehandler/webhookmanager_test.go
Due: run-bin-api-manager

VOIP-1265-webchat-widget-runtime-and-realtime (#1111)
  bin-api-manager/models/webhook/common_data.go
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
  bin-api-manager/pkg/subscribehandler/webhookmanager.go
  bin-api-manager/pkg/subscribehandler/webhookmanager_test.go
  bin-webchat-manager/cmd/webchat-manager/main.go
  bin-webchat-manager/models/session/event.go
  bin-webchat-manager/pkg/sessionhandler/db.go
  bin-webchat-manager/pkg/sessionhandler/db_test.go
  bin-webchat-manager/pkg/sessionhandler/main.go
  docs/plans/2026-07-17-webchat-widget-runtime-and-realtime-design.md
Due: run-bin-api-manager

NOJIRA-webchat-session-message-flow-split
  docs/plans/2026-07-17-webchat-widget-session-message-flow-split-design.md
Due: none

Refresh conversation-manager doc extraction cache
  docs/.docs-gen/bin-conversation-manager.extracted.json
Due: none

Add PR-branch migration validation CI job
  .circleci/config_work.yml
  bin-dbscheme-manager/docs/migrations.md
  docs/plans/2026-07-18-dbscheme-pr-migration-validation-job-design.md
Due: none
