Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

VOIP-1085-Add_bridge_play (#225)
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-call-manager/models/ari/bridge_test.go
  bin-call-manager/models/ari/channel_test.go
  bin-call-manager/models/ari/playback.go
  bin-call-manager/models/ari/playback_test.go
  bin-call-manager/pkg/bridgehandler/main.go
  bin-call-manager/pkg/bridgehandler/mock_main.go
  bin-call-manager/pkg/bridgehandler/playback.go
  bin-call-manager/pkg/bridgehandler/playback_test.go
  bin-call-manager/pkg/channelhandler/playback.go
  bin-call-manager/pkg/channelhandler/playback_test.go
  bin-common-handler/pkg/requesthandler/ast_bridge.go
  bin-common-handler/pkg/requesthandler/ast_bridge_test.go
  bin-common-handler/pkg/requesthandler/ast_channel.go
  bin-common-handler/pkg/requesthandler/ast_channel_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-transcribe-manager/go.sum
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-bin-api-manager, run-bin-call-manager, run-bin-common-handler, run-bin-storage-manager, run-bin-transcribe-manager, run-bin-tts-manager, run-voip-asterisk-proxy

WIP
  bin-call-manager/pkg/arieventhandler/ari_playback.go
  bin-call-manager/pkg/externalmediahandler/main.go
  bin-call-manager/pkg/externalmediahandler/mock_main.go
  bin-call-manager/pkg/externalmediahandler/playback.go
  bin-call-manager/pkg/externalmediahandler/start.go
  bin-call-manager/pkg/externalmediahandler/start_test.go
Due: run-bin-call-manager

WIP
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/pkg/streaminghandler/start.go
  bin-transcribe-manager/pkg/transcribehandler/start.go
Due: run-bin-transcribe-manager

Fixed
  bin-call-manager/pkg/arieventhandler/ari_playback.go
  bin-call-manager/pkg/externalmediahandler/playback.go
Due: run-bin-call-manager

VOIP-1086-Fix_wrong_silence_play (#226)
  bin-call-manager/pkg/arieventhandler/ari_playback.go
  bin-call-manager/pkg/externalmediahandler/main.go
  bin-call-manager/pkg/externalmediahandler/mock_main.go
  bin-call-manager/pkg/externalmediahandler/playback.go
  bin-call-manager/pkg/externalmediahandler/start.go
  bin-call-manager/pkg/externalmediahandler/start_test.go
  bin-transcribe-manager/pkg/streaminghandler/start.go
  bin-transcribe-manager/pkg/transcribehandler/start.go
Due: run-bin-call-manager, run-bin-transcribe-manager

WIP
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
Due: none

WIP
  bin-tts-manager/pkg/streaminghandler/start.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/go.sum
  bin-tts-manager/pkg/streaminghandler/run.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/go.sum
  bin-tts-manager/models/streaming/streaming.go
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

Fixed
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

WIP
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-dbscheme-bin-manager/bin-manager/main/versions/6efdc5294d5e_ai_aicalls_add_tts_streaming.py
Due: run-bin-dbscheme-bin-manager

WIP
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
Due: run-bin-tts-manager

Fixed
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

VOIP-1082-Add_streaming_ai_talk_2 (#228)
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
  bin-dbscheme-bin-manager/bin-manager/main/versions/6efdc5294d5e_ai_aicalls_add_tts_streaming.py
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-dbscheme-bin-manager, run-bin-tts-manager

Fixed
  bin-common-handler/pkg/requesthandler/tts_streamings.go
  bin-tts-manager/pkg/streaminghandler/say.go
Due: run-bin-common-handler, run-bin-tts-manager

Fixed
  bin-tts-manager/go.sum
  bin-tts-manager/pkg/streaminghandler/say.go
Due: run-bin-tts-manager

Fixed
  bin-tts-manager/pkg/streaminghandler/say.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/engine_openai_handler/main.go
  bin-ai-manager/pkg/engine_openai_handler/mock_main.go
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/messagehandler/db_test.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/send_test.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
Due: none

WIP
  bin-tts-manager/pkg/streaminghandler/say.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/pkg/aicallhandler/chat.go
Due: none

WIP
  bin-tts-manager/pkg/listenhandler/main.go
  bin-tts-manager/pkg/listenhandler/v1_speeches.go
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
Due: none

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
Due: run-bin-tts-manager

Fixed
  bin-ai-manager/pkg/messagehandler/streaming_send.go
Due: none

Fixed
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
Due: none

VOIP-1089-Add_streaming_tts_say (#230)
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/engine_openai_handler/main.go
  bin-ai-manager/pkg/engine_openai_handler/mock_main.go
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/messagehandler/db_test.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/send_test.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  bin-tts-manager/pkg/listenhandler/main.go
  bin-tts-manager/pkg/listenhandler/v1_speeches.go
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/say.go
Due: run-bin-tts-manager
