Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

WIP
  bin-ai-manager/pkg/engine_openai_handler/main.go
Due: none

WIP
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
Due: none

WIP
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/engine_openai_handler/tool.go
Due: none

WIP
  bin-ai-manager/pkg/engine_openai_handler/main.go
  bin-ai-manager/pkg/engine_openai_handler/mock_main.go
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/engine_openai_handler/tool.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send_test.go
Due: none

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
Due: none

WIP
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/models/message/event.go
  bin-tts-manager/models/message/message.go
  bin-tts-manager/models/streaming/event.go
  bin-tts-manager/models/streaming/streaming.go
  bin-tts-manager/pkg/listenhandler/main.go
  bin-tts-manager/pkg/listenhandler/models/request/streamings.go
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/mock_main.go
  bin-tts-manager/pkg/streaminghandler/say.go
  bin-tts-manager/pkg/streaminghandler/say_test.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/pkg/listenhandler/main.go
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/models/message/main.go
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/pkg/engine_openai_handler/tool.go
Due: none

WIP
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/say.go
Due: run-bin-tts-manager

VOIP-1100-Add_tools (#242)
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/models/message/main.go
  bin-ai-manager/pkg/engine_openai_handler/main.go
  bin-ai-manager/pkg/engine_openai_handler/mock_main.go
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/engine_openai_handler/tool.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send_test.go
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  bin-tts-manager/models/message/event.go
  bin-tts-manager/models/message/message.go
  bin-tts-manager/models/streaming/event.go
  bin-tts-manager/models/streaming/streaming.go
  bin-tts-manager/pkg/listenhandler/main.go
  bin-tts-manager/pkg/listenhandler/models/request/streamings.go
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/mock_main.go
  bin-tts-manager/pkg/streaminghandler/say.go
  bin-tts-manager/pkg/streaminghandler/say_test.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/cachehandler/handler.go
  bin-ai-manager/pkg/cachehandler/main.go
  bin-ai-manager/pkg/cachehandler/mock_main.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/tts_manager.go
Due: none

WIP
  bin-ai-manager/pkg/subscribehandler/tts_manager.go
Due: none

WIP
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
Due: none

WIP
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-tts-manager/pkg/listenhandler/v1_streamings_test.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/cmd/ai-manager/main.go
Due: none

WIP
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send_test.go
Due: none

VOIP-1102-Add_tool_connect (#244)
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/cachehandler/handler.go
  bin-ai-manager/pkg/cachehandler/main.go
  bin-ai-manager/pkg/cachehandler/mock_main.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send_test.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/tts_manager.go
  bin-tts-manager/pkg/listenhandler/v1_streamings_test.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

Fixed
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/models/aicall/event.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-common-handler/pkg/requesthandler/ai_aicalls.go
  bin-common-handler/pkg/requesthandler/ai_aicalls_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

Fixed
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/dbhandler/aicall.go
Due: none

NOJIRA_Add_aicall_terminate (#245)
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/models/aicall/event.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-common-handler/pkg/requesthandler/ai_aicalls.go
  bin-common-handler/pkg/requesthandler/ai_aicalls_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

WIP
  bin-ai-manager/go.sum
  bin-ai-manager/models/aicall/event.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
Due: none

WIP
  bin-ai-manager/pkg/messagehandler/streaming_send.go
Due: none

WIP
  bin-tts-manager/pkg/streaminghandler/run.go
Due: run-bin-tts-manager
