Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Add-billing-control-cli
  bin-billing-manager/cmd/billing-control/main.go
  bin-billing-manager/go.mod
  bin-billing-manager/go.sum
Due: run-bin-billing-manager

NOJIRA-Add-billing-control-cli
  bin-billing-manager/CLAUDE.md
  bin-billing-manager/README.md
Due: run-bin-billing-manager

NOJIRA-Add-billing-control-cli (#367)
  bin-billing-manager/CLAUDE.md
  bin-billing-manager/README.md
  bin-billing-manager/cmd/billing-control/main.go
  docs/plans/2026-01-26-billing-control-cli-design.md
Due: run-bin-billing-manager

NOJIRA-Update-customer-control-json-output
  bin-customer-manager/CLAUDE.md
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/go.mod
  bin-customer-manager/go.sum
Due: run-bin-customer-manager

NOJIRA-Update-customer-control-json-output (#368)
  bin-customer-manager/CLAUDE.md
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/go.mod
  bin-customer-manager/go.sum
Due: run-bin-customer-manager

NOJIRA-Update-control-cli-json-output
  bin-agent-manager/CLAUDE.md
  bin-agent-manager/cmd/agent-control/main.go
  bin-agent-manager/go.mod
  bin-agent-manager/go.sum
  bin-number-manager/CLAUDE.md
  bin-number-manager/cmd/number-control/main.go
  bin-number-manager/go.mod
  bin-number-manager/go.sum
  bin-registrar-manager/CLAUDE.md
  bin-registrar-manager/cmd/registrar-control/main.go
  bin-registrar-manager/go.mod
  bin-registrar-manager/go.sum
Due: run-bin-agent-manager, run-bin-number-manager, run-bin-registrar-manager

NOJIRA-Update-control-cli-json-output (#369)
  bin-agent-manager/CLAUDE.md
  bin-agent-manager/cmd/agent-control/main.go
  bin-agent-manager/go.mod
  bin-agent-manager/go.sum
  bin-number-manager/CLAUDE.md
  bin-number-manager/cmd/number-control/main.go
  bin-number-manager/go.mod
  bin-number-manager/go.sum
  bin-registrar-manager/CLAUDE.md
  bin-registrar-manager/cmd/registrar-control/main.go
  bin-registrar-manager/go.mod
  bin-registrar-manager/go.sum
Due: run-bin-agent-manager, run-bin-number-manager, run-bin-registrar-manager

NOJIRA-Add-billing-control-cli
  bin-api-manager/cmd/api-control/main.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-chat-manager/internal/config/config_test.go
Due: run-bin-api-manager, run-bin-chat-manager

NOJIRA-Add-billing-control-cli
  bin-pipecat-manager/cmd/pipecat-control/main.go
Due: none

NOJIRA-Add-billing-control-cli
  bin-outdial-manager/cmd/outdial-manager/main.go
  bin-outdial-manager/internal/config/config.go
Due: run-bin-outdial-manager

NOJIRA-Add-billing-control-cli
  bin-chat-manager/internal/config/config.go
  bin-conference-manager/internal/config/config.go
  bin-conversation-manager/internal/config/config.go
  bin-email-manager/internal/config/config.go
  bin-message-manager/internal/config/config.go
  bin-storage-manager/internal/config/config.go
  bin-talk-manager/internal/config/config.go
Due: run-bin-chat-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-email-manager, run-bin-message-manager, run-bin-storage-manager

NOJIRA-Add-billing-control-cli
  bin-call-manager/cmd/call-control/main.go
  bin-campaign-manager/cmd/campaign-control/main.go
  bin-chat-manager/cmd/chat-control/main.go
  bin-conference-manager/cmd/conference-control/main.go
  bin-conversation-manager/cmd/conversation-control/main.go
  bin-email-manager/cmd/email-control/main.go
  bin-flow-manager/cmd/flow-control/main.go
  bin-message-manager/cmd/message-control/main.go
  bin-outdial-manager/cmd/outdial-control/main.go
  bin-pipecat-manager/cmd/pipecat-control/main.go
  bin-queue-manager/cmd/queue-control/main.go
  bin-storage-manager/cmd/storage-control/main.go
  bin-tag-manager/cmd/tag-control/main.go
  bin-talk-manager/cmd/talk-control/main.go
  bin-transcribe-manager/cmd/transcribe-control/main.go
  bin-webhook-manager/cmd/webhook-control/main.go
Due: run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-message-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-webhook-manager

NOJIRA-Add-billing-control-cli
  bin-ai-manager/cmd/ai-control/main.go
  bin-campaign-manager/cmd/campaign-control/main.go
  bin-conversation-manager/cmd/conversation-control/main.go
  bin-queue-manager/cmd/queue-control/main.go
  bin-transfer-manager/cmd/transfer-control/main.go
  bin-tts-manager/cmd/tts-control/main.go
Due: run-bin-campaign-manager, run-bin-conversation-manager, run-bin-queue-manager, run-bin-transfer-manager, run-bin-tts-manager

NOJIRA-Add-billing-control-cli
  bin-ai-manager/cmd/ai-control/main.go
  bin-queue-manager/cmd/queue-control/main.go
Due: run-bin-queue-manager

NOJIRA-Fix-config-binding-for-env-vars
  bin-ai-manager/internal/config/main.go
  bin-billing-manager/cmd/billing-manager/main.go
  bin-billing-manager/internal/config/main.go
  bin-email-manager/cmd/email-manager/main.go
  bin-email-manager/internal/config/config.go
  bin-message-manager/cmd/message-manager/main.go
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/internal/config/config.go
Due: run-bin-billing-manager, run-bin-email-manager, run-bin-message-manager

NOJIRA-Fix-config-binding-for-env-vars (#372)
  bin-ai-manager/internal/config/main.go
  bin-billing-manager/cmd/billing-manager/main.go
  bin-billing-manager/internal/config/main.go
  bin-email-manager/cmd/email-manager/main.go
  bin-email-manager/internal/config/config.go
  bin-message-manager/cmd/message-manager/main.go
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/internal/config/config.go
Due: run-bin-billing-manager, run-bin-email-manager, run-bin-message-manager

NOJIRA-Fix-rabbitmq-channel-leaks
  bin-common-handler/pkg/rabbitmqhandler/exchange.go
  bin-common-handler/pkg/rabbitmqhandler/main.go
  bin-common-handler/pkg/rabbitmqhandler/main_test.go
  bin-common-handler/pkg/rabbitmqhandler/mock_rabbitmqhandler.go
  bin-common-handler/pkg/rabbitmqhandler/queue.go
Due: run-bin-common-handler

NOJIRA-Fix-rabbitmq-channel-leaks
  bin-common-handler/pkg/databasehandler/convert.go
  bin-common-handler/pkg/databasehandler/convert_test.go
Due: run-bin-common-handler

NOJIRA-Fix-rabbitmq-channel-leaks
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-common-handler/pkg/rabbitmqhandler/main.go
  bin-common-handler/pkg/rabbitmqhandler/publish.go
  bin-common-handler/pkg/utilhandler/email.go
  bin-common-handler/pkg/utilhandler/email_test.go
Due: run-bin-common-handler

NOJIRA-Fix-rabbitmq-channel-leaks
  bin-common-handler/pkg/rabbitmqhandler/exchange.go
  bin-common-handler/pkg/rabbitmqhandler/main.go
  bin-common-handler/pkg/rabbitmqhandler/queue.go
Due: run-bin-common-handler

NOJIRA-Fix-rabbitmq-channel-leaks
  bin-common-handler/pkg/databasehandler/convert.go
  bin-common-handler/pkg/utilhandler/email.go
  bin-common-handler/pkg/utilhandler/string.go
  bin-common-handler/pkg/utilhandler/url.go
Due: run-bin-common-handler

NOJIRA-Fix-rabbitmq-channel-leaks
  bin-common-handler/pkg/utilhandler/filters.go
  bin-common-handler/pkg/utilhandler/filters_test.go
  bin-common-handler/pkg/utilhandler/hash.go
  bin-common-handler/pkg/utilhandler/hash_test.go
  bin-common-handler/pkg/utilhandler/main.go
  bin-common-handler/pkg/utilhandler/mock_main.go
  bin-common-handler/pkg/utilhandler/time.go
  bin-common-handler/pkg/utilhandler/time_test.go
Due: run-bin-common-handler

NOJIRA-Fix-rabbitmq-channel-leaks
  bin-api-manager/go.mod
  bin-api-manager/go.sum
Due: run-bin-api-manager

NOJIRA-Fix-rabbitmq-channel-leaks (#373)
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-common-handler/pkg/databasehandler/convert.go
  bin-common-handler/pkg/databasehandler/convert_test.go
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-common-handler/pkg/rabbitmqhandler/exchange.go
  bin-common-handler/pkg/rabbitmqhandler/main.go
  bin-common-handler/pkg/rabbitmqhandler/main_test.go
  bin-common-handler/pkg/rabbitmqhandler/mock_rabbitmqhandler.go
  bin-common-handler/pkg/rabbitmqhandler/publish.go
  bin-common-handler/pkg/rabbitmqhandler/queue.go
  bin-common-handler/pkg/utilhandler/email.go
  bin-common-handler/pkg/utilhandler/email_test.go
  bin-common-handler/pkg/utilhandler/filters.go
  bin-common-handler/pkg/utilhandler/filters_test.go
  bin-common-handler/pkg/utilhandler/hash.go
  bin-common-handler/pkg/utilhandler/hash_test.go
  bin-common-handler/pkg/utilhandler/main.go
  bin-common-handler/pkg/utilhandler/mock_main.go
  bin-common-handler/pkg/utilhandler/string.go
  bin-common-handler/pkg/utilhandler/time.go
  bin-common-handler/pkg/utilhandler/time_test.go
  bin-common-handler/pkg/utilhandler/url.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Add-accesskey-customer-control
  docs/plans/2026-01-30-accesskey-customer-control-design.md
Due: none

NOJIRA-Add-accesskey-customer-control
  bin-customer-manager/cmd/customer-control/main.go
Due: run-bin-customer-manager

NOJIRA-Add-accesskey-customer-control
  bin-customer-manager/CLAUDE.md
Due: run-bin-customer-manager

Fixed
  bin-storage-manager/CLAUDE.md
  docs/service-dependency-graph.md
Due: run-bin-storage-manager

NOJIRA-Add-accesskey-customer-control (#375)
  bin-customer-manager/CLAUDE.md
  bin-customer-manager/cmd/customer-control/main.go
  bin-storage-manager/CLAUDE.md
  docs/plans/2026-01-30-accesskey-customer-control-design.md
  docs/service-dependency-graph.md
Due: run-bin-customer-manager, run-bin-storage-manager

NOJIRA-Add-discord-merge-notification
  .github/workflows/discord-merge-notify.yml
Due: none

NOJIRA-Add-discord-merge-notification (#377)
  .github/workflows/discord-merge-notify.yml
Due: none

NOJIRA-Add-pr-body-to-discord-notification
  .github/workflows/discord-merge-notify.yml
Due: none

NOJIRA-Add-pr-body-to-discord-notification (#378)
  .github/workflows/discord-merge-notify.yml
Due: none
