Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Add-ai-prompt-history
  bin-ai-manager/pkg/dbhandler/aiprompthistory.go
  bin-ai-manager/pkg/dbhandler/aiprompthistory_test.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_ai_prompt_histories.sql
Due: none

NOJIRA-Add-ai-prompt-history
  bin-ai-manager/go.mod
  bin-ai-manager/pkg/aiprompthistoryhandler/chatbot.go
  bin-ai-manager/pkg/aiprompthistoryhandler/main.go
  bin-ai-manager/pkg/aiprompthistoryhandler/main_test.go
  bin-ai-manager/pkg/aiprompthistoryhandler/mock_main.go
Due: none

NOJIRA-Add-ai-prompt-history
  bin-ai-manager/pkg/aihandler/chatbot.go
  bin-ai-manager/pkg/aihandler/chatbot_test.go
  bin-ai-manager/pkg/aihandler/db_test.go
Due: none

NOJIRA-Add-ai-prompt-history
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/v1_ai_prompt_histories.go
  bin-ai-manager/pkg/listenhandler/v1_ai_prompt_histories_test.go
Due: none

NOJIRA-Add-ai-prompt-history
  bin-common-handler/pkg/requesthandler/ai_ai_prompt_histories.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

NOJIRA-Add-ai-prompt-history
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/ais/id_prompt_histories.yaml
  bin-openapi-manager/openapi/paths/ais/id_prompt_histories_id.yaml
Due: run-bin-openapi-manager

NOJIRA-Add-ai-prompt-history
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-openapi-manager

NOJIRA-Add-ai-prompt-history
  bin-api-manager/pkg/servicehandler/aiprompthistory.go
  bin-api-manager/pkg/servicehandler/aiprompthistory_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
Due: run-bin-api-manager

NOJIRA-Add-ai-prompt-history
  bin-ai-manager/docs/architecture.md
  bin-ai-manager/docs/domain.md
Due: none

NOJIRA-Add-ai-prompt-history
  bin-ai-manager/pkg/aihandler/db.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/v1_ai_prompt_histories.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_ai_prompt_histories.sql
  bin-api-manager/pkg/servicehandler/aiprompthistory_test.go
Due: run-bin-api-manager

NOJIRA-Add-ai-prompt-history
  bin-dbscheme-manager/bin-manager/main/versions/ece6ccf25201_add_ai_ai_prompt_histories.py
Due: none

NOJIRA-Add-ai-prompt-history
  bin-ai-manager/pkg/aiprompthistoryhandler/main_test.go
  bin-api-manager/pkg/servicehandler/aiprompthistory_test.go
Due: run-bin-api-manager

NOJIRA-Add-ai-prompt-history
  bin-api-manager/pkg/servicehandler/main.go
Due: run-bin-api-manager

NOJIRA-Fix-ai-prompt-history-migration
  bin-ai-manager/scripts/database_scripts_test/table_ai_ai_prompt_histories.sql
  bin-dbscheme-manager/bin-manager/main/versions/ece6ccf25201_add_ai_ai_prompt_histories.py
Due: none

NOJIRA-Fix-ai-prompt-history-migration (#936)
  bin-ai-manager/scripts/database_scripts_test/table_ai_ai_prompt_histories.sql
  bin-dbscheme-manager/bin-manager/main/versions/ece6ccf25201_add_ai_ai_prompt_histories.py
Due: none

NOJIRA-Add-aicall-participants-api
  docs/plans/2026-05-22-aicall-participants-api-design.md
Due: none

NOJIRA-Add-aicall-participants-api
  bin-ai-manager/docs/domain.md
  bin-ai-manager/models/participant/participant.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/dbhandler/participant.go
  bin-ai-manager/pkg/dbhandler/participant_test.go
Due: none

NOJIRA-Add-aicall-participants-api
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/paths/aicalls/id_participants.yaml
  bin-openapi-manager/openapi/paths/ais/id_participants.yaml
Due: run-bin-openapi-manager

NOJIRA-Add-aicall-participants-api
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/aicalls/id_participants.yaml
  bin-openapi-manager/openapi/paths/ais/id_participants.yaml
Due: run-bin-openapi-manager

NOJIRA-Add-aicall-participants-api
  bin-ai-manager/pkg/participanthandler/db.go
  bin-ai-manager/pkg/participanthandler/main.go
  bin-ai-manager/pkg/participanthandler/main_test.go
  bin-ai-manager/pkg/participanthandler/mock_main.go
Due: none

NOJIRA-Add-aicall-participants-api
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/docs/architecture.md
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/pkg/listenhandler/v1_ais_test.go
  bin-ai-manager/pkg/listenhandler/v1_participants.go
Due: none

NOJIRA-Add-aicall-participants-api
  bin-common-handler/pkg/requesthandler/ai_participants.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

NOJIRA-Add-aicall-participants-api
  bin-api-manager/pkg/servicehandler/ai_participants.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/aicalls.go
  bin-api-manager/server/ais.go
Due: run-bin-api-manager

NOJIRA-Add-aicall-participants-api
  bin-api-manager/pkg/servicehandler/ai_participants.go
  bin-api-manager/pkg/servicehandler/ai_participants_test.go
Due: run-bin-api-manager

NOJIRA-Add-aicall-participants-api
  bin-ai-manager/pkg/listenhandler/v1_participants.go
  bin-api-manager/pkg/servicehandler/ai_participants.go
  bin-api-manager/pkg/servicehandler/ai_participants_test.go
Due: run-bin-api-manager

NOJIRA-Add-aicall-participants-api
  bin-api-manager/pkg/servicehandler/ai_participants_test.go
Due: run-bin-api-manager

NOJIRA-Add-active-ai-id-to-openapi
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  docs/plans/2026-05-23-active-ai-id-openapi-design.md
Due: run-bin-openapi-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
