Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Update_pipecat_dependencies_security_fixes
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/uv.lock
Due: none

NOJIRA-Update_pipecat_dependencies_security_fixes (#361)
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/uv.lock
Due: none

NOJIRA-Add_project_domain_config_to_common_handler
  bin-call-manager/k8s/deployment.yml
  bin-call-manager/models/common/domain.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/recordinghandler/main.go
  bin-common-handler/pkg/projectconfig/main.go
  bin-common-handler/pkg/projectconfig/main_test.go
Due: run-bin-call-manager, run-bin-common-handler

NOJIRA-Add_project_domain_config_to_common_handler (#362)
  bin-call-manager/k8s/deployment.yml
  bin-call-manager/models/common/domain.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/recordinghandler/main.go
  bin-common-handler/pkg/projectconfig/main.go
  bin-common-handler/pkg/projectconfig/main_test.go
Due: run-bin-call-manager, run-bin-common-handler

NOJIRA-Add_listenhandler_test_coverage
  bin-call-manager/docs/plans/2026-01-24-listenhandler-test-coverage-design.md
Due: run-bin-call-manager

NOJIRA-Add_listenhandler_test_coverage
  bin-call-manager/pkg/listenhandler/main_test.go
  bin-call-manager/pkg/listenhandler/v1_calls_test.go
  bin-call-manager/pkg/listenhandler/v1_confbridge_test.go
Due: run-bin-call-manager

NOJIRA-Add_listenhandler_test_coverage (#363)
  bin-call-manager/docs/plans/2026-01-24-listenhandler-test-coverage-design.md
  bin-call-manager/pkg/listenhandler/main_test.go
  bin-call-manager/pkg/listenhandler/v1_calls_test.go
  bin-call-manager/pkg/listenhandler/v1_confbridge_test.go
Due: run-bin-call-manager

NOJIRA-Add_auth_login_openapi_spec
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/auth.go
  bin-api-manager/server/auth_test.go
  bin-call-manager/docs/plans/2026-01-24-auth-login-openapi-design.md
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/auth/login.yaml
Due: run-bin-api-manager, run-bin-call-manager, run-bin-openapi-manager

NOJIRA-Add_auth_login_openapi_spec (#364)
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/auth.go
  bin-api-manager/server/auth_test.go
  bin-call-manager/docs/plans/2026-01-24-auth-login-openapi-design.md
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/auth/login.yaml
Due: run-bin-api-manager, run-bin-call-manager, run-bin-openapi-manager

NOJIRA-Add-quick-win-documentation-and-openapi-ci
  .circleci/config_work.yml
  docs/claude-md-template.md
  docs/database-patterns-checklist.md
  docs/error-handling-patterns.md
  docs/rabbitmq-queues-reference.md
  docs/test-utilities-guide.md
Due: none

NOJIRA-Add-quick-win-documentation-and-openapi-ci (#365)
  .circleci/config_work.yml
  docs/claude-md-template.md
  docs/database-patterns-checklist.md
  docs/error-handling-patterns.md
  docs/rabbitmq-queues-reference.md
  docs/test-utilities-guide.md
Due: none

NOJIRA-Fix-devdocs-p0-issues
  bin-api-manager/docsdev/source/activeflow_overview.rst
  bin-api-manager/docsdev/source/activeflow_tutorial.rst
  bin-api-manager/docsdev/source/call_overview.rst
  bin-api-manager/docsdev/source/call_struct_call.rst
  bin-api-manager/docsdev/source/call_struct_groupcall.rst
  bin-api-manager/docsdev/source/campaign_struct_campaigncall.rst
  bin-api-manager/docsdev/source/campaign_tutorial.rst
  bin-api-manager/docsdev/source/extension_overview.rst
  bin-api-manager/docsdev/source/flow_struct_flow.rst
  bin-api-manager/docsdev/source/flow_tutorial_scenario.rst
  bin-api-manager/docsdev/source/message_struct_message.rst
  bin-api-manager/docsdev/source/outplan_struct_outplan.rst
  bin-api-manager/docsdev/source/queue_tutorial.rst
  bin-api-manager/docsdev/source/quickstart_call.rst
  bin-api-manager/docsdev/source/quickstart_signup.rst
  bin-api-manager/docsdev/source/transcribe_overview.rst
  bin-api-manager/docsdev/source/trunk_overview_domain_name.rst
  bin-api-manager/docsdev/source/webhook_struct_webhook.rst
  bin-api-manager/docsdev/source/websocket_overview.rst
  docs/service-dependency-graph.md
Due: run-bin-api-manager

NOJIRA-Fix-devdocs-p0-issues (#366)
  bin-api-manager/docsdev/source/activeflow_overview.rst
  bin-api-manager/docsdev/source/activeflow_tutorial.rst
  bin-api-manager/docsdev/source/call_overview.rst
  bin-api-manager/docsdev/source/call_struct_call.rst
  bin-api-manager/docsdev/source/call_struct_groupcall.rst
  bin-api-manager/docsdev/source/campaign_struct_campaigncall.rst
  bin-api-manager/docsdev/source/campaign_tutorial.rst
  bin-api-manager/docsdev/source/extension_overview.rst
  bin-api-manager/docsdev/source/flow_struct_flow.rst
  bin-api-manager/docsdev/source/flow_tutorial_scenario.rst
  bin-api-manager/docsdev/source/message_struct_message.rst
  bin-api-manager/docsdev/source/outplan_struct_outplan.rst
  bin-api-manager/docsdev/source/queue_tutorial.rst
  bin-api-manager/docsdev/source/quickstart_call.rst
  bin-api-manager/docsdev/source/quickstart_signup.rst
  bin-api-manager/docsdev/source/transcribe_overview.rst
  bin-api-manager/docsdev/source/trunk_overview_domain_name.rst
  bin-api-manager/docsdev/source/webhook_struct_webhook.rst
  bin-api-manager/docsdev/source/websocket_overview.rst
  docs/service-dependency-graph.md
Due: run-bin-api-manager

NOJIRA-Add-deep-dive-architecture-documentation
  bin-api-manager/docsdev/source/architecture.rst
  bin-api-manager/docsdev/source/architecture_dataflow.rst
  bin-api-manager/docsdev/source/architecture_deployment.rst
  bin-api-manager/docsdev/source/architecture_security.rst
  bin-api-manager/docsdev/source/architecture_sequences.rst
Due: run-bin-api-manager

NOJIRA-Add-deep-dive-call-documentation
  bin-api-manager/docsdev/source/call.rst
  bin-api-manager/docsdev/source/call_media.rst
  bin-api-manager/docsdev/source/call_scenarios.rst
  bin-api-manager/docsdev/source/call_sequences.rst
  bin-api-manager/docsdev/source/call_troubleshooting.rst
Due: run-bin-api-manager

NOJIRA-Add-deep-dive-flow-documentation
  bin-api-manager/docsdev/source/flow.rst
  bin-api-manager/docsdev/source/flow_advanced_patterns.rst
  bin-api-manager/docsdev/source/flow_best_practices.rst
  bin-api-manager/docsdev/source/flow_debugging.rst
  bin-api-manager/docsdev/source/flow_execution_internals.rst
Due: run-bin-api-manager

NOJIRA-Reorganize-devdocs-structure
  bin-api-manager/docsdev/build/doctrees/environment.pickle
Due: run-bin-api-manager

NOJIRA-Reorganize-devdocs-structure
  bin-api-manager/docsdev/build/doctrees/activeflow_struct_activeflow.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/flow.doctree
  bin-api-manager/docsdev/build/doctrees/flow_struct_action.doctree
  bin-api-manager/docsdev/build/doctrees/flow_tutorial_scenario.doctree
  bin-api-manager/docsdev/build/html/_sources/activeflow_struct_activeflow.rst.txt
  bin-api-manager/docsdev/build/html/_sources/flow_struct_action.rst.txt
  bin-api-manager/docsdev/build/html/_sources/flow_tutorial_scenario.rst.txt
  bin-api-manager/docsdev/build/html/activeflow_struct_activeflow.html
  bin-api-manager/docsdev/build/html/flow.html
  bin-api-manager/docsdev/build/html/flow_struct_action.html
  bin-api-manager/docsdev/build/html/flow_tutorial_scenario.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/activeflow_struct_activeflow.rst
  bin-api-manager/docsdev/source/flow_struct_action.rst
  bin-api-manager/docsdev/source/flow_tutorial_scenario.rst
Due: run-bin-api-manager

NOJIRA-Reorganize-devdocs-structure
  bin-api-manager/docsdev/build/doctrees/common.doctree
  bin-api-manager/docsdev/build/doctrees/common_struct_address.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/variable.doctree
  bin-api-manager/docsdev/build/doctrees/variable_variable.doctree
  bin-api-manager/docsdev/build/doctrees/webhook.doctree
  bin-api-manager/docsdev/build/doctrees/webhook_struct_webhook.doctree
  bin-api-manager/docsdev/build/html/_sources/common_struct_address.rst.txt
  bin-api-manager/docsdev/build/html/_sources/variable_variable.rst.txt
  bin-api-manager/docsdev/build/html/_sources/webhook_struct_webhook.rst.txt
  bin-api-manager/docsdev/build/html/common.html
  bin-api-manager/docsdev/build/html/common_struct_address.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/variable.html
  bin-api-manager/docsdev/build/html/variable_variable.html
  bin-api-manager/docsdev/build/html/webhook.html
  bin-api-manager/docsdev/build/html/webhook_struct_webhook.html
  bin-api-manager/docsdev/source/common_struct_address.rst
  bin-api-manager/docsdev/source/variable_variable.rst
  bin-api-manager/docsdev/source/webhook_struct_webhook.rst
Due: run-bin-api-manager

NOJIRA-Reorganize-devdocs-structure
  bin-api-manager/docsdev/build/doctrees/activeflow_struct_activeflow.doctree
  bin-api-manager/docsdev/build/doctrees/common.doctree
  bin-api-manager/docsdev/build/doctrees/common_overview.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/flow.doctree
  bin-api-manager/docsdev/build/doctrees/flow_overview.doctree
  bin-api-manager/docsdev/build/doctrees/variable.doctree
  bin-api-manager/docsdev/build/doctrees/variable_variable.doctree
  bin-api-manager/docsdev/build/doctrees/webhook.doctree
  bin-api-manager/docsdev/build/doctrees/webhook_tutorial.doctree
  bin-api-manager/docsdev/build/html/_sources/activeflow_struct_activeflow.rst.txt
  bin-api-manager/docsdev/build/html/_sources/common_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/flow_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/variable_variable.rst.txt
  bin-api-manager/docsdev/build/html/_sources/webhook_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/activeflow_struct_activeflow.html
  bin-api-manager/docsdev/build/html/common.html
  bin-api-manager/docsdev/build/html/common_overview.html
  bin-api-manager/docsdev/build/html/flow.html
  bin-api-manager/docsdev/build/html/flow_overview.html
  bin-api-manager/docsdev/build/html/index.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/variable.html
  bin-api-manager/docsdev/build/html/variable_variable.html
  bin-api-manager/docsdev/build/html/webhook.html
  bin-api-manager/docsdev/build/html/webhook_tutorial.html
  bin-api-manager/docsdev/source/activeflow_struct_activeflow.rst
  bin-api-manager/docsdev/source/common_overview.rst
  bin-api-manager/docsdev/source/flow_overview.rst
  bin-api-manager/docsdev/source/variable_variable.rst
  bin-api-manager/docsdev/source/webhook_tutorial.rst
Due: run-bin-api-manager

NOJIRA-Add-billing-control-cli
  docs/plans/2026-01-26-billing-control-cli-design.md
Due: none

NOJIRA-Add-billing-control-cli
  bin-billing-manager/cmd/billing-control/main.go
  bin-billing-manager/go.mod
  bin-billing-manager/go.sum
Due: run-bin-billing-manager

NOJIRA-Add-billing-control-cli
  bin-billing-manager/cmd/billing-control/main.go
  docs/plans/2026-01-26-billing-control-cli-design.md
Due: run-bin-billing-manager

NOJIRA-Add-billing-control-cli
  bin-billing-manager/CLAUDE.md
  bin-billing-manager/README.md
Due: run-bin-billing-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
