Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-AI-native-openapi-spec-update
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-AI-native-openapi-spec-update
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-upgrade-asterisk-to-23.2.2
  bin-dbscheme-manager/asterisk_config/config/versions/bb6d54e22913_add_follow_redirect_methods_to_ps_.py
  bin-dbscheme-manager/asterisk_config/config/versions/dc7c357dc178_add_taskpool_options_to_system.py
Due: none

NOJIRA-upgrade-asterisk-to-23.2.2 (#536)
  bin-dbscheme-manager/asterisk_config/config/versions/bb6d54e22913_add_follow_redirect_methods_to_ps_.py
  bin-dbscheme-manager/asterisk_config/config/versions/dc7c357dc178_add_taskpool_options_to_system.py
Due: none

NOJIRA-Fix-gcp-streaming-tts-encoding
  bin-tts-manager/k8s/deployment.yml
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/gcp.go
  bin-tts-manager/pkg/streaminghandler/gcp_test.go
Due: run-bin-tts-manager

NOJIRA-Add-guest-customer-delete-protection
  bin-customer-manager/models/customer/customer.go
  bin-customer-manager/pkg/customerhandler/customer.go
  bin-customer-manager/pkg/customerhandler/customer_test.go
Due: run-bin-customer-manager

NOJIRA-Fix-streaming-metrics-and-add-provider-tests
  bin-tts-manager/k8s/deployment.yml
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/aws.go
  bin-tts-manager/pkg/streaminghandler/aws_test.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs_test.go
  bin-tts-manager/pkg/streaminghandler/gcp.go
  bin-tts-manager/pkg/streaminghandler/gcp_test.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-tts-manager

NOJIRA-Add-guest-customer-delete-protection (#538)
  bin-customer-manager/models/customer/customer.go
  bin-customer-manager/pkg/customerhandler/customer.go
  bin-customer-manager/pkg/customerhandler/customer_test.go
Due: run-bin-customer-manager

NOJIRA-Fix-streaming-metrics-and-add-provider-tests
  bin-tts-manager/pkg/streaminghandler/gcp.go
  bin-tts-manager/pkg/streaminghandler/gcp_test.go
Due: run-bin-tts-manager

NOJIRA-Fix-streaming-metrics-and-add-provider-tests
  bin-tts-manager/pkg/streaminghandler/gcp.go
Due: run-bin-tts-manager

NOJIRA-SMS-credit-only-billing
  bin-billing-manager/models/billing/billing_test.go
  bin-billing-manager/models/billing/cost_type.go
  bin-billing-manager/models/billing/cost_type_test.go
  bin-billing-manager/pkg/accounthandler/balance.go
  bin-billing-manager/pkg/accounthandler/balance_test.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/dbhandler/deduction_test.go
Due: run-bin-billing-manager

NOJIRA-SMS-credit-only-billing (#539)
  bin-billing-manager/models/billing/billing_test.go
  bin-billing-manager/models/billing/cost_type.go
  bin-billing-manager/models/billing/cost_type_test.go
  bin-billing-manager/pkg/accounthandler/balance.go
  bin-billing-manager/pkg/accounthandler/balance_test.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/dbhandler/deduction_test.go
Due: run-bin-billing-manager

NOJIRA-Fix-streaming-metrics-and-add-provider-tests
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/aws.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs_test.go
  bin-tts-manager/pkg/streaminghandler/gcp.go
  bin-tts-manager/pkg/streaminghandler/gcp_test.go
  bin-tts-manager/pkg/streaminghandler/main.go
Due: run-bin-tts-manager

NOJIRA-Fix-streaming-metrics-and-add-provider-tests
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/gcp.go
  bin-tts-manager/pkg/streaminghandler/gcp_test.go
Due: run-bin-tts-manager

NOJIRA-rabbitmq-health-check
  bin-common-handler/pkg/rabbitmqhandler/main.go
  bin-common-handler/pkg/rabbitmqhandler/main_test.go
Due: run-bin-common-handler

NOJIRA-Fix-streaming-metrics-and-add-provider-tests
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
Due: run-bin-tts-manager

NOJIRA-rabbitmq-health-check
  bin-common-handler/pkg/rabbitmqhandler/main.go
Due: run-bin-common-handler

NOJIRA-Fix-streaming-metrics-and-add-provider-tests
  bin-tts-manager/k8s/deployment.yml
Due: run-bin-tts-manager

NOJIRA-Fix-streaming-metrics-and-add-provider-tests
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/gcp.go
Due: run-bin-tts-manager

NOJIRA-add-transport-data-external-media
  docs/plans/2026-02-19-add-transport-data-external-media-design.md
Due: none

NOJIRA-add-transport-data-external-media
  docs/plans/2026-02-19-add-transport-data-external-media-plan.md
Due: none

NOJIRA-add-transport-data-external-media
  bin-call-manager/models/externalmedia/field.go
  bin-call-manager/models/externalmedia/main.go
Due: run-bin-call-manager

NOJIRA-add-transport-data-external-media
  bin-call-manager/pkg/listenhandler/models/request/calls.go
  bin-call-manager/pkg/listenhandler/models/request/confbridge.go
  bin-call-manager/pkg/listenhandler/models/request/externalmedias.go
Due: run-bin-call-manager

NOJIRA-add-transport-data-external-media
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-flow-manager/models/action/option.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-flow-manager, run-bin-openapi-manager

NOJIRA-add-transport-data-external-media
  bin-common-handler/pkg/requesthandler/ast_channel.go
  bin-common-handler/pkg/requesthandler/ast_channel_test.go
  bin-common-handler/pkg/requesthandler/call_calls.go
  bin-common-handler/pkg/requesthandler/call_calls_test.go
  bin-common-handler/pkg/requesthandler/call_confbridge.go
  bin-common-handler/pkg/requesthandler/call_confbridge_test.go
  bin-common-handler/pkg/requesthandler/call_externalmedias.go
  bin-common-handler/pkg/requesthandler/call_externalmedias_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

NOJIRA-add-transport-data-external-media
  bin-call-manager/pkg/callhandler/action.go
  bin-call-manager/pkg/callhandler/action_test.go
  bin-call-manager/pkg/callhandler/external_media.go
  bin-call-manager/pkg/callhandler/external_media_test.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/mock_main.go
  bin-call-manager/pkg/channelhandler/main.go
  bin-call-manager/pkg/channelhandler/mock_main.go
  bin-call-manager/pkg/channelhandler/start.go
  bin-call-manager/pkg/channelhandler/start_test.go
  bin-call-manager/pkg/confbridgehandler/external_media.go
  bin-call-manager/pkg/confbridgehandler/external_media_test.go
  bin-call-manager/pkg/confbridgehandler/main.go
  bin-call-manager/pkg/confbridgehandler/mock_main.go
  bin-call-manager/pkg/externalmediahandler/db.go
  bin-call-manager/pkg/externalmediahandler/db_test.go
  bin-call-manager/pkg/externalmediahandler/main.go
  bin-call-manager/pkg/externalmediahandler/mock_main.go
  bin-call-manager/pkg/externalmediahandler/start.go
  bin-call-manager/pkg/externalmediahandler/start_test.go
  bin-call-manager/pkg/listenhandler/v1_calls.go
  bin-call-manager/pkg/listenhandler/v1_calls_test.go
  bin-call-manager/pkg/listenhandler/v1_confbridge_test.go
  bin-call-manager/pkg/listenhandler/v1_confbridges.go
  bin-call-manager/pkg/listenhandler/v1_external_medias.go
  bin-call-manager/pkg/listenhandler/v1_external_medias_test.go
Due: run-bin-call-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
