Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

WIP
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/conversationhandler/event.go
  bin-conversation-manager/pkg/conversationhandler/event_test.go
  bin-conversation-manager/pkg/conversationhandler/hook.go
  bin-conversation-manager/pkg/conversationhandler/hook_test.go
  bin-conversation-manager/pkg/dbhandler/account_test.go
  bin-conversation-manager/pkg/dbhandler/main.go
  bin-conversation-manager/pkg/dbhandler/mock_main.go
  bin-conversation-manager/pkg/linehandler/hook.go
  bin-conversation-manager/pkg/linehandler/hook_test.go
  bin-conversation-manager/pkg/smshandler/event.go
  bin-conversation-manager/pkg/smshandler/event_test.go
  bin-conversation-manager/scripts/database_scripts_test/table_conversation_messages.sql
  bin-dbscheme-bin-manager/bin-manager/main/versions/d725742f35da_conversation_messages_update_columns_.py
Due: run-bin-conversation-manager, run-bin-dbscheme-bin-manager

Fixed
  bin-dbscheme-bin-manager/bin-manager/main/versions/d725742f35da_conversation_messages_update_columns_.py
Due: run-bin-dbscheme-bin-manager

Fixed
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-conversation-manager/pkg/linehandler/hook.go
  bin-hook-manager/go.mod
  bin-hook-manager/go.sum
Due: run-bin-api-manager, run-bin-conversation-manager, run-bin-hook-manager

Fixed
  bin-message-manager/pkg/messagehandler/hook.go
Due: run-bin-message-manager

WIP
  bin-conversation-manager/pkg/conversationhandler/event.go
Due: run-bin-conversation-manager

WIP
  bin-conversation-manager/pkg/dbhandler/conversation.go
Due: run-bin-conversation-manager

NOJIRA-Fix_message_manager_panic (#193)
  bin-conversation-manager/pkg/conversationhandler/event.go
  bin-conversation-manager/pkg/dbhandler/conversation.go
  bin-message-manager/pkg/messagehandler/hook.go
Due: run-bin-conversation-manager, run-bin-message-manager

Fixed
  bin-conference-manager/scripts/database_scripts_test/table_conferences.sql
  bin-dbscheme-bin-manager/bin-manager/main/versions/268e0c57e1ec_conference_conferences_change_columns_.py
Due: run-bin-conference-manager, run-bin-dbscheme-bin-manager

Fixed
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar_test.go
  bin-call-manager/pkg/callhandler/start_test.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar.go
Due: run-bin-call-manager

NOJIRA-Fix_small_things (#195)
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar.go
Due: run-bin-call-manager

Fixed
  .circleci/config_work.yml
Due: none

WIP
  bin-conversation-manager/pkg/listenhandler/v1_conversations.go
Due: run-bin-conversation-manager

WIP
  bin-conversation-manager/go.mod
  bin-conversation-manager/go.sum
  bin-conversation-manager/pkg/dbhandler/conversation.go
  bin-conversation-manager/pkg/dbhandler/conversation_test.go
  bin-conversation-manager/pkg/dbhandler/main.go
Due: run-bin-conversation-manager

Fixed
  .circleci/config.yml
Due: none

NOJIRA-Fix_circleci_run (#198)
  .circleci/config.yml
Due: none

WIP
  bin-conversation-manager/go.mod
  bin-conversation-manager/go.sum
  bin-conversation-manager/pkg/conversationhandler/event.go
  bin-conversation-manager/pkg/conversationhandler/event_test.go
  bin-conversation-manager/pkg/conversationhandler/message.go
Due: run-bin-conversation-manager

WIP
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/conversationhandler/message.go
Due: run-bin-conversation-manager

Fixed
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/conversationhandler/etc.go
  bin-conversation-manager/pkg/conversationhandler/event_test.go
  bin-conversation-manager/pkg/conversationhandler/main.go
  bin-conversation-manager/pkg/conversationhandler/message.go
  bin-conversation-manager/pkg/conversationhandler/variable.go
  bin-message-manager/pkg/messagehandler/hook.go
  bin-message-manager/pkg/messagehandler/hook_test.go
Due: run-bin-conversation-manager, run-bin-message-manager

Fixed
  bin-message-manager/go.mod
  bin-message-manager/go.sum
Due: run-bin-message-manager

Fixed
  bin-conversation-manager/go.mod
  bin-conversation-manager/go.sum
Due: run-bin-conversation-manager

Fixed
  bin-message-manager/pkg/messagehandler/main.go
  bin-message-manager/pkg/messagehandler/variable.go
Due: run-bin-message-manager

Fixed
  bin-conversation-manager/pkg/conversationhandler/event.go
  bin-conversation-manager/pkg/conversationhandler/message.go
Due: run-bin-conversation-manager

Fixed
  bin-conversation-manager/go.sum
  bin-conversation-manager/pkg/conversationhandler/message.go
Due: run-bin-conversation-manager

VOIP-1048-Add_conversation_activeflow_triger (#199)
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-conversation-manager/go.mod
  bin-conversation-manager/go.sum
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/conversationhandler/etc.go
  bin-conversation-manager/pkg/conversationhandler/event.go
  bin-conversation-manager/pkg/conversationhandler/event_test.go
  bin-conversation-manager/pkg/conversationhandler/main.go
  bin-conversation-manager/pkg/conversationhandler/message.go
  bin-conversation-manager/pkg/conversationhandler/variable.go
  bin-message-manager/go.mod
  bin-message-manager/go.sum
  bin-message-manager/pkg/messagehandler/hook.go
  bin-message-manager/pkg/messagehandler/hook_test.go
  bin-message-manager/pkg/messagehandler/main.go
  bin-message-manager/pkg/messagehandler/variable.go
Due: run-bin-conversation-manager, run-bin-message-manager
