Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

WIP
  bin-call-manager/pkg/callhandler/recovery.go
  bin-sentinel-manager/go.sum
Due: run-bin-call-manager

WIP
  bin-call-manager/go.sum
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/channelhandler/main.go
  bin-call-manager/pkg/channelhandler/mock_main.go
  bin-call-manager/pkg/dbhandler/channel.go
  bin-call-manager/pkg/dbhandler/channel_test.go
  bin-call-manager/pkg/dbhandler/main.go
  bin-call-manager/pkg/dbhandler/mock_main.go
  bin-call-manager/scripts/database_scripts_test/table_channels.sql
  bin-dbscheme-bin-manager/bin-manager/main/versions/6c88940e2936_call_channels_add_idx_asterisk_id.py
Due: run-bin-call-manager, run-bin-dbscheme-bin-manager

WIP
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/channelhandler/db_test.go
  bin-call-manager/pkg/channelhandler/main.go
  bin-call-manager/pkg/channelhandler/mock_main.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/channelhandler/db.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/channelhandler/arievent_test.go
  bin-call-manager/pkg/channelhandler/db.go
Due: run-bin-call-manager

WIP
  .circleci/config_work.yml
  bin-call-manager/cmd/call-manager/init.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/k8s/deployment.yml
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/callhandler/recoveryhandler.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/callhandler/recoveryhandler.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer_test.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recovery_test.go
  bin-call-manager/pkg/callhandler/recoveryhandler.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/callhandler/start.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/dbhandler/call.go
  bin-call-manager/pkg/dbhandler/main.go
  bin-call-manager/pkg/dbhandler/mock_main.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/pkg/callhandler/recoveryhandler.go
Due: run-bin-call-manager

NOJIRA-Fix_call_recovery (#213)
  .circleci/config_work.yml
  bin-call-manager/cmd/call-manager/init.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/go.sum
  bin-call-manager/k8s/deployment.yml
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recovery_test.go
  bin-call-manager/pkg/callhandler/recoveryhandler.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/channelhandler/arievent_test.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/channelhandler/db_test.go
  bin-call-manager/pkg/channelhandler/main.go
  bin-call-manager/pkg/channelhandler/mock_main.go
  bin-call-manager/pkg/dbhandler/call.go
  bin-call-manager/pkg/dbhandler/channel.go
  bin-call-manager/pkg/dbhandler/channel_test.go
  bin-call-manager/pkg/dbhandler/main.go
  bin-call-manager/pkg/dbhandler/mock_main.go
  bin-call-manager/scripts/database_scripts_test/table_channels.sql
  bin-dbscheme-bin-manager/bin-manager/main/versions/6c88940e2936_call_channels_add_idx_asterisk_id.py
  bin-sentinel-manager/go.sum
Due: run-bin-call-manager, run-bin-dbscheme-bin-manager

WIP
  bin-sentinel-manager/pkg/monitoringhandler/run.go
Due: none

WIP
  bin-api-manager/go.sum
Due: run-bin-api-manager

Fixed
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/pkg/callhandler/event.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/mock_main.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/listenhandler/v1_recovery.go
  bin-call-manager/pkg/listenhandler/v1_recovery_test.go
  bin-call-manager/pkg/subscribehandler/main.go
  bin-call-manager/pkg/subscribehandler/sentinel_manager.go
  bin-call-manager/pkg/subscribehandler/sentinel_manager_test.go
  bin-sentinel-manager/go.sum
  bin-sentinel-manager/pkg/monitoringhandler/main.go
  bin-sentinel-manager/pkg/monitoringhandler/run.go
  bin-sentinel-manager/pkg/monitoringhandler/run_test.go
Due: run-bin-call-manager

Fixed
  bin-sentinel-manager/pkg/monitoringhandler/run.go
  bin-sentinel-manager/pkg/monitoringhandler/run_test.go
Due: none

Fixed
  bin-call-manager/pkg/callhandler/event.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/pkg/subscribehandler/main.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/pkg/callhandler/event.go
  bin-call-manager/pkg/callhandler/main.go
  bin-sentinel-manager/pkg/monitoringhandler/run.go
  bin-sentinel-manager/pkg/monitoringhandler/run_test.go
Due: run-bin-call-manager

VOIP-1077-Add_sentinel_manager_event_subscription (#215)
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/pkg/callhandler/event.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/mock_main.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/listenhandler/v1_recovery.go
  bin-call-manager/pkg/listenhandler/v1_recovery_test.go
  bin-call-manager/pkg/subscribehandler/main.go
  bin-call-manager/pkg/subscribehandler/sentinel_manager.go
  bin-call-manager/pkg/subscribehandler/sentinel_manager_test.go
  bin-sentinel-manager/go.sum
  bin-sentinel-manager/pkg/monitoringhandler/main.go
  bin-sentinel-manager/pkg/monitoringhandler/run.go
  bin-sentinel-manager/pkg/monitoringhandler/run_test.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/arieventhandler/ari_contact.go
Due: run-bin-call-manager

Fixed
  bin-dbscheme-bin-manager/asterisk_config/config/versions/24c12d8e9014_add_user_agent_header_to_ps_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/2b7c507d7d12_add_queue_log_option_log_restricted_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/44bd6dd914fa_add_qualify_2xx_only_option.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/4da0c5f79a9c_create_tables.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/4f91fc18c979_add_suppress_moh_on_sendonly.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/655054a68ad5_add_pjsip_tenantid.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/6c475a93f48a_correct_nullability_of_pjsip_id_columns.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/74dc751dfe8e_more_permission_boolean_columns.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/801b9fced8b7_add_generator_data_to_ps_subscription_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/8fce8496f03e_add_tcp_keepalive_settings_to_ps_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/abdc9ede147d_add_fields_to_ps_auths_to_support_new_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/bd335bae5d33_create_stir_shaken_tn_table.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/bd9c5159c7ea_revert_d5122576cca8_add_transport_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/cf150a175fd3_add_match_request_uri_attribute_to_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/d5122576cca8_add_transport_attribute_to_identify.py
Due: run-bin-dbscheme-bin-manager

VOIP-1073-Fix_wrong_registration_handle (#216)
  bin-call-manager/pkg/arieventhandler/ari_contact.go
  bin-dbscheme-bin-manager/asterisk_config/config/versions/24c12d8e9014_add_user_agent_header_to_ps_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/2b7c507d7d12_add_queue_log_option_log_restricted_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/44bd6dd914fa_add_qualify_2xx_only_option.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/4da0c5f79a9c_create_tables.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/4f91fc18c979_add_suppress_moh_on_sendonly.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/655054a68ad5_add_pjsip_tenantid.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/6c475a93f48a_correct_nullability_of_pjsip_id_columns.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/74dc751dfe8e_more_permission_boolean_columns.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/801b9fced8b7_add_generator_data_to_ps_subscription_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/8fce8496f03e_add_tcp_keepalive_settings_to_ps_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/abdc9ede147d_add_fields_to_ps_auths_to_support_new_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/bd335bae5d33_create_stir_shaken_tn_table.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/bd9c5159c7ea_revert_d5122576cca8_add_transport_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/cf150a175fd3_add_match_request_uri_attribute_to_.py
  bin-dbscheme-bin-manager/asterisk_config/config/versions/d5122576cca8_add_transport_attribute_to_identify.py
Due: run-bin-call-manager, run-bin-dbscheme-bin-manager

WIP
  bin-common-handler/go.mod
  bin-common-handler/go.sum
  bin-common-handler/pkg/requesthandler/flow_activeflow.go
  bin-common-handler/pkg/requesthandler/flow_activeflow_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-conversation-manager/pkg/accounthandler/db.go
  bin-conversation-manager/pkg/dbhandler/account.go
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/models/activeflow/activeflow.go
  bin-flow-manager/models/activeflow/convert.go
  bin-flow-manager/pkg/activeflowhandler/action_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-flow-manager/pkg/activeflowhandler/activeflow.go
  bin-flow-manager/pkg/activeflowhandler/activeflow_test.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
  bin-flow-manager/pkg/activeflowhandler/event.go
  bin-flow-manager/pkg/activeflowhandler/event_test.go
  bin-flow-manager/pkg/activeflowhandler/execute_test.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/mock_main.go
  bin-flow-manager/pkg/activeflowhandler/stop.go
  bin-flow-manager/pkg/activeflowhandler/stop_test.go
  bin-flow-manager/pkg/dbhandler/activeflow.go
  bin-flow-manager/pkg/dbhandler/activeflow_test.go
  bin-flow-manager/pkg/dbhandler/main.go
  bin-flow-manager/pkg/dbhandler/mock_main.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
Due: run-bin-common-handler, run-bin-conversation-manager, run-bin-flow-manager

Fixed flow
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/flow.go
  bin-api-manager/pkg/servicehandler/flow_test.go
  bin-common-handler/pkg/requesthandler/flow_flow.go
  bin-common-handler/pkg/requesthandler/flow_flow_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-flow-manager/models/flow/convert.go
  bin-flow-manager/pkg/dbhandler/activeflow.go
  bin-flow-manager/pkg/dbhandler/flows.go
  bin-flow-manager/pkg/dbhandler/flows_test.go
  bin-flow-manager/pkg/dbhandler/main.go
  bin-flow-manager/pkg/dbhandler/mock_main.go
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db_test.go
  bin-flow-manager/pkg/flowhandler/event.go
  bin-flow-manager/pkg/flowhandler/event_test.go
  bin-flow-manager/pkg/flowhandler/main.go
  bin-flow-manager/pkg/flowhandler/mock_main.go
  bin-flow-manager/pkg/listenhandler/v1_flows.go
  bin-flow-manager/pkg/listenhandler/v1_flows_test.go
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-bin-api-manager, run-bin-common-handler, run-bin-flow-manager, run-bin-storage-manager, run-bin-transcribe-manager, run-bin-tts-manager, run-voip-asterisk-proxy

Fixed flow
  bin-flow-manager/pkg/dbhandler/flows.go
  bin-flow-manager/pkg/dbhandler/flows_test.go
  bin-flow-manager/pkg/dbhandler/main.go
  bin-flow-manager/pkg/dbhandler/mock_main.go
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db_test.go
Due: run-bin-flow-manager

Fixed flow
  bin-flow-manager/models/activeflow/convert.go
  bin-flow-manager/models/flow/convert.go
Due: run-bin-flow-manager
