Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Wire-rag-to-pipecat-call
  bin-rag-manager/models/query/main.go
  bin-rag-manager/pkg/raghandler/query.go
Due: none

NOJIRA-Wire-rag-to-pipecat-call
  bin-dbscheme-manager/bin-manager/main/versions/1f362e55653b_ai_ais_add_column_rag_id.py
Due: none

NOJIRA-Wire-rag-to-pipecat-call
  bin-ai-manager/cmd/ai-control/main.go
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/models/ai/field.go
  bin-ai-manager/models/ai/main.go
  bin-ai-manager/models/ai/webhook.go
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/models/tool/main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aihandler/chatbot.go
  bin-ai-manager/pkg/aihandler/chatbot_test.go
  bin-ai-manager/pkg/aihandler/db.go
  bin-ai-manager/pkg/aihandler/db_test.go
  bin-ai-manager/pkg/aihandler/main.go
  bin-ai-manager/pkg/aihandler/mock_main.go
  bin-ai-manager/pkg/listenhandler/models/request/ais.go
  bin-ai-manager/pkg/listenhandler/v1_ais.go
  bin-ai-manager/pkg/listenhandler/v1_ais_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-ai-manager/pkg/toolhandler/main_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_ais.sql
  bin-common-handler/pkg/requesthandler/ai_ais.go
  bin-common-handler/pkg/requesthandler/ai_ais_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  docs/plans/2026-03-20-wire-rag-to-pipecat-call-design.md
  docs/plans/2026-03-20-wire-rag-to-pipecat-call.md
Due: run-bin-common-handler

NOJIRA-Fix-balance-force-webhookmessage
  bin-api-manager/pkg/servicehandler/billingaccount.go
  bin-api-manager/pkg/servicehandler/billingaccount_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/billing_accounts_test.go
Due: run-bin-api-manager

NOJIRA-Fix-paddle-critical-bugs
  bin-billing-manager/pkg/dbhandler/account_paddle.go
  bin-billing-manager/pkg/listenhandler/v1_hooks_paddle.go
  bin-billing-manager/pkg/listenhandler/v1_hooks_paddle_test.go
  bin-dbscheme-manager/bin-manager/main/versions/h2b3c4d5e6f7_billing_billings_idempotency_key_unique.py
  bin-hook-manager/pkg/servicehandler/billing.go
  bin-hook-manager/pkg/servicehandler/billing_test.go
  docs/plans/2026-03-19-paddle-billing-integration-design.md
Due: run-bin-billing-manager, run-bin-hook-manager

NOJIRA-Fix-balance-force-webhookmessage (#721)
  bin-api-manager/pkg/servicehandler/billingaccount.go
  bin-api-manager/pkg/servicehandler/billingaccount_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/billing_accounts_test.go
Due: run-bin-api-manager

NOJIRA-Wire-rag-to-pipecat-call
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-api-manager/server/ais.go
Due: run-bin-api-manager

NOJIRA-Fix-paddle-critical-bugs (#722)
  bin-billing-manager/pkg/dbhandler/account_paddle.go
  bin-billing-manager/pkg/listenhandler/v1_hooks_paddle.go
  bin-billing-manager/pkg/listenhandler/v1_hooks_paddle_test.go
  bin-dbscheme-manager/bin-manager/main/versions/h2b3c4d5e6f7_billing_billings_idempotency_key_unique.py
  bin-hook-manager/pkg/servicehandler/billing.go
  bin-hook-manager/pkg/servicehandler/billing_test.go
  docs/plans/2026-03-19-paddle-billing-integration-design.md
Due: run-bin-billing-manager, run-bin-hook-manager

NOJIRA-Fix-idempotency-key-migration
  bin-dbscheme-manager/bin-manager/main/versions/h2b3c4d5e6f7_billing_billings_idempotency_key_unique.py
Due: none

NOJIRA-Fix-idempotency-key-migration (#723)
  bin-dbscheme-manager/bin-manager/main/versions/h2b3c4d5e6f7_billing_billings_idempotency_key_unique.py
Due: none

NOJIRA-Fix-pipecat-tool-cache-staleness
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  docs/plans/2026-03-21-fix-pipecat-tool-cache-staleness.md
Due: none

NOJIRA-Fix-pipecat-tool-cache-staleness (#724)
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  docs/plans/2026-03-21-fix-pipecat-tool-cache-staleness.md
Due: none

NOJIRA-Fix-tool-run-llm-metadata-default
  bin-ai-manager/models/tool/main.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

NOJIRA-Fix-tool-run-llm-metadata-default
  bin-pipecat-manager/scripts/pipecat/main.py
Due: none

NOJIRA-Fix-tool-run-llm-metadata-default (#725)
  bin-ai-manager/models/tool/main.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

NOJIRA-Fix-ai-create-rag-id-uuid-parsing
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/ais.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/ais/id.yaml
  bin-openapi-manager/openapi/paths/ais/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Fix-ai-create-rag-id-uuid-parsing
  bin-api-manager/server/ais_test.go
Due: run-bin-api-manager

NOJIRA-Add-aicall-current-member-id
  bin-ai-manager/models/aicall/field.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/models/aicall/webhook.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/aicalls_test.go
  bin-dbscheme-manager/bin-manager/main/versions/a1b2c3d4e5f6_ai_aicalls_add_column_current_member_id.py
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  docs/plans/2026-03-22-aicall-current-member-id.md
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-aicall-current-member-id
  bin-ai-manager/models/aicall/webhook_test.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
Due: none

NOJIRA-Add-aicall-current-member-id (#729)
  bin-ai-manager/models/aicall/field.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/models/aicall/webhook.go
  bin-ai-manager/models/aicall/webhook_test.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/aicalls_test.go
  bin-dbscheme-manager/bin-manager/main/versions/a1b2c3d4e5f6_ai_aicalls_add_column_current_member_id.py
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  docs/plans/2026-03-22-aicall-current-member-id.md
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Fix-migration-duplicate-revision-id
  CLAUDE.md
  bin-dbscheme-manager/CLAUDE.md
  bin-dbscheme-manager/bin-manager/main/versions/edc1cab9a95d_ai_aicalls_add_column_current_member_id.py
Due: none

NOJIRA-Fix-migration-duplicate-revision-id (#730)
  CLAUDE.md
  bin-dbscheme-manager/CLAUDE.md
  bin-dbscheme-manager/bin-manager/main/versions/edc1cab9a95d_ai_aicalls_add_column_current_member_id.py
Due: none

NOJIRA-Add-paddle-webhook-debug-logging
  bin-hook-manager/pkg/servicehandler/billing.go
Due: run-bin-hook-manager

NOJIRA-Add-paddle-webhook-debug-logging
  bin-billing-manager/CLAUDE.md
  bin-billing-manager/pkg/accounthandler/paddle.go
  bin-billing-manager/pkg/listenhandler/v1_hooks_paddle.go
Due: run-bin-billing-manager

NOJIRA-Add-paddle-webhook-debug-logging
  CLAUDE.md
  bin-billing-manager/CLAUDE.md
  docs/coding-conventions.md
Due: run-bin-billing-manager

NOJIRA-Add-conversation-account-message-flow-id
  bin-conversation-manager/pkg/conversationhandler/hook_test.go
Due: run-bin-conversation-manager

NOJIRA-Remove-realistic-test-secret
  bin-hook-manager/pkg/servicehandler/billing_test.go
Due: run-bin-hook-manager

NOJIRA-Remove-realistic-test-secret (#733)
  bin-hook-manager/pkg/servicehandler/billing_test.go
Due: run-bin-hook-manager

NOJIRA-Split-billing-account-api-permissions
  bin-billing-manager/pkg/listenhandler/main.go
  bin-billing-manager/pkg/listenhandler/v1_accounts.go
Due: run-bin-billing-manager

NOJIRA-Split-billing-account-api-permissions
  bin-common-handler/pkg/requesthandler/billing_accounts.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
