Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

WIP
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/run.py_org
  bin-pipecat-manager/scripts/pipecat/task.py
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

Fixed
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
Due: none

Fixed
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
Due: run-bin-flow-manager

Fixed
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

Fixed
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
Due: run-bin-flow-manager

Fixed
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

Fixed
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

VOIP-1136-Reduce_start_delay (#277)
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/pkg/variablehandler/substitute.go
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/task.py
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: run-bin-flow-manager

WIP
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/pkg/callhandler/action.go
  bin-call-manager/pkg/callhandler/action_test.go
  bin-flow-manager/models/action/option.go
  bin-flow-manager/models/action/option_test.go
Due: run-bin-api-manager, run-bin-call-manager, run-bin-flow-manager

WIP
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/subscribehandler/pipecat_pipecatcall.go
  bin-pipecat-manager/models/pipecatcall/event.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/pipecat_pipecatcall.go
Due: none

Fixed
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/subscribehandler/callmanager.go
  bin-ai-manager/pkg/subscribehandler/pipecat_pipecatcall_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

Fixed
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/subscribehandler/pipecat_pipecatcall.go
  bin-ai-manager/pkg/subscribehandler/pipecat_pipecatcall_test.go
Due: none

Fixed
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/pipecat_pipecatcall.go
  bin-ai-manager/pkg/subscribehandler/pipecat_pipecatcall_test.go
  bin-flow-manager/models/action/option.go
Due: run-bin-flow-manager

Fixed
  bin-ai-manager/pkg/subscribehandler/pipecat_pipecatcall_test.go
  bin-flow-manager/models/action/option.go
Due: run-bin-flow-manager

VOIP-1138-Add_talk_in_background (#278)
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/subscribehandler/callmanager.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/pipecat_pipecatcall.go
  bin-ai-manager/pkg/subscribehandler/pipecat_pipecatcall_test.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/pkg/callhandler/action.go
  bin-call-manager/pkg/callhandler/action_test.go
  bin-flow-manager/models/action/option.go
  bin-flow-manager/models/action/option_test.go
  bin-pipecat-manager/models/pipecatcall/event.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: run-bin-api-manager, run-bin-call-manager, run-bin-flow-manager

WIP
  bin-pipecat-manager/models/pipecatcall/fields.go
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls.go
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/database_scripts_test/table_pipecat_pipecatcalls.sql
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-dbscheme-bin-manager/bin-manager/main/versions/ec31df0c8e6a_pipecat_pipecatcalls_add_column_stt_.py
Due: run-bin-dbscheme-bin-manager

WIP
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatcall.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/requirements.txt
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

VOIP-1135-Support_stt_language_selection (#279)
  bin-dbscheme-bin-manager/bin-manager/main/versions/ec31df0c8e6a_pipecat_pipecatcalls_add_column_stt_.py
  bin-pipecat-manager/models/pipecatcall/fields.go
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls.go
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls_test.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatcall.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/scripts/database_scripts_test/table_pipecat_pipecatcalls.sql
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/run.py
Due: run-bin-dbscheme-bin-manager

WIP
  bin-dbscheme-bin-manager/bin-manager/main/versions/1618235a36a1_flow_flows_add_column_on_complete_flow_.py
  bin-flow-manager/go.sum
  bin-flow-manager/models/activeflow/activeflow.go
  bin-flow-manager/models/activeflow/convert.go
  bin-flow-manager/models/activeflow/field.go
  bin-flow-manager/models/activeflow/webhook.go
  bin-flow-manager/models/activeflow/webhook_test.go
  bin-flow-manager/models/flow/field.go
  bin-flow-manager/models/flow/flow.go
  bin-flow-manager/models/flow/webhook.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
  bin-flow-manager/pkg/activeflowhandler/start.go
  bin-flow-manager/pkg/activeflowhandler/start_test.go
  bin-flow-manager/pkg/activeflowhandler/stop.go
  bin-flow-manager/pkg/dbhandler/activeflow.go
  bin-flow-manager/pkg/dbhandler/activeflow_test.go
  bin-flow-manager/pkg/dbhandler/flows.go
  bin-flow-manager/pkg/dbhandler/flows_test.go
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db_test.go
  bin-flow-manager/pkg/flowhandler/main.go
  bin-flow-manager/pkg/flowhandler/mock_main.go
  bin-flow-manager/pkg/listenhandler/models/request/flows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
  bin-flow-manager/pkg/listenhandler/v1_flows.go
  bin-flow-manager/pkg/listenhandler/v1_flows_test.go
  bin-flow-manager/scripts/database_scripts/table_activeflow.sql
  bin-flow-manager/scripts/database_scripts/table_flows.sql
Due: run-bin-dbscheme-bin-manager, run-bin-flow-manager

Fixed
  bin-flow-manager/models/activeflow/activeflow.go
  bin-flow-manager/pkg/activeflowhandler/action.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/start_test.go
  bin-flow-manager/pkg/activeflowhandler/variable.go
  bin-flow-manager/pkg/activeflowhandler/variable_test.go
Due: run-bin-flow-manager

Fixed
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/pkg/activeflowhandler/stop_test.go
  bin-flow-manager/pkg/activeflowhandler/variable.go
  bin-flow-manager/pkg/activeflowhandler/variable_test.go
Due: run-bin-flow-manager

Fixed
  bin-flow-manager/pkg/activeflowhandler/start.go
  bin-flow-manager/pkg/activeflowhandler/variable_test.go
Due: run-bin-flow-manager

Fixed
  bin-dbscheme-bin-manager/bin-manager/main/versions/1618235a36a1_flow_flows_add_column_on_complete_flow_.py
  bin-flow-manager/models/flow/convert.go
Due: run-bin-dbscheme-bin-manager, run-bin-flow-manager

Fixed
  bin-api-manager/go.sum
  bin-api-manager/server/activeflows_test.go
  bin-api-manager/server/flows_test.go
Due: run-bin-api-manager

VOIP-1139-Add_on_complete_id (#281)
  bin-api-manager/go.sum
  bin-api-manager/server/activeflows_test.go
  bin-api-manager/server/flows_test.go
  bin-dbscheme-bin-manager/bin-manager/main/versions/1618235a36a1_flow_flows_add_column_on_complete_flow_.py
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/models/activeflow/activeflow.go
  bin-flow-manager/models/activeflow/convert.go
  bin-flow-manager/models/activeflow/field.go
  bin-flow-manager/models/activeflow/webhook.go
  bin-flow-manager/models/activeflow/webhook_test.go
  bin-flow-manager/models/flow/convert.go
  bin-flow-manager/models/flow/field.go
  bin-flow-manager/models/flow/flow.go
  bin-flow-manager/models/flow/webhook.go
  bin-flow-manager/pkg/activeflowhandler/action.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/start.go
  bin-flow-manager/pkg/activeflowhandler/start_test.go
  bin-flow-manager/pkg/activeflowhandler/stop.go
  bin-flow-manager/pkg/activeflowhandler/stop_test.go
  bin-flow-manager/pkg/activeflowhandler/variable.go
  bin-flow-manager/pkg/activeflowhandler/variable_test.go
  bin-flow-manager/pkg/dbhandler/activeflow.go
  bin-flow-manager/pkg/dbhandler/activeflow_test.go
  bin-flow-manager/pkg/dbhandler/flows.go
  bin-flow-manager/pkg/dbhandler/flows_test.go
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db_test.go
  bin-flow-manager/pkg/flowhandler/main.go
  bin-flow-manager/pkg/flowhandler/mock_main.go
  bin-flow-manager/pkg/listenhandler/models/request/flows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
  bin-flow-manager/pkg/listenhandler/v1_flows.go
  bin-flow-manager/pkg/listenhandler/v1_flows_test.go
  bin-flow-manager/scripts/database_scripts/table_activeflow.sql
  bin-flow-manager/scripts/database_scripts/table_flows.sql
Due: run-bin-api-manager, run-bin-dbscheme-bin-manager, run-bin-flow-manager

WIP
  bin-api-manager/pkg/servicehandler/activeflows_test.go
  bin-api-manager/pkg/servicehandler/call_test.go
  bin-api-manager/pkg/servicehandler/flow.go
  bin-api-manager/pkg/servicehandler/flow_test.go
  bin-api-manager/pkg/servicehandler/groupcall_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar_test.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_trunk.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_trunk_test.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-campaign-manager/pkg/campaignhandler/campaign.go
  bin-campaign-manager/pkg/campaignhandler/campaign_test.go
  bin-common-handler/pkg/requesthandler/flow_flow.go
  bin-common-handler/pkg/requesthandler/flow_flow_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-email-manager/go.mod
  bin-email-manager/go.sum
  bin-flow-manager/go.sum
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-flow-manager/pkg/activeflowhandler/generate.go
  bin-flow-manager/pkg/activeflowhandler/generate_test.go
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-queue-manager/pkg/queuecallhandler/execute.go
  bin-queue-manager/pkg/queuecallhandler/execute_test.go
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-transfer-manager/pkg/transferhandler/transfer.go
  bin-transfer-manager/pkg/transferhandler/transfer_test.go
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
Due: run-bin-api-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-common-handler, run-bin-email-manager, run-bin-flow-manager, run-bin-queue-manager, run-bin-storage-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager

WIP
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/activeflows.go
  bin-api-manager/pkg/servicehandler/call.go
  bin-api-manager/pkg/servicehandler/flow.go
  bin-api-manager/pkg/servicehandler/flow_test.go
  bin-api-manager/pkg/servicehandler/groupcall.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/flows.go
  bin-api-manager/server/flows_test.go
  bin-common-handler/pkg/requesthandler/flow_flow.go
  bin-common-handler/pkg/requesthandler/flow_flow_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/flows/id.yaml
  bin-openapi-manager/openapi/paths/flows/main.yaml
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

Fixed
  bin-api-manager/pkg/servicehandler/flow.go
  bin-api-manager/pkg/servicehandler/flow_test.go
Due: run-bin-api-manager

Fixed
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1144-Add_talk_option_async (#284)
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
