Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

WIP
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-billing-manager/pkg/billinghandler/event.go
  bin-billing-manager/pkg/subscribehandler/call.go
  bin-billing-manager/pkg/subscribehandler/main.go
Due: run-bin-billing-manager

Fixed
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/billingaccount_test.go
  bin-api-manager/pkg/servicehandler/billings_test.go
  bin-api-manager/pkg/servicehandler/customer_test.go
  bin-api-manager/server/billing_accounts_test.go
  bin-api-manager/server/billings_test.go
  bin-billing-manager/models/account/account.go
  bin-billing-manager/models/account/webhook.go
  bin-billing-manager/models/billing/billing.go
  bin-billing-manager/models/billing/webhook.go
  bin-billing-manager/pkg/accounthandler/balance_test.go
  bin-billing-manager/pkg/accounthandler/db.go
  bin-billing-manager/pkg/accounthandler/db_test.go
  bin-billing-manager/pkg/accounthandler/event_test.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/db.go
  bin-billing-manager/pkg/billinghandler/db_test.go
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/dbhandler/account_test.go
  bin-billing-manager/pkg/dbhandler/billing_test.go
  bin-billing-manager/pkg/listenhandler/v1_accounts_test.go
  bin-billing-manager/pkg/listenhandler/v1_billings_test.go
  bin-common-handler/pkg/requesthandler/billing_accounts_test.go
  bin-common-handler/pkg/requesthandler/billing_billings_test.go
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-bin-api-manager, run-bin-billing-manager, run-bin-common-handler, run-bin-storage-manager, run-bin-transcribe-manager, run-bin-tts-manager, run-voip-asterisk-proxy

VOIP-987-Fix_wrong_billing (#176)
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/billingaccount_test.go
  bin-api-manager/pkg/servicehandler/billings_test.go
  bin-api-manager/pkg/servicehandler/customer_test.go
  bin-api-manager/server/billing_accounts_test.go
  bin-api-manager/server/billings_test.go
  bin-billing-manager/models/account/account.go
  bin-billing-manager/models/account/webhook.go
  bin-billing-manager/models/billing/billing.go
  bin-billing-manager/models/billing/webhook.go
  bin-billing-manager/pkg/accounthandler/balance_test.go
  bin-billing-manager/pkg/accounthandler/db.go
  bin-billing-manager/pkg/accounthandler/db_test.go
  bin-billing-manager/pkg/accounthandler/event_test.go
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/db.go
  bin-billing-manager/pkg/billinghandler/db_test.go
  bin-billing-manager/pkg/billinghandler/event.go
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/dbhandler/account_test.go
  bin-billing-manager/pkg/dbhandler/billing_test.go
  bin-billing-manager/pkg/listenhandler/v1_accounts_test.go
  bin-billing-manager/pkg/listenhandler/v1_billings_test.go
  bin-billing-manager/pkg/subscribehandler/call.go
  bin-billing-manager/pkg/subscribehandler/main.go
  bin-common-handler/pkg/requesthandler/billing_accounts_test.go
  bin-common-handler/pkg/requesthandler/billing_billings_test.go
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-bin-api-manager, run-bin-billing-manager, run-bin-common-handler, run-bin-storage-manager, run-bin-transcribe-manager, run-bin-tts-manager, run-voip-asterisk-proxy

WIP
  bin-campaign-manager/models/campaign/campaign.go
  bin-campaign-manager/models/campaign/webhook.go
  bin-campaign-manager/models/campaign/webhook_test.go
  bin-campaign-manager/pkg/campaignhandler/campaign.go
  bin-campaign-manager/pkg/campaignhandler/campaign_test.go
  bin-campaign-manager/pkg/campaignhandler/eventhandle_test.go
  bin-campaign-manager/pkg/campaignhandler/execute_test.go
  bin-campaign-manager/pkg/campaignhandler/status_run.go
  bin-campaign-manager/pkg/campaignhandler/status_run_test.go
  bin-campaign-manager/pkg/campaignhandler/status_stop_test.go
  bin-campaign-manager/pkg/dbhandler/campaign_test.go
  bin-campaign-manager/pkg/listenhandler/campaigns_test.go
Due: run-bin-campaign-manager

WIP
  bin-campaign-manager/models/campaigncall/campaigncall.go
  bin-campaign-manager/models/campaigncall/webhook.go
  bin-campaign-manager/models/campaigncall/webhook_test.go
  bin-campaign-manager/models/outplan/outplan.go
  bin-campaign-manager/models/outplan/webhook.go
  bin-campaign-manager/models/outplan/webhook_test.go
  bin-campaign-manager/pkg/campaigncallhandler/campaigncall.go
  bin-campaign-manager/pkg/campaigncallhandler/campaigncall_test.go
  bin-campaign-manager/pkg/campaigncallhandler/eventhandle_test.go
  bin-campaign-manager/pkg/campaigncallhandler/status_test.go
  bin-campaign-manager/pkg/campaignhandler/campaign_test.go
  bin-campaign-manager/pkg/campaignhandler/execute_test.go
  bin-campaign-manager/pkg/campaignhandler/status_run_test.go
  bin-campaign-manager/pkg/campaignhandler/status_stop_test.go
  bin-campaign-manager/pkg/dbhandler/campaigncall_test.go
  bin-campaign-manager/pkg/dbhandler/outplan_test.go
  bin-campaign-manager/pkg/listenhandler/campaigncalls_test.go
  bin-campaign-manager/pkg/listenhandler/outplans_test.go
  bin-campaign-manager/pkg/outplanhandler/outplan.go
  bin-campaign-manager/pkg/subscribehandler/callmanager_test.go
  bin-campaign-manager/pkg/subscribehandler/flowmanager_test.go
Due: run-bin-campaign-manager

WIP
  bin-conversation-manager/models/account/account.go
  bin-conversation-manager/models/account/webhook.go
  bin-conversation-manager/models/message/message.go
  bin-conversation-manager/models/message/webhook.go
  bin-conversation-manager/pkg/accounthandler/db.go
  bin-conversation-manager/pkg/accounthandler/db_test.go
  bin-conversation-manager/pkg/conversationhandler/event_test.go
  bin-conversation-manager/pkg/conversationhandler/hook_test.go
  bin-conversation-manager/pkg/conversationhandler/message_test.go
  bin-conversation-manager/pkg/dbhandler/account_test.go
  bin-conversation-manager/pkg/dbhandler/message_test.go
  bin-conversation-manager/pkg/linehandler/hook.go
  bin-conversation-manager/pkg/linehandler/send_test.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts_test.go
  bin-conversation-manager/pkg/listenhandler/v1_conversations_test.go
  bin-conversation-manager/pkg/listenhandler/v1_messages_test.go
  bin-conversation-manager/pkg/messagehandler/db.go
  bin-conversation-manager/pkg/messagehandler/db_test.go
  bin-conversation-manager/pkg/messagehandler/send_test.go
  bin-conversation-manager/pkg/smshandler/event.go
  bin-conversation-manager/pkg/smshandler/event_test.go
Due: run-bin-conversation-manager

WIP
  bin-message-manager/models/message/message.go
  bin-message-manager/models/message/webhook.go
  bin-message-manager/pkg/dbhandler/message_test.go
  bin-message-manager/pkg/listenhandler/messages_test.go
  bin-message-manager/pkg/messagehandler/db_test.go
  bin-message-manager/pkg/messagehandler/hook_test.go
  bin-message-manager/pkg/messagehandler/message.go
  bin-message-manager/pkg/messagehandler/message_test.go
  bin-message-manager/pkg/messagehandler/send_test.go
Due: run-bin-message-manager

Fixed number
  bin-number-manager/models/number/number.go
  bin-number-manager/models/number/webhook.go
  bin-number-manager/pkg/dbhandler/number_test.go
  bin-number-manager/pkg/listenhandler/v1_numbers_test.go
  bin-number-manager/pkg/numberhandler/db.go
  bin-number-manager/pkg/numberhandler/db_test.go
  bin-number-manager/pkg/numberhandler/etc_test.go
  bin-number-manager/pkg/numberhandler/event_test.go
  bin-number-manager/pkg/numberhandler/number_test.go
  bin-number-manager/pkg/numberhandler/renew_test.go
Due: run-bin-number-manager

Fixed outdial
  bin-outdial-manager/models/outdial/outdial.go
  bin-outdial-manager/models/outdial/webhook.go
  bin-outdial-manager/models/outdialtargetcall/outdialtargetcall.go
  bin-outdial-manager/pkg/dbhandler/outdial_test.go
  bin-outdial-manager/pkg/dbhandler/outdialtargetcall_test.go
  bin-outdial-manager/pkg/listenhandler/v1_outdials_test.go
  bin-outdial-manager/pkg/outdialhandler/outdial.go
Due: run-bin-outdial-manager

Fixed queue
  bin-queue-manager/models/queue/queue.go
  bin-queue-manager/models/queue/webhook.go
  bin-queue-manager/models/queuecall/queuecall.go
  bin-queue-manager/models/queuecall/webhook.go
  bin-queue-manager/pkg/dbhandler/queue_test.go
  bin-queue-manager/pkg/dbhandler/queuecall_test.go
  bin-queue-manager/pkg/listenhandler/v1_queuecalls_test.go
  bin-queue-manager/pkg/listenhandler/v1_queues_test.go
  bin-queue-manager/pkg/queuecallhandler/db.go
  bin-queue-manager/pkg/queuecallhandler/db_test.go
  bin-queue-manager/pkg/queuecallhandler/event_test.go
  bin-queue-manager/pkg/queuecallhandler/execute_test.go
  bin-queue-manager/pkg/queuecallhandler/kick_test.go
  bin-queue-manager/pkg/queuecallhandler/service_test.go
  bin-queue-manager/pkg/queuecallhandler/timeout_test.go
  bin-queue-manager/pkg/queuecallhandler/variable_test.go
  bin-queue-manager/pkg/queuehandler/agent_test.go
  bin-queue-manager/pkg/queuehandler/create.go
  bin-queue-manager/pkg/queuehandler/create_test.go
  bin-queue-manager/pkg/queuehandler/db_test.go
  bin-queue-manager/pkg/queuehandler/event_test.go
  bin-queue-manager/pkg/queuehandler/execute_test.go
  bin-queue-manager/pkg/queuehandler/queue_test.go
Due: run-bin-queue-manager

Fixed registrar
  bin-registrar-manager/models/extension/extension.go
  bin-registrar-manager/models/extension/webhook.go
  bin-registrar-manager/models/trunk/trunk.go
  bin-registrar-manager/models/trunk/webhook.go
  bin-registrar-manager/models/trunk/webhook_test.go
  bin-registrar-manager/pkg/dbhandler/extension_test.go
  bin-registrar-manager/pkg/dbhandler/trunk_test.go
  bin-registrar-manager/pkg/extensionhandler/event_test.go
  bin-registrar-manager/pkg/extensionhandler/extension.go
  bin-registrar-manager/pkg/extensionhandler/extension_test.go
  bin-registrar-manager/pkg/listenhandler/v1_extensions_test.go
  bin-registrar-manager/pkg/listenhandler/v1_trunks_test.go
  bin-registrar-manager/pkg/trunkhandler/event_test.go
  bin-registrar-manager/pkg/trunkhandler/trunk.go
  bin-registrar-manager/pkg/trunkhandler/trunk_test.go
Due: run-bin-registrar-manager

Fixed tag
  bin-tag-manager/models/tag/tag.go
  bin-tag-manager/models/tag/webhook.go
  bin-tag-manager/pkg/dbhandler/tag_test.go
  bin-tag-manager/pkg/listenhandler/v1_tags_test.go
  bin-tag-manager/pkg/taghandler/db.go
  bin-tag-manager/pkg/taghandler/tag_test.go
Due: run-bin-tag-manager

Fixed transcribe
  bin-transcribe-manager/models/transcript/webhook.go
Due: run-bin-transcribe-manager

Fixed transfer
  bin-transfer-manager/models/transfer/transfer.go
  bin-transfer-manager/models/transfer/webhook.go
  bin-transfer-manager/pkg/listenhandler/v1_transfers_test.go
  bin-transfer-manager/pkg/subscribehandler/callmanager_test.go
  bin-transfer-manager/pkg/transferhandler/attended_test.go
  bin-transfer-manager/pkg/transferhandler/blind_test.go
  bin-transfer-manager/pkg/transferhandler/db.go
  bin-transfer-manager/pkg/transferhandler/transferee_test.go
  bin-transfer-manager/pkg/transferhandler/transferer_test.go
Due: run-bin-transfer-manager

Fixed agent
  bin-agent-manager/pkg/agenthandler/agent_test.go
Due: run-bin-agent-manager

Fixed api
  bin-agent-manager/go.sum
  bin-ai-manager/go.sum
  bin-api-manager/pkg/servicehandler/campaigncalls_test.go
  bin-api-manager/pkg/servicehandler/campaigns_test.go
  bin-api-manager/pkg/servicehandler/conversation_account_test.go
  bin-api-manager/pkg/servicehandler/conversation_test.go
  bin-api-manager/pkg/servicehandler/extension_test.go
  bin-api-manager/pkg/servicehandler/message_test.go
  bin-api-manager/pkg/servicehandler/numbers_test.go
  bin-api-manager/pkg/servicehandler/outdials_test.go
  bin-api-manager/pkg/servicehandler/outdialtargets_test.go
  bin-api-manager/pkg/servicehandler/outplans_test.go
  bin-api-manager/pkg/servicehandler/queue_test.go
  bin-api-manager/pkg/servicehandler/queuecall_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversationmessage_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_extension_test.go
  bin-api-manager/pkg/servicehandler/tag_test.go
  bin-api-manager/pkg/servicehandler/transcript_test.go
  bin-api-manager/pkg/servicehandler/transfer_test.go
  bin-api-manager/pkg/servicehandler/trunk_test.go
  bin-api-manager/server/campaigncalls_test.go
  bin-api-manager/server/campaigns_test.go
  bin-api-manager/server/conversation_accounts_test.go
  bin-api-manager/server/conversations_test.go
  bin-api-manager/server/extensions_test.go
  bin-api-manager/server/messages_test.go
  bin-api-manager/server/numbers_test.go
  bin-api-manager/server/outdials_test.go
  bin-api-manager/server/outplans_test.go
  bin-api-manager/server/queuecalls_test.go
  bin-api-manager/server/queues_test.go
  bin-api-manager/server/service_agents_extensions_test.go
  bin-api-manager/server/tags_test.go
  bin-api-manager/server/transcripts_test.go
  bin-api-manager/server/transfers_test.go
  bin-api-manager/server/trunks_test.go
  bin-billing-manager/go.sum
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/subscribehandler/message_test.go
  bin-billing-manager/pkg/subscribehandler/number_test.go
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager

Fixed common
  bin-agent-manager/go.sum
  bin-ai-manager/go.sum
  bin-billing-manager/go.sum
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar_test.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_trunk_test.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-campaign-manager/pkg/campaignhandler/campaign_test.go
  bin-campaign-manager/pkg/campaignhandler/status_run_test.go
  bin-common-handler/pkg/requesthandler/campaign_campaigncalls_test.go
  bin-common-handler/pkg/requesthandler/campaign_campaigns_test.go
  bin-common-handler/pkg/requesthandler/campaign_outplans_test.go
  bin-common-handler/pkg/requesthandler/conversation_accounts_test.go
  bin-common-handler/pkg/requesthandler/conversation_conversations_test.go
  bin-common-handler/pkg/requesthandler/message_message_test.go
  bin-common-handler/pkg/requesthandler/nunmber_number_test.go
  bin-common-handler/pkg/requesthandler/outdial_outdials_test.go
  bin-common-handler/pkg/requesthandler/queue_queue_test.go
  bin-common-handler/pkg/requesthandler/queue_queuecall_test.go
  bin-common-handler/pkg/requesthandler/registrar_extensions_test.go
  bin-common-handler/pkg/requesthandler/registrar_trunks_test.go
  bin-common-handler/pkg/requesthandler/tag_tag_test.go
  bin-common-handler/pkg/requesthandler/transfer_transfer_test.go
  bin-conversation-manager/pkg/smshandler/send_test.go
  bin-message-manager/pkg/messagehandler/hook_test.go
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-common-handler, run-bin-conversation-manager, run-bin-message-manager

WIP
  bin-ai-manager/pkg/summaryhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
Due: run-bin-flow-manager

Fixed flow
  bin-flow-manager/go.sum
  bin-flow-manager/models/action/action.go
  bin-flow-manager/models/action/option_test.go
  bin-flow-manager/models/flow/flow_test.go
  bin-flow-manager/pkg/actionhandler/action.go
  bin-flow-manager/pkg/actionhandler/action_test.go
  bin-flow-manager/pkg/actionhandler/generate_test.go
  bin-flow-manager/pkg/activeflowhandler/action_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/execute_test.go
  bin-flow-manager/pkg/activeflowhandler/generate.go
  bin-flow-manager/pkg/activeflowhandler/generate_test.go
  bin-flow-manager/pkg/dbhandler/flows_test.go
  bin-flow-manager/pkg/listenhandler/v1_flows_test.go
  bin-flow-manager/pkg/stackmaphandler/action_test.go
  bin-flow-manager/pkg/variablehandler/main.go
  bin-flow-manager/pkg/variablehandler/mock_main.go
  bin-flow-manager/pkg/variablehandler/substitute.go
  bin-flow-manager/pkg/variablehandler/substitute_test.go
  bin-flow-manager/pkg/variablehandler/variable.go
Due: run-bin-flow-manager

WIP
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-call-manager/go.sum
  bin-call-manager/pkg/callhandler/action.go
  bin-call-manager/pkg/callhandler/action_test.go
  bin-call-manager/pkg/callhandler/digit.go
  bin-call-manager/pkg/callhandler/digit_test.go
  bin-call-manager/pkg/callhandler/media_test.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar_test.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_trunk.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_trunk_test.go
  bin-call-manager/pkg/dbhandler/call_test.go
  bin-flow-manager/go.sum
  bin-flow-manager/models/action/option.go
  bin-flow-manager/models/action/option_test.go
  bin-hook-manager/go.mod
  bin-hook-manager/go.sum
  bin-queue-manager/pkg/queuecallhandler/execute.go
  bin-queue-manager/pkg/queuecallhandler/execute_test.go
  bin-queue-manager/pkg/queuecallhandler/service.go
  bin-queue-manager/pkg/queuecallhandler/service_test.go
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-transfer-manager/pkg/transferhandler/transfer.go
  bin-transfer-manager/pkg/transferhandler/transfer_test.go
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-bin-api-manager, run-bin-call-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-queue-manager, run-bin-storage-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-voip-asterisk-proxy

WIP
  bin-api-manager/go.sum
  bin-api-manager/server/campaigns_test.go
  bin-api-manager/server/main.go
  bin-api-manager/server/main_test.go
  bin-call-manager/go.sum
  bin-campaign-manager/pkg/campaignhandler/campaign.go
  bin-campaign-manager/pkg/campaignhandler/campaign_test.go
  bin-conference-manager/pkg/conferencecallhandler/service.go
  bin-conference-manager/pkg/conferencecallhandler/service_test.go
  bin-conference-manager/pkg/conferencehandler/conference.go
  bin-conference-manager/pkg/conferencehandler/conference_test.go
Due: run-bin-api-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager

WIP
  bin-api-manager/go.sum
  bin-call-manager/models/call/call.go
  bin-call-manager/models/call/webhook.go
  bin-call-manager/models/groupcall/main.go
  bin-call-manager/models/groupcall/webhook.go
  bin-call-manager/models/recording/recording.go
  bin-call-manager/models/recording/webhook.go
  bin-call-manager/pkg/listenhandler/v1_calls_test.go
  bin-call-manager/pkg/listenhandler/v1_groupcalls_test.go
  bin-call-manager/pkg/listenhandler/v1_recordings_test.go
Due: run-bin-api-manager, run-bin-call-manager

WIP
  bin-api-manager/go.sum
  bin-api-manager/server/calls_test.go
  bin-api-manager/server/groupcalls_test.go
  bin-api-manager/server/recordings_test.go
  bin-api-manager/server/service_agents_calls_test.go
Due: run-bin-api-manager

Fixed
  bin-api-manager/go.sum
Due: run-bin-api-manager

Fixed
  bin-call-manager/models/groupcall/main.go
  bin-flow-manager/models/action/option_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/generate.go
Due: run-bin-call-manager, run-bin-flow-manager

Fixed
  bin-storage-manager/k8s/deployment.yml
Due: run-bin-storage-manager

Fixed
  bin-call-manager/pkg/recordinghandler/recording.go
Due: run-bin-call-manager
