Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-pipecat-pod-ping-design: add ping endpoint
  bin-pipecat-manager/models/pipecatcall/ping.go
  bin-pipecat-manager/pkg/listenhandler/main.go
  bin-pipecat-manager/pkg/listenhandler/v1_ping.go
  bin-pipecat-manager/pkg/listenhandler/v1_ping_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/ping.go
  bin-pipecat-manager/pkg/pipecatcallhandler/ping_test.go
Due: none

NOJIRA-pipecat-pod-ping-design: fix ping handler log levels
  bin-pipecat-manager/pkg/listenhandler/v1_ping.go
Due: none

NOJIRA-typed-rpc-pr5-conversation
  bin-common-handler/models/outline/servicename.go
  bin-conversation-manager/pkg/accounthandler/db.go
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/listenhandler/error_response_test.go
  bin-conversation-manager/pkg/listenhandler/main.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts_test.go
  bin-conversation-manager/pkg/messagehandler/db.go
Due: run-bin-common-handler, run-bin-conversation-manager

NOJIRA-pipecat-pod-ping-design: add PipecatV1Ping client method
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/pipecat_ping.go
  bin-common-handler/pkg/requesthandler/pipecat_ping_test.go
Due: run-bin-common-handler

NOJIRA-typed-rpc-pr6-customer
  bin-customer-manager/pkg/accesskeyhandler/db.go
  bin-customer-manager/pkg/customerhandler/db.go
  bin-customer-manager/pkg/listenhandler/error_response_test.go
  bin-customer-manager/pkg/listenhandler/main.go
Due: run-bin-customer-manager

NOJIRA-typed-rpc-pr7-agent
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/listenhandler/error_response_test.go
  bin-agent-manager/pkg/listenhandler/main.go
  bin-agent-manager/pkg/listenhandler/v1_password_forgot.go
  bin-agent-manager/pkg/listenhandler/v1_password_forgot_test.go
Due: run-bin-agent-manager

NOJIRA-pipecat-pod-ping-design: address PipecatV1Ping review fixes
  bin-common-handler/pkg/requesthandler/pipecat_ping.go
  bin-common-handler/pkg/requesthandler/pipecat_ping_test.go
Due: run-bin-common-handler

NOJIRA-typed-rpc-pr8-number
  bin-number-manager/pkg/listenhandler/error_response_test.go
  bin-number-manager/pkg/listenhandler/main.go
  bin-number-manager/pkg/numberhandler/number.go
Due: run-bin-number-manager

NOJIRA-typed-rpc-pr9-message
  bin-message-manager/pkg/listenhandler/error_response_test.go
  bin-message-manager/pkg/listenhandler/main.go
  bin-message-manager/pkg/messagehandler/message.go
Due: run-bin-message-manager

NOJIRA-pipecat-pod-ping-design: gate chat MessageSend with preflight ping
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/ping.go
  bin-ai-manager/pkg/aicallhandler/ping_test.go
  bin-ai-manager/pkg/aicallhandler/send.go
  bin-ai-manager/pkg/aicallhandler/send_test.go
Due: none

NOJIRA-typed-rpc-pr10-email
  bin-email-manager/pkg/emailhandler/email.go
  bin-email-manager/pkg/listenhandler/error_response_test.go
  bin-email-manager/pkg/listenhandler/main.go
Due: run-bin-email-manager

NOJIRA-pipecat-pod-ping-design: address final-review feedback
  bin-ai-manager/pkg/aicallhandler/ping.go
  bin-ai-manager/pkg/aicallhandler/send.go
  bin-ai-manager/pkg/aicallhandler/send_test.go
  bin-common-handler/pkg/requesthandler/pipecat_ping.go
Due: run-bin-common-handler

NOJIRA-pipecat-pod-ping-design (#832)
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/ping.go
  bin-ai-manager/pkg/aicallhandler/ping_test.go
  bin-ai-manager/pkg/aicallhandler/send.go
  bin-ai-manager/pkg/aicallhandler/send_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/pipecat_ping.go
  bin-common-handler/pkg/requesthandler/pipecat_ping_test.go
  bin-pipecat-manager/models/pipecatcall/ping.go
  bin-pipecat-manager/pkg/listenhandler/main.go
  bin-pipecat-manager/pkg/listenhandler/v1_ping.go
  bin-pipecat-manager/pkg/listenhandler/v1_ping_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/ping.go
  bin-pipecat-manager/pkg/pipecatcallhandler/ping_test.go
  docs/plans/2026-04-26-pipecat-pod-ping-design.md
  docs/plans/2026-04-26-pipecat-pod-ping-plan.md
Due: run-bin-common-handler

NOJIRA-typed-rpc-pr11-campaign
  bin-campaign-manager/pkg/campaigncallhandler/campaigncall.go
  bin-campaign-manager/pkg/campaignhandler/campaign.go
  bin-campaign-manager/pkg/listenhandler/error_response_test.go
  bin-campaign-manager/pkg/listenhandler/main.go
  bin-campaign-manager/pkg/outplanhandler/outplan.go
Due: run-bin-campaign-manager

NOJIRA-typed-rpc-pr12-outdial
  bin-outdial-manager/pkg/listenhandler/error_response_test.go
  bin-outdial-manager/pkg/listenhandler/main.go
  bin-outdial-manager/pkg/outdialhandler/outdial.go
  bin-outdial-manager/pkg/outdialtargethandler/outdialtarget.go
Due: run-bin-outdial-manager

NOJIRA-typed-rpc-pr13-queue
  bin-queue-manager/pkg/listenhandler/error_response_test.go
  bin-queue-manager/pkg/listenhandler/main.go
  bin-queue-manager/pkg/queuecallhandler/db.go
  bin-queue-manager/pkg/queuehandler/db.go
Due: run-bin-queue-manager

NOJIRA-typed-rpc-pr14-ai
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aihandler/db.go
  bin-ai-manager/pkg/listenhandler/error_response_test.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/summaryhandler/db.go
  bin-ai-manager/pkg/teamhandler/handler.go
Due: none

NOJIRA-typed-rpc-pr15-rag
  bin-rag-manager/pkg/dbhandler/document.go
  bin-rag-manager/pkg/dbhandler/main.go
  bin-rag-manager/pkg/dbhandler/rag.go
  bin-rag-manager/pkg/listenhandler/error_response_test.go
  bin-rag-manager/pkg/listenhandler/main.go
  bin-rag-manager/pkg/raghandler/document.go
  bin-rag-manager/pkg/raghandler/rag.go
Due: none

NOJIRA-typed-rpc-pr16-tts
  bin-tts-manager/pkg/dbhandler/main.go
  bin-tts-manager/pkg/dbhandler/main_test.go
  bin-tts-manager/pkg/dbhandler/speaking.go
  bin-tts-manager/pkg/dbhandler/streaming.go
  bin-tts-manager/pkg/listenhandler/error_response_test.go
  bin-tts-manager/pkg/listenhandler/main.go
  bin-tts-manager/pkg/speakinghandler/speaking.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-tts-manager

NOJIRA-typed-rpc-pr17-transcribe
  bin-transcribe-manager/pkg/listenhandler/error_response_test.go
  bin-transcribe-manager/pkg/listenhandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/streaming.go
  bin-transcribe-manager/pkg/transcribehandler/transcribe.go
Due: run-bin-transcribe-manager

NOJIRA-typed-rpc-pr18-storage
  bin-storage-manager/pkg/accounthandler/account.go
  bin-storage-manager/pkg/filehandler/file.go
  bin-storage-manager/pkg/listenhandler/error_response_test.go
  bin-storage-manager/pkg/listenhandler/main.go
Due: run-bin-storage-manager

NOJIRA-typed-rpc-pr19-pipecat
  bin-pipecat-manager/models/message/main_test.go
  bin-pipecat-manager/pkg/listenhandler/error_response_test.go
  bin-pipecat-manager/pkg/listenhandler/main.go
  bin-pipecat-manager/pkg/listenhandler/models/request/main_test.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_messages_test.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatcall.go
Due: none

NOJIRA-typed-rpc-pr2-call (#823)
  bin-call-manager/pkg/callhandler/db.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/confbridgehandler/db.go
  bin-call-manager/pkg/externalmediahandler/db.go
  bin-call-manager/pkg/groupcallhandler/db.go
  bin-call-manager/pkg/listenhandler/error_response_test.go
  bin-call-manager/pkg/listenhandler/main.go
  bin-call-manager/pkg/listenhandler/main_test.go
  bin-call-manager/pkg/listenhandler/v1_calls.go
  bin-call-manager/pkg/listenhandler/v1_channels.go
  bin-call-manager/pkg/listenhandler/v1_external_medias.go
  bin-call-manager/pkg/listenhandler/v1_recordings.go
  bin-call-manager/pkg/recordinghandler/db.go
Due: run-bin-call-manager

NOJIRA-typed-rpc-pr3-flow (#824)
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/listenhandler/error_response_test.go
  bin-flow-manager/pkg/listenhandler/main.go
Due: run-bin-flow-manager

NOJIRA-typed-rpc-pr4-conference (#825)
  bin-conference-manager/pkg/conferencecallhandler/db.go
  bin-conference-manager/pkg/conferencehandler/conference.go
  bin-conference-manager/pkg/listenhandler/error_response_test.go
  bin-conference-manager/pkg/listenhandler/main.go
Due: run-bin-conference-manager

NOJIRA-typed-rpc-pr5-conversation (#826)
  bin-common-handler/models/outline/servicename.go
  bin-conversation-manager/pkg/accounthandler/db.go
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/listenhandler/error_response_test.go
  bin-conversation-manager/pkg/listenhandler/main.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts_test.go
  bin-conversation-manager/pkg/messagehandler/db.go
Due: run-bin-common-handler, run-bin-conversation-manager

NOJIRA-typed-rpc-pr6-customer (#827)
  bin-customer-manager/pkg/accesskeyhandler/db.go
  bin-customer-manager/pkg/customerhandler/db.go
  bin-customer-manager/pkg/listenhandler/error_response_test.go
  bin-customer-manager/pkg/listenhandler/main.go
Due: run-bin-customer-manager

NOJIRA-typed-rpc-pr7-agent (#828)
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/listenhandler/error_response_test.go
  bin-agent-manager/pkg/listenhandler/main.go
  bin-agent-manager/pkg/listenhandler/v1_password_forgot.go
  bin-agent-manager/pkg/listenhandler/v1_password_forgot_test.go
Due: run-bin-agent-manager

NOJIRA-typed-rpc-pr8-number (#829)
  bin-number-manager/pkg/listenhandler/error_response_test.go
  bin-number-manager/pkg/listenhandler/main.go
  bin-number-manager/pkg/numberhandler/number.go
Due: run-bin-number-manager

NOJIRA-typed-rpc-pr9-message (#830)
  bin-message-manager/pkg/listenhandler/error_response_test.go
  bin-message-manager/pkg/listenhandler/main.go
  bin-message-manager/pkg/messagehandler/message.go
Due: run-bin-message-manager

NOJIRA-typed-rpc-pr10-email (#831)
  bin-email-manager/pkg/emailhandler/email.go
  bin-email-manager/pkg/listenhandler/error_response_test.go
  bin-email-manager/pkg/listenhandler/main.go
Due: run-bin-email-manager

NOJIRA-typed-rpc-pr11-campaign (#833)
  bin-campaign-manager/pkg/campaigncallhandler/campaigncall.go
  bin-campaign-manager/pkg/campaignhandler/campaign.go
  bin-campaign-manager/pkg/listenhandler/error_response_test.go
  bin-campaign-manager/pkg/listenhandler/main.go
  bin-campaign-manager/pkg/outplanhandler/outplan.go
Due: run-bin-campaign-manager

NOJIRA-typed-rpc-pr12-outdial (#834)
  bin-outdial-manager/pkg/listenhandler/error_response_test.go
  bin-outdial-manager/pkg/listenhandler/main.go
  bin-outdial-manager/pkg/outdialhandler/outdial.go
  bin-outdial-manager/pkg/outdialtargethandler/outdialtarget.go
Due: run-bin-outdial-manager

NOJIRA-typed-rpc-pr13-queue (#835)
  bin-queue-manager/pkg/listenhandler/error_response_test.go
  bin-queue-manager/pkg/listenhandler/main.go
  bin-queue-manager/pkg/queuecallhandler/db.go
  bin-queue-manager/pkg/queuehandler/db.go
Due: run-bin-queue-manager

NOJIRA-typed-rpc-pr14-ai (#836)
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aihandler/db.go
  bin-ai-manager/pkg/listenhandler/error_response_test.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/summaryhandler/db.go
  bin-ai-manager/pkg/teamhandler/handler.go
Due: none

NOJIRA-typed-rpc-pr15-rag (#837)
  bin-rag-manager/pkg/dbhandler/document.go
  bin-rag-manager/pkg/dbhandler/main.go
  bin-rag-manager/pkg/dbhandler/rag.go
  bin-rag-manager/pkg/listenhandler/error_response_test.go
  bin-rag-manager/pkg/listenhandler/main.go
  bin-rag-manager/pkg/raghandler/document.go
  bin-rag-manager/pkg/raghandler/rag.go
Due: none

NOJIRA-typed-rpc-pr16-tts (#838)
  bin-tts-manager/pkg/dbhandler/main.go
  bin-tts-manager/pkg/dbhandler/main_test.go
  bin-tts-manager/pkg/dbhandler/speaking.go
  bin-tts-manager/pkg/dbhandler/streaming.go
  bin-tts-manager/pkg/listenhandler/error_response_test.go
  bin-tts-manager/pkg/listenhandler/main.go
  bin-tts-manager/pkg/speakinghandler/speaking.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-tts-manager

NOJIRA-typed-rpc-pr17-transcribe (#839)
  bin-transcribe-manager/pkg/listenhandler/error_response_test.go
  bin-transcribe-manager/pkg/listenhandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/streaming.go
  bin-transcribe-manager/pkg/transcribehandler/transcribe.go
Due: run-bin-transcribe-manager

NOJIRA-typed-rpc-pr18-storage (#840)
  bin-storage-manager/pkg/accounthandler/account.go
  bin-storage-manager/pkg/filehandler/file.go
  bin-storage-manager/pkg/listenhandler/error_response_test.go
  bin-storage-manager/pkg/listenhandler/main.go
Due: run-bin-storage-manager

NOJIRA-typed-rpc-pr19-pipecat (#841)
  bin-pipecat-manager/models/message/main_test.go
  bin-pipecat-manager/pkg/listenhandler/error_response_test.go
  bin-pipecat-manager/pkg/listenhandler/main.go
  bin-pipecat-manager/pkg/listenhandler/models/request/main_test.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_messages_test.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatcall.go
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
