Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

Close out dbscheme migration-lint design doc checklist
  docs/plans/2026-07-18-dbscheme-pr-migration-validation-job-design.md
Due: none

VOIP-1267-webchat-session-flow-conversation-variables
  bin-conversation-manager/pkg/conversationhandler/create_and_execute_flow.go
  bin-conversation-manager/pkg/conversationhandler/create_and_execute_flow_test.go
  bin-conversation-manager/pkg/conversationhandler/execute_mode_test.go
  bin-conversation-manager/pkg/conversationhandler/hook_test.go
  bin-conversation-manager/pkg/conversationhandler/message_test.go
  bin-conversation-manager/pkg/conversationhandler/variable.go
Due: run-bin-conversation-manager

Harden CreateAndExecuteFlow tests: order + value assertions
  bin-conversation-manager/pkg/conversationhandler/create_and_execute_flow_test.go
Due: run-bin-conversation-manager

Add webchat support to conversation-manager's message Send dispatcher
  bin-conversation-manager/cmd/conversation-control/main.go
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-conversation-manager/pkg/messagehandler/main.go
  bin-conversation-manager/pkg/messagehandler/send.go
  bin-conversation-manager/pkg/messagehandler/send_test.go
Due: run-bin-conversation-manager

Guard sendWebchat against messageEventSentWebchat race on the same ID
  bin-conversation-manager/pkg/messagehandler/send.go
  bin-conversation-manager/pkg/messagehandler/send_test.go
Due: run-bin-conversation-manager

VOIP-1267-webchat-session-flow-conversation-variables
  bin-conversation-manager/cmd/conversation-control/main.go
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-conversation-manager/pkg/conversationhandler/create_and_execute_flow.go
  bin-conversation-manager/pkg/conversationhandler/create_and_execute_flow_test.go
  bin-conversation-manager/pkg/conversationhandler/execute_mode_test.go
  bin-conversation-manager/pkg/conversationhandler/hook_test.go
  bin-conversation-manager/pkg/conversationhandler/message_test.go
  bin-conversation-manager/pkg/conversationhandler/variable.go
  bin-conversation-manager/pkg/messagehandler/main.go
  bin-conversation-manager/pkg/messagehandler/send.go
  bin-conversation-manager/pkg/messagehandler/send_test.go
Due: run-bin-conversation-manager

Add webchat welcome message flow consolidation design
  docs/plans/2026-07-18-webchat-welcome-message-flow-consolidation-design.md
Due: none

Round 1 review: add missing requesthandler/servicehandler layers
  docs/plans/2026-07-18-webchat-welcome-message-flow-consolidation-design.md
Due: none

Round 3 review: capture non-blocking risk notes, close design loop
  docs/plans/2026-07-18-webchat-welcome-message-flow-consolidation-design.md
Due: none

Round 1 review: gofmt-clean stale alignment after field removal
  bin-webchat-manager/models/widget/field.go
  bin-webchat-manager/models/widget/webhook.go
  bin-webchat-manager/pkg/dbhandler/widget_test.go
  bin-webchat-manager/pkg/widgethandler/create.go
  bin-webchat-manager/pkg/widgethandler/create_test.go
Due: none

Round 2 review: fix tautological DeepEqual in new regression test
  bin-webchat-manager/pkg/sessionhandler/create_test.go
Due: none

Round 4 review: document auto-mode sandboxing safety, matchMedia test mock, auto-mode reactivity limitation
  docs/plans/2026-07-18-webchat-widget-appearance-expansion-design.md
Due: none

Round 5 review: fix wording nit, close design review loop
  docs/plans/2026-07-18-webchat-widget-appearance-expansion-design.md
Due: none

Add webchat widget appearance expansion design
  docs/plans/2026-07-18-webchat-widget-appearance-expansion-design.md
Due: none

WIP: ThemeConfig struct expansion (pre-rebase checkpoint)
  bin-webchat-manager/models/widget/widget.go
Due: none

Round 1 review: fix WidgetPreview.js hardcode, RST doc, field count
  docs/plans/2026-07-18-webchat-widget-appearance-expansion-design.md
Due: none

Round 3 review: fix dark-mode/inline-style architecture collision
  docs/plans/2026-07-18-webchat-widget-appearance-expansion-design.md
Due: none

Add server-side theme_config validation (round-1 review fix)
  bin-api-manager/docsdev/source/webchat_struct_widget.rst
  bin-api-manager/server/webchat_widgets.go
  bin-api-manager/server/webchat_widgets_test.go
Due: run-bin-api-manager

Add webchat message-flow owner migration design doc
  docs/plans/2026-07-18-webchat-message-flow-owner-migration-design.md
Due: none

Move webchat MessageFlowID Flow-trigger ownership to conversation-manager
  bin-conversation-manager/pkg/conversationhandler/event_webchat.go
  bin-conversation-manager/pkg/conversationhandler/event_webchat_test.go
  bin-conversation-manager/pkg/conversationhandler/execute_mode.go
  bin-conversation-manager/pkg/conversationhandler/execute_mode_test.go
  bin-flow-manager/models/activeflow/activeflow.go
  bin-webchat-manager/go.mod
  bin-webchat-manager/pkg/messagehandler/create.go
  bin-webchat-manager/pkg/messagehandler/create_test.go
Due: run-bin-conversation-manager, run-bin-flow-manager

Clarify §7 rollout sequencing uses CI approval gates, not a PR split
  docs/plans/2026-07-18-webchat-message-flow-owner-migration-design.md
Due: none

Note bin-flow-manager's incidental pipeline trigger in §7
  docs/plans/2026-07-18-webchat-message-flow-owner-migration-design.md
Due: none

NOJIRA-Webchat-message-flow-owner-migration (#1117)
  bin-conversation-manager/pkg/conversationhandler/event_webchat.go
  bin-conversation-manager/pkg/conversationhandler/event_webchat_test.go
  bin-conversation-manager/pkg/conversationhandler/execute_mode.go
  bin-conversation-manager/pkg/conversationhandler/execute_mode_test.go
  bin-flow-manager/models/activeflow/activeflow.go
  bin-webchat-manager/go.mod
  bin-webchat-manager/pkg/messagehandler/create.go
  bin-webchat-manager/pkg/messagehandler/create_test.go
  docs/plans/2026-07-18-webchat-message-flow-owner-migration-design.md
Due: run-bin-conversation-manager, run-bin-flow-manager

Fix zmqsubhandler Unsubscribe slice.Delete panic in api-manager
  bin-api-manager/pkg/zmqsubhandler/subscribe.go
  bin-api-manager/pkg/zmqsubhandler/subscribe_test.go
Due: run-bin-api-manager

Add idx==1 boundary regression test for zmqsubhandler.Unsubscribe
  bin-api-manager/pkg/zmqsubhandler/subscribe_test.go
Due: run-bin-api-manager

NOJIRA-Fix-zmqsub-unsubscribe-slice-panic (#1119)
  bin-api-manager/pkg/zmqsubhandler/subscribe.go
  bin-api-manager/pkg/zmqsubhandler/subscribe_test.go
Due: run-bin-api-manager

NOJIRA-Webchat-widget-indicators-and-shape-options design doc
  docs/plans/2026-07-19-webchat-widget-indicators-and-shape-options-design.md
Due: none

NOJIRA-Webchat-widget-indicators-and-shape-options design doc round 1 fixes
  docs/plans/2026-07-19-webchat-widget-indicators-and-shape-options-design.md
Due: none

NOJIRA-Webchat-widget-indicators-and-shape-options design doc round 2: 3/3 APPROVE
  docs/plans/2026-07-19-webchat-widget-indicators-and-shape-options-design.md
Due: none

NOJIRA-Webchat-widget-indicators-and-shape-options design doc round 3: APPROVED, ready for implementation
  docs/plans/2026-07-19-webchat-widget-indicators-and-shape-options-design.md
Due: none

NOJIRA-Webchat-widget-indicators-and-shape-options design doc round 3: APPROVE, review loop closed
  docs/plans/2026-07-19-webchat-widget-indicators-and-shape-options-design.md
Due: none

NOJIRA-Webchat-widget-indicators-and-shape-options (#1120)
  docs/plans/2026-07-19-webchat-widget-indicators-and-shape-options-design.md
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
