Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Fix-empty-string-time-parsing-in-message-scanner (#471)
  bin-common-handler/pkg/databasehandler/mapping.go
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

NOJIRA-Add-billing-manager-handler-tests
  bin-billing-manager/pkg/accounthandler/balance_test.go
  bin-billing-manager/pkg/accounthandler/db_test.go
  bin-billing-manager/pkg/accounthandler/event_test.go
  bin-billing-manager/pkg/accounthandler/resource_limit_test.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/db_test.go
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/credithandler/run_test.go
Due: run-bin-billing-manager

NOJIRA-Add-billing-manager-handler-tests (#472)
  bin-billing-manager/pkg/accounthandler/balance_test.go
  bin-billing-manager/pkg/accounthandler/db_test.go
  bin-billing-manager/pkg/accounthandler/event_test.go
  bin-billing-manager/pkg/accounthandler/resource_limit_test.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/db_test.go
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/credithandler/run_test.go
Due: run-bin-billing-manager

NOJIRA-Redeploy-conversation-manager
  bin-conversation-manager/README.md
Due: run-bin-conversation-manager

NOJIRA-Add-virtual-number-comparison-diagrams
  bin-api-manager/docsdev/source/number_overview.rst
Due: run-bin-api-manager

NOJIRA-Add-virtual-number-comparison-diagrams (#475)
  bin-api-manager/docsdev/source/number_overview.rst
Due: run-bin-api-manager

NOJIRA-Fix-number-docs-cleanup
  bin-api-manager/docsdev/source/number_overview.rst
Due: run-bin-api-manager

NOJIRA-Add-batch-tts-provider-voice-selection-edge-case-tests
  bin-call-manager/pkg/callhandler/action_test.go
  bin-call-manager/pkg/callhandler/media_test.go
  bin-tts-manager/pkg/audiohandler/aws_test.go
  bin-tts-manager/pkg/ttshandler/tts_test.go
Due: run-bin-call-manager, run-bin-tts-manager

NOJIRA-Add-batch-tts-provider-voice-selection
  bin-api-manager/docsdev/source/activeflow_tutorial.rst
  bin-api-manager/docsdev/source/call_media.rst
  bin-api-manager/docsdev/source/call_struct_call.rst
  bin-api-manager/docsdev/source/call_tutorial.rst
  bin-api-manager/docsdev/source/campaign_struct_campaign.rst
  bin-api-manager/docsdev/source/campaign_tutorial.rst
  bin-api-manager/docsdev/source/conference_struct_conference.rst
  bin-api-manager/docsdev/source/flow_struct_action.rst
  bin-api-manager/docsdev/source/flow_tutorial_basic.rst
  bin-api-manager/docsdev/source/flow_tutorial_scenario.rst
  bin-api-manager/docsdev/source/queue_tutorial.rst
  bin-api-manager/docsdev/source/quickstart_call.rst
  bin-api-manager/docsdev/source/quickstart_queue.rst
  bin-api-manager/docsdev/source/webhook_struct_webhook.rst
Due: run-bin-api-manager

NOJIRA-Add-tts-provider-fallback
  bin-api-manager/docsdev/source/call_media.rst
  bin-api-manager/docsdev/source/flow_struct_action.rst
  bin-openapi-manager/openapi/paths/calls/id_talk.yaml
  bin-tts-manager/pkg/audiohandler/audio.go
  bin-tts-manager/pkg/audiohandler/audio_test.go
  bin-tts-manager/pkg/ttshandler/main.go
  bin-tts-manager/pkg/ttshandler/tts.go
  bin-tts-manager/pkg/ttshandler/tts_test.go
  docs/plans/2026-02-13-tts-provider-fallback-design.md
Due: run-bin-api-manager, run-bin-openapi-manager, run-bin-tts-manager

NOJIRA-Add-speaking-api
  docs/plans/2026-02-14-speaking-api-design.md
Due: none

NOJIRA-Add-speaking-api
  bin-dbscheme-manager/bin-manager/main/versions/b2c3d4e5f6a7_add_tts_manager_speaking.py
Due: none

NOJIRA-Add-speaking-api
  bin-tts-manager/pkg/listenhandler/main.go
Due: run-bin-tts-manager

NOJIRA-Add-speaking-api
  bin-tts-manager/cmd/tts-manager/main.go
Due: run-bin-tts-manager

NOJIRA-Add-speaking-api
  bin-tts-manager/pkg/speakinghandler/speaking.go
  bin-tts-manager/pkg/speakinghandler/speaking_test.go
Due: run-bin-tts-manager

NOJIRA-Add-speaking-api
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/speaking.go
  bin-api-manager/pkg/servicehandler/speaking_test.go
  bin-api-manager/server/speakings.go
  bin-tts-manager/pkg/dbhandler/speaking.go
  bin-tts-manager/pkg/speakinghandler/speaking.go
  bin-tts-manager/pkg/speakinghandler/speaking_test.go
  bin-tts-manager/pkg/streaminghandler/say.go
Due: run-bin-api-manager, run-bin-tts-manager

NOJIRA-Add-speaking-api
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/server/speakings.go
  bin-common-handler/pkg/requesthandler/tts_speakings.go
  bin-dbscheme-manager/bin-manager/main/versions/c3d4e5f6a7b8_add_speaking_composite_index.py
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-tts-manager/pkg/listenhandler/main.go
  bin-tts-manager/pkg/listenhandler/v1_speakings.go
  bin-tts-manager/pkg/speakinghandler/speaking.go
  bin-tts-manager/pkg/speakinghandler/speaking_test.go
  docs/plans/2026-02-14-speaking-api-design.md
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager, run-bin-tts-manager

NOJIRA-Add-speaking-api
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/speakings.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/paths/speakings/main.yaml
  bin-tts-manager/pkg/speakinghandler/speaking.go
  bin-tts-manager/pkg/speakinghandler/speaking_test.go
Due: run-bin-api-manager, run-bin-openapi-manager, run-bin-tts-manager

NOJIRA-Add-speaking-api
  bin-api-manager/pkg/servicehandler/speaking_test.go
  bin-api-manager/server/speakings.go
  bin-tts-manager/models/speaking/speaking.go
  bin-tts-manager/pkg/dbhandler/speaking.go
  bin-tts-manager/pkg/speakinghandler/speaking_test.go
Due: run-bin-api-manager, run-bin-tts-manager

NOJIRA-Change-virtual-number-prefix-899
  bin-api-manager/docsdev/source/number_overview.rst
  bin-api-manager/docsdev/source/number_struct_number.rst
  bin-api-manager/docsdev/source/number_tutorial.rst
Due: run-bin-api-manager

NOJIRA-Change-virtual-number-prefix-899
  bin-number-manager/cmd/number-control/main.go
  bin-number-manager/models/number/validate.go
  bin-number-manager/models/number/validate_test.go
  bin-number-manager/pkg/numberhandler/available_number.go
  bin-number-manager/pkg/numberhandler/number_test.go
Due: run-bin-number-manager

NOJIRA-Change-virtual-number-prefix-899
  bin-api-manager/server/available_numbers_test.go
Due: run-bin-api-manager

NOJIRA-Change-virtual-number-prefix-899
  bin-dbscheme-manager/bin-manager/main/versions/fd9ebdbd7baa_number_update_virtual_prefix_899.py
Due: none

NOJIRA-Change-virtual-number-prefix-899
  docs/plans/2026-02-10-virtual-number-design.md
  docs/plans/2026-02-14-virtual-number-prefix-change-design.md
  docs/plans/2026-02-14-virtual-number-prefix-change-plan.md
Due: none

NOJIRA-Fix-nil-slice-empty-list-responses
  bin-billing-manager/pkg/dbhandler/failed_event.go
  bin-contact-manager/pkg/dbhandler/contact.go
  bin-conversation-manager/pkg/dbhandler/message.go
  bin-tag-manager/pkg/dbhandler/tag.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/message.go
  bin-talk-manager/pkg/dbhandler/participant.go
  bin-timeline-manager/pkg/dbhandler/event.go
  bin-tts-manager/pkg/dbhandler/speaking.go
Due: run-bin-billing-manager, run-bin-conversation-manager, run-bin-tag-manager, run-bin-tts-manager

NOJIRA-Fix-nil-slice-empty-list-responses
  CLAUDE.md
Due: none

NOJIRA-Fix-nil-slice-empty-list-responses
  bin-contact-manager/pkg/dbhandler/email.go
  bin-contact-manager/pkg/dbhandler/phone_number.go
  bin-contact-manager/pkg/dbhandler/tag_assignment.go
  bin-number-manager/pkg/dbhandler/number.go
Due: run-bin-number-manager

NOJIRA-Fix-nil-slice-empty-list-responses
  bin-billing-manager/pkg/dbhandler/failed_event_test.go
  bin-contact-manager/pkg/dbhandler/contact_test.go
  bin-conversation-manager/pkg/dbhandler/message_test.go
  bin-number-manager/pkg/dbhandler/number_test.go
  bin-tag-manager/pkg/dbhandler/tag_test.go
  bin-talk-manager/pkg/dbhandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/message_test.go
  bin-talk-manager/pkg/dbhandler/participant_test.go
Due: run-bin-billing-manager, run-bin-conversation-manager, run-bin-number-manager, run-bin-tag-manager

NOJIRA-Simplify-verification-workflow
  CLAUDE.md
Due: none

NOJIRA-Fix-tts-audiosocket-silence-feed
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/run.go
  bin-tts-manager/pkg/streaminghandler/run_test.go
  docs/plans/2026-02-15-tts-audiosocket-silence-feed-design.md
  docs/plans/2026-02-15-tts-audiosocket-silence-feed-plan.md
Due: run-bin-tts-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
