Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

WIP
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send_test.go
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/send.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/listenhandler/models/request/services.go
Due: none

Fixed
  bin-ai-manager/models/aicall/main.go
Due: none

VOIP-1151-Add_ai_task_action (#291)
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/aicallhandler/send.go
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/models/request/services.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/pkg/listenhandler/v1_services.go
  bin-ai-manager/pkg/listenhandler/v1_services_test.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send_test.go
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/models/action/action.go
  bin-flow-manager/models/action/option.go
  bin-flow-manager/models/action/option_test.go
Due: run-bin-flow-manager

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-flow-manager/pkg/activeflowhandler/execute.go
Due: run-bin-flow-manager

WIP
  bin-flow-manager/models/action/action.go
Due: run-bin-flow-manager

WIP
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/activeflows.go
  bin-flow-manager/models/activeflow/activeflow.go
Due: run-bin-api-manager, run-bin-flow-manager

WIP
  bin-api-manager/pkg/servicehandler/activeflows_test.go
Due: run-bin-api-manager

WIP
  bin-ai-manager/pkg/aicallhandler/main.go
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
Due: none

WIP
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
Due: run-bin-flow-manager

WIP
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

WIP
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: run-bin-flow-manager

Fixed
  bin-ai-manager/pkg/aicallhandler/main.go
Due: none

Fixed
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
Due: none

VOIP-1155-Add_ai_task_action (#293)
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/activeflows.go
  bin-api-manager/pkg/servicehandler/activeflows_test.go
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/models/action/action.go
  bin-flow-manager/models/activeflow/activeflow.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-flow-manager/pkg/activeflowhandler/execute.go
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: run-bin-api-manager, run-bin-flow-manager

Fixed
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

NOJIRA-Fix_unregister_error (#294)
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/process.go
Due: none

WIP
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

Fixed
  bin-flow-manager/README.md
  bin-flow-manager/go.sum
  bin-flow-manager/models/action/action.go
  bin-flow-manager/pkg/activeflowhandler/activeflow.go
  bin-flow-manager/pkg/activeflowhandler/activeflow_test.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/execute.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/mock_main.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
Due: run-bin-flow-manager

Fixed
  bin-flow-manager/pkg/activeflowhandler/execute.go
  bin-flow-manager/pkg/activeflowhandler/execute_test.go
  bin-flow-manager/pkg/listenhandler/main.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
Due: run-bin-flow-manager

VOIP-1157-Add_activeflow_continue (#297)
  bin-flow-manager/README.md
  bin-flow-manager/go.sum
  bin-flow-manager/models/action/action.go
  bin-flow-manager/pkg/activeflowhandler/activeflow.go
  bin-flow-manager/pkg/activeflowhandler/activeflow_test.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/execute.go
  bin-flow-manager/pkg/activeflowhandler/execute_test.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/mock_main.go
  bin-flow-manager/pkg/listenhandler/main.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
Due: run-bin-flow-manager

Fixed
  bin-common-handler/pkg/requesthandler/flow_activeflow.go
  bin-common-handler/pkg/requesthandler/flow_activeflow_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-flow-manager/go.sum
Due: run-bin-common-handler, run-bin-flow-manager

Fixed
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-common-handler/pkg/requesthandler/flow_activeflow.go
  bin-common-handler/pkg/requesthandler/flow_activeflow_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-flow-manager/models/action/action.go
  bin-flow-manager/pkg/activeflowhandler/activeflow.go
  bin-flow-manager/pkg/activeflowhandler/activeflow_test.go
  bin-flow-manager/pkg/activeflowhandler/execute.go
  bin-flow-manager/pkg/activeflowhandler/execute_test.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/mock_main.go
  bin-flow-manager/pkg/listenhandler/models/request/activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
Due: run-bin-common-handler, run-bin-flow-manager

Fixed
  bin-common-handler/pkg/requesthandler/ai_aicalls_test.go
  bin-common-handler/pkg/requesthandler/ai_ais_test.go
  bin-common-handler/pkg/requesthandler/ai_messages_test.go
  bin-common-handler/pkg/requesthandler/ai_summaries_test.go
  bin-common-handler/pkg/requesthandler/ast_ami_test.go
  bin-common-handler/pkg/requesthandler/ast_channel_test.go
  bin-common-handler/pkg/requesthandler/ast_playback_test.go
  bin-common-handler/pkg/requesthandler/ast_proxy_test.go
  bin-common-handler/pkg/requesthandler/ast_recording_test.go
  bin-common-handler/pkg/requesthandler/conference_conference_test.go
  bin-common-handler/pkg/requesthandler/conference_conferencecall_test.go
  bin-common-handler/pkg/requesthandler/conversation_conversations_test.go
  bin-common-handler/pkg/requesthandler/conversation_messages_test.go
  bin-common-handler/pkg/requesthandler/flow_activeflow_test.go
Due: run-bin-common-handler

Fixed
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-flow-manager/pkg/activeflowhandler/activeflow.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows.go
Due: run-bin-flow-manager

Fixed
  bin-flow-manager/pkg/activeflowhandler/execute.go
Due: run-bin-flow-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
