Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-rename-internal-gets-to-list
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/pkg/accesskeyhandler/db.go
  bin-customer-manager/pkg/accesskeyhandler/db_test.go
  bin-customer-manager/pkg/accesskeyhandler/main.go
  bin-customer-manager/pkg/accesskeyhandler/mock_main.go
  bin-customer-manager/pkg/customerhandler/customer.go
  bin-customer-manager/pkg/customerhandler/customer_test.go
  bin-customer-manager/pkg/customerhandler/db.go
  bin-customer-manager/pkg/customerhandler/db_test.go
  bin-customer-manager/pkg/customerhandler/main.go
  bin-customer-manager/pkg/customerhandler/mock_main.go
  bin-customer-manager/pkg/dbhandler/accesskey.go
  bin-customer-manager/pkg/dbhandler/accesskey_test.go
  bin-customer-manager/pkg/dbhandler/customer.go
  bin-customer-manager/pkg/dbhandler/customer_test.go
  bin-customer-manager/pkg/dbhandler/main.go
  bin-customer-manager/pkg/dbhandler/mock_main.go
  bin-customer-manager/pkg/listenhandler/v1_accesskeys.go
  bin-customer-manager/pkg/listenhandler/v1_accesskeys_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers.go
  bin-customer-manager/pkg/listenhandler/v1_customers_test.go
Due: run-bin-customer-manager

NOJIRA-rename-internal-gets-to-list
  bin-conversation-manager/pkg/accounthandler/db.go
  bin-conversation-manager/pkg/accounthandler/db_test.go
  bin-conversation-manager/pkg/accounthandler/main.go
  bin-conversation-manager/pkg/accounthandler/mock_accounthandler.go
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/conversationhandler/db_test.go
  bin-conversation-manager/pkg/conversationhandler/main.go
  bin-conversation-manager/pkg/conversationhandler/mock_conversationhandler.go
  bin-conversation-manager/pkg/dbhandler/account.go
  bin-conversation-manager/pkg/dbhandler/account_test.go
  bin-conversation-manager/pkg/dbhandler/conversation.go
  bin-conversation-manager/pkg/dbhandler/conversation_test.go
  bin-conversation-manager/pkg/dbhandler/main.go
  bin-conversation-manager/pkg/dbhandler/message.go
  bin-conversation-manager/pkg/dbhandler/message_test.go
  bin-conversation-manager/pkg/dbhandler/mock_main.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts_test.go
  bin-conversation-manager/pkg/listenhandler/v1_conversations.go
  bin-conversation-manager/pkg/listenhandler/v1_conversations_test.go
  bin-conversation-manager/pkg/listenhandler/v1_messages.go
  bin-conversation-manager/pkg/listenhandler/v1_messages_test.go
  bin-conversation-manager/pkg/messagehandler/db.go
  bin-conversation-manager/pkg/messagehandler/db_test.go
  bin-conversation-manager/pkg/messagehandler/main.go
  bin-conversation-manager/pkg/messagehandler/mock_messagehandler.go
Due: run-bin-conversation-manager

NOJIRA-rename-internal-gets-to-list
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
  bin-flow-manager/pkg/activeflowhandler/event.go
  bin-flow-manager/pkg/activeflowhandler/event_test.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/mock_main.go
  bin-flow-manager/pkg/dbhandler/activeflow.go
  bin-flow-manager/pkg/dbhandler/activeflow_test.go
  bin-flow-manager/pkg/dbhandler/flows.go
  bin-flow-manager/pkg/dbhandler/flows_test.go
  bin-flow-manager/pkg/dbhandler/main.go
  bin-flow-manager/pkg/dbhandler/mock_main.go
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db_test.go
  bin-flow-manager/pkg/flowhandler/event.go
  bin-flow-manager/pkg/flowhandler/event_test.go
  bin-flow-manager/pkg/flowhandler/main.go
  bin-flow-manager/pkg/flowhandler/mock_main.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
  bin-flow-manager/pkg/listenhandler/v1_flows.go
  bin-flow-manager/pkg/listenhandler/v1_flows_test.go
Due: run-bin-flow-manager

NOJIRA-rename-internal-gets-to-list
  bin-campaign-manager/pkg/campaigncallhandler/campaigncall.go
  bin-campaign-manager/pkg/campaigncallhandler/campaigncall_test.go
  bin-campaign-manager/pkg/campaigncallhandler/main.go
  bin-campaign-manager/pkg/campaigncallhandler/mock_campaigncallhandler.go
  bin-campaign-manager/pkg/campaignhandler/campaign.go
  bin-campaign-manager/pkg/campaignhandler/campaign_test.go
  bin-campaign-manager/pkg/campaignhandler/eventhandle_test.go
  bin-campaign-manager/pkg/campaignhandler/execute.go
  bin-campaign-manager/pkg/campaignhandler/execute_test.go
  bin-campaign-manager/pkg/campaignhandler/main.go
  bin-campaign-manager/pkg/campaignhandler/mock_campaignhandler.go
  bin-campaign-manager/pkg/campaignhandler/status_stop.go
  bin-campaign-manager/pkg/campaignhandler/status_stop_test.go
  bin-campaign-manager/pkg/dbhandler/campaign.go
  bin-campaign-manager/pkg/dbhandler/campaign_test.go
  bin-campaign-manager/pkg/dbhandler/campaigncall.go
  bin-campaign-manager/pkg/dbhandler/campaigncall_test.go
  bin-campaign-manager/pkg/dbhandler/main.go
  bin-campaign-manager/pkg/dbhandler/mock_dbhandler.go
  bin-campaign-manager/pkg/dbhandler/outplan.go
  bin-campaign-manager/pkg/dbhandler/outplan_test.go
  bin-campaign-manager/pkg/listenhandler/campaigncalls.go
  bin-campaign-manager/pkg/listenhandler/campaigncalls_test.go
  bin-campaign-manager/pkg/listenhandler/campaigns.go
  bin-campaign-manager/pkg/listenhandler/campaigns_test.go
  bin-campaign-manager/pkg/listenhandler/outplans.go
  bin-campaign-manager/pkg/listenhandler/outplans_test.go
  bin-campaign-manager/pkg/outplanhandler/main.go
  bin-campaign-manager/pkg/outplanhandler/mock_outplanhandler.go
  bin-campaign-manager/pkg/outplanhandler/outplan.go
  bin-campaign-manager/pkg/outplanhandler/outplan_test.go
Due: run-bin-campaign-manager

NOJIRA-rename-internal-gets-to-list
  bin-chat-manager/pkg/chathandler/chat.go
  bin-chat-manager/pkg/chathandler/chat_test.go
  bin-chat-manager/pkg/chathandler/main.go
  bin-chat-manager/pkg/chathandler/mock_main.go
  bin-chat-manager/pkg/chatroomhandler/chatroom.go
  bin-chat-manager/pkg/chatroomhandler/main.go
  bin-chat-manager/pkg/chatroomhandler/mock_main.go
  bin-chat-manager/pkg/dbhandler/chat.go
  bin-chat-manager/pkg/dbhandler/chat_test.go
  bin-chat-manager/pkg/dbhandler/chatroom.go
  bin-chat-manager/pkg/dbhandler/chatroom_test.go
  bin-chat-manager/pkg/dbhandler/main.go
  bin-chat-manager/pkg/dbhandler/messagechat.go
  bin-chat-manager/pkg/dbhandler/messagechat_test.go
  bin-chat-manager/pkg/dbhandler/messagechatroom.go
  bin-chat-manager/pkg/dbhandler/messagechatroom_test.go
  bin-chat-manager/pkg/dbhandler/mock_dbhandler.go
  bin-chat-manager/pkg/listenhandler/v1_chatrooms.go
  bin-chat-manager/pkg/listenhandler/v1_chatrooms_test.go
  bin-chat-manager/pkg/listenhandler/v1_chats.go
  bin-chat-manager/pkg/listenhandler/v1_chats_test.go
  bin-chat-manager/pkg/listenhandler/v1_messagechatrooms.go
  bin-chat-manager/pkg/listenhandler/v1_messagechatrooms_test.go
  bin-chat-manager/pkg/listenhandler/v1_messagechats.go
  bin-chat-manager/pkg/listenhandler/v1_messagechats_test.go
  bin-chat-manager/pkg/messagechathandler/main.go
  bin-chat-manager/pkg/messagechathandler/messagechat.go
  bin-chat-manager/pkg/messagechathandler/messagechat_test.go
  bin-chat-manager/pkg/messagechathandler/mock_main.go
  bin-chat-manager/pkg/messagechatroomhandler/main.go
  bin-chat-manager/pkg/messagechatroomhandler/messagechatroom.go
  bin-chat-manager/pkg/messagechatroomhandler/messagechatroom_test.go
  bin-chat-manager/pkg/messagechatroomhandler/mock_main.go
Due: run-bin-chat-manager

NOJIRA-rename-internal-gets-to-list
  bin-email-manager/pkg/dbhandler/emails.go
  bin-email-manager/pkg/dbhandler/emails_test.go
  bin-email-manager/pkg/dbhandler/main.go
  bin-email-manager/pkg/dbhandler/mock_main.go
  bin-email-manager/pkg/emailhandler/email.go
  bin-email-manager/pkg/emailhandler/email_test.go
  bin-email-manager/pkg/emailhandler/main.go
  bin-email-manager/pkg/emailhandler/mock_main.go
  bin-email-manager/pkg/listenhandler/v1_emails.go
  bin-email-manager/pkg/listenhandler/v1_emails_test.go
Due: run-bin-email-manager

NOJIRA-rename-internal-gets-to-list
  bin-message-manager/pkg/dbhandler/main.go
  bin-message-manager/pkg/dbhandler/message.go
  bin-message-manager/pkg/dbhandler/message_test.go
  bin-message-manager/pkg/dbhandler/mock_main.go
  bin-message-manager/pkg/listenhandler/messages.go
  bin-message-manager/pkg/listenhandler/messages_test.go
  bin-message-manager/pkg/messagehandler/db.go
  bin-message-manager/pkg/messagehandler/db_test.go
  bin-message-manager/pkg/messagehandler/main.go
  bin-message-manager/pkg/messagehandler/message.go
  bin-message-manager/pkg/messagehandler/mock_main.go
Due: run-bin-message-manager

NOJIRA-rename-internal-gets-to-list
  bin-number-manager/cmd/number-control/main.go
  bin-number-manager/pkg/dbhandler/main.go
  bin-number-manager/pkg/dbhandler/mock_main.go
  bin-number-manager/pkg/dbhandler/number.go
  bin-number-manager/pkg/dbhandler/number_test.go
  bin-number-manager/pkg/listenhandler/v1_numbers.go
  bin-number-manager/pkg/listenhandler/v1_numbers_test.go
  bin-number-manager/pkg/numberhandler/db.go
  bin-number-manager/pkg/numberhandler/event.go
  bin-number-manager/pkg/numberhandler/event_test.go
  bin-number-manager/pkg/numberhandler/main.go
  bin-number-manager/pkg/numberhandler/mock_main.go
  bin-number-manager/pkg/numberhandler/number.go
  bin-number-manager/pkg/numberhandler/number_test.go
Due: run-bin-number-manager

NOJIRA-rename-internal-gets-to-list
  bin-outdial-manager/pkg/dbhandler/main.go
  bin-outdial-manager/pkg/dbhandler/mock_dbhandler.go
  bin-outdial-manager/pkg/dbhandler/outdial.go
  bin-outdial-manager/pkg/dbhandler/outdial_test.go
  bin-outdial-manager/pkg/dbhandler/outdialtarget.go
  bin-outdial-manager/pkg/dbhandler/outdialtarget_test.go
  bin-outdial-manager/pkg/dbhandler/outdialtargetcall.go
  bin-outdial-manager/pkg/dbhandler/outdialtargetcall_test.go
  bin-outdial-manager/pkg/listenhandler/v1_outdials.go
  bin-outdial-manager/pkg/listenhandler/v1_outdials_test.go
  bin-outdial-manager/pkg/outdialhandler/main.go
  bin-outdial-manager/pkg/outdialhandler/mock_outdialhandler.go
  bin-outdial-manager/pkg/outdialhandler/outdial.go
  bin-outdial-manager/pkg/outdialhandler/outdial_test.go
  bin-outdial-manager/pkg/outdialtargethandler/outdialtarget.go
  bin-outdial-manager/pkg/outdialtargethandler/outdialtarget_test.go
Due: run-bin-outdial-manager

NOJIRA-rename-internal-gets-to-list
  bin-queue-manager/pkg/dbhandler/main.go
  bin-queue-manager/pkg/dbhandler/mock_main.go
  bin-queue-manager/pkg/dbhandler/queue.go
  bin-queue-manager/pkg/dbhandler/queue_test.go
  bin-queue-manager/pkg/dbhandler/queuecall.go
  bin-queue-manager/pkg/dbhandler/queuecall_test.go
  bin-queue-manager/pkg/listenhandler/v1_queuecalls.go
  bin-queue-manager/pkg/listenhandler/v1_queuecalls_test.go
  bin-queue-manager/pkg/listenhandler/v1_queues.go
  bin-queue-manager/pkg/listenhandler/v1_queues_test.go
  bin-queue-manager/pkg/queuecallhandler/db.go
  bin-queue-manager/pkg/queuecallhandler/db_test.go
  bin-queue-manager/pkg/queuecallhandler/event.go
  bin-queue-manager/pkg/queuecallhandler/event_test.go
  bin-queue-manager/pkg/queuecallhandler/main.go
  bin-queue-manager/pkg/queuecallhandler/mock_main.go
  bin-queue-manager/pkg/queuehandler/db.go
  bin-queue-manager/pkg/queuehandler/db_test.go
  bin-queue-manager/pkg/queuehandler/event.go
  bin-queue-manager/pkg/queuehandler/event_test.go
  bin-queue-manager/pkg/queuehandler/main.go
  bin-queue-manager/pkg/queuehandler/mock_main.go
Due: run-bin-queue-manager

NOJIRA-rename-internal-gets-to-list
  bin-registrar-manager/cmd/registrar-control/main.go
  bin-registrar-manager/pkg/dbhandler/extension.go
  bin-registrar-manager/pkg/dbhandler/extension_test.go
  bin-registrar-manager/pkg/dbhandler/main.go
  bin-registrar-manager/pkg/dbhandler/mock_main.go
  bin-registrar-manager/pkg/dbhandler/trunk_test.go
  bin-registrar-manager/pkg/dbhandler/trunks.go
  bin-registrar-manager/pkg/extensionhandler/event.go
  bin-registrar-manager/pkg/extensionhandler/event_test.go
  bin-registrar-manager/pkg/extensionhandler/extension.go
  bin-registrar-manager/pkg/extensionhandler/extension_test.go
  bin-registrar-manager/pkg/extensionhandler/main.go
  bin-registrar-manager/pkg/extensionhandler/mock_main.go
  bin-registrar-manager/pkg/listenhandler/v1_extensions.go
  bin-registrar-manager/pkg/listenhandler/v1_extensions_test.go
  bin-registrar-manager/pkg/listenhandler/v1_trunks.go
  bin-registrar-manager/pkg/listenhandler/v1_trunks_test.go
  bin-registrar-manager/pkg/trunkhandler/event.go
  bin-registrar-manager/pkg/trunkhandler/event_test.go
  bin-registrar-manager/pkg/trunkhandler/main.go
  bin-registrar-manager/pkg/trunkhandler/mock_main.go
  bin-registrar-manager/pkg/trunkhandler/trunk.go
  bin-registrar-manager/pkg/trunkhandler/trunk_test.go
Due: run-bin-registrar-manager

NOJIRA-rename-internal-gets-to-list
  bin-route-manager/pkg/dbhandler/main.go
  bin-route-manager/pkg/dbhandler/mock_dbhandler.go
  bin-route-manager/pkg/dbhandler/provider.go
  bin-route-manager/pkg/dbhandler/provider_test.go
  bin-route-manager/pkg/dbhandler/route.go
  bin-route-manager/pkg/dbhandler/route_test.go
  bin-route-manager/pkg/listenhandler/v1_dialroute.go
  bin-route-manager/pkg/listenhandler/v1_dialroute_test.go
  bin-route-manager/pkg/listenhandler/v1_providers.go
  bin-route-manager/pkg/listenhandler/v1_providers_test.go
  bin-route-manager/pkg/listenhandler/v1_routes.go
  bin-route-manager/pkg/listenhandler/v1_routes_test.go
  bin-route-manager/pkg/providerhandler/main.go
  bin-route-manager/pkg/providerhandler/mock_main.go
  bin-route-manager/pkg/providerhandler/provider.go
  bin-route-manager/pkg/providerhandler/provider_test.go
  bin-route-manager/pkg/routehandler/dialroute.go
  bin-route-manager/pkg/routehandler/dialroute_test.go
  bin-route-manager/pkg/routehandler/main.go
  bin-route-manager/pkg/routehandler/mock_main.go
  bin-route-manager/pkg/routehandler/route.go
  bin-route-manager/pkg/routehandler/route_test.go
Due: run-bin-route-manager

NOJIRA-rename-internal-gets-to-list
  bin-storage-manager/pkg/accounthandler/account.go
  bin-storage-manager/pkg/accounthandler/account_test.go
  bin-storage-manager/pkg/accounthandler/event_test.go
  bin-storage-manager/pkg/accounthandler/main.go
  bin-storage-manager/pkg/accounthandler/mock_main.go
  bin-storage-manager/pkg/dbhandler/accounts.go
  bin-storage-manager/pkg/dbhandler/accounts_test.go
  bin-storage-manager/pkg/dbhandler/files.go
  bin-storage-manager/pkg/dbhandler/files_test.go
  bin-storage-manager/pkg/dbhandler/main.go
  bin-storage-manager/pkg/dbhandler/mock_main.go
  bin-storage-manager/pkg/filehandler/event.go
  bin-storage-manager/pkg/filehandler/event_test.go
  bin-storage-manager/pkg/filehandler/file.go
  bin-storage-manager/pkg/filehandler/file_test.go
  bin-storage-manager/pkg/filehandler/main.go
  bin-storage-manager/pkg/filehandler/mock_main.go
  bin-storage-manager/pkg/listenhandler/v1_accounts.go
  bin-storage-manager/pkg/listenhandler/v1_accounts_test.go
  bin-storage-manager/pkg/listenhandler/v1_files.go
  bin-storage-manager/pkg/listenhandler/v1_files_test.go
  bin-storage-manager/pkg/storagehandler/compressfile.go
  bin-storage-manager/pkg/storagehandler/compressfile_test.go
  bin-storage-manager/pkg/storagehandler/file.go
  bin-storage-manager/pkg/storagehandler/file_test.go
  bin-storage-manager/pkg/storagehandler/main.go
  bin-storage-manager/pkg/storagehandler/mock_main.go
  bin-storage-manager/pkg/storagehandler/recording.go
  bin-storage-manager/pkg/storagehandler/recording_test.go
Due: run-bin-storage-manager

NOJIRA-rename-internal-gets-to-list
  bin-transcribe-manager/pkg/dbhandler/main.go
  bin-transcribe-manager/pkg/dbhandler/mock_dbhandler.go
  bin-transcribe-manager/pkg/dbhandler/transcribe.go
  bin-transcribe-manager/pkg/dbhandler/transcribe_test.go
  bin-transcribe-manager/pkg/dbhandler/transcript.go
  bin-transcribe-manager/pkg/dbhandler/transcript_test.go
  bin-transcribe-manager/pkg/listenhandler/v1_transcribes.go
  bin-transcribe-manager/pkg/listenhandler/v1_transcribes_test.go
  bin-transcribe-manager/pkg/listenhandler/v1_transcripts.go
  bin-transcribe-manager/pkg/listenhandler/v1_transcripts_test.go
  bin-transcribe-manager/pkg/streaminghandler/streaming.go
  bin-transcribe-manager/pkg/transcribehandler/event.go
  bin-transcribe-manager/pkg/transcribehandler/event_test.go
  bin-transcribe-manager/pkg/transcribehandler/main.go
  bin-transcribe-manager/pkg/transcribehandler/mock_main.go
  bin-transcribe-manager/pkg/transcribehandler/transcribe.go
  bin-transcribe-manager/pkg/transcribehandler/transcribe_test.go
  bin-transcribe-manager/pkg/transcripthandler/main.go
  bin-transcribe-manager/pkg/transcripthandler/mock_main.go
  bin-transcribe-manager/pkg/transcripthandler/transcript.go
  bin-transcribe-manager/pkg/transcripthandler/transcript_test.go
Due: run-bin-transcribe-manager

NOJIRA-rename-internal-gets-to-list
  CLAUDE.md
  bin-campaign-manager/pkg/campaigncallhandler/campaigncall.go
  bin-campaign-manager/pkg/campaignhandler/campaign.go
  bin-campaign-manager/pkg/outplanhandler/outplan.go
  bin-customer-manager/pkg/accesskeyhandler/db.go
  bin-customer-manager/pkg/accesskeyhandler/mock_main.go
  bin-outdial-manager/pkg/outdialhandler/mock_outdialhandler.go
  bin-outdial-manager/pkg/outdialhandler/outdial.go
  bin-outdial-manager/pkg/outdialtargethandler/mock_outdialtargethandler.go
  bin-outdial-manager/pkg/outdialtargethandler/outdialtarget.go
  bin-route-manager/pkg/routehandler/dialroute_test.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-campaign-manager, run-bin-customer-manager, run-bin-outdial-manager, run-bin-route-manager, run-bin-tts-manager

NOJIRA-Add-talk-manager
  docs/plans/2026-01-17-talk-manager-design.md
Due: none

docs: add SQLite test database pattern documentation
  CLAUDE.md
  docs/plans/2026-01-17-talk-manager-implementation-plan.md
Due: none

fix(implementation-plan): incorporate critical technical fixes
  docs/plans/2026-01-17-talk-manager-critical-fixes.md
  docs/plans/2026-01-17-talk-manager-implementation-plan.md
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/cmd/talk-manager/.gitkeep
  bin-talk-manager/internal/config/.gitkeep
  bin-talk-manager/k8s/.gitkeep
  bin-talk-manager/models/.gitkeep
  bin-talk-manager/pkg/.gitkeep
  bin-talk-manager/scripts/database_scripts/.gitkeep
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/.gitignore
  bin-talk-manager/go.mod
  bin-talk-manager/go.sum
Due: none

NOJIRA-Add-talk-manager
  bin-dbscheme-manager/bin-manager/main/versions/f6d7d64e259e_talk_create_tables_talk_chats_talk_.py
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/scripts/database_scripts/table_messages.sql
  bin-talk-manager/scripts/database_scripts/table_participants.sql
  bin-talk-manager/scripts/database_scripts/table_talks.sql
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/internal/config/config.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/cmd/talk-manager/main.go
  bin-talk-manager/go.mod
  bin-talk-manager/go.sum
  bin-talk-manager/internal/config/config.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/models/talk/field.go
  bin-talk-manager/models/talk/talk.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/models/participant/field.go
  bin-talk-manager/models/participant/participant.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/models/message/field.go
  bin-talk-manager/models/message/message.go
  bin-talk-manager/models/message/metadata.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/mock_main.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/pkg/dbhandler/talk.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/pkg/dbhandler/participant.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/pkg/dbhandler/message.go
  bin-talk-manager/pkg/dbhandler/participant.go
  bin-talk-manager/pkg/dbhandler/talk.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/go.mod
  bin-talk-manager/go.sum
  bin-talk-manager/models/talk/event.go
  bin-talk-manager/models/talk/talk.go
  bin-talk-manager/pkg/talkhandler/main.go
  bin-talk-manager/pkg/talkhandler/mock_main.go
  bin-talk-manager/pkg/talkhandler/talk.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/pkg/talkhandler/main.go
  bin-talk-manager/pkg/talkhandler/mock_main.go
  bin-talk-manager/pkg/talkhandler/talk.go
Due: none

feat(talk-manager): add message handler with threading validation
  bin-talk-manager/models/message/message.go
  bin-talk-manager/pkg/messagehandler/main.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/messagehandler/mock_main.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/pkg/messagehandler/main.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/messagehandler/mock_main.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/models/message/event.go
  bin-talk-manager/pkg/messagehandler/message.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/models/participant/event.go
  bin-talk-manager/pkg/participanthandler/main.go
  bin-talk-manager/pkg/participanthandler/mock_main.go
  bin-talk-manager/pkg/participanthandler/participant.go
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
