Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

Fixed
  bin-api-manager/go.mod
  bin-api-manager/go.sum
Due: run-bin-api-manager

WIP
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/send.go
Due: none

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
Due: none

WIP
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/models/action/action.go
Due: run-bin-flow-manager

WIP
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
Due: run-bin-flow-manager

WIP
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-flow-manager/models/action/action.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
Due: run-bin-flow-manager

WIP
  bin-ai-manager/pkg/messagehandler/send.go
  bin-conversation-manager/go.mod
  bin-conversation-manager/go.sum
  bin-conversation-manager/pkg/conversationhandler/message.go
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/models/activeflow/activeflow.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
Due: run-bin-conversation-manager, run-bin-flow-manager

WIP
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
Due: run-bin-flow-manager

Fixed
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/send_test.go
Due: none

VOIP-1061-Enable_ai_talk_conversation (#201)
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/send_test.go
  bin-conversation-manager/go.mod
  bin-conversation-manager/go.sum
  bin-conversation-manager/pkg/conversationhandler/message.go
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/models/action/action.go
  bin-flow-manager/models/activeflow/activeflow.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
Due: run-bin-conversation-manager, run-bin-flow-manager

Fixed
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/auth.go
Due: run-bin-api-manager

VOIP-1063-Fix_authorization_security_issue (#202)
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/auth.go
Due: run-bin-api-manager

WIP
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/conversation_account.go
  bin-api-manager/pkg/servicehandler/conversation_account_test.go
  bin-api-manager/pkg/servicehandler/conversation_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/conversation_accounts.go
  bin-api-manager/server/conversation_accounts_test.go
  bin-api-manager/server/conversations.go
  bin-common-handler/pkg/requesthandler/conversation_accounts.go
  bin-common-handler/pkg/requesthandler/conversation_accounts_test.go
  bin-common-handler/pkg/requesthandler/conversation_conversations.go
  bin-common-handler/pkg/requesthandler/conversation_conversations_test.go
  bin-common-handler/pkg/requesthandler/helpers.go
  bin-common-handler/pkg/requesthandler/helpers_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-conversation-manager/models/account/account.go
  bin-conversation-manager/models/account/convert.go
  bin-conversation-manager/models/account/webhook.go
  bin-conversation-manager/models/conversation/convert.go
  bin-conversation-manager/models/conversation/convert_test.go
  bin-conversation-manager/pkg/accounthandler/db.go
  bin-conversation-manager/pkg/accounthandler/db_test.go
  bin-conversation-manager/pkg/accounthandler/main.go
  bin-conversation-manager/pkg/accounthandler/mock_accounthandler.go
  bin-conversation-manager/pkg/dbhandler/account.go
  bin-conversation-manager/pkg/dbhandler/account_test.go
  bin-conversation-manager/pkg/dbhandler/conversation.go
  bin-conversation-manager/pkg/dbhandler/main.go
  bin-conversation-manager/pkg/dbhandler/mock_main.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts_test.go
  bin-conversation-manager/pkg/listenhandler/v1_conversations.go
  bin-conversation-manager/pkg/listenhandler/v1_conversations_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/conversation_accounts/id.yaml
Due: run-bin-api-manager, run-bin-common-handler, run-bin-conversation-manager, run-bin-openapi-manager

Fixed
  bin-common-handler/pkg/requesthandler/conversation_messages.go
  bin-common-handler/pkg/requesthandler/conversation_messages_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-conversation-manager/go.sum
  bin-conversation-manager/models/account/account.go
  bin-conversation-manager/models/message/convert.go
  bin-conversation-manager/models/message/message.go
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/dbhandler/main.go
  bin-conversation-manager/pkg/dbhandler/message.go
  bin-conversation-manager/pkg/dbhandler/message_test.go
  bin-conversation-manager/pkg/dbhandler/mock_main.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts_test.go
  bin-conversation-manager/pkg/listenhandler/v1_messages.go
  bin-conversation-manager/pkg/listenhandler/v1_messages_test.go
  bin-conversation-manager/pkg/messagehandler/db.go
  bin-conversation-manager/pkg/messagehandler/db_test.go
  bin-conversation-manager/pkg/messagehandler/main.go
  bin-conversation-manager/pkg/messagehandler/mock_messagehandler.go
  bin-conversation-manager/pkg/messagehandler/send_test.go
Due: run-bin-common-handler, run-bin-conversation-manager

Fixed
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/send_test.go
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/conversation_message.go
  bin-api-manager/pkg/servicehandler/conversation_message_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversationmessage_test.go
Due: run-bin-api-manager

Fixed
  bin-api-manager/pkg/servicehandler/chatroommessage.go
Due: run-bin-api-manager

NOJIRA-Fix_chatroom_message_permission (#206)
  bin-api-manager/pkg/servicehandler/chatroommessage.go
Due: run-bin-api-manager

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/listenhandler/models/request/messages.go
  bin-ai-manager/pkg/listenhandler/v1_messages.go
  bin-ai-manager/pkg/listenhandler/v1_messages_test.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/send_test.go
  bin-common-handler/pkg/requesthandler/ai_messages.go
  bin-common-handler/pkg/requesthandler/ai_messages_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

WIP
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/aimessage.go
  bin-api-manager/pkg/servicehandler/aimessage_test.go
Due: run-bin-api-manager

WIP
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-transcribe-manager/pkg/transcribehandler/start.go
  bin-transcribe-manager/pkg/transcribehandler/start_test.go
Due: run-bin-transcribe-manager

WIP
  bin-common-handler/pkg/databasehandler/main.go
  bin-conversation-manager/pkg/dbhandler/account_test.go
  bin-conversation-manager/pkg/dbhandler/conversation_test.go
  bin-conversation-manager/pkg/dbhandler/main.go
  bin-conversation-manager/pkg/dbhandler/media_test.go
  bin-conversation-manager/pkg/dbhandler/message.go
  bin-conversation-manager/pkg/dbhandler/message_test.go
Due: run-bin-common-handler, run-bin-conversation-manager

WIP
  bin-common-handler/pkg/databasehandler/main.go
  bin-transcribe-manager/pkg/transcribehandler/start_test.go
Due: run-bin-common-handler, run-bin-transcribe-manager

WIP
  bin-transcribe-manager/go.sum
Due: run-bin-transcribe-manager

WIP
  bin-transcribe-manager/pkg/transcribehandler/start.go
Due: run-bin-transcribe-manager

Fixed
  bin-ai-manager/pkg/listenhandler/models/request/messages.go
  bin-ai-manager/pkg/listenhandler/v1_messages.go
  bin-common-handler/pkg/requesthandler/ai_messages.go
  bin-transcribe-manager/go.sum
Due: run-bin-common-handler, run-bin-transcribe-manager

WIP
  bin-call-manager/go.sum
  bin-call-manager/pkg/callhandler/hangup.go
  bin-call-manager/pkg/channelhandler/hangup.go
  bin-call-manager/pkg/externalmediahandler/stop.go
  bin-call-manager/pkg/externalmediahandler/stop_test.go
  bin-call-manager/pkg/recordinghandler/stop.go
  bin-call-manager/pkg/recordinghandler/stop_test.go
Due: run-bin-call-manager

WIP
  bin-transcribe-manager/go.sum
  bin-transcribe-manager/pkg/streaminghandler/audiosocket.go
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

WIP
  bin-transcribe-manager/pkg/streaminghandler/audiosocket.go
Due: run-bin-transcribe-manager

WIP
  bin-ai-manager/pkg/summaryhandler/service_test.go
  bin-ai-manager/pkg/summaryhandler/start.go
  bin-ai-manager/pkg/summaryhandler/start_test.go
Due: none

WIP
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager
