Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Rag-manager-phase2-api-endpoints
  bin-rag-manager/cmd/rag-manager/main.go
Due: none

NOJIRA-Rag-manager-phase2-api-endpoints (#700)
  bin-rag-manager/cmd/rag-manager/main.go
Due: none

NOJIRA-Customer-identity-verification
  docs/plans/2026-03-18-customer-identity-verification-design.md
Due: none

NOJIRA-Customer-identity-verification
  docs/plans/2026-03-18-customer-identity-verification-plan.md
Due: none

NOJIRA-Customer-identity-verification
  bin-customer-manager/go.mod
  bin-customer-manager/go.sum
  bin-customer-manager/models/customer/customer.go
  bin-customer-manager/models/customer/field.go
  bin-customer-manager/models/customer/webhook.go
  bin-customer-manager/pkg/customerhandler/db.go
  bin-customer-manager/pkg/customerhandler/db_test.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/listenhandler/v1_customers_signup_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_test.go
  bin-customer-manager/scripts/database_scripts_test/customer_customers.sql
Due: run-bin-customer-manager

NOJIRA-Customer-identity-verification
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/validate.go
Due: run-bin-call-manager

NOJIRA-Customer-identity-verification
  bin-customer-manager/pkg/customerhandler/identity_verification.go
  bin-customer-manager/pkg/customerhandler/main.go
  bin-customer-manager/pkg/customerhandler/mock_main.go
Due: run-bin-customer-manager

NOJIRA-Customer-identity-verification
  docs/plans/2026-03-18-customer-identity-verification-design.md
  docs/plans/2026-03-18-customer-identity-verification-plan.md
Due: none

NOJIRA-Customer-identity-verification
  bin-dbscheme-manager/bin-manager/main/versions/ffb1bfe3f8d7_customer_customers_add_identity_verification_status.py
Due: none

NOJIRA-Customer-identity-verification
  bin-customer-manager/cmd/customer-control/main.go
Due: run-bin-customer-manager

NOJIRA-Customer-identity-verification
  bin-customer-manager/pkg/identityverificationhandler/main.go
  bin-customer-manager/pkg/identityverificationhandler/noop.go
Due: run-bin-customer-manager

NOJIRA-Customer-identity-verification
  bin-customer-manager/models/customer/identity_verification_status.go
Due: run-bin-customer-manager

NOJIRA-Customer-identity-verification
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/customer_test.go
  bin-api-manager/server/customers_test.go
  bin-api-manager/server/service_agents_customer_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Customer-identity-verification
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/pkg/servicehandler/call.go
  bin-api-manager/pkg/servicehandler/numbers.go
  bin-api-manager/pkg/servicehandler/numbers_test.go
Due: run-bin-api-manager

NOJIRA-Customer-identity-verification
  bin-customer-manager/models/customer/event.go
Due: run-bin-customer-manager

NOJIRA-Customer-identity-verification
  bin-customer-manager/scripts/database_scripts_test/customer_customers.sql
Due: run-bin-customer-manager

NOJIRA-Migrate-deployment-envvars-to-secretKeyRef
  bin-agent-manager/k8s/deployment.yml
  bin-ai-manager/k8s/deployment.yml
  bin-api-manager/k8s/deployment.yml
  bin-billing-manager/k8s/deployment.yml
  bin-call-manager/k8s/deployment.yml
  bin-campaign-manager/k8s/deployment.yml
  bin-conference-manager/k8s/deployment.yml
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager

NOJIRA-Migrate-deployment-envvars-to-secretKeyRef
  bin-contact-manager/k8s/deployment.yml
  bin-conversation-manager/k8s/deployment.yml
  bin-customer-manager/k8s/deployment.yml
  bin-email-manager/k8s/deployment.yml
  bin-flow-manager/k8s/deployment.yml
  bin-hook-manager/k8s/deployment.yml
Due: run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager

NOJIRA-Migrate-deployment-envvars-to-secretKeyRef
  bin-message-manager/k8s/deployment.yml
  bin-number-manager/k8s/deployment.yml
  bin-outdial-manager/k8s/deployment.yml
  bin-pipecat-manager/k8s/deployment.yml
  bin-queue-manager/k8s/deployment.yml
  bin-registrar-manager/k8s/deployment.yml
  bin-route-manager/k8s/deployment.yml
Due: run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager

NOJIRA-Migrate-deployment-envvars-to-secretKeyRef
  bin-sentinel-manager/k8s/deployment.yml
  bin-storage-manager/k8s/deployment.yml
  bin-tag-manager/k8s/deployment.yml
  bin-talk-manager/k8s/deployment.yml
  bin-timeline-manager/k8s/deployment.yml
  bin-transcribe-manager/k8s/deployment.yml
  bin-transfer-manager/k8s/deployment.yml
  bin-tts-manager/k8s/deployment.yml
  bin-webhook-manager/k8s/deployment.yml
Due: run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

NOJIRA-Migrate-deployment-envvars-to-secretKeyRef
  docs/plans/2026-03-18-migrate-deployment-envvars-to-secretkeyref-design.md
  docs/plans/2026-03-18-migrate-deployment-envvars-to-secretkeyref.md
Due: none

NOJIRA-Migrate-deployment-envvars-to-secretKeyRef
  bin-agent-manager/k8s/deployment.yml
  bin-ai-manager/k8s/deployment.yml
  bin-api-manager/k8s/deployment.yml
  bin-billing-manager/k8s/deployment.yml
  bin-call-manager/k8s/deployment.yml
  bin-campaign-manager/k8s/deployment.yml
  bin-conference-manager/k8s/deployment.yml
  bin-contact-manager/k8s/deployment.yml
  bin-conversation-manager/k8s/deployment.yml
  bin-customer-manager/k8s/deployment.yml
  bin-email-manager/k8s/deployment.yml
  bin-flow-manager/k8s/deployment.yml
  bin-hook-manager/k8s/deployment.yml
  bin-message-manager/k8s/deployment.yml
  bin-number-manager/k8s/deployment.yml
  bin-outdial-manager/k8s/deployment.yml
  bin-pipecat-manager/k8s/deployment.yml
  bin-queue-manager/k8s/deployment.yml
  bin-registrar-manager/k8s/deployment.yml
  bin-route-manager/k8s/deployment.yml
  bin-storage-manager/k8s/deployment.yml
  bin-tag-manager/k8s/deployment.yml
  bin-talk-manager/k8s/deployment.yml
  bin-transcribe-manager/k8s/deployment.yml
  bin-transfer-manager/k8s/deployment.yml
  bin-tts-manager/k8s/deployment.yml
  bin-webhook-manager/k8s/deployment.yml
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

NOJIRA-Migrate-deployment-envvars-to-secretKeyRef
  bin-agent-manager/k8s/deployment.yml
  bin-ai-manager/k8s/deployment.yml
  bin-billing-manager/k8s/deployment.yml
  bin-call-manager/k8s/deployment.yml
  bin-campaign-manager/k8s/deployment.yml
  bin-conference-manager/k8s/deployment.yml
  bin-contact-manager/k8s/deployment.yml
  bin-conversation-manager/k8s/deployment.yml
  bin-customer-manager/k8s/deployment.yml
  bin-email-manager/k8s/deployment.yml
  bin-flow-manager/k8s/deployment.yml
  bin-message-manager/k8s/deployment.yml
  bin-number-manager/k8s/deployment.yml
  bin-outdial-manager/k8s/deployment.yml
  bin-pipecat-manager/k8s/deployment.yml
  bin-queue-manager/k8s/deployment.yml
  bin-registrar-manager/k8s/deployment.yml
  bin-route-manager/k8s/deployment.yml
  bin-sentinel-manager/k8s/deployment.yml
  bin-storage-manager/k8s/deployment.yml
  bin-tag-manager/k8s/deployment.yml
  bin-talk-manager/k8s/deployment.yml
  bin-timeline-manager/k8s/deployment.yml
  bin-transcribe-manager/k8s/deployment.yml
  bin-transfer-manager/k8s/deployment.yml
  bin-tts-manager/k8s/deployment.yml
  bin-webhook-manager/k8s/deployment.yml
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

NOJIRA-Migrate-deployment-envvars-to-secretKeyRef
  bin-call-manager/k8s/deployment.yml
Due: run-bin-call-manager

NOJIRA-Migrate-deployment-envvars-to-secretKeyRef
  bin-agent-manager/k8s/deployment.yml
  bin-ai-manager/k8s/deployment.yml
  bin-api-manager/k8s/deployment.yml
  bin-billing-manager/k8s/deployment.yml
  bin-call-manager/k8s/deployment.yml
  bin-campaign-manager/k8s/deployment.yml
  bin-conference-manager/k8s/deployment.yml
  bin-contact-manager/k8s/deployment.yml
  bin-conversation-manager/k8s/deployment.yml
  bin-customer-manager/k8s/deployment.yml
  bin-email-manager/k8s/deployment.yml
  bin-flow-manager/k8s/deployment.yml
  bin-hook-manager/k8s/deployment.yml
  bin-message-manager/k8s/deployment.yml
  bin-number-manager/k8s/deployment.yml
  bin-outdial-manager/k8s/deployment.yml
  bin-pipecat-manager/k8s/deployment.yml
  bin-queue-manager/k8s/deployment.yml
  bin-registrar-manager/k8s/deployment.yml
  bin-route-manager/k8s/deployment.yml
  bin-sentinel-manager/k8s/deployment.yml
  bin-storage-manager/k8s/deployment.yml
  bin-tag-manager/k8s/deployment.yml
  bin-talk-manager/k8s/deployment.yml
  bin-timeline-manager/k8s/deployment.yml
  bin-transcribe-manager/k8s/deployment.yml
  bin-transfer-manager/k8s/deployment.yml
  bin-tts-manager/k8s/deployment.yml
  bin-webhook-manager/k8s/deployment.yml
  docs/plans/2026-03-18-migrate-deployment-envvars-to-secretkeyref-design.md
  docs/plans/2026-03-18-migrate-deployment-envvars-to-secretkeyref.md
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

NOJIRA-Migrate-CLICKHOUSE-DATABASE-to-secretKeyRef
  bin-timeline-manager/k8s/deployment.yml
Due: none

NOJIRA-Migrate-remaining-envvars-to-secretKeyRef
  bin-agent-manager/k8s/deployment.yml
  bin-ai-manager/k8s/deployment.yml
  bin-api-manager/k8s/deployment.yml
  bin-billing-manager/k8s/deployment.yml
  bin-call-manager/k8s/deployment.yml
  bin-campaign-manager/k8s/deployment.yml
  bin-conference-manager/k8s/deployment.yml
  bin-contact-manager/k8s/deployment.yml
  bin-conversation-manager/k8s/deployment.yml
  bin-customer-manager/k8s/deployment.yml
  bin-email-manager/k8s/deployment.yml
  bin-flow-manager/k8s/deployment.yml
  bin-hook-manager/k8s/deployment.yml
  bin-message-manager/k8s/deployment.yml
  bin-number-manager/k8s/deployment.yml
  bin-outdial-manager/k8s/deployment.yml
  bin-pipecat-manager/k8s/deployment.yml
  bin-queue-manager/k8s/deployment.yml
  bin-rag-manager/k8s/deployment.yml
  bin-registrar-manager/k8s/deployment.yml
  bin-route-manager/k8s/deployment.yml
  bin-sentinel-manager/k8s/deployment.yml
  bin-storage-manager/k8s/deployment.yml
  bin-tag-manager/k8s/deployment.yml
  bin-talk-manager/k8s/deployment.yml
  bin-timeline-manager/k8s/deployment.yml
  bin-transcribe-manager/k8s/deployment.yml
  bin-transfer-manager/k8s/deployment.yml
  bin-tts-manager/k8s/deployment.yml
  bin-webhook-manager/k8s/deployment.yml
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

NOJIRA-Paddle-billing-integration
  docs/plans/2026-03-19-paddle-billing-integration-design.md
  docs/plans/2026-03-19-paddle-billing-integration-plan.md
Due: none

NOJIRA-Implement-rag-document-ingestion-pipeline
  bin-rag-manager/migrations/000002_add_document_ingestion_fields.down.sql
  bin-rag-manager/migrations/000002_add_document_ingestion_fields.up.sql
Due: none
