Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-billing-cost-mode-email-billing
  bin-billing-manager/models/billing/billing_test.go
  bin-billing-manager/models/billing/cost_type.go
  bin-billing-manager/models/billing/cost_type_test.go
Due: run-bin-billing-manager

NOJIRA-billing-cost-mode-email-billing
  bin-billing-manager/models/billing/billing.go
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/db.go
  bin-billing-manager/pkg/billinghandler/event_test.go
Due: run-bin-billing-manager

NOJIRA-billing-cost-mode-email-billing
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/dbhandler/billing.go
  bin-billing-manager/pkg/dbhandler/deduction_test.go
  bin-billing-manager/pkg/dbhandler/main.go
  bin-billing-manager/pkg/dbhandler/mock_main.go
Due: run-bin-billing-manager

NOJIRA-billing-cost-mode-email-billing
  bin-billing-manager/pkg/accounthandler/balance.go
  bin-billing-manager/pkg/accounthandler/balance_test.go
Due: run-bin-billing-manager

NOJIRA-billing-cost-mode-email-billing
  bin-billing-manager/pkg/billinghandler/event.go
  bin-billing-manager/pkg/billinghandler/main.go
  bin-billing-manager/pkg/billinghandler/mock_main.go
Due: run-bin-billing-manager

NOJIRA-billing-cost-mode-email-billing
  bin-billing-manager/cmd/billing-manager/main.go
  bin-billing-manager/go.mod
  bin-billing-manager/pkg/subscribehandler/email.go
  bin-billing-manager/pkg/subscribehandler/main.go
Due: run-bin-billing-manager

NOJIRA-billing-cost-mode-email-billing
  bin-email-manager/go.mod
  bin-email-manager/go.sum
  bin-email-manager/pkg/emailhandler/email.go
  bin-email-manager/pkg/emailhandler/email_test.go
Due: run-bin-email-manager

NOJIRA-billing-cost-mode-email-billing
  docs/plans/2026-02-22-billing-cost-mode-email-billing-design.md
  docs/plans/2026-02-22-billing-cost-mode-email-billing-plan.md
Due: none

NOJIRA-billing-cost-mode-email-billing
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/subscribehandler/email_test.go
Due: run-bin-billing-manager

NOJIRA-billing-cost-mode-email-billing
  bin-billing-manager/pkg/billinghandler/event_test.go
Due: run-bin-billing-manager

NOJIRA-fix-api-manager-oapi-codegen-vendoring
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/tools.go
  bin-api-manager/vendor/modules.txt
  bin-api-manager/vendor/monorepo/bin-customer-manager/models/accesskey/accesskey.go
Due: run-bin-api-manager

NOJIRA-fix-api-manager-oapi-codegen-vendoring (#573)
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/tools.go
  bin-api-manager/vendor/modules.txt
  bin-api-manager/vendor/monorepo/bin-customer-manager/models/accesskey/accesskey.go
Due: run-bin-api-manager

NOJIRA-fix-alembic-revision-id
  bin-dbscheme-manager/bin-manager/main/versions/455debd049b2_customer_add_terms_agreed_columns.py
Due: none

NOJIRA-fix-alembic-revision-id (#575)
  bin-dbscheme-manager/bin-manager/main/versions/455debd049b2_customer_add_terms_agreed_columns.py
Due: none

NOJIRA-fix-signup-email-verification
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_password_test.go
  bin-agent-manager/pkg/agenthandler/event_test.go
  bin-billing-manager/pkg/accounthandler/balance.go
  bin-billing-manager/pkg/accounthandler/balance_test.go
  bin-customer-manager/models/customer/customer.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
  docs/plans/2026-02-22-fix-signup-email-verification-design.md
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-customer-manager

NOJIRA-fix-signup-email-verification
  bin-customer-manager/models/customer/customer.go
  bin-route-manager/go.mod
  bin-route-manager/go.sum
  bin-route-manager/models/route/route.go
Due: run-bin-customer-manager, run-bin-route-manager

NOJIRA-fix-signup-email-verification
  docs/plans/2026-02-22-fix-signup-email-verification-design.md
Due: none

NOJIRA-skip-billing-webhook-system-customer
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-webhook-manager/go.mod
  bin-webhook-manager/go.sum
  bin-webhook-manager/pkg/webhookhandler/webhook.go
Due: run-bin-billing-manager, run-bin-webhook-manager

NOJIRA-skip-billing-webhook-system-customer
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-webhook-manager/pkg/webhookhandler/webhook_test.go
Due: run-bin-billing-manager, run-bin-webhook-manager

NOJIRA-skip-billing-webhook-system-customer (#577)
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-webhook-manager/go.mod
  bin-webhook-manager/go.sum
  bin-webhook-manager/pkg/webhookhandler/webhook.go
  bin-webhook-manager/pkg/webhookhandler/webhook_test.go
Due: run-bin-billing-manager, run-bin-webhook-manager

NOJIRA-fix-customer-status-lifecycle
  bin-customer-manager/models/customer/customer.go
Due: run-bin-customer-manager

NOJIRA-fix-customer-status-lifecycle
  bin-customer-manager/pkg/customerhandler/db.go
  bin-customer-manager/pkg/customerhandler/db_test.go
Due: run-bin-customer-manager

NOJIRA-fix-customer-status-lifecycle
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
Due: run-bin-customer-manager

NOJIRA-fix-customer-status-lifecycle
  bin-customer-manager/pkg/customerhandler/signup.go
Due: run-bin-customer-manager

NOJIRA-fix-customer-status-lifecycle
  bin-customer-manager/pkg/customerhandler/cleanup.go
  bin-customer-manager/pkg/customerhandler/cleanup_test.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
Due: run-bin-customer-manager

NOJIRA-fix-customer-status-lifecycle
  bin-dbscheme-manager/bin-manager/main/versions/a1b2c3d4e5f7_customer_fix_empty_status.py
Due: none

NOJIRA-fix-customer-status-lifecycle
  docs/plans/2026-02-23-fix-customer-status-lifecycle-design.md
  docs/plans/2026-02-23-fix-customer-status-lifecycle-plan.md
Due: none

NOJIRA-fix-customer-status-lifecycle
  bin-customer-manager/pkg/customerhandler/cleanup_test.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
Due: run-bin-customer-manager

NOJIRA-fix-customer-status-lifecycle
  bin-customer-manager/pkg/customerhandler/complete_signup_test.go
Due: run-bin-customer-manager

NOJIRA-fix-alembic-duplicate-revision
  bin-dbscheme-manager/bin-manager/main/versions/ebbb033028db_customer_fix_empty_status.py
Due: none

NOJIRA-add-main-pull-rules
  CLAUDE.md
  docs/git-workflow-guide.md
  docs/plans/2026-02-23-add-main-pull-rules-design.md
  docs/plans/2026-02-23-add-main-pull-rules-plan.md
Due: none

random update 11202
  random_11202.txt
Due: none

NOJIRA-add-tts-billing
  bin-tts-manager/models/speaking/event.go
  bin-tts-manager/models/speaking/event_test.go
Due: run-bin-tts-manager

NOJIRA-add-tts-billing
  bin-tts-manager/cmd/tts-manager/main.go
  bin-tts-manager/pkg/speakinghandler/main.go
  bin-tts-manager/pkg/speakinghandler/main_test.go
  bin-tts-manager/pkg/speakinghandler/speaking.go
  bin-tts-manager/pkg/speakinghandler/speaking_test.go
Due: run-bin-tts-manager

NOJIRA-add-tts-billing
  bin-billing-manager/models/billing/billing.go
  bin-billing-manager/models/billing/cost_type.go
  bin-billing-manager/models/billing/cost_type_test.go
Due: run-bin-billing-manager

NOJIRA-add-tts-billing
  bin-billing-manager/pkg/billinghandler/billing.go
Due: run-bin-billing-manager
