Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Add-flow-direct-hash-support
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db_test.go
  docs/plans/2026-03-31-add-flow-direct-hash-support-design.md
Due: run-bin-flow-manager

NOJIRA-Add-flow-direct-hash-support
  bin-flow-manager/pkg/flowhandler/db_test.go
Due: run-bin-flow-manager

NOJIRA-Add-transcribe-service-namespace
  bin-api-manager/pkg/subscribehandler/webhookmanager.go
Due: run-bin-api-manager

NOJIRA-Add-transcribe-service-namespace
  bin-api-manager/pkg/subscribehandler/webhookmanager.go
  bin-common-handler/models/outline/servicename.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Add-transcribe-service-namespace
  bin-api-manager/pkg/subscribehandler/webhookmanager_test.go
Due: run-bin-api-manager

NOJIRA-Add-aimessage-intermediate-event
  docs/plans/2026-04-02-aimessage-intermediate-event-design.md
Due: none

NOJIRA-Add-aimessage-intermediate-event
  bin-pipecat-manager/models/message/event.go
  bin-pipecat-manager/models/message/main.go
  bin-pipecat-manager/models/pipecatcall/session.go
Due: none

NOJIRA-Add-aimessage-intermediate-event
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

NOJIRA-Add-aimessage-intermediate-event
  bin-ai-manager/models/message/event.go
  bin-ai-manager/models/message/webhook.go
  bin-ai-manager/pkg/aicallhandler/send.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/messagehandler/db_test.go
  bin-ai-manager/pkg/messagehandler/event.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
Due: none

NOJIRA-Add-aimessage-intermediate-event
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/send_test.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/messagehandler/event.go
  bin-ai-manager/pkg/messagehandler/event_test.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/pipecat_message.go
Due: none

NOJIRA-Add-aimessage-intermediate-event
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

NOJIRA-Add-aimessage-intermediate-event
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_flush_test.go
  docs/plans/2026-04-02-aimessage-intermediate-event-design.md
Due: none

NOJIRA-Add-aimessage-intermediate-event
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  docs/plans/2026-04-02-aimessage-intermediate-event-design.md
Due: none

NOJIRA-Add-aimessage-intermediate-event
  bin-ai-manager/pkg/messagehandler/event_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_flush_test.go
Due: none

NOJIRA-Fix-aimessage-websocket-distribution
  bin-api-manager/pkg/subscribehandler/webhookmanager.go
  bin-api-manager/pkg/subscribehandler/webhookmanager_test.go
  docs/plans/2026-04-02-aimessage-websocket-distribution-design.md
Due: run-bin-api-manager

NOJIRA-Add-talk-manager-event-prefix
  bin-api-manager/pkg/subscribehandler/talk_test.go
Due: run-bin-api-manager

NOJIRA-Sync-aimessage-intermediate-with-tts
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/models/pipecatframe/helper_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  docs/plans/2026-04-02-sync-aimessage-intermediate-with-tts-impl.md
  docs/plans/2026-04-02-sync-aimessage-intermediate-with-tts.md
Due: none

NOJIRA-Sync-aimessage-intermediate-with-tts
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_flush_test.go
Due: none

NOJIRA-Sync-aimessage-intermediate-with-tts
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/models/pipecatframe/helper_test.go
  bin-pipecat-manager/models/pipecatframe/rtvi.go
  bin-pipecat-manager/models/pipecatframe/rtvi_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

NOJIRA-Sync-aimessage-intermediate-with-tts
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_flush_test.go
Due: none

NOJIRA-Fix-aimessage-websocket-distribution
  bin-api-manager/pkg/subscribehandler/main.go
  bin-api-manager/pkg/subscribehandler/talk.go
  bin-api-manager/pkg/subscribehandler/talk_test.go
  bin-api-manager/pkg/subscribehandler/webhookmanager.go
  bin-api-manager/pkg/subscribehandler/webhookmanager_test.go
  docs/plans/2026-04-02-talk-websocket-distribution-design.md
Due: run-bin-api-manager

NOJIRA-Fix-aimessage-websocket-distribution (#761)
  bin-api-manager/pkg/subscribehandler/main.go
  bin-api-manager/pkg/subscribehandler/talk.go
  bin-api-manager/pkg/subscribehandler/talk_test.go
  bin-api-manager/pkg/subscribehandler/webhookmanager.go
  bin-api-manager/pkg/subscribehandler/webhookmanager_test.go
  docs/plans/2026-04-02-talk-websocket-distribution-design.md
Due: run-bin-api-manager

NOJIRA-Block-outbound-call-non-active-customer
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/callhandler/validate.go
  bin-call-manager/pkg/callhandler/validate_test.go
  docs/plans/2026-04-02-block-outbound-call-non-active-customer-design.md
  docs/plans/2026-04-02-block-outbound-call-non-active-customer.md
Due: run-bin-call-manager

NOJIRA-Return-accesskey-from-signup
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-customer-manager/models/customer/signup.go
  bin-customer-manager/models/customer/signup_test.go
  bin-customer-manager/pkg/customerhandler/complete_signup_test.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_complete_signup_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-customer-manager, run-bin-openapi-manager

NOJIRA-Replace-agent-with-auth-identity-servicehandler
  docs/plans/2026-04-04-auth-identity-refactor-design.md
  docs/plans/2026-04-04-auth-identity-refactor-plan.md
Due: none

NOJIRA-Add-boot-endpoint-direct-jwt
  bin-api-manager/pkg/servicehandler/auth.go
  bin-api-manager/pkg/servicehandler/auth_test.go
Due: run-bin-api-manager

NOJIRA-Add-boot-endpoint-direct-jwt
  bin-api-manager/go.mod
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/boot_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
Due: run-bin-api-manager

NOJIRA-Add-boot-endpoint-direct-jwt
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/lib/service/boot.go
Due: run-bin-api-manager

NOJIRA-Add-boot-endpoint-direct-jwt
  bin-api-manager/pkg/websockhandler/etc.go
  bin-api-manager/pkg/websockhandler/etc_test.go
Due: run-bin-api-manager

NOJIRA-Add-boot-endpoint-direct-jwt
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/auth_boot.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/auth/boot.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-boot-endpoint-direct-jwt
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/lib/service/boot.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager
