Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

Fixed
  bin-email-manager/pkg/emailhandler/util.go
Due: run-bin-email-manager

Fixed
  bin-email-manager/pkg/emailhandler/engine_mailgun.go
  bin-email-manager/pkg/emailhandler/util.go
Due: run-bin-email-manager

Fixed
  bin-email-manager/pkg/emailhandler/engine_mailgun.go
  bin-email-manager/pkg/emailhandler/send.go
Due: run-bin-email-manager

Fixed
  bin-email-manager/pkg/emailhandler/engine_mailgun.go
Due: run-bin-email-manager

VOIP-1132-Add_mailgun_provider (#274)
  .circleci/config_work.yml
  bin-email-manager/cmd/email-manager/init.go
  bin-email-manager/cmd/email-manager/main.go
  bin-email-manager/go.mod
  bin-email-manager/go.sum
  bin-email-manager/k8s/deployment.yml
  bin-email-manager/pkg/emailhandler/email_test.go
  bin-email-manager/pkg/emailhandler/engine_mailgun.go
  bin-email-manager/pkg/emailhandler/engine_mailgun_test.go
  bin-email-manager/pkg/emailhandler/engine_sendgrid.go
  bin-email-manager/pkg/emailhandler/hook.go
  bin-email-manager/pkg/emailhandler/main.go
  bin-email-manager/pkg/emailhandler/mock_engine_mailgun.go
  bin-email-manager/pkg/emailhandler/send.go
  bin-email-manager/pkg/emailhandler/send_test.go
  bin-email-manager/pkg/emailhandler/util.go
Due: run-bin-email-manager

WIP
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

NOIJIRA-Fix_RVTI_message_handle (#275)
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/task.py
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/task.py
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/task.py
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

WIP
  bin-pipecat-manager/k8s/deployment.yml
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-pipecat-manager/k8s/deployment.yml
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/task.py
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/task.py
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

Fixed
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/task.py
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

Fixed
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

Fixed
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

Fixed
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

Fixed
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/task.py
Due: none

Fixed
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
Due: none

VOIP-1134-Fix_pipecat_memory_leak (#276)
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/k8s/deployment.yml
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/task.py
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

WIP
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/pipecat/run.py_org
Due: none

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/requirements.txt
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/pkg/variablehandler/substitute.go
  bin-pipecat-manager/scripts/pipecat/run.py
Due: run-bin-flow-manager

WIP
  bin-flow-manager/pkg/variablehandler/substitute.go
  bin-pipecat-manager/scripts/pipecat/run.py
Due: run-bin-flow-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
