Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Update-ai-engine-models
  bin-ai-manager/cmd/ai-control/main.go
  bin-ai-manager/models/ai/main.go
  bin-ai-manager/models/ai/main_test.go
  bin-ai-manager/models/aicall/filters_test.go
  bin-ai-manager/models/aicall/main_test.go
  bin-ai-manager/models/aicall/webhook_test.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/aihandler/chatbot_test.go
  bin-ai-manager/pkg/aihandler/db_test.go
  bin-ai-manager/pkg/dbhandler/ai_test.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/engine_dialogflow_handler/message.go
  bin-ai-manager/pkg/engine_dialogflow_handler/message_test.go
  bin-ai-manager/pkg/listenhandler/v1_ais_test.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/ai_test.go
  bin-api-manager/server/ais_test.go
  bin-common-handler/pkg/requesthandler/ai_ais_test.go
  bin-common-handler/pkg/requesthandler/pipecat_pipecatcall_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-pipecat-manager/cmd/pipecat-control/main.go
  bin-pipecat-manager/models/message/member_switched_test.go
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-pipecat-manager/models/pipecatcall/main_test.go
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls_test.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatcall_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Update-ai-engine-models (#648)
  bin-ai-manager/cmd/ai-control/main.go
  bin-ai-manager/models/ai/main.go
  bin-ai-manager/models/ai/main_test.go
  bin-ai-manager/models/aicall/filters_test.go
  bin-ai-manager/models/aicall/main_test.go
  bin-ai-manager/models/aicall/webhook_test.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/aihandler/chatbot_test.go
  bin-ai-manager/pkg/aihandler/db_test.go
  bin-ai-manager/pkg/dbhandler/ai_test.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/engine_dialogflow_handler/message.go
  bin-ai-manager/pkg/engine_dialogflow_handler/message_test.go
  bin-ai-manager/pkg/listenhandler/v1_ais_test.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/ai_test.go
  bin-api-manager/server/ais_test.go
  bin-common-handler/pkg/requesthandler/ai_ais_test.go
  bin-common-handler/pkg/requesthandler/pipecat_pipecatcall_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-pipecat-manager/cmd/pipecat-control/main.go
  bin-pipecat-manager/models/message/member_switched_test.go
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-pipecat-manager/models/pipecatcall/main_test.go
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls_test.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatcall_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Add-jitter-buffer-pipecat-audio
  bin-pipecat-manager/models/pipecatcall/jitterbuffer.go
  bin-pipecat-manager/models/pipecatcall/jitterbuffer_test.go
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  docs/plans/2026-03-05-jitter-buffer-pipecat-audio-design.md
Due: none

NOJIRA-Add-jitter-buffer-pipecat-audio
  bin-pipecat-manager/models/pipecatcall/jitterbuffer.go
  bin-pipecat-manager/models/pipecatcall/jitterbuffer_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  docs/plans/2026-03-05-jitter-buffer-pipecat-audio-design.md
Due: none

NOJIRA-Add-jitter-buffer-pipecat-audio
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
Due: none

NOJIRA-Add-jitter-buffer-pipecat-audio
  bin-pipecat-manager/models/pipecatcall/jitterbuffer.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
Due: none

NOJIRA-Add-jitter-buffer-pipecat-audio
  bin-pipecat-manager/scripts/pipecat/run.py
  docs/plans/2026-03-05-jitter-buffer-pipecat-audio-design.md
Due: none

NOJIRA-Add-jitter-buffer-pipecat-audio
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/models/pipecatcall/jitterbuffer.go
  bin-pipecat-manager/models/pipecatcall/jitterbuffer_test.go
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/scripts/pipecat/run.py
  docs/plans/2026-03-05-jitter-buffer-pipecat-audio-design.md
Due: none

NOJIRA-Add-jitter-buffer-pipecat-audio
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

NOJIRA-Add-jitter-buffer-pipecat-audio (#650)
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/scripts/pipecat/run.py
  docs/plans/2026-03-05-jitter-buffer-pipecat-audio-design.md
Due: none

NOJIRA-Add-customer-metadata-support
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/customer.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/customers.go
  bin-api-manager/server/customers_test.go
  bin-common-handler/pkg/requesthandler/customer_customer.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-customer-manager/models/customer/customer.go
  bin-customer-manager/models/customer/field.go
  bin-customer-manager/models/customer/metadata.go
  bin-customer-manager/pkg/customerhandler/db.go
  bin-customer-manager/pkg/customerhandler/db_test.go
  bin-customer-manager/pkg/customerhandler/main.go
  bin-customer-manager/pkg/customerhandler/mock_main.go
  bin-customer-manager/pkg/listenhandler/main.go
  bin-customer-manager/pkg/listenhandler/models/request/customers.go
  bin-customer-manager/pkg/listenhandler/v1_customers.go
  bin-customer-manager/pkg/listenhandler/v1_customers_signup_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_test.go
  bin-customer-manager/scripts/database_scripts_test/customer_customers.sql
  bin-dbscheme-manager/bin-manager/main/versions/c78cf0c45f54_customer_customers_add_column_metadata.py
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/customers/id.yaml
  bin-openapi-manager/openapi/paths/customers/id_billing_account_id.yaml
  bin-openapi-manager/openapi/paths/customers/id_freeze.yaml
  bin-openapi-manager/openapi/paths/customers/id_metadata.yaml
  bin-openapi-manager/openapi/paths/customers/id_recover.yaml
  bin-openapi-manager/openapi/paths/customers/main.yaml
  docs/plans/2026-03-05-add-customer-metadata-design.md
  docs/plans/2026-03-05-add-customer-metadata-plan.md
Due: run-bin-api-manager, run-bin-common-handler, run-bin-customer-manager, run-bin-openapi-manager

NOJIRA-Add-configurable-vad-config
  bin-ai-manager/models/ai/main.go
  bin-ai-manager/pkg/aihandler/chatbot.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
Due: none

NOJIRA-Add-configurable-vad-config
  bin-ai-manager/models/ai/vad_config_test.go
  bin-ai-manager/pkg/aihandler/chatbot_test.go
  bin-pipecat-manager/scripts/pipecat/conftest.py
  bin-pipecat-manager/scripts/pipecat/test_build_vad_params.py
Due: none

NOJIRA-Fix-conference-incoming-call-answer
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  docs/plans/2026-03-06-fix-conference-incoming-call-answer.md
Due: run-bin-call-manager

NOJIRA-Fix-conference-incoming-call-answer (#652)
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  docs/plans/2026-03-06-fix-conference-incoming-call-answer.md
Due: run-bin-call-manager

NOJIRA-Add-barge-in-audio-flush
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/pipecat/run.py
  docs/plans/2026-03-07-barge-in-audio-flush-design.md
Due: none

NOJIRA-Add-barge-in-audio-flush
  bin-pipecat-manager/scripts/pipecat/run.py
  docs/plans/2026-03-07-barge-in-audio-flush-design.md
Due: none

NOJIRA-Add-barge-in-audio-flush
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/scripts/pipecat/test_flush_audio.py
Due: none

NOJIRA-Add-barge-in-audio-flush
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  docs/plans/2026-03-07-barge-in-audio-flush-design.md
Due: none

NOJIRA-Add-barge-in-audio-flush
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_flush_audio.py
  docs/plans/2026-03-07-barge-in-audio-flush-design.md
Due: none

NOJIRA-Add-barge-in-audio-flush
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/pipecat/run.py
  docs/plans/2026-03-07-barge-in-audio-flush-design.md
Due: none

NOJIRA-Add-barge-in-audio-flush
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

NOJIRA-add-voip-rtpengine-proxy
  voip-rtpengine-proxy/.gitignore
  voip-rtpengine-proxy/Dockerfile
  voip-rtpengine-proxy/README.md
  voip-rtpengine-proxy/cmd/rtpengine-proxy/init.go
  voip-rtpengine-proxy/cmd/rtpengine-proxy/main.go
  voip-rtpengine-proxy/go.mod
  voip-rtpengine-proxy/go.sum
  voip-rtpengine-proxy/pkg/listenhandler/command.go
  voip-rtpengine-proxy/pkg/listenhandler/command_test.go
  voip-rtpengine-proxy/pkg/listenhandler/main.go
  voip-rtpengine-proxy/pkg/ngclient/main.go
  voip-rtpengine-proxy/pkg/ngclient/mock_main.go
  voip-rtpengine-proxy/pkg/ngclient/ngclient.go
  voip-rtpengine-proxy/pkg/ngclient/ngclient_test.go
Due: none

NOJIRA-add-voip-rtpengine-proxy
  voip-rtpengine-proxy/pkg/listenhandler/command_test.go
  voip-rtpengine-proxy/pkg/ngclient/ngclient.go
  voip-rtpengine-proxy/pkg/ngclient/ngclient_test.go
Due: none

NOJIRA-Add-barge-in-audio-flush
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/scripts/pipecat/test_run.py
Due: none

NOJIRA-add-voip-rtpengine-proxy
  .circleci/config.yml
  .circleci/config_work.yml
  voip-rtpengine-proxy/cmd/rtpengine-proxy/init.go
  voip-rtpengine-proxy/pkg/listenhandler/command.go
  voip-rtpengine-proxy/pkg/listenhandler/command_test.go
Due: none

NOJIRA-Add-barge-in-audio-flush (#654)
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
  docs/plans/2026-03-07-barge-in-audio-flush-design.md
Due: none

NOJIRA-add-voip-rtpengine-proxy
  voip-rtpengine-proxy/cmd/rtpengine-proxy/main.go
  voip-rtpengine-proxy/pkg/listenhandler/main_test.go
Due: none

NOJIRA-add-voip-rtpengine-proxy
  .circleci/config_work.yml
  voip-rtpengine-proxy/pkg/ngclient/ngclient_test.go
Due: none

NOJIRA-add-voip-rtpengine-proxy (#655)
  .circleci/config.yml
  .circleci/config_work.yml
  voip-rtpengine-proxy/.gitignore
  voip-rtpengine-proxy/Dockerfile
  voip-rtpengine-proxy/README.md
  voip-rtpengine-proxy/cmd/rtpengine-proxy/init.go
  voip-rtpengine-proxy/cmd/rtpengine-proxy/main.go
  voip-rtpengine-proxy/go.mod
  voip-rtpengine-proxy/go.sum
  voip-rtpengine-proxy/pkg/listenhandler/command.go
  voip-rtpengine-proxy/pkg/listenhandler/command_test.go
  voip-rtpengine-proxy/pkg/listenhandler/main.go
  voip-rtpengine-proxy/pkg/listenhandler/main_test.go
  voip-rtpengine-proxy/pkg/ngclient/main.go
  voip-rtpengine-proxy/pkg/ngclient/mock_main.go
  voip-rtpengine-proxy/pkg/ngclient/ngclient.go
  voip-rtpengine-proxy/pkg/ngclient/ngclient_test.go
Due: none

NOJIRA-kamailio-redis-call-metadata
  bin-call-manager/cmd/call-control/main.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/pkg/cachehandler/handler.go
  bin-call-manager/pkg/cachehandler/main.go
  bin-call-manager/pkg/cachehandler/mock_main.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/channelhandler/main.go
Due: run-bin-call-manager

NOJIRA-kamailio-redis-call-metadata
  bin-call-manager/pkg/channelhandler/arievent_test.go
  bin-call-manager/pkg/channelhandler/db.go
Due: run-bin-call-manager

NOJIRA-kamailio-redis-call-metadata (#656)
  bin-call-manager/cmd/call-control/main.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/pkg/cachehandler/handler.go
  bin-call-manager/pkg/cachehandler/main.go
  bin-call-manager/pkg/cachehandler/mock_main.go
  bin-call-manager/pkg/channelhandler/arievent_test.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/channelhandler/main.go
Due: run-bin-call-manager

NOJIRA-kamailio-redis-call-metadata
  bin-call-manager/pkg/channelhandler/db.go
Due: run-bin-call-manager

NOJIRA-Add-channel-sip-data-from-kamailio-redis
  bin-call-manager/models/channel/main.go
  bin-call-manager/pkg/cachehandler/handler.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/dbhandler/channel.go
  bin-call-manager/pkg/dbhandler/main.go
  bin-call-manager/pkg/dbhandler/mock_main.go
  bin-call-manager/scripts/database_scripts_test/table_channels.sql
  bin-dbscheme-manager/bin-manager/main/versions/e2f3a4b5c6d7_call_channels_add_column_sip_data.py
  docs/plans/2026-03-08-channel-sip-data-from-kamailio-redis.md
Due: run-bin-call-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
