Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

Address plan review findings for VOIP-1490
  docs/plans/2026-09-08-email-verify-resend-design.md
  docs/plans/2026-09-08-email-verify-resend-plan.md
Due: none

Add api-manager service doc updates to the VOIP-1490 plan
  docs/plans/2026-09-08-email-verify-resend-plan.md
Due: none

Correct line anchors and add escaping caution to the VOIP-1490 plan
  docs/plans/2026-09-08-email-verify-resend-plan.md
Due: none

Extend email verification window and fix stale copy
  bin-customer-manager/pkg/customerhandler/cleanup.go
  bin-customer-manager/pkg/customerhandler/cleanup_test.go
  bin-customer-manager/pkg/customerhandler/signup.go
Due: run-bin-customer-manager

Stop setting tm_delete when expiring unverified customers
  bin-customer-manager/pkg/customerhandler/cleanup.go
  bin-customer-manager/pkg/customerhandler/cleanup_test.go
Due: run-bin-customer-manager

Clear tm_delete and guard status on email verification
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
Due: run-bin-customer-manager

Add direct token resource binding design (VOIP-1501, VOIP-1498)
  docs/plans/2026-09-08-direct-token-resource-binding-design.md
Due: none

Harden email verification guard and constant tests
  bin-customer-manager/pkg/customerhandler/cleanup_test.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
Due: run-bin-customer-manager

Add resend cooldown and daily counter cache primitives
  bin-customer-manager/go.mod
  bin-customer-manager/go.sum
  bin-customer-manager/pkg/cachehandler/handler.go
  bin-customer-manager/pkg/cachehandler/handler_test.go
  bin-customer-manager/pkg/cachehandler/main.go
  bin-customer-manager/pkg/cachehandler/mock_main.go
Due: run-bin-customer-manager

Add EmailVerifyResend to customer-manager
  bin-customer-manager/pkg/customerhandler/main.go
  bin-customer-manager/pkg/customerhandler/mock_main.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
Due: run-bin-customer-manager

Add email_verify_resend RPC route to customer-manager
  bin-customer-manager/docs/architecture.md
  bin-customer-manager/pkg/listenhandler/main.go
  bin-customer-manager/pkg/listenhandler/models/request/customers.go
  bin-customer-manager/pkg/listenhandler/v1_customers_signup.go
Due: run-bin-customer-manager

Add customer email verify resend RPC client
  bin-common-handler/pkg/requesthandler/customer_customer.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

Add POST /auth/email-verify-resend endpoint
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/docs/architecture.md
  bin-api-manager/docs/operations.md
  bin-api-manager/docs/routing.md
  bin-api-manager/lib/service/signup.go
  bin-api-manager/lib/service/signup_test.go
  bin-api-manager/pkg/servicehandler/customer.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
Due: run-bin-api-manager

Offer verification resend on the failed verification page
  bin-api-manager/lib/service/signup.go
  bin-api-manager/lib/service/signup_test.go
Due: run-bin-api-manager

Instrument and pin the email verify resend path
  bin-customer-manager/pkg/customerhandler/main.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
  bin-customer-manager/pkg/metricshandler/main.go
Due: run-bin-customer-manager

Document the resend ops lever and fix the resend button state
  bin-api-manager/docs/operations.md
  bin-api-manager/docsdev/build/doctrees/auth_overview.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/_sources/auth_overview.rst.txt
  bin-api-manager/docsdev/build/html/auth_overview.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/auth_overview.rst
  bin-api-manager/lib/service/signup.go
  bin-api-manager/lib/service/signup_test.go
Due: run-bin-api-manager

Pin the resend fail-closed contract and refund failed sends
  bin-api-manager/lib/service/signup_test.go
  bin-customer-manager/pkg/cachehandler/handler.go
  bin-customer-manager/pkg/cachehandler/handler_test.go
  bin-customer-manager/pkg/cachehandler/main.go
  bin-customer-manager/pkg/cachehandler/mock_main.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
Due: run-bin-api-manager, run-bin-customer-manager

Cover the email verify resend entry points with tests
  bin-api-manager/pkg/servicehandler/customer_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_signup_test.go
Due: run-bin-api-manager, run-bin-customer-manager

Drop the unreachable deleted check from resendTarget
  bin-customer-manager/pkg/customerhandler/signup.go
Due: run-bin-customer-manager

Add implementation plan for direct token resource binding
  docs/plans/2026-09-08-direct-token-resource-binding-design.md
  tasks/todo.md
Due: none

Issue resource binding claims at direct boot
  bin-api-manager/models/auth/auth.go
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/main.go
Due: run-bin-api-manager

Merge server landing stages into a single PR per owner decision
  tasks/todo.md
Due: none

Correct the merged landing risk analysis
  tasks/todo.md
Due: none

Add authenticated direct token refresh
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/lib/service/boot.go
  bin-api-manager/pkg/servicehandler/boot_refresh.go
  bin-api-manager/pkg/servicehandler/boot_refresh_test.go
  bin-api-manager/pkg/servicehandler/boot_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
Due: run-bin-api-manager

Let the caller pin the new aicall and webchat session id
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/listen_trigger.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/ping_test.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/aicallhandler/tool_case_create_test.go
  bin-ai-manager/pkg/aicallhandler/tool_resource_test.go
  bin-ai-manager/pkg/listenhandler/models/request/aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-api-manager/pkg/servicehandler/aicall.go
  bin-api-manager/pkg/servicehandler/aicall_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_aicall.go
  bin-api-manager/pkg/servicehandler/serviceagent_aicall_test.go
  bin-api-manager/pkg/servicehandler/webchat_session.go
  bin-common-handler/pkg/requesthandler/ai_aicalls.go
  bin-common-handler/pkg/requesthandler/ai_aicalls_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/webchat_session.go
  bin-webchat-manager/pkg/dbhandler/main.go
  bin-webchat-manager/pkg/listenhandler/models/request/v1_sessions.go
  bin-webchat-manager/pkg/listenhandler/v1_sessions.go
  bin-webchat-manager/pkg/sessionhandler/create.go
  bin-webchat-manager/pkg/sessionhandler/create_test.go
  bin-webchat-manager/pkg/sessionhandler/main.go
  bin-webchat-manager/pkg/sessionhandler/mock_main.go
Due: run-bin-api-manager, run-bin-common-handler

Add expired account cleanup analysis
  docs/plans/2026-09-08-expired-account-cleanup-analysis.md
Due: none

Enforce the direct token resource binding
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/lib/middleware/authenticate.go
  bin-api-manager/lib/middleware/authenticate_test.go
  bin-api-manager/lib/middleware/direct_resource_scope.go
  bin-api-manager/lib/middleware/direct_resource_scope_test.go
  bin-api-manager/pkg/servicehandler/aicall.go
  bin-api-manager/pkg/servicehandler/aimessage.go
  bin-api-manager/pkg/servicehandler/webchat_message.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
Due: run-bin-api-manager

Bind direct WebSocket subscriptions to the token's resource
  bin-api-manager/pkg/websockhandler/etc.go
  bin-api-manager/pkg/websockhandler/etc_test.go
Due: run-bin-api-manager

VOIP-1482-Add-google-credentials-to-pipecat-runner
  .circleci/config_work.yml
  bin-pipecat-manager/docs/operations.md
  bin-pipecat-manager/komodo/docker-compose.yml
  bin-pipecat-manager/komodo/environment.env
Due: none

Document the direct token refresh endpoint in the API spec
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/auth_boot_refresh.go
  bin-api-manager/server/auth_stubs_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/auth/boot-refresh.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Cover the enforcement branches and key the hash fingerprint
  bin-ai-manager/pkg/aicallhandler/listen_trigger.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_duplicate_test.go
  bin-api-manager/docs/routing.md
  bin-api-manager/lib/service/boot.go
  bin-api-manager/lib/service/boot_refresh_test.go
  bin-api-manager/pkg/servicehandler/activeflows_test.go
  bin-api-manager/pkg/servicehandler/ai_participants_test.go
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/boot_refresh.go
  bin-api-manager/pkg/servicehandler/boot_refresh_test.go
  bin-api-manager/pkg/servicehandler/boot_test.go
  bin-api-manager/pkg/servicehandler/case_message_test.go
  bin-api-manager/pkg/servicehandler/contact_test.go
  bin-api-manager/pkg/servicehandler/direct_scope_enforcement_test.go
  bin-api-manager/pkg/servicehandler/flow_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_case_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_contact_test.go
  bin-webchat-manager/pkg/dbhandler/main_duplicate_test.go
  bin-webchat-manager/pkg/sessionhandler/create_test.go
Due: run-bin-api-manager

Add VOIP-1491 expired account gate design
  docs/plans/2026-09-08-expired-account-cleanup-analysis.md
  docs/plans/2026-09-09-block-expired-account-gate-design.md
Due: none

Close the review gaps from code review round 2
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_duplicate_test.go
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/lib/middleware/authenticate.go
  bin-api-manager/lib/middleware/direct_resource_scope.go
  bin-api-manager/pkg/servicehandler/aicall.go
  bin-api-manager/pkg/servicehandler/aimessage.go
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/boot_refresh.go
  bin-api-manager/pkg/servicehandler/boot_refresh_test.go
  bin-api-manager/pkg/servicehandler/webchat_message_test.go
  bin-openapi-manager/openapi/paths/auth/boot-refresh.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Correct the login predicate and error mapping in the VOIP-1491 design
  docs/plans/2026-09-09-block-expired-account-gate-design.md
Due: none

Close the deleted-status login hole and specify the lookup failure mode
  docs/plans/2026-09-09-block-expired-account-gate-design.md
Due: none

Pin the fingerprint keying with a regression test
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/boot_fingerprint_test.go
  bin-api-manager/pkg/servicehandler/boot_refresh.go
  bin-openapi-manager/openapi/paths/auth/boot-refresh.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Record the third recovery cohort and the circuit-open metric class
  docs/plans/2026-09-09-block-expired-account-gate-design.md
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
