Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/cmd/ai-manager/builder_wiring.go
  bin-ai-manager/cmd/ai-manager/builder_wiring_test.go
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/docs/operations.md
  bin-ai-manager/internal/config/main.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-openapi-manager/openapi/paths/ai_builder/status.yaml
  docs/plans/2026-10-01-conversational-assistant-builder-design.md
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/cmd/ai-manager/builder_wiring.go
  bin-ai-manager/cmd/ai-manager/builder_wiring_test.go
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/docs/builder-implementation-checks.md
  bin-ai-manager/docs/operations.md
  bin-ai-manager/pkg/builderhandler/eval/README.md
  bin-api-manager/docs/routing.md
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-openapi-manager/openapi/paths/ai_builder/chat.yaml
  bin-openapi-manager/openapi/paths/ai_builder/status.yaml
  docs/plans/2026-10-01-conversational-assistant-builder-design.md
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/builder-implementation-checks.md
  bin-ai-manager/docs/operations.md
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/operations.md
  bin-ai-manager/pkg/builderhandler/eval/README.md
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/operations.md
  bin-ai-manager/pkg/builderhandler/eval/README.md
  docs/plans/2026-10-01-conversational-assistant-builder-design.md
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: none

VOIP-1556-Fix-call-manager-recovery
  bin-call-manager/docs/domain.md
  bin-call-manager/docs/operations.md
  bin-call-manager/docs/plans/2026-10-02-voip-1556-call-recovery-core-design.md
  bin-call-manager/models/channel/main.go
  bin-call-manager/pkg/cachehandler/handler.go
  bin-call-manager/pkg/cachehandler/main.go
  bin-call-manager/pkg/cachehandler/mock_main.go
  bin-call-manager/pkg/callhandler/action_test.go
  bin-call-manager/pkg/callhandler/arievent.go
  bin-call-manager/pkg/callhandler/db.go
  bin-call-manager/pkg/callhandler/db_test.go
  bin-call-manager/pkg/callhandler/hangup.go
  bin-call-manager/pkg/callhandler/hangup_test.go
  bin-call-manager/pkg/callhandler/mock_recoveryhandler.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recovery_switch_test.go
  bin-call-manager/pkg/callhandler/recovery_test.go
  bin-call-manager/pkg/callhandler/recoveryhandler.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer.go
  bin-call-manager/pkg/callhandler/recoveryhandler_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_service_test.go
  bin-call-manager/pkg/callhandler/status_test.go
  bin-call-manager/pkg/channelhandler/arievent.go
  bin-call-manager/pkg/channelhandler/arievent_test.go
  bin-call-manager/pkg/dbhandler/call.go
  bin-call-manager/pkg/dbhandler/call_application.go
  bin-call-manager/pkg/dbhandler/call_recovery_test.go
  bin-call-manager/pkg/dbhandler/channel.go
  bin-call-manager/pkg/dbhandler/channel_test.go
  bin-call-manager/pkg/dbhandler/main.go
  bin-call-manager/pkg/dbhandler/mock_main.go
Due: run-bin-call-manager

Address code review round 1
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recovery_switch_test.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer.go
  bin-call-manager/pkg/callhandler/recoveryhandler_test.go
Due: run-bin-call-manager

Address code review round 2
  bin-call-manager/pkg/callhandler/recoveryhandler_homer.go
  bin-call-manager/pkg/callhandler/recoveryhandler_test.go
Due: run-bin-call-manager

Address code review round 3
  bin-call-manager/docs/operations.md
  bin-call-manager/docs/plans/2026-10-02-voip-1556-call-recovery-core-design.md
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recoveryhandler_test.go
Due: run-bin-call-manager

NOJIRA-Remove-recovery-enabled-flag
  bin-call-manager/cmd/call-control/main.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/docs/architecture.md
  bin-call-manager/docs/domain.md
  bin-call-manager/docs/operations.md
  bin-call-manager/docs/plans/2026-10-01-disable-call-recovery-by-default-design.md
  bin-call-manager/docs/plans/2026-10-03-remove-recovery-enabled-flag-design.md
  bin-call-manager/internal/config/main.go
  bin-call-manager/internal/config/main_test.go
  bin-call-manager/pkg/callhandler/event_test.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recovery_test.go
  bin-sentinel-manager/README.md
  bin-sentinel-manager/docs/architecture.md
  bin-sentinel-manager/docs/operations.md
Due: run-bin-call-manager

Address code review round 1
  bin-call-manager/CLAUDE.md
  bin-call-manager/pkg/callhandler/recovery_test.go
Due: run-bin-call-manager

NOJIRA-Remove-recovery-enabled-flag
  bin-call-manager/CLAUDE.md
  bin-call-manager/cmd/call-control/main.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/docs/architecture.md
  bin-call-manager/docs/domain.md
  bin-call-manager/docs/operations.md
  bin-call-manager/docs/plans/2026-10-01-disable-call-recovery-by-default-design.md
  bin-call-manager/docs/plans/2026-10-03-remove-recovery-enabled-flag-design.md
  bin-call-manager/internal/config/main.go
  bin-call-manager/internal/config/main_test.go
  bin-call-manager/pkg/callhandler/event_test.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recovery_test.go
  bin-sentinel-manager/README.md
  bin-sentinel-manager/docs/architecture.md
  bin-sentinel-manager/docs/operations.md
Due: run-bin-call-manager

bin-call-manager: Add design doc for groupcall owner inheritance
  bin-call-manager/docs/plans/2026-10-04-groupcall-owner-inheritance.md
Due: run-bin-call-manager

bin-call-manager: Fix design doc per review round 1
  bin-call-manager/docs/plans/2026-10-04-groupcall-owner-inheritance.md
Due: run-bin-call-manager

bin-call-manager: Close design review loop (APPROVED)
  bin-call-manager/docs/plans/2026-10-04-groupcall-owner-inheritance.md
Due: run-bin-call-manager

bin-call-manager: Inherit groupcall owner for agent-bound chained calls
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
Due: run-bin-call-manager

bin-call-manager: Correct design doc re: TypeAgent reachability (VOIP-1561)
  bin-call-manager/docs/plans/2026-10-04-groupcall-owner-inheritance.md
Due: run-bin-call-manager

VOIP-1561-Inherit-groupcall-owner-for-agent-bound-chained-calls
  bin-call-manager/docs/plans/2026-10-04-groupcall-owner-inheritance.md
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
Due: run-bin-call-manager

bin-api-manager: Add design doc for contact_id filter (VOIP-1563)
  bin-api-manager/docs/plans/2026-10-04-contact-id-filter-service-agent-cases.md
Due: run-bin-api-manager

bin-api-manager: Fix design doc per review round 2 (VOIP-1563)
  bin-api-manager/docs/plans/2026-10-04-contact-id-filter-service-agent-cases.md
Due: run-bin-api-manager

bin-api-manager: Close design review loop (APPROVED, VOIP-1563)
  bin-api-manager/docs/plans/2026-10-04-contact-id-filter-service-agent-cases.md
Due: run-bin-api-manager

bin-api-manager: Add contact_id filter to service_agents contact_cases
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_case.go
  bin-api-manager/pkg/servicehandler/serviceagent_case_test.go
  bin-api-manager/server/service_agents_contact_cases.go
  bin-api-manager/server/service_agents_contact_cases_test.go
  bin-openapi-manager/openapi/paths/service_agents/contact_cases.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Fix PR review round 3: regenerate bin-openapi-manager models, update docsdev
  bin-api-manager/docsdev/source/service_agent_case_overview.rst
  bin-openapi-manager/gens/models/gen.go
Due: run-bin-api-manager, run-bin-openapi-manager

Fix PR review round 4: remove unverified claim from docsdev hint
  bin-api-manager/docsdev/source/service_agent_case_overview.rst
Due: run-bin-api-manager

VOIP-1563-Add-contact-id-filter-to-contact-cases
  bin-api-manager/docs/plans/2026-10-04-contact-id-filter-service-agent-cases.md
  bin-api-manager/docsdev/source/service_agent_case_overview.rst
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_case.go
  bin-api-manager/pkg/servicehandler/serviceagent_case_test.go
  bin-api-manager/server/service_agents_contact_cases.go
  bin-api-manager/server/service_agents_contact_cases_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/service_agents/contact_cases.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Add OpenRouter LLM routing analysis, design and plan docs
  docs/plans/2026-10-05-openrouter-llm-routing-design.md
  docs/plans/2026-10-05-openrouter-llm-routing-issue-analysis.md
  docs/plans/2026-10-05-openrouter-llm-routing-plan.md
Due: none

Finalize OpenRouter routing plan after review loops
  docs/plans/2026-10-05-openrouter-llm-routing-design.md
  docs/plans/2026-10-05-openrouter-llm-routing-issue-analysis.md
  docs/plans/2026-10-05-openrouter-llm-routing-plan.md
Due: none

VOIP-1562-Finalize-stale-non-final-calls
  bin-call-manager/docs/plans/2026-10-05-voip-1562-finalize-stale-calls-design.md
Due: run-bin-call-manager

VOIP-1562-Finalize-stale-non-final-calls
  bin-call-manager/docs/operations.md
  bin-call-manager/pkg/callhandler/hangup.go
  bin-call-manager/pkg/callhandler/hangup_test.go
  bin-call-manager/pkg/callhandler/health.go
  bin-call-manager/pkg/callhandler/health_test.go
  bin-call-manager/pkg/channelhandler/health.go
  bin-call-manager/pkg/channelhandler/health_test.go
  bin-call-manager/pkg/subscribehandler/asterisk_proxy_test.go
Due: run-bin-call-manager

Add platform_openrouter runner branch and team llm_type guard
  bin-pipecat-manager/docs/operations.md
  bin-pipecat-manager/komodo/docker-compose.yml
  bin-pipecat-manager/scripts/pipecat/conftest.py
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_init_pipeline.py
  bin-pipecat-manager/scripts/pipecat/test_routing_llm.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
  bin-pipecat-manager/scripts/pipecat/test_team_flow.py
  bin-pipecat-manager/scripts/pipecat/test_verify_openrouter_catalog.py
  bin-pipecat-manager/scripts/pipecat/verify_openrouter_catalog.py
Due: none

Add engine model catalog and fail-closed resolver
  bin-ai-manager/cmd/ai-control/main.go
  bin-ai-manager/cmd/ai-control/main_test.go
  bin-ai-manager/models/ai/catalog.go
  bin-ai-manager/models/ai/catalog_test.go
  bin-ai-manager/models/ai/main.go
  bin-ai-manager/models/ai/main_test.go
  bin-ai-manager/models/ai/resolve.go
  bin-ai-manager/models/ai/resolve_test.go
  bin-ai-manager/pkg/aihandler/chatbot.go
  bin-ai-manager/pkg/aihandler/chatbot_engine_model_test.go
  bin-ai-manager/pkg/aihandler/chatbot_test.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/v1_ai_models.go
  bin-ai-manager/pkg/listenhandler/v1_ai_models_test.go
Due: none

VOIP-1562-Finalize-stale-non-final-calls
  bin-call-manager/docs/operations.md
  bin-call-manager/pkg/callhandler/health_test.go
Due: run-bin-call-manager

VOIP-1562-Finalize-stale-non-final-calls
  bin-call-manager/docs/operations.md
  bin-call-manager/pkg/callhandler/hangup_test.go
  bin-call-manager/pkg/callhandler/health_test.go
Due: run-bin-call-manager

VOIP-1562-Finalize-stale-non-final-calls
  bin-call-manager/docs/plans/2026-10-05-voip-1562-finalize-stale-calls-design.md
  bin-call-manager/pkg/callhandler/health_test.go
Due: run-bin-call-manager

Resolve llm type fail-closed at session start
  bin-pipecat-manager/models/pipecatcall/main_test.go
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/llmresolve.go
  bin-pipecat-manager/pkg/pipecatcallhandler/llmresolve_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipelineerror.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipelineerror_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_teamllmtype_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_mcptools_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_toolfallback_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start_test.go
Due: none

Add GET /ai_models and relax engine model enum
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/ai.go
  bin-api-manager/pkg/servicehandler/ai_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/ai_models.go
  bin-api-manager/server/ai_models_test.go
  bin-common-handler/pkg/requesthandler/ai_ais.go
  bin-common-handler/pkg/requesthandler/ai_ais_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/ai_models/main.yaml
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

Cover platform_managed and banned terms in catalog tests
  bin-ai-manager/models/ai/catalog_test.go
Due: none
