Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Add-self-hosting-docs review fixes round 1
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/self_hosting.doctree
  bin-api-manager/docsdev/build/doctrees/self_hosting_configuration.doctree
  bin-api-manager/docsdev/build/doctrees/self_hosting_envvars.doctree
  bin-api-manager/docsdev/build/doctrees/self_hosting_install.doctree
  bin-api-manager/docsdev/build/doctrees/self_hosting_overview.doctree
  bin-api-manager/docsdev/build/doctrees/self_hosting_troubleshooting.doctree
  bin-api-manager/docsdev/build/html/_sources/self_hosting.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_configuration.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_envvars.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_install.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_troubleshooting.rst.txt
  bin-api-manager/docsdev/build/html/objects.inv
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/self_hosting.html
  bin-api-manager/docsdev/build/html/self_hosting_configuration.html
  bin-api-manager/docsdev/build/html/self_hosting_envvars.html
  bin-api-manager/docsdev/build/html/self_hosting_install.html
  bin-api-manager/docsdev/build/html/self_hosting_overview.html
  bin-api-manager/docsdev/build/html/self_hosting_troubleshooting.html
  bin-api-manager/docsdev/source/self_hosting.rst
  bin-api-manager/docsdev/source/self_hosting_configuration.rst
  bin-api-manager/docsdev/source/self_hosting_envvars.rst
  bin-api-manager/docsdev/source/self_hosting_install.rst
  bin-api-manager/docsdev/source/self_hosting_overview.rst
  bin-api-manager/docsdev/source/self_hosting_troubleshooting.rst
Due: run-bin-api-manager

NOJIRA-Add-bin-trigger-sender
  docs/plans/2026-05-12-bin-trigger-sender-design.md
Due: none

NOJIRA-Add-bin-trigger-sender
  docs/plans/2026-05-12-bin-trigger-sender-plan.md
Due: none

NOJIRA-Add-bin-trigger-sender
  docs/plans/2026-05-12-bin-trigger-sender-design.md
  docs/plans/2026-05-12-bin-trigger-sender-plan.md
Due: none

NOJIRA-Add-bin-trigger-sender
  bin-trigger-sender/cmd/bin-trigger-sender/main.go
  bin-trigger-sender/go.mod
  bin-trigger-sender/go.sum
Due: none

NOJIRA-Add-bin-trigger-sender
  bin-trigger-sender/cmd/bin-trigger-sender/main.go
Due: none

NOJIRA-Add-bin-trigger-sender
  bin-trigger-sender/cmd/bin-trigger-sender/main.go
  bin-trigger-sender/cmd/bin-trigger-sender/main_test.go
Due: none

NOJIRA-Add-bin-trigger-sender
  bin-trigger-sender/Dockerfile
Due: none

NOJIRA-Add-bin-trigger-sender
  .circleci/config.yml
  .circleci/config_work.yml
Due: none

NOJIRA-Add-bin-trigger-sender
  bin-number-manager/k8s/cronjob.yml
Due: run-bin-number-manager

NOJIRA-Add-bin-trigger-sender
  .circleci/config.yml
  .circleci/config_work.yml
  bin-number-manager/k8s/cronjob.yml
  bin-trigger-sender/.gitignore
  bin-trigger-sender/Dockerfile
  bin-trigger-sender/cmd/bin-trigger-sender/main.go
  bin-trigger-sender/cmd/bin-trigger-sender/main_test.go
  bin-trigger-sender/go.mod
  bin-trigger-sender/go.sum
  docs/plans/2026-05-12-bin-trigger-sender-design.md
  docs/plans/2026-05-12-bin-trigger-sender-plan.md
Due: run-bin-number-manager

NOJIRA-Add-selfhosting-docs
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/index.doctree
  bin-api-manager/docsdev/build/doctrees/self_hosting.doctree
  bin-api-manager/docsdev/build/html/_sources/self_hosting_configuration.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_envvars.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_install.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_prerequisites.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_troubleshooting.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/self_hosting.html
  bin-api-manager/docsdev/build/html/self_hosting_configuration.html
  bin-api-manager/docsdev/build/html/self_hosting_envvars.html
  bin-api-manager/docsdev/build/html/self_hosting_install.html
  bin-api-manager/docsdev/build/html/self_hosting_overview.html
  bin-api-manager/docsdev/build/html/self_hosting_prerequisites.html
  bin-api-manager/docsdev/build/html/self_hosting_troubleshooting.html
  bin-api-manager/docsdev/source/self_hosting_configuration.rst
  bin-api-manager/docsdev/source/self_hosting_envvars.rst
  bin-api-manager/docsdev/source/self_hosting_install.rst
  bin-api-manager/docsdev/source/self_hosting_overview.rst
  bin-api-manager/docsdev/source/self_hosting_prerequisites.rst
  bin-api-manager/docsdev/source/self_hosting_troubleshooting.rst
Due: run-bin-api-manager

Fix IAM role count: 12 in yaml + 2 OS Login roles explained separately
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/self_hosting.doctree
  bin-api-manager/docsdev/build/html/_sources/self_hosting_prerequisites.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_troubleshooting.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/self_hosting.html
  bin-api-manager/docsdev/build/html/self_hosting_prerequisites.html
  bin-api-manager/docsdev/build/html/self_hosting_troubleshooting.html
  bin-api-manager/docsdev/source/self_hosting_prerequisites.rst
  bin-api-manager/docsdev/source/self_hosting_troubleshooting.rst
Due: run-bin-api-manager

Remove 'thirteen' from install.rst step 7, reference yaml instead
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/self_hosting.doctree
  bin-api-manager/docsdev/build/html/_sources/self_hosting_install.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/self_hosting.html
  bin-api-manager/docsdev/build/html/self_hosting_install.html
  bin-api-manager/docsdev/source/self_hosting_install.rst
Due: run-bin-api-manager

Update Cost section: two configs (minimum/default), accurate figures
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/self_hosting.doctree
  bin-api-manager/docsdev/build/html/_sources/self_hosting_overview.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/self_hosting.html
  bin-api-manager/docsdev/build/html/self_hosting_overview.html
  bin-api-manager/docsdev/source/self_hosting_overview.rst
Due: run-bin-api-manager

NOJIRA-Add-selfhosting-docs (#925)
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/index.doctree
  bin-api-manager/docsdev/build/doctrees/self_hosting.doctree
  bin-api-manager/docsdev/build/html/_sources/self_hosting_configuration.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_envvars.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_install.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_prerequisites.rst.txt
  bin-api-manager/docsdev/build/html/_sources/self_hosting_troubleshooting.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/self_hosting.html
  bin-api-manager/docsdev/build/html/self_hosting_configuration.html
  bin-api-manager/docsdev/build/html/self_hosting_envvars.html
  bin-api-manager/docsdev/build/html/self_hosting_install.html
  bin-api-manager/docsdev/build/html/self_hosting_overview.html
  bin-api-manager/docsdev/build/html/self_hosting_prerequisites.html
  bin-api-manager/docsdev/build/html/self_hosting_troubleshooting.html
  bin-api-manager/docsdev/source/self_hosting_configuration.rst
  bin-api-manager/docsdev/source/self_hosting_envvars.rst
  bin-api-manager/docsdev/source/self_hosting_install.rst
  bin-api-manager/docsdev/source/self_hosting_overview.rst
  bin-api-manager/docsdev/source/self_hosting_prerequisites.rst
  bin-api-manager/docsdev/source/self_hosting_troubleshooting.rst
Due: run-bin-api-manager

NOJIRA-Add-delegate-token
  docs/plans/2026-05-18-delegate-token-design.md
Due: none

NOJIRA-Add-delegate-token
  docs/plans/2026-05-18-delegate-token-plan.md
Due: none

NOJIRA-Add-delegate-token
  bin-api-manager/models/auth/auth.go
  bin-api-manager/models/auth/auth_test.go
Due: run-bin-api-manager

NOJIRA-Add-delegate-token
  bin-api-manager/lib/middleware/authenticate.go
  bin-api-manager/lib/middleware/authenticate_test.go
Due: run-bin-api-manager

NOJIRA-Add-delegate-token
  bin-api-manager/pkg/servicehandler/auth_delegate.go
  bin-api-manager/pkg/servicehandler/auth_delegate_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
Due: run-bin-api-manager

NOJIRA-Add-delegate-token
  bin-api-manager/lib/service/auth_delegate.go
Due: run-bin-api-manager
