Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Add-channel-sip-data-from-kamailio-redis (#658)
  bin-call-manager/models/channel/main.go
  bin-call-manager/pkg/cachehandler/handler.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/dbhandler/channel.go
  bin-call-manager/pkg/dbhandler/main.go
  bin-call-manager/pkg/dbhandler/mock_main.go
  bin-call-manager/scripts/database_scripts_test/table_channels.sql
  bin-dbscheme-manager/bin-manager/main/versions/e2f3a4b5c6d7_call_channels_add_column_sip_data.py
  docs/plans/2026-03-08-channel-sip-data-from-kamailio-redis.md
Due: run-bin-call-manager

NOJIRA-Add-rtpengine-requesthandler-methods
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/rtpengine_commands.go
  bin-common-handler/pkg/requesthandler/rtpengine_commands_test.go
  bin-common-handler/pkg/requesthandler/send_request.go
  bin-common-handler/pkg/utilhandler/handler_test.go
  docs/plans/2026-03-09-add-rtpengine-requesthandler-methods-design.md
Due: run-bin-common-handler

NOJIRA-Add-rtpengine-requesthandler-methods
  bin-common-handler/pkg/requesthandler/rtpengine_commands_test.go
Due: run-bin-common-handler

NOJIRA-Add-rtpengine-requesthandler-methods (#659)
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/rtpengine_commands.go
  bin-common-handler/pkg/requesthandler/rtpengine_commands_test.go
  bin-common-handler/pkg/requesthandler/send_request.go
  bin-common-handler/pkg/utilhandler/handler_test.go
  docs/plans/2026-03-09-add-rtpengine-requesthandler-methods-design.md
Due: run-bin-common-handler

NOJIRA-Fix-RPC-silent-response-drop
  bin-common-handler/pkg/rabbitmqhandler/consume.go
  bin-tts-manager/pkg/listenhandler/v1_speakings.go
  docs/plans/2026-03-09-fix-rpc-silent-response-drop-design.md
Due: run-bin-common-handler, run-bin-tts-manager

NOJIRA-Fix-RPC-silent-response-drop (#660)
  bin-common-handler/pkg/rabbitmqhandler/consume.go
  bin-tts-manager/pkg/listenhandler/v1_speakings.go
  docs/plans/2026-03-09-fix-rpc-silent-response-drop-design.md
Due: run-bin-common-handler, run-bin-tts-manager

NOJIRA-Add-call-rtp-debug-capture
  bin-call-manager/pkg/callhandler/status_test.go
  bin-call-manager/pkg/dbhandler/call.go
  bin-call-manager/pkg/dbhandler/call_test.go
  docs/plans/2026-03-09-call-rtp-debug-capture-design.md
Due: run-bin-call-manager

NOJIRA-Add-call-rtp-debug-capture
  bin-call-manager/pkg/callhandler/hangup.go
Due: run-bin-call-manager

NOJIRA-rtpengine-proxy-pcap-watcher
  voip-rtpengine-proxy/go.mod
  voip-rtpengine-proxy/go.sum
Due: none

NOJIRA-rtpengine-proxy-pcap-watcher
  voip-rtpengine-proxy/pkg/gcsuploader/gcsuploader.go
  voip-rtpengine-proxy/pkg/gcsuploader/gcsuploader_test.go
  voip-rtpengine-proxy/pkg/gcsuploader/main.go
Due: none

NOJIRA-rtpengine-proxy-pcap-watcher
  voip-rtpengine-proxy/pkg/pcapwatcher/main.go
  voip-rtpengine-proxy/pkg/pcapwatcher/parser.go
  voip-rtpengine-proxy/pkg/pcapwatcher/parser_test.go
Due: none

NOJIRA-rtpengine-proxy-pcap-watcher
  voip-rtpengine-proxy/pkg/gcsuploader/mock_main.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher_test.go
Due: none

NOJIRA-rtpengine-proxy-pcap-watcher
  voip-rtpengine-proxy/cmd/rtpengine-proxy/init.go
  voip-rtpengine-proxy/cmd/rtpengine-proxy/main.go
Due: none

NOJIRA-rtpengine-proxy-pcap-watcher
  voip-rtpengine-proxy/cmd/rtpengine-proxy/main.go
  voip-rtpengine-proxy/pkg/pcapwatcher/parser.go
Due: none

NOJIRA-rtpengine-proxy-pcap-watcher (#662)
  voip-rtpengine-proxy/cmd/rtpengine-proxy/init.go
  voip-rtpengine-proxy/cmd/rtpengine-proxy/main.go
  voip-rtpengine-proxy/go.mod
  voip-rtpengine-proxy/go.sum
  voip-rtpengine-proxy/pkg/gcsuploader/gcsuploader.go
  voip-rtpengine-proxy/pkg/gcsuploader/gcsuploader_test.go
  voip-rtpengine-proxy/pkg/gcsuploader/main.go
  voip-rtpengine-proxy/pkg/gcsuploader/mock_main.go
  voip-rtpengine-proxy/pkg/pcapwatcher/main.go
  voip-rtpengine-proxy/pkg/pcapwatcher/parser.go
  voip-rtpengine-proxy/pkg/pcapwatcher/parser_test.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher_test.go
Due: none

NOJIRA-Fix-rtpengine-proxy-lint-errors
  voip-rtpengine-proxy/cmd/rtpengine-proxy/main.go
  voip-rtpengine-proxy/go.mod
  voip-rtpengine-proxy/go.sum
  voip-rtpengine-proxy/pkg/gcsuploader/gcsuploader.go
  voip-rtpengine-proxy/pkg/ngclient/ngclient.go
  voip-rtpengine-proxy/pkg/ngclient/ngclient_test.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher_test.go
Due: none

NOJIRA-Fix-rtpengine-proxy-lint-errors (#663)
  voip-rtpengine-proxy/cmd/rtpengine-proxy/main.go
  voip-rtpengine-proxy/go.mod
  voip-rtpengine-proxy/go.sum
  voip-rtpengine-proxy/pkg/gcsuploader/gcsuploader.go
  voip-rtpengine-proxy/pkg/ngclient/ngclient.go
  voip-rtpengine-proxy/pkg/ngclient/ngclient_test.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher_test.go
Due: none

NOJIRA-Fix-otel-sdk-cve-2026-24051
  voip-rtpengine-proxy/go.mod
  voip-rtpengine-proxy/go.sum
Due: none

NOJIRA-Fix-otel-sdk-cve-2026-24051 (#664)
  voip-rtpengine-proxy/go.mod
  voip-rtpengine-proxy/go.sum
Due: none

NOJIRA-rtpengine-proxy-pcap-watcher
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher.go
Due: none

NOJIRA-fix-pcap-metadata-permissions
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher.go
Due: none

NOJIRA-fix-pcap-metadata-permissions (#666)
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher.go
Due: none

NOJIRA-fix-pcap-metadata-permissions (#667)
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher.go
Due: none

NOJIRA-fix-pcap-metadata-permissions (#668)
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher.go
Due: none

NOJIRA-fix-pcap-metadata-permissions
  voip-rtpengine-proxy/pkg/pcapwatcher/parser.go
  voip-rtpengine-proxy/pkg/pcapwatcher/parser_test.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher_test.go
Due: none

NOJIRA-fix-pcap-metadata-permissions (#669)
  voip-rtpengine-proxy/pkg/pcapwatcher/parser.go
  voip-rtpengine-proxy/pkg/pcapwatcher/parser_test.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher.go
  voip-rtpengine-proxy/pkg/pcapwatcher/watcher_test.go
Due: none

NOJIRA-Merge-rtp-pcap-timeline
  bin-timeline-manager/internal/config/main.go
  bin-timeline-manager/internal/config/main_test.go
Due: none

NOJIRA-Merge-rtp-pcap-timeline
  bin-timeline-manager/pkg/siphandler/gcsreader.go
  bin-timeline-manager/pkg/siphandler/mock_gcsreader.go
Due: none

NOJIRA-Merge-rtp-pcap-timeline
  bin-timeline-manager/go.mod
  bin-timeline-manager/go.sum
  bin-timeline-manager/pkg/siphandler/gcsreader_impl.go
Due: none

NOJIRA-Merge-rtp-pcap-timeline
  bin-timeline-manager/pkg/siphandler/main.go
  bin-timeline-manager/pkg/siphandler/main_test.go
Due: none

NOJIRA-Merge-rtp-pcap-timeline
  bin-timeline-manager/cmd/timeline-manager/main.go
  bin-timeline-manager/k8s/deployment.yml
  bin-timeline-manager/pkg/siphandler/main.go
  bin-timeline-manager/pkg/siphandler/main_test.go
  docs/plans/2026-03-10-merge-rtp-pcap-timeline-design.md
  docs/plans/2026-03-10-merge-rtp-pcap-timeline-impl-plan.md
Due: none

NOJIRA-Merge-rtp-pcap-timeline
  bin-timeline-manager/pkg/siphandler/main_test.go
Due: none

NOJIRA-Merge-rtp-pcap-timeline
  bin-timeline-manager/cmd/timeline-manager/main.go
  bin-timeline-manager/k8s/deployment.yml
  bin-timeline-manager/pkg/siphandler/main.go
  bin-timeline-manager/pkg/siphandler/main_test.go
Due: none

NOJIRA-Merge-rtp-pcap-timeline
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/timeline_sip.go
Due: run-bin-common-handler

NOJIRA-Merge-rtp-pcap-timeline
  bin-common-handler/pkg/requesthandler/main.go
Due: run-bin-common-handler

NOJIRA-Merge-rtp-pcap-timeline
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-common-handler/go.mod
  bin-common-handler/go.sum
Due: run-bin-api-manager, run-bin-common-handler

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
