Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

VOIP-1233-rabbitmq-ack-after-process-design
  docs/plans/2026-07-12-voip-1233-rabbitmq-ack-after-process-design.md
Due: none

VOIP-1233-rabbitmq-ack-after-process
  bin-common-handler/pkg/rabbitmqhandler/consume.go
  bin-common-handler/pkg/rabbitmqhandler/main_test.go
  bin-common-handler/pkg/rabbitmqhandler/metrics.go
  bin-common-handler/pkg/rabbitmqhandler/publish.go
  bin-common-handler/pkg/rabbitmqhandler/queue.go
  bin-common-handler/pkg/rabbitmqhandler/retry_test.go
Due: run-bin-common-handler

VOIP-1233-rabbitmq-ack-after-process
  bin-common-handler/pkg/rabbitmqhandler/consume.go
Due: run-bin-common-handler

VOIP-1233-rabbitmq-ack-after-process
  bin-common-handler/pkg/rabbitmqhandler/consume.go
  bin-common-handler/pkg/rabbitmqhandler/main_test.go
  bin-common-handler/pkg/rabbitmqhandler/metrics.go
  bin-common-handler/pkg/rabbitmqhandler/publish.go
  bin-common-handler/pkg/rabbitmqhandler/queue.go
  bin-common-handler/pkg/rabbitmqhandler/retry_test.go
  docs/plans/2026-07-12-voip-1233-rabbitmq-ack-after-process-design.md
Due: run-bin-common-handler

VOIP-1252-case-contact-attribution-api-design
  bin-contact-manager/docs/plans/VOIP-1252-case-contact-attribution-api-design.md
Due: none

VOIP-1252-case-contact-attribution-api-design v0.2
  bin-contact-manager/docs/plans/VOIP-1252-case-contact-attribution-api-design.md
Due: none

VOIP-1252-case-contact-attribution-api-design v0.3
  bin-contact-manager/docs/plans/VOIP-1252-case-contact-attribution-api-design.md
Due: none

VOIP-1252-case-contact-attribution-api-design v0.4 (APPROVED)
  bin-contact-manager/docs/plans/VOIP-1252-case-contact-attribution-api-design.md
Due: none

VOIP-1252-case-contact-attribution-api
  bin-contact-manager/pkg/casehandler/contact_attribution.go
  bin-contact-manager/pkg/casehandler/contact_attribution_test.go
Due: none

VOIP-1253-case-contact-direct-update-design v0.1
  bin-contact-manager/docs/plans/VOIP-1253-case-contact-direct-update-design.md
Due: none

VOIP-1253-case-contact-direct-update-design v0.2
  bin-contact-manager/docs/plans/VOIP-1253-case-contact-direct-update-design.md
Due: none

VOIP-1253-case-contact-direct-update-design v0.3
  bin-contact-manager/docs/plans/VOIP-1253-case-contact-direct-update-design.md
Due: none

VOIP-1253-case-contact-direct-update-design v0.4
  bin-contact-manager/docs/plans/VOIP-1253-case-contact-direct-update-design.md
Due: none

VOIP-1253-case-contact-direct-update-design v0.5
  bin-contact-manager/docs/plans/VOIP-1253-case-contact-direct-update-design.md
Due: none

VOIP-1253-case-contact-direct-update-design v0.6
  bin-contact-manager/docs/plans/VOIP-1253-case-contact-direct-update-design.md
Due: none

VOIP-1253-case-contact-direct-update-design v0.7
  bin-contact-manager/docs/plans/VOIP-1253-case-contact-direct-update-design.md
Due: none

VOIP-1253-case-contact-direct-update-design v0.8
  bin-contact-manager/docs/plans/VOIP-1253-case-contact-direct-update-design.md
Due: none

VOIP-1253-case-contact-direct-update-design v0.8 (round-8 note)
  bin-contact-manager/docs/plans/VOIP-1253-case-contact-direct-update-design.md
Due: none

VOIP-1253-case-contact-direct-update
  bin-common-handler/pkg/requesthandler/contact_case_resolutions.go
  bin-common-handler/pkg/requesthandler/contact_case_resolutions_test.go
  bin-common-handler/pkg/requesthandler/contact_case_update.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

VOIP-1253-case-contact-direct-update
  bin-contact-manager/cmd/case-control/main.go
  bin-contact-manager/models/kase/kase.go
  bin-contact-manager/models/resolution/resolution.go
  bin-contact-manager/pkg/casehandler/case_tag.go
  bin-contact-manager/pkg/casehandler/contact_attribution.go
  bin-contact-manager/pkg/casehandler/contact_attribution_test.go
  bin-contact-manager/pkg/casehandler/contact_attribution_write_test.go
  bin-contact-manager/pkg/casehandler/contact_unresolved.go
  bin-contact-manager/pkg/casehandler/contact_update.go
  bin-contact-manager/pkg/casehandler/main.go
  bin-contact-manager/pkg/casehandler/mock_main.go
  bin-contact-manager/pkg/casehandler/reconcile_test.go
  bin-contact-manager/pkg/dbhandler/kase.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/resolution.go
  bin-contact-manager/pkg/dbhandler/resolution_test.go
  bin-contact-manager/pkg/listenhandler/main.go
  bin-contact-manager/pkg/listenhandler/models/request/v1_case_contact.go
  bin-contact-manager/pkg/listenhandler/models/request/v1_case_resolutions.go
  bin-contact-manager/pkg/listenhandler/v1_case_contact.go
  bin-contact-manager/pkg/listenhandler/v1_case_resolutions.go
  bin-contact-manager/pkg/listenhandler/v1_case_resolutions_test.go
Due: none

VOIP-1253-case-contact-direct-update
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/contact_cases/id.yaml
  bin-openapi-manager/openapi/paths/contact_cases/id_resolutions.yaml
  bin-openapi-manager/openapi/paths/contact_cases/id_resolutions_id.yaml
Due: run-bin-openapi-manager

VOIP-1253-case-contact-direct-update
  bin-api-manager/pkg/servicehandler/case_test.go
  bin-api-manager/server/contact_cases_test.go
Due: run-bin-api-manager

VOIP-1253-case-contact-direct-update
  bin-contact-manager/pkg/casehandler/contact_update_test.go
  bin-contact-manager/pkg/dbhandler/kase_test.go
  bin-contact-manager/pkg/listenhandler/v1_case_contact_test.go
Due: none

VOIP-1253-case-contact-direct-update
  bin-common-handler/pkg/requesthandler/contact_case_update_test.go
Due: run-bin-common-handler

VOIP-1254-Case-tag-ids-json-column
  bin-contact-manager/models/kase/kase.go
  bin-contact-manager/models/kase/kase_test.go
  bin-contact-manager/pkg/casehandler/case_list_get.go
  bin-contact-manager/pkg/casehandler/case_tag.go
  bin-contact-manager/pkg/casehandler/case_tag_test.go
  bin-contact-manager/pkg/casehandler/casenote.go
  bin-contact-manager/pkg/casehandler/contact_update.go
  bin-contact-manager/pkg/dbhandler/case_tag_assignment.go
  bin-contact-manager/pkg/dbhandler/case_tag_assignment_test.go
  bin-contact-manager/pkg/dbhandler/kase.go
  bin-contact-manager/pkg/dbhandler/kase_test.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
  bin-dbscheme-manager/bin-manager/main/versions/43947d3f7312_contact_case_tag_assignments_drop_table.py
  bin-dbscheme-manager/bin-manager/main/versions/c2e53c0f6453_contact_cases_add_column_tag_ids.py
  bin-dbscheme-manager/docs/schema-ownership.md
  docs/plans/2026-07-14-case-tag-ids-json-column-design.md
Due: none

VOIP-1254-Case-tag-ids-json-column (#1098)
  bin-contact-manager/models/kase/kase.go
  bin-contact-manager/models/kase/kase_test.go
  bin-contact-manager/pkg/casehandler/case_list_get.go
  bin-contact-manager/pkg/casehandler/case_tag.go
  bin-contact-manager/pkg/casehandler/case_tag_test.go
  bin-contact-manager/pkg/casehandler/casenote.go
  bin-contact-manager/pkg/casehandler/contact_update.go
  bin-contact-manager/pkg/dbhandler/case_tag_assignment.go
  bin-contact-manager/pkg/dbhandler/case_tag_assignment_test.go
  bin-contact-manager/pkg/dbhandler/kase.go
  bin-contact-manager/pkg/dbhandler/kase_test.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
  bin-dbscheme-manager/bin-manager/main/versions/43947d3f7312_contact_case_tag_assignments_drop_table.py
  bin-dbscheme-manager/bin-manager/main/versions/c2e53c0f6453_contact_cases_add_column_tag_ids.py
  bin-dbscheme-manager/docs/schema-ownership.md
  docs/plans/2026-07-14-case-tag-ids-json-column-design.md
Due: none

tighten VOIP-1257 test assertions to check cerrors.StatusInvalidArgument
  bin-ai-manager/pkg/aihandler/chatbot_test.go
Due: none
