Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Fix-go-mod-tidy-all-services
  CLAUDE.md
Due: none

NOJIRA-Fix-transcribe-deployment-and-queue-test
  bin-queue-manager/pkg/listenhandler/v1_queues_test.go
  bin-transcribe-manager/k8s/deployment.yml
Due: run-bin-queue-manager, run-bin-transcribe-manager

NOJIRA-Fix-transcribe-deployment-and-queue-test (#691)
  bin-queue-manager/pkg/listenhandler/v1_queues_test.go
  bin-transcribe-manager/k8s/deployment.yml
Due: run-bin-queue-manager, run-bin-transcribe-manager

NOJIRA-Add-aimessage-to-aggregated-events
  bin-api-manager/pkg/servicehandler/aggregated_events.go
  bin-api-manager/pkg/servicehandler/aggregated_events_test.go
Due: run-bin-api-manager

NOJIRA-Fix-clickhouse-timestamp-precision
  bin-common-handler/pkg/notifyhandler/publish.go
Due: run-bin-common-handler

NOJIRA-Fix-clickhouse-timestamp-precision
  bin-timeline-manager/README.md
Due: none

NOJIRA-Fix-clickhouse-timestamp-precision (#693)
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-timeline-manager/README.md
Due: run-bin-common-handler

NOJIRA-Centralize-clickhouse-writes-in-timeline-manager
  bin-timeline-manager/pkg/subscribehandler/main_test.go
Due: none

NOJIRA-Centralize-clickhouse-writes-in-timeline-manager
  bin-timeline-manager/pkg/subscribehandler/main.go
Due: none

NOJIRA-Centralize-clickhouse-writes-in-timeline-manager
  bin-timeline-manager/k8s/deployment.yml
Due: none

NOJIRA-Centralize-clickhouse-writes-in-timeline-manager
  bin-timeline-manager/k8s/deployment.yml
  bin-timeline-manager/pkg/dbhandler/event_insert.go
  bin-timeline-manager/pkg/dbhandler/main.go
  bin-timeline-manager/pkg/dbhandler/mock_main.go
  bin-timeline-manager/pkg/subscribehandler/main.go
  bin-timeline-manager/pkg/subscribehandler/main_test.go
Due: none

NOJIRA-Centralize-clickhouse-writes-in-timeline-manager
  bin-timeline-manager/cmd/timeline-manager/main.go
  bin-timeline-manager/pkg/dbhandler/event_insert.go
  bin-timeline-manager/pkg/dbhandler/main.go
  bin-timeline-manager/pkg/dbhandler/mock_main.go
  bin-timeline-manager/pkg/subscribehandler/main.go
  bin-timeline-manager/pkg/subscribehandler/main_test.go
  bin-timeline-manager/pkg/subscribehandler/mock_main.go
Due: none

NOJIRA-Centralize-clickhouse-writes-in-timeline-manager
  bin-timeline-manager/cmd/timeline-manager/main.go
  bin-timeline-manager/pkg/subscribehandler/main.go
  bin-timeline-manager/pkg/subscribehandler/mock_main.go
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-dbscheme-manager/rag-manager/main/versions/001_create_rag_tables.py
  bin-rag-manager/models/chunk/main.go
  bin-rag-manager/models/document/webhook.go
  bin-rag-manager/models/rag/webhook.go
  bin-rag-manager/pkg/dbhandler/chunk.go
  bin-rag-manager/pkg/dbhandler/document.go
  bin-rag-manager/pkg/dbhandler/document_test.go
  bin-rag-manager/pkg/dbhandler/main.go
  bin-rag-manager/pkg/dbhandler/rag.go
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-rag-manager/go.mod
  bin-rag-manager/go.sum
  bin-rag-manager/pkg/dbhandler/chunk.go
  bin-rag-manager/pkg/dbhandler/chunk_test.go
  bin-rag-manager/pkg/dbhandler/document.go
  bin-rag-manager/pkg/dbhandler/document_test.go
  bin-rag-manager/pkg/dbhandler/main.go
  bin-rag-manager/pkg/dbhandler/rag.go
  bin-rag-manager/pkg/dbhandler/rag_test.go
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-dbscheme-manager/rag-manager/main/versions/001_create_rag_tables.py
  bin-rag-manager/pkg/dbhandler/chunk.go
  bin-rag-manager/pkg/dbhandler/chunk_test.go
  bin-rag-manager/pkg/dbhandler/document.go
  bin-rag-manager/pkg/dbhandler/document_test.go
  bin-rag-manager/pkg/dbhandler/rag.go
  bin-rag-manager/pkg/dbhandler/rag_test.go
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-dbscheme-manager/rag-manager/alembic.ini.sample
  bin-dbscheme-manager/rag-manager/main/README
  bin-dbscheme-manager/rag-manager/main/env.py
  bin-dbscheme-manager/rag-manager/main/script.py.mako
  bin-dbscheme-manager/rag-manager/main/versions/001_create_rag_tables.py
  bin-rag-manager/cmd/rag-manager/main.go
  bin-rag-manager/go.mod
  bin-rag-manager/go.sum
  bin-rag-manager/internal/config/config.go
  bin-rag-manager/migrations/000001_create_rag_tables.down.sql
  bin-rag-manager/migrations/000001_create_rag_tables.up.sql
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-rag-manager/CLAUDE.md
  bin-rag-manager/cmd/rag-manager/main.go
  bin-rag-manager/go.mod
  bin-rag-manager/go.sum
  bin-rag-manager/internal/config/config.go
  bin-rag-manager/k8s/deployment.yml
  bin-rag-manager/migrations/000001_create_rag_tables.up.sql
  bin-rag-manager/pkg/embedder/embedder_test.go
  bin-rag-manager/pkg/embedder/google.go
  bin-rag-manager/pkg/embedder/openai.go
  bin-rag-manager/pkg/generator/generator.go
  bin-rag-manager/pkg/generator/generator_test.go
  bin-rag-manager/pkg/listenhandler/main.go
  bin-rag-manager/pkg/listenhandler/main_test.go
  bin-rag-manager/pkg/listenhandler/v1_index.go
  bin-rag-manager/pkg/listenhandler/v1_query.go
  bin-rag-manager/pkg/raghandler/main.go
  bin-rag-manager/pkg/raghandler/main_test.go
  bin-rag-manager/pkg/raghandler/mock_main.go
  bin-rag-manager/pkg/retriever/retriever.go
  bin-rag-manager/pkg/retriever/retriever_test.go
  bin-rag-manager/pkg/store/memory.go
  bin-rag-manager/pkg/store/memory_test.go
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-rag-manager/k8s/kustomization.yml
Due: none

NOJIRA-Rag-manager-postgresql-foundation (#696)
  bin-rag-manager/k8s/kustomization.yml
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-rag-manager/Dockerfile
Due: none

NOJIRA-Rag-manager-postgresql-foundation (#697)
  bin-rag-manager/Dockerfile
Due: none

NOJIRA-Rag-manager-fix-broken-common-handler
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/rag.go
  bin-common-handler/go.mod
  bin-common-handler/go.sum
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/rag_rags.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Rag-manager-phase2-api-endpoints
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/rag.go
  bin-api-manager/server/rags.go
  bin-common-handler/go.mod
  bin-common-handler/go.sum
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/rag_rags.go
  bin-rag-manager/go.mod
  bin-rag-manager/go.sum
  bin-rag-manager/models/document/filters.go
  bin-rag-manager/models/query/main.go
  bin-rag-manager/models/rag/filters.go
  bin-rag-manager/pkg/dbhandler/document.go
  bin-rag-manager/pkg/dbhandler/main.go
  bin-rag-manager/pkg/dbhandler/mock_main.go
  bin-rag-manager/pkg/dbhandler/rag.go
  bin-rag-manager/pkg/listenhandler/main.go
  bin-rag-manager/pkg/listenhandler/main_test.go
  bin-rag-manager/pkg/listenhandler/v1_documents.go
  bin-rag-manager/pkg/listenhandler/v1_query.go
  bin-rag-manager/pkg/listenhandler/v1_rags.go
  bin-rag-manager/pkg/raghandler/document.go
  bin-rag-manager/pkg/raghandler/main.go
  bin-rag-manager/pkg/raghandler/mock_main.go
  bin-rag-manager/pkg/raghandler/query.go
  bin-rag-manager/pkg/raghandler/rag.go
  docs/plans/2026-03-18-rag-manager-phase2-api-endpoints-design.md
  docs/plans/2026-03-18-rag-manager-phase2-api-endpoints.md
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Rag-manager-phase2-api-endpoints
  bin-rag-manager/pkg/listenhandler/main.go
  bin-rag-manager/pkg/listenhandler/v1_documents.go
  bin-rag-manager/pkg/listenhandler/v1_rags.go
Due: none

NOJIRA-Rag-manager-phase2-api-endpoints
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/rag.go
  bin-api-manager/server/rags.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/rags/query.yaml
  docs/plans/2026-03-18-rag-manager-phase2-api-endpoints-design.md
  docs/plans/2026-03-18-rag-manager-phase2-api-endpoints.md
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Rag-manager-phase2-api-endpoints
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/rag.go
  bin-api-manager/pkg/servicehandler/rag_document.go
  bin-api-manager/server/rag_documents.go
  bin-api-manager/server/rags.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/rag_documents.go
  bin-common-handler/pkg/requesthandler/rag_rags.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/rag-documents/id.yaml
  bin-openapi-manager/openapi/paths/rag-documents/main.yaml
  bin-openapi-manager/openapi/paths/rags/id.yaml
  bin-openapi-manager/openapi/paths/rags/main.yaml
  bin-rag-manager/pkg/listenhandler/main.go
  bin-rag-manager/pkg/listenhandler/main_test.go
  bin-rag-manager/pkg/listenhandler/v1_rags.go
  bin-rag-manager/pkg/raghandler/main.go
  bin-rag-manager/pkg/raghandler/mock_main.go
  bin-rag-manager/pkg/raghandler/rag.go
  docs/plans/2026-03-18-rag-manager-external-api.md
  docs/plans/2026-03-18-rag-manager-phase2-api-endpoints-design.md
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Rag-manager-phase2-api-endpoints
  bin-api-manager/server/rags.go
  bin-rag-manager/pkg/dbhandler/document.go
  bin-rag-manager/pkg/dbhandler/rag.go
Due: run-bin-api-manager

NOJIRA-Rag-manager-phase2-api-endpoints
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  docs/plans/2026-03-18-rag-manager-phase2-api-endpoints-design.md
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Rag-manager-phase2-api-endpoints
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-openapi-manager/openapi/paths/rag-documents/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
