Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Scale-timeline-manager-to-two-replicas (#1236)
  bin-timeline-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

NOJIRA-Mark-timeline-scale-verified
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

NOJIRA-Mark-timeline-scale-verified (#1239)
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

VOIP-1418-Reintegrate-sentinel-manager-cicd
  bin-sentinel-manager/CLAUDE.md
  bin-sentinel-manager/docs/operations.md
  bin-sentinel-manager/pkg/dockerwatchhandler/events_test.go
  monitoring/grafana/dashboards/sentinel-manager.json
  tasks/todo.md
Due: none

NOJIRA-Add-healthcheck-redsync-lock-and-scale
  bin-route-manager/cmd/route-manager/main.go
  bin-route-manager/docs/operations.md
  bin-route-manager/go.mod
  bin-route-manager/go.sum
  bin-route-manager/komodo/docker-compose.yml
  bin-route-manager/pkg/healthcheckhandler/health.go
  bin-route-manager/pkg/healthcheckhandler/health_test.go
  bin-route-manager/pkg/healthcheckhandler/main.go
  bin-route-manager/pkg/healthcheckhandler/main_test.go
  bin-route-manager/pkg/healthcheckhandler/mock_main.go
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-route-manager

VOIP-1418-Reintegrate-sentinel-manager-cicd
  tasks/todo.md
Due: none

NOJIRA-Add-healthcheck-redsync-lock-and-scale (#1237)
  bin-route-manager/cmd/route-manager/main.go
  bin-route-manager/docs/operations.md
  bin-route-manager/go.mod
  bin-route-manager/go.sum
  bin-route-manager/komodo/docker-compose.yml
  bin-route-manager/pkg/healthcheckhandler/health.go
  bin-route-manager/pkg/healthcheckhandler/health_test.go
  bin-route-manager/pkg/healthcheckhandler/main.go
  bin-route-manager/pkg/healthcheckhandler/main_test.go
  bin-route-manager/pkg/healthcheckhandler/mock_main.go
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-route-manager

NOJIRA-Mark-route-scale-verified
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

NOJIRA-Mark-route-scale-verified (#1241)
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

VOIP-1418-Reintegrate-sentinel-manager-cicd
  bin-call-manager/go.sum
  bin-sentinel-manager/go.mod
  bin-sentinel-manager/go.sum
  bin-sentinel-manager/pkg/dockerwatchhandler/events.go
  bin-sentinel-manager/pkg/dockerwatchhandler/main.go
  bin-sentinel-manager/pkg/dockerwatchhandler/main_test.go
  bin-sentinel-manager/pkg/k8swatchhandler/budget.go
  bin-sentinel-manager/pkg/k8swatchhandler/budget_test.go
  bin-sentinel-manager/pkg/k8swatchhandler/main.go
  bin-sentinel-manager/pkg/k8swatchhandler/main_test.go
  bin-sentinel-manager/pkg/k8swatchhandler/mock_main.go
  bin-sentinel-manager/pkg/k8swatchhandler/run.go
  bin-sentinel-manager/pkg/k8swatchhandler/run_test.go
  bin-sentinel-manager/pkg/monitoringbackend/main.go
  bin-sentinel-manager/pkg/monitoringbackend/main_test.go
Due: run-bin-call-manager

VOIP-1418-Reintegrate-sentinel-manager-cicd
  bin-sentinel-manager/CLAUDE.md
  bin-sentinel-manager/README.md
  bin-sentinel-manager/docs/architecture.md
  bin-sentinel-manager/docs/domain.md
  bin-sentinel-manager/docs/operations.md
  docs/.docs-gen/bin-sentinel-manager.extracted.json
  docs/plans/2026-09-01-voip-1418-sentinel-docker-backend-design.md
  monitoring/grafana/dashboards/sentinel-manager.json
  tasks/todo.md
Due: none

VOIP-1418-Reintegrate-sentinel-manager-cicd
  bin-sentinel-manager/cmd/sentinel-control/main.go
  bin-sentinel-manager/cmd/sentinel-manager/main.go
  bin-sentinel-manager/cmd/sentinel-manager/main_test.go
  bin-sentinel-manager/internal/config/config.go
  bin-sentinel-manager/internal/config/config_test.go
  bin-sentinel-manager/k8s/deployment.yml
  bin-sentinel-manager/komodo/docker-compose.yml
Due: none

VOIP-1418-Reintegrate-sentinel-manager-cicd
  bin-sentinel-manager/pkg/k8swatchhandler/budget.go
  bin-sentinel-manager/pkg/k8swatchhandler/budget_test.go
  bin-sentinel-manager/pkg/k8swatchhandler/run.go
  bin-sentinel-manager/pkg/k8swatchhandler/watchuntildone_test.go
  docs/plans/2026-09-01-voip-1418-sentinel-docker-backend-design.md
  tasks/todo.md
Due: none

VOIP-1431-verify-scoperefcount-amqp-channel-safety
  bin-api-manager/pkg/websockhandler/scoperefcount.go
  bin-common-handler/pkg/rabbitmqhandler/main.go
  bin-common-handler/pkg/rabbitmqhandler/main_test.go
  bin-common-handler/pkg/rabbitmqhandler/mock_rabbitmqhandler.go
  bin-common-handler/pkg/rabbitmqhandler/queue.go
  docs/plans/2026-09-01-voip-1431-amqp-channel-race-design.md
  docs/plans/2026-09-01-voip-1431-scoperefcount-amqp-safety-analysis.md
Due: run-bin-api-manager, run-bin-common-handler

VOIP-1438-contact-manager-redis-peer-lock
  bin-contact-manager/cmd/contact-control/main.go
  bin-contact-manager/cmd/contact-manager/main.go
  bin-contact-manager/go.mod
  bin-contact-manager/go.sum
  bin-contact-manager/komodo/docker-compose.yml
  bin-contact-manager/pkg/cachehandler/handler_test.go
  bin-contact-manager/pkg/casehandler/assign_test.go
  bin-contact-manager/pkg/casehandler/contact_unresolved_test.go
  bin-contact-manager/pkg/casehandler/getorcreate_dberror_test.go
  bin-contact-manager/pkg/casehandler/getorcreate_redis_lock_test.go
  bin-contact-manager/pkg/casehandler/main.go
  bin-contact-manager/pkg/casehandler/main_test.go
  bin-contact-manager/pkg/casehandler/mock_main.go
  bin-contact-manager/pkg/casehandler/peerlock.go
  bin-contact-manager/pkg/casehandler/peerlock_redis_test.go
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

VOIP-1440-Scale-contact-manager-to-two-replicas
  bin-contact-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: none

NOJIRA-Remove-sentinel-manager-k8s-manifests
  bin-sentinel-manager/CLAUDE.md
  bin-sentinel-manager/README.md
  bin-sentinel-manager/docs/operations.md
  bin-sentinel-manager/internal/config/config.go
  bin-sentinel-manager/internal/config/config_test.go
  bin-sentinel-manager/k8s/deployment.yml
  bin-sentinel-manager/k8s/kustomization.yml
  bin-sentinel-manager/k8s/namespace.yml
  bin-sentinel-manager/k8s/rbac/kustomization.yml
  bin-sentinel-manager/k8s/rbac/role.yml
  bin-sentinel-manager/k8s/rbac/rolebinding.yml
  bin-sentinel-manager/k8s/service.yml
  docs/plans/2026-09-01-voip-1418-sentinel-docker-backend-design.md
Due: none

NOJIRA-Remove-sentinel-manager-k8s-manifests (#1246)
  bin-sentinel-manager/CLAUDE.md
  bin-sentinel-manager/README.md
  bin-sentinel-manager/docs/operations.md
  bin-sentinel-manager/internal/config/config.go
  bin-sentinel-manager/internal/config/config_test.go
  bin-sentinel-manager/k8s/deployment.yml
  bin-sentinel-manager/k8s/kustomization.yml
  bin-sentinel-manager/k8s/namespace.yml
  bin-sentinel-manager/k8s/rbac/kustomization.yml
  bin-sentinel-manager/k8s/rbac/role.yml
  bin-sentinel-manager/k8s/rbac/rolebinding.yml
  bin-sentinel-manager/k8s/service.yml
  docs/plans/2026-09-01-voip-1418-sentinel-docker-backend-design.md
Due: none

VOIP-1440-Scale-contact-manager-to-two-replicas (#1245)
  bin-contact-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: none

NOJIRA-Mark-contact-scale-verified
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

NOJIRA-Mark-contact-scale-verified (#1248)
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

VOIP-1442-Scale-api-manager-to-two-replicas
  bin-api-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-api-manager

NOJIRA-Fix-sentinel-config-once-retry-bug
  bin-sentinel-manager/docs/architecture.md
  bin-sentinel-manager/docs/operations.md
  bin-sentinel-manager/internal/config/config.go
  bin-sentinel-manager/internal/config/config_test.go
  docs/conventions/configuration.md
Due: none

NOJIRA-Fix-sentinel-config-once-retry-bug (#1250)
  bin-sentinel-manager/docs/architecture.md
  bin-sentinel-manager/docs/operations.md
  bin-sentinel-manager/internal/config/config.go
  bin-sentinel-manager/internal/config/config_test.go
  docs/conventions/configuration.md
Due: none

VOIP-1442-Scale-api-manager-to-two-replicas (#1249)
  bin-api-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-api-manager

NOJIRA-Mark-api-manager-replica-tracker-done
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

NOJIRA-Mark-api-manager-replica-tracker-done (#1252)
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

Fix address filter ordering and add missing test coverage
  bin-ai-manager/pkg/aicallhandler/tool_insight.go
  bin-ai-manager/pkg/aicallhandler/tool_insight_test.go
  tasks/todo.md
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  docs/plans/2026-09-02-fleet-go-toolchain-upgrade-design.md
Due: none

Strengthen address-filter and TagIDs test coverage (round-2 review)
  bin-ai-manager/pkg/aicallhandler/tool_insight_test.go
Due: none
