Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

VOIP-1358-Roll-out-storage-manager-komodo-deploy
  .circleci/config_work.yml
  .circleci/scripts/komodo-api-deploy.sh
  .circleci/tests/komodo-api-deploy.bats
  bin-storage-manager/docs/operations.md
  bin-storage-manager/komodo/docker-compose.yml
  bin-storage-manager/komodo/environment.env
Due: run-bin-storage-manager

VOIP-1358-Roll-out-storage-manager-komodo-deploy (#1195)
  .circleci/config_work.yml
  .circleci/scripts/komodo-api-deploy.sh
  .circleci/tests/komodo-api-deploy.bats
  bin-storage-manager/docs/operations.md
  bin-storage-manager/komodo/docker-compose.yml
  bin-storage-manager/komodo/environment.env
Due: run-bin-storage-manager

VOIP-1359-Roll-out-rag-manager-komodo-deploy
  .circleci/config_work.yml
  bin-rag-manager/docs/operations.md
  bin-rag-manager/komodo/docker-compose.yml
  bin-rag-manager/komodo/environment.env
Due: none

VOIP-1359-Roll-out-rag-manager-komodo-deploy (#1196)
  .circleci/config_work.yml
  bin-rag-manager/docs/operations.md
  bin-rag-manager/komodo/docker-compose.yml
  bin-rag-manager/komodo/environment.env
Due: none

VOIP-1360-Roll-out-transcribe-manager-komodo-deploy
  .circleci/config_work.yml
  bin-transcribe-manager/docs/operations.md
  bin-transcribe-manager/komodo/docker-compose.yml
  bin-transcribe-manager/komodo/environment.env
Due: run-bin-transcribe-manager

VOIP-1360-Roll-out-transcribe-manager-komodo-deploy (#1197)
  .circleci/config_work.yml
  bin-transcribe-manager/docs/operations.md
  bin-transcribe-manager/komodo/docker-compose.yml
  bin-transcribe-manager/komodo/environment.env
Due: run-bin-transcribe-manager

VOIP-1362-Roll-out-api-manager-komodo-deploy
  .circleci/config_work.yml
  bin-api-manager/docs/operations.md
  bin-api-manager/komodo/docker-compose.yml
  bin-api-manager/komodo/environment.env
Due: run-bin-api-manager

VOIP-1362-Roll-out-api-manager-komodo-deploy (#1198)
  .circleci/config_work.yml
  bin-api-manager/docs/operations.md
  bin-api-manager/komodo/docker-compose.yml
  bin-api-manager/komodo/environment.env
Due: run-bin-api-manager

NOJIRA-Fix-tts-manager-gcp-credentials
  .circleci/config_work.yml
  bin-tts-manager/CLAUDE.md
  bin-tts-manager/cmd/tts-manager/main.go
  bin-tts-manager/docs/operations.md
  bin-tts-manager/komodo/docker-compose.yml
  bin-tts-manager/komodo/environment.env
  bin-tts-manager/pkg/buckethandler/main.go
  bin-tts-manager/pkg/buckethandler/main_test.go
Due: run-bin-tts-manager

NOJIRA-Fix-tts-manager-gcp-credentials (#1199)
  .circleci/config_work.yml
  bin-tts-manager/CLAUDE.md
  bin-tts-manager/cmd/tts-manager/main.go
  bin-tts-manager/docs/operations.md
  bin-tts-manager/komodo/docker-compose.yml
  bin-tts-manager/komodo/environment.env
  bin-tts-manager/pkg/buckethandler/main.go
  bin-tts-manager/pkg/buckethandler/main_test.go
Due: run-bin-tts-manager

NOJIRA-Fix-pipecat-runner-sidecar
  bin-pipecat-manager/docs/operations.md
  bin-pipecat-manager/komodo/docker-compose.yml
Due: none

NOJIRA-Fix-pipecat-runner-sidecar (#1200)
  bin-pipecat-manager/docs/operations.md
  bin-pipecat-manager/komodo/docker-compose.yml
Due: none

VOIP-1385-short-sip-domain-design
  docs/plans/2026-08-23-voip-1385-short-sip-domain-design.md
Due: none

VOIP-1386-Add-column-statistics-flag-to-schedule-backup
  bin-schedule-manager/CLAUDE.md
  bin-schedule-manager/Dockerfile
  bin-schedule-manager/pkg/backuphandler/backup.go
  bin-schedule-manager/pkg/backuphandler/backup_test.go
Due: none

VOIP-1385-short-sip-domain
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/extension_overview.doctree
  bin-api-manager/docsdev/build/doctrees/extension_struct_extension.doctree
  bin-api-manager/docsdev/build/doctrees/quickstart.doctree
  bin-api-manager/docsdev/build/doctrees/trunk_overview_domain_name.doctree
  bin-api-manager/docsdev/build/html/_sources/extension_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/extension_struct_extension.rst.txt
  bin-api-manager/docsdev/build/html/_sources/trunk_overview_domain_name.rst.txt
  bin-api-manager/docsdev/build/html/extension_overview.html
  bin-api-manager/docsdev/build/html/extension_struct_extension.html
  bin-api-manager/docsdev/build/html/quickstart.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/trunk_overview_domain_name.html
  bin-api-manager/docsdev/source/extension_overview.rst
  bin-api-manager/docsdev/source/extension_struct_extension.rst
  bin-api-manager/docsdev/source/quickstart_extension.rst
  bin-api-manager/docsdev/source/trunk_overview_domain_name.rst
  bin-call-manager/docs/architecture.md
  bin-call-manager/docs/domain.md
  bin-call-manager/models/common/domain.go
  bin-call-manager/pkg/arieventhandler/ari_contact_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/projectconfig/main.go
  bin-call-manager/pkg/projectconfig/main_test.go
  docs/plans/2026-08-23-voip-1385-short-sip-domain-design.md
  docs/plans/2026-08-23-voip-1385-short-sip-domain-plan.md
Due: run-bin-api-manager, run-bin-call-manager

VOIP-1385-short-sip-domain
  docs/plans/2026-08-23-voip-1385-short-sip-domain-plan.md
Due: none

VOIP-1385-short-sip-domain
  bin-call-manager/README.md
  bin-registrar-manager/README.md
Due: run-bin-call-manager, run-bin-registrar-manager

VOIP-1385-short-sip-domain
  bin-registrar-manager/komodo/docker-compose.yml
Due: run-bin-registrar-manager

VOIP-1391-extension-qr-provisioning
  docs/plans/2026-08-24-voip-1391-extension-qr-provisioning-design.md
  docs/plans/2026-08-24-voip-1391-extension-qr-provisioning-plan.md
  tasks/todo.md
Due: none

VOIP-1395-Block-deleted-customer-account-status
  bin-api-manager/lib/middleware/authenticate.go
  bin-api-manager/lib/middleware/authenticate_test.go
Due: run-bin-api-manager

VOIP-1395-Block-deleted-customer-account-status
  bin-api-manager/lib/middleware/authenticate_test.go
Due: run-bin-api-manager

VOIP-1387-Fix-mariadb-generated-column-not-null
  bin-dbscheme-manager/bin-manager/main/versions/167bebb7c46f_contact_cases_peer_local_address_json.py
  bin-dbscheme-manager/bin-manager/main/versions/b41d1b2317af_contact_interactions_peer_local_address_.py
  bin-dbscheme-manager/bin-manager/main/versions/d8b04ef3ddd0_contact_drop_legacy_interaction_.py
Due: none

VOIP-1397-Switch-schedule-manager-backup-to-mariadb-dump
  bin-schedule-manager/CLAUDE.md
  bin-schedule-manager/Dockerfile
  bin-schedule-manager/README.md
  bin-schedule-manager/docs/architecture.md
  bin-schedule-manager/docs/operations.md
  bin-schedule-manager/komodo/docker-compose.yml
  bin-schedule-manager/pkg/backuphandler/backup.go
  bin-schedule-manager/pkg/backuphandler/backup_test.go
  bin-schedule-manager/pkg/backuphandler/main.go
Due: none

VOIP-1398-Delete-dead-dbscheme-manager-dockerfile-k8s
  bin-dbscheme-manager/CLAUDE.md
  bin-dbscheme-manager/Dockerfile
  bin-dbscheme-manager/Dockerfile_org
  bin-dbscheme-manager/docs/operations.md
  bin-dbscheme-manager/k8s/job.yml
  bin-dbscheme-manager/k8s/kustomization.yml
Due: none

NOJIRA-Fix-api-manager-audiosocket-advertise-address
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/cmd/api-manager/main_test.go
  bin-api-manager/docs/operations.md
  bin-api-manager/internal/config/main.go
  bin-api-manager/internal/config/main_test.go
  bin-api-manager/internal/nethandler/advertise.go
  bin-api-manager/internal/nethandler/advertise_test.go
  bin-api-manager/komodo/docker-compose.yml
  bin-api-manager/pkg/streamhandler/main.go
  bin-api-manager/pkg/streamhandler/start.go
  bin-api-manager/pkg/streamhandler/start_test.go
  bin-api-manager/pkg/websockhandler/endpoint_test.go
  docs/.docs-gen/bin-api-manager.extracted.json
Due: run-bin-api-manager
