Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Add_chat_creation_debug_logging
  bin-api-manager/pkg/subscribehandler/talk.go
Due: run-bin-api-manager

NOJIRA-Add_chat_creation_debug_logging
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-talk-manager/pkg/dbhandler/chat.go
Due: run-bin-api-manager

NOJIRA-Add_chat_creation_debug_logging
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/subscribehandler/talk.go
Due: run-bin-api-manager

NOJIRA-Add_chat_creation_debug_logging
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/mock_main.go
Due: none

Nojira add chat creation debug logging (#346)
  .circleci/config.yml
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/pkg/subscribehandler/talk.go
  bin-api-manager/server/service_agents_talk.go
  bin-api-manager/server/service_agents_talk_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_chats.go
  bin-common-handler/pkg/requesthandler/talk_chats_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_chats.yaml
  bin-talk-manager/models/participant/participant.go
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/chathandler/main.go
  bin-talk-manager/pkg/chathandler/mock_main.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/mock_main.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
  bin-talk-manager/pkg/listenhandler/v1_chats_test.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
  bin-talk-manager/pkg/messagehandler/main.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/messagehandler/message_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Add_chat_update_endpoint
  bin-talk-manager/models/chat/event.go
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/chathandler/main.go
  bin-talk-manager/pkg/chathandler/mock_main.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/mock_main.go
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
  bin-talk-manager/pkg/listenhandler/v1_chats_test.go
Due: none

NOJIRA-Add_chat_update_endpoint
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/service_agents/talk_chats_id.yaml
Due: run-bin-openapi-manager

NOJIRA-Add_chat_update_endpoint
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/server/service_agents_talk.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_chats.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Add_chat_update_endpoint
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/server/service_agents_talk_test.go
  bin-common-handler/pkg/requesthandler/talk_chats_test.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Add_chat_update_endpoint
  bin-api-manager/pkg/subscribehandler/talk.go
Due: run-bin-api-manager

NOJIRA-Add_chat_update_endpoint
  bin-api-manager/pkg/subscribehandler/talk_test.go
Due: run-bin-api-manager

NOJIRA-Add_chat_update_endpoint
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-talk-manager/models/message/message.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/messagehandler/message_test.go
  bin-talk-manager/pkg/reactionhandler/reaction.go
  bin-talk-manager/pkg/reactionhandler/reaction_test.go
Due: run-bin-api-manager

NOJIRA-Add_chat_update_endpoint (#347)
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/pkg/subscribehandler/talk.go
  bin-api-manager/pkg/subscribehandler/talk_test.go
  bin-api-manager/server/service_agents_talk.go
  bin-api-manager/server/service_agents_talk_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_chats.go
  bin-common-handler/pkg/requesthandler/talk_chats_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/service_agents/talk_chats_id.yaml
  bin-talk-manager/models/chat/event.go
  bin-talk-manager/models/message/message.go
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/chathandler/main.go
  bin-talk-manager/pkg/chathandler/mock_main.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/mock_main.go
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
  bin-talk-manager/pkg/listenhandler/v1_chats_test.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/messagehandler/message_test.go
  bin-talk-manager/pkg/reactionhandler/reaction.go
  bin-talk-manager/pkg/reactionhandler/reaction_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Fix_TalkManagerMedia_definition
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-talk-manager/go.mod
  bin-talk-manager/models/message/message.go
Due: run-bin-openapi-manager

NOJIRA-Fix_TalkManagerMedia_definition
  bin-talk-manager/models/message/message_test.go
Due: none

NOJIRA-Fix_TalkManagerMedia_definition
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
Due: none

NOJIRA-Fix_TalkManagerMedia_definition
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_messages.go
  bin-common-handler/pkg/requesthandler/talk_messages_test.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Fix_TalkManagerMedia_definition
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_messages.go
  bin-common-handler/pkg/requesthandler/talk_messages_test.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Fix_TalkManagerMedia_definition
  bin-talk-manager/models/message/message.go
  bin-talk-manager/models/message/message_test.go
  bin-talk-manager/pkg/dbhandler/message.go
  bin-talk-manager/pkg/dbhandler/message_test.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
  bin-talk-manager/pkg/listenhandler/v1_reactions_test.go
  bin-talk-manager/pkg/messagehandler/main.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/messagehandler/message_test.go
  bin-talk-manager/pkg/reactionhandler/reaction.go
  bin-talk-manager/pkg/reactionhandler/reaction_test.go
Due: none

NOJIRA-Fix_TalkManagerMedia_definition
  bin-common-handler/pkg/requesthandler/talk_messages_test.go
Due: run-bin-common-handler

Fixed
  bin-talk-manager/pkg/messagehandler/message.go
Due: none

NOJIRA-Fix_TalkManagerMedia_definition (#348)
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-common-handler/pkg/requesthandler/talk_messages_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-talk-manager/go.mod
  bin-talk-manager/models/message/message.go
  bin-talk-manager/models/message/message_test.go
  bin-talk-manager/pkg/dbhandler/message.go
  bin-talk-manager/pkg/dbhandler/message_test.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
  bin-talk-manager/pkg/listenhandler/v1_reactions_test.go
  bin-talk-manager/pkg/messagehandler/main.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/messagehandler/message_test.go
  bin-talk-manager/pkg/reactionhandler/reaction.go
  bin-talk-manager/pkg/reactionhandler/reaction_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Implement_talk_manager_request_models_pattern
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/server/service_agents_talk.go
  bin-api-manager/server/service_agents_talk_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_messages.go
  bin-common-handler/pkg/requesthandler/talk_messages_test.go
  bin-talk-manager/pkg/listenhandler/models/request/chats.go
  bin-talk-manager/pkg/listenhandler/models/request/main.go
  bin-talk-manager/pkg/listenhandler/models/request/messages.go
  bin-talk-manager/pkg/listenhandler/models/request/participants.go
  bin-talk-manager/pkg/listenhandler/models/request/reactions.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
  bin-talk-manager/pkg/listenhandler/v1_chats_participants.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_reactions.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Implement_talk_manager_request_models_pattern (#349)
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/server/service_agents_talk.go
  bin-api-manager/server/service_agents_talk_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_messages.go
  bin-common-handler/pkg/requesthandler/talk_messages_test.go
  bin-talk-manager/pkg/listenhandler/models/request/chats.go
  bin-talk-manager/pkg/listenhandler/models/request/main.go
  bin-talk-manager/pkg/listenhandler/models/request/messages.go
  bin-talk-manager/pkg/listenhandler/models/request/participants.go
  bin-talk-manager/pkg/listenhandler/models/request/reactions.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
  bin-talk-manager/pkg/listenhandler/v1_chats_participants.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_reactions.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Fix_service_agent_file_upload_default_name
  bin-api-manager/server/service_agents_files.go
  bin-api-manager/server/service_agents_files_test.go
Due: run-bin-api-manager

NOJIRA-Fix_service_agent_file_upload_default_name (#350)
  bin-api-manager/server/service_agents_files.go
  bin-api-manager/server/service_agents_files_test.go
Due: run-bin-api-manager

NOJIRA-Fix_talk_manager_webhook_and_reaction_field
  bin-common-handler/pkg/requesthandler/talk_messages.go
  bin-talk-manager/models/message/message.go
  bin-talk-manager/pkg/listenhandler/models/request/reactions.go
  bin-talk-manager/pkg/listenhandler/v1_reactions.go
  bin-talk-manager/pkg/listenhandler/v1_reactions_test.go
Due: run-bin-common-handler

NOJIRA-Fix_talk_manager_webhook_and_reaction_field (#351)
  bin-common-handler/pkg/requesthandler/talk_messages.go
  bin-talk-manager/models/message/message.go
  bin-talk-manager/pkg/listenhandler/models/request/reactions.go
  bin-talk-manager/pkg/listenhandler/v1_reactions.go
  bin-talk-manager/pkg/listenhandler/v1_reactions_test.go
Due: run-bin-common-handler

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-api-manager/pkg/servicehandler/serviceagent_file.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
Due: run-bin-api-manager

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk_test.go
  bin-api-manager/server/service_agents_talk.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_channels.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-dbscheme-manager/bin-manager/main/versions/91c93611e3ec_talk_chats_add_column_member_count.py
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-talk-manager/models/chat/chat.go
  bin-talk-manager/models/chat/field.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/mock_main.go
  bin-talk-manager/pkg/listenhandler/v1_chats_test.go
  bin-talk-manager/pkg/participanthandler/main.go
  bin-talk-manager/pkg/participanthandler/mock_main.go
  bin-talk-manager/pkg/participanthandler/participant.go
  bin-talk-manager/pkg/participanthandler/participant_test.go
  bin-talk-manager/scripts/database_scripts/table_chats.sql
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/participanthandler/participant.go
  bin-talk-manager/pkg/reactionhandler/reaction.go
Due: none

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
Due: run-bin-api-manager

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/server/service_agents_talk.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_chats_id_join.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-api-manager/pkg/servicehandler/serviceagent_talk_test.go
Due: run-bin-api-manager

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/listenhandler/models/request/participants.go
  bin-talk-manager/pkg/listenhandler/v1_chats_participants.go
  bin-talk-manager/pkg/listenhandler/v1_participants_test.go
  bin-talk-manager/pkg/participanthandler/main.go
  bin-talk-manager/pkg/participanthandler/mock_main.go
  bin-talk-manager/pkg/participanthandler/participant.go
  bin-talk-manager/pkg/participanthandler/participant_test.go
Due: none

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-talk-manager/pkg/participanthandler/participant.go
  bin-talk-manager/pkg/participanthandler/participant_test.go
Due: none

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-talk-manager/models/chat/chat.go
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/chat.go
Due: none

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/pkg/subscribehandler/talk.go
  bin-talk-manager/pkg/participanthandler/participant.go
Due: run-bin-api-manager

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/subscribehandler/talk_test.go
Due: run-bin-api-manager
