Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

Fixed
  bin-email-manager/pkg/emailhandler/email.go
  bin-email-manager/pkg/emailhandler/email_test.go
Due: run-bin-email-manager

NOJIRA-Remove_variable_substitute (#155)
  bin-email-manager/pkg/emailhandler/email.go
  bin-email-manager/pkg/emailhandler/email_test.go
Due: run-bin-email-manager

WIP
  bin-flow-manager/models/activeflow/activeflow.go
  bin-flow-manager/models/activeflow/webhook.go
  bin-flow-manager/models/activeflow/webhook_test.go
  bin-flow-manager/models/flow/flow.go
  bin-flow-manager/models/flow/webhook.go
  bin-flow-manager/pkg/activeflowhandler/action_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-flow-manager/pkg/activeflowhandler/activeflow.go
  bin-flow-manager/pkg/activeflowhandler/activeflow_test.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
  bin-flow-manager/pkg/activeflowhandler/event_test.go
  bin-flow-manager/pkg/activeflowhandler/execute_test.go
  bin-flow-manager/pkg/activeflowhandler/generate_test.go
  bin-flow-manager/pkg/activeflowhandler/stop_test.go
  bin-flow-manager/pkg/dbhandler/activeflow_test.go
  bin-flow-manager/pkg/dbhandler/flows_test.go
  bin-flow-manager/pkg/flowhandler/action_test.go
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db_test.go
  bin-flow-manager/pkg/flowhandler/event_test.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
  bin-flow-manager/pkg/listenhandler/v1_flows_test.go
Due: run-bin-flow-manager

Fixed
  bin-flow-manager/pkg/actionhandler/generate.go
  bin-flow-manager/pkg/actionhandler/generate_test.go
  bin-flow-manager/pkg/actionhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/execute_test.go
  bin-flow-manager/pkg/activeflowhandler/generate_test.go
  bin-flow-manager/pkg/dbhandler/activeflow_test.go
  bin-flow-manager/pkg/dbhandler/flows_test.go
  bin-flow-manager/pkg/dbhandler/variable_test.go
  bin-flow-manager/pkg/flowhandler/action_test.go
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db_test.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
  bin-flow-manager/pkg/listenhandler/v1_flows_test.go
  bin-flow-manager/pkg/listenhandler/v1_variables_test.go
  bin-flow-manager/pkg/stackmaphandler/action_test.go
  bin-flow-manager/pkg/stackmaphandler/stack_test.go
  bin-flow-manager/pkg/subscribehandler/callmanager_test.go
  bin-flow-manager/pkg/subscribehandler/customer_manager_test.go
  bin-flow-manager/pkg/variablehandler/substitute_test.go
  bin-flow-manager/pkg/variablehandler/variable_test.go
Due: run-bin-flow-manager

Fixed
  bin-flow-manager/models/action/option_test.go
  bin-flow-manager/models/activeflow/webhook_test.go
  bin-flow-manager/pkg/activeflowhandler/action_test.go
  bin-flow-manager/pkg/activeflowhandler/common_test.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
  bin-flow-manager/pkg/activeflowhandler/execute_test.go
  bin-flow-manager/pkg/activeflowhandler/generate_test.go
  bin-flow-manager/pkg/activeflowhandler/variable_test.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
  bin-flow-manager/pkg/stackmaphandler/action_test.go
  bin-flow-manager/pkg/stackmaphandler/stack_test.go
  bin-flow-manager/pkg/stackmaphandler/stackmap_test.go
Due: run-bin-flow-manager

VOIP-1012-Refactoring (#156)
  bin-flow-manager/models/action/option_test.go
  bin-flow-manager/models/activeflow/activeflow.go
  bin-flow-manager/models/activeflow/webhook.go
  bin-flow-manager/models/activeflow/webhook_test.go
  bin-flow-manager/models/flow/flow.go
  bin-flow-manager/models/flow/webhook.go
  bin-flow-manager/pkg/actionhandler/generate.go
  bin-flow-manager/pkg/actionhandler/generate_test.go
  bin-flow-manager/pkg/actionhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/action_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-flow-manager/pkg/activeflowhandler/activeflow.go
  bin-flow-manager/pkg/activeflowhandler/activeflow_test.go
  bin-flow-manager/pkg/activeflowhandler/common_test.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
  bin-flow-manager/pkg/activeflowhandler/event_test.go
  bin-flow-manager/pkg/activeflowhandler/execute_test.go
  bin-flow-manager/pkg/activeflowhandler/generate_test.go
  bin-flow-manager/pkg/activeflowhandler/stop_test.go
  bin-flow-manager/pkg/activeflowhandler/variable_test.go
  bin-flow-manager/pkg/dbhandler/activeflow_test.go
  bin-flow-manager/pkg/dbhandler/flows_test.go
  bin-flow-manager/pkg/dbhandler/variable_test.go
  bin-flow-manager/pkg/flowhandler/action_test.go
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db_test.go
  bin-flow-manager/pkg/flowhandler/event_test.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
  bin-flow-manager/pkg/listenhandler/v1_flows_test.go
  bin-flow-manager/pkg/listenhandler/v1_variables_test.go
  bin-flow-manager/pkg/stackmaphandler/action_test.go
  bin-flow-manager/pkg/stackmaphandler/stack_test.go
  bin-flow-manager/pkg/stackmaphandler/stackmap_test.go
  bin-flow-manager/pkg/subscribehandler/callmanager_test.go
  bin-flow-manager/pkg/subscribehandler/customer_manager_test.go
  bin-flow-manager/pkg/variablehandler/substitute_test.go
  bin-flow-manager/pkg/variablehandler/variable_test.go
Due: run-bin-flow-manager

Fixed
  bin-flow-manager/pkg/actionhandler/generate_test.go
Due: run-bin-flow-manager

NOJIRA-Fix_small_things_flow_manager (#157)
  bin-flow-manager/pkg/actionhandler/generate_test.go
Due: run-bin-flow-manager

WIP
  bin-common-handler/pkg/requesthandler/ai_chatbotcalls.go
  bin-common-handler/pkg/requesthandler/ai_chatbotcalls_test.go
  bin-common-handler/pkg/requesthandler/ai_chatbots.go
  bin-common-handler/pkg/requesthandler/ai_chatbots_test.go
  bin-common-handler/pkg/requesthandler/ai_messages.go
  bin-common-handler/pkg/requesthandler/ai_messages_test.go
  bin-common-handler/pkg/requesthandler/ai_services.go
  bin-common-handler/pkg/requesthandler/ai_services_test.go
Due: run-bin-common-handler

WIP
  bin-common-handler/models/outline/queuename.go
  bin-common-handler/pkg/requesthandler/ai_chatbotcalls.go
  bin-common-handler/pkg/requesthandler/ai_chatbotcalls_test.go
  bin-common-handler/pkg/requesthandler/ai_chatbots.go
  bin-common-handler/pkg/requesthandler/ai_chatbots_test.go
  bin-common-handler/pkg/requesthandler/ai_messages.go
  bin-common-handler/pkg/requesthandler/ai_messages_test.go
  bin-common-handler/pkg/requesthandler/ai_services.go
  bin-common-handler/pkg/requesthandler/ai_services_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/send_request.go
Due: run-bin-common-handler

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/models/aicall/event.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/listenhandler/models/request/services.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/pkg/listenhandler/v1_services.go
  bin-ai-manager/pkg/listenhandler/v1_services_test.go
  bin-ai-manager/pkg/subscribehandler/callmanager.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-customer-manager/models/customer/customer.go
Due: run-bin-customer-manager

Fixed
  bin-common-handler/pkg/requesthandler/ai_aicalls.go
  bin-common-handler/pkg/requesthandler/ai_aicalls_test.go
  bin-common-handler/pkg/requesthandler/ai_ais.go
  bin-common-handler/pkg/requesthandler/ai_ais_test.go
  bin-common-handler/pkg/requesthandler/ai_services.go
  bin-common-handler/pkg/requesthandler/ai_services_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-flow-manager/models/action/option.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
Due: run-bin-common-handler, run-bin-flow-manager

VOIP-1015-fix_ai_talk_to_continued_conversation (#160)
  bin-ai-manager/go.mod
  bin-ai-manager/models/aicall/event.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/listenhandler/models/request/services.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/pkg/listenhandler/v1_services.go
  bin-ai-manager/pkg/listenhandler/v1_services_test.go
  bin-ai-manager/pkg/subscribehandler/callmanager.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-common-handler/pkg/requesthandler/ai_aicalls.go
  bin-common-handler/pkg/requesthandler/ai_aicalls_test.go
  bin-common-handler/pkg/requesthandler/ai_ais.go
  bin-common-handler/pkg/requesthandler/ai_ais_test.go
  bin-common-handler/pkg/requesthandler/ai_services.go
  bin-common-handler/pkg/requesthandler/ai_services_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-customer-manager/models/customer/customer.go
  bin-flow-manager/models/action/option.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
Due: run-bin-common-handler, run-bin-customer-manager, run-bin-flow-manager

Fixed
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
Due: run-bin-call-manager

Fixed
  bin-campaign-manager/pkg/campaignhandler/execute.go
  bin-campaign-manager/pkg/campaignhandler/execute_test.go
  bin-common-handler/pkg/requesthandler/flow_activeflow.go
  bin-common-handler/pkg/requesthandler/flow_activeflow_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-flow-manager/pkg/activeflowhandler/action.go
  bin-flow-manager/pkg/activeflowhandler/action_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/mock_main.go
  bin-flow-manager/pkg/listenhandler/models/request/activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
  bin-message-manager/pkg/messagehandler/hook.go
  bin-message-manager/pkg/messagehandler/hook_test.go
Due: run-bin-campaign-manager, run-bin-common-handler, run-bin-flow-manager, run-bin-message-manager

Fixed
  bin-api-manager/pkg/servicehandler/activeflows.go
  bin-api-manager/pkg/servicehandler/activeflows_test.go
Due: run-bin-api-manager

NOJIRA-Fix_wrong_activeflow_customer_id_set (#161)
  bin-api-manager/pkg/servicehandler/activeflows.go
  bin-api-manager/pkg/servicehandler/activeflows_test.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-campaign-manager/pkg/campaignhandler/execute.go
  bin-campaign-manager/pkg/campaignhandler/execute_test.go
  bin-common-handler/pkg/requesthandler/flow_activeflow.go
  bin-common-handler/pkg/requesthandler/flow_activeflow_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-flow-manager/pkg/activeflowhandler/action.go
  bin-flow-manager/pkg/activeflowhandler/action_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/mock_main.go
  bin-flow-manager/pkg/listenhandler/models/request/activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
  bin-message-manager/pkg/messagehandler/hook.go
  bin-message-manager/pkg/messagehandler/hook_test.go
Due: run-bin-api-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-common-handler, run-bin-flow-manager, run-bin-message-manager

Fixed
  bin-call-manager/pkg/callhandler/variable_test.go
Due: run-bin-call-manager

Fixed
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/conference.go
  bin-api-manager/pkg/servicehandler/conference_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/conferences.go
  bin-api-manager/server/conferences_test.go
  bin-call-manager/pkg/recordinghandler/main.go
  bin-call-manager/pkg/recordinghandler/stop.go
  bin-call-manager/pkg/recordinghandler/variable.go
  bin-call-manager/pkg/recordinghandler/variable_test.go
  bin-common-handler/pkg/requesthandler/conference_conference.go
  bin-common-handler/pkg/requesthandler/conference_conference_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-conference-manager/pkg/conferencehandler/main.go
  bin-conference-manager/pkg/conferencehandler/mock_main.go
  bin-conference-manager/pkg/conferencehandler/recording.go
  bin-conference-manager/pkg/conferencehandler/recording_test.go
  bin-conference-manager/pkg/listenhandler/models/request/v1_conferences.go
  bin-conference-manager/pkg/listenhandler/v1_conferences.go
  bin-conference-manager/pkg/listenhandler/v1_conferences_test.go
  bin-email-manager/go.mod
  bin-email-manager/go.sum
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/conferences/id_recording_start.yaml
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
Due: run-bin-api-manager, run-bin-call-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-openapi-manager, run-bin-storage-manager

Fixed
  bin-storage-manager/cmd/storage-manager/init.go
  bin-storage-manager/cmd/storage-manager/main.go
  bin-storage-manager/pkg/filehandler/bucketfile.go
Due: run-bin-storage-manager

Fixed
  bin-call-manager/pkg/recordinghandler/variable.go
  bin-call-manager/pkg/recordinghandler/variable_test.go
  bin-storage-manager/pkg/filehandler/bucketfile.go
  bin-storage-manager/pkg/filehandler/file.go
Due: run-bin-call-manager, run-bin-storage-manager

Fixed
  bin-storage-manager/pkg/listenhandler/main.go
  bin-storage-manager/pkg/storagehandler/recording.go
  bin-storage-manager/pkg/storagehandler/recording_test.go
Due: run-bin-storage-manager

Fixed
  bin-storage-manager/pkg/storagehandler/main.go
Due: run-bin-storage-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
