Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

WIP
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-tts-manager/models/message/message.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/pkg/engine_openai_handler/main.go
Due: none

WIP
  bin-ai-manager/pkg/engine_openai_handler/tool.go
Due: none

WIP
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
Due: none

WIP
  bin-ai-manager/pkg/messagehandler/streaming_send.go
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

WIP
  bin-transcribe-manager/pkg/transcribehandler/stop.go
Due: run-bin-transcribe-manager

Fixed
  bin-ai-manager/pkg/aicallhandler/event.go
Due: none

Fixed
  bin-ai-manager/pkg/aicallhandler/process.go
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/process.go
Due: none

Fixed
  bin-ai-manager/pkg/dbhandler/aicall.go
Due: none

VOIP-1103-Fix_wrong_tool_handle (#246)
  bin-ai-manager/go.sum
  bin-ai-manager/models/aicall/event.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/engine_openai_handler/main.go
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/engine_openai_handler/tool.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-transcribe-manager/pkg/transcribehandler/stop.go
  bin-tts-manager/models/message/message.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/run.go
  bin-tts-manager/pkg/streaminghandler/say.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-transcribe-manager, run-bin-tts-manager

Fixed
  bin-ai-manager/models/message/main.go
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/pkg/dbhandler/message.go
  bin-ai-manager/pkg/dbhandler/message_test.go
  bin-ai-manager/pkg/engine_openai_handler/main.go
  bin-ai-manager/pkg/engine_openai_handler/mock_main.go
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/messagehandler/db_test.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/send_test.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_messages.sql
  bin-dbscheme-bin-manager/bin-manager/main/versions/069e6bf3ccfa_ai_messages_add_column_toolcalls.py
  bin-flow-manager/models/action/option_test.go
Due: run-bin-dbscheme-bin-manager, run-bin-flow-manager

Fixed
  bin-ai-manager/pkg/engine_openai_handler/tool.go
Due: none

VOIP-1104-Add_tool_response_role (#247)
  bin-ai-manager/models/message/main.go
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/pkg/dbhandler/message.go
  bin-ai-manager/pkg/dbhandler/message_test.go
  bin-ai-manager/pkg/engine_openai_handler/main.go
  bin-ai-manager/pkg/engine_openai_handler/mock_main.go
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/engine_openai_handler/tool.go
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/messagehandler/db_test.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/send_test.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_messages.sql
  bin-dbscheme-bin-manager/bin-manager/main/versions/069e6bf3ccfa_ai_messages_add_column_toolcalls.py
  bin-flow-manager/models/action/option_test.go
Due: run-bin-dbscheme-bin-manager, run-bin-flow-manager

WIP
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/pkg/engine_openai_handler/tool.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send_test.go
  bin-ai-manager/pkg/messagehandler/tool.go
Due: none

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-common-handler/pkg/requesthandler/ai_aicalls.go
  bin-common-handler/pkg/requesthandler/ai_aicalls_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-sentinel-manager/go.mod
  bin-sentinel-manager/go.sum
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-bin-api-manager, run-bin-common-handler, run-bin-storage-manager, run-bin-transcribe-manager, run-bin-tts-manager, run-voip-asterisk-proxy

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/tool.go
Due: none

WIP
  bin-ai-manager/pkg/engine_openai_handler/tool.go
  bin-ai-manager/pkg/messagehandler/streaming_send.go
Due: none

WIP
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/tool.go
Due: none

WIP
  .circleci/config.yml
  .circleci/config_work.yml
  .gitignore
  bin-pipecat-manager/Dockerfile
  bin-pipecat-manager/cmd/pipecat-manager/init.go
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/k8s/deployment.yml
  bin-pipecat-manager/k8s/kustomization.yml
  bin-pipecat-manager/k8s/namespace.yml
  bin-pipecat-manager/k8s/service.yml
  bin-pipecat-manager/models/pipecatcall/event.go
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-pipecat-manager/models/pipecatframe/frames.pb.go
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/models/pipecatframe/rtvi.go
  bin-pipecat-manager/pipecat.go
  bin-pipecat-manager/pkg/listenhandler/main.go
  bin-pipecat-manager/pkg/listenhandler/models/request/main.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_transcribes.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatcall.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/proto/frames.proto
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/messages.json
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/uv.lock
Due: none

WIP
  bin-pipecat-manager/cmd/pipecat-manager/init.go
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
Due: none

WIP
  bin-pipecat-manager/Dockerfile
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/requirements.txt
Due: none

WIP
  bin-pipecat-manager/cmd/pipecat-manager/main.go
Due: none

WIP
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_transcribes.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
Due: none

WIP
  bin-pipecat-manager/cmd/pipecat-manager/init.go
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-pipecat-manager/pipecat.go
  bin-pipecat-manager/pkg/listenhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/scripts/pipecat/messages.json
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/models/pipecatcall/event.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatcall.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-pipecat-manager/cmd/pipecat-manager/init.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
Due: none
