Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-apply-provider-tech-config-on-outbound
  docs/plans/2026-04-25-provider-tech-config-outbound-plan.md
Due: none

NOJIRA-apply-provider-tech-config-on-outbound
  bin-call-manager/pkg/callhandler/tech_headers.go
  bin-call-manager/pkg/callhandler/tech_headers_test.go
Due: run-bin-call-manager

NOJIRA-api-error-no-route-handler
  bin-api-manager/server/no_route.go
  bin-api-manager/server/no_route_test.go
Due: run-bin-api-manager

NOJIRA-apply-provider-tech-config-on-outbound
  bin-call-manager/pkg/callhandler/tech_headers.go
  docs/plans/2026-04-25-provider-tech-config-outbound-design.md
Due: run-bin-call-manager

NOJIRA-api-error-pr1-auth-identity
  docs/plans/2026-04-25-api-error-pr1-auth-identity-plan.md
Due: none

NOJIRA-apply-provider-tech-config-on-outbound
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
Due: run-bin-call-manager

NOJIRA-api-error-pr1-auth-identity
  bin-api-manager/server/auth_boot.go
  bin-api-manager/server/auth_signup.go
  bin-api-manager/server/auth_stubs_test.go
  bin-api-manager/server/auth_unregister.go
Due: run-bin-api-manager

NOJIRA-api-error-pr1-auth-identity
  bin-api-manager/server/customer.go
  bin-api-manager/server/customer_test.go
Due: run-bin-api-manager

NOJIRA-apply-provider-tech-config-on-outbound
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/tech_headers.go
Due: run-bin-call-manager

NOJIRA-api-error-pr1-auth-identity
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/openapi/paths/customer/billing_account_id.yaml
  bin-openapi-manager/openapi/paths/customer/default_outgoing_source_number_id.yaml
  bin-openapi-manager/openapi/paths/customer/main.yaml
  bin-openapi-manager/openapi/paths/customer/metadata.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-apply-provider-tech-config-on-outbound
  docs/plans/2026-04-25-provider-tech-config-outbound-design.md
Due: none

NOJIRA-api-error-pr1-auth-identity
  bin-api-manager/server/auth_stubs_test.go
  bin-api-manager/server/customer_test.go
Due: run-bin-api-manager

NOJIRA-apply-provider-tech-config-on-outbound
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/tech_headers.go
  bin-call-manager/pkg/callhandler/tech_headers_test.go
  docs/plans/2026-04-25-provider-tech-config-outbound-design.md
  docs/plans/2026-04-25-provider-tech-config-outbound-plan.md
Due: run-bin-call-manager

NOJIRA-api-error-pr1b-admin-agent-ui
  docs/plans/2026-04-25-api-error-pr1b-admin-agent-ui-plan.md
Due: none

NOJIRA-api-error-pr1b-admin-agent-ui
  bin-api-manager/server/customers.go
  bin-api-manager/server/customers_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr1b-admin-agent-ui
  bin-api-manager/server/service_agents_customer.go
  bin-api-manager/server/service_agents_customer_test.go
  bin-api-manager/server/service_agents_me.go
  bin-api-manager/server/service_agents_me_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr1b-admin-agent-ui
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/openapi/paths/customers/id.yaml
  bin-openapi-manager/openapi/paths/customers/id_billing_account_id.yaml
  bin-openapi-manager/openapi/paths/customers/id_default_outgoing_source_number_id.yaml
  bin-openapi-manager/openapi/paths/customers/id_freeze.yaml
  bin-openapi-manager/openapi/paths/customers/id_metadata.yaml
  bin-openapi-manager/openapi/paths/customers/id_recover.yaml
  bin-openapi-manager/openapi/paths/customers/main.yaml
  bin-openapi-manager/openapi/paths/service_agents/customer.yaml
  bin-openapi-manager/openapi/paths/service_agents/me.yaml
  bin-openapi-manager/openapi/paths/service_agents/me_addresses.yaml
  bin-openapi-manager/openapi/paths/service_agents/me_password.yaml
  bin-openapi-manager/openapi/paths/service_agents/me_status.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-api-error-pr1b-admin-agent-ui
  docs/plans/2026-04-24-api-error-response-codes-design.md
Due: none

NOJIRA-api-error-pr1b-admin-agent-ui
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/customers_test.go
  bin-openapi-manager/openapi/paths/customers/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-api-error-pr1b-admin-agent-ui
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/customers.go
  bin-api-manager/server/customers_test.go
  bin-api-manager/server/service_agents_customer.go
  bin-api-manager/server/service_agents_customer_test.go
  bin-api-manager/server/service_agents_me.go
  bin-api-manager/server/service_agents_me_test.go
  bin-openapi-manager/openapi/paths/customers/id.yaml
  bin-openapi-manager/openapi/paths/customers/id_billing_account_id.yaml
  bin-openapi-manager/openapi/paths/customers/id_default_outgoing_source_number_id.yaml
  bin-openapi-manager/openapi/paths/customers/id_freeze.yaml
  bin-openapi-manager/openapi/paths/customers/id_metadata.yaml
  bin-openapi-manager/openapi/paths/customers/id_recover.yaml
  bin-openapi-manager/openapi/paths/customers/main.yaml
  bin-openapi-manager/openapi/paths/service_agents/customer.yaml
  bin-openapi-manager/openapi/paths/service_agents/me.yaml
  bin-openapi-manager/openapi/paths/service_agents/me_addresses.yaml
  bin-openapi-manager/openapi/paths/service_agents/me_password.yaml
  bin-openapi-manager/openapi/paths/service_agents/me_status.yaml
  docs/plans/2026-04-24-api-error-response-codes-design.md
  docs/plans/2026-04-25-api-error-pr1b-admin-agent-ui-plan.md
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-api-error-pr2-calls-group
  docs/plans/2026-04-25-api-error-pr2-calls-group-plan.md
Due: none

NOJIRA-api-error-pr2-calls-group
  docs/plans/2026-04-24-api-error-response-codes-design.md
Due: none

NOJIRA-api-error-pr2-calls-group
  bin-api-manager/server/calls.go
  bin-api-manager/server/calls_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr2-calls-group
  bin-api-manager/server/groupcalls.go
  bin-api-manager/server/groupcalls_test.go
  bin-api-manager/server/transfers.go
  bin-api-manager/server/transfers_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr2-calls-group
  bin-api-manager/server/recordingfiles.go
  bin-api-manager/server/recordingfiles_test.go
  bin-api-manager/server/recordings.go
  bin-api-manager/server/recordings_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr2-calls-group
  bin-api-manager/server/error_translate.go
  bin-api-manager/server/error_translate_test.go
  docs/plans/2026-04-25-api-error-pr2-calls-group-plan.md
Due: run-bin-api-manager

NOJIRA-api-error-pr3-flows-activeflows
  docs/plans/2026-04-25-api-error-pr3-flows-activeflows-plan.md
Due: none

NOJIRA-api-error-pr3-flows-activeflows
  bin-api-manager/server/flows.go
  bin-api-manager/server/flows_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr3-flows-activeflows
  bin-api-manager/server/activeflows.go
  bin-api-manager/server/activeflows_test.go
Due: run-bin-api-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
