Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Fix-boot-endpoint-ai-team-mapping
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/boot_test.go
Due: run-bin-api-manager

NOJIRA-Fix-boot-endpoint-ai-team-mapping
  .githooks/pre-commit
  bin-agent-manager/pkg/agenthandler/agent_test.go
  bin-agent-manager/pkg/agenthandler/db.go
  bin-agent-manager/pkg/agenthandler/direct_hash.go
  bin-agent-manager/pkg/agenthandler/direct_hash_test.go
  bin-agent-manager/pkg/agenthandler/event_test.go
  bin-ai-manager/pkg/aihandler/chatbot_test.go
  bin-ai-manager/pkg/aihandler/db.go
  bin-ai-manager/pkg/aihandler/db_test.go
  bin-ai-manager/pkg/aihandler/direct_hash.go
  bin-ai-manager/pkg/aihandler/direct_hash_test.go
  bin-ai-manager/pkg/teamhandler/direct_hash.go
  bin-ai-manager/pkg/teamhandler/direct_hash_test.go
  bin-ai-manager/pkg/teamhandler/handler.go
  bin-ai-manager/pkg/teamhandler/handler_test.go
  bin-api-manager/pkg/servicehandler/aicall.go
  bin-api-manager/pkg/servicehandler/aicall_test.go
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/boot_test.go
  bin-api-manager/pkg/websockhandler/etc_test.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_sip.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_sip_test.go
  bin-conference-manager/pkg/conferencehandler/conference.go
  bin-conference-manager/pkg/conferencehandler/conference_test.go
  bin-conference-manager/pkg/conferencehandler/direct_hash.go
  bin-conference-manager/pkg/conferencehandler/direct_hash_test.go
  bin-direct-manager/models/direct/direct.go
  bin-direct-manager/pkg/dbhandler/direct_test.go
  bin-queue-manager/pkg/queuehandler/create.go
  bin-queue-manager/pkg/queuehandler/create_test.go
  bin-queue-manager/pkg/queuehandler/direct_hash.go
  bin-registrar-manager/pkg/extensionhandler/direct_hash_test.go
  bin-registrar-manager/pkg/extensionhandler/extension.go
  bin-registrar-manager/pkg/extensionhandler/extension_test.go
  docs/coding-conventions.md
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-call-manager, run-bin-conference-manager, run-bin-queue-manager, run-bin-registrar-manager

NOJIRA-Fix-boot-endpoint-ai-team-mapping
  .claude/scripts/check-magic-strings.sh
  .claude/settings.json
Due: none

NOJIRA-Fix-boot-endpoint-ai-team-mapping (#766)
  .claude/scripts/check-magic-strings.sh
  .claude/settings.json
  .githooks/pre-commit
  bin-agent-manager/pkg/agenthandler/agent_test.go
  bin-agent-manager/pkg/agenthandler/db.go
  bin-agent-manager/pkg/agenthandler/direct_hash.go
  bin-agent-manager/pkg/agenthandler/direct_hash_test.go
  bin-agent-manager/pkg/agenthandler/event_test.go
  bin-ai-manager/pkg/aihandler/chatbot_test.go
  bin-ai-manager/pkg/aihandler/db.go
  bin-ai-manager/pkg/aihandler/db_test.go
  bin-ai-manager/pkg/aihandler/direct_hash.go
  bin-ai-manager/pkg/aihandler/direct_hash_test.go
  bin-ai-manager/pkg/teamhandler/direct_hash.go
  bin-ai-manager/pkg/teamhandler/direct_hash_test.go
  bin-ai-manager/pkg/teamhandler/handler.go
  bin-ai-manager/pkg/teamhandler/handler_test.go
  bin-api-manager/pkg/servicehandler/aicall.go
  bin-api-manager/pkg/servicehandler/aicall_test.go
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/boot_test.go
  bin-api-manager/pkg/websockhandler/etc_test.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_sip.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_sip_test.go
  bin-conference-manager/pkg/conferencehandler/conference.go
  bin-conference-manager/pkg/conferencehandler/conference_test.go
  bin-conference-manager/pkg/conferencehandler/direct_hash.go
  bin-conference-manager/pkg/conferencehandler/direct_hash_test.go
  bin-direct-manager/models/direct/direct.go
  bin-direct-manager/pkg/dbhandler/direct_test.go
  bin-queue-manager/pkg/queuehandler/create.go
  bin-queue-manager/pkg/queuehandler/create_test.go
  bin-queue-manager/pkg/queuehandler/direct_hash.go
  bin-registrar-manager/pkg/extensionhandler/direct_hash_test.go
  bin-registrar-manager/pkg/extensionhandler/extension.go
  bin-registrar-manager/pkg/extensionhandler/extension_test.go
  docs/coding-conventions.md
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-call-manager, run-bin-conference-manager, run-bin-queue-manager, run-bin-registrar-manager

NOJIRA-Fix-boot-endpoint-ai-team-mapping
  bin-api-manager/pkg/servicehandler/websock.go
  bin-api-manager/pkg/servicehandler/websock_test.go
Due: run-bin-api-manager

NOJIRA-Fix-websocket-direct-token
  bin-api-manager/pkg/servicehandler/websock.go
  bin-api-manager/pkg/servicehandler/websock_test.go
Due: run-bin-api-manager

NOJIRA-Fix-websocket-direct-token
  bin-api-manager/pkg/servicehandler/aimessage.go
Due: run-bin-api-manager

NOJIRA-Fix-set-variables-tool-nil-activeflow
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
Due: none

NOJIRA-Fix-set-variables-tool-nil-activeflow (#769)
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
Due: none

NOJIRA-Allow-activeflow-creation-with-empty-flow-id
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-api-manager/pkg/servicehandler/aicall.go
  bin-api-manager/pkg/servicehandler/aicall_test.go
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/db_test.go
Due: run-bin-api-manager, run-bin-flow-manager

NOJIRA-Allow-activeflow-creation-with-empty-flow-id
  bin-api-manager/pkg/websockhandler/subscription.go
Due: run-bin-api-manager

NOJIRA-Add-customer-default-outgoing-source-number-id
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/pkg/servicehandler/customer.go
  bin-api-manager/server/customer_test.go
  bin-api-manager/server/customers_test.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-customer-manager/pkg/customerhandler/db.go
  bin-customer-manager/pkg/listenhandler/v1_customers_test.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/paths/customers/id_default_outgoing_source_number_id.yaml
Due: run-bin-api-manager, run-bin-call-manager, run-bin-customer-manager, run-bin-openapi-manager

NOJIRA-Fix-hooks-settings-matcher-format
  .claude/settings.json
Due: none

NOJIRA-Fix-hooks-settings-matcher-format (#772)
  .claude/settings.json
Due: none

NOJIRA-Fix-billing-idempotency-key-unique-constraint
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/db.go
  bin-billing-manager/pkg/billinghandler/db_test.go
  bin-billing-manager/pkg/dbhandler/billing.go
  bin-dbscheme-manager/bin-manager/main/versions/8268e08fecd4_billing_billings_nullify_zero_.py
Due: run-bin-billing-manager

NOJIRA-Streaming-talk-action-spike
  bin-call-manager/pkg/callhandler/action.go
  bin-call-manager/pkg/callhandler/action_test.go
  bin-call-manager/pkg/callhandler/media.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/tts_streamings.go
  bin-tts-manager/pkg/listenhandler/main.go
  bin-tts-manager/pkg/listenhandler/models/request/streamings.go
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/mock_main.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-call-manager, run-bin-common-handler, run-bin-tts-manager

NOJIRA-Streaming-talk-action-spike: fix review issues
  bin-call-manager/pkg/callhandler/action.go
  bin-call-manager/pkg/callhandler/action_test.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-call-manager, run-bin-tts-manager

NOJIRA-Streaming-talk-action-spike: fix review round 2
  bin-call-manager/pkg/callhandler/media.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-call-manager, run-bin-tts-manager

NOJIRA-Streaming-talk-action-spike
  bin-call-manager/pkg/callhandler/media.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-call-manager, run-bin-tts-manager

NOJIRA-Streaming-talk-action-spike
  bin-call-manager/pkg/callhandler/media.go
Due: run-bin-call-manager

NOJIRA-Streaming-talk-action-spike
  .claude/scripts/check-magic-strings.sh
  .claude/settings.json
Due: none

NOJIRA-Streaming-talk-action-spike
  bin-tts-manager/pkg/streaminghandler/gcp.go
Due: run-bin-tts-manager

NOJIRA-Optimize-tts-batch-gcp-latency
  bin-tts-manager/cmd/tts-control/main.go
  bin-tts-manager/cmd/tts-manager/main.go
  bin-tts-manager/internal/config/main.go
  bin-tts-manager/internal/config/main_test.go
  bin-tts-manager/pkg/audiohandler/gcp.go
  bin-tts-manager/pkg/audiohandler/gcp_test.go
  bin-tts-manager/pkg/audiohandler/main.go
  bin-tts-manager/pkg/ttshandler/main.go
Due: run-bin-tts-manager

NOJIRA-Optimize-tts-batch-gcp-latency
  bin-call-manager/README.md
Due: run-bin-call-manager

NOJIRA-Streaming-talk-action-spike
  bin-call-manager/pkg/callhandler/media.go
  bin-tts-manager/pkg/streaminghandler/gcp.go
Due: run-bin-call-manager, run-bin-tts-manager

NOJIRA-Optimize-tts-batch-gcp-latency
  bin-tts-manager/k8s/deployment.yml
  bin-tts-manager/pkg/audiohandler/gcp.go
  bin-tts-manager/pkg/ttshandler/tts.go
Due: run-bin-tts-manager

NOJIRA-Optimize-tts-batch-gcp-latency
  bin-ai-manager/k8s/deployment.yml
  bin-billing-manager/k8s/deployment.yml
  bin-call-manager/k8s/deployment.yml
  bin-campaign-manager/k8s/deployment.yml
  bin-conference-manager/k8s/deployment.yml
  bin-contact-manager/k8s/deployment.yml
  bin-conversation-manager/k8s/deployment.yml
  bin-customer-manager/k8s/deployment.yml
  bin-direct-manager/k8s/deployment.yml
  bin-email-manager/k8s/deployment.yml
  bin-hook-manager/k8s/deployment.yml
  bin-message-manager/k8s/deployment.yml
  bin-number-manager/k8s/deployment.yml
  bin-outdial-manager/k8s/deployment.yml
  bin-queue-manager/k8s/deployment.yml
  bin-registrar-manager/k8s/deployment.yml
  bin-route-manager/k8s/deployment.yml
  bin-sentinel-manager/k8s/deployment.yml
  bin-tag-manager/k8s/deployment.yml
  bin-talk-manager/k8s/deployment.yml
  bin-timeline-manager/k8s/deployment.yml
  bin-transcribe-manager/k8s/deployment.yml
  bin-transfer-manager/k8s/deployment.yml
  bin-webhook-manager/k8s/deployment.yml
Due: run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-webhook-manager

NOJIRA-Optimize-tts-batch-gcp-latency
  bin-tts-manager/k8s/deployment.yml
Due: run-bin-tts-manager

NOJIRA-Optimize-tts-batch-gcp-latency
  bin-tts-manager/pkg/audiohandler/gcp.go
Due: run-bin-tts-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
