Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-tts-manager/models/speaking/speaking.go
  bin-tts-manager/models/speaking/speaking_test.go
  bin-tts-manager/models/streaming/routingkey_golden_test.go
  bin-tts-manager/models/streaming/streaming.go
  bin-tts-manager/models/streaming/streaming_test.go
Due: run-bin-tts-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-storage-manager/models/account/account_test.go
  bin-storage-manager/models/account/main.go
  bin-storage-manager/models/account/routingkey_golden_test.go
  bin-storage-manager/models/file/file_test.go
  bin-storage-manager/models/file/main.go
Due: run-bin-storage-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-billing-manager/models/account/account.go
  bin-billing-manager/models/account/account_test.go
  bin-billing-manager/models/billing/billing.go
  bin-billing-manager/models/billing/billing_test.go
  bin-billing-manager/models/billing/routingkey_golden_test.go
  bin-conversation-manager/models/account/account.go
  bin-conversation-manager/models/account/account_test.go
  bin-conversation-manager/models/conversation/conversation.go
  bin-conversation-manager/models/conversation/conversation_test.go
  bin-conversation-manager/models/conversation/routingkey_golden_test.go
Due: run-bin-billing-manager, run-bin-conversation-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-flow-manager/models/activeflow/activeflow.go
  bin-flow-manager/models/activeflow/activeflow_test.go
  bin-flow-manager/models/flow/flow.go
  bin-flow-manager/models/flow/flow_test.go
  bin-flow-manager/models/flow/routingkey_golden_test.go
Due: run-bin-flow-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-registrar-manager/docs/architecture.md
  bin-registrar-manager/models/extension/extension.go
  bin-registrar-manager/models/extension/extension_test.go
  bin-registrar-manager/models/trunk/routingkey_golden_test.go
  bin-registrar-manager/models/trunk/trunk.go
  bin-registrar-manager/models/trunk/trunk_test.go
Due: run-bin-registrar-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-campaign-manager/models/campaign/campaign.go
  bin-campaign-manager/models/campaign/campaign_test.go
  bin-campaign-manager/models/campaign/routingkey_golden_test.go
Due: run-bin-campaign-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-agent-manager/models/agent/agent.go
  bin-agent-manager/models/agent/agent_test.go
  bin-agent-manager/models/agent/routingkey_golden_test.go
  bin-direct-manager/CLAUDE.md
  bin-direct-manager/models/direct/direct.go
  bin-direct-manager/models/direct/direct_test.go
  bin-direct-manager/models/direct/routingkey_golden_test.go
  bin-email-manager/models/email/main.go
  bin-email-manager/models/email/main_test.go
  bin-email-manager/models/email/routingkey_golden_test.go
  bin-message-manager/models/message/message.go
  bin-message-manager/models/message/message_test.go
  bin-message-manager/models/message/routingkey_golden_test.go
Due: run-bin-agent-manager, run-bin-email-manager, run-bin-message-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-conference-manager/models/conference/conference.go
  bin-conference-manager/models/conference/conference_test.go
  bin-conference-manager/models/conference/routingkey_golden_test.go
Due: run-bin-conference-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-schedule-manager/models/schedule/routingkey_golden_test.go
  bin-schedule-manager/models/schedule/schedule.go
  bin-schedule-manager/models/schedule/schedule_test.go
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-queue-manager/models/queue/queue.go
  bin-queue-manager/models/queue/queue_test.go
  bin-queue-manager/models/queue/routingkey_golden_test.go
Due: run-bin-queue-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-number-manager/models/number/number.go
  bin-number-manager/models/number/number_test.go
  bin-number-manager/models/number/routingkey_golden_test.go
Due: run-bin-number-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-outdial-manager/models/outdial/outdial.go
  bin-outdial-manager/models/outdial/outdial_test.go
  bin-outdial-manager/models/outdial/routingkey_golden_test.go
Due: run-bin-outdial-manager

NOJIRA-Add-timeline-event-drop-metrics (#1219)
  bin-timeline-manager/CLAUDE.md
  bin-timeline-manager/docs/operations.md
  bin-timeline-manager/go.mod
  bin-timeline-manager/pkg/subscribehandler/main.go
  bin-timeline-manager/pkg/subscribehandler/main_test.go
  bin-timeline-manager/pkg/subscribehandler/metrics.go
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  monitoring/grafana/dashboards/timeline-manager.json
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-tag-manager/docs/architecture.md
  bin-tag-manager/models/tag/routingkey_golden_test.go
  bin-tag-manager/models/tag/tag.go
  bin-tag-manager/models/tag/tag_test.go
Due: run-bin-tag-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-pipecat-manager/models/pipecatcall/main_test.go
  bin-pipecat-manager/models/pipecatcall/routingkey_golden_test.go
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-webchat-manager/models/session/routingkey_golden_test.go
  bin-webchat-manager/models/session/session.go
  bin-webchat-manager/models/session/session_test.go
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-transcribe-manager/models/transcribe/routingkey_golden_test.go
  bin-transcribe-manager/models/transcribe/transcribe.go
  bin-transcribe-manager/models/transcribe/transcribe_test.go
Due: run-bin-transcribe-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-talk-manager/models/chat/chat.go
  bin-talk-manager/models/chat/chat_test.go
  bin-talk-manager/models/chat/routingkey_golden_test.go
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-common-handler/models/eventtopic/identifier.go
  bin-common-handler/pkg/notifyhandler/main.go
  bin-common-handler/pkg/notifyhandler/main_test.go
  bin-common-handler/pkg/notifyhandler/mock_main.go
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-common-handler/pkg/notifyhandler/publish_test.go
  bin-conversation-manager/pkg/messagehandler/create_case_id_test.go
Due: run-bin-common-handler, run-bin-conversation-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  docs/plans/2026-08-27-voip-1404-global-topic-exchange-design.md
  docs/plans/2026-08-27-voip-1405-topic-publisher-rollout-design.md
  docs/reference/rabbitmq-queues-reference.md
  tasks/w1-executor-brief.md
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  tasks/todo.md
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  docs/plans/2026-08-28-voip-1419-explicit-subscription-id-design.md
  docs/reference/rabbitmq-queues-reference.md
  tasks/w1-executor-brief.md
Due: none

NOJIRA-Scale-safe-managers-to-two-replicas
  bin-agent-manager/komodo/docker-compose.yml
  bin-ai-manager/komodo/docker-compose.yml
  bin-billing-manager/komodo/docker-compose.yml
  bin-call-manager/komodo/docker-compose.yml
  bin-campaign-manager/komodo/docker-compose.yml
  bin-conference-manager/komodo/docker-compose.yml
  bin-conversation-manager/komodo/docker-compose.yml
  bin-customer-manager/komodo/docker-compose.yml
  bin-direct-manager/komodo/docker-compose.yml
  bin-email-manager/komodo/docker-compose.yml
  bin-message-manager/komodo/docker-compose.yml
  bin-number-manager/komodo/docker-compose.yml
  bin-outdial-manager/komodo/docker-compose.yml
  bin-queue-manager/komodo/docker-compose.yml
  bin-registrar-manager/komodo/docker-compose.yml
  bin-storage-manager/komodo/docker-compose.yml
  bin-tag-manager/komodo/docker-compose.yml
  bin-talk-manager/komodo/docker-compose.yml
  bin-transfer-manager/komodo/docker-compose.yml
  bin-webchat-manager/komodo/docker-compose.yml
  bin-webhook-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transfer-manager, run-bin-webhook-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-agent-manager/models/agent/agent_test.go
  bin-agent-manager/models/agent/routingkey_golden_test.go
  bin-ai-manager/models/ai/routingkey_golden_test.go
  bin-billing-manager/models/billing/routingkey_golden_test.go
  bin-call-manager/models/call/routingkey_golden_test.go
  bin-call-manager/models/confbridge/event_test.go
  bin-campaign-manager/models/campaign/routingkey_golden_test.go
  bin-conference-manager/models/conference/routingkey_golden_test.go
  bin-contact-manager/models/contact/subscription_test.go
  bin-contact-manager/models/kase/routingkey_golden_test.go
  bin-conversation-manager/models/conversation/routingkey_golden_test.go
  bin-direct-manager/models/direct/routingkey_golden_test.go
  bin-email-manager/models/email/routingkey_golden_test.go
  bin-flow-manager/models/flow/routingkey_golden_test.go
  bin-message-manager/models/message/routingkey_golden_test.go
  bin-number-manager/models/number/routingkey_golden_test.go
  bin-outdial-manager/models/outdial/routingkey_golden_test.go
  bin-pipecat-manager/models/pipecatcall/routingkey_golden_test.go
  bin-queue-manager/models/queue/routingkey_golden_test.go
  bin-registrar-manager/models/trunk/routingkey_golden_test.go
  bin-schedule-manager/models/schedule/routingkey_golden_test.go
  bin-storage-manager/models/account/routingkey_golden_test.go
  bin-tag-manager/models/tag/routingkey_golden_test.go
  bin-talk-manager/models/chat/chat_test.go
  bin-talk-manager/models/chat/routingkey_golden_test.go
  bin-transcribe-manager/models/transcribe/routingkey_golden_test.go
  bin-tts-manager/models/streaming/routingkey_golden_test.go
  bin-webchat-manager/models/session/routingkey_golden_test.go
  docs/reference/rabbitmq-queues-reference.md
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-tts-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  docs/reference/rabbitmq-queues-reference.md
Due: none

NOJIRA-Scale-safe-managers-to-two-replicas (#1221)
  bin-agent-manager/komodo/docker-compose.yml
  bin-ai-manager/komodo/docker-compose.yml
  bin-billing-manager/komodo/docker-compose.yml
  bin-call-manager/komodo/docker-compose.yml
  bin-campaign-manager/komodo/docker-compose.yml
  bin-conference-manager/komodo/docker-compose.yml
  bin-conversation-manager/komodo/docker-compose.yml
  bin-customer-manager/komodo/docker-compose.yml
  bin-direct-manager/komodo/docker-compose.yml
  bin-email-manager/komodo/docker-compose.yml
  bin-message-manager/komodo/docker-compose.yml
  bin-number-manager/komodo/docker-compose.yml
  bin-outdial-manager/komodo/docker-compose.yml
  bin-queue-manager/komodo/docker-compose.yml
  bin-registrar-manager/komodo/docker-compose.yml
  bin-storage-manager/komodo/docker-compose.yml
  bin-tag-manager/komodo/docker-compose.yml
  bin-talk-manager/komodo/docker-compose.yml
  bin-transfer-manager/komodo/docker-compose.yml
  bin-webchat-manager/komodo/docker-compose.yml
  bin-webhook-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transfer-manager, run-bin-webhook-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-agent-manager/models/agent/agent.go
  bin-ai-manager/models/ai/main.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/models/summary/main.go
  bin-ai-manager/models/team/main.go
  bin-billing-manager/models/account/account.go
  bin-billing-manager/models/billing/billing.go
  bin-call-manager/models/call/call.go
  bin-call-manager/models/confbridge/event.go
  bin-call-manager/models/confbridge/main.go
  bin-call-manager/models/groupcall/main.go
  bin-call-manager/models/recording/recording.go
  bin-campaign-manager/models/campaign/campaign.go
  bin-conference-manager/models/conference/conference.go
  bin-conversation-manager/models/account/account.go
  bin-conversation-manager/models/conversation/conversation.go
  bin-direct-manager/models/direct/direct.go
  bin-email-manager/models/email/main.go
  bin-flow-manager/models/activeflow/activeflow.go
  bin-flow-manager/models/flow/flow.go
  bin-message-manager/models/message/message.go
  bin-number-manager/models/number/number.go
  bin-outdial-manager/models/outdial/outdial.go
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-queue-manager/models/queue/queue.go
  bin-registrar-manager/models/extension/extension.go
  bin-registrar-manager/models/trunk/trunk.go
  bin-schedule-manager/models/schedule/schedule.go
  bin-storage-manager/models/file/main.go
  bin-tag-manager/models/tag/tag.go
  bin-talk-manager/models/chat/chat.go
  bin-transcribe-manager/models/transcribe/transcribe.go
  bin-tts-manager/models/speaking/speaking.go
  bin-tts-manager/models/streaming/streaming.go
  bin-webchat-manager/models/session/session.go
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-tts-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  docs/plans/2026-08-29-voip-1406-consumer-topic-migration-design.md
  tasks/todo.md
Due: none

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-ai-manager/docs/architecture.md
  bin-ai-manager/pkg/subscribehandler/binding_golden_test.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/main_test.go
Due: none

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-agent-manager/docs/architecture.md
  bin-agent-manager/pkg/subscribehandler/binding_golden_test.go
  bin-agent-manager/pkg/subscribehandler/main.go
  bin-agent-manager/pkg/subscribehandler/main_test.go
  bin-call-manager/docs/architecture.md
  bin-call-manager/pkg/subscribehandler/binding_golden_test.go
  bin-call-manager/pkg/subscribehandler/main.go
  bin-call-manager/pkg/subscribehandler/main_test.go
  bin-timeline-manager/docs/architecture.md
  bin-timeline-manager/pkg/subscribehandler/binding_golden_test.go
  bin-timeline-manager/pkg/subscribehandler/main.go
  bin-timeline-manager/pkg/subscribehandler/run_ordering_test.go
  bin-timeline-manager/pkg/subscribehandler/run_sentinel_test.go
  bin-timeline-manager/pkg/subscribehandler/run_topic_migration_test.go
  bin-webhook-manager/docs/architecture.md
  bin-webhook-manager/pkg/subscribehandler/binding_golden_test.go
  bin-webhook-manager/pkg/subscribehandler/main.go
  bin-webhook-manager/pkg/subscribehandler/main_test.go
Due: run-bin-agent-manager, run-bin-call-manager, run-bin-webhook-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-billing-manager/docs/architecture.md
  bin-billing-manager/docs/dependencies.md
  bin-billing-manager/pkg/subscribehandler/binding_golden_test.go
  bin-billing-manager/pkg/subscribehandler/main.go
  bin-billing-manager/pkg/subscribehandler/run_sequencing_test.go
Due: run-bin-billing-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-conversation-manager/docs/architecture.md
  bin-conversation-manager/pkg/subscribehandler/binding_golden_test.go
  bin-conversation-manager/pkg/subscribehandler/main.go
  bin-conversation-manager/pkg/subscribehandler/main_test.go
Due: run-bin-conversation-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-queue-manager/docs/architecture.md
  bin-queue-manager/pkg/subscribehandler/binding_golden_test.go
  bin-queue-manager/pkg/subscribehandler/main.go
  bin-queue-manager/pkg/subscribehandler/main_test.go
Due: run-bin-queue-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-campaign-manager/docs/architecture.md
  bin-campaign-manager/pkg/subscribehandler/binding_golden_test.go
  bin-campaign-manager/pkg/subscribehandler/main.go
  bin-campaign-manager/pkg/subscribehandler/main_test.go
Due: run-bin-campaign-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-transcribe-manager/docs/architecture.md
  bin-transcribe-manager/pkg/subscribehandler/binding_golden_test.go
  bin-transcribe-manager/pkg/subscribehandler/main.go
  bin-transcribe-manager/pkg/subscribehandler/main_test.go
Due: run-bin-transcribe-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-flow-manager/docs/architecture.md
  bin-flow-manager/pkg/subscribehandler/binding_golden_test.go
  bin-flow-manager/pkg/subscribehandler/main.go
  bin-flow-manager/pkg/subscribehandler/main_test.go
Due: run-bin-flow-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-conference-manager/docs/architecture.md
  bin-conference-manager/pkg/subscribehandler/binding_golden_test.go
  bin-conference-manager/pkg/subscribehandler/main.go
  bin-conference-manager/pkg/subscribehandler/main_test.go
Due: run-bin-conference-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-direct-manager/docs/architecture.md
  bin-direct-manager/pkg/subscribehandler/binding_golden_test.go
  bin-direct-manager/pkg/subscribehandler/main.go
  bin-direct-manager/pkg/subscribehandler/main_test.go
Due: none
