Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Timestamp-string-to-time-migration
  docs/plans/2026-02-05-timestamp-migration-implementation.md
Due: none

NOJIRA-Timestamp-string-to-time-migration
  bin-common-handler/pkg/utilhandler/time_migration_test.go
Due: run-bin-common-handler

NOJIRA-Timestamp-string-to-time-migration
  bin-common-handler/pkg/utilhandler/main.go
  bin-common-handler/pkg/utilhandler/mock_main.go
  bin-common-handler/pkg/utilhandler/time.go
  bin-common-handler/pkg/utilhandler/time_migration_test.go
  bin-common-handler/pkg/utilhandler/time_test.go
Due: run-bin-common-handler

NOJIRA-Timestamp-string-to-time-migration
  bin-dbscheme-manager/bin-manager/main/versions/071504ef41d0_timestamp_sentinel_to_null.py
Due: none

NOJIRA-Timestamp-string-to-time-migration: Migrate bin-agent-manager
  bin-agent-manager/models/agent/agent.go
  bin-agent-manager/models/agent/webhook.go
  bin-agent-manager/pkg/dbhandler/agent.go
  bin-agent-manager/pkg/dbhandler/agent_test.go
  bin-agent-manager/pkg/listenhandler/v1_agents_test.go
  bin-agent-manager/pkg/listenhandler/v1_login_test.go
  bin-common-handler/pkg/databasehandler/main.go
  bin-common-handler/pkg/databasehandler/main_test.go
  bin-common-handler/pkg/databasehandler/mapping.go
  bin-common-handler/pkg/requesthandler/agent_agents_test.go
Due: run-bin-agent-manager, run-bin-common-handler

NOJIRA-Add-pipecatcall-timestamp-debug-log
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

NOJIRA-Fix-duplicate-bot-llm-text
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
Due: none

NOJIRA-Fix-duplicate-bot-llm-text
  .circleci/config_work.yml
Due: none

NOJIRA-Add-call-sip-timeline-pcap-api
  docs/plans/2026-02-05-call-sip-timeline-pcap-api-implementation.md
Due: none

NOJIRA-Add-call-sip-timeline-pcap-api
  docs/plans/2026-02-05-call-sip-timeline-pcap-api-design.md
Due: none

NOJIRA-Add-call-sip-timeline-pcap-api
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/timeline_sip.go
  bin-api-manager/server/timelines_sip.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/timelines/call_pcap.yaml
  bin-openapi-manager/openapi/paths/timelines/call_sip_messages.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-call-sip-timeline-pcap-api
  bin-call-manager/pkg/listenhandler/main.go
  bin-call-manager/pkg/listenhandler/v1_channels.go
  bin-common-handler/pkg/requesthandler/call_channels.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/timeline_sip.go
Due: run-bin-call-manager, run-bin-common-handler

NOJIRA-Add-call-sip-timeline-pcap-api
  bin-timeline-manager/models/sipmessage/sipmessage.go
Due: none

NOJIRA-Add-call-sip-timeline-pcap-api
  bin-timeline-manager/k8s/deployment.yml
Due: none

NOJIRA-Add-call-sip-timeline-pcap-api
  bin-timeline-manager/pkg/siphandler/main.go
  bin-timeline-manager/pkg/siphandler/mock_main.go
Due: none

NOJIRA-Add-call-sip-timeline-pcap-api
  bin-timeline-manager/pkg/homerhandler/main.go
  bin-timeline-manager/pkg/homerhandler/mock_main.go
Due: none

NOJIRA-Add-call-sip-timeline-pcap-api
  bin-timeline-manager/cmd/timeline-manager/main.go
  bin-timeline-manager/internal/config/main.go
  bin-timeline-manager/pkg/listenhandler/main.go
  bin-timeline-manager/pkg/listenhandler/main_test.go
  bin-timeline-manager/pkg/listenhandler/models/request/sip.go
  bin-timeline-manager/pkg/listenhandler/v1_sip.go
Due: none

NOJIRA-Remove-DefaultTimeStamp-sentinel-from-monorepo
  bin-agent-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/message_test.go
  bin-ai-manager/pkg/dbhandler/summary_test.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/timeline_sip.go
  bin-billing-manager/pkg/dbhandler/main.go
  bin-call-manager/pkg/dbhandler/main.go
  bin-campaign-manager/pkg/dbhandler/main.go
  bin-common-handler/pkg/databasehandler/main.go
  bin-conference-manager/pkg/conferencehandler/main.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-customer-manager/pkg/dbhandler/main.go
  bin-message-manager/pkg/dbhandler/main.go
  bin-number-manager/pkg/dbhandler/main.go
  bin-outdial-manager/pkg/dbhandler/main.go
  bin-queue-manager/pkg/dbhandler/main.go
  bin-queue-manager/pkg/queuehandler/main.go
  bin-registrar-manager/pkg/dbhandler/main.go
  bin-tag-manager/pkg/dbhandler/main.go
  bin-transcribe-manager/pkg/dbhandler/main.go
  bin-transcribe-manager/pkg/transcribehandler/start_test.go
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-customer-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-tag-manager, run-bin-transcribe-manager

NOJIRA-Remove-DefaultTimeStamp-sentinel-from-monorepo (#402)
  bin-agent-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/message_test.go
  bin-ai-manager/pkg/dbhandler/summary_test.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/timeline_sip.go
  bin-billing-manager/pkg/dbhandler/main.go
  bin-call-manager/pkg/dbhandler/main.go
  bin-campaign-manager/pkg/dbhandler/main.go
  bin-common-handler/pkg/databasehandler/main.go
  bin-conference-manager/pkg/conferencehandler/main.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-customer-manager/pkg/dbhandler/main.go
  bin-message-manager/pkg/dbhandler/main.go
  bin-number-manager/pkg/dbhandler/main.go
  bin-outdial-manager/pkg/dbhandler/main.go
  bin-queue-manager/pkg/dbhandler/main.go
  bin-queue-manager/pkg/queuehandler/main.go
  bin-registrar-manager/pkg/dbhandler/main.go
  bin-tag-manager/pkg/dbhandler/main.go
  bin-transcribe-manager/pkg/dbhandler/main.go
  bin-transcribe-manager/pkg/transcribehandler/start_test.go
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-customer-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-tag-manager, run-bin-transcribe-manager

NOJIRA-Update-talk-manager-CLAUDE-md
  bin-talk-manager/CLAUDE.md
Due: none

NOJIRA-Update-talk-manager-CLAUDE-md (#403)
  bin-talk-manager/CLAUDE.md
Due: none

NOJIRA-Add-structured-logging-pattern
  bin-talk-manager/CLAUDE.md
  bin-talk-manager/pkg/listenhandler/v1_messages.go
Due: none

NOJIRA-Add-structured-logging-pattern (#404)
  bin-talk-manager/CLAUDE.md
  bin-talk-manager/pkg/listenhandler/v1_messages.go
Due: none

NOJIRA-Simplify-Media-struct-to-AgentID
  bin-talk-manager/go.mod
  bin-talk-manager/models/message/message.go
  bin-talk-manager/models/message/message_test.go
Due: none

NOJIRA-Simplify-Media-struct-to-AgentID
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-openapi-manager

NOJIRA-Simplify-Media-struct-to-AgentID
  CLAUDE.md
Due: none

NOJIRA-Simplify-Media-struct-to-AgentID
  CLAUDE.md
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
Due: run-bin-api-manager

NOJIRA-Simplify-Media-struct-to-AgentID (#405)
  CLAUDE.md
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-talk-manager/go.mod
  bin-talk-manager/models/message/message.go
  bin-talk-manager/models/message/message_test.go
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Fix-timeline-sip-pcap-endpoint-paths
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/timelines_sip.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Fix-timeline-sip-pcap-endpoint-paths
  bin-api-manager/server/timelines_sip.go
Due: run-bin-api-manager

NOJIRA-Fix-timeline-sip-pcap-endpoint-paths
  bin-timeline-manager/pkg/homerhandler/main.go
  bin-timeline-manager/pkg/listenhandler/v1_sip.go
  bin-timeline-manager/pkg/siphandler/main.go
Due: none

NOJIRA-Fix-timeline-sip-pcap-endpoint-paths
  CLAUDE.md
  bin-api-manager/pkg/servicehandler/timeline_sip.go
Due: run-bin-api-manager

NOJIRA-Fix-timeline-sip-pcap-endpoint-paths
  bin-timeline-manager/pkg/homerhandler/main.go
Due: none

NOJIRA-Fix-timeline-sip-pcap-endpoint-paths
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/openapi/paths/timelines/call_pcap.yaml
  bin-openapi-manager/openapi/paths/timelines/call_sip_messages.yaml
  bin-timeline-manager/go.mod
  bin-timeline-manager/go.sum
  bin-timeline-manager/models/sipmessage/sipmessage.go
  bin-timeline-manager/pkg/homerhandler/main.go
  bin-timeline-manager/pkg/listenhandler/v1_sip.go
  bin-timeline-manager/pkg/siphandler/main.go
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Fix-timeline-sip-pcap-endpoint-paths
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-common-handler/pkg/requesthandler/timeline_sip.go
  bin-timeline-manager/pkg/listenhandler/v1_sip.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Fix-timeline-sip-pcap-endpoint-paths (#406)
  CLAUDE.md
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/timeline_sip.go
  bin-api-manager/server/timelines_sip.go
  bin-common-handler/pkg/requesthandler/timeline_sip.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/timelines/call_pcap.yaml
  bin-openapi-manager/openapi/paths/timelines/call_sip_messages.yaml
  bin-timeline-manager/go.mod
  bin-timeline-manager/go.sum
  bin-timeline-manager/models/sipmessage/sipmessage.go
  bin-timeline-manager/pkg/homerhandler/main.go
  bin-timeline-manager/pkg/listenhandler/v1_sip.go
  bin-timeline-manager/pkg/siphandler/main.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager
