Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-cleanup-webhook-plan-docs
  docs/plans/2026-02-25-fix-webhook-notification-pattern-design.md
  docs/plans/2026-02-25-fix-webhook-notification-pattern-plan.md
Due: none

NOJIRA-restrict-customers-api-permissions
  bin-api-manager/pkg/servicehandler/customer.go
  bin-api-manager/pkg/servicehandler/customer_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/customer.go
  bin-api-manager/server/customer_test.go
  docs/plans/2026-02-25-restrict-customers-api-permissions-design.md
Due: run-bin-api-manager

NOJIRA-restrict-customers-api-permissions (#609)
  bin-api-manager/pkg/servicehandler/customer.go
  bin-api-manager/pkg/servicehandler/customer_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/customer.go
  bin-api-manager/server/customer_test.go
  docs/plans/2026-02-25-restrict-customers-api-permissions-design.md
Due: run-bin-api-manager

NOJIRA-customer-unregister-immediately-review-fixes
  bin-api-manager/pkg/servicehandler/customer_test.go
  bin-customer-manager/pkg/customerhandler/freeze.go
  bin-customer-manager/pkg/customerhandler/freeze_test.go
Due: run-bin-api-manager, run-bin-customer-manager

NOJIRA-return-internal-structs-for-superadmin-endpoints
  bin-api-manager/lib/middleware/authenticate_test.go
  bin-api-manager/pkg/servicehandler/billingaccount.go
  bin-api-manager/pkg/servicehandler/billingaccount_test.go
  bin-api-manager/pkg/servicehandler/customer.go
  bin-api-manager/pkg/servicehandler/customer_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/numbers.go
  bin-api-manager/pkg/servicehandler/numbers_test.go
  bin-api-manager/pkg/servicehandler/provider.go
  bin-api-manager/pkg/servicehandler/provider_test.go
  bin-api-manager/pkg/servicehandler/route.go
  bin-api-manager/pkg/servicehandler/route_test.go
  bin-api-manager/pkg/servicehandler/storage_account_test.go
  bin-api-manager/pkg/servicehandler/storage_accounts.go
  bin-api-manager/server/billing_accounts_test.go
  bin-api-manager/server/customers_test.go
  bin-api-manager/server/numbers_test.go
  bin-api-manager/server/providers_test.go
  bin-api-manager/server/routes.go
  bin-api-manager/server/routes_test.go
  bin-api-manager/server/storage_accounts_test.go
Due: run-bin-api-manager

NOJIRA-return-internal-structs-for-superadmin-endpoints (#612)
  bin-api-manager/lib/middleware/authenticate_test.go
  bin-api-manager/pkg/servicehandler/billingaccount.go
  bin-api-manager/pkg/servicehandler/billingaccount_test.go
  bin-api-manager/pkg/servicehandler/customer.go
  bin-api-manager/pkg/servicehandler/customer_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/numbers.go
  bin-api-manager/pkg/servicehandler/numbers_test.go
  bin-api-manager/pkg/servicehandler/provider.go
  bin-api-manager/pkg/servicehandler/provider_test.go
  bin-api-manager/pkg/servicehandler/route.go
  bin-api-manager/pkg/servicehandler/route_test.go
  bin-api-manager/pkg/servicehandler/storage_account_test.go
  bin-api-manager/pkg/servicehandler/storage_accounts.go
  bin-api-manager/server/billing_accounts_test.go
  bin-api-manager/server/customers_test.go
  bin-api-manager/server/numbers_test.go
  bin-api-manager/server/providers_test.go
  bin-api-manager/server/routes.go
  bin-api-manager/server/routes_test.go
  bin-api-manager/server/storage_accounts_test.go
Due: run-bin-api-manager

NOJIRA-add-recording-billing
  bin-billing-manager/models/billing/billing.go
  bin-billing-manager/models/billing/cost_type.go
Due: run-bin-billing-manager

NOJIRA-add-recording-billing
  bin-billing-manager/pkg/accounthandler/balance.go
  bin-billing-manager/pkg/accounthandler/balance_test.go
Due: run-bin-billing-manager

NOJIRA-add-recording-billing
  bin-billing-manager/pkg/billinghandler/event_recording.go
  bin-billing-manager/pkg/billinghandler/event_recording_test.go
  bin-billing-manager/pkg/billinghandler/main.go
Due: run-bin-billing-manager

NOJIRA-add-recording-billing
  bin-billing-manager/pkg/subscribehandler/main.go
  bin-billing-manager/pkg/subscribehandler/recording.go
  bin-billing-manager/pkg/subscribehandler/recording_test.go
Due: run-bin-billing-manager

NOJIRA-add-recording-billing
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-billing-manager/pkg/billinghandler/db.go
Due: run-bin-billing-manager

NOJIRA-add-recording-billing
  bin-call-manager/pkg/recordinghandler/recording.go
  bin-call-manager/pkg/recordinghandler/recording_test.go
Due: run-bin-call-manager

NOJIRA-add-recording-billing
  bin-call-manager/pkg/recordinghandler/start_test.go
Due: run-bin-call-manager

NOJIRA-add-recording-billing
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-billing-manager/pkg/billinghandler/mock_main.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-billing-manager, run-bin-openapi-manager

NOJIRA-add-recording-billing
  docs/plans/2026-02-26-recording-billing-design.md
  docs/plans/2026-02-26-recording-billing-plan.md
Due: none

NOJIRA-add-recording-billing
  bin-billing-manager/pkg/billinghandler/event_recording.go
  bin-billing-manager/pkg/billinghandler/event_recording_test.go
Due: run-bin-billing-manager

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/models/team/event.go
  bin-ai-manager/models/team/field.go
  bin-ai-manager/models/team/filters.go
  bin-ai-manager/models/team/main.go
  bin-ai-manager/models/team/member.go
  bin-ai-manager/models/team/resolved.go
  bin-ai-manager/models/team/webhook.go
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/dbhandler/team.go
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/pkg/cachehandler/main.go
  bin-ai-manager/pkg/cachehandler/mock_main.go
  bin-ai-manager/pkg/cachehandler/team.go
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/go.mod
  bin-ai-manager/pkg/teamhandler/handler.go
  bin-ai-manager/pkg/teamhandler/handler_test.go
  bin-ai-manager/pkg/teamhandler/main.go
  bin-ai-manager/pkg/teamhandler/mock_main.go
  bin-ai-manager/pkg/teamhandler/validation.go
  bin-ai-manager/pkg/teamhandler/validation_test.go
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/models/request/teams.go
  bin-ai-manager/pkg/listenhandler/v1_teams.go
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/models/aicall/field.go
  bin-ai-manager/models/aicall/filters.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/models/aicall/webhook.go
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/cmd/ai-manager/main.go
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/scripts/database_scripts_test/table_ai_teams.sql
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-dbscheme-manager/bin-manager/main/versions/ed4cff99a82e_ai_teams_create_table_and_aicalls_add_team_id.py
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/pkg/teamhandler/handler.go
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/go.mod
  bin-ai-manager/pkg/teamhandler/handler.go
  bin-ai-manager/pkg/teamhandler/validation.go
  bin-ai-manager/pkg/teamhandler/validation_test.go
Due: none

NOJIRA-add-pipecat-flows-team-support
  docs/plans/2026-02-26-pipecat-flows-team-design.md
  docs/plans/2026-02-27-pipecat-flows-team-plan.md
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-ai-manager/pkg/listenhandler/v1_teams_test.go
  bin-ai-manager/pkg/teamhandler/handler_test.go
Due: none

NOJIRA-add-pipecat-flows-team-support
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/team.go
  bin-api-manager/server/aicalls_test.go
  bin-api-manager/server/teams.go
  bin-api-manager/vendor/modules.txt
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/field.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/filters.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/main.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/webhook.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/team/event.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/team/field.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/team/filters.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/team/main.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/team/member.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/team/resolved.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/team/webhook.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/pkg/listenhandler/models/request/teams.go
  bin-api-manager/vendor/monorepo/bin-billing-manager/models/billing/billing.go
  bin-api-manager/vendor/monorepo/bin-billing-manager/models/billing/cost_type.go
  bin-api-manager/vendor/monorepo/bin-common-handler/pkg/requesthandler/ai_teams.go
  bin-api-manager/vendor/monorepo/bin-common-handler/pkg/requesthandler/main.go
  bin-api-manager/vendor/monorepo/bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/ai_teams.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/teams/id.yaml
  bin-openapi-manager/openapi/paths/teams/main.yaml
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-add-pipecat-flows-team-support
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-dbscheme-manager/bin-manager/main/versions/ed4cff99a82e_ai_teams_create_table_and_aicalls_add_team_id.py
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager
