Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

WIP
  bin-ai-manager/pkg/aicallhandler/main.go
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

Fixed
  bin-ai-manager/pkg/aicallhandler/main.go
Due: none

NOJIRA-Fix_ai_prompt (#267)
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/send.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

WIP
  bin-flow-manager/cmd/flow-manager/main.go
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/pkg/variablehandler/main.go
  bin-flow-manager/pkg/variablehandler/mock_main.go
  bin-flow-manager/pkg/variablehandler/substitute.go
  bin-flow-manager/pkg/variablehandler/substitute_test.go
  bin-flow-manager/pkg/variablehandler/variable.go
Due: run-bin-flow-manager

Fixed
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/chat.go
Due: none

Fixed
  bin-ai-manager/pkg/aicallhandler/chat.go
Due: none

Fixed
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
Due: run-bin-flow-manager

VOIP-1124-Add_engine_data_handle (#268)
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/send.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-flow-manager/cmd/flow-manager/main.go
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/pkg/variablehandler/main.go
  bin-flow-manager/pkg/variablehandler/mock_main.go
  bin-flow-manager/pkg/variablehandler/substitute.go
  bin-flow-manager/pkg/variablehandler/substitute_test.go
  bin-flow-manager/pkg/variablehandler/variable.go
Due: run-bin-flow-manager

Fixed
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

Fixed
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
Due: none

Fixed
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

Fixed
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pipecatframe.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
Due: none

Fixed
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pipecatframe.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

VOIP-1127-Fix_timeout_issue (#269)
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pipecatframe.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
Due: none

Fixed
  bin-dbscheme-bin-manager/bin-manager/main/versions/f46d9c5c4438_ai_messages_alter_column_content.py
Due: run-bin-dbscheme-bin-manager

VOIP-1128-Change_column_utf8mb4 (#271)
  bin-dbscheme-bin-manager/bin-manager/main/versions/f46d9c5c4438_ai_messages_alter_column_content.py
Due: run-bin-dbscheme-bin-manager

Fixed
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: none

Fixed
  bin-ai-manager/pkg/aicallhandler/tool.go
Due: none

WIP
  bin-email-manager/go.mod
  bin-email-manager/go.sum
  bin-email-manager/pkg/emailhandler/engine_sendgrid.go
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: run-bin-email-manager

WIP
  bin-email-manager/pkg/emailhandler/engine_sendgrid.go
Due: run-bin-email-manager

Fixed
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
Due: none

Fixed
  bin-email-manager/pkg/emailhandler/engine_sendgrid.go
Due: run-bin-email-manager

VOIP-1129-Add_tool_email_send (#272)
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
  bin-email-manager/go.mod
  bin-email-manager/go.sum
  bin-email-manager/pkg/emailhandler/engine_sendgrid.go
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/pipecat/tools.py
Due: run-bin-email-manager

Fixed
  bin-flow-manager/pkg/variablehandler/main.go
  bin-flow-manager/pkg/variablehandler/substitute_test.go
Due: run-bin-flow-manager

Fixed
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-flow-manager/pkg/variablehandler/substitute.go
  bin-flow-manager/pkg/variablehandler/substitute_test.go
Due: run-bin-flow-manager

Fixed
  bin-flow-manager/pkg/variablehandler/substitute_test.go
Due: run-bin-flow-manager

VOIP-1131-Fix_dynamic_variable_handle (#273)
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-flow-manager/pkg/variablehandler/main.go
  bin-flow-manager/pkg/variablehandler/substitute.go
  bin-flow-manager/pkg/variablehandler/substitute_test.go
Due: run-bin-flow-manager

Fixed
  bin-email-manager/cmd/email-manager/init.go
  bin-email-manager/cmd/email-manager/main.go
  bin-email-manager/go.mod
  bin-email-manager/go.sum
  bin-email-manager/k8s/deployment.yml
  bin-email-manager/pkg/emailhandler/email_test.go
  bin-email-manager/pkg/emailhandler/engine_mailgun.go
  bin-email-manager/pkg/emailhandler/engine_mailgun_test.go
  bin-email-manager/pkg/emailhandler/hook.go
  bin-email-manager/pkg/emailhandler/main.go
  bin-email-manager/pkg/emailhandler/mock_engine_mailgun.go
  bin-email-manager/pkg/emailhandler/send.go
  bin-email-manager/pkg/emailhandler/send_test.go
Due: run-bin-email-manager

Fixed
  .circleci/config_work.yml
Due: none

Fixed
  bin-email-manager/go.mod
  bin-email-manager/go.sum
  bin-email-manager/pkg/emailhandler/engine_mailgun.go
Due: run-bin-email-manager

Fixed
  bin-email-manager/pkg/emailhandler/engine_mailgun.go
  bin-email-manager/pkg/emailhandler/engine_sendgrid.go
  bin-email-manager/pkg/emailhandler/hook.go
  bin-email-manager/pkg/emailhandler/main.go
Due: run-bin-email-manager

Fixed
  bin-email-manager/pkg/emailhandler/engine_mailgun.go
  bin-email-manager/pkg/emailhandler/main.go
Due: run-bin-email-manager

Fixed
  bin-email-manager/pkg/emailhandler/engine_mailgun.go
Due: run-bin-email-manager

Fixed
  bin-email-manager/pkg/emailhandler/engine_mailgun.go
  bin-email-manager/pkg/emailhandler/engine_sendgrid.go
  bin-email-manager/pkg/emailhandler/main.go
  bin-email-manager/pkg/emailhandler/util.go
Due: run-bin-email-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
