Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

WIP
  .circleci/config_work.yml
  bin-tts-manager/cmd/tts-manager/init.go
  bin-tts-manager/cmd/tts-manager/main.go
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  bin-tts-manager/k8s/deployment.yml
  bin-tts-manager/models/streaming/event.go
  bin-tts-manager/models/streaming/streaming.go
  bin-tts-manager/pkg/cachehandler/handler.go
  bin-tts-manager/pkg/cachehandler/main.go
  bin-tts-manager/pkg/cachehandler/mock_main.go
  bin-tts-manager/pkg/dbhandler/main.go
  bin-tts-manager/pkg/dbhandler/streaming.go
  bin-tts-manager/pkg/listenhandler/main.go
  bin-tts-manager/pkg/listenhandler/models/request/speeches.go
  bin-tts-manager/pkg/listenhandler/models/request/streamings.go
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/mock_main.go
  bin-tts-manager/pkg/streaminghandler/run.go
  bin-tts-manager/pkg/streaminghandler/run_test.go
  bin-tts-manager/pkg/streaminghandler/start.go
  bin-tts-manager/pkg/streaminghandler/start_test.go
  bin-tts-manager/pkg/streaminghandler/stop.go
  bin-tts-manager/pkg/streaminghandler/stop_test.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
  bin-tts-manager/pkg/streaminghandler/streaming_test.go
  bin-tts-manager/pkg/ttshandler/main.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  bin-tts-manager/pkg/cachehandler/handler.go
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/streaminghandler/run.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/pkg/streaminghandler/run.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/pkg/listenhandler/v1_speeches_test.go
  bin-tts-manager/pkg/listenhandler/v1_streamings_test.go
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/audiosocket_test.go
  bin-tts-manager/pkg/streaminghandler/elevelabs_test.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/mock_elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/run_test.go
  bin-tts-manager/pkg/streaminghandler/start_test.go
  bin-tts-manager/pkg/streaminghandler/stop_test.go
  bin-tts-manager/pkg/streaminghandler/streaming_test.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs_test.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-tts-manager

Fixed
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/start.go
  bin-tts-manager/pkg/streaminghandler/start_test.go
  bin-tts-manager/pkg/streaminghandler/stop.go
  bin-tts-manager/pkg/streaminghandler/stop_test.go
  bin-tts-manager/pkg/streaminghandler/streaming_test.go
Due: run-bin-tts-manager

Fixed
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/tts_speeches_test.go
  bin-common-handler/pkg/requesthandler/tts_streamings.go
  bin-common-handler/pkg/requesthandler/tts_streamings_test.go
  bin-hook-manager/go.mod
  bin-hook-manager/go.sum
Due: run-bin-api-manager, run-bin-common-handler, run-bin-hook-manager

WIP
  bin-dbscheme-bin-manager/bin-manager/main/versions/6efdc5294d5e_ai_aicalls_add_tts_streaming.py
Due: run-bin-dbscheme-bin-manager

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
Due: none

WIP
  bin-call-manager/pkg/subscribehandler/asterisk_proxy.go
Due: run-bin-call-manager

WIP
  bin-call-manager/go.mod
  bin-call-manager/go.sum
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/subscribehandler/asterisk_proxy.go
  bin-tts-manager/models/streaming/streaming.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-call-manager, run-bin-tts-manager

WIP
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
Due: run-bin-tts-manager

WIP
  bin-tts-manager/k8s/deployment.yml
Due: run-bin-tts-manager

WIP
  bin-transcribe-manager/pkg/listenhandler/main.go
  bin-tts-manager/cmd/tts-manager/main.go
  bin-tts-manager/pkg/listenhandler/main.go
Due: run-bin-transcribe-manager, run-bin-tts-manager

WIP
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
Due: run-bin-transcribe-manager

WIP
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/chat_test.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

WIP
  bin-call-manager/pkg/channelhandler/hangup.go
  bin-tts-manager/pkg/listenhandler/main.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-call-manager, run-bin-tts-manager

WIP
  bin-tts-manager/pkg/streaminghandler/start.go
  bin-tts-manager/pkg/streaminghandler/start_test.go
Due: run-bin-tts-manager

WIP
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/externalmediahandler/start.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/externalmediahandler/start.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
Due: run-bin-call-manager

WIP
  bin-call-manager/models/externalmedia/main.go
  bin-call-manager/pkg/bridgehandler/channel.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/externalmediahandler/db.go
  bin-call-manager/pkg/externalmediahandler/db_test.go
  bin-call-manager/pkg/externalmediahandler/start.go
  bin-call-manager/pkg/externalmediahandler/start_test.go
Due: run-bin-call-manager

WIP
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

WIP
  bin-call-manager/pkg/externalmediahandler/start_test.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/externalmediahandler/start.go
  bin-call-manager/pkg/externalmediahandler/start_test.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/externalmediahandler/start.go
  bin-tts-manager/pkg/streaminghandler/run.go
Due: run-bin-call-manager, run-bin-tts-manager

WIP
  bin-call-manager/pkg/callhandler/start.go
Due: run-bin-call-manager

WIP
  bin-call-manager/pkg/callhandler/start_test.go
Due: run-bin-call-manager

WIP
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/audiosocket_test.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs_test.go
Due: run-bin-tts-manager

WIP
  bin-call-manager/pkg/externalmediahandler/start.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-call-manager, run-bin-tts-manager

WIP
  bin-tts-manager/k8s/deployment.yml
  bin-tts-manager/pkg/streaminghandler/start.go
Due: run-bin-tts-manager

WIP
  bin-call-manager/pkg/callhandler/start.go
  bin-tts-manager/pkg/listenhandler/v1_speeches.go
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/streaminghandler/run.go
Due: run-bin-call-manager, run-bin-tts-manager
