Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

VOIP-1553 Rename new config tests to the Test_ convention
  bin-call-manager/docs/plans/2026-10-01-disable-call-recovery-by-default-design.md
  bin-call-manager/internal/config/main_test.go
Due: run-bin-call-manager

VOIP-1553 Align new tests with testing conventions
  bin-call-manager/docs/plans/2026-10-01-disable-call-recovery-by-default-design.md
  bin-call-manager/internal/config/main_test.go
  bin-call-manager/pkg/callhandler/recovery_test.go
Due: run-bin-call-manager

VOIP-1544-Upgrade-pipecat-to-1.12.0
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/Dockerfile
  bin-pipecat-manager/docs/architecture.md
  bin-pipecat-manager/docs/dependencies.md
  bin-pipecat-manager/docs/domain.md
  bin-pipecat-manager/docs/operations.md
  bin-pipecat-manager/docs/plans/2026-09-30-pipecat-1.12-upgrade-design.md
  bin-pipecat-manager/k8s/deployment.yml
  bin-pipecat-manager/k8s/kustomization.yml
  bin-pipecat-manager/k8s/namespace.yml
  bin-pipecat-manager/k8s/service.yml
  bin-pipecat-manager/komodo/docker-compose.yml
  bin-pipecat-manager/komodo/environment.env
  bin-pipecat-manager/scripts/pipecat/conftest.py
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/routing_llm.py
  bin-pipecat-manager/scripts/pipecat/routing_stt.py
  bin-pipecat-manager/scripts/pipecat/routing_tts.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/team_flow.py
  bin-pipecat-manager/scripts/pipecat/test_init_pipeline.py
  bin-pipecat-manager/scripts/pipecat/test_routing_llm.py
  bin-pipecat-manager/scripts/pipecat/test_routing_stt.py
  bin-pipecat-manager/scripts/pipecat/test_routing_tts.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
  bin-pipecat-manager/scripts/pipecat/test_team_flow.py
  bin-pipecat-manager/scripts/pipecat/test_upgrade_112.py
  bin-pipecat-manager/scripts/pipecat/uv.lock
  bin-pipecat-manager/scripts/pipecat_realtest/test_gemini_tool_filter_real.py
  bin-pipecat-manager/scripts/pipecat_realtest/test_upgrade_112_real.py
Due: none

VOIP-1553-Disable-call-recovery-by-default
  bin-call-manager/CLAUDE.md
  bin-call-manager/cmd/call-control/main.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/docs/architecture.md
  bin-call-manager/docs/domain.md
  bin-call-manager/docs/operations.md
  bin-call-manager/docs/plans/2026-10-01-disable-call-recovery-by-default-design.md
  bin-call-manager/internal/config/main.go
  bin-call-manager/internal/config/main_test.go
  bin-call-manager/pkg/callhandler/event_test.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recovery_test.go
  bin-sentinel-manager/CLAUDE.md
  bin-sentinel-manager/README.md
  bin-sentinel-manager/docs/architecture.md
  bin-sentinel-manager/docs/domain.md
  bin-sentinel-manager/docs/operations.md
  monitoring/grafana/dashboards/sentinel-manager.json
Due: run-bin-call-manager

VOIP-1558-Add-conversational-assistant-builder design doc
  docs/plans/2026-10-01-conversational-assistant-builder-design-v7-aicall-superseded.md
  docs/plans/2026-10-01-conversational-assistant-builder-design.md
Due: none

VOIP-1558-Add-conversational-assistant-builder
  docs/plans/2026-10-01-conversational-assistant-builder-design.md
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/builder-implementation-checks.md
  bin-ai-manager/models/builder/main.go
  bin-ai-manager/models/builder/main_test.go
  bin-ai-manager/models/builder/validate.go
  bin-ai-manager/pkg/builderhandler/parse.go
  bin-ai-manager/pkg/builderhandler/parse_test.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/builder-prompt-review-checklist.md
  bin-ai-manager/pkg/builderhandler/input.go
  bin-ai-manager/pkg/builderhandler/input_test.go
  bin-ai-manager/pkg/builderhandler/prompt.go
  bin-ai-manager/pkg/builderhandler/prompt_test.go
  bin-ai-manager/pkg/builderhandler/schema.go
  bin-ai-manager/pkg/builderhandler/testdata/golden_phrases.txt
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/pkg/builderhandler/config.go
  bin-ai-manager/pkg/builderhandler/turn.go
  bin-ai-manager/pkg/builderhandler/turn_test.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/pkg/builderhandler/eval/README.md
  bin-ai-manager/pkg/builderhandler/eval/eval_test.go
  bin-ai-manager/pkg/builderhandler/eval/gate.go
  bin-ai-manager/pkg/builderhandler/eval/real_test.go
  bin-ai-manager/pkg/builderhandler/eval/report.go
  bin-ai-manager/pkg/builderhandler/eval/run.go
  bin-ai-manager/pkg/builderhandler/eval/scenarios.go
  bin-ai-manager/pkg/builderhandler/eval/sim.go
  bin-ai-manager/pkg/builderhandler/eval/synthetic.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/models/builder/main_test.go
  bin-ai-manager/models/builder/validate.go
  bin-ai-manager/pkg/builderhandler/eval/README.md
  bin-ai-manager/pkg/builderhandler/eval/eval_test.go
  bin-ai-manager/pkg/builderhandler/eval/gate.go
  bin-ai-manager/pkg/builderhandler/eval/real_test.go
  bin-ai-manager/pkg/builderhandler/eval/report.go
  bin-ai-manager/pkg/builderhandler/eval/scenarios.go
  bin-ai-manager/pkg/builderhandler/eval/synthetic.go
  bin-ai-manager/pkg/builderhandler/input.go
  bin-ai-manager/pkg/builderhandler/input_test.go
  bin-ai-manager/pkg/builderhandler/parse.go
  bin-ai-manager/pkg/builderhandler/parse_test.go
  bin-ai-manager/pkg/builderhandler/prompt.go
  bin-ai-manager/pkg/builderhandler/prompt_test.go
  bin-ai-manager/pkg/builderhandler/turn.go
  bin-ai-manager/pkg/builderhandler/turn_test.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/builder-prompt-review-checklist.md
  bin-ai-manager/models/builder/validate.go
  bin-ai-manager/pkg/builderhandler/eval/README.md
  bin-ai-manager/pkg/builderhandler/eval/eval_test.go
  bin-ai-manager/pkg/builderhandler/eval/gate.go
  bin-ai-manager/pkg/builderhandler/eval/real_test.go
  bin-ai-manager/pkg/builderhandler/eval/report.go
  bin-ai-manager/pkg/builderhandler/eval/run.go
  bin-ai-manager/pkg/builderhandler/eval/synthetic.go
  bin-ai-manager/pkg/builderhandler/parse.go
  bin-ai-manager/pkg/builderhandler/parse_test.go
  bin-ai-manager/pkg/builderhandler/prompt.go
  bin-ai-manager/pkg/builderhandler/turn.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/pkg/builderhandler/eval/README.md
  bin-ai-manager/pkg/builderhandler/eval/eval_test.go
  bin-ai-manager/pkg/builderhandler/eval/report.go
  bin-ai-manager/pkg/builderhandler/parse_test.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/builder-prompt-review-checklist.md
  bin-ai-manager/pkg/builderhandler/eval/scenarios.go
  bin-ai-manager/pkg/builderhandler/prompt.go
  bin-ai-manager/pkg/builderhandler/prompt_test.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/builder-prompt-review-checklist.md
  bin-ai-manager/pkg/builderhandler/eval/README.md
  bin-ai-manager/pkg/builderhandler/prompt.go
  bin-ai-manager/pkg/builderhandler/prompt_test.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/pkg/builderhandler/eval/README.md
  bin-ai-manager/pkg/builderhandler/eval/eval_test.go
  bin-ai-manager/pkg/builderhandler/eval/report.go
  bin-ai-manager/pkg/builderhandler/prompt.go
  bin-ai-manager/pkg/builderhandler/prompt_test.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/pkg/builderhandler/prompt_test.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/builder-prompt-review-checklist.md
  bin-ai-manager/pkg/builderhandler/eval/README.md
  bin-ai-manager/pkg/builderhandler/eval/eval_test.go
  bin-ai-manager/pkg/builderhandler/prompt.go
  bin-ai-manager/pkg/builderhandler/prompt_test.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/builder-prompt-review-checklist.md
  bin-ai-manager/pkg/builderhandler/prompt.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/pkg/builderhandler/eval/README.md
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/pkg/cachehandler/builder.go
  bin-ai-manager/pkg/cachehandler/builder_test.go
  bin-ai-manager/pkg/cachehandler/main.go
  bin-ai-manager/pkg/cachehandler/mock_main.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/internal/config/builder_test.go
  bin-ai-manager/internal/config/main.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/pkg/builderhandler/chat.go
  bin-ai-manager/pkg/builderhandler/chat_test.go
  bin-ai-manager/pkg/builderhandler/main.go
  bin-ai-manager/pkg/builderhandler/mock_main.go
  bin-ai-manager/pkg/builderhandler/status.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/cmd/ai-manager/builder_wiring.go
  bin-ai-manager/cmd/ai-manager/builder_wiring_test.go
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/models/request/builder.go
  bin-ai-manager/pkg/listenhandler/v1_ai_builder.go
  bin-ai-manager/pkg/listenhandler/v1_ai_builder_test.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-common-handler/pkg/rabbitmqhandler/consume.go
  bin-common-handler/pkg/rabbitmqhandler/main_test.go
  bin-common-handler/pkg/requesthandler/ai_builder.go
  bin-common-handler/pkg/requesthandler/ai_builder_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

VOIP-1558-Add-conversational-assistant-builder
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/pkg/servicehandler/ai_builder.go
  bin-api-manager/pkg/servicehandler/ai_builder_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/ai_builder.go
  bin-api-manager/server/ai_builder_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/ai_builder/chat.yaml
  bin-openapi-manager/openapi/paths/ai_builder/status.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/operations.md
  bin-api-manager/docs/operations.md
  bin-api-manager/docs/routing.md
  bin-api-manager/server/error_translate_test.go
Due: run-bin-api-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/pkg/builderhandler/input_test.go
  bin-ai-manager/pkg/builderhandler/parse.go
  bin-api-manager/pkg/servicehandler/ai_builder_test.go
Due: run-bin-api-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/cmd/ai-manager/builder_wiring.go
  bin-ai-manager/cmd/ai-manager/builder_wiring_test.go
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/docs/builder-implementation-checks.md
  bin-ai-manager/docs/operations.md
  bin-ai-manager/internal/config/builder_test.go
  bin-ai-manager/internal/config/main.go
  bin-ai-manager/pkg/builderhandler/chat.go
  bin-ai-manager/pkg/builderhandler/chat_test.go
  bin-ai-manager/pkg/builderhandler/main.go
  bin-ai-manager/pkg/listenhandler/testdata/builder_busy.json
  bin-ai-manager/pkg/listenhandler/testdata/builder_daily_limit.json
  bin-ai-manager/pkg/listenhandler/testdata/builder_response_invalid.json
  bin-ai-manager/pkg/listenhandler/testdata/builder_timeout.json
  bin-ai-manager/pkg/listenhandler/testdata/builder_unavailable.json
  bin-ai-manager/pkg/listenhandler/v1_ai_builder.go
  bin-ai-manager/pkg/listenhandler/v1_ai_builder_test.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/ai_builder_test.go
  bin-api-manager/pkg/servicehandler/testdata/builder_busy.json
  bin-api-manager/pkg/servicehandler/testdata/builder_daily_limit.json
  bin-api-manager/pkg/servicehandler/testdata/builder_response_invalid.json
  bin-api-manager/pkg/servicehandler/testdata/builder_timeout.json
  bin-api-manager/pkg/servicehandler/testdata/builder_unavailable.json
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/ai_builder/chat.yaml
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/operations.md
  bin-ai-manager/pkg/listenhandler/v1_ai_builder.go
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/operations.md
  bin-ai-manager/pkg/builderhandler/eval/README.md
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-openapi-manager/openapi/paths/ai_builder/chat.yaml
  bin-openapi-manager/openapi/paths/ai_builder/status.yaml
  docs/plans/2026-10-01-conversational-assistant-builder-design-v7-aicall-superseded.md
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/operations.md
  bin-ai-manager/pkg/builderhandler/eval/README.md
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/server/ai_builder.go
  bin-openapi-manager/openapi/paths/ai_builder/chat.yaml
  bin-openapi-manager/openapi/paths/ai_builder/status.yaml
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/cmd/ai-manager/builder_wiring.go
  bin-ai-manager/internal/config/main.go
  bin-ai-manager/pkg/listenhandler/v1_ai_builder.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-common-handler/pkg/requesthandler/ai_builder.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/cmd/ai-manager/builder_wiring.go
  bin-ai-manager/docs/builder-implementation-checks.md
  bin-ai-manager/docs/builder-prompt-review-checklist.md
  bin-ai-manager/models/builder/main_test.go
  bin-ai-manager/pkg/builderhandler/chat.go
  bin-ai-manager/pkg/builderhandler/chat_test.go
  bin-ai-manager/pkg/builderhandler/prompt.go
  bin-ai-manager/pkg/cachehandler/builder.go
  bin-ai-manager/pkg/listenhandler/v1_ai_builder_test.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/server/ai_builder.go
  bin-openapi-manager/openapi/paths/ai_builder/chat.yaml
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/builder-prompt-review-checklist.md
  bin-ai-manager/models/builder/main_test.go
  bin-ai-manager/pkg/builderhandler/chat_test.go
  bin-ai-manager/pkg/builderhandler/eval/README.md
  bin-ai-manager/pkg/builderhandler/eval/scenarios.go
  bin-ai-manager/pkg/listenhandler/v1_ai_builder_test.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/ai_builder_test.go
  bin-api-manager/server/ai_builder_test.go
  bin-common-handler/pkg/rabbitmqhandler/main_test.go
  bin-common-handler/pkg/requesthandler/ai_builder_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/builder-prompt-review-checklist.md
  bin-ai-manager/docs/operations.md
  bin-api-manager/docs/operations.md
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: run-bin-api-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/docs/operations.md
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: none

VOIP-1558-Add-conversational-assistant-builder
  bin-api-manager/server/error_translate_test.go
Due: run-bin-api-manager

VOIP-1558-Add-conversational-assistant-builder
  bin-ai-manager/cmd/ai-manager/builder_wiring.go
  bin-ai-manager/cmd/ai-manager/builder_wiring_test.go
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/docs/operations.md
  bin-ai-manager/internal/config/builder_test.go
  bin-ai-manager/internal/config/main.go
  bin-ai-manager/models/builder/main.go
  bin-ai-manager/pkg/builderhandler/chat.go
  bin-ai-manager/pkg/builderhandler/chat_test.go
  bin-ai-manager/pkg/builderhandler/main.go
  bin-ai-manager/pkg/builderhandler/status.go
  bin-ai-manager/pkg/listenhandler/v1_ai_builder_test.go
  bin-api-manager/docs/routing.md
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/ai_builder_test.go
  bin-api-manager/server/error_translate_test.go
  bin-common-handler/pkg/requesthandler/ai_builder_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/ai_builder/chat.yaml
  bin-openapi-manager/openapi/paths/ai_builder/status.yaml
  docs/plans/2026-10-01-conversational-assistant-builder-design.md
  docs/plans/2026-10-01-conversational-assistant-builder-plan.md
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager
