Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Fix-quickstart-email-source-and-attachments
  bin-api-manager/docsdev/build/html/_sources/quickstart_email.rst.txt
  bin-api-manager/docsdev/build/html/quickstart_email.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/quickstart_email.rst
Due: run-bin-api-manager

Address review: clarify attachments fragment and trim redundant note
  bin-api-manager/docsdev/build/html/_sources/quickstart_email.rst.txt
  bin-api-manager/docsdev/build/html/quickstart_email.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/quickstart_email.rst
Due: run-bin-api-manager

Fix bounced status label to match the email status enum value
  bin-api-manager/docsdev/build/html/_sources/quickstart_email.rst.txt
  bin-api-manager/docsdev/build/html/quickstart_email.html
  bin-api-manager/docsdev/source/quickstart_email.rst
Due: run-bin-api-manager

Address review: fix bounce label rendering in bold bullet
  bin-api-manager/docsdev/build/html/_sources/quickstart_email.rst.txt
  bin-api-manager/docsdev/build/html/quickstart_email.html
  bin-api-manager/docsdev/source/quickstart_email.rst
Due: run-bin-api-manager

NOJIRA-Fix-quickstart-email-source-and-attachments (#988)
  bin-api-manager/docsdev/build/html/_sources/quickstart_email.rst.txt
  bin-api-manager/docsdev/build/html/quickstart_email.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/quickstart_email.rst
Due: run-bin-api-manager

NOJIRA-Fix-call-tutorial-groupcall-example
  bin-api-manager/docsdev/build/html/_sources/call_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/call_tutorial.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/call_tutorial.rst
Due: run-bin-api-manager

Address review: explain ring/answer methods and flag placeholder numbers
  bin-api-manager/docsdev/build/html/_sources/call_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/call_tutorial.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/call_tutorial.rst
Due: run-bin-api-manager

Address review: trim redundant flow_id precedence sentence
  bin-api-manager/docsdev/build/html/_sources/call_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/call_tutorial.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/call_tutorial.rst
Due: run-bin-api-manager

NOJIRA-Fix-call-tutorial-groupcall-example (#990)
  bin-api-manager/docsdev/build/html/_sources/call_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/call_tutorial.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/call_tutorial.rst
Due: run-bin-api-manager

NOJIRA-Add-create-call-actions-design
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_createcall_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  docs/plans/2026-06-15-add-create-call-actions-design.md
Due: none

Add action-type enum to create_call inline actions schema
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-ai-manager/pkg/toolhandler/definitions_resource_test.go
  docs/plans/2026-06-15-add-create-call-actions-design.md
Due: none

NOJIRA-Add-create-call-actions-design (#993)
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_createcall_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-ai-manager/pkg/toolhandler/definitions_resource_test.go
  docs/plans/2026-06-15-add-create-call-actions-design.md
Due: none

NOJIRA-Add-describe-action-tool
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/models/tool/main.go
  bin-ai-manager/pkg/actioncatalog/main.go
  bin-ai-manager/pkg/actioncatalog/main_test.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_describeaction.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-ai-manager/pkg/toolhandler/main_test.go
  bin-ai-manager/pkg/toolhandler/whitelist.go
  bin-ai-manager/pkg/toolhandler/whitelist_test.go
  bin-flow-manager/models/action/option_registry.go
  bin-flow-manager/models/action/option_registry_test.go
  docs/plans/2026-06-15-add-describe-action-tool-design.md
Due: run-bin-flow-manager

review round 1: inline enum values, action id schema, sync note fixes
  bin-ai-manager/pkg/actioncatalog/main.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-flow-manager/models/action/option.go
  bin-flow-manager/models/action/option_registry.go
Due: run-bin-flow-manager

review round 3: add address type enum hints to catalog descriptions
  bin-ai-manager/pkg/actioncatalog/main.go
Due: none

NOJIRA-Add-transcribe-direction-fallback-guard
  bin-api-manager/server/transcribes.go
  bin-api-manager/server/transcribes_test.go
  bin-transcribe-manager/models/transcribe/transcribe.go
  bin-transcribe-manager/models/transcribe/transcribe_test.go
  bin-transcribe-manager/pkg/transcribehandler/start.go
  bin-transcribe-manager/pkg/transcribehandler/start_test.go
Due: run-bin-api-manager, run-bin-transcribe-manager

Address review: refine direction guard comments, warn, and tests
  bin-api-manager/server/transcribes.go
  bin-transcribe-manager/models/transcribe/transcribe.go
  bin-transcribe-manager/pkg/transcribehandler/start.go
  bin-transcribe-manager/pkg/transcribehandler/start_test.go
Due: run-bin-api-manager, run-bin-transcribe-manager

Address review round 2: add out single-direction test and RST note
  bin-api-manager/docsdev/build/doctrees/transcribe_overview.doctree
  bin-api-manager/docsdev/build/html/transcribe_overview.html
  bin-api-manager/docsdev/source/transcribe_overview.rst
  bin-transcribe-manager/pkg/transcribehandler/start_test.go
Due: run-bin-api-manager, run-bin-transcribe-manager

NOJIRA-Add-transcribe-direction-fallback-guard (#997)
  bin-api-manager/docsdev/build/doctrees/transcribe_overview.doctree
  bin-api-manager/docsdev/build/html/transcribe_overview.html
  bin-api-manager/docsdev/source/transcribe_overview.rst
  bin-api-manager/server/transcribes.go
  bin-api-manager/server/transcribes_test.go
  bin-transcribe-manager/models/transcribe/transcribe.go
  bin-transcribe-manager/models/transcribe/transcribe_test.go
  bin-transcribe-manager/pkg/transcribehandler/start.go
  bin-transcribe-manager/pkg/transcribehandler/start_test.go
Due: run-bin-api-manager, run-bin-transcribe-manager

NOJIRA-Add-message-email-identity-verification-gating
  bin-email-manager/go.mod
  bin-email-manager/pkg/emailhandler/email.go
  bin-email-manager/pkg/emailhandler/email_test.go
  bin-email-manager/pkg/emailhandler/validate_identity.go
  bin-email-manager/pkg/emailhandler/validate_identity_test.go
  bin-message-manager/go.mod
  bin-message-manager/pkg/messagehandler/send.go
  bin-message-manager/pkg/messagehandler/send_test.go
  bin-message-manager/pkg/messagehandler/validate.go
  bin-message-manager/pkg/messagehandler/validate_test.go
  docs/plans/2026-06-18-add-message-email-identity-verification-gating-design.md
Due: run-bin-email-manager, run-bin-message-manager

NOJIRA-Add-message-email-identity-verification-gating
  bin-message-manager/pkg/messagehandler/message.go
  bin-message-manager/pkg/messagehandler/send.go
Due: run-bin-message-manager

NOJIRA-Add-message-email-identity-verification-gating
  docs/plans/2026-06-18-add-message-email-identity-verification-gating-design.md
Due: none

NOJIRA-Add-message-email-identity-verification-gating (#998)
  bin-email-manager/go.mod
  bin-email-manager/pkg/emailhandler/email.go
  bin-email-manager/pkg/emailhandler/email_test.go
  bin-email-manager/pkg/emailhandler/validate_identity.go
  bin-email-manager/pkg/emailhandler/validate_identity_test.go
  bin-message-manager/go.mod
  bin-message-manager/pkg/messagehandler/message.go
  bin-message-manager/pkg/messagehandler/send.go
  bin-message-manager/pkg/messagehandler/send_test.go
  bin-message-manager/pkg/messagehandler/validate.go
  bin-message-manager/pkg/messagehandler/validate_test.go
  docs/plans/2026-06-18-add-message-email-identity-verification-gating-design.md
Due: run-bin-email-manager, run-bin-message-manager

NOJIRA-Upgrade-pipecat-to-1.4.0
  docs/plans/2026-06-18-upgrade-pipecat-to-1.4.0-design.md
Due: none

NOJIRA-Upgrade-pipecat-to-1.4.0
  bin-pipecat-manager/scripts/pipecat/conftest.py
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/routing_llm.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_routing_llm.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
  bin-pipecat-manager/scripts/pipecat/tools.py
  bin-pipecat-manager/scripts/pipecat/uv.lock
  docs/plans/2026-06-18-upgrade-pipecat-to-1.4.0-design.md
Due: none

NOJIRA-Upgrade-pipecat-to-1.4.0-pr-review-round-1
  bin-pipecat-manager/Dockerfile
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_init_pipeline.py
  bin-pipecat-manager/scripts/pipecat/uv.lock
  docs/plans/2026-06-18-upgrade-pipecat-to-1.4.0-design.md
Due: none

NOJIRA-Upgrade-pipecat-to-1.4.0-pr-review-round-2
  bin-pipecat-manager/Dockerfile
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  docs/plans/2026-06-18-upgrade-pipecat-to-1.4.0-design.md
Due: none

NOJIRA-Upgrade-pipecat-to-1.4.0 (#999)
  bin-pipecat-manager/Dockerfile
  bin-pipecat-manager/scripts/pipecat/conftest.py
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/routing_llm.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_init_pipeline.py
  bin-pipecat-manager/scripts/pipecat/test_routing_llm.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
  bin-pipecat-manager/scripts/pipecat/tools.py
  bin-pipecat-manager/scripts/pipecat/uv.lock
  docs/plans/2026-06-18-upgrade-pipecat-to-1.4.0-design.md
Due: none

NOJIRA-upgrade-asterisk-to-23.4.0
  bin-dbscheme-manager/asterisk_config/config/versions/e89e30cee53f_add_rtp_port_range_to_ps_endpoints.py
Due: none

NOJIRA-upgrade-asterisk-to-23.4.0 (#1001)
  bin-dbscheme-manager/asterisk_config/config/versions/e89e30cee53f_add_rtp_port_range_to_ps_endpoints.py
Due: none

NOJIRA-Add-shared-NormalizeTarget-and-canonical-form-enforcement
  bin-call-manager/pkg/callhandler/db.go
  bin-call-manager/pkg/callhandler/db_test.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/groupcallhandler/db.go
  bin-call-manager/pkg/groupcallhandler/db_test.go
  bin-common-handler/models/address/normalize.go
  bin-common-handler/models/address/normalize_test.go
  bin-common-handler/models/address/validate.go
  bin-common-handler/models/address/validate_test.go
  bin-contact-manager/go.sum
  bin-contact-manager/pkg/contacthandler/contact.go
  bin-contact-manager/pkg/contacthandler/contact_test.go
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/conversationhandler/db_test.go
  bin-email-manager/pkg/emailhandler/email.go
  bin-email-manager/pkg/emailhandler/email_test.go
  bin-message-manager/pkg/messagehandler/hook.go
  bin-message-manager/pkg/messagehandler/send.go
  bin-message-manager/pkg/messagehandler/send_test.go
  docs/plans/2026-06-21-add-shared-normalizetarget-design.md
Due: run-bin-call-manager, run-bin-common-handler, run-bin-conversation-manager, run-bin-email-manager, run-bin-message-manager

NOJIRA-Add-shared-NormalizeTarget-and-canonical-form-enforcement (#1003)
  bin-call-manager/pkg/callhandler/db.go
  bin-call-manager/pkg/callhandler/db_test.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/groupcallhandler/db.go
  bin-call-manager/pkg/groupcallhandler/db_test.go
  bin-common-handler/models/address/normalize.go
  bin-common-handler/models/address/normalize_test.go
  bin-common-handler/models/address/validate.go
  bin-common-handler/models/address/validate_test.go
  bin-contact-manager/go.sum
  bin-contact-manager/pkg/contacthandler/contact.go
  bin-contact-manager/pkg/contacthandler/contact_test.go
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/conversationhandler/db_test.go
  bin-email-manager/pkg/emailhandler/email.go
  bin-email-manager/pkg/emailhandler/email_test.go
  bin-message-manager/pkg/messagehandler/hook.go
  bin-message-manager/pkg/messagehandler/send.go
  bin-message-manager/pkg/messagehandler/send_test.go
  docs/plans/2026-06-21-add-shared-normalizetarget-design.md
Due: run-bin-call-manager, run-bin-common-handler, run-bin-conversation-manager, run-bin-email-manager, run-bin-message-manager

NOJIRA-Add-agent-address-normalization
  bin-agent-manager/cmd/agent-control/main.go
  bin-agent-manager/cmd/agent-control/normalize_addresses.go
  bin-agent-manager/cmd/agent-control/normalize_addresses_test.go
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/groupcallhandler/dial.go
  bin-call-manager/pkg/groupcallhandler/dial_test.go
  docs/plans/2026-06-21-add-agent-address-normalization-design.md
Due: run-bin-agent-manager, run-bin-call-manager

NOJIRA-Add-agent-address-normalization
  bin-agent-manager/cmd/agent-control/normalize_addresses.go
  docs/plans/2026-06-21-add-agent-address-normalization-design.md
Due: run-bin-agent-manager
