Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

VOIP-1539-queue-manager-matching-backstop (#1331)
  bin-queue-manager/cmd/queue-control/main.go
  bin-queue-manager/cmd/queue-manager/main.go
  bin-queue-manager/docs/architecture.md
  bin-queue-manager/docs/operations.md
  bin-queue-manager/pkg/cachehandler/handler.go
  bin-queue-manager/pkg/cachehandler/main.go
  bin-queue-manager/pkg/cachehandler/mock_main.go
  bin-queue-manager/pkg/dbhandler/main.go
  bin-queue-manager/pkg/dbhandler/mock_main.go
  bin-queue-manager/pkg/dbhandler/queuecall.go
  bin-queue-manager/pkg/dbhandler/queuecall_reconcile_test.go
  bin-queue-manager/pkg/queuecallhandler/db.go
  bin-queue-manager/pkg/queuecallhandler/main.go
  bin-queue-manager/pkg/queuecallhandler/mock_main.go
  bin-queue-manager/pkg/queuecallhandler/reconcile.go
  bin-queue-manager/pkg/queuecallhandler/reconcile_test.go
Due: run-bin-queue-manager

Drop queue_queues.execute column (VOIP-1539 step 5, final)
  bin-dbscheme-manager/bin-manager/main/versions/9cc9fded2d17_queue_queues_drop_execute.py
Due: none

VOIP-1539-queue-execute-column-drop (#1332)
  bin-dbscheme-manager/bin-manager/main/versions/9cc9fded2d17_queue_queues_drop_execute.py
Due: none

Add CAS win/loss metrics, remove stale execute test fixture
  bin-queue-manager/models/queue/convert_test.go
  bin-queue-manager/pkg/queuecallhandler/db.go
  bin-queue-manager/pkg/queuecallhandler/main.go
Due: run-bin-queue-manager

VOIP-1539-execute-cleanup (#1333)
  bin-queue-manager/models/queue/convert_test.go
  bin-queue-manager/pkg/queuecallhandler/db.go
  bin-queue-manager/pkg/queuecallhandler/main.go
Due: run-bin-queue-manager

VOIP-1540-Add-queue-llm-tools
  bin-ai-manager/pkg/aicallhandler/tool_queue_test.go
Due: none

Add Grafana panels for VOIP-1539 matching backstop CAS metrics
  monitoring/grafana/dashboards/queue-manager.json
Due: none

NOJIRA-Queue-manager-cas-dashboard-panels (#1335)
  monitoring/grafana/dashboards/queue-manager.json
Due: none

Fix mcpservers GET response omitting auth_type when no-auth
  bin-ai-manager/models/mcpserver/webhook.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/mcpservers_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Clean up queue-manager Grafana dashboard style nits
  monitoring/grafana/dashboards/queue-manager.json
Due: none

NOJIRA-Queue-manager-dashboard-nits (#1337)
  monitoring/grafana/dashboards/queue-manager.json
Due: none

NOJIRA-Fix-mcpserver-auth-type-omitempty (#1336)
  bin-ai-manager/models/mcpserver/webhook.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/mcpservers_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Add design doc for monorepo convention enforcement and README refresh
  .golangci.yml
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Resolve README scope questions in design doc
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Address design review round 3 findings
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Address design review round 4 findings
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Address design review round 5 findings
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Address design review round 6 findings
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Finalize design after two consecutive approvals
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Restore the lint gates and refresh the README
  .circleci/config.yml
  .circleci/config_work.yml
  README.md
Due: none

Address code review round 1 findings
  .circleci/config_work.yml
  README.md
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Address code review round 2 observations
  .circleci/config_work.yml
  README.md
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Delete commented-out dead tests
  bin-agent-manager/pkg/listenhandler/v1_agents_test.go
  bin-ai-manager/pkg/engine_openai_handler/message_test.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer_test.go
  bin-conversation-manager/pkg/linehandler/hook_test.go
  bin-conversation-manager/pkg/linehandler/setup_test.go
  bin-email-manager/pkg/emailhandler/engine_mailgun_test.go
  bin-flow-manager/pkg/dbhandler/activeflow_test.go
  bin-message-manager/models/messagebird/message_test.go
  bin-message-manager/models/telnyx/message_event_test.go
  bin-message-manager/pkg/requestexternal/messagebird_test.go
  bin-number-manager/pkg/numberhandlertelnyx/available_number_test.go
  bin-number-manager/pkg/numberhandlertelnyx/number_test.go
  bin-number-manager/pkg/requestexternal/telnyx_test.go
  bin-queue-manager/pkg/listenhandler/v1_queues_test.go
  bin-queue-manager/pkg/queuehandler/db_test.go
  bin-storage-manager/pkg/filehandler/event_test.go
  bin-talk-manager/pkg/listenhandler/v1_chats_test.go
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
  bin-talk-manager/pkg/listenhandler/v1_participants_test.go
  bin-talk-manager/pkg/listenhandler/v1_reactions_test.go
Due: run-bin-agent-manager, run-bin-call-manager, run-bin-conversation-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-message-manager, run-bin-number-manager, run-bin-queue-manager, run-bin-storage-manager

Delete commented-out dead functions from production sources
  bin-ai-manager/pkg/messagehandler/tool.go
  bin-api-manager/cmd/api-manager/main.go
  bin-conference-manager/pkg/conferencehandler/remove.go
  bin-conference-manager/pkg/listenhandler/main.go
  bin-flow-manager/pkg/variablehandler/variable.go
  bin-message-manager/models/messagebird/message.go
  bin-message-manager/models/telnyx/message_event.go
  bin-queue-manager/pkg/listenhandler/v1_queues.go
  bin-transfer-manager/pkg/listenhandler/main.go
Due: run-bin-api-manager, run-bin-conference-manager, run-bin-flow-manager, run-bin-message-manager, run-bin-queue-manager, run-bin-transfer-manager

Restore doc comments clobbered by the dead-function deletion
  bin-message-manager/models/messagebird/message.go
  bin-message-manager/models/telnyx/message_event.go
  bin-queue-manager/pkg/listenhandler/v1_queues.go
Due: run-bin-message-manager, run-bin-queue-manager

Correct the lint blind-spot count in the design doc
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Fix the Go module count and the openapi lint nuance in the design doc
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Anchor the vendor exclusion regex in the golangci config
  .golangci.yml
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

NOJIRA-Fix-accesskey-soft-delete-404
  bin-api-manager/pkg/servicehandler/accesskeys.go
  bin-api-manager/pkg/servicehandler/accesskeys_test.go
Due: run-bin-api-manager

NOJIRA-Align-test-naming-rule-with-gate
  docs/conventions/testing.md
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
  scripts/check-test-conventions.sh
Due: none

Harden the Rule 1 pattern against generic and spacing variants
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
  scripts/check-test-conventions.sh
Due: none

NOJIRA-Fix-accesskey-soft-delete-404 (#1339)
  bin-api-manager/pkg/servicehandler/accesskeys.go
  bin-api-manager/pkg/servicehandler/accesskeys_test.go
Due: run-bin-api-manager

Fail the gate when a scan cannot run
  docs/conventions/testing.md
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
  scripts/check-test-conventions.sh
Due: none

Drop the temp-file dependency from the scan failure path
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
  scripts/check-test-conventions.sh
Due: none

Verify the design doc snippet against the gate script in CI
  .circleci/config.yml
  .circleci/config_work.yml
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none

Fail the snippet check when extraction finds nothing
  .circleci/config_work.yml
  docs/plans/2026-09-26-monorepo-convention-enforcement-and-readme-refresh.md
Due: none
