Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Add-customer-manager-metrics
  bin-customer-manager/pkg/accesskeyhandler/db.go
  bin-customer-manager/pkg/customerhandler/customer.go
  bin-customer-manager/pkg/customerhandler/db.go
  bin-customer-manager/pkg/customerhandler/etc.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/dbhandler/accesskey.go
  bin-customer-manager/pkg/dbhandler/customer.go
  bin-customer-manager/pkg/listenhandler/main.go
  bin-customer-manager/pkg/metricshandler/main.go
Due: run-bin-customer-manager

NOJIRA-Add-virtual-number-docsdev
  bin-api-manager/docsdev/source/number_overview.rst
  bin-api-manager/docsdev/source/number_struct_number.rst
  bin-api-manager/docsdev/source/number_tutorial.rst
Due: run-bin-api-manager

NOJIRA-Add-customer-manager-metrics (#445)
  bin-customer-manager/pkg/accesskeyhandler/db.go
  bin-customer-manager/pkg/customerhandler/customer.go
  bin-customer-manager/pkg/customerhandler/db.go
  bin-customer-manager/pkg/customerhandler/etc.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/dbhandler/accesskey.go
  bin-customer-manager/pkg/dbhandler/customer.go
  bin-customer-manager/pkg/listenhandler/main.go
  bin-customer-manager/pkg/metricshandler/main.go
Due: run-bin-customer-manager

NOJIRA-Add-direct-extension-design
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/extensions_test.go
  bin-api-manager/server/service_agents_extensions_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/registrar_extensions.go
  bin-dbscheme-manager/bin-manager/main/versions/e1f2a3b4c5d6_add_table_registrar_directs.py
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/extensions/id.yaml
  bin-registrar-manager/cmd/registrar-control/main.go
  bin-registrar-manager/cmd/registrar-manager/main.go
  bin-registrar-manager/models/extension/extension.go
  bin-registrar-manager/models/extension/webhook.go
  bin-registrar-manager/models/extensiondirect/event.go
  bin-registrar-manager/models/extensiondirect/extensiondirect.go
  bin-registrar-manager/models/extensiondirect/field.go
  bin-registrar-manager/models/extensiondirect/filters.go
  bin-registrar-manager/models/extensiondirect/webhook.go
  bin-registrar-manager/pkg/dbhandler/extension_direct.go
  bin-registrar-manager/pkg/dbhandler/extension_direct_test.go
  bin-registrar-manager/pkg/dbhandler/main.go
  bin-registrar-manager/pkg/dbhandler/mock_main.go
  bin-registrar-manager/pkg/extensiondirecthandler/handler.go
  bin-registrar-manager/pkg/extensiondirecthandler/main.go
  bin-registrar-manager/pkg/extensiondirecthandler/mock_main.go
  bin-registrar-manager/pkg/extensionhandler/event_test.go
  bin-registrar-manager/pkg/extensionhandler/extension.go
  bin-registrar-manager/pkg/extensionhandler/extension_test.go
  bin-registrar-manager/pkg/extensionhandler/main.go
  bin-registrar-manager/pkg/extensionhandler/mock_main.go
  bin-registrar-manager/pkg/listenhandler/main.go
  bin-registrar-manager/pkg/listenhandler/models/request/extensions.go
  bin-registrar-manager/pkg/listenhandler/v1_extension_directs.go
  bin-registrar-manager/pkg/listenhandler/v1_extensions.go
  bin-registrar-manager/pkg/listenhandler/v1_extensions_test.go
  bin-registrar-manager/scripts/database_scripts_test/table_registrar_directs.sql
  docs/plans/2026-02-11-direct-extension-implementation.md
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager, run-bin-registrar-manager

NOJIRA-Fix-alembic-migration-down-revision
  bin-dbscheme-manager/bin-manager/main/versions/e1f2a3b4c5d6_add_table_registrar_directs.py
Due: none

NOJIRA-Add-agent-manager-metrics
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/db.go
  bin-agent-manager/pkg/dbhandler/agent.go
  bin-agent-manager/pkg/listenhandler/main.go
  bin-agent-manager/pkg/metricshandler/main.go
  bin-agent-manager/pkg/subscribehandler/main.go
Due: run-bin-agent-manager

NOJIRA-Fix-virtual-number-validation-prefix
  bin-number-manager/pkg/numberhandler/number.go
Due: run-bin-number-manager

NOJIRA-Fix-virtual-number-validation-prefix (#448)
  bin-number-manager/pkg/numberhandler/number.go
Due: run-bin-number-manager

NOJIRA-Add-agent-manager-metrics (#446)
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/db.go
  bin-agent-manager/pkg/dbhandler/agent.go
  bin-agent-manager/pkg/listenhandler/main.go
  bin-agent-manager/pkg/metricshandler/main.go
  bin-agent-manager/pkg/subscribehandler/main.go
Due: run-bin-agent-manager

NOJIRA-Propagate-number-type-field
  CLAUDE.md
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/numbers.go
  bin-api-manager/pkg/servicehandler/numbers_test.go
  bin-api-manager/server/numbers.go
  bin-api-manager/server/numbers_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/nunmber_number.go
  bin-common-handler/pkg/requesthandler/nunmber_number_test.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Fix-duplicate-prometheus-metric-registration
  CLAUDE.md
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/db.go
  bin-agent-manager/pkg/metricshandler/main.go
  bin-customer-manager/pkg/accesskeyhandler/db.go
  bin-customer-manager/pkg/customerhandler/db.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/metricshandler/main.go
Due: run-bin-agent-manager, run-bin-customer-manager

NOJIRA-Add-type-field-to-number-response
  bin-number-manager/models/number/webhook.go
Due: run-bin-number-manager

NOJIRA-Add-type-field-to-number-response (#454)
  bin-number-manager/models/number/webhook.go
Due: run-bin-number-manager

NOJIRA-Update-number-type-vendor
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/server/numbers_test.go
Due: run-bin-api-manager

NOJIRA-Update-number-type-vendor (#455)
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/server/numbers_test.go
Due: run-bin-api-manager

NOJIRA-Remove-flow-tier-limit-use-hard-cap
  bin-api-manager/docsdev/source/billing_account_overview.rst
  bin-billing-manager/models/account/plan.go
  bin-flow-manager/go.mod
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db_test.go
  docs/plans/2026-02-09-resource-limit-plan-tier-design.md
Due: run-bin-api-manager, run-bin-billing-manager, run-bin-flow-manager

NOJIRA-Remove-flow-tier-limit-use-hard-cap (#456)
  bin-api-manager/docsdev/source/billing_account_overview.rst
  bin-billing-manager/models/account/plan.go
  bin-flow-manager/go.mod
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db_test.go
  docs/plans/2026-02-09-resource-limit-plan-tier-design.md
Due: run-bin-api-manager, run-bin-billing-manager, run-bin-flow-manager

NOJIRA-Add-call-manager-direct-extension-routing
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_sip.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_sip_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/registrar_extensions.go
  bin-registrar-manager/pkg/extensionhandler/extension.go
  bin-registrar-manager/pkg/extensionhandler/main.go
  bin-registrar-manager/pkg/extensionhandler/mock_main.go
  bin-registrar-manager/pkg/listenhandler/main.go
  bin-registrar-manager/pkg/listenhandler/v1_extensions.go
  docs/plans/2026-02-11-call-manager-direct-extension-routing-design.md
Due: run-bin-call-manager, run-bin-common-handler, run-bin-registrar-manager

NOJIRA-Add-flow-manager-metrics-and-grafana-dashboard
  CLAUDE.md
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/execute.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/stop.go
  bin-flow-manager/pkg/listenhandler/main.go
  bin-flow-manager/pkg/listenhandler/v1_flows.go
  docs/plans/2026-02-11-flow-manager-metrics-design.md
  monitoring/grafana/dashboards/flow-manager.json
Due: run-bin-flow-manager

NOJIRA-Add-flow-manager-metrics-and-grafana-dashboard (#458)
  CLAUDE.md
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/activeflowhandler/execute.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/stop.go
  bin-flow-manager/pkg/listenhandler/main.go
  bin-flow-manager/pkg/listenhandler/v1_flows.go
  docs/plans/2026-02-11-flow-manager-metrics-design.md
  monitoring/grafana/dashboards/flow-manager.json
Due: run-bin-flow-manager

NOJIRA-Add-call-manager-direct-extension-routing
  bin-registrar-manager/pkg/extensionhandler/extension_test.go
Due: run-bin-registrar-manager

NOJIRA-Add-tts-manager-metrics-and-grafana-dashboard
  bin-tts-manager/models/streaming/streaming.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/say.go
  bin-tts-manager/pkg/streaminghandler/start.go
  bin-tts-manager/pkg/streaminghandler/stop.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
  bin-tts-manager/pkg/streaminghandler/streaming_test.go
  bin-tts-manager/pkg/ttshandler/main.go
  bin-tts-manager/pkg/ttshandler/tts.go
  docs/plans/2026-02-11-tts-manager-metrics-design.md
  monitoring/grafana/dashboards/tts-manager.json
Due: run-bin-tts-manager

NOJIRA-Fix-extension-update-direct-fields
  bin-api-manager/pkg/servicehandler/extension.go
  bin-api-manager/pkg/servicehandler/extension_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/agents_test.go
  bin-api-manager/server/extensions.go
  bin-api-manager/server/extensions_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/registrar_extensions.go
  bin-common-handler/pkg/requesthandler/registrar_extensions_test.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Add-call-manager-metrics-and-grafana-dashboard
  bin-call-manager/pkg/callhandler/db.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/confbridgehandler/db.go
  bin-call-manager/pkg/confbridgehandler/main.go
  bin-call-manager/pkg/externalmediahandler/main.go
  bin-call-manager/pkg/externalmediahandler/start.go
  bin-call-manager/pkg/externalmediahandler/stop.go
  bin-call-manager/pkg/recordinghandler/main.go
  bin-call-manager/pkg/recordinghandler/start.go
  bin-call-manager/pkg/recordinghandler/stop.go
  docs/plans/2026-02-12-call-manager-metrics-design.md
  monitoring/grafana/dashboards/call-manager.json
Due: run-bin-call-manager

NOJIRA-Add-ai-manager-metrics-and-grafana-dashboard
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/summaryhandler/db.go
  bin-ai-manager/pkg/summaryhandler/main.go
  bin-ai-manager/pkg/summaryhandler/start.go
  docs/plans/2026-02-12-ai-manager-metrics-design.md
  monitoring/grafana/dashboards/ai-manager.json
Due: none

NOJIRA-Add-billing-manager-metrics-and-grafana-dashboard
  bin-billing-manager/pkg/accounthandler/balance.go
  bin-billing-manager/pkg/accounthandler/main.go
  bin-billing-manager/pkg/billinghandler/db.go
  bin-billing-manager/pkg/billinghandler/main.go
  docs/plans/2026-02-12-billing-manager-metrics-design.md
  monitoring/grafana/dashboards/billing-manager.json
Due: run-bin-billing-manager

NOJIRA-Add-queue-manager-metrics-and-grafana-dashboard
  bin-queue-manager/pkg/queuecallhandler/db.go
  bin-queue-manager/pkg/queuecallhandler/main.go
  docs/plans/2026-02-12-queue-manager-metrics-design.md
  monitoring/grafana/dashboards/queue-manager.json
Due: run-bin-queue-manager

NOJIRA-Add-campaign-manager-metrics-and-grafana-dashboard
  bin-campaign-manager/pkg/campaigncallhandler/campaigncall.go
  bin-campaign-manager/pkg/campaigncallhandler/main.go
  bin-campaign-manager/pkg/campaigncallhandler/status.go
  bin-campaign-manager/pkg/campaignhandler/campaign.go
  bin-campaign-manager/pkg/campaignhandler/execute.go
  bin-campaign-manager/pkg/campaignhandler/main.go
  bin-campaign-manager/pkg/campaignhandler/status_run.go
  bin-campaign-manager/pkg/campaignhandler/status_stop.go
  docs/plans/2026-02-12-campaign-manager-metrics-design.md
  monitoring/grafana/dashboards/campaign-manager.json
Due: run-bin-campaign-manager

NOJIRA-Add-conference-manager-metrics-and-grafana-dashboard
  docs/plans/2026-02-12-conference-manager-metrics-design.md
  monitoring/grafana/dashboards/conference-manager.json
Due: none

NOJIRA-Add-transcribe-manager-metrics-and-grafana-dashboard
  monitoring/grafana/dashboards/transcribe-manager.json
Due: none

NOJIRA-Add-remaining-service-dashboards
  monitoring/grafana/dashboards/agent-manager.json
  monitoring/grafana/dashboards/contact-manager.json
  monitoring/grafana/dashboards/conversation-manager.json
  monitoring/grafana/dashboards/customer-manager.json
  monitoring/grafana/dashboards/email-manager.json
  monitoring/grafana/dashboards/message-manager.json
  monitoring/grafana/dashboards/number-manager.json
  monitoring/grafana/dashboards/outdial-manager.json
  monitoring/grafana/dashboards/pipecat-manager.json
  monitoring/grafana/dashboards/rag-manager.json
  monitoring/grafana/dashboards/registrar-manager.json
  monitoring/grafana/dashboards/route-manager.json
  monitoring/grafana/dashboards/storage-manager.json
  monitoring/grafana/dashboards/tag-manager.json
  monitoring/grafana/dashboards/talk-manager.json
  monitoring/grafana/dashboards/timeline-manager.json
  monitoring/grafana/dashboards/transfer-manager.json
  monitoring/grafana/dashboards/webhook-manager.json
Due: none

NOJIRA-Add-final-service-dashboards
  monitoring/grafana/dashboards/api-manager.json
  monitoring/grafana/dashboards/hook-manager.json
  monitoring/grafana/dashboards/sentinel-manager.json
Due: none

NOJIRA-Add-billing-free-tier-monthly-credit
  bin-billing-manager/cmd/billing-manager/main.go
  bin-billing-manager/models/billing/billing.go
  bin-billing-manager/pkg/credithandler/credit.go
  bin-billing-manager/pkg/credithandler/credit_test.go
  bin-billing-manager/pkg/credithandler/main.go
  bin-billing-manager/pkg/credithandler/mock_main.go
  bin-billing-manager/pkg/credithandler/run.go
  bin-billing-manager/pkg/credithandler/run_test.go
  bin-billing-manager/pkg/dbhandler/billing.go
  bin-billing-manager/pkg/dbhandler/billing_test.go
  bin-billing-manager/pkg/dbhandler/main.go
  bin-billing-manager/pkg/dbhandler/mock_main.go
  bin-common-handler/pkg/utilhandler/main.go
  bin-common-handler/pkg/utilhandler/mock_main.go
  bin-common-handler/pkg/utilhandler/uuid.go
  bin-dbscheme-manager/bin-manager/main/versions/f1a2b3c4d5e6_billing_add_unique_index_reference.py
  docs/plans/2026-02-12-billing-free-tier-monthly-credit-design.md
Due: run-bin-billing-manager, run-bin-common-handler

NOJIRA-Add-billing-free-tier-monthly-credit
  bin-billing-manager/pkg/billinghandler/event.go
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/credithandler/credit.go
  bin-billing-manager/pkg/credithandler/credit_test.go
  bin-billing-manager/pkg/credithandler/run.go
  bin-billing-manager/pkg/credithandler/run_test.go
Due: run-bin-billing-manager

NOJIRA-Add-billing-free-tier-monthly-credit
  bin-billing-manager/pkg/credithandler/run.go
  bin-billing-manager/pkg/credithandler/run_test.go
Due: run-bin-billing-manager

NOJIRA-Fix-empty-string-time-parsing-in-message-scanner
  bin-common-handler/pkg/databasehandler/mapping.go
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
