Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

VOIP-1407-Cutover-remove-fanout-dual-publish
  docs/plans/2026-08-29-voip-1407-fanout-cutover-plan.md
  tasks/todo.md
Due: none

VOIP-1407-Cutover-remove-fanout-dual-publish
  docs/plans/2026-08-29-voip-1407-fanout-cutover-plan.md
Due: none

VOIP-1407-Cutover-remove-fanout-dual-publish
  bin-common-handler/pkg/notifyhandler/main.go
  bin-common-handler/pkg/notifyhandler/main_test.go
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-common-handler/pkg/notifyhandler/publish_test.go
Due: run-bin-common-handler

VOIP-1407-Cutover-remove-fanout-dual-publish
  bin-talk-manager/cmd/talk-control/main.go
Due: none

VOIP-1407-Cutover-remove-fanout-dual-publish
  bin-transfer-manager/cmd/transfer-control/main.go
  bin-transfer-manager/cmd/transfer-manager/main.go
  bin-transfer-manager/pkg/transferhandler/attended_test.go
  bin-transfer-manager/pkg/transferhandler/blind_test.go
  bin-transfer-manager/pkg/transferhandler/db_test.go
  bin-transfer-manager/pkg/transferhandler/main.go
  bin-transfer-manager/pkg/transferhandler/service_start_test.go
  bin-transfer-manager/pkg/transferhandler/transfer_test.go
  bin-transfer-manager/pkg/transferhandler/transferee_test.go
  bin-transfer-manager/pkg/transferhandler/transferer_comprehensive_test.go
  bin-transfer-manager/pkg/transferhandler/transferer_test.go
  bin-tts-manager/cmd/tts-control/main.go
  bin-tts-manager/cmd/tts-manager/main.go
  bin-tts-manager/pkg/ttshandler/main.go
  bin-tts-manager/pkg/ttshandler/main_test.go
Due: run-bin-transfer-manager, run-bin-tts-manager

VOIP-1407-Cutover-remove-fanout-dual-publish
  bin-webhook-manager/cmd/webhook-manager/main.go
  bin-webhook-manager/pkg/subscribehandler/binding_golden_test.go
  bin-webhook-manager/pkg/subscribehandler/customermanager_test.go
  bin-webhook-manager/pkg/subscribehandler/main.go
  bin-webhook-manager/pkg/subscribehandler/main_test.go
Due: run-bin-webhook-manager

VOIP-1407-Cutover-remove-fanout-dual-publish
  bin-agent-manager/cmd/agent-manager/main.go
  bin-agent-manager/pkg/subscribehandler/binding_golden_test.go
  bin-agent-manager/pkg/subscribehandler/main.go
  bin-agent-manager/pkg/subscribehandler/main_test.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/pkg/subscribehandler/binding_golden_test.go
  bin-call-manager/pkg/subscribehandler/main.go
  bin-call-manager/pkg/subscribehandler/main_test.go
  bin-timeline-manager/pkg/subscribehandler/binding_golden_test.go
  bin-timeline-manager/pkg/subscribehandler/main.go
  bin-timeline-manager/pkg/subscribehandler/run_ordering_test.go
  bin-timeline-manager/pkg/subscribehandler/run_sentinel_test.go
  bin-timeline-manager/pkg/subscribehandler/run_topic_migration_test.go
Due: run-bin-agent-manager, run-bin-call-manager

VOIP-1407-Cutover-remove-fanout-dual-publish
  bin-agent-manager/docs/architecture.md
  bin-ai-manager/docs/architecture.md
  bin-billing-manager/docs/architecture.md
  bin-call-manager/docs/architecture.md
  bin-campaign-manager/docs/architecture.md
  bin-common-handler/docs/architecture.md
  bin-conference-manager/docs/architecture.md
  bin-contact-manager/docs/architecture.md
  bin-conversation-manager/docs/architecture.md
  bin-direct-manager/docs/architecture.md
  bin-flow-manager/docs/architecture.md
  bin-number-manager/docs/architecture.md
  bin-queue-manager/docs/architecture.md
  bin-registrar-manager/docs/architecture.md
  bin-schedule-manager/docs/architecture.md
  bin-storage-manager/docs/architecture.md
  bin-tag-manager/docs/architecture.md
  bin-talk-manager/docs/architecture.md
  bin-timeline-manager/docs/architecture.md
  bin-transcribe-manager/docs/architecture.md
  bin-transfer-manager/docs/architecture.md
  bin-tts-manager/docs/architecture.md
  bin-webhook-manager/docs/architecture.md
  docs/reference/rabbitmq-queues-reference.md
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-flow-manager, run-bin-number-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

VOIP-1407-Cutover-remove-fanout-dual-publish
  bin-customer-manager/docs/architecture.md
  bin-email-manager/docs/architecture.md
  bin-message-manager/docs/architecture.md
  bin-outdial-manager/docs/architecture.md
  bin-pipecat-manager/docs/architecture.md
  bin-route-manager/docs/architecture.md
  bin-sentinel-manager/docs/architecture.md
  bin-webchat-manager/README.md
Due: run-bin-customer-manager, run-bin-email-manager, run-bin-message-manager, run-bin-outdial-manager, run-bin-route-manager

VOIP-1407-Cutover-remove-fanout-dual-publish
  bin-agent-manager/docs/architecture.md
  bin-ai-manager/docs/architecture.md
  bin-billing-manager/docs/architecture.md
  bin-billing-manager/docs/dependencies.md
  bin-call-manager/docs/architecture.md
  bin-conference-manager/docs/architecture.md
  bin-contact-manager/docs/architecture.md
  bin-conversation-manager/docs/architecture.md
  bin-direct-manager/docs/architecture.md
  bin-flow-manager/docs/architecture.md
  bin-number-manager/docs/architecture.md
  bin-number-manager/docs/dependencies.md
  bin-queue-manager/docs/architecture.md
  bin-registrar-manager/CLAUDE.md
  bin-registrar-manager/docs/architecture.md
  bin-route-manager/CLAUDE.md
  bin-schedule-manager/docs/architecture.md
  bin-storage-manager/docs/architecture.md
  bin-tag-manager/docs/architecture.md
  bin-talk-manager/docs/architecture.md
  bin-transcribe-manager/docs/architecture.md
  bin-tts-manager/docs/architecture.md
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-flow-manager, run-bin-number-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-tts-manager

VOIP-1407-Cutover-remove-fanout-dual-publish
  tasks/todo.md
Due: none

NOJIRA-Transcribe-manager-per-pod-rpc-routing (#1226)
  bin-api-manager/pkg/servicehandler/transcribe.go
  bin-api-manager/pkg/servicehandler/transcribe_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/transcribe_transcribes.go
  bin-common-handler/pkg/requesthandler/transcribe_transcribes_test.go
  bin-conference-manager/pkg/conferencehandler/transcribe.go
  bin-conference-manager/pkg/conferencehandler/transcribe_test.go
  bin-transcribe-manager/docs/operations.md
  bin-transcribe-manager/pkg/transcribehandler/health.go
  bin-transcribe-manager/pkg/transcribehandler/health_test.go
  bin-transcribe-manager/pkg/transcribehandler/stop.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-transcribe-manager

NOJIRA-Scale-transcribe-manager-to-two-replicas
  bin-transcribe-manager/internal/config/main.go
  bin-transcribe-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-transcribe-manager

NOJIRA-Scale-transcribe-manager-to-two-replicas (#1228)
  bin-transcribe-manager/internal/config/main.go
  bin-transcribe-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-transcribe-manager

VOIP-1409-notifyhandler-housekeeping
  bin-common-handler/docs/architecture.md
  bin-common-handler/docs/usage.md
  bin-common-handler/pkg/notifyhandler/publish.go
Due: run-bin-common-handler

VOIP-1409-notifyhandler-housekeeping (#1229)
  bin-common-handler/docs/architecture.md
  bin-common-handler/docs/usage.md
  bin-common-handler/pkg/notifyhandler/publish.go
Due: run-bin-common-handler

NOJIRA-Scale-pipecat-manager-to-two-replicas
  bin-pipecat-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: none

VOIP-1425-remove-api-manager-dead-fanout
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/docs/architecture.md
  bin-api-manager/pkg/subscribehandler/main.go
  bin-api-manager/pkg/subscribehandler/main_test.go
  bin-api-manager/pkg/websockhandler/scoperefcount.go
  docs/plans/2026-08-29-voip-1407-fanout-cutover-plan.md
Due: run-bin-api-manager

VOIP-1425-remove-api-manager-dead-fanout (#1231)
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/docs/architecture.md
  bin-api-manager/pkg/subscribehandler/main.go
  bin-api-manager/pkg/subscribehandler/main_test.go
  bin-api-manager/pkg/websockhandler/scoperefcount.go
  docs/plans/2026-08-29-voip-1407-fanout-cutover-plan.md
Due: run-bin-api-manager

NOJIRA-Scale-pipecat-manager-to-two-replicas (#1230)
  bin-pipecat-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: none

NOJIRA-Mark-pipecat-scale-verified
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

NOJIRA-Mark-pipecat-scale-verified (#1232)
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

VOIP-1429-fix-events-md-stale-delayed-publish
  bin-common-handler/docs/architecture.md
  docs/conventions/error-handling.md
  docs/conventions/events.md
Due: run-bin-common-handler

VOIP-1429-fix-events-md-stale-delayed-publish (#1233)
  bin-common-handler/docs/architecture.md
  docs/conventions/error-handling.md
  docs/conventions/events.md
Due: run-bin-common-handler

NOJIRA-Scale-rag-manager-to-two-replicas
  bin-rag-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

NOJIRA-Scale-rag-manager-to-two-replicas (#1234)
  bin-rag-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

NOJIRA-Mark-rag-scale-verified
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

NOJIRA-Mark-rag-scale-verified (#1235)
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

NOJIRA-Scale-timeline-manager-to-two-replicas
  bin-timeline-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
Due: none

VOIP-1418-Reintegrate-sentinel-manager-cicd
  bin-call-manager/docs/architecture.md
  bin-sentinel-manager/CLAUDE.md
  bin-sentinel-manager/README.md
  bin-sentinel-manager/docs/architecture.md
  bin-sentinel-manager/docs/domain.md
  bin-sentinel-manager/docs/operations.md
  docs/architecture/service-dependency-graph.md
  docs/plans/2026-09-01-voip-1418-sentinel-docker-backend-design.md
  docs/reference/rabbitmq-queues-reference.md
  tasks/todo.md
Due: run-bin-call-manager

VOIP-1418-Reintegrate-sentinel-manager-cicd
  .circleci/config_work.yml
  bin-sentinel-manager/komodo/docker-compose.yml
Due: none

VOIP-1422-activate-or-delete-unreachable-dispatch
  bin-ai-manager/docs/architecture.md
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/dbhandler/summary.go
  bin-ai-manager/pkg/dbhandler/summary_test.go
  bin-ai-manager/pkg/subscribehandler/binding_golden_test.go
  bin-ai-manager/pkg/subscribehandler/conferencemanager.go
  bin-ai-manager/pkg/subscribehandler/conferencemanager_test.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/summaryhandler/content.go
  bin-ai-manager/pkg/summaryhandler/content_test.go
  bin-ai-manager/pkg/summaryhandler/db.go
  bin-ai-manager/pkg/summaryhandler/db_test.go
  bin-ai-manager/pkg/summaryhandler/event.go
  bin-ai-manager/pkg/summaryhandler/event_test.go
  bin-flow-manager/docs/architecture.md
  bin-flow-manager/pkg/activeflowhandler/event.go
  bin-flow-manager/pkg/activeflowhandler/event_test.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/mock_main.go
  bin-flow-manager/pkg/subscribehandler/binding_golden_test.go
  bin-flow-manager/pkg/subscribehandler/callmanager.go
  bin-flow-manager/pkg/subscribehandler/callmanager_test.go
  bin-flow-manager/pkg/subscribehandler/main.go
  bin-queue-manager/docs/architecture.md
  bin-queue-manager/docs/dependencies.md
  bin-queue-manager/pkg/subscribehandler/binding_golden_test.go
  bin-queue-manager/pkg/subscribehandler/main.go
Due: run-bin-flow-manager, run-bin-queue-manager

VOIP-1418-Reintegrate-sentinel-manager-cicd
  bin-call-manager/pkg/callhandler/event.go
  bin-call-manager/pkg/callhandler/event_test.go
  bin-call-manager/pkg/subscribehandler/sentinel_manager_test.go
  bin-sentinel-manager/CLAUDE.md
  bin-sentinel-manager/cmd/sentinel-manager/main.go
  bin-sentinel-manager/docs/operations.md
  bin-sentinel-manager/go.mod
  bin-sentinel-manager/komodo/docker-compose.yml
  bin-sentinel-manager/pkg/dockerwatchhandler/events.go
  bin-sentinel-manager/pkg/dockerwatchhandler/events_test.go
  bin-sentinel-manager/pkg/dockerwatchhandler/main.go
  bin-sentinel-manager/pkg/dockerwatchhandler/refresh.go
  bin-sentinel-manager/pkg/dockerwatchhandler/refresh_test.go
  bin-sentinel-manager/pkg/dockerwatchhandler/state.go
  bin-sentinel-manager/pkg/dockerwatchhandler/state_test.go
  docs/.docs-gen/bin-call-manager.extracted.json
  docs/.docs-gen/bin-sentinel-manager.extracted.json
  docs/conventions/naming.md
  monitoring/grafana/dashboards/sentinel-manager.json
  tasks/todo.md
Due: run-bin-call-manager

VOIP-1418-Reintegrate-sentinel-manager-cicd
  bin-sentinel-manager/CLAUDE.md
  bin-sentinel-manager/cmd/sentinel-manager/main.go
  bin-sentinel-manager/docs/operations.md
  bin-sentinel-manager/pkg/dockerwatchhandler/events.go
  bin-sentinel-manager/pkg/dockerwatchhandler/events_test.go
  bin-sentinel-manager/pkg/dockerwatchhandler/main.go
  bin-sentinel-manager/pkg/dockerwatchhandler/main_test.go
  bin-sentinel-manager/pkg/dockerwatchhandler/refresh.go
  bin-sentinel-manager/pkg/dockerwatchhandler/refresh_test.go
  docs/.docs-gen/bin-sentinel-manager.extracted.json
  monitoring/grafana/dashboards/sentinel-manager.json
  tasks/todo.md
Due: none
