Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

Return 400 INVALID_ENGINE_MODEL and align docs
  bin-ai-manager/pkg/aihandler/chatbot.go
  bin-ai-manager/pkg/aihandler/chatbot_engine_model_error_test.go
  bin-ai-manager/pkg/aihandler/chatbot_test.go
  bin-ai-manager/pkg/listenhandler/error_response_engine_model_test.go
  bin-api-manager/docsdev/build/doctrees/ai_overview.doctree
  bin-api-manager/docsdev/build/doctrees/ai_struct_ai.doctree
  bin-api-manager/docsdev/build/doctrees/ai_tutorial.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/_sources/ai_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/ai_struct_ai.rst.txt
  bin-api-manager/docsdev/build/html/_sources/ai_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/ai_overview.html
  bin-api-manager/docsdev/build/html/ai_struct_ai.html
  bin-api-manager/docsdev/build/html/ai_tutorial.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/ai_models.rst
  bin-api-manager/docsdev/source/ai_overview.rst
  bin-api-manager/docsdev/source/ai_struct_ai.rst
  bin-api-manager/docsdev/source/ai_tutorial.rst
Due: run-bin-api-manager

Deny direct tokens on GET /ai_models and sync service docs
  bin-ai-manager/docs/architecture.md
  bin-ai-manager/docs/domain.md
  bin-api-manager/docs/routing.md
  bin-api-manager/docsdev/build/doctrees/ai_models.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/_sources/ai_models.rst.txt
  bin-api-manager/docsdev/build/html/ai_models.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/pkg/servicehandler/ai.go
  bin-api-manager/pkg/servicehandler/ai_test.go
  bin-pipecat-manager/docs/domain.md
Due: run-bin-api-manager

VOIP-1565-Expose-tenant-wide-extensions-with-password-masking
  bin-api-manager/docsdev/build/html/_sources/extension_struct_extension.rst.txt
  bin-api-manager/docsdev/build/html/_sources/extension_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/_sources/restful_api_errors.rst.txt
  bin-api-manager/docsdev/build/html/_sources/service_agent_overview.rst.txt
  bin-api-manager/docsdev/build/html/extension_struct_extension.html
  bin-api-manager/docsdev/build/html/extension_tutorial.html
  bin-api-manager/docsdev/build/html/restful_api_errors.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/service_agent_overview.html
  bin-api-manager/docsdev/source/extension_struct_extension.rst
  bin-api-manager/docsdev/source/extension_tutorial.rst
  bin-api-manager/docsdev/source/restful_api_errors.rst
  bin-api-manager/docsdev/source/service_agent_overview.rst
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_extension.go
  bin-api-manager/pkg/servicehandler/serviceagent_extension_test.go
  bin-api-manager/server/service_agents_extensions.go
  bin-api-manager/server/service_agents_extensions_test.go
  bin-openapi-manager/openapi/paths/service_agents/extensions.yaml
  bin-openapi-manager/openapi/paths/service_agents/extensions_id.yaml
  docs/plans/2026-10-05-VOIP-1565-service-agent-tenant-wide-extensions-analysis.md
  docs/plans/2026-10-05-VOIP-1565-service-agent-tenant-wide-extensions-design.md
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1565 review round 1 fixes
  bin-api-manager/pkg/servicehandler/serviceagent_extension.go
  bin-api-manager/server/service_agents_extensions_test.go
Due: run-bin-api-manager

VOIP-1565 review round 2 fixes
  bin-api-manager/pkg/servicehandler/serviceagent_extension_test.go
  bin-api-manager/server/service_agents_extensions_test.go
  docs/plans/2026-10-05-VOIP-1565-service-agent-tenant-wide-extensions-design.md
Due: run-bin-api-manager

VOIP-1565 review round 3 fixes
  bin-api-manager/server/service_agents_extensions_test.go
Due: run-bin-api-manager

Align new tests with testing conventions
  bin-ai-manager/models/ai/catalog_test.go
  bin-ai-manager/models/ai/resolve_test.go
  bin-ai-manager/pkg/aihandler/chatbot_engine_model_error_test.go
  bin-ai-manager/pkg/aihandler/chatbot_engine_model_test.go
  bin-ai-manager/pkg/listenhandler/error_response_engine_model_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session_test.go
Due: none

VOIP-1566-Block-extension-self-registration-and-harden-ownership
  docs/plans/2026-10-06-VOIP-1566-extension-self-registration-and-ownership-hardening-design.md
Due: none

VOIP-1566 design review round 1 fixes
  docs/plans/2026-10-06-VOIP-1566-extension-self-registration-and-ownership-hardening-design.md
Due: none

VOIP-1566 design review round 2 fixes
  docs/plans/2026-10-06-VOIP-1566-extension-self-registration-and-ownership-hardening-design.md
Due: none

VOIP-1566 design review round 3 fixes
  docs/plans/2026-10-06-VOIP-1566-extension-self-registration-and-ownership-hardening-design.md
Due: none

VOIP-1566 design review round 4 fixes
  docs/plans/2026-10-06-VOIP-1566-extension-self-registration-and-ownership-hardening-design.md
Due: none

VOIP-1566 design review round 5 fixes
  docs/plans/2026-10-06-VOIP-1566-extension-self-registration-and-ownership-hardening-design.md
Due: none

VOIP-1566 implement extension self registration block and ownership hardening
  bin-agent-manager/cmd/agent-control/normalize_addresses.go
  bin-agent-manager/cmd/agent-control/normalize_addresses_test.go
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_test.go
  bin-api-manager/docsdev/build/html/_sources/agent_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/agent_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/_sources/service_agent_overview.rst.txt
  bin-api-manager/docsdev/build/html/agent_overview.html
  bin-api-manager/docsdev/build/html/agent_tutorial.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/service_agent_overview.html
  bin-api-manager/docsdev/source/agent_overview.rst
  bin-api-manager/docsdev/source/agent_tutorial.rst
  bin-api-manager/docsdev/source/service_agent_overview.rst
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/serviceagent_extension.go
  bin-api-manager/pkg/servicehandler/serviceagent_extension_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_me.go
  bin-api-manager/pkg/servicehandler/serviceagent_me_test.go
  bin-openapi-manager/openapi/paths/agents/id_addresses.yaml
  bin-openapi-manager/openapi/paths/service_agents/me_addresses.yaml
  docs/plans/2026-10-06-VOIP-1566-extension-self-registration-and-ownership-hardening-design.md
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-openapi-manager

VOIP-1566 code review round 1 fixes
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-api-manager/pkg/servicehandler/serviceagent_me_test.go
  bin-api-manager/server/service_agents_me_test.go
Due: run-bin-agent-manager, run-bin-api-manager

VOIP-1566 code review round 2 fixes
  bin-agent-manager/cmd/agent-control/normalize_addresses_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_me_test.go
Due: run-bin-agent-manager, run-bin-api-manager

VOIP-1566 code review round 3 fixes
  bin-agent-manager/pkg/agenthandler/agent_test.go
  bin-api-manager/docsdev/build/html/_sources/service_agent_overview.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/service_agent_overview.html
  bin-api-manager/docsdev/source/service_agent_overview.rst
  bin-api-manager/pkg/servicehandler/serviceagent_me_test.go
Due: run-bin-agent-manager, run-bin-api-manager

VOIP-1566 code review round 5 fixes
  bin-api-manager/docsdev/build/html/_sources/agent_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/agent_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/_sources/service_agent_overview.rst.txt
  bin-api-manager/docsdev/build/html/agent_overview.html
  bin-api-manager/docsdev/build/html/agent_tutorial.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/service_agent_overview.html
  bin-api-manager/docsdev/source/agent_overview.rst
  bin-api-manager/docsdev/source/agent_tutorial.rst
  bin-api-manager/docsdev/source/service_agent_overview.rst
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-openapi-manager/openapi/paths/agents/id_addresses.yaml
  bin-openapi-manager/openapi/paths/service_agents/me_addresses.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1566-Block-extension-self-registration-and-harden-ownership (#1365)
  bin-agent-manager/cmd/agent-control/normalize_addresses.go
  bin-agent-manager/cmd/agent-control/normalize_addresses_test.go
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_test.go
  bin-api-manager/docsdev/build/html/_sources/agent_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/agent_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/_sources/service_agent_overview.rst.txt
  bin-api-manager/docsdev/build/html/agent_overview.html
  bin-api-manager/docsdev/build/html/agent_tutorial.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/service_agent_overview.html
  bin-api-manager/docsdev/source/agent_overview.rst
  bin-api-manager/docsdev/source/agent_tutorial.rst
  bin-api-manager/docsdev/source/service_agent_overview.rst
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/serviceagent_extension.go
  bin-api-manager/pkg/servicehandler/serviceagent_extension_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_me.go
  bin-api-manager/pkg/servicehandler/serviceagent_me_test.go
  bin-api-manager/server/service_agents_me_test.go
  bin-openapi-manager/openapi/paths/agents/id_addresses.yaml
  bin-openapi-manager/openapi/paths/service_agents/me_addresses.yaml
  docs/plans/2026-10-06-VOIP-1566-extension-self-registration-and-ownership-hardening-design.md
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-openapi-manager

Stop logging engine keys in api, call and webhook paths
  bin-api-manager/pkg/servicehandler/ai.go
  bin-api-manager/pkg/servicehandler/ai_test.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_sip.go
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-webhook-manager/pkg/listenhandler/main.go
  bin-webhook-manager/pkg/listenhandler/v1_webhooks.go
  bin-webhook-manager/pkg/webhookhandler/webhook.go
Due: run-bin-api-manager, run-bin-call-manager, run-bin-common-handler, run-bin-webhook-manager

Add custom OpenRouter BYOK models issue analysis and design
  docs/plans/2026-10-06-openrouter-byok-design.md
  docs/plans/2026-10-06-openrouter-byok-issue-analysis.md
  docs/plans/2026-10-06-openrouter-byok-ui-mockup.png
Due: none

Resolve custom OpenRouter models fail-closed end to end
  bin-ai-manager/models/ai/main_test.go
  bin-ai-manager/models/ai/resolve.go
  bin-ai-manager/models/ai/resolve_test.go
  bin-ai-manager/pkg/aihandler/chatbot.go
  bin-ai-manager/pkg/aihandler/chatbot_engine_model_error_test.go
  bin-ai-manager/pkg/aihandler/chatbot_engine_model_test.go
  bin-ai-manager/pkg/listenhandler/error_response_engine_model_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/llmresolve.go
  bin-pipecat-manager/pkg/pipecatcallhandler/llmresolve_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_teamllmtype_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

Add custom OpenRouter runner branch
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_init_pipeline.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
Due: none

Add custom OpenRouter BYOK models implementation plan
  docs/plans/2026-10-06-openrouter-byok-plan.md
Due: none

Validate engine key in ai-control for custom OpenRouter models
  bin-ai-manager/cmd/ai-control/main.go
  bin-ai-manager/cmd/ai-control/main_test.go
Due: none

Add custom OpenRouter catalog entry and key_mode
  bin-ai-manager/models/ai/catalog.go
  bin-ai-manager/models/ai/catalog_test.go
  bin-ai-manager/models/ai/resolve.go
  bin-ai-manager/models/ai/resolve_test.go
  bin-ai-manager/pkg/listenhandler/v1_ai_models_test.go
  bin-api-manager/pkg/servicehandler/ai_test.go
  bin-api-manager/server/ai_models_test.go
  bin-common-handler/pkg/requesthandler/ai_ais_test.go
Due: run-bin-api-manager, run-bin-common-handler

Stop logging engine keys in ai-manager
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/send.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aihandler/db.go
  bin-ai-manager/pkg/aihandler/direct_hash.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/v1_ais.go
  bin-ai-manager/pkg/listenhandler/v1_ais_log_test.go
  bin-ai-manager/pkg/teamhandler/handler.go
Due: none

Add key_mode to ai model API schema
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/ai_models/main.yaml
  bin-openapi-manager/openapi/paths/ais/id.yaml
  bin-openapi-manager/openapi/paths/ais/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Skip live vendor check for team sessions and cover engineVendor
  bin-pipecat-manager/pkg/pipecatcallhandler/llmresolve_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

Stop logging webhook event payloads in api-manager
  bin-api-manager/pkg/subscribehandler/main.go
  bin-api-manager/pkg/subscribehandler/webhookmanager.go
  bin-api-manager/pkg/subscribehandler/webhookmanager_test.go
Due: run-bin-api-manager

Reject a stale session model when the live AI vendor changed
  bin-pipecat-manager/pkg/pipecatcallhandler/llmresolve.go
  bin-pipecat-manager/pkg/pipecatcallhandler/llmresolve_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

Guard ai event key stripping and trim team llm_key
  bin-ai-manager/docs/domain.md
  bin-ai-manager/pkg/aihandler/publish_event_guard_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  docs/plans/2026-10-06-openrouter-byok-design.md
  docs/plans/2026-10-06-openrouter-byok-plan.md
Due: none

Strip the engine key from published ai events
  bin-ai-manager/pkg/aihandler/chatbot.go
  bin-ai-manager/pkg/aihandler/db.go
  bin-ai-manager/pkg/aihandler/mcpserver_validation.go
  bin-ai-manager/pkg/aihandler/publish_event.go
  bin-ai-manager/pkg/aihandler/publish_event_test.go
Due: none

Trim whitespace before the custom engine model prefix check
  bin-ai-manager/cmd/ai-control/main.go
  bin-ai-manager/cmd/ai-control/main_test.go
  bin-ai-manager/pkg/aihandler/chatbot.go
  bin-ai-manager/pkg/aihandler/chatbot_engine_model_error_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/llmresolve.go
  bin-pipecat-manager/pkg/pipecatcallhandler/llmresolve_test.go
Due: none

VOIP-1567-Stop-logging-extension-credentials
  docs/plans/2026-10-07-VOIP-1567-extension-credential-log-exposure-analysis.md
Due: none

VOIP-1567 issue analysis review round 1 fixes
  docs/plans/2026-10-07-VOIP-1567-extension-credential-log-exposure-analysis.md
Due: none

VOIP-1567 issue analysis review round 2 fixes
  docs/plans/2026-10-07-VOIP-1567-extension-credential-log-exposure-analysis.md
Due: none
