Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Fix-allowance-sentinel-and-add-current-endpoint
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/billing_accounts/id_allowance.yaml
Due: run-bin-openapi-manager

NOJIRA-Fix-allowance-sentinel-and-add-current-endpoint
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/billingaccount.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/billing_accounts.go
Due: run-bin-api-manager

NOJIRA-Add-allowance-billing-control
  docs/plans/2026-02-15-add-allowance-billing-control-design.md
Due: none

NOJIRA-Add-allowance-billing-control
  docs/plans/2026-02-15-add-allowance-billing-control-plan.md
Due: none

NOJIRA-Add-allowance-billing-control
  bin-billing-manager/pkg/allowancehandler/allowance.go
  bin-billing-manager/pkg/allowancehandler/main.go
  bin-billing-manager/pkg/allowancehandler/mock_main.go
Due: run-bin-billing-manager

NOJIRA-Add-allowance-billing-control
  bin-billing-manager/cmd/billing-control/main.go
Due: run-bin-billing-manager

NOJIRA-Add-allowance-billing-control
  bin-billing-manager/pkg/dbhandler/allowance.go
Due: run-bin-billing-manager

NOJIRA-Add-allowance-billing-control
  bin-api-manager/docsdev/source/billing_account_overview.rst
  bin-api-manager/docsdev/source/billing_account_struct.rst
  bin-api-manager/docsdev/source/billing_account_tutorial.rst
  bin-billing-manager/CLAUDE.md
  bin-billing-manager/pkg/allowancehandler/allowance_test.go
Due: run-bin-api-manager, run-bin-billing-manager

NOJIRA-Add-allowance-billing-control
  bin-api-manager/docsdev/source/billing_account_overview.rst
  bin-api-manager/docsdev/source/billing_account_struct.rst
  bin-api-manager/docsdev/source/billing_account_tutorial.rst
Due: run-bin-api-manager

NOJIRA-Add-allowance-billing-control
  bin-api-manager/CLAUDE.md
Due: run-bin-api-manager

NOJIRA-Billing-ledger-refactoring
  bin-billing-manager/models/account/account.go
  bin-billing-manager/models/account/field.go
  bin-billing-manager/models/account/filters.go
  bin-billing-manager/models/account/webhook.go
  bin-billing-manager/models/billing/billing.go
  bin-billing-manager/models/billing/cost_type.go
  bin-billing-manager/models/billing/field.go
  bin-billing-manager/models/billing/filters.go
  bin-billing-manager/models/billing/webhook.go
Due: run-bin-billing-manager

NOJIRA-Billing-ledger-refactoring
  bin-billing-manager/scripts/database_scripts_test/table_billing_accounts.sql
  bin-billing-manager/scripts/database_scripts_test/table_billing_billings.sql
Due: run-bin-billing-manager

NOJIRA-Billing-ledger-refactoring
  bin-billing-manager/models/allowance/allowance.go
  bin-billing-manager/models/allowance/field.go
  bin-billing-manager/models/allowance/webhook.go
  bin-billing-manager/models/allowance/webhook_test.go
  bin-billing-manager/pkg/allowancehandler/allowance.go
  bin-billing-manager/pkg/allowancehandler/allowance_test.go
  bin-billing-manager/pkg/allowancehandler/cycle.go
  bin-billing-manager/pkg/allowancehandler/cycle_test.go
  bin-billing-manager/pkg/allowancehandler/main.go
  bin-billing-manager/pkg/allowancehandler/mock_main.go
  bin-billing-manager/pkg/dbhandler/account.go
  bin-billing-manager/pkg/dbhandler/allowance.go
  bin-billing-manager/pkg/dbhandler/billing.go
  bin-billing-manager/pkg/dbhandler/main.go
Due: run-bin-billing-manager

NOJIRA-Billing-ledger-refactoring
  bin-billing-manager/pkg/accounthandler/balance.go
  bin-billing-manager/pkg/accounthandler/db.go
  bin-billing-manager/pkg/accounthandler/event.go
  bin-billing-manager/pkg/accounthandler/main.go
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-billing-manager/pkg/billinghandler/db.go
  bin-billing-manager/pkg/billinghandler/main.go
  bin-billing-manager/pkg/listenhandler/main.go
  bin-billing-manager/pkg/listenhandler/models/request/v1_accounts.go
  bin-billing-manager/pkg/listenhandler/v1_allowance.go
  bin-billing-manager/pkg/listenhandler/v1_allowances.go
Due: run-bin-billing-manager

NOJIRA-Billing-ledger-refactoring
  bin-billing-manager/cmd/billing-control/main.go
  bin-billing-manager/cmd/billing-manager/main.go
Due: run-bin-billing-manager

NOJIRA-Billing-ledger-refactoring
  bin-api-manager/server/billing_accounts.go
  bin-billing-manager/cmd/billing-control/main.go
  bin-billing-manager/cmd/billing-manager/main.go
  bin-billing-manager/models/account/plan.go
  bin-billing-manager/models/account/plan_test.go
  bin-billing-manager/models/billing/billing_test.go
  bin-billing-manager/pkg/dbhandler/billing.go
  bin-billing-manager/pkg/dbhandler/deduction_test.go
  bin-dbscheme-manager/bin-manager/main/versions/b2c3d4e5f6a8_billing_ledger_refactoring.py
Due: run-bin-api-manager, run-bin-billing-manager

NOJIRA-Billing-ledger-force-balance
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-billing-manager/models/billing/billing.go
  bin-billing-manager/pkg/dbhandler/account.go
  bin-billing-manager/pkg/dbhandler/account_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-billing-manager, run-bin-openapi-manager

NOJIRA-Billing-ledger-force-balance
  bin-billing-manager/go.mod
  bin-billing-manager/go.sum
  bin-billing-manager/pkg/dbhandler/account_test.go
Due: run-bin-billing-manager

NOJIRA-Headless-signup-auto-provisioning
  docs/plans/2026-02-16-headless-signup-auto-provisioning-design.md
Due: none

NOJIRA-Billing-ledger-force-balance
  bin-billing-manager/pkg/dbhandler/account.go
Due: run-bin-billing-manager

NOJIRA-Headless-signup-auto-provisioning
  docs/plans/2026-02-16-headless-signup-auto-provisioning-plan.md
Due: none

NOJIRA-Headless-signup-auto-provisioning
  bin-customer-manager/pkg/cachehandler/handler.go
  bin-customer-manager/pkg/cachehandler/main.go
  bin-customer-manager/pkg/cachehandler/mock_main.go
Due: run-bin-customer-manager

NOJIRA-Headless-signup-auto-provisioning
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/cmd/customer-manager/main.go
  bin-customer-manager/models/customer/event.go
  bin-customer-manager/models/customer/signup.go
  bin-customer-manager/pkg/customerhandler/main.go
  bin-customer-manager/pkg/customerhandler/main_test.go
  bin-customer-manager/pkg/customerhandler/mock_main.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_signup_test.go
Due: run-bin-customer-manager

NOJIRA-Headless-signup-auto-provisioning
  bin-customer-manager/pkg/listenhandler/main.go
  bin-customer-manager/pkg/listenhandler/models/request/customers.go
  bin-customer-manager/pkg/listenhandler/v1_customers_complete_signup.go
Due: run-bin-customer-manager

NOJIRA-Headless-signup-auto-provisioning
  bin-common-handler/pkg/requesthandler/customer_customer.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

NOJIRA-Headless-signup-auto-provisioning
  bin-customer-manager/pkg/metricshandler/main.go
Due: run-bin-customer-manager

NOJIRA-Headless-signup-auto-provisioning
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/auth/complete-signup.yaml
  bin-openapi-manager/openapi/paths/auth/email-verify.yaml
  bin-openapi-manager/openapi/paths/auth/signup.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Headless-signup-auto-provisioning
  bin-api-manager/lib/service/signup_test.go
  bin-api-manager/pkg/servicehandler/customer.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/auth_complete_signup.go
  bin-api-manager/server/auth_signup.go
  bin-api-manager/server/auth_signup_test.go
Due: run-bin-api-manager

NOJIRA-Headless-signup-auto-provisioning
  bin-agent-manager/pkg/agenthandler/event.go
  bin-agent-manager/pkg/agenthandler/event_test.go
  bin-agent-manager/pkg/agenthandler/main.go
  bin-agent-manager/pkg/agenthandler/mock_main.go
  bin-agent-manager/pkg/subscribehandler/customer_manager.go
  bin-agent-manager/pkg/subscribehandler/customer_manager_additional_test.go
  bin-agent-manager/pkg/subscribehandler/customer_manager_test.go
Due: run-bin-agent-manager

NOJIRA-Billing-token-add-subtract
  docs/plans/2026-02-16-billing-token-add-subtract-design.md
Due: none

NOJIRA-Billing-token-add-subtract
  docs/plans/2026-02-16-billing-token-add-subtract-plan.md
Due: none

NOJIRA-Billing-token-add-subtract
  bin-billing-manager/models/billing/billing.go
Due: run-bin-billing-manager

NOJIRA-Billing-token-add-subtract
  bin-billing-manager/pkg/dbhandler/account.go
  bin-billing-manager/pkg/dbhandler/main.go
  bin-billing-manager/pkg/dbhandler/mock_main.go
Due: run-bin-billing-manager

NOJIRA-Billing-token-add-subtract
  bin-billing-manager/pkg/dbhandler/account_test.go
Due: run-bin-billing-manager

NOJIRA-Billing-token-add-subtract
  bin-billing-manager/pkg/accounthandler/db.go
  bin-billing-manager/pkg/accounthandler/main.go
  bin-billing-manager/pkg/accounthandler/mock_main.go
Due: run-bin-billing-manager

NOJIRA-Headless-signup-auto-provisioning
  bin-agent-manager/pkg/agenthandler/event_test.go
  bin-agent-manager/pkg/subscribehandler/customer_manager_additional_test.go
  bin-agent-manager/pkg/subscribehandler/customer_manager_test.go
  bin-api-manager/server/auth_complete_signup_test.go
  bin-customer-manager/pkg/customerhandler/complete_signup_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_complete_signup_test.go
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-customer-manager

NOJIRA-Billing-token-add-subtract
  bin-billing-manager/pkg/accounthandler/db_test.go
Due: run-bin-billing-manager

NOJIRA-Billing-token-add-subtract
  bin-billing-manager/cmd/billing-control/main.go
Due: run-bin-billing-manager
