Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-claude-md-categorization: document the per-pod RabbitMQ queue pattern
  docs/patterns/per-pod-queues.md
Due: none

NOJIRA-claude-md-categorization: document the WebhookMessage external-API-response pattern
  docs/patterns/webhook-message.md
Due: none

NOJIRA-claude-md-categorization: populate docs/patterns/README.md index
  docs/patterns/README.md
Due: none

NOJIRA-claude-md-categorization: address chunk-3 review fixes
  docs/patterns/README.md
  docs/patterns/per-pod-queues.md
  docs/patterns/webhook-message.md
Due: none

NOJIRA-claude-md-categorization: slim root CLAUDE.md to critical safety rails plus index
  CLAUDE.md
Due: none

NOJIRA-claude-md-categorization: extract common-gotchas, distribute docs/reference.md, populate category READMEs
  docs/architecture/README.md
  docs/architecture/architecture-deep-dive.md
  docs/conventions/README.md
  docs/conventions/api-design.md
  docs/conventions/security.md
  docs/reference.md
  docs/reference/README.md
  docs/workflows/README.md
  docs/workflows/common-gotchas.md
Due: none

NOJIRA-claude-md-categorization: address chunk-4 review fixes
  CLAUDE.md
  docs/conventions/rpc.md
Due: none

NOJIRA-claude-md-categorization: audit bin-common-handler/CLAUDE.md (pilot 1 of 2)
  bin-common-handler/CLAUDE.md
Due: run-bin-common-handler

NOJIRA-claude-md-categorization: audit bin-pipecat-manager/CLAUDE.md (pilot 2 of 2)
  bin-pipecat-manager/CLAUDE.md
Due: none

NOJIRA-claude-md-categorization: drop inline workflow command from pilot service pointer blockquotes
  bin-common-handler/CLAUDE.md
  bin-pipecat-manager/CLAUDE.md
Due: run-bin-common-handler

NOJIRA-claude-md-categorization: address final-review feedback
  docs/reference/claude-md-template.md
  scripts/check-docs.sh
Due: none

NOJIRA-wire-check-docs-hook: wire scripts/check-docs.sh into Makefile and PostToolUse hook
  .claude/scripts/check-docs-size.sh
  .claude/settings.json
  Makefile
  scripts/check-docs.sh
Due: none

NOJIRA-wire-check-docs-hook: address review fixes
  .claude/scripts/check-docs-size.sh
  Makefile
  docs/workflows/verification-workflows.md
Due: none

NOJIRA-wire-check-docs-hook (#862)
  .claude/scripts/check-docs-size.sh
  .claude/settings.json
  Makefile
  docs/workflows/verification-workflows.md
  scripts/check-docs.sh
Due: none

NOJIRA-audit-service-claude-md
  bin-ai-manager/CLAUDE.md
  bin-call-manager/CLAUDE.md
  bin-conference-manager/CLAUDE.md
  bin-conversation-manager/CLAUDE.md
  bin-flow-manager/CLAUDE.md
Due: run-bin-call-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-flow-manager

NOJIRA-audit-service-claude-md
  bin-agent-manager/CLAUDE.md
  bin-api-manager/CLAUDE.md
  bin-billing-manager/CLAUDE.md
  bin-customer-manager/CLAUDE.md
  bin-openapi-manager/CLAUDE.md
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-customer-manager, run-bin-openapi-manager

NOJIRA-audit-service-claude-md
  bin-campaign-manager/CLAUDE.md
  bin-email-manager/CLAUDE.md
  bin-message-manager/CLAUDE.md
  bin-outdial-manager/CLAUDE.md
  bin-talk-manager/CLAUDE.md
  bin-webhook-manager/CLAUDE.md
Due: run-bin-campaign-manager, run-bin-email-manager, run-bin-message-manager, run-bin-outdial-manager, run-bin-webhook-manager

NOJIRA-audit-service-claude-md
  bin-hook-manager/CLAUDE.md
  bin-queue-manager/CLAUDE.md
  bin-registrar-manager/CLAUDE.md
  bin-route-manager/CLAUDE.md
  bin-sentinel-manager/CLAUDE.md
  bin-transfer-manager/CLAUDE.md
Due: run-bin-hook-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-transfer-manager

NOJIRA-audit-service-claude-md
  bin-contact-manager/CLAUDE.md
  bin-dbscheme-manager/CLAUDE.md
  bin-number-manager/CLAUDE.md
  bin-rag-manager/CLAUDE.md
  bin-storage-manager/CLAUDE.md
  bin-tag-manager/CLAUDE.md
  bin-timeline-manager/CLAUDE.md
  bin-transcribe-manager/CLAUDE.md
  bin-tts-manager/CLAUDE.md
Due: run-bin-number-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-tts-manager

NOJIRA-audit-service-claude-md: address review fixes
  bin-agent-manager/CLAUDE.md
  bin-api-manager/CLAUDE.md
  bin-billing-manager/CLAUDE.md
  bin-call-manager/CLAUDE.md
  bin-campaign-manager/CLAUDE.md
  bin-conference-manager/CLAUDE.md
  bin-conversation-manager/CLAUDE.md
  bin-customer-manager/CLAUDE.md
  bin-email-manager/CLAUDE.md
  bin-message-manager/CLAUDE.md
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-message-manager

NOJIRA-audit-service-claude-md (#863)
  bin-agent-manager/CLAUDE.md
  bin-ai-manager/CLAUDE.md
  bin-api-manager/CLAUDE.md
  bin-billing-manager/CLAUDE.md
  bin-call-manager/CLAUDE.md
  bin-campaign-manager/CLAUDE.md
  bin-conference-manager/CLAUDE.md
  bin-contact-manager/CLAUDE.md
  bin-conversation-manager/CLAUDE.md
  bin-customer-manager/CLAUDE.md
  bin-dbscheme-manager/CLAUDE.md
  bin-email-manager/CLAUDE.md
  bin-flow-manager/CLAUDE.md
  bin-hook-manager/CLAUDE.md
  bin-message-manager/CLAUDE.md
  bin-number-manager/CLAUDE.md
  bin-openapi-manager/CLAUDE.md
  bin-outdial-manager/CLAUDE.md
  bin-queue-manager/CLAUDE.md
  bin-rag-manager/CLAUDE.md
  bin-registrar-manager/CLAUDE.md
  bin-route-manager/CLAUDE.md
  bin-sentinel-manager/CLAUDE.md
  bin-storage-manager/CLAUDE.md
  bin-tag-manager/CLAUDE.md
  bin-talk-manager/CLAUDE.md
  bin-timeline-manager/CLAUDE.md
  bin-transcribe-manager/CLAUDE.md
  bin-transfer-manager/CLAUDE.md
  bin-tts-manager/CLAUDE.md
  bin-webhook-manager/CLAUDE.md
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

NOJIRA-conversation-ai-talk-bridge
  docs/plans/2026-04-27-conversation-ai-talk-design.md
Due: none

Update example output in update-all-services.md to 34
  .claude/commands/update-all-services.md
Due: none

NOJIRA-conversation-ai-talk-bridge
  docs/plans/2026-04-27-conversation-ai-talk-plan.md
Due: none

NOJIRA-conversation-ai-talk-bridge
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
Due: none
