Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

VOIP-1164-Add_agent_control (#306)
  bin-agent-manager/.gitignore
  bin-agent-manager/cmd/agent-control/main.go
  bin-agent-manager/cmd/agent-manager/init.go
  bin-agent-manager/cmd/agent-manager/main.go
  bin-agent-manager/go.mod
  bin-agent-manager/go.sum
  bin-agent-manager/internal/config/main.go
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/cmd/customer-manager/main.go
  bin-customer-manager/go.sum
Due: run-bin-agent-manager, run-bin-customer-manager

Fixed
  bin-registrar-manager/cmd/registrar-manager/init.go
  bin-registrar-manager/cmd/registrar-manager/main.go
  bin-registrar-manager/go.mod
  bin-registrar-manager/go.sum
  bin-registrar-manager/internal/config/main.go
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/cmd/registrar-manager/main.go
  bin-registrar-manager/internal/config/main.go
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/internal/config/main.go
Due: run-bin-registrar-manager

VOIP-1173-Fix_to_use_cobra (#307)
  bin-registrar-manager/cmd/registrar-manager/init.go
  bin-registrar-manager/cmd/registrar-manager/main.go
  bin-registrar-manager/go.mod
  bin-registrar-manager/go.sum
  bin-registrar-manager/internal/config/main.go
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/internal/config/main.go
  bin-registrar-manager/k8s/deployment.yml
  bin-registrar-manager/models/common/common.go
  bin-registrar-manager/models/common/common_test.go
  bin-registrar-manager/pkg/contacthandler/contact_test.go
  bin-registrar-manager/pkg/extensionhandler/extension_test.go
  bin-registrar-manager/pkg/trunkhandler/trunk_test.go
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/cmd/registrar-manager/main.go
  bin-registrar-manager/internal/config/main.go
  bin-registrar-manager/models/common/common.go
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/internal/config/main.go
  bin-registrar-manager/models/common/common.go
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/internal/config/main.go
  bin-registrar-manager/models/common/common.go
  bin-registrar-manager/models/common/common_test.go
  bin-registrar-manager/pkg/contacthandler/contact_test.go
  bin-registrar-manager/pkg/extensionhandler/extension_test.go
  bin-registrar-manager/pkg/trunkhandler/trunk_test.go
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/models/common/common.go
  bin-registrar-manager/models/common/common_test.go
  bin-registrar-manager/pkg/extensionhandler/extension_test.go
Due: run-bin-registrar-manager

Fixed
  .circleci/config_work.yml
  bin-registrar-manager/k8s/deployment.yml
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/internal/config/main.go
  bin-registrar-manager/models/common/common.go
  bin-registrar-manager/models/common/common_test.go
  bin-registrar-manager/pkg/trunkhandler/trunk_test.go
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/pkg/contacthandler/contact_test.go
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/models/common/common.go
  bin-registrar-manager/models/common/common_test.go
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/models/common/common.go
  bin-registrar-manager/models/common/common_test.go
  bin-registrar-manager/pkg/contacthandler/contact_test.go
  bin-registrar-manager/pkg/extensionhandler/extension_test.go
  bin-registrar-manager/pkg/trunkhandler/trunk_test.go
Due: run-bin-registrar-manager

VOIP-1172-Enable_registrar_domain_variable (#308)
  .circleci/config_work.yml
  bin-registrar-manager/cmd/registrar-manager/main.go
  bin-registrar-manager/internal/config/main.go
  bin-registrar-manager/k8s/deployment.yml
  bin-registrar-manager/models/common/common.go
  bin-registrar-manager/models/common/common_test.go
  bin-registrar-manager/pkg/contacthandler/contact_test.go
  bin-registrar-manager/pkg/extensionhandler/extension_test.go
  bin-registrar-manager/pkg/trunkhandler/trunk_test.go
Due: run-bin-registrar-manager

Fixed
  bin-registrar-manager/models/common/common.go
Due: run-bin-registrar-manager

NOJIRA-Fix_logs (#309)
  bin-registrar-manager/models/common/common.go
Due: run-bin-registrar-manager

WIP
  bin-call-manager/cmd/call-manager/main.go
Due: run-bin-call-manager

NOJIRA-Fix_wrong_start_handle (#310)
  bin-call-manager/cmd/call-manager/main.go
Due: run-bin-call-manager

WIP
  bin-number-manager/CLAUDE.md
Due: run-bin-number-manager

NOJIRA-Added_claude_info (#311)
  bin-number-manager/CLAUDE.md
Due: run-bin-number-manager

Fixed
  bin-agent-manager/cmd/agent-manager/main.go
  bin-number-manager/cmd/number-manager/init.go
  bin-number-manager/cmd/number-manager/main.go
  bin-number-manager/go.mod
  bin-number-manager/go.sum
  bin-number-manager/internal/config/main.go
Due: run-bin-agent-manager, run-bin-number-manager

Fixed
  bin-number-manager/cmd/number-manager/main.go
Due: run-bin-number-manager

WIP
  bin-agent-manager/internal/config/main.go
  bin-number-manager/cmd/number-manager/main.go
  bin-number-manager/internal/config/main.go
Due: run-bin-agent-manager, run-bin-number-manager

WIP
  bin-number-manager/cmd/number-manager/main.go
Due: run-bin-number-manager

Fixed
  bin-number-manager/internal/config/main.go
Due: run-bin-number-manager

VOIP-1181-Add_internal_config (#312)
  bin-agent-manager/cmd/agent-manager/main.go
  bin-number-manager/cmd/number-manager/init.go
  bin-number-manager/cmd/number-manager/main.go
  bin-number-manager/go.mod
  bin-number-manager/go.sum
  bin-number-manager/internal/config/main.go
Due: run-bin-agent-manager, run-bin-number-manager

WIP
  bin-number-manager/CLAUDE.md
  bin-number-manager/cmd/number-control/main.go
  bin-number-manager/go.mod
  bin-number-manager/go.sum
  bin-number-manager/internal/config/main.go
Due: run-bin-number-manager

Fixed
  bin-agent-manager/cmd/agent-control/main.go
  bin-agent-manager/cmd/agent-manager/main.go
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/cmd/customer-manager/main.go
  bin-customer-manager/internal/config/main.go
  bin-number-manager/cmd/number-control/main.go
  bin-number-manager/go.sum
Due: run-bin-agent-manager, run-bin-customer-manager, run-bin-number-manager

Fixed
  bin-customer-manager/cmd/customer-control/main.go
  bin-number-manager/cmd/number-control/main.go
Due: run-bin-customer-manager, run-bin-number-manager

Fixed
  bin-customer-manager/cmd/customer-control/main.go
Due: run-bin-customer-manager

Fixed
  bin-agent-manager/cmd/agent-control/main.go
Due: run-bin-agent-manager

Fixed
  bin-agent-manager/cmd/agent-control/main.go
  bin-customer-manager/cmd/customer-control/main.go
  bin-number-manager/cmd/number-control/main.go
Due: run-bin-agent-manager, run-bin-customer-manager, run-bin-number-manager

VOIP-1178-Add_number_control (#313)
  bin-agent-manager/cmd/agent-control/main.go
  bin-agent-manager/cmd/agent-manager/main.go
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/cmd/customer-manager/main.go
  bin-customer-manager/internal/config/main.go
  bin-number-manager/CLAUDE.md
  bin-number-manager/cmd/number-control/main.go
  bin-number-manager/go.mod
  bin-number-manager/go.sum
Due: run-bin-agent-manager, run-bin-customer-manager, run-bin-number-manager

WIP
  bin-number-manager/cmd/number-control/main.go
  bin-number-manager/models/number/number.go
  bin-number-manager/pkg/numberhandler/main.go
  bin-number-manager/pkg/numberhandler/mock_main.go
  bin-number-manager/pkg/numberhandler/number.go
  bin-number-manager/pkg/numberhandler/number_test.go
Due: run-bin-number-manager

Fixed
  bin-number-manager/pkg/numberhandler/db.go
  bin-number-manager/pkg/numberhandler/event.go
  bin-number-manager/pkg/numberhandler/number.go
Due: run-bin-number-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
