Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/voipbin_error.go
  bin-common-handler/models/errors/voipbin_error_test.go
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/voipbin_error_test.go
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/constructors.go
  bin-common-handler/models/errors/constructors_test.go
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/constructors_test.go
  bin-common-handler/models/errors/datatype.go
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/rpc.go
  bin-common-handler/models/errors/rpc_test.go
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/sock/message.go
  bin-common-handler/models/sock/message_test.go
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/constructors.go
  bin-common-handler/models/errors/constructors_test.go
  bin-common-handler/models/errors/rpc_test.go
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/rpc_test.go
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/constructors.go
  bin-common-handler/models/errors/datatype.go
  bin-common-handler/models/errors/rpc.go
  bin-common-handler/models/errors/status.go
  bin-common-handler/models/errors/voipbin_error.go
  bin-common-handler/models/sock/message.go
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/constructors.go
  bin-common-handler/models/errors/constructors_test.go
  bin-common-handler/models/errors/rpc.go
  bin-common-handler/models/errors/rpc_test.go
  bin-common-handler/models/errors/voipbin_error.go
  docs/plans/2026-04-24-api-error-response-codes-design.md
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/rpc_test.go
  docs/plans/2026-04-24-api-error-response-codes-design.md
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  docs/plans/2026-04-24-api-error-response-codes-design.md
Due: none

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/constructors.go
  bin-common-handler/models/errors/constructors_test.go
  bin-common-handler/models/errors/datatype.go
  bin-common-handler/models/errors/rpc.go
  bin-common-handler/models/errors/rpc_test.go
  bin-common-handler/models/errors/status.go
  bin-common-handler/models/errors/status_test.go
  bin-common-handler/models/errors/voipbin_error.go
  bin-common-handler/models/errors/voipbin_error_test.go
  bin-common-handler/models/sock/message.go
  bin-common-handler/models/sock/message_test.go
  docs/plans/2026-04-24-api-error-response-codes-design.md
  docs/plans/2026-04-24-api-error-response-codes-plan.md
Due: run-bin-common-handler

NOJIRA-api-error-response-0b
  docs/plans/2026-04-24-api-error-response-0b-plan.md
Due: none

NOJIRA-api-error-response-0b
  bin-api-manager/pkg/serviceerrors/sentinels.go
  bin-api-manager/pkg/serviceerrors/sentinels_test.go
Due: run-bin-api-manager

NOJIRA-api-error-response-0b
  bin-api-manager/pkg/serviceerrors/sentinels_test.go
Due: run-bin-api-manager

NOJIRA-api-error-response-0b
  bin-api-manager/lib/middleware/request_id.go
  bin-api-manager/lib/middleware/request_id_test.go
Due: run-bin-api-manager

NOJIRA-api-error-response-0b
  bin-api-manager/server/error.go
  bin-api-manager/server/error_test.go
Due: run-bin-api-manager

NOJIRA-api-error-response-0b
  bin-api-manager/server/error.go
  bin-api-manager/server/error_translate.go
  bin-api-manager/server/error_translate_test.go
Due: run-bin-api-manager

NOJIRA-api-error-response-0b
  bin-api-manager/lib/middleware/ratelimit.go
  bin-api-manager/lib/middleware/ratelimit_test.go
Due: run-bin-api-manager

NOJIRA-api-error-response-0b
  bin-api-manager/lib/middleware/authenticate.go
  bin-api-manager/lib/middleware/authenticate_test.go
Due: run-bin-api-manager

NOJIRA-api-error-response-0b
  bin-api-manager/cmd/api-manager/main.go
Due: run-bin-api-manager

NOJIRA-api-error-response-0b
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-openapi-manager

NOJIRA-api-error-response-0b
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/paths/me/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-api-error-response-0b
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/lib/middleware/authenticate.go
  bin-api-manager/lib/middleware/request_id_test.go
Due: run-bin-api-manager

NOJIRA-api-error-response-0b
  bin-api-manager/lib/middleware/authenticate.go
  bin-api-manager/lib/middleware/request_id.go
  bin-api-manager/server/error.go
  bin-api-manager/server/error_test.go
  bin-api-manager/server/error_translate.go
  bin-api-manager/server/error_translate_test.go
  bin-api-manager/server/me.go
Due: run-bin-api-manager

NOJIRA-apply-provider-tech-config-on-outbound
  docs/plans/2026-04-25-provider-tech-config-outbound-design.md
Due: none
