Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

Fixed
  bin-common-handler/pkg/requesthandler/pipecat_pipecatcall.go
Due: run-bin-common-handler

WIP
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
Due: none

WIP
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/models/pipecatcall/fields.go
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/cachehandler/handler.go
  bin-pipecat-manager/pkg/cachehandler/main.go
  bin-pipecat-manager/pkg/cachehandler/mock_main.go
  bin-pipecat-manager/pkg/dbhandler/main.go
  bin-pipecat-manager/pkg/dbhandler/main_test.go
  bin-pipecat-manager/pkg/dbhandler/mock_main.go
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls.go
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls_test.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pipecatframe.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatcall.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/scripts/database_scripts_test/table_pipecat_pipecatcalls.sql
Due: none

WIP
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
Due: none

WIP
  bin-pipecat-manager/cmd/pipecat-manager/init.go
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

Fixed
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
Due: none

Fixed
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
  bin-dbscheme-bin-manager/bin-manager/main/versions/dfa4f91f18a8_pipecat_pipecatcalls_create_table.py
Due: run-bin-dbscheme-bin-manager

Fixed
  bin-api-manager/go.sum
Due: run-bin-api-manager

WIP
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/messagehandler/db_test.go
  bin-ai-manager/pkg/messagehandler/event.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/tool.go
Due: none

WIP
  bin-ai-manager/go.sum
Due: none

Fixed
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/pipecat_message.go
  bin-common-handler/pkg/requesthandler/pipecat_message_test.go
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
Due: run-bin-common-handler, run-bin-transcribe-manager, run-bin-tts-manager

NOJIRA-Fix_wrong_pipecat_message_send (#257)
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/pipecat_message.go
  bin-common-handler/pkg/requesthandler/pipecat_message_test.go
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
Due: run-bin-common-handler, run-bin-transcribe-manager, run-bin-tts-manager

Fixed
  bin-ai-manager/models/ai/main.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/chat.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/send_test.go
  bin-ai-manager/pkg/messagehandler/tool.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls.go
Due: none

Fixed
  bin-dbscheme-bin-manager/bin-manager/main/versions/bad27b40fe8e_ai_aicalls_add_column_ai_aicalls_ai_tts_.py
Due: run-bin-dbscheme-bin-manager

Fixed
  bin-ai-manager/pkg/aicallhandler/start.go
Due: none

Fixed
  bin-ai-manager/pkg/aihandler/chatbot.go
Due: none

Fixed
  bin-ai-manager/pkg/aicallhandler/etc.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/listenhandler/v1_messages.go
  bin-ai-manager/pkg/listenhandler/v1_messages_test.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
Due: none

WIP
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/messagehandler/send.go
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/etc.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

WIP
  bin-pipecat-manager/models/message/event.go
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

WIP
  bin-ai-manager/pkg/messagehandler/event.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/pipecat_manager.go
  bin-ai-manager/pkg/subscribehandler/tts_manager.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/etc.go
  bin-ai-manager/pkg/messagehandler/event.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-pipecat-manager/models/message/event.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

Fixed
  bin-ai-manager/pkg/aicallhandler/etc.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

Fixed
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/etc.go
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/listenhandler/models/request/messages.go
  bin-ai-manager/pkg/listenhandler/v1_messages.go
  bin-ai-manager/pkg/listenhandler/v1_messages_test.go
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/aimessage.go
  bin-api-manager/pkg/servicehandler/aimessage_test.go
  bin-api-manager/server/aicalls_test.go
  bin-call-manager/models/dtmf/event.go
  bin-call-manager/models/dtmf/main.go
  bin-call-manager/pkg/callhandler/digit.go
  bin-call-manager/pkg/callhandler/digit_test.go
  bin-common-handler/pkg/requesthandler/ai_messages.go
  bin-common-handler/pkg/requesthandler/ai_messages_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-transcribe-manager/go.sum
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-bin-api-manager, run-bin-call-manager, run-bin-common-handler, run-bin-openapi-manager, run-bin-storage-manager, run-bin-transcribe-manager, run-bin-tts-manager, run-voip-asterisk-proxy

Fixed
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/subscribehandler/callmanager.go
  bin-ai-manager/pkg/subscribehandler/callmanager_test.go
  bin-ai-manager/pkg/subscribehandler/main.go
Due: none

Fixed
  bin-call-manager/pkg/callhandler/digit_test.go
Due: run-bin-call-manager

VOIP-1115-Add_dtmf_handle (#259)
  bin-ai-manager/go.mod
  bin-ai-manager/pkg/aicallhandler/etc.go
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/listenhandler/models/request/messages.go
  bin-ai-manager/pkg/listenhandler/v1_messages.go
  bin-ai-manager/pkg/listenhandler/v1_messages_test.go
  bin-ai-manager/pkg/subscribehandler/callmanager.go
  bin-ai-manager/pkg/subscribehandler/callmanager_test.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/aimessage.go
  bin-api-manager/pkg/servicehandler/aimessage_test.go
  bin-api-manager/server/aicalls_test.go
  bin-call-manager/models/dtmf/event.go
  bin-call-manager/models/dtmf/main.go
  bin-call-manager/pkg/callhandler/digit.go
  bin-call-manager/pkg/callhandler/digit_test.go
  bin-common-handler/pkg/requesthandler/ai_messages.go
  bin-common-handler/pkg/requesthandler/ai_messages_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-transcribe-manager/go.sum
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-bin-api-manager, run-bin-call-manager, run-bin-common-handler, run-bin-openapi-manager, run-bin-storage-manager, run-bin-transcribe-manager, run-bin-tts-manager, run-voip-asterisk-proxy

Fixed
  bin-ai-manager/pkg/aicallhandler/etc.go
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/messagehandler/send.go
  bin-ai-manager/pkg/messagehandler/send_test.go
Due: none
