Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

Cover the reuse path and stop publishing the contract that was withdrawn
  bin-ai-manager/pkg/aicallhandler/helpers.go
  bin-ai-manager/pkg/aicallhandler/helpers_test.go
  bin-ai-manager/pkg/aicallhandler/mcp_tool.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
Due: none

Type the reuse fixtures so the team gate is observable, and mechanise the citation sweep
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
  docs/plans/scripts/check_doc_citations.py
Due: none

Make the citation gate catch drift instead of reporting OK on it
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
  docs/plans/scripts/check_doc_citations.py
Due: none

Make the citation gate actually open the files it claims to check
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
  docs/plans/scripts/check_doc_citations.py
Due: none

Renumber section 5 without breaking its references, and bind continuations to the preceding path
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
  docs/plans/scripts/check_doc_citations.py
Due: none

Make the gate's self-test prove the sabotage it was written to catch
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
  docs/plans/scripts/check_doc_citations.py
Due: none

Close the two holes that carried eight rounds of citation defects
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
  docs/plans/scripts/check_doc_citations.py
Due: none

Narrow the exemption that let a carried citation land on a blank line
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
  docs/plans/scripts/check_doc_citations.py
Due: none

Grade the harness that grades the citation checks
  bin-ai-manager/pkg/aicallhandler/mcp_tool_test.go
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
  docs/plans/scripts/check_doc_citations.py
Due: none

Refuse writes to deleted MCP servers and zero their credentials
  bin-ai-manager/pkg/dbhandler/mcpserver.go
  bin-ai-manager/pkg/dbhandler/mcpserver_lifecycle_test.go
  bin-ai-manager/pkg/mcpserverhandler/handler.go
  bin-ai-manager/pkg/mcpserverhandler/handler_lifecycle_test.go
  bin-ai-manager/pkg/mcpserverhandler/handler_partial_update_test.go
  bin-ai-manager/pkg/mcpserverhandler/handler_test.go
Due: none

Validate the MCP whitelist before the AI write, not after
  bin-ai-manager/pkg/aihandler/main.go
  bin-ai-manager/pkg/aihandler/mcpserver_validation.go
  bin-ai-manager/pkg/aihandler/mcpserver_validation_test.go
  bin-ai-manager/pkg/listenhandler/v1_ais.go
  bin-ai-manager/pkg/listenhandler/v1_ais_test.go
Due: none

Gate MCP servers on deletion and ownership in both consumption paths
  bin-ai-manager/pkg/aicallhandler/mcp_tool.go
  bin-ai-manager/pkg/aicallhandler/mcp_tool_test.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

Refuse OAuth connect and reconnect for deleted MCP servers
  bin-ai-manager/pkg/mcpoauthhandler/complete.go
  bin-ai-manager/pkg/mcpoauthhandler/main_test.go
  bin-ai-manager/pkg/mcpoauthhandler/start.go
Due: none

Refuse transport calls to deleted MCP servers
  bin-ai-manager/pkg/mcptoolhandler/client.go
  bin-ai-manager/pkg/mcptoolhandler/client_test.go
Due: none

Keep an AI saveable when its whitelist holds a deleted MCP server
  bin-ai-manager/pkg/aihandler/main.go
  bin-ai-manager/pkg/aihandler/mcpserver_validation.go
  bin-ai-manager/pkg/aihandler/mcpserver_validation_test.go
  bin-ai-manager/pkg/aihandler/mock_main.go
  bin-ai-manager/pkg/listenhandler/v1_ais.go
  bin-ai-manager/pkg/listenhandler/v1_ais_test.go
Due: none

Purge credentials left on MCP servers deleted before the fix
  bin-dbscheme-manager/bin-manager/main/versions/9a85d4662372_ai_mcp_servers_purge_deleted_credentials.py
Due: none

Reject the move into oauth, not the value, so connected servers stay editable
  bin-ai-manager/pkg/mcpserverhandler/handler.go
  bin-ai-manager/pkg/mcpserverhandler/handler_lifecycle_test.go
  bin-api-manager/docsdev/build/doctrees/ai_overview.doctree
  bin-api-manager/docsdev/build/doctrees/ai_struct_ai.doctree
  bin-api-manager/docsdev/build/doctrees/ai_struct_mcpserver.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/_sources/ai_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/ai_struct_ai.rst.txt
  bin-api-manager/docsdev/build/html/_sources/ai_struct_mcpserver.rst.txt
  bin-api-manager/docsdev/build/html/ai.html
  bin-api-manager/docsdev/build/html/ai_overview.html
  bin-api-manager/docsdev/build/html/ai_struct_ai.html
  bin-api-manager/docsdev/build/html/ai_struct_mcpserver.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/ai_overview.rst
  bin-api-manager/docsdev/source/ai_struct_ai.rst
  bin-api-manager/docsdev/source/ai_struct_mcpserver.rst
Due: run-bin-api-manager

Assert the success side of each new gate, not only the refusal
  bin-ai-manager/pkg/aicallhandler/mcp_tool_test.go
  bin-ai-manager/pkg/aihandler/mcpserver_validation_test.go
  bin-ai-manager/pkg/listenhandler/v1_ais_test.go
  bin-ai-manager/pkg/mcpoauthhandler/main_test.go
Due: none

Erase the vendor tokens when a server leaves oauth, and let the spec say so
  bin-ai-manager/pkg/mcpserverhandler/handler.go
  bin-ai-manager/pkg/mcpserverhandler/handler_lifecycle_test.go
  bin-api-manager/docsdev/build/doctrees/ai_struct_mcpserver.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/_sources/ai_struct_mcpserver.rst.txt
  bin-api-manager/docsdev/build/html/ai_struct_mcpserver.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/ai_struct_mcpserver.rst
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/mcpservers/id.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Purge the OAuth tokens left on servers downgraded before the fix
  bin-ai-manager/pkg/mcpserverhandler/handler.go
  bin-api-manager/docsdev/build/doctrees/ai_struct_mcpserver.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/_sources/ai_struct_mcpserver.rst.txt
  bin-api-manager/docsdev/build/html/ai_struct_mcpserver.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/ai_struct_mcpserver.rst
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-dbscheme-manager/bin-manager/main/versions/b0307529af4a_ai_mcp_servers_purge_downgraded_oauth_.py
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Regenerate the redoc bundle that main left stale
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
Due: run-bin-api-manager

Assert what must survive the downgrade, not only what must be cleared
  bin-ai-manager/models/mcpserver/main.go
  bin-ai-manager/pkg/mcpserverhandler/handler_lifecycle_test.go
Due: none

Stop calling the oauth resend a no-op, and repair the citations it shifted
  bin-ai-manager/models/mcpserver/main.go
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
Due: none

Publish the MCP reason codes, and re-anchor the gate probe that stopped testing
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/restful_api_errors.doctree
  bin-api-manager/docsdev/build/html/_sources/restful_api_errors.rst.txt
  bin-api-manager/docsdev/build/html/restful_api_errors.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/restful_api_errors.rst
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
  docs/plans/scripts/check_doc_citations.py
Due: run-bin-api-manager

Stop the reason table from contradicting the DELETE contract this branch set
  bin-ai-manager/pkg/mcpoauthhandler/complete.go
  bin-ai-manager/pkg/mcpoauthhandler/main_test.go
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/restful_api_errors.doctree
  bin-api-manager/docsdev/build/html/_sources/restful_api_errors.rst.txt
  bin-api-manager/docsdev/build/html/restful_api_errors.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/restful_api_errors.rst
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
Due: run-bin-api-manager

Sweep every stale citation instead of only the ones the gate flagged
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
Due: none

Point the swept citations at the call sites the prose argues about
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
Due: none

Teach the gate the citation spelling that slipped past it five times
  docs/plans/2026-09-27-mcp-lifecycle-and-docs-analysis.md
  docs/plans/scripts/check_doc_citations.py
Due: none

Close the mirror-image citation spelling the last commit left open
  docs/plans/scripts/check_doc_citations.py
Due: none

NOJIRA-fix-contact-dto-layering-violation
  bin-api-manager/pkg/servicehandler/contact.go
  bin-api-manager/pkg/servicehandler/contact_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_contact.go
  bin-api-manager/pkg/servicehandler/serviceagent_contact_test.go
  bin-api-manager/server/contact_addresses_test.go
  bin-api-manager/server/contacts.go
  bin-api-manager/server/contacts_test.go
  bin-api-manager/server/service_agents_contact_addresses_test.go
  bin-api-manager/server/service_agents_contacts.go
  bin-api-manager/server/service_agents_contacts_test.go
  bin-common-handler/pkg/requesthandler/contact_contacts.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-contact-manager/models/contact/address.go
  docs/plans/2026-09-28-contact-dto-layering-fix-design.md
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-fix-service-agent-contact-address-name-detail
  bin-api-manager/server/service_agents_contacts.go
  bin-api-manager/server/service_agents_contacts_test.go
Due: run-bin-api-manager

Record what round 1 proved this analysis had wrong
  docs/plans/2026-09-27-mcp-phase2-tool-exposure-analysis.md
Due: none

Settle by experiment what round 2 proved this analysis had open
  docs/plans/2026-09-27-mcp-phase2-tool-exposure-analysis.md
Due: none

Close the review loop and re-measure the load-bearing numbers
  docs/plans/2026-09-27-mcp-phase2-tool-exposure-analysis-v2.md
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
