Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Fix-transcribe-zombie-session-invariant
  bin-transcribe-manager/docs/operations.md
  bin-transcribe-manager/pkg/streaminghandler/disabled.go
  bin-transcribe-manager/pkg/streaminghandler/main_test.go
  bin-transcribe-manager/pkg/streaminghandler/stop.go
  bin-transcribe-manager/pkg/streaminghandler/stop_test.go
  bin-transcribe-manager/pkg/transcribehandler/health.go
  bin-transcribe-manager/pkg/transcribehandler/health_test.go
  bin-transcribe-manager/pkg/transcribehandler/main.go
  bin-transcribe-manager/pkg/transcribehandler/stop.go
  bin-transcribe-manager/pkg/transcribehandler/stop_test.go
  bin-transcribe-manager/pkg/transcribehandler/transcribe.go
  bin-transcribe-manager/pkg/transcribehandler/transcribe_test.go
Due: run-bin-transcribe-manager

NOJIRA-Fix-api-manager-audiosocket-advertise-address (#1209)
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/cmd/api-manager/main_test.go
  bin-api-manager/docs/operations.md
  bin-api-manager/internal/config/main.go
  bin-api-manager/internal/config/main_test.go
  bin-api-manager/internal/nethandler/advertise.go
  bin-api-manager/internal/nethandler/advertise_test.go
  bin-api-manager/komodo/docker-compose.yml
  bin-api-manager/pkg/streamhandler/main.go
  bin-api-manager/pkg/streamhandler/start.go
  bin-api-manager/pkg/streamhandler/start_test.go
  bin-api-manager/pkg/websockhandler/endpoint_test.go
  docs/.docs-gen/bin-api-manager.extracted.json
Due: run-bin-api-manager

NOJIRA-Fix-transcribe-zombie-session-invariant (#1210)
  bin-transcribe-manager/docs/operations.md
  bin-transcribe-manager/pkg/streaminghandler/disabled.go
  bin-transcribe-manager/pkg/streaminghandler/main_test.go
  bin-transcribe-manager/pkg/streaminghandler/stop.go
  bin-transcribe-manager/pkg/streaminghandler/stop_test.go
  bin-transcribe-manager/pkg/transcribehandler/health.go
  bin-transcribe-manager/pkg/transcribehandler/health_test.go
  bin-transcribe-manager/pkg/transcribehandler/main.go
  bin-transcribe-manager/pkg/transcribehandler/stop.go
  bin-transcribe-manager/pkg/transcribehandler/stop_test.go
  bin-transcribe-manager/pkg/transcribehandler/transcribe.go
  bin-transcribe-manager/pkg/transcribehandler/transcribe_test.go
Due: run-bin-transcribe-manager

NOJIRA-Fix-transcribe-claude-md-corrections
  bin-transcribe-manager/CLAUDE.md
  bin-transcribe-manager/docs/architecture.md
  bin-transcribe-manager/docs/domain.md
  bin-transcribe-manager/docs/operations.md
  bin-tts-manager/CLAUDE.md
  bin-tts-manager/docs/architecture.md
Due: run-bin-transcribe-manager, run-bin-tts-manager

NOJIRA-Fix-transcribe-claude-md-corrections (#1211)
  bin-transcribe-manager/CLAUDE.md
  bin-transcribe-manager/docs/architecture.md
  bin-transcribe-manager/docs/domain.md
  bin-transcribe-manager/docs/operations.md
  bin-tts-manager/CLAUDE.md
  bin-tts-manager/docs/architecture.md
Due: run-bin-transcribe-manager, run-bin-tts-manager

NOJIRA-Schedule-manager-scale-poc
  bin-schedule-manager/docs/operations.md
  bin-schedule-manager/komodo/docker-compose.yml
Due: none

NOJIRA-Schedule-manager-scale-poc (#1212)
  bin-schedule-manager/docs/operations.md
  bin-schedule-manager/komodo/docker-compose.yml
Due: none

VOIP-1404-Global-topic-exchange-skeleton
  bin-common-handler/CLAUDE.md
  bin-common-handler/docs/architecture.md
  bin-common-handler/models/eventtopic/identifier.go
  bin-common-handler/models/eventtopic/routingkey.go
  bin-common-handler/models/eventtopic/routingkey_test.go
  bin-common-handler/models/outline/queuename.go
  bin-common-handler/pkg/notifyhandler/main.go
  bin-common-handler/pkg/notifyhandler/main_test.go
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-common-handler/pkg/notifyhandler/publish_test.go
  bin-transcribe-manager/cmd/transcribe-control/main.go
  bin-transcribe-manager/cmd/transcribe-manager/main.go
  bin-transcribe-manager/docs/architecture.md
  bin-transcribe-manager/docs/domain.md
  bin-transcribe-manager/models/streaming/speech.go
  bin-transcribe-manager/models/streaming/speech_test.go
  bin-transcribe-manager/models/streaming/streaming.go
  bin-transcribe-manager/models/streaming/streaming_test.go
  bin-transcribe-manager/models/transcribe/routingkey_golden_test.go
  bin-transcribe-manager/models/transcript/transcript.go
  bin-transcribe-manager/models/transcript/transcript_test.go
  docs/plans/2026-08-27-voip-1404-global-topic-exchange-design.md
  docs/reference/rabbitmq-queues-reference.md
Due: run-bin-common-handler, run-bin-transcribe-manager

VOIP-1404-Global-topic-exchange-skeleton review fixes round 1
  bin-common-handler/pkg/notifyhandler/main_test.go
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-common-handler/pkg/notifyhandler/publish_test.go
  bin-transcribe-manager/models/transcribe/routingkey_golden_test.go
  docs/plans/2026-08-27-voip-1404-global-topic-exchange-design.md
Due: run-bin-common-handler, run-bin-transcribe-manager

NOJIRA-Add-db-connection-pool-metrics
  bin-agent-manager/cmd/agent-manager/main.go
  bin-ai-manager/cmd/ai-manager/main.go
  bin-api-manager/cmd/api-manager/main.go
  bin-billing-manager/cmd/billing-manager/main.go
  bin-call-manager/cmd/call-manager/main.go
  bin-campaign-manager/cmd/campaign-manager/main.go
  bin-common-handler/pkg/databasehandler/main.go
  bin-conference-manager/cmd/conference-manager/main.go
  bin-contact-manager/cmd/contact-manager/main.go
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-customer-manager/cmd/customer-manager/main.go
  bin-direct-manager/cmd/direct-manager/main.go
  bin-email-manager/cmd/email-manager/main.go
  bin-email-manager/pkg/listenhandler/main_test.go
  bin-flow-manager/cmd/flow-manager/main.go
  bin-hook-manager/cmd/hook-manager/main.go
  bin-message-manager/cmd/message-manager/main.go
  bin-number-manager/cmd/number-manager/main.go
  bin-outdial-manager/cmd/outdial-manager/main.go
  bin-outdial-manager/models/outdialtarget/outdialtarget_test.go
  bin-outdial-manager/models/outdialtargetcall/outdialtargetcall_test.go
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-queue-manager/cmd/queue-manager/main.go
  bin-registrar-manager/cmd/registrar-manager/main.go
  bin-route-manager/cmd/route-manager/main.go
  bin-schedule-manager/cmd/schedule-manager/main.go
  bin-storage-manager/cmd/storage-manager/main.go
  bin-tag-manager/cmd/tag-manager/main.go
  bin-talk-manager/cmd/talk-manager/main.go
  bin-timeline-manager/cmd/timeline-manager/main.go
  bin-transcribe-manager/cmd/transcribe-manager/main.go
  bin-transfer-manager/cmd/transfer-manager/main.go
  bin-tts-manager/cmd/tts-manager/main.go
  bin-webchat-manager/cmd/webchat-manager/main.go
  bin-webhook-manager/cmd/webhook-manager/main.go
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

VOIP-1404-Global-topic-exchange-skeleton review fixes round 2
  bin-common-handler/models/eventtopic/routingkey.go
  bin-common-handler/models/eventtopic/routingkey_test.go
  bin-common-handler/pkg/notifyhandler/main_test.go
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-common-handler/pkg/notifyhandler/publish_test.go
  docs/plans/2026-08-27-voip-1404-global-topic-exchange-design.md
  docs/reference/rabbitmq-queues-reference.md
Due: run-bin-common-handler

VOIP-1404-Global-topic-exchange-skeleton review fixes round 3
  bin-common-handler/models/eventtopic/routingkey_test.go
  bin-common-handler/pkg/notifyhandler/publish_test.go
  docs/plans/2026-08-27-voip-1404-global-topic-exchange-design.md
  docs/reference/rabbitmq-queues-reference.md
Due: run-bin-common-handler

VOIP-1404-Global-topic-exchange-skeleton update task plan
  tasks/todo.md
Due: none

VOIP-1404-Global-topic-exchange-skeleton (#1213)
  bin-common-handler/CLAUDE.md
  bin-common-handler/docs/architecture.md
  bin-common-handler/models/eventtopic/identifier.go
  bin-common-handler/models/eventtopic/routingkey.go
  bin-common-handler/models/eventtopic/routingkey_test.go
  bin-common-handler/models/outline/queuename.go
  bin-common-handler/pkg/notifyhandler/main.go
  bin-common-handler/pkg/notifyhandler/main_test.go
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-common-handler/pkg/notifyhandler/publish_test.go
  bin-transcribe-manager/cmd/transcribe-control/main.go
  bin-transcribe-manager/cmd/transcribe-manager/main.go
  bin-transcribe-manager/docs/architecture.md
  bin-transcribe-manager/docs/domain.md
  bin-transcribe-manager/models/streaming/speech.go
  bin-transcribe-manager/models/streaming/speech_test.go
  bin-transcribe-manager/models/streaming/streaming.go
  bin-transcribe-manager/models/streaming/streaming_test.go
  bin-transcribe-manager/models/transcribe/routingkey_golden_test.go
  bin-transcribe-manager/models/transcript/transcript.go
  bin-transcribe-manager/models/transcript/transcript_test.go
  docs/plans/2026-08-27-voip-1404-global-topic-exchange-design.md
  docs/reference/rabbitmq-queues-reference.md
  tasks/todo.md
Due: run-bin-common-handler, run-bin-transcribe-manager

NOJIRA-Fix-extractor-empty-slice-awk-range
  docs/.docs-gen/bin-ai-manager.extracted.json
  docs/.docs-gen/bin-api-manager.extracted.json
  docs/reference/extractor.sh
Due: none

NOJIRA-Fix-extractor-empty-slice-awk-range (#1215)
  docs/.docs-gen/bin-ai-manager.extracted.json
  docs/.docs-gen/bin-api-manager.extracted.json
  docs/reference/extractor.sh
Due: none

VOIP-1411-Fix-gawk-only-regex-subscribehandler-pattern
  docs/reference/extractor.sh
Due: none

VOIP-1411-Fix-gawk-only-regex-subscribehandler-pattern
  docs/reference/tests/extractor.bats
  docs/reference/tests/test_helper.bash
Due: none

VOIP-1405-Topic-exchange-publisher-rollout docs and plan
  docs/plans/2026-08-27-voip-1405-topic-publisher-rollout-design.md
  docs/reference/rabbitmq-queues-reference.md
  tasks/todo.md
Due: none

VOIP-1405-Topic-exchange-publisher-rollout review fixes round 2
  bin-email-manager/models/email/routingkey_golden_test.go
  bin-flow-manager/models/flow/routingkey_golden_test.go
  bin-message-manager/models/message/routingkey_golden_test.go
  bin-transcribe-manager/models/transcribe/routingkey_golden_test.go
  tasks/todo.md
Due: run-bin-email-manager, run-bin-flow-manager, run-bin-message-manager, run-bin-transcribe-manager

VOIP-1405-Topic-exchange-publisher-rollout plan completion record
  tasks/todo.md
Due: none

VOIP-1405-Topic-exchange-publisher-rollout review fixes round 4
  tasks/todo.md
Due: none

VOIP-1411-Fix-gawk-only-regex-subscribehandler-pattern
  .circleci/config.yml
  .circleci/config_work.yml
Due: none

NOJIRA-Add-manager-replica-scaling-docs
  bin-schedule-manager/docs/operations.md
  bin-schedule-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/README.md
  docs/workflows/manager-replica-scaling.md
Due: none

VOIP-1411-Fix-gawk-only-regex-subscribehandler-pattern (#1216)
  .circleci/config.yml
  .circleci/config_work.yml
  docs/reference/extractor.sh
  docs/reference/tests/extractor.bats
  docs/reference/tests/test_helper.bash
Due: none

VOIP-1405-Topic-exchange-publisher-rollout
  .circleci/config_work.yml
Due: none

NOJIRA-Add-manager-replica-scaling-docs (#1218)
  bin-schedule-manager/docs/operations.md
  bin-schedule-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/README.md
  docs/workflows/manager-replica-scaling.md
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  docs/plans/2026-08-28-voip-1419-explicit-subscription-id-design.md
  tasks/todo.md
Due: none

NOJIRA-Add-timeline-event-drop-metrics
  bin-timeline-manager/CLAUDE.md
  bin-timeline-manager/docs/operations.md
  bin-timeline-manager/go.mod
  bin-timeline-manager/pkg/subscribehandler/main.go
  bin-timeline-manager/pkg/subscribehandler/main_test.go
  bin-timeline-manager/pkg/subscribehandler/metrics.go
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  monitoring/grafana/dashboards/timeline-manager.json
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-sentinel-manager/docs/domain.md
  bin-sentinel-manager/models/pod/event.go
  bin-sentinel-manager/models/pod/event_test.go
  bin-sentinel-manager/models/pod/routingkey_golden_test.go
  bin-sentinel-manager/pkg/monitoringhandler/run.go
  bin-sentinel-manager/pkg/monitoringhandler/run_test.go
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-route-manager/models/provider/provider.go
  bin-route-manager/models/provider/provider_test.go
  bin-route-manager/models/providercall/providercall.go
  bin-route-manager/models/providercall/providercall_test.go
  bin-route-manager/models/route/route.go
  bin-route-manager/models/route/route_test.go
  bin-route-manager/models/route/routingkey_golden_test.go
Due: run-bin-route-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-contact-manager/models/contact/subscription.go
  bin-contact-manager/models/contact/subscription_test.go
  bin-contact-manager/models/kase/event_test.go
  bin-contact-manager/models/kase/routingkey_golden_test.go
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-ai-manager/models/ai/main.go
  bin-ai-manager/models/ai/routingkey_golden_test.go
  bin-ai-manager/models/ai/subscription_test.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/models/aicall/subscription_test.go
  bin-ai-manager/models/summary/main.go
  bin-ai-manager/models/summary/subscription_test.go
  bin-ai-manager/models/team/main.go
  bin-ai-manager/models/team/subscription_test.go
Due: none

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-customer-manager/models/accesskey/accesskey.go
  bin-customer-manager/models/accesskey/accesskey_test.go
  bin-customer-manager/models/customer/customer.go
  bin-customer-manager/models/customer/customer_test.go
  bin-customer-manager/models/customer/event.go
  bin-customer-manager/models/customer/event_test.go
  bin-customer-manager/models/customer/routingkey_golden_test.go
Due: run-bin-customer-manager

VOIP-1419-Enforce-explicit-event-subscription-id
  bin-call-manager/models/call/call.go
  bin-call-manager/models/call/call_test.go
  bin-call-manager/models/call/event_test.go
  bin-call-manager/models/call/routingkey_golden_test.go
  bin-call-manager/models/confbridge/confbridge_test.go
  bin-call-manager/models/confbridge/event.go
  bin-call-manager/models/confbridge/event_test.go
  bin-call-manager/models/confbridge/main.go
  bin-call-manager/models/groupcall/groupcall_test.go
  bin-call-manager/models/groupcall/main.go
  bin-call-manager/models/recording/recording.go
  bin-call-manager/models/recording/recording_test.go
Due: run-bin-call-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
