Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Add_activeflow_continue (#298)
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-common-handler/pkg/requesthandler/ai_aicalls_test.go
  bin-common-handler/pkg/requesthandler/ai_ais_test.go
  bin-common-handler/pkg/requesthandler/ai_messages_test.go
  bin-common-handler/pkg/requesthandler/ai_summaries_test.go
  bin-common-handler/pkg/requesthandler/ast_ami_test.go
  bin-common-handler/pkg/requesthandler/ast_channel_test.go
  bin-common-handler/pkg/requesthandler/ast_playback_test.go
  bin-common-handler/pkg/requesthandler/ast_proxy_test.go
  bin-common-handler/pkg/requesthandler/ast_recording_test.go
  bin-common-handler/pkg/requesthandler/conference_conference_test.go
  bin-common-handler/pkg/requesthandler/conference_conferencecall_test.go
  bin-common-handler/pkg/requesthandler/conversation_conversations_test.go
  bin-common-handler/pkg/requesthandler/conversation_messages_test.go
  bin-common-handler/pkg/requesthandler/flow_activeflow.go
  bin-common-handler/pkg/requesthandler/flow_activeflow_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-flow-manager/go.sum
  bin-flow-manager/models/action/action.go
  bin-flow-manager/pkg/activeflowhandler/activeflow.go
  bin-flow-manager/pkg/activeflowhandler/activeflow_test.go
  bin-flow-manager/pkg/activeflowhandler/execute.go
  bin-flow-manager/pkg/activeflowhandler/execute_test.go
  bin-flow-manager/pkg/activeflowhandler/main.go
  bin-flow-manager/pkg/activeflowhandler/mock_main.go
  bin-flow-manager/pkg/listenhandler/models/request/activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows.go
  bin-flow-manager/pkg/listenhandler/v1_activeflows_test.go
Due: run-bin-common-handler, run-bin-flow-manager

WIP
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/start.go
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/process_test.go
Due: none

NOJIRA-Fix_wrong_service_block (#295)
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-ai-manager/pkg/aicallhandler/service.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
Due: none

WIP
  .circleci/config_work.yml
  bin-dbscheme-bin-manager/Dockerfile
  bin-dbscheme-bin-manager/Dockerfile_org
  bin-dbscheme-bin-manager/asterisk_config/alembic.ini.sample
  bin-dbscheme-bin-manager/bin-manager/alembic.ini.sample
Due: run-bin-dbscheme-bin-manager

WIP
  .circleci/config_work.yml
Due: none

WIP
  bin-dbscheme-manager/Dockerfile
Due: none

Fixed
  .circleci/config_work.yml
Due: none

WIP
  .circleci/config_work.yml
  bin-flow-manager/README.md
Due: run-bin-flow-manager

WIP
  bin-common-handler/README.md
Due: run-bin-common-handler

VOIP-1160-Fix_circleci_flow_manager (#300)
  .circleci/config_work.yml
  bin-common-handler/README.md
  bin-flow-manager/README.md
Due: run-bin-common-handler, run-bin-flow-manager

WIP
  voip-asterisk-proxy/README.md
Due: run-voip-asterisk-proxy

NOJIRA-Fix_asterisk_proxy_docker_hub (#301)
  .circleci/config_work.yml
  voip-asterisk-proxy/README.md
Due: run-voip-asterisk-proxy

WIP
  voip-asterisk-proxy/cmd/asterisk-proxy/init.go
  voip-asterisk-proxy/cmd/asterisk-proxy/main.go
  voip-asterisk-proxy/pkg/eventhandler/ari_handler.go
  voip-asterisk-proxy/pkg/eventhandler/ari_handler_test.go
  voip-asterisk-proxy/pkg/listenhandler/ari_handler.go
  voip-asterisk-proxy/pkg/listenhandler/ari_handler_test.go
  voip-asterisk-proxy/pkg/servicehandler/recording.go
Due: run-voip-asterisk-proxy

NOJIRA-Add_asterisk_proxy_kubernetes_disabled (#302)
  voip-asterisk-proxy/cmd/asterisk-proxy/init.go
  voip-asterisk-proxy/cmd/asterisk-proxy/main.go
  voip-asterisk-proxy/pkg/eventhandler/ari_handler.go
  voip-asterisk-proxy/pkg/eventhandler/ari_handler_test.go
  voip-asterisk-proxy/pkg/listenhandler/ari_handler.go
  voip-asterisk-proxy/pkg/listenhandler/ari_handler_test.go
  voip-asterisk-proxy/pkg/servicehandler/recording.go
Due: run-voip-asterisk-proxy

WIP
  bin-customer-manager/cmd/customer-control/main.go
Due: run-bin-customer-manager

WIP
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/cmd/customer-manager/main.go
  bin-customer-manager/internal/config/main.go
Due: run-bin-customer-manager

Fixed
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/cmd/customer-manager/main.go
  bin-customer-manager/internal/config/main.go
Due: run-bin-customer-manager

Fixed
  bin-customer-manager/.gitignore
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/cmd/customer-manager/main.go
  bin-customer-manager/internal/config/main.go
Due: run-bin-customer-manager

Fixed
  bin-customer-manager/cmd/customer-control/main.go
Due: run-bin-customer-manager

Fixed
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/cmd/customer-manager/main.go
  bin-customer-manager/go.mod
  bin-customer-manager/go.sum
  bin-customer-manager/internal/config/main.go
Due: run-bin-customer-manager

Fixed
  bin-customer-manager/cmd/customer-manager/main.go
  bin-customer-manager/internal/config/main.go
Due: run-bin-customer-manager

VOIP-1165-Add_customer_control (#303)
  bin-customer-manager/.gitignore
  bin-customer-manager/cmd/customer-control/main.go
  bin-customer-manager/cmd/customer-manager/init.go
  bin-customer-manager/cmd/customer-manager/main.go
  bin-customer-manager/go.mod
  bin-customer-manager/go.sum
  bin-customer-manager/internal/config/main.go
Due: run-bin-customer-manager

Fixed
  bin-ai-manager/go.mod
  bin-ai-manager/pkg/engine_dialogflow_handler/message.go
  bin-api-manager/go.mod
  bin-api-manager/pkg/servicehandler/main.go
  bin-storage-manager/pkg/filehandler/main.go
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/pkg/streaminghandler/main.go
  bin-transcribe-manager/pkg/transcripthandler/main.go
  bin-tts-manager/pkg/audiohandler/gcp.go
  bin-tts-manager/pkg/buckethandler/main.go
Due: run-bin-api-manager, run-bin-storage-manager, run-bin-transcribe-manager, run-bin-tts-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
