Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

refactor: use priority-based handler building instead of hardcoded order
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

feat: add STT provider priority validation in NewStreamingHandler
  bin-transcribe-manager/pkg/streaminghandler/main.go
Due: run-bin-transcribe-manager

config: load STTProviderPriority in LoadGlobalConfig
  bin-transcribe-manager/internal/config/main.go
Due: run-bin-transcribe-manager

config: add stt_provider_priority flag and env binding
  bin-transcribe-manager/internal/config/main.go
Due: run-bin-transcribe-manager

test: fix existing tests by initializing STT provider priority config
  bin-transcribe-manager/pkg/streaminghandler/main_test.go
Due: run-bin-transcribe-manager

feat: add internal/config package with Cobra/Viper integration
  bin-flow-manager/internal/config/main.go
Due: run-bin-flow-manager

refactor: add Cobra command structure to main.go
  bin-flow-manager/cmd/flow-manager/main.go
Due: run-bin-flow-manager

refactor: remove dead code (signalHandler, createDBHandler)
  bin-flow-manager/cmd/flow-manager/init.go
  bin-flow-manager/cmd/flow-manager/main.go
Due: run-bin-flow-manager

fix: use empty defaults to match agent-manager pattern
  bin-flow-manager/internal/config/main.go
Due: run-bin-flow-manager

refactor: update all functions to use config.Get()
  bin-flow-manager/cmd/flow-manager/main.go
Due: run-bin-flow-manager

chore: add cobra dependency for config package
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
Due: run-bin-flow-manager

refactor: add runDaemon and helper functions to main.go
  bin-flow-manager/cmd/flow-manager/main.go
Due: run-bin-flow-manager

fix: handle empty Prometheus configuration gracefully
  bin-flow-manager/cmd/flow-manager/main.go
  bin-flow-manager/go.mod
Due: run-bin-flow-manager

docs: update CLAUDE.md with new config system
  bin-flow-manager/CLAUDE.md
Due: run-bin-flow-manager

refactor/flow-manager-cobra-viper (#326)
  bin-flow-manager/CLAUDE.md
  bin-flow-manager/cmd/flow-manager/init.go
  bin-flow-manager/cmd/flow-manager/main.go
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/internal/config/main.go
Due: run-bin-flow-manager

feat: add providerPriority field to streamingHandler struct
  bin-transcribe-manager/pkg/streaminghandler/main.go
Due: run-bin-transcribe-manager

config: add STTProviderPriority field to Config struct
  bin-transcribe-manager/internal/config/main.go
Due: run-bin-transcribe-manager

feat: add STTProvider type and constants for type safety
  bin-transcribe-manager/pkg/streaminghandler/main.go
Due: run-bin-transcribe-manager

docs: update CLAUDE.md with STT_PROVIDER_PRIORITY documentation
  bin-transcribe-manager/CLAUDE.md
Due: run-bin-transcribe-manager

docs: add implementation plan for configurable STT provider priority
  bin-transcribe-manager/docs/plans/2026-01-06-configurable-stt-provider-priority-implementation.md
Due: run-bin-transcribe-manager

fix: add error checking for os.Setenv in tests
  bin-transcribe-manager/pkg/streaminghandler/main_test.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/k8s/deployment.yml
Due: run-bin-transcribe-manager

feat: add case-insensitive STT provider validation
  bin-transcribe-manager/CLAUDE.md
  bin-transcribe-manager/pkg/streaminghandler/helper.go
  bin-transcribe-manager/pkg/streaminghandler/helper_test.go
  bin-transcribe-manager/pkg/streaminghandler/main.go
Due: run-bin-transcribe-manager

feat: add duplicate provider deduplication
  bin-transcribe-manager/CLAUDE.md
  bin-transcribe-manager/pkg/streaminghandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/main_test.go
Due: run-bin-transcribe-manager

fix: use uppercase STT provider priority in deployment config
  bin-transcribe-manager/k8s/deployment.yml
Due: run-bin-transcribe-manager

refactor: extract provider initialization and treat duplicates as errors
  bin-transcribe-manager/pkg/streaminghandler/helper.go
  bin-transcribe-manager/pkg/streaminghandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/main_test.go
Due: run-bin-transcribe-manager

test: add edge case coverage for empty strings in provider priority
  bin-transcribe-manager/pkg/streaminghandler/main_test.go
Due: run-bin-transcribe-manager

docs: add golangci-lint command to linting section
  bin-transcribe-manager/CLAUDE.md
Due: run-bin-transcribe-manager

feature/stt-priority-final (#327)
  bin-transcribe-manager/CLAUDE.md
  bin-transcribe-manager/docs/plans/2026-01-06-configurable-stt-provider-priority-implementation.md
  bin-transcribe-manager/internal/config/main.go
  bin-transcribe-manager/k8s/deployment.yml
  bin-transcribe-manager/pkg/streaminghandler/helper.go
  bin-transcribe-manager/pkg/streaminghandler/helper_test.go
  bin-transcribe-manager/pkg/streaminghandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/main_test.go
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

Fixed
  CLAUDE.md
Due: none

VOIP-1186: Fix conference incoming call customerID handling
  CLAUDE.md
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-conference-manager/go.mod
  bin-conference-manager/go.sum
  bin-conference-manager/pkg/conferencecallhandler/service.go
Due: run-bin-call-manager, run-bin-conference-manager
