Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

Add timeline servicehandler methods
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/timeline.go
Due: run-bin-api-manager

Add timeline servicehandler tests
  bin-api-manager/pkg/servicehandler/timeline_test.go
Due: run-bin-api-manager

NOJIRA-Add-timeline-external-api
  docs/plans/2026-02-03-timeline-external-api-design.md
Due: none

Update go.mod after verification
  bin-api-manager/go.mod
Due: run-bin-api-manager

NOJIRA-Add-timeline-external-api (#388)
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/timeline.go
  bin-api-manager/pkg/servicehandler/timeline_test.go
  bin-api-manager/server/timelines.go
  bin-api-manager/server/timelines_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/timelines/resource_events.yaml
  docs/plans/2026-02-03-timeline-external-api-design.md
  docs/plans/2026-02-03-timeline-external-api-implementation.md
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-contact-manager-circleci-and-dbscheme
  .circleci/config.yml
  .circleci/config_work.yml
  bin-dbscheme-manager/bin-manager/main/versions/a1b2c3d4e5f6_contact_create_tables.py
Due: none

NOJIRA-Add-contact-manager-circleci-and-dbscheme
  bin-contact-manager/.gitignore
  bin-contact-manager/LICENSE
Due: none

NOJIRA-Update-claudemd-worktree-and-api-docs
  CLAUDE.md
  bin-api-manager/CLAUDE.md
  bin-api-manager/go.mod
  bin-api-manager/go.sum
Due: run-bin-api-manager

NOJIRA-Add-grok-llm-support-design
  docs/plans/2026-02-03-add-grok-llm-support-design.md
Due: none

NOJIRA-Add-grok-llm-support-design
  .circleci/config_work.yml
  bin-ai-manager/models/ai/main.go
  bin-ai-manager/models/ai/main_test.go
  bin-pipecat-manager/k8s/deployment.yml
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
Due: none

NOJIRA-Add-grok-llm-support-design
  bin-ai-manager/CLAUDE.md
  bin-pipecat-manager/CLAUDE.md
Due: none

NOJIRA-Add-grok-llm-support-design
  bin-ai-manager/models/ai/main.go
Due: none

NOJIRA-Add-grok-llm-support-design (#391)
  .circleci/config_work.yml
  bin-ai-manager/CLAUDE.md
  bin-ai-manager/models/ai/main.go
  bin-ai-manager/models/ai/main_test.go
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/k8s/deployment.yml
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
  docs/plans/2026-02-03-add-grok-llm-support-design.md
Due: none

NOJIRA-Add-contact-api-endpoints
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-openapi-manager

NOJIRA-Add-contact-api-endpoints
  bin-openapi-manager/openapi/paths/contacts/id.yaml
  bin-openapi-manager/openapi/paths/contacts/main.yaml
Due: run-bin-openapi-manager

NOJIRA-Add-contact-api-endpoints
  bin-openapi-manager/openapi/paths/contacts/id_emails.yaml
  bin-openapi-manager/openapi/paths/contacts/id_emails_id.yaml
  bin-openapi-manager/openapi/paths/contacts/id_phonenumbers.yaml
  bin-openapi-manager/openapi/paths/contacts/id_phonenumbers_id.yaml
  bin-openapi-manager/openapi/paths/contacts/id_tags.yaml
  bin-openapi-manager/openapi/paths/contacts/id_tags_id.yaml
  bin-openapi-manager/openapi/paths/contacts/lookup.yaml
Due: run-bin-openapi-manager

NOJIRA-Add-contact-api-endpoints
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-openapi-manager

NOJIRA-Add-contact-api-endpoints
  bin-common-handler/go.mod
  bin-common-handler/pkg/requesthandler/contact_contacts.go
  bin-common-handler/pkg/requesthandler/contact_emails.go
  bin-common-handler/pkg/requesthandler/contact_phonenumbers.go
  bin-common-handler/pkg/requesthandler/contact_tags.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/send_request.go
  docs/plans/2026-02-04-contact-api-endpoints-implementation.md
Due: run-bin-common-handler

NOJIRA-Add-contact-api-endpoints
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/contact.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/contacts.go
Due: run-bin-api-manager

NOJIRA-Add-contact-api-endpoints
  bin-agent-manager/go.mod
  bin-ai-manager/go.mod
  bin-billing-manager/go.mod
  bin-call-manager/go.mod
  bin-campaign-manager/go.mod
  bin-conference-manager/go.mod
  bin-conversation-manager/go.mod
  bin-customer-manager/go.mod
  bin-email-manager/go.mod
  bin-flow-manager/go.mod
  bin-hook-manager/go.mod
  bin-message-manager/go.mod
  bin-number-manager/go.mod
  bin-outdial-manager/go.mod
  bin-pipecat-manager/go.mod
  bin-queue-manager/go.mod
  bin-registrar-manager/go.mod
  bin-route-manager/go.mod
  bin-sentinel-manager/go.mod
  bin-storage-manager/go.mod
  bin-tag-manager/go.mod
  bin-talk-manager/go.mod
  bin-timeline-manager/go.mod
  bin-transcribe-manager/go.mod
  bin-transfer-manager/go.mod
  bin-tts-manager/go.mod
  bin-webhook-manager/go.mod
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

NOJIRA-Add-contact-api-endpoints
  bin-contact-manager/pkg/dbhandler/contact.go
  bin-contact-manager/pkg/dbhandler/email.go
  bin-contact-manager/pkg/dbhandler/phone_number.go
  bin-contact-manager/pkg/dbhandler/tag_assignment.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
Due: none

NOJIRA-ISO8601-timestamp-migration-design
  docs/plans/2026-02-04-iso8601-timestamp-migration-design.md
Due: none

NOJIRA-circleci-credit-optimization
  .circleci/config_work.yml
  CLAUDE.md
  docs/plans/2026-02-05-circleci-credit-optimization-design.md
Due: none

NOJIRA-circleci-credit-optimization (#396)
  .circleci/config_work.yml
  CLAUDE.md
  docs/plans/2026-02-05-circleci-credit-optimization-design.md
Due: none

NOJIRA-ISO8601-timestamp-migration
  bin-dbscheme-manager/bin-manager/main/versions/507ad2f1a1d5_convert_timestamps_to_iso8601.py
Due: none

NOJIRA-ISO8601-timestamp-migration-go-mod-tidy
  bin-api-manager/go.mod
  bin-api-manager/go.sum
Due: run-bin-api-manager

NOJIRA-Add-address-validation-functions
  docs/plans/2026-02-05-address-validation-design.md
Due: none

NOJIRA-Add-address-validation-functions
  bin-common-handler/models/address/validate.go
  bin-common-handler/models/address/validate_test.go
  docs/plans/2026-02-05-address-validation-plan.md
Due: run-bin-common-handler

NOJIRA-Add-address-validation-functions (#397)
  bin-common-handler/models/address/validate.go
  bin-common-handler/models/address/validate_test.go
  docs/plans/2026-02-05-address-validation-design.md
  docs/plans/2026-02-05-address-validation-plan.md
Due: run-bin-common-handler

NOJIRA-ISO8601-timestamp-migration-design (#394)
  docs/plans/2026-02-04-iso8601-timestamp-migration-design.md
Due: none

NOJIRA-Fix-grok-engine-message-creation
  bin-ai-manager/pkg/aicallhandler/send.go
Due: none

NOJIRA-Fix-grok-engine-message-creation
  .circleci/config_work.yml
Due: none

NOJIRA-Timestamp-string-to-time-migration
  docs/plans/2026-02-05-timestamp-migration-design.md
Due: none

NOJIRA-Timestamp-string-to-time-migration
  docs/plans/2026-02-05-timestamp-migration-implementation.md
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
