Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

VOIP-1234-contact-case-rate-limit (#1069)
  bin-ai-manager/internal/config/main.go
  bin-ai-manager/pkg/aicallhandler/metrics_conversation.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

VOIP-1234-in-reply-to-message-id
  bin-ai-manager/models/message/main.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
  bin-ai-manager/pkg/listenhandler/v1_messages_test.go
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/messagehandler/event.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_messages.sql
  bin-dbscheme-manager/bin-manager/main/versions/62f4235bc8e0_ai_messages_add_column_in_reply_to_.py
  bin-pipecat-manager/models/message/main.go
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/listenhandler/v1_messages_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_flush_test.go
Due: none

VOIP-1234-in-reply-to-message-id
  bin-pipecat-manager/models/message/main.go
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/models/pipecatcall/session_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_flush_test.go
Due: none

VOIP-1234-in-reply-to-message-id
  bin-pipecat-manager/models/pipecatcall/session.go
Due: none

VOIP-1234-in-reply-to-message-id (#1070)
  bin-ai-manager/models/message/main.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
  bin-ai-manager/pkg/listenhandler/v1_messages_test.go
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/messagehandler/event.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_messages.sql
  bin-dbscheme-manager/bin-manager/main/versions/62f4235bc8e0_ai_messages_add_column_in_reply_to_.py
  bin-pipecat-manager/models/message/main.go
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/models/pipecatcall/session_test.go
  bin-pipecat-manager/pkg/listenhandler/v1_messages_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_flush_test.go
Due: none

VOIP-1234-insight-tool-fallback-alert
  bin-pipecat-manager/docs/operations.md
  bin-pipecat-manager/pkg/pipecatcallhandler/metrics.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_toolfallback_test.go
Due: none

VOIP-1234-insight-tool-fallback-alert (#1071)
  bin-pipecat-manager/docs/operations.md
  bin-pipecat-manager/pkg/pipecatcallhandler/metrics.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_toolfallback_test.go
Due: none

VOIP-1234-team-insight-member-reject
  bin-ai-manager/pkg/teamhandler/handler.go
  bin-ai-manager/pkg/teamhandler/handler_test.go
Due: none

VOIP-1234-team-insight-member-reject (#1073)
  bin-ai-manager/pkg/teamhandler/handler.go
  bin-ai-manager/pkg/teamhandler/handler_test.go
Due: none

Strengthen GetContactCases HTTP test to assert exact contact_id value
  bin-api-manager/server/contact_cases_test.go
Due: run-bin-api-manager

Add ORDER BY + pagination to CaseList (GET /v1/cases, /contact_cases)
  bin-common-handler/pkg/requesthandler/contact_cases.go
  bin-common-handler/pkg/requesthandler/contact_cases_test.go
  bin-contact-manager/pkg/casehandler/case_list_get.go
  bin-contact-manager/pkg/casehandler/case_list_get_test.go
  bin-contact-manager/pkg/casehandler/main.go
  bin-contact-manager/pkg/casehandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/kase.go
  bin-contact-manager/pkg/dbhandler/kase_list_test.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/listenhandler/v1_cases.go
  bin-contact-manager/pkg/listenhandler/v1_cases_test.go
Due: run-bin-common-handler

Document nextToken wire-boundary limitation (round-1 review)
  bin-common-handler/pkg/requesthandler/contact_cases.go
Due: run-bin-common-handler

NOJIRA-case-list-pagination (#1077)
  bin-common-handler/pkg/requesthandler/contact_cases.go
  bin-common-handler/pkg/requesthandler/contact_cases_test.go
  bin-contact-manager/pkg/casehandler/case_list_get.go
  bin-contact-manager/pkg/casehandler/case_list_get_test.go
  bin-contact-manager/pkg/casehandler/main.go
  bin-contact-manager/pkg/casehandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/kase.go
  bin-contact-manager/pkg/dbhandler/kase_list_test.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/listenhandler/v1_cases.go
  bin-contact-manager/pkg/listenhandler/v1_cases_test.go
Due: run-bin-common-handler

NOJIRA-fix-provider-setup-use-fqdn-connection
  bin-route-manager/cmd/route-manager/main.go
  bin-route-manager/docs/operations.md
  bin-route-manager/internal/config/config.go
  bin-route-manager/k8s/deployment.yml
  bin-route-manager/pkg/providerhandler/main.go
  bin-route-manager/pkg/providerhandler/provider_test.go
  bin-route-manager/pkg/providerhandler/setup.go
  bin-route-manager/pkg/providerhandler/setup_test.go
  bin-route-manager/pkg/telnyxclient/main.go
  bin-route-manager/pkg/telnyxclient/mock_main.go
  bin-route-manager/pkg/telnyxclient/telnyx.go
  bin-route-manager/pkg/telnyxclient/telnyx_test.go
Due: run-bin-route-manager

NOJIRA-Fix-provider-setup-use-fqdn-connection (#1078)
  bin-route-manager/cmd/route-manager/main.go
  bin-route-manager/docs/operations.md
  bin-route-manager/internal/config/config.go
  bin-route-manager/k8s/deployment.yml
  bin-route-manager/pkg/providerhandler/main.go
  bin-route-manager/pkg/providerhandler/provider_test.go
  bin-route-manager/pkg/providerhandler/setup.go
  bin-route-manager/pkg/providerhandler/setup_test.go
  bin-route-manager/pkg/telnyxclient/main.go
  bin-route-manager/pkg/telnyxclient/mock_main.go
  bin-route-manager/pkg/telnyxclient/telnyx.go
  bin-route-manager/pkg/telnyxclient/telnyx_test.go
Due: run-bin-route-manager

VOIP-1243-contact-case-create-action
  docs/plans/2026-07-10-contact-case-create-action-design.md
Due: none

Add contact_case_id activeflow-variable dedup
  docs/plans/2026-07-10-contact-case-create-action-design.md
Due: none

Confirm contact_case_id peer-scoping gap is not applicable
  docs/plans/2026-07-10-contact-case-create-action-design.md
Due: none

VOIP-1243-case-create-rpc
  bin-common-handler/pkg/requesthandler/contact_cases.go
  bin-common-handler/pkg/requesthandler/contact_cases_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-contact-manager/models/kase/kase.go
  bin-contact-manager/pkg/casehandler/create.go
  bin-contact-manager/pkg/casehandler/create_test.go
  bin-contact-manager/pkg/casehandler/main.go
  bin-contact-manager/pkg/casehandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/kase_test.go
  bin-contact-manager/pkg/listenhandler/main.go
  bin-contact-manager/pkg/listenhandler/models/request/v1_cases.go
  bin-contact-manager/pkg/listenhandler/v1_cases.go
  bin-contact-manager/pkg/listenhandler/v1_cases_post_test.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
  bin-dbscheme-manager/bin-manager/main/versions/a10299e7932a_contact_cases_add_column_name_detail.py
Due: run-bin-common-handler

VOIP-1243-case-create-action-wiring
  bin-ai-manager/go.mod
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/models/tool/main.go
  bin-ai-manager/pkg/actioncatalog/main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_case_create_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-ai-manager/pkg/toolhandler/main_test.go
  bin-ai-manager/pkg/toolhandler/whitelist.go
  bin-ai-manager/pkg/toolhandler/whitelist_test.go
  bin-flow-manager/go.mod
  bin-flow-manager/models/action/action.go
  bin-flow-manager/models/action/option.go
  bin-flow-manager/models/action/option_registry.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_case_create_test.go
  bin-flow-manager/pkg/activeflowhandler/execute.go
Due: run-bin-flow-manager

VOIP-1243-remove-automatic-case-creation
  bin-contact-manager/pkg/contacthandler/interaction.go
  bin-contact-manager/pkg/contacthandler/interaction_test.go
Due: none

Fix PR review round-2 findings: zero-value peer + AI-tool RPC-error asymmetry
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_case_create_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_case_create_test.go
Due: run-bin-flow-manager

VOIP-1243-case-create-rpc (#1080)
  bin-common-handler/pkg/requesthandler/contact_cases.go
  bin-common-handler/pkg/requesthandler/contact_cases_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-contact-manager/models/kase/kase.go
  bin-contact-manager/pkg/casehandler/create.go
  bin-contact-manager/pkg/casehandler/create_test.go
  bin-contact-manager/pkg/casehandler/main.go
  bin-contact-manager/pkg/casehandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/kase_test.go
  bin-contact-manager/pkg/listenhandler/main.go
  bin-contact-manager/pkg/listenhandler/models/request/v1_cases.go
  bin-contact-manager/pkg/listenhandler/v1_cases.go
  bin-contact-manager/pkg/listenhandler/v1_cases_post_test.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
  bin-dbscheme-manager/bin-manager/main/versions/a10299e7932a_contact_cases_add_column_name_detail.py
Due: run-bin-common-handler

VOIP-1243-case-create-action-wiring (#1083)
  bin-ai-manager/go.mod
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/models/tool/main.go
  bin-ai-manager/pkg/actioncatalog/main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_case_create_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-ai-manager/pkg/toolhandler/main_test.go
  bin-ai-manager/pkg/toolhandler/whitelist.go
  bin-ai-manager/pkg/toolhandler/whitelist_test.go
  bin-flow-manager/go.mod
  bin-flow-manager/models/action/action.go
  bin-flow-manager/models/action/option.go
  bin-flow-manager/models/action/option_registry.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_case_create_test.go
  bin-flow-manager/pkg/activeflowhandler/execute.go
Due: run-bin-flow-manager

VOIP-1243-remove-automatic-case-creation (#1084)
  bin-contact-manager/pkg/contacthandler/interaction.go
  bin-contact-manager/pkg/contacthandler/interaction_test.go
Due: none

VOIP-1245-address-embedding-cleanup
  bin-contact-manager/models/contact/address.go
  bin-contact-manager/models/contact/webhook_test.go
  bin-contact-manager/models/interaction/interaction.go
  bin-contact-manager/models/interaction/interaction_test.go
  bin-contact-manager/pkg/cachehandler/handler_test.go
  bin-contact-manager/pkg/casehandler/casenote_isolation_test.go
  bin-contact-manager/pkg/contacthandler/contact.go
  bin-contact-manager/pkg/contacthandler/contact_additional_test.go
  bin-contact-manager/pkg/contacthandler/contact_test.go
  bin-contact-manager/pkg/contacthandler/contact_unresolved_address_test.go
  bin-contact-manager/pkg/contacthandler/interaction.go
  bin-contact-manager/pkg/contacthandler/interaction_read.go
  bin-contact-manager/pkg/dbhandler/additional_test.go
  bin-contact-manager/pkg/dbhandler/address.go
  bin-contact-manager/pkg/dbhandler/address_lookup_kase_test.go
  bin-contact-manager/pkg/dbhandler/address_migration_test.go
  bin-contact-manager/pkg/dbhandler/address_test.go
  bin-contact-manager/pkg/dbhandler/contact.go
  bin-contact-manager/pkg/dbhandler/contact_test.go
  bin-contact-manager/pkg/dbhandler/interaction_case_id_test.go
  bin-contact-manager/pkg/listenhandler/v1_contact_addresses.go
  bin-contact-manager/pkg/listenhandler/v1_contact_addresses_routing_test.go
  bin-contact-manager/pkg/listenhandler/v1_contact_addresses_unresolved_test.go
  bin-contact-manager/pkg/listenhandler/v1_contacts.go
  bin-contact-manager/pkg/listenhandler/v1_contacts_addresses.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
  bin-dbscheme-manager/bin-manager/main/versions/ce27eeb27456_contact_interactions_drop_column_case_id.py
Due: none

VOIP-1245-address-embedding-cleanup
  bin-contact-manager/pkg/cachehandler/handler_test.go
  bin-contact-manager/pkg/contacthandler/contact_additional_test.go
  bin-contact-manager/pkg/contacthandler/contact_test.go
  bin-contact-manager/pkg/contacthandler/contact_unresolved_address_test.go
  bin-contact-manager/pkg/dbhandler/additional_test.go
  bin-contact-manager/pkg/dbhandler/address_lookup_kase_test.go
  bin-contact-manager/pkg/dbhandler/address_migration_test.go
  bin-contact-manager/pkg/dbhandler/address_test.go
  bin-contact-manager/pkg/dbhandler/contact_test.go
  bin-contact-manager/pkg/listenhandler/v1_contact_addresses_unresolved_test.go
Due: none

VOIP-1245-address-embedding-cleanup
  bin-contact-manager/models/contact/webhook_test.go
  bin-contact-manager/pkg/contacthandler/contact_test.go
Due: none

VOIP-1245-address-embedding-cleanup (#1085)
  bin-contact-manager/models/contact/address.go
  bin-contact-manager/models/contact/webhook_test.go
  bin-contact-manager/models/interaction/interaction.go
  bin-contact-manager/models/interaction/interaction_test.go
  bin-contact-manager/pkg/cachehandler/handler_test.go
  bin-contact-manager/pkg/casehandler/casenote_isolation_test.go
  bin-contact-manager/pkg/contacthandler/contact.go
  bin-contact-manager/pkg/contacthandler/contact_additional_test.go
  bin-contact-manager/pkg/contacthandler/contact_test.go
  bin-contact-manager/pkg/contacthandler/contact_unresolved_address_test.go
  bin-contact-manager/pkg/contacthandler/interaction.go
  bin-contact-manager/pkg/contacthandler/interaction_read.go
  bin-contact-manager/pkg/dbhandler/additional_test.go
  bin-contact-manager/pkg/dbhandler/address.go
  bin-contact-manager/pkg/dbhandler/address_lookup_kase_test.go
  bin-contact-manager/pkg/dbhandler/address_migration_test.go
  bin-contact-manager/pkg/dbhandler/address_test.go
  bin-contact-manager/pkg/dbhandler/contact.go
  bin-contact-manager/pkg/dbhandler/contact_test.go
  bin-contact-manager/pkg/dbhandler/interaction_case_id_test.go
  bin-contact-manager/pkg/listenhandler/v1_contact_addresses.go
  bin-contact-manager/pkg/listenhandler/v1_contact_addresses_routing_test.go
  bin-contact-manager/pkg/listenhandler/v1_contact_addresses_unresolved_test.go
  bin-contact-manager/pkg/listenhandler/v1_contacts.go
  bin-contact-manager/pkg/listenhandler/v1_contacts_addresses.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
  bin-dbscheme-manager/bin-manager/main/versions/ce27eeb27456_contact_interactions_drop_column_case_id.py
Due: none

VOIP-1246-dbscheme-manager-migrate-job
  .circleci/config_work.yml
  bin-dbscheme-manager/ci/migrate.py
  bin-dbscheme-manager/ci/test_migrate.py
  docs/plans/2026-07-11-dbscheme-manager-production-migration-job-design.md
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
