Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-typed-rpc-pr20-webhook
  bin-webhook-manager/pkg/listenhandler/error_response_test.go
  bin-webhook-manager/pkg/listenhandler/main.go
Due: run-bin-webhook-manager

NOJIRA-typed-rpc-pr20-webhook (#842)
  bin-webhook-manager/pkg/listenhandler/error_response_test.go
  bin-webhook-manager/pkg/listenhandler/main.go
Due: run-bin-webhook-manager

NOJIRA-typed-rpc-pr22-timeline
  bin-timeline-manager/pkg/dbhandler/main.go
  bin-timeline-manager/pkg/listenhandler/error_response_test.go
  bin-timeline-manager/pkg/listenhandler/main.go
Due: none

NOJIRA-typed-rpc-pr23-tag
  bin-tag-manager/pkg/listenhandler/error_response_test.go
  bin-tag-manager/pkg/listenhandler/main.go
  bin-tag-manager/pkg/listenhandler/v1_tags.go
  bin-tag-manager/pkg/listenhandler/v1_tags_error_test.go
  bin-tag-manager/pkg/taghandler/tag.go
Due: run-bin-tag-manager

NOJIRA-typed-rpc-pr24-contact
  bin-contact-manager/pkg/contacthandler/contact.go
  bin-contact-manager/pkg/listenhandler/error_response_test.go
  bin-contact-manager/pkg/listenhandler/main.go
  bin-contact-manager/pkg/listenhandler/v1_contacts.go
  bin-contact-manager/pkg/listenhandler/v1_contacts_test.go
Due: none

NOJIRA-typed-rpc-pr25-direct
  bin-direct-manager/pkg/directhandler/handler.go
  bin-direct-manager/pkg/listenhandler/error_response_test.go
  bin-direct-manager/pkg/listenhandler/main.go
  bin-direct-manager/pkg/listenhandler/v1_directs.go
Due: none

NOJIRA-typed-rpc-pr26-talk
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/message.go
  bin-talk-manager/pkg/dbhandler/participant.go
  bin-talk-manager/pkg/listenhandler/error_response_test.go
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
  bin-talk-manager/pkg/listenhandler/v1_chats_participants.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/participanthandler/participant.go
  bin-talk-manager/pkg/participanthandler/participant_test.go
Due: none

NOJIRA-typed-rpc-pr27-transfer
  bin-common-handler/models/outline/servicename.go
  bin-transfer-manager/pkg/dbhandler/transfer_test.go
  bin-transfer-manager/pkg/listenhandler/error_response_test.go
  bin-transfer-manager/pkg/listenhandler/main.go
  bin-transfer-manager/pkg/transferhandler/db.go
  bin-transfer-manager/pkg/transferhandler/db_test.go
Due: run-bin-common-handler, run-bin-transfer-manager

NOJIRA-typed-rpc-pr28-route
  bin-route-manager/pkg/listenhandler/error_response_test.go
  bin-route-manager/pkg/listenhandler/main.go
  bin-route-manager/pkg/providercallhandler/providercall.go
  bin-route-manager/pkg/providerhandler/provider.go
  bin-route-manager/pkg/routehandler/route.go
Due: run-bin-route-manager

NOJIRA-typed-rpc-pr29-registrar
  bin-registrar-manager/pkg/extensionhandler/extension.go
  bin-registrar-manager/pkg/listenhandler/error_response_test.go
  bin-registrar-manager/pkg/listenhandler/main.go
  bin-registrar-manager/pkg/trunkhandler/trunk.go
Due: run-bin-registrar-manager

NOJIRA-typed-rpc-final-cleanup
  bin-api-manager/server/error_translate.go
Due: run-bin-api-manager

NOJIRA-typed-rpc-pr22-timeline (#843)
  bin-timeline-manager/pkg/dbhandler/main.go
  bin-timeline-manager/pkg/listenhandler/error_response_test.go
  bin-timeline-manager/pkg/listenhandler/main.go
Due: none

NOJIRA-typed-rpc-pr23-tag (#844)
  bin-tag-manager/pkg/listenhandler/error_response_test.go
  bin-tag-manager/pkg/listenhandler/main.go
  bin-tag-manager/pkg/listenhandler/v1_tags.go
  bin-tag-manager/pkg/listenhandler/v1_tags_error_test.go
  bin-tag-manager/pkg/taghandler/tag.go
Due: run-bin-tag-manager

NOJIRA-typed-rpc-pr24-contact (#845)
  bin-contact-manager/pkg/contacthandler/contact.go
  bin-contact-manager/pkg/listenhandler/error_response_test.go
  bin-contact-manager/pkg/listenhandler/main.go
  bin-contact-manager/pkg/listenhandler/v1_contacts.go
  bin-contact-manager/pkg/listenhandler/v1_contacts_test.go
Due: none

NOJIRA-typed-rpc-pr25-direct (#846)
  bin-direct-manager/pkg/directhandler/handler.go
  bin-direct-manager/pkg/listenhandler/error_response_test.go
  bin-direct-manager/pkg/listenhandler/main.go
  bin-direct-manager/pkg/listenhandler/v1_directs.go
Due: none

NOJIRA-typed-rpc-pr26-talk (#847)
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/message.go
  bin-talk-manager/pkg/dbhandler/participant.go
  bin-talk-manager/pkg/listenhandler/error_response_test.go
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
  bin-talk-manager/pkg/listenhandler/v1_chats_participants.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/participanthandler/participant.go
  bin-talk-manager/pkg/participanthandler/participant_test.go
Due: none

NOJIRA-typed-rpc-pr27-transfer (#848)
  bin-common-handler/models/outline/servicename.go
  bin-transfer-manager/pkg/dbhandler/transfer_test.go
  bin-transfer-manager/pkg/listenhandler/error_response_test.go
  bin-transfer-manager/pkg/listenhandler/main.go
  bin-transfer-manager/pkg/transferhandler/db.go
  bin-transfer-manager/pkg/transferhandler/db_test.go
Due: run-bin-common-handler, run-bin-transfer-manager

NOJIRA-typed-rpc-pr28-route (#849)
  bin-route-manager/pkg/listenhandler/error_response_test.go
  bin-route-manager/pkg/listenhandler/main.go
  bin-route-manager/pkg/providercallhandler/providercall.go
  bin-route-manager/pkg/providerhandler/provider.go
  bin-route-manager/pkg/routehandler/route.go
Due: run-bin-route-manager

NOJIRA-typed-rpc-pr29-registrar (#850)
  bin-registrar-manager/pkg/extensionhandler/extension.go
  bin-registrar-manager/pkg/listenhandler/error_response_test.go
  bin-registrar-manager/pkg/listenhandler/main.go
  bin-registrar-manager/pkg/trunkhandler/trunk.go
Due: run-bin-registrar-manager

NOJIRA-typed-rpc-final-cleanup (#851)
  bin-api-manager/server/error_translate.go
Due: run-bin-api-manager

NOJIRA-typed-rpc-svchandler-perm
  bin-api-manager/pkg/servicehandler/billingaccount.go
  bin-api-manager/pkg/servicehandler/call.go
  bin-api-manager/pkg/servicehandler/conference.go
  bin-api-manager/pkg/servicehandler/conferencecall.go
  bin-api-manager/pkg/servicehandler/conversation.go
  bin-api-manager/pkg/servicehandler/conversation_account.go
  bin-api-manager/pkg/servicehandler/conversation_message.go
  bin-api-manager/pkg/servicehandler/customer.go
  bin-api-manager/pkg/servicehandler/numbers.go
  bin-api-manager/pkg/servicehandler/outdials.go
  bin-api-manager/pkg/servicehandler/outdialtargets.go
  bin-api-manager/pkg/servicehandler/outplans.go
  bin-api-manager/pkg/servicehandler/provider.go
  bin-api-manager/pkg/servicehandler/providercall.go
  bin-api-manager/pkg/servicehandler/recording.go
  bin-api-manager/pkg/servicehandler/recordingfile.go
  bin-api-manager/pkg/servicehandler/route.go
  bin-api-manager/pkg/servicehandler/serviceagent_agent.go
  bin-api-manager/pkg/servicehandler/serviceagent_call.go
  bin-api-manager/pkg/servicehandler/serviceagent_contact.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversation.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversationmessage.go
  bin-api-manager/pkg/servicehandler/serviceagent_tag.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/pkg/servicehandler/speaking.go
  bin-api-manager/pkg/servicehandler/tag.go
  bin-api-manager/pkg/servicehandler/timeline_sip.go
  bin-api-manager/pkg/servicehandler/transcribe.go
  bin-api-manager/pkg/servicehandler/transcript.go
  bin-api-manager/pkg/servicehandler/transfer.go
  bin-api-manager/pkg/servicehandler/trunk.go
Due: run-bin-api-manager

NOJIRA-typed-rpc-svchandler-perm (#852)
  bin-api-manager/pkg/servicehandler/billingaccount.go
  bin-api-manager/pkg/servicehandler/call.go
  bin-api-manager/pkg/servicehandler/conference.go
  bin-api-manager/pkg/servicehandler/conferencecall.go
  bin-api-manager/pkg/servicehandler/conversation.go
  bin-api-manager/pkg/servicehandler/conversation_account.go
  bin-api-manager/pkg/servicehandler/conversation_message.go
  bin-api-manager/pkg/servicehandler/customer.go
  bin-api-manager/pkg/servicehandler/numbers.go
  bin-api-manager/pkg/servicehandler/outdials.go
  bin-api-manager/pkg/servicehandler/outdialtargets.go
  bin-api-manager/pkg/servicehandler/outplans.go
  bin-api-manager/pkg/servicehandler/provider.go
  bin-api-manager/pkg/servicehandler/providercall.go
  bin-api-manager/pkg/servicehandler/recording.go
  bin-api-manager/pkg/servicehandler/recordingfile.go
  bin-api-manager/pkg/servicehandler/route.go
  bin-api-manager/pkg/servicehandler/serviceagent_agent.go
  bin-api-manager/pkg/servicehandler/serviceagent_call.go
  bin-api-manager/pkg/servicehandler/serviceagent_contact.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversation.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversationmessage.go
  bin-api-manager/pkg/servicehandler/serviceagent_tag.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/pkg/servicehandler/speaking.go
  bin-api-manager/pkg/servicehandler/tag.go
  bin-api-manager/pkg/servicehandler/timeline_sip.go
  bin-api-manager/pkg/servicehandler/transcribe.go
  bin-api-manager/pkg/servicehandler/transcript.go
  bin-api-manager/pkg/servicehandler/transfer.go
  bin-api-manager/pkg/servicehandler/trunk.go
Due: run-bin-api-manager

NOJIRA-typed-rpc-svchandler-validation
  bin-api-manager/pkg/servicehandler/accesskeys.go
  bin-api-manager/pkg/servicehandler/aicall.go
  bin-api-manager/pkg/servicehandler/aisummary.go
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/message.go
  bin-api-manager/pkg/servicehandler/numbers.go
  bin-api-manager/pkg/servicehandler/outdialtargets.go
  bin-api-manager/pkg/servicehandler/timeline.go
  bin-api-manager/pkg/servicehandler/transcribe.go
  bin-api-manager/server/aggregated_events_test.go
  bin-api-manager/server/error_translate.go
Due: run-bin-api-manager

NOJIRA-typed-rpc-svchandler-notfound
  bin-api-manager/pkg/servicehandler/billingaccount.go
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/providercall.go
  bin-api-manager/pkg/servicehandler/timeline_sip.go
Due: run-bin-api-manager

NOJIRA-typed-rpc-svchandler-notfound (#854)
  bin-api-manager/pkg/servicehandler/billingaccount.go
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/providercall.go
  bin-api-manager/pkg/servicehandler/timeline_sip.go
Due: run-bin-api-manager

NOJIRA-claude-md-categorization: add design doc
  docs/plans/2026-04-27-claude-md-categorization-design.md
Due: none

NOJIRA-claude-md-categorization: add implementation plan
  docs/plans/2026-04-27-claude-md-categorization-plan.md
Due: none

NOJIRA-typed-rpc-svchandler-final-comments
  bin-api-manager/server/calls_test.go
  bin-api-manager/server/customer_test.go
  bin-api-manager/server/customers_test.go
  bin-api-manager/server/emails_test.go
  bin-api-manager/server/flows_test.go
  bin-api-manager/server/groupcalls_test.go
  bin-api-manager/server/me_test.go
  bin-api-manager/server/messages_test.go
  bin-api-manager/server/numbers_test.go
  bin-api-manager/server/recordings_test.go
  bin-api-manager/server/service_agents_me_test.go
Due: run-bin-api-manager

NOJIRA-claude-md-categorization: add category skeletons and check-docs.sh
  docs/README.md
  docs/architecture/README.md
  docs/conventions/README.md
  docs/patterns/README.md
  docs/reference/README.md
  docs/workflows/README.md
  scripts/check-docs.sh
Due: none

NOJIRA-claude-md-categorization: move flat docs into category subdirs
  docs/architecture/architecture-deep-dive.md
  docs/architecture/service-dependency-graph.md
  docs/conventions/database-patterns-checklist.md
  docs/conventions/error-handling-patterns.md
  docs/conventions/test-utilities-guide.md
  docs/reference/claude-md-template.md
  docs/reference/code-quality-standards.md
  docs/reference/rabbitmq-queues-reference.md
  docs/workflows/common-workflows.md
  docs/workflows/development-guide.md
  docs/workflows/git-workflow-guide.md
  docs/workflows/special-cases.md
  docs/workflows/verification-workflows.md
Due: none

NOJIRA-claude-md-categorization: update internal references to moved docs
  CLAUDE.md
Due: none

NOJIRA-claude-md-categorization: split coding-conventions.md into per-topic files
  .claude/scripts/check-error-log-return.sh
  CLAUDE.md
  bin-billing-manager/CLAUDE.md
  docs/coding-conventions.md
  docs/conventions/README.md
  docs/conventions/api-design.md
  docs/conventions/configuration.md
  docs/conventions/database.md
  docs/conventions/direct-resource-types.md
  docs/conventions/error-handling.md
  docs/conventions/events.md
  docs/conventions/handlers.md
  docs/conventions/imports.md
  docs/conventions/logging.md
  docs/conventions/metrics.md
  docs/conventions/models.md
  docs/conventions/naming.md
  docs/conventions/package-structure.md
  docs/conventions/rpc.md
  docs/conventions/security.md
  docs/conventions/testing.md
Due: run-bin-billing-manager

NOJIRA-claude-md-categorization: fold duplicate-topic files into canonical conventions docs
  docs/conventions/database-patterns-checklist.md
  docs/conventions/database.md
  docs/conventions/error-handling-patterns.md
  docs/conventions/error-handling.md
  docs/conventions/test-utilities-guide.md
  docs/conventions/testing.md
Due: none

NOJIRA-claude-md-categorization: fix heading hierarchy in three folded conventions files
  docs/conventions/database.md
  docs/conventions/error-handling.md
  docs/conventions/testing.md
Due: none

NOJIRA-claude-md-categorization: document the per-target circuit breaker pattern
  docs/patterns/circuit-breaker.md
Due: none

NOJIRA-claude-md-categorization: document the per-pod liveness preflight pattern
  docs/patterns/per-pod-liveness-preflight.md
Due: none
