Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Fix-contact-phone-number-e164-normalization
  bin-contact-manager/pkg/contacthandler/contact.go
  bin-contact-manager/pkg/contacthandler/contact_test.go
Due: none

NOJIRA-Fix-contact-phone-number-e164-normalization
  bin-contact-manager/pkg/contacthandler/contact.go
  bin-contact-manager/pkg/contacthandler/contact_test.go
  bin-contact-manager/pkg/dbhandler/email.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/phone_number.go
Due: none

NOJIRA-Fix-contact-phone-number-e164-normalization
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/contact.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/contacts.go
  bin-common-handler/pkg/requesthandler/contact_emails.go
  bin-common-handler/pkg/requesthandler/contact_phonenumbers.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-contact-manager/pkg/contacthandler/contact.go
  bin-contact-manager/pkg/contacthandler/main.go
  bin-contact-manager/pkg/contacthandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/email.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/phone_number.go
  bin-contact-manager/pkg/listenhandler/main.go
  bin-contact-manager/pkg/listenhandler/models/request/contacts.go
  bin-contact-manager/pkg/listenhandler/v1_contacts.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/paths/contacts/id_emails_id.yaml
  bin-openapi-manager/openapi/paths/contacts/id_phonenumbers_id.yaml
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Fix-contact-phone-number-e164-normalization
  bin-contact-manager/pkg/dbhandler/email.go
  bin-contact-manager/pkg/dbhandler/phone_number.go
Due: none

NOJIRA-Fix-contact-phone-number-e164-normalization (#408)
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/contact.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/contacts.go
  bin-common-handler/pkg/requesthandler/contact_emails.go
  bin-common-handler/pkg/requesthandler/contact_phonenumbers.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-contact-manager/pkg/contacthandler/contact.go
  bin-contact-manager/pkg/contacthandler/contact_test.go
  bin-contact-manager/pkg/contacthandler/main.go
  bin-contact-manager/pkg/contacthandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/email.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/phone_number.go
  bin-contact-manager/pkg/listenhandler/main.go
  bin-contact-manager/pkg/listenhandler/models/request/contacts.go
  bin-contact-manager/pkg/listenhandler/v1_contacts.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/paths/contacts/id_emails_id.yaml
  bin-openapi-manager/openapi/paths/contacts/id_phonenumbers_id.yaml
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Add-password-reset-link-feature
  bin-agent-manager/cmd/agent-control/main.go
  bin-agent-manager/cmd/agent-manager/main.go
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/main.go
  bin-agent-manager/pkg/agenthandler/mock_main.go
  bin-agent-manager/pkg/cachehandler/handler.go
  bin-agent-manager/pkg/cachehandler/main.go
  bin-agent-manager/pkg/cachehandler/mock_main.go
  bin-agent-manager/pkg/listenhandler/main.go
  bin-agent-manager/pkg/listenhandler/models/request/password.go
  bin-agent-manager/pkg/listenhandler/v1_password_forgot.go
  bin-agent-manager/pkg/listenhandler/v1_password_reset.go
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/internal/config/main.go
  bin-api-manager/lib/service/auth.go
  bin-api-manager/pkg/servicehandler/auth.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/auth.go
  bin-common-handler/pkg/requesthandler/agent_password.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/auth/password-forgot.yaml
  bin-openapi-manager/openapi/paths/auth/password-reset.yaml
  docs/plans/2026-02-07-password-reset-implementation.md
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Add-password-reset-link-feature
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_password_test.go
  bin-agent-manager/pkg/listenhandler/v1_password_forgot_test.go
  bin-agent-manager/pkg/listenhandler/v1_password_reset_test.go
  bin-api-manager/lib/service/auth.go
  bin-api-manager/pkg/servicehandler/auth_password_test.go
  bin-api-manager/server/auth.go
  bin-api-manager/server/auth_password_test.go
Due: run-bin-agent-manager, run-bin-api-manager

NOJIRA-Fix-default-agent-password-reset-email
  bin-agent-manager/internal/config/main.go
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_password_test.go
  bin-agent-manager/pkg/agenthandler/event.go
  bin-agent-manager/pkg/agenthandler/event_test.go
  bin-agent-manager/pkg/agenthandler/main.go
  bin-agent-manager/pkg/agenthandler/mock_main.go
  bin-agent-manager/pkg/listenhandler/v1_password_forgot.go
  bin-agent-manager/pkg/listenhandler/v1_password_forgot_test.go
  bin-api-manager/internal/config/main.go
  bin-api-manager/pkg/servicehandler/auth.go
  bin-api-manager/pkg/servicehandler/auth_password_test.go
  bin-common-handler/pkg/requesthandler/agent_password.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-common-handler

NOJIRA-Fix-default-agent-password-reset-email
  bin-agent-manager/pkg/agenthandler/agent_password_test.go
  bin-agent-manager/pkg/agenthandler/event_test.go
Due: run-bin-agent-manager

NOJIRA-Add-rtcp-stats-to-timeline-sip-messages
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/paths/timelines/call_sip_messages.yaml
  bin-timeline-manager/models/sipmessage/sipmessage.go
  bin-timeline-manager/models/sipmessage/sipmessage_test.go
  bin-timeline-manager/pkg/siphandler/main.go
  bin-timeline-manager/pkg/siphandler/main_test.go
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-rtcp-stats-to-timeline-sip-messages
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/timeline_sip.go
  bin-api-manager/server/timelines_sip.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/timeline_sip.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/timelines/call_sip_info.yaml
  bin-timeline-manager/models/sipmessage/sipmessage.go
  bin-timeline-manager/pkg/homerhandler/main.go
  bin-timeline-manager/pkg/homerhandler/mock_main.go
  bin-timeline-manager/pkg/listenhandler/main.go
  bin-timeline-manager/pkg/listenhandler/models/request/sip.go
  bin-timeline-manager/pkg/listenhandler/v1_sip.go
  bin-timeline-manager/pkg/siphandler/main.go
  bin-timeline-manager/pkg/siphandler/main_test.go
  bin-timeline-manager/pkg/siphandler/mock_main.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Add-rtcp-stats-to-timeline-sip-messages
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/timeline_sip.go
  bin-api-manager/server/timelines_sip.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/timeline_sip.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/timelines/call_sip_analysis.yaml
  bin-timeline-manager/models/sipmessage/sipmessage.go
  bin-timeline-manager/pkg/listenhandler/main.go
  bin-timeline-manager/pkg/listenhandler/models/request/sip.go
  bin-timeline-manager/pkg/listenhandler/v1_sip.go
  bin-timeline-manager/pkg/siphandler/main.go
  bin-timeline-manager/pkg/siphandler/main_test.go
  bin-timeline-manager/pkg/siphandler/mock_main.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Add-rtcp-stats-to-timeline-sip-messages
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/openapi/paths/timelines/call_sip_analysis.yaml
  bin-timeline-manager/pkg/listenhandler/v1_sip.go
  bin-timeline-manager/pkg/siphandler/main.go
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-rtcp-stats-to-timeline-sip-messages
  bin-api-manager/pkg/servicehandler/timeline_sip.go
  bin-timeline-manager/models/sipmessage/sipmessage.go
  bin-timeline-manager/models/sipmessage/sipmessage_test.go
  bin-timeline-manager/pkg/listenhandler/main.go
  bin-timeline-manager/pkg/siphandler/main.go
Due: run-bin-api-manager

NOJIRA-Add-rtcp-stats-to-timeline-sip-messages
  bin-openapi-manager/openapi/paths/timelines/call_sip_analysis.yaml
Due: run-bin-openapi-manager

NOJIRA-Update-sip-analysis-design-docs
  docs/plans/2026-02-05-call-sip-timeline-pcap-api-design.md
  docs/plans/2026-02-05-call-sip-timeline-pcap-api-implementation.md
  docs/plans/2026-02-08-timeline-rtcp-stats-design.md
Due: none

Fixed
  REFACTORING_SUMMARY.md
  devnote.txt
Due: none

NOJIRA-Add-service-agents-contacts-endpoints
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_contact.go
  bin-api-manager/server/service_agents_contacts.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/service_agents/contacts.yaml
  bin-openapi-manager/openapi/paths/service_agents/contacts_id.yaml
  bin-openapi-manager/openapi/paths/service_agents/contacts_id_emails.yaml
  bin-openapi-manager/openapi/paths/service_agents/contacts_id_emails_id.yaml
  bin-openapi-manager/openapi/paths/service_agents/contacts_id_phonenumbers.yaml
  bin-openapi-manager/openapi/paths/service_agents/contacts_id_phonenumbers_id.yaml
  bin-openapi-manager/openapi/paths/service_agents/contacts_id_tags.yaml
  bin-openapi-manager/openapi/paths/service_agents/contacts_id_tags_id.yaml
  bin-openapi-manager/openapi/paths/service_agents/contacts_lookup.yaml
  docs/plans/2026-02-09-service-agents-contacts-endpoints-design.md
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-signup-endpoints-to-openapi
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/auth_signup.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/auth/email-verify.yaml
  bin-openapi-manager/openapi/paths/auth/signup.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-signup-endpoints-to-openapi (#416)
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/auth_signup.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/auth/email-verify.yaml
  bin-openapi-manager/openapi/paths/auth/signup.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-rag-manager-service
  bin-api-manager/go.mod
  bin-common-handler/models/outline/queuename.go
  bin-common-handler/models/outline/servicename.go
  bin-rag-manager/CLAUDE.md
  bin-rag-manager/Dockerfile
  bin-rag-manager/cmd/rag-manager/main.go
  bin-rag-manager/go.mod
  bin-rag-manager/go.sum
  bin-rag-manager/internal/config/config.go
  bin-rag-manager/k8s/deployment.yml
  bin-rag-manager/k8s/kustomization.yml
  bin-rag-manager/k8s/namespace.yml
  bin-rag-manager/pkg/chunker/chunker.go
  bin-rag-manager/pkg/chunker/markdown.go
  bin-rag-manager/pkg/chunker/markdown_test.go
  bin-rag-manager/pkg/chunker/openapi.go
  bin-rag-manager/pkg/chunker/rst.go
  bin-rag-manager/pkg/chunker/rst_test.go
  bin-rag-manager/pkg/embedder/openai.go
  bin-rag-manager/pkg/generator/generator.go
  bin-rag-manager/pkg/listenhandler/main.go
  bin-rag-manager/pkg/listenhandler/mock_main.go
  bin-rag-manager/pkg/listenhandler/v1_index.go
  bin-rag-manager/pkg/listenhandler/v1_query.go
  bin-rag-manager/pkg/raghandler/main.go
  bin-rag-manager/pkg/raghandler/mock_main.go
  bin-rag-manager/pkg/retriever/retriever.go
  bin-rag-manager/pkg/store/memory.go
  bin-rag-manager/pkg/store/memory_test.go
  docs/plans/2026-02-08-rag-manager-implementation.md
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-Add-service-agents-tags-endpoints
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_tag.go
  bin-api-manager/server/service_agents_tags.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/service_agents/tags.yaml
  bin-openapi-manager/openapi/paths/service_agents/tags_id.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-service-agents-tags-endpoints (#418)
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_tag.go
  bin-api-manager/server/service_agents_tags.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/service_agents/tags.yaml
  bin-openapi-manager/openapi/paths/service_agents/tags_id.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Improve-password-reset-success-message
  bin-api-manager/lib/service/auth.go
  bin-api-manager/server/auth.go
Due: run-bin-api-manager

NOJIRA-Add-service-agents-tags-unit-tests
  bin-api-manager/server/service_agents_tags_test.go
Due: run-bin-api-manager

NOJIRA-Add-design-workflow-to-claude-md
  CLAUDE.md
Due: none

NOJIRA-Add-service-agents-contacts-unit-tests
  bin-api-manager/server/service_agents_contacts_test.go
Due: run-bin-api-manager

NOJIRA-Add-servicehandler-contacts-unit-tests
  bin-api-manager/pkg/servicehandler/serviceagent_contact_test.go
Due: run-bin-api-manager

NOJIRA-Add-missing-api-manager-unit-tests
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/contact_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_tag_test.go
  bin-api-manager/pkg/servicehandler/storage_accounts_test.go
  bin-api-manager/pkg/servicehandler/storage_file_test.go
  bin-api-manager/pkg/servicehandler/timeline_sip_test.go
  bin-api-manager/server/auth_signup_test.go
  bin-api-manager/server/contacts_test.go
  bin-api-manager/server/timelines_sip_test.go
Due: run-bin-api-manager

NOJIRA-Fix-agent-address-update-not-found-error
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_test.go
Due: run-bin-agent-manager

NOJIRA-Fix-race-conditions-in-common-handler
  bin-common-handler/pkg/notifyhandler/main.go
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-common-handler/pkg/notifyhandler/publish_test.go
  bin-common-handler/pkg/rabbitmqhandler/main.go
  bin-common-handler/pkg/rabbitmqhandler/main_test.go
  bin-rag-manager/go.mod
Due: run-bin-common-handler

NOJIRA-Fix-race-conditions-in-common-handler (#427)
  bin-common-handler/pkg/notifyhandler/main.go
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-common-handler/pkg/notifyhandler/publish_test.go
  bin-common-handler/pkg/rabbitmqhandler/main.go
  bin-common-handler/pkg/rabbitmqhandler/main_test.go
  bin-rag-manager/go.mod
Due: run-bin-common-handler

NOJIRA-Fix-billing-manager-reliability
  bin-billing-manager/cmd/billing-manager/main.go
  bin-billing-manager/pkg/accounthandler/db.go
  bin-billing-manager/pkg/accounthandler/main.go
  bin-billing-manager/pkg/accounthandler/mock_main.go
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/dbhandler/account.go
  bin-billing-manager/pkg/dbhandler/billing.go
  bin-billing-manager/pkg/dbhandler/main.go
  bin-billing-manager/pkg/dbhandler/mock_main.go
  bin-billing-manager/pkg/failedeventhandler/main.go
  bin-billing-manager/pkg/failedeventhandler/mock_main.go
  bin-billing-manager/pkg/subscribehandler/main.go
  bin-billing-manager/scripts/database_scripts_test/table_billing_billings.sql
  bin-billing-manager/scripts/database_scripts_test/table_billing_failed_events.sql
  docs/plans/2026-02-09-billing-manager-reliability-fixes-design.md
Due: run-bin-billing-manager

NOJIRA-Fix-billing-manager-reliability
  bin-billing-manager/cmd/billing-manager/main.go
  bin-billing-manager/pkg/accounthandler/db_test.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/event.go
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/dbhandler/billing.go
  bin-billing-manager/pkg/dbhandler/billing_test.go
  bin-billing-manager/pkg/failedeventhandler/main.go
  bin-billing-manager/pkg/subscribehandler/main_test.go
Due: run-bin-billing-manager

NOJIRA-Fix-billing-manager-reliability
  bin-dbscheme-manager/bin-manager/main/versions/fb5b8d1359c9_billing_add_failed_events_and_unique_index.py
Due: none

NOJIRA-Fix-billing-manager-reliability
  CLAUDE.md
  bin-billing-manager/CLAUDE.md
  bin-billing-manager/cmd/billing-manager/main.go
  bin-billing-manager/models/failedevent/failedevent.go
  bin-billing-manager/models/failedevent/field.go
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-billing-manager/pkg/billinghandler/billing_test.go
  bin-billing-manager/pkg/billinghandler/db.go
  bin-billing-manager/pkg/billinghandler/event_test.go
  bin-billing-manager/pkg/dbhandler/failed_event.go
  bin-billing-manager/pkg/dbhandler/failed_event_test.go
  bin-billing-manager/pkg/dbhandler/main.go
  bin-billing-manager/pkg/dbhandler/mock_main.go
  bin-billing-manager/pkg/failedeventhandler/main.go
  bin-billing-manager/pkg/failedeventhandler/main_test.go
  bin-billing-manager/pkg/subscribehandler/main.go
  bin-billing-manager/pkg/subscribehandler/main_test.go
  bin-billing-manager/scripts/database_scripts_test/table_billing_failed_events.sql
  bin-dbscheme-manager/bin-manager/main/versions/fb5b8d1359c9_billing_add_failed_events_and_unique_index.py
Due: run-bin-billing-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
