Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

Fix Phase 7b design doc per Round 1 review
  docs/plans/2026-09-13-service-agents-me-put-partial-update-phase7b-design.md
Due: none

Record Phase 7a Round 2 design review disposition
  docs/plans/2026-09-13-flows-put-partial-update-phase7a-design.md
Due: none

Record Phase 7a Round 3 design review disposition (loop closed)
  docs/plans/2026-09-13-flows-put-partial-update-phase7a-design.md
Due: none

Remove committed Go build binaries and ignore them
  .gitignore
  bin-flow-manager/flow-control
  bin-talk-manager/talk-manager
Due: run-bin-flow-manager

Add symmetric -control directory negation to gitignore
  .gitignore
Due: none

NOJIRA-remove-committed-build-binaries (#1311)
  .gitignore
  bin-flow-manager/flow-control
  bin-talk-manager/talk-manager
Due: run-bin-flow-manager

Add issue analysis for recording summary source transcript
  docs/plans/2026-09-14-recording-summary-source-transcript-analysis.md
  docs/plans/mockup-summary-source-transcript.html
Due: none

Add design for recording transcript as-is display
  docs/plans/2026-09-14-recording-transcript-as-is-design.md
Due: none

Fix restart CLI misuse and GCP_BUCKET_NAME_MEDIA wording
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/self_hosting.doctree
  bin-api-manager/docsdev/build/doctrees/self_hosting_providers.doctree
  bin-api-manager/docsdev/build/html/_sources/self_hosting_providers.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/self_hosting.html
  bin-api-manager/docsdev/build/html/self_hosting_providers.html
  bin-api-manager/docsdev/source/self_hosting_providers.rst
Due: run-bin-api-manager

VOIP-1524-Add-DATABASE-DSN-to-timeline-manager-komodo-compose
  bin-timeline-manager/docs/operations.md
  bin-timeline-manager/komodo/docker-compose.yml
  docs/plans/2026-09-14-timeline-manager-komodo-database-dsn-design.md
Due: none

VOIP-1524-Add-DATABASE-DSN-to-timeline-manager-komodo-compose (#1314)
  bin-timeline-manager/docs/operations.md
  bin-timeline-manager/komodo/docker-compose.yml
  docs/plans/2026-09-14-timeline-manager-komodo-database-dsn-design.md
Due: none

Wrap recording transcribe/transcript list responses per OpenAPI spec
  bin-api-manager/server/recordings.go
  bin-api-manager/server/recordings_test.go
Due: run-bin-api-manager

VOIP-1525-Fix-recording-start-auto-answer-ringing
  bin-call-manager/pkg/callhandler/recording.go
  bin-call-manager/pkg/callhandler/recording_test.go
  docs/plans/2026-09-15-voip-1525-recording-start-auto-answer-design.md
Due: run-bin-call-manager

VOIP-1526-fix-recording-gcs-upload-transcribe
  voip-asterisk-proxy/cmd/asterisk-proxy/init.go
  voip-asterisk-proxy/cmd/asterisk-proxy/main.go
  voip-asterisk-proxy/docs/operations.md
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/pkg/servicehandler/main.go
  voip-asterisk-proxy/pkg/servicehandler/main_test.go
  voip-asterisk-proxy/pkg/servicehandler/recording.go
Due: run-voip-asterisk-proxy

VOIP-1526-fix-recording-gcs-upload-transcribe (#1317)
  voip-asterisk-proxy/cmd/asterisk-proxy/init.go
  voip-asterisk-proxy/cmd/asterisk-proxy/main.go
  voip-asterisk-proxy/docs/operations.md
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/pkg/servicehandler/main.go
  voip-asterisk-proxy/pkg/servicehandler/main_test.go
  voip-asterisk-proxy/pkg/servicehandler/recording.go
Due: run-voip-asterisk-proxy

VOIP-1529-Wrap-recording-transcribe-transcript-list-responses
  bin-api-manager/docs/plans/2026-09-17-recording-subresource-list-response-wrap-analysis.md
  bin-api-manager/server/recordings.go
  bin-api-manager/server/recordings_test.go
Due: run-bin-api-manager

VOIP-1529-Wrap-recording-transcribe-transcript-list-responses (#1319)
  bin-api-manager/docs/plans/2026-09-17-recording-subresource-list-response-wrap-analysis.md
  bin-api-manager/server/recordings.go
  bin-api-manager/server/recordings_test.go
Due: run-bin-api-manager

VOIP-1530-Wrap-list-handler-pagination-envelope
  bin-api-manager/docs/plans/2026-09-17-list-handler-pagination-envelope.md
  bin-api-manager/server/aggregated_events.go
  bin-api-manager/server/aggregated_events_test.go
  bin-api-manager/server/contact_addresses.go
  bin-api-manager/server/contact_addresses_test.go
  bin-api-manager/server/service_agents_contact_addresses.go
  bin-api-manager/server/service_agents_contact_addresses_test.go
  bin-api-manager/server/timelines.go
  bin-api-manager/server/timelines_test.go
Due: run-bin-api-manager

VOIP-1531-AI-summary-plaintext-prompt
  bin-ai-manager/docs/plans/2026-09-17-ai-summary-plaintext-format-analysis.md
  bin-ai-manager/pkg/summaryhandler/main.go
Due: none

Remove the summary fallback and always emit all five sections
  bin-ai-manager/docs/plans/2026-09-17-ai-summary-plaintext-format-analysis.md
  bin-ai-manager/pkg/summaryhandler/main.go
Due: none

VOIP-1531-AI-summary-plaintext-prompt (#1321)
  bin-ai-manager/docs/plans/2026-09-17-ai-summary-plaintext-format-analysis.md
  bin-ai-manager/pkg/summaryhandler/main.go
Due: none

VOIP-1533-AI-summary-call-type-from-reference-type
  bin-ai-manager/docs/plans/2026-09-17-ai-summary-call-type-from-reference-type-analysis.md
  bin-ai-manager/pkg/summaryhandler/content.go
  bin-ai-manager/pkg/summaryhandler/content_test.go
  bin-ai-manager/pkg/summaryhandler/main.go
  bin-ai-manager/pkg/summaryhandler/start.go
Due: none

VOIP-1533-AI-summary-call-type-from-reference-type (#1322)
  bin-ai-manager/docs/plans/2026-09-17-ai-summary-call-type-from-reference-type-analysis.md
  bin-ai-manager/pkg/summaryhandler/content.go
  bin-ai-manager/pkg/summaryhandler/content_test.go
  bin-ai-manager/pkg/summaryhandler/main.go
  bin-ai-manager/pkg/summaryhandler/start.go
Due: none

Separate STT language from AI summary output language
  bin-ai-manager/docs/plans/2026-09-17-separate-stt-and-summary-output-language.md
  bin-ai-manager/pkg/summaryhandler/content.go
  bin-ai-manager/pkg/summaryhandler/content_test.go
  bin-ai-manager/pkg/summaryhandler/main.go
  bin-ai-manager/pkg/summaryhandler/start.go
  bin-ai-manager/pkg/summaryhandler/start_test.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/aisummaries/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

Enforce AI summary output language at generation and verify with a safety net
  bin-ai-manager/docs/plans/2026-09-17-summary-output-language-verification-harness.md
  bin-ai-manager/pkg/engine_openai_handler/main.go
  bin-ai-manager/pkg/engine_openai_handler/mock_main.go
  bin-ai-manager/pkg/engine_openai_handler/send_once.go
  bin-ai-manager/pkg/summaryhandler/content.go
  bin-ai-manager/pkg/summaryhandler/content_language_test.go
  bin-ai-manager/pkg/summaryhandler/content_test.go
  bin-ai-manager/pkg/summaryhandler/main.go
Due: none
