Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

VOIP-1204-contact-crm-design-doc
  docs/plans/2026-06-26-add-contact-crm-interaction-timeline-design.md
Due: none

VOIP-1204-contact-crm-design-doc (#1014)
  docs/plans/2026-06-26-add-contact-crm-interaction-timeline-design.md
Due: none

NOJIRA-Docs-conversation-whatsapp-direction
  bin-conversation-manager/CLAUDE.md
  bin-conversation-manager/README.md
  bin-conversation-manager/docs/architecture.md
  bin-conversation-manager/docs/dependencies.md
  bin-conversation-manager/docs/domain.md
Due: run-bin-conversation-manager

NOJIRA-Docs-conversation-whatsapp-direction (#1016)
  bin-conversation-manager/CLAUDE.md
  bin-conversation-manager/README.md
  bin-conversation-manager/docs/architecture.md
  bin-conversation-manager/docs/dependencies.md
  bin-conversation-manager/docs/domain.md
Due: run-bin-conversation-manager

NOJIRA-Email-conversation-outbound-design
  docs/plans/2026-06-26-email-conversation-outbound-design.md
Due: none

NOJIRA-Email-conversation-outbound-design (#1017)
  docs/plans/2026-06-26-email-conversation-outbound-design.md
Due: none

VOIP-1210-email-conversation-outbound
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-conversation-manager/go.mod
  bin-conversation-manager/models/conversation/conversation.go
  bin-conversation-manager/models/message/message.go
  bin-conversation-manager/pkg/conversationhandler/email.go
  bin-conversation-manager/pkg/conversationhandler/email_test.go
  bin-conversation-manager/pkg/conversationhandler/event_test.go
  bin-conversation-manager/pkg/conversationhandler/main.go
  bin-conversation-manager/pkg/conversationhandler/message.go
  bin-conversation-manager/pkg/conversationhandler/message_test.go
  bin-conversation-manager/pkg/conversationhandler/mock_conversationhandler.go
  bin-conversation-manager/pkg/listenhandler/v1_messages.go
  bin-conversation-manager/pkg/listenhandler/v1_messages_test.go
  bin-conversation-manager/pkg/messagehandler/db.go
  bin-conversation-manager/pkg/messagehandler/db_test.go
  bin-conversation-manager/pkg/messagehandler/main.go
  bin-conversation-manager/pkg/messagehandler/mock_messagehandler.go
  bin-conversation-manager/pkg/messagehandler/send.go
  bin-conversation-manager/pkg/subscribehandler/emailmanager.go
  bin-conversation-manager/pkg/subscribehandler/main.go
  bin-conversation-manager/pkg/subscribehandler/main_test.go
  bin-conversation-manager/scripts/database_scripts_test/table_conversation_messages.sql
  bin-dbscheme-manager/bin-manager/main/versions/4579f211877c_conversation_messages_add_column_subject.py
Due: run-bin-conversation-manager

VOIP-1210-email-conversation-outbound (#1019)
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-conversation-manager/go.mod
  bin-conversation-manager/models/conversation/conversation.go
  bin-conversation-manager/models/message/message.go
  bin-conversation-manager/pkg/conversationhandler/email.go
  bin-conversation-manager/pkg/conversationhandler/email_test.go
  bin-conversation-manager/pkg/conversationhandler/event_test.go
  bin-conversation-manager/pkg/conversationhandler/main.go
  bin-conversation-manager/pkg/conversationhandler/message.go
  bin-conversation-manager/pkg/conversationhandler/message_test.go
  bin-conversation-manager/pkg/conversationhandler/mock_conversationhandler.go
  bin-conversation-manager/pkg/listenhandler/v1_messages.go
  bin-conversation-manager/pkg/listenhandler/v1_messages_test.go
  bin-conversation-manager/pkg/messagehandler/db.go
  bin-conversation-manager/pkg/messagehandler/db_test.go
  bin-conversation-manager/pkg/messagehandler/main.go
  bin-conversation-manager/pkg/messagehandler/mock_messagehandler.go
  bin-conversation-manager/pkg/messagehandler/send.go
  bin-conversation-manager/pkg/subscribehandler/emailmanager.go
  bin-conversation-manager/pkg/subscribehandler/main.go
  bin-conversation-manager/pkg/subscribehandler/main_test.go
  bin-conversation-manager/scripts/database_scripts_test/table_conversation_messages.sql
  bin-dbscheme-manager/bin-manager/main/versions/4579f211877c_conversation_messages_add_column_subject.py
Due: run-bin-conversation-manager

VOIP-1206-contact-crm-dbscheme-migration
  bin-dbscheme-manager/bin-manager/main/versions/ac5d4e18060c_contact_crm_create_tables.py
  bin-dbscheme-manager/docs/schema-ownership.md
  docs/plans/2026-06-26-add-contact-crm-interaction-timeline-design.md
Due: none

VOIP-1206-contact-crm-dbscheme-migration (#1018)
  bin-dbscheme-manager/bin-manager/main/versions/ac5d4e18060c_contact_crm_create_tables.py
  bin-dbscheme-manager/docs/schema-ownership.md
  docs/plans/2026-06-26-add-contact-crm-interaction-timeline-design.md
Due: none

NOJIRA-Fix-conversations-message-test-source-dest
  bin-api-manager/server/conversations_test.go
Due: run-bin-api-manager

NOJIRA-Fix-conversations-message-test-source-dest
  bin-api-manager/docsdev/build/html/_sources/conversation_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/conversation_tutorial.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/conversation_tutorial.rst
Due: run-bin-api-manager

NOJIRA-Fix-conversations-message-test-source-dest
  bin-api-manager/docsdev/build/html/_sources/conversation_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/conversation_tutorial.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/conversation_tutorial.rst
  bin-api-manager/server/conversations_test.go
Due: run-bin-api-manager

VOIP-1207-fix-alembic-multiple-heads
  bin-dbscheme-manager/bin-manager/main/versions/bbcf80d332eb_contact_crm_m1_migrate_addresses.py
Due: none

VOIP-1207-fix-alembic-multiple-heads (#1026)
  bin-dbscheme-manager/bin-manager/main/versions/bbcf80d332eb_contact_crm_m1_migrate_addresses.py
Due: none

VOIP-1208-contact-crm-projection-handlers
  bin-contact-manager/cmd/contact-manager/main.go
  bin-contact-manager/go.mod
  bin-contact-manager/models/interaction/interaction.go
  bin-contact-manager/pkg/contacthandler/interaction.go
  bin-contact-manager/pkg/contacthandler/interaction_test.go
  bin-contact-manager/pkg/contacthandler/main.go
  bin-contact-manager/pkg/contacthandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/interaction.go
  bin-contact-manager/pkg/dbhandler/interaction_test.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/subscribehandler/callmanager.go
  bin-contact-manager/pkg/subscribehandler/conversationmanager.go
  bin-contact-manager/pkg/subscribehandler/main.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
  bin-dbscheme-manager/bin-manager/main/versions/adb8daac2bb0_contact_interactions_add_local_type_.py
  docs/plans/2026-06-28-VOIP-1208-contact-crm-projection-handlers.md
Due: none

VOIP-1208-contact-crm-projection-handlers: add subscribehandler dispatch tests and unknown-direction test case
  bin-contact-manager/pkg/contacthandler/interaction_test.go
  bin-contact-manager/pkg/subscribehandler/main.go
  bin-contact-manager/pkg/subscribehandler/subscribehandler_test.go
Due: none

VOIP-1208-contact-crm-projection-handlers (#1027)
  bin-contact-manager/cmd/contact-manager/main.go
  bin-contact-manager/go.mod
  bin-contact-manager/models/interaction/interaction.go
  bin-contact-manager/pkg/contacthandler/interaction.go
  bin-contact-manager/pkg/contacthandler/interaction_test.go
  bin-contact-manager/pkg/contacthandler/main.go
  bin-contact-manager/pkg/contacthandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/interaction.go
  bin-contact-manager/pkg/dbhandler/interaction_test.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/subscribehandler/callmanager.go
  bin-contact-manager/pkg/subscribehandler/conversationmanager.go
  bin-contact-manager/pkg/subscribehandler/main.go
  bin-contact-manager/pkg/subscribehandler/subscribehandler_test.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
  bin-dbscheme-manager/bin-manager/main/versions/adb8daac2bb0_contact_interactions_add_local_type_.py
  docs/plans/2026-06-28-VOIP-1208-contact-crm-projection-handlers.md
Due: none

VOIP-1209-contact-crm-read-api-and-resolution
  docs/plans/2026-06-28-voip-1209-contact-crm-read-api-and-resolution.md
Due: none

VOIP-1209-contact-crm-read-api-and-resolution
  bin-common-handler/pkg/requesthandler/contact_interactions.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-contact-manager/models/interaction/list_response.go
  bin-contact-manager/models/resolution/resolution.go
  bin-contact-manager/pkg/contacthandler/interaction_read.go
  bin-contact-manager/pkg/contacthandler/main.go
  bin-contact-manager/pkg/contacthandler/mock_main.go
  bin-contact-manager/pkg/contacthandler/resolution.go
  bin-contact-manager/pkg/dbhandler/address.go
  bin-contact-manager/pkg/dbhandler/address_test.go
  bin-contact-manager/pkg/dbhandler/interaction.go
  bin-contact-manager/pkg/dbhandler/interaction_test.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/resolution.go
  bin-contact-manager/pkg/dbhandler/resolution_test.go
  bin-contact-manager/pkg/listenhandler/main.go
  bin-contact-manager/pkg/listenhandler/models/request/v1_interactions.go
  bin-contact-manager/pkg/listenhandler/v1_interactions.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
Due: run-bin-common-handler

VOIP-1209-contact-crm-read-api-and-resolution (#1028)
  bin-common-handler/pkg/requesthandler/contact_interactions.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-contact-manager/models/interaction/list_response.go
  bin-contact-manager/models/resolution/resolution.go
  bin-contact-manager/pkg/contacthandler/interaction_read.go
  bin-contact-manager/pkg/contacthandler/main.go
  bin-contact-manager/pkg/contacthandler/mock_main.go
  bin-contact-manager/pkg/contacthandler/resolution.go
  bin-contact-manager/pkg/dbhandler/address.go
  bin-contact-manager/pkg/dbhandler/address_test.go
  bin-contact-manager/pkg/dbhandler/interaction.go
  bin-contact-manager/pkg/dbhandler/interaction_test.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/resolution.go
  bin-contact-manager/pkg/dbhandler/resolution_test.go
  bin-contact-manager/pkg/listenhandler/main.go
  bin-contact-manager/pkg/listenhandler/models/request/v1_interactions.go
  bin-contact-manager/pkg/listenhandler/v1_interactions.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
  docs/plans/2026-06-28-voip-1209-contact-crm-read-api-and-resolution.md
Due: run-bin-common-handler

VOIP-1220-expose-interaction-resolution-rest-api
  bin-api-manager/pkg/servicehandler/interaction.go
  bin-api-manager/pkg/servicehandler/interaction_test.go
  bin-api-manager/server/interactions.go
  bin-api-manager/server/interactions_test.go
  bin-openapi-manager/openapi/paths/interactions/id_resolutions.yaml
  docs/plans/2026-06-29-voip-1220-interaction-resolution-rest-api-design.md
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1220-expose-interaction-resolution-rest-api
  bin-api-manager/pkg/servicehandler/interaction.go
  bin-api-manager/pkg/servicehandler/interaction_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/interactions.go
  bin-common-handler/pkg/requesthandler/contact_interactions.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-contact-manager/pkg/contacthandler/main.go
  bin-contact-manager/pkg/contacthandler/mock_main.go
  bin-contact-manager/pkg/contacthandler/resolution.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/resolution.go
  bin-contact-manager/pkg/dbhandler/resolution_test.go
  bin-contact-manager/pkg/listenhandler/v1_interactions.go
Due: run-bin-api-manager, run-bin-common-handler

VOIP-1220-expose-interaction-resolution-rest-api
  bin-api-manager/server/interactions.go
Due: run-bin-api-manager

VOIP-1220-expose-interaction-resolution-rest-api
  bin-api-manager/pkg/servicehandler/interaction.go
  bin-api-manager/server/interactions.go
  bin-api-manager/server/interactions_test.go
  bin-contact-manager/pkg/dbhandler/resolution_test.go
Due: run-bin-api-manager

VOIP-1220-expose-interaction-resolution-rest-api
  bin-contact-manager/pkg/contacthandler/resolution.go
  bin-contact-manager/pkg/contacthandler/resolution_test.go
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
