Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-add-talk-manager
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/pkg/subscribehandler/talk.go
  bin-api-manager/server/service_agents_talk.go
  bin-api-manager/server/service_agents_talk_test.go
Due: run-bin-api-manager

NOJIRA-add-talk-manager
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/service_agents/talk_messages.yaml
Due: run-bin-openapi-manager

NOJIRA-add-talk-manager
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/server/service_agents_talk.go
  bin-api-manager/server/service_agents_talk_test.go
Due: run-bin-api-manager

NOJIRA-add-talk-manager
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/server/service_agents_talk_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_chats.go
  bin-common-handler/pkg/requesthandler/talk_chats_test.go
  bin-dbscheme-manager/bin-manager/main/versions/f6d7d64e259e_talk_create_tables_talk_chats_talk_.py
  bin-talk-manager/cmd/talk-manager/main.go
  bin-talk-manager/models/chat/chat.go
  bin-talk-manager/models/chat/field.go
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/chathandler/main.go
  bin-talk-manager/pkg/chathandler/mock_main.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/participant.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
  bin-talk-manager/pkg/listenhandler/v1_chats_test.go
  bin-talk-manager/pkg/messagehandler/message_test.go
  bin-talk-manager/scripts/database_scripts/table_chats.sql
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-add-talk-manager
  bin-dbscheme-manager/bin-manager/main/versions/f6d7d64e259e_talk_create_tables_talk_chats_talk_.py
Due: none

NOJIRA-add-talk-manager
  bin-api-manager/go.sum
  bin-api-manager/server/service_agents_talk_test.go
Due: run-bin-api-manager

NOJIRA-add-talk-manager
  bin-talk-manager/cmd/talk-manager/main.go
  bin-talk-manager/pkg/messagehandler/main.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/participanthandler/main.go
  bin-talk-manager/pkg/participanthandler/participant.go
Due: none

NOJIRA-add-talk-manager
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/server/service_agents_talk.go
  bin-api-manager/server/service_agents_talk_test.go
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/messagehandler/message_test.go
  bin-talk-manager/pkg/participanthandler/participant_test.go
Due: run-bin-api-manager

NOJIRA-add-talk-manager
  bin-talk-manager/CLAUDE.md
  bin-talk-manager/cmd/talk-manager/main.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/message.go
  bin-talk-manager/pkg/dbhandler/message_test.go
  bin-talk-manager/pkg/dbhandler/participant.go
  bin-talk-manager/pkg/dbhandler/participant_test.go
  bin-talk-manager/pkg/reactionhandler/main.go
  bin-talk-manager/pkg/reactionhandler/reaction.go
  bin-talk-manager/pkg/reactionhandler/reaction_test.go
Due: none

NOJIRA-add-talk-manager
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/message.go
  bin-talk-manager/pkg/dbhandler/participant.go
  bin-talk-manager/scripts/database_scripts/table_chats.sql
  bin-talk-manager/scripts/database_scripts/table_messages.sql
  bin-talk-manager/scripts/database_scripts/table_participants.sql
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/message.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/CLAUDE.md
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/participant.go
Due: none

NOJIRA-Add-talk-manager
  bin-dbscheme-manager/bin-manager/main/versions/15f498bcb55f_talk_participants_add_column_customer_id.py
  bin-talk-manager/pkg/listenhandler/v1_chats_participants.go
  bin-talk-manager/pkg/listenhandler/v1_participants_test.go
Due: none

NOJIRA-Add-talk-manager
  bin-dbscheme-manager/bin-manager/main/versions/15f498bcb55f_talk_participants_add_column_customer_id.py
  bin-dbscheme-manager/bin-manager/main/versions/f6d7d64e259e_talk_create_tables_talk_chats_talk_.py
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_chats.yaml
Due: run-bin-openapi-manager

NOJIRA-split-claude-md-design
  docs/plans/2026-01-18-claude-md-split-design.md
Due: none

docs: create verification-workflows.md with detailed verification steps
  docs/verification-workflows.md
Due: none

docs: create special-cases.md with bin-common-handler and OpenAPI workflows
  docs/special-cases.md
Due: none

docs: create git-workflow-guide.md with commit and branch guidelines
  docs/git-workflow-guide.md
Due: none

docs: create development-guide.md with build and test commands
  docs/development-guide.md
Due: none

docs: create code-quality-standards.md with logging and naming rules
  docs/code-quality-standards.md
Due: none

docs: create architecture-deep-dive.md with service and system design
  docs/architecture-deep-dive.md
Due: none

NOJIRA-split-claude-md-into-topic-files
  docs/common-workflows.md
Due: none

docs: create reference.md with API design, dependencies, and deployment
  docs/reference.md
Due: none

docs: create streamlined CLAUDE.md.new
  CLAUDE.md.new
Due: none

docs: add decision tree to streamlined CLAUDE.md
  CLAUDE.md.new
Due: none

docs: replace CLAUDE.md with streamlined version
  CLAUDE.md
  CLAUDE.md.backup
Due: none

NOJIRA-split-claude-md-design
  CLAUDE.md
  CLAUDE.md.backup
  CLAUDE.md.new
  docs/plans/2026-01-18-claude-md-split-implementation.md
Due: none

NOJIRA-split-claude-md-design (#345)
  CLAUDE.md
  docs/architecture-deep-dive.md
  docs/code-quality-standards.md
  docs/common-workflows.md
  docs/development-guide.md
  docs/git-workflow-guide.md
  docs/plans/2026-01-18-claude-md-split-design.md
  docs/plans/2026-01-18-claude-md-split-implementation.md
  docs/reference.md
  docs/special-cases.md
  docs/verification-workflows.md
Due: none

NOJIRA-Add_chat_creation_debug_logging
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
Due: none

NOJIRA-Add_chat_creation_debug_logging
  .circleci/config.yml
Due: none

NOJIRA-Add_chat_creation_debug_logging
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/server/service_agents_talk.go
  bin-openapi-manager/gens/models/gen.go
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add_chat_creation_debug_logging
  bin-api-manager/server/service_agents_talk_test.go
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/mock_main.go
Due: run-bin-api-manager

NOJIRA-Add_chat_creation_debug_logging
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
  bin-talk-manager/pkg/messagehandler/main.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/messagehandler/message_test.go
Due: run-bin-api-manager

NOJIRA-Add_chat_creation_debug_logging
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/server/service_agents_talk.go
  bin-api-manager/server/service_agents_talk_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_chats.go
  bin-common-handler/pkg/requesthandler/talk_chats_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_chats.yaml
  bin-talk-manager/models/participant/participant.go
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/chathandler/main.go
  bin-talk-manager/pkg/chathandler/mock_main.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
  bin-talk-manager/pkg/listenhandler/v1_chats_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Add_chat_creation_debug_logging
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/paths/service_agents/talk_chats.yaml
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add_chat_creation_debug_logging
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/messagehandler/message_test.go
Due: none

NOJIRA-Add_chat_creation_debug_logging
  bin-talk-manager/pkg/messagehandler/message.go
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
