Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Optimize-tts-batch-gcp-latency
  bin-tts-manager/k8s/deployment.yml
Due: run-bin-tts-manager

NOJIRA-Optimize-tts-batch-gcp-latency (#777)
  bin-call-manager/README.md
  bin-tts-manager/cmd/tts-control/main.go
  bin-tts-manager/cmd/tts-manager/main.go
  bin-tts-manager/internal/config/main.go
  bin-tts-manager/internal/config/main_test.go
  bin-tts-manager/k8s/deployment.yml
  bin-tts-manager/pkg/audiohandler/gcp.go
  bin-tts-manager/pkg/audiohandler/gcp_test.go
  bin-tts-manager/pkg/audiohandler/main.go
  bin-tts-manager/pkg/ttshandler/main.go
  bin-tts-manager/pkg/ttshandler/tts.go
Due: run-bin-call-manager, run-bin-tts-manager

NOJIRA-Validate-caller-number-outbound
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
Due: run-bin-call-manager

NOJIRA-Validate-caller-number-outbound
  .claude/scripts/check-rst-build.sh
  .claude/settings.json
  .githooks/pre-commit
Due: none

NOJIRA-Validate-caller-number-outbound
  .githooks/pre-commit
Due: none

NOJIRA-Aggregate-outgoing-call-permission-validation
  bin-call-manager/pkg/callhandler/validate.go
  bin-call-manager/pkg/callhandler/validate_test.go
Due: run-bin-call-manager

NOJIRA-Aggregate-outgoing-call-permission-validation
  bin-call-manager/pkg/callhandler/outgoing_call.go
Due: run-bin-call-manager

NOJIRA-Aggregate-outgoing-call-permission-validation
  docs/coding-conventions.md
Due: none

NOJIRA-Aggregate-outgoing-call-permission-validation
  .claude/scripts/check-error-log-return.sh
  .claude/settings.json
Due: none

Add service dependency analyzer CLI tool
  monitoring/service-analyzer/.gitignore
  monitoring/service-analyzer/go.mod
  monitoring/service-analyzer/main.go
  monitoring/service-analyzer/pkg/analyzer/scanner.go
  monitoring/service-analyzer/pkg/analyzer/scanner_test.go
  monitoring/service-analyzer/pkg/analyzer/types.go
  monitoring/service-analyzer/pkg/reporter/impact.go
  monitoring/service-analyzer/pkg/reporter/impact_test.go
  monitoring/service-analyzer/pkg/reporter/mermaid.go
  monitoring/service-analyzer/pkg/reporter/mermaid_test.go
Due: none

Add callers, deps, and JSON output to service-analyzer
  monitoring/service-analyzer/main.go
  monitoring/service-analyzer/pkg/reporter/json.go
  monitoring/service-analyzer/pkg/reporter/json_test.go
Due: none

Add hotspots and circular dependency detection
  monitoring/service-analyzer/main.go
  monitoring/service-analyzer/pkg/analyzer/circular.go
  monitoring/service-analyzer/pkg/analyzer/circular_test.go
Due: none

Add developer operations toolkit for monorepo workflow automation
  Makefile
  docker-compose.dev.yml
  docs/plans/2026-04-10-developer-operations-toolkit-design.md
  scripts/doctor.sh
  scripts/update-common.sh
  scripts/verify.sh
Due: none

Add full architectural health report with scoring
  monitoring/service-analyzer/main.go
  monitoring/service-analyzer/pkg/reporter/report.go
  monitoring/service-analyzer/pkg/reporter/report_test.go
Due: none

Add snapshot/diff commands and boost test coverage to 93%
  monitoring/service-analyzer/main.go
  monitoring/service-analyzer/pkg/analyzer/scanner_test.go
  monitoring/service-analyzer/pkg/reporter/snapshot.go
  monitoring/service-analyzer/pkg/reporter/snapshot_test.go
Due: none

Add architectural layer violation detection for CI gates
  monitoring/service-analyzer/main.go
  monitoring/service-analyzer/pkg/analyzer/layers.go
  monitoring/service-analyzer/pkg/analyzer/layers_test.go
  monitoring/service-analyzer/pkg/reporter/mermaid.go
Due: none

Add paths command to trace dependency chains between services
  monitoring/service-analyzer/main.go
  monitoring/service-analyzer/pkg/analyzer/paths.go
  monitoring/service-analyzer/pkg/analyzer/paths_test.go
Due: none

Add validate command as unified CI gate and Makefile
  monitoring/service-analyzer/Makefile
  monitoring/service-analyzer/main.go
  monitoring/service-analyzer/pkg/reporter/report.go
Due: none

Add config file support for validate command
  monitoring/service-analyzer/main.go
  monitoring/service-analyzer/pkg/analyzer/config.go
  monitoring/service-analyzer/pkg/analyzer/config_test.go
Due: none

Add baseline config with known violations suppressed
  monitoring/service-analyzer/.service-analyzer.json
Due: none

Add monorepo CI orchestrator tool
  monitoring/mono-ci/.gitignore
  monitoring/mono-ci/.mono-ci.json
  monitoring/mono-ci/Makefile
  monitoring/mono-ci/go.mod
  monitoring/mono-ci/main.go
  monitoring/mono-ci/pkg/changed/detector.go
  monitoring/mono-ci/pkg/changed/detector_test.go
  monitoring/mono-ci/pkg/discovery/modules.go
  monitoring/mono-ci/pkg/discovery/modules_test.go
  monitoring/mono-ci/pkg/reporter/json.go
  monitoring/mono-ci/pkg/reporter/reporter_test.go
  monitoring/mono-ci/pkg/reporter/validate.go
  monitoring/mono-ci/pkg/runner/runner.go
  monitoring/mono-ci/pkg/runner/runner_test.go
Due: none

NOJIRA-Fix-PAI-remove-anonymous-fallback
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
Due: run-bin-call-manager

NOJIRA-Fix-PAI-remove-anonymous-fallback
  bin-api-manager/pkg/servicehandler/call.go
  bin-call-manager/models/call/call.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/mock_main.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar_test.go
  bin-call-manager/pkg/groupcallhandler/dial.go
  bin-call-manager/pkg/groupcallhandler/dial_test.go
  bin-call-manager/pkg/groupcallhandler/start.go
  bin-call-manager/pkg/groupcallhandler/start_test.go
  bin-call-manager/pkg/listenhandler/models/request/calls.go
  bin-call-manager/pkg/listenhandler/v1_calls.go
  bin-call-manager/pkg/listenhandler/v1_calls_test.go
  bin-campaign-manager/pkg/campaignhandler/execute.go
  bin-common-handler/pkg/requesthandler/call_calls.go
  bin-common-handler/pkg/requesthandler/call_calls_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-flow-manager/models/action/option.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-queue-manager/pkg/queuecallhandler/execute.go
  bin-queue-manager/pkg/queuecallhandler/execute_test.go
Due: run-bin-api-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-common-handler, run-bin-flow-manager, run-bin-queue-manager

NOJIRA-Fix-PAI-remove-anonymous-fallback
  bin-api-manager/pkg/servicehandler/call_test.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
Due: run-bin-api-manager, run-bin-call-manager

NOJIRA-Fix-PAI-remove-anonymous-fallback
  bin-call-manager/pkg/callhandler/outgoing_call.go
Due: run-bin-call-manager

NOJIRA-Fix-PAI-remove-anonymous-fallback
  bin-call-manager/models/call/call.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar_test.go
Due: run-bin-call-manager

NOJIRA-Fix-PAI-remove-anonymous-fallback
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/call.go
  bin-api-manager/pkg/servicehandler/call_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/calls.go
  bin-api-manager/server/calls_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/calls/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Fix-PAI-remove-anonymous-fallback
  bin-api-manager/pkg/servicehandler/groupcall.go
  bin-api-manager/pkg/servicehandler/groupcall_test.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/groupcallhandler/dial.go
  bin-call-manager/pkg/groupcallhandler/dial_test.go
  bin-call-manager/pkg/groupcallhandler/main.go
  bin-call-manager/pkg/groupcallhandler/mock_main.go
  bin-call-manager/pkg/groupcallhandler/start.go
  bin-call-manager/pkg/groupcallhandler/start_test.go
  bin-call-manager/pkg/listenhandler/models/request/groupcalls.go
  bin-call-manager/pkg/listenhandler/v1_groupcalls.go
  bin-call-manager/pkg/listenhandler/v1_groupcalls_test.go
  bin-common-handler/pkg/requesthandler/call_groupcalls.go
  bin-common-handler/pkg/requesthandler/call_groupcalls_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-transfer-manager/pkg/transferhandler/attended.go
  bin-transfer-manager/pkg/transferhandler/attended_test.go
  bin-transfer-manager/pkg/transferhandler/blind.go
  bin-transfer-manager/pkg/transferhandler/blind_test.go
  bin-transfer-manager/pkg/transferhandler/service_start_test.go
Due: run-bin-api-manager, run-bin-call-manager, run-bin-common-handler, run-bin-transfer-manager

NOJIRA-Fix-PAI-remove-anonymous-fallback
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/groupcallhandler/dial.go
Due: run-bin-call-manager

NOJIRA-Fix-PAI-remove-anonymous-fallback
  bin-api-manager/pkg/servicehandler/call_test.go
  bin-api-manager/pkg/servicehandler/groupcall.go
  bin-api-manager/pkg/servicehandler/groupcall_test.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/groupcallhandler/dial_test.go
  bin-call-manager/pkg/groupcallhandler/start_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-queue-manager/pkg/queuecallhandler/execute_test.go
  bin-transfer-manager/pkg/transferhandler/service_start_test.go
Due: run-bin-api-manager, run-bin-call-manager, run-bin-flow-manager, run-bin-queue-manager, run-bin-transfer-manager

NOJIRA-Fix-anonymous-review-findings
  bin-call-manager/models/groupcall/field.go
  bin-call-manager/models/groupcall/main.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/groupcallhandler/db.go
  bin-call-manager/pkg/groupcallhandler/db_test.go
  bin-call-manager/pkg/groupcallhandler/dial.go
  bin-call-manager/pkg/groupcallhandler/start.go
  bin-call-manager/scripts/database_scripts_test/table_groupcalls.sql
  bin-dbscheme-manager/bin-manager/main/versions/7a4eed7c79ed_call_manager_groupcalls_add_column_.py
  bin-flow-manager/models/action/option.go
  bin-flow-manager/pkg/actionhandler/action.go
Due: run-bin-call-manager, run-bin-flow-manager

NOJIRA-Fix-anonymous-review-findings
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/calls_test.go
  bin-call-manager/pkg/listenhandler/v1_calls_test.go
  bin-call-manager/pkg/listenhandler/v1_groupcalls_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-transfer-manager/pkg/transferhandler/attended_test.go
  bin-transfer-manager/pkg/transferhandler/blind_test.go
Due: run-bin-api-manager, run-bin-call-manager, run-bin-flow-manager, run-bin-openapi-manager, run-bin-transfer-manager

NOJIRA-Fix-anonymous-review-findings
  bin-flow-manager/models/action/option.go
  bin-flow-manager/models/action/option_test.go
  bin-flow-manager/pkg/actionhandler/action.go
Due: run-bin-flow-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
