Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-add-google-tts-stt-pipecat
  bin-pipecat-manager/scripts/pipecat/conftest.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
  docs/plans/2026-02-24-add-google-tts-stt-pipecat-design.md
Due: none

NOJIRA-add-google-tts-stt-pipecat
  bin-pipecat-manager/scripts/pipecat/test_run.py
Due: none

NOJIRA-add-google-tts-stt-pipecat (#596)
  bin-pipecat-manager/scripts/pipecat/conftest.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
  docs/plans/2026-02-24-add-google-tts-stt-pipecat-design.md
Due: none

NOJIRA-add-transcribe-direction-option
  bin-flow-manager/models/action/option.go
  bin-flow-manager/models/action/option_test.go
Due: run-bin-flow-manager

NOJIRA-add-transcribe-direction-option
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
Due: run-bin-flow-manager

NOJIRA-add-transcribe-direction-option
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-add-transcribe-direction-option
  bin-api-manager/vendor/monorepo/bin-flow-manager/models/action/option.go
  docs/plans/2026-02-24-add-transcribe-direction-option-design.md
Due: run-bin-api-manager

NOJIRA-add-transcribe-direction-option
  bin-flow-manager/models/action/option_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
Due: run-bin-flow-manager

NOJIRA-aicall-schema-cleanup
  bin-ai-manager/models/aicall/field.go
  bin-ai-manager/models/aicall/field_test.go
  bin-ai-manager/models/aicall/filters.go
  bin-ai-manager/models/aicall/filters_test.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/models/aicall/main_test.go
  bin-ai-manager/models/aicall/webhook.go
  bin-ai-manager/models/aicall/webhook_test.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
  docs/plans/2026-02-24-aicall-schema-cleanup-design.md
  docs/plans/2026-02-24-aicall-schema-cleanup-plan.md
Due: none

NOJIRA-aicall-schema-cleanup
  bin-dbscheme-manager/bin-manager/main/versions/a1b2c3d4e5f6_ai_aicalls_drop_column_ai_engine_type.py
Due: none

NOJIRA-aicall-schema-cleanup
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/field.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/filters.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/main.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/webhook.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-aicall-schema-cleanup
  bin-api-manager/internal/config/main_test.go
  bin-api-manager/server/main_test.go
Due: run-bin-api-manager

NOJIRA-aicall-schema-cleanup
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-aicall-schema-cleanup
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-aicall-schema-cleanup
  bin-ai-manager/models/aicall/webhook_test.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-aicall-schema-cleanup (#598)
  bin-ai-manager/models/aicall/field.go
  bin-ai-manager/models/aicall/field_test.go
  bin-ai-manager/models/aicall/filters.go
  bin-ai-manager/models/aicall/filters_test.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/models/aicall/main_test.go
  bin-ai-manager/models/aicall/webhook.go
  bin-ai-manager/models/aicall/webhook_test.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/internal/config/main_test.go
  bin-api-manager/server/main_test.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/field.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/filters.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/main.go
  bin-api-manager/vendor/monorepo/bin-ai-manager/models/aicall/webhook.go
  bin-dbscheme-manager/bin-manager/main/versions/a1b2c3d4e5f6_ai_aicalls_drop_column_ai_engine_type.py
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  docs/plans/2026-02-24-aicall-schema-cleanup-design.md
  docs/plans/2026-02-24-aicall-schema-cleanup-plan.md
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-fix-alembic-duplicate-revision
  bin-dbscheme-manager/bin-manager/main/versions/07e99bfda2ef_ai_aicalls_drop_column_ai_engine_type.py
Due: none

NOJIRA-fix-alembic-duplicate-revision (#599)
  bin-dbscheme-manager/bin-manager/main/versions/07e99bfda2ef_ai_aicalls_drop_column_ai_engine_type.py
Due: none

NOJIRA-fix-webhook-manager-bugs
  bin-webhook-manager/cmd/webhook-manager/main.go
  bin-webhook-manager/pkg/cachehandler/handler.go
  bin-webhook-manager/pkg/webhookhandler/message.go
  bin-webhook-manager/pkg/webhookhandler/webhook.go
  docs/plans/2026-02-24-fix-webhook-manager-bugs-design.md
  docs/plans/2026-02-24-fix-webhook-manager-bugs-plan.md
Due: run-bin-webhook-manager

NOJIRA-fix-webhook-manager-bugs
  bin-webhook-manager/pkg/webhookhandler/message.go
Due: run-bin-webhook-manager

NOJIRA-fix-billing-openapi-sync
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-openapi-sync-review
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  docs/plans/openapi-sync-review-progress.md
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-openapi-sync-review
  bin-openapi-manager/openapi/openapi.yaml
  docs/plans/openapi-sync-review-progress.md
Due: run-bin-openapi-manager

NOJIRA-openapi-sync-review (#603)
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  docs/plans/openapi-sync-review-progress.md
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-fix-alembic-migration-id
  bin-dbscheme-manager/bin-manager/main/versions/1486701fb1f1_ai_ais_drop_column_engine_type.py
Due: none

NOJIRA-fix-ai-prometheus-metrics
  bin-ai-manager/CLAUDE.md
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/messagehandler/main.go
  monitoring/grafana/dashboards/ai-manager.json
Due: none

NOJIRA-fix-webhook-notification-pattern
  bin-talk-manager/models/message/message.go
  bin-talk-manager/models/message/message_test.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/reactionhandler/reaction.go
Due: none

NOJIRA-fix-webhook-notification-pattern
  bin-transcribe-manager/models/streaming/speech.go
  bin-transcribe-manager/models/streaming/streaming.go
  bin-transcribe-manager/models/streaming/webhook.go
  bin-transcribe-manager/models/streaming/webhook_test.go
  bin-transcribe-manager/pkg/streaminghandler/result.go
Due: run-bin-transcribe-manager

NOJIRA-fix-webhook-notification-pattern
  docs/plans/2026-02-25-fix-webhook-notification-pattern-design.md
  docs/plans/2026-02-25-fix-webhook-notification-pattern-plan.md
Due: none

NOJIRA-fix-webhook-notification-pattern
  bin-transcribe-manager/models/streaming/webhook_test.go
Due: run-bin-transcribe-manager
