Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

WIP
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/summaryhandler/service_test.go
  bin-ai-manager/pkg/summaryhandler/start.go
  bin-ai-manager/pkg/summaryhandler/start_test.go
Due: none

WIP
  bin-transcribe-manager/pkg/listenhandler/v1_transcribes.go
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-transcribe-manager/pkg/streaminghandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/run.go
  bin-transcribe-manager/pkg/streaminghandler/run_test.go
Due: run-bin-transcribe-manager

Fixed
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-transcribe-manager/pkg/streaminghandler/audiosocket.go
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/pkg/streaminghandler/run.go
  bin-transcribe-manager/pkg/streaminghandler/run_test.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/pkg/streaminghandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

NOJIRA-Fix_wrong_channel_hangup (#208)
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/summaryhandler/start.go
  bin-ai-manager/pkg/summaryhandler/start_test.go
  bin-call-manager/go.sum
  bin-call-manager/pkg/callhandler/hangup.go
  bin-call-manager/pkg/channelhandler/hangup.go
  bin-call-manager/pkg/externalmediahandler/stop.go
  bin-call-manager/pkg/externalmediahandler/stop_test.go
  bin-call-manager/pkg/recordinghandler/stop.go
  bin-call-manager/pkg/recordinghandler/stop_test.go
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-transcribe-manager/pkg/listenhandler/v1_transcribes.go
  bin-transcribe-manager/pkg/streaminghandler/audiosocket.go
  bin-transcribe-manager/pkg/streaminghandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/run.go
  bin-transcribe-manager/pkg/streaminghandler/run_test.go
Due: run-bin-call-manager, run-bin-transcribe-manager

Fixed
  bin-sentinel-manager/k8s/deployment.yml
  bin-sentinel-manager/pkg/monitoringhandler/run.go
Due: none

Fixed
  bin-sentinel-manager/Dockerfile
Due: none

WIP
  bin-sentinel-manager/k8s/kustomization.yml
  bin-sentinel-manager/k8s/role.yml
  bin-sentinel-manager/k8s/rolebinding.yml
Due: none

WIP
  bin-sentinel-manager/k8s/kustomization.yml
Due: none

WIP
  bin-sentinel-manager/k8s/role.yml
  bin-sentinel-manager/k8s/rolebinding.yml
Due: none

WIP
  bin-sentinel-manager/k8s/rolebinding.yml
Due: none

WIP
  bin-sentinel-manager/k8s/kustomization.yml
  bin-sentinel-manager/k8s/rbac/kustomization.yml
  bin-sentinel-manager/k8s/rbac/role.yml
  bin-sentinel-manager/k8s/rbac/rolebinding.yml
Due: none

WIP
  .circleci/config_work.yml
Due: none

WIP
  bin-sentinel-manager/k8s/kustomization.yml
  bin-sentinel-manager/k8s/namespace.yml
  bin-sentinel-manager/k8s/rbac/kustomization.yml
  bin-sentinel-manager/k8s/rbac/role.yml
  bin-sentinel-manager/k8s/rbac/rolebinding.yml
  bin-sentinel-manager/k8s/service.yml
Due: none

WIP
  bin-sentinel-manager/k8s/deployment.yml
  bin-sentinel-manager/k8s/kustomization.yml
  bin-sentinel-manager/k8s/namespace.yml
Due: none

WIP
  bin-sentinel-manager/k8s/rbac/kustomization.yml
Due: none

Fixed
  voip-asterisk-proxy/cmd/asterisk-proxy/annotation.go
  voip-asterisk-proxy/cmd/asterisk-proxy/main.go
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-voip-asterisk-proxy

Fixed
  voip-asterisk-proxy/cmd/asterisk-proxy/annotation.go
Due: run-voip-asterisk-proxy

VOIP-1072-Add_detailed_services (#210)
  .circleci/config_work.yml
  bin-sentinel-manager/k8s/deployment.yml
  bin-sentinel-manager/k8s/kustomization.yml
  bin-sentinel-manager/k8s/rbac/kustomization.yml
  bin-sentinel-manager/k8s/rbac/role.yml
  bin-sentinel-manager/k8s/rbac/rolebinding.yml
  bin-sentinel-manager/k8s/service.yml
  voip-asterisk-proxy/cmd/asterisk-proxy/annotation.go
  voip-asterisk-proxy/cmd/asterisk-proxy/main.go
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-voip-asterisk-proxy

WIP
  .circleci/config_work.yml
  bin-call-manager/cmd/call-manager/init.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/k8s/deployment.yml
  bin-call-manager/models/channel/main.go
  bin-call-manager/pkg/callhandler/db.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recoveryhandler.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/channelhandler/main.go
  bin-call-manager/pkg/channelhandler/mock_main.go
  bin-call-manager/pkg/dbhandler/call_test.go
  bin-call-manager/pkg/dbhandler/channel.go
  bin-call-manager/pkg/dbhandler/channel_test.go
  bin-call-manager/pkg/dbhandler/main.go
  bin-call-manager/pkg/dbhandler/mock_main.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/mock_main.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/listenhandler/main.go
  bin-call-manager/pkg/listenhandler/models/request/recovery.go
  bin-call-manager/pkg/listenhandler/v1_recovery.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/pkg/callhandler/recoveryhandler.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/pkg/callhandler/mock_recoveryhandler.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recovery_test.go
  bin-call-manager/pkg/callhandler/recoveryhandler.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer_test.go
  bin-call-manager/pkg/listenhandler/v1_recordings_test.go
  bin-call-manager/pkg/listenhandler/v1_recovery.go
  bin-call-manager/pkg/listenhandler/v1_recovery_test.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/cmd/call-manager/init.go
  bin-call-manager/pkg/callhandler/recovery.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/cmd/call-manager/init.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/pkg/callhandler/recoveryhandler.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/channelhandler/main.go
Due: run-bin-call-manager

VOIP-1070-Add_session_recovery_channel (#211)
  .circleci/config_work.yml
  bin-call-manager/cmd/call-manager/init.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/k8s/deployment.yml
  bin-call-manager/models/channel/main.go
  bin-call-manager/pkg/callhandler/db.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/mock_main.go
  bin-call-manager/pkg/callhandler/mock_recoveryhandler.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recovery_test.go
  bin-call-manager/pkg/callhandler/recoveryhandler.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer.go
  bin-call-manager/pkg/callhandler/recoveryhandler_homer_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/channelhandler/main.go
  bin-call-manager/pkg/channelhandler/mock_main.go
  bin-call-manager/pkg/dbhandler/call_test.go
  bin-call-manager/pkg/dbhandler/channel.go
  bin-call-manager/pkg/dbhandler/channel_test.go
  bin-call-manager/pkg/dbhandler/main.go
  bin-call-manager/pkg/dbhandler/mock_main.go
  bin-call-manager/pkg/listenhandler/main.go
  bin-call-manager/pkg/listenhandler/models/request/recovery.go
  bin-call-manager/pkg/listenhandler/v1_recordings_test.go
  bin-call-manager/pkg/listenhandler/v1_recovery.go
  bin-call-manager/pkg/listenhandler/v1_recovery_test.go
Due: run-bin-call-manager

Fixed
  bin-sentinel-manager/pkg/monitoringhandler/main.go
  bin-sentinel-manager/pkg/monitoringhandler/run.go
  bin-sentinel-manager/pkg/monitoringhandler/run_test.go
Due: none

WIP
  bin-call-manager/pkg/callhandler/recovery.go
Due: run-bin-call-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
