Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-fix-gemini-tool-format
  docs/plans/2026-03-03-fix-gemini-tool-format-design.md
Due: none

NOJIRA-fix-gemini-tool-format (#636)
  bin-pipecat-manager/scripts/pipecat/run.py
  docs/plans/2026-03-03-fix-gemini-tool-format-design.md
Due: none

NOJIRA-fix-pipecat-audio-quality
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  docs/plans/2026-03-03-fix-pipecat-audio-quality.md
Due: none

NOJIRA-fix-pipecat-audio-quality
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

NOJIRA-fix-pipecat-audio-quality (#638)
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  docs/plans/2026-03-03-fix-pipecat-audio-quality.md
Due: none

NOJIRA-add-pod-crash-alerts
  docs/plans/2026-03-03-pod-crash-alerting-design.md
  monitoring/grafana/dashboards/pod-crash-overview.json
Due: none

NOJIRA-add-pod-crash-alerts (#639)
  docs/plans/2026-03-03-pod-crash-alerting-design.md
  monitoring/grafana/dashboards/pod-crash-overview.json
Due: none

NOJIRA-fix-external-media-resource-leaks
  bin-call-manager/pkg/externalmediahandler/start.go
Due: run-bin-call-manager

NOJIRA-fix-external-media-resource-leaks (#640)
  bin-call-manager/pkg/externalmediahandler/start.go
Due: run-bin-call-manager

NOJIRA-add-pod-lifecycle-panels
  monitoring/grafana/dashboards/pod-crash-overview.json
Due: none

NOJIRA-remove-proxy-media-silence-playback
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/externalmediahandler/playback.go
  bin-call-manager/pkg/externalmediahandler/start.go
  bin-call-manager/pkg/externalmediahandler/start_test.go
Due: run-bin-call-manager

NOJIRA-remove-proxy-media-silence-playback
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
Due: run-bin-call-manager

NOJIRA-remove-proxy-media-silence-playback
  bin-call-manager/pkg/callhandler/start.go
Due: run-bin-call-manager

NOJIRA-remove-proxy-media-silence-playback (#642)
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/externalmediahandler/playback.go
  bin-call-manager/pkg/externalmediahandler/start.go
  bin-call-manager/pkg/externalmediahandler/start_test.go
Due: run-bin-call-manager

Fix Gemini 400 error from transition function names exceeding 64-char limit
  bin-pipecat-manager/scripts/pipecat/team_flow.py
Due: none

NOJIRA-fix-team-routing-startframe-propagation
  bin-pipecat-manager/scripts/pipecat/conftest.py
  bin-pipecat-manager/scripts/pipecat/routing_llm.py
  bin-pipecat-manager/scripts/pipecat/routing_stt.py
  bin-pipecat-manager/scripts/pipecat/routing_tts.py
  bin-pipecat-manager/scripts/pipecat/test_routing_llm.py
  bin-pipecat-manager/scripts/pipecat/test_routing_stt.py
  bin-pipecat-manager/scripts/pipecat/test_routing_tts.py
Due: none

NOJIRA-fix-team-routing-startframe-propagation
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

NOJIRA-fix-team-routing-startframe-propagation
  .circleci/config_work.yml
Due: none

NOJIRA-fix-team-routing-startframe-propagation (#643)
  .circleci/config_work.yml
  bin-pipecat-manager/scripts/pipecat/conftest.py
  bin-pipecat-manager/scripts/pipecat/routing_llm.py
  bin-pipecat-manager/scripts/pipecat/routing_stt.py
  bin-pipecat-manager/scripts/pipecat/routing_tts.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_routing_llm.py
  bin-pipecat-manager/scripts/pipecat/test_routing_stt.py
  bin-pipecat-manager/scripts/pipecat/test_routing_tts.py
Due: none

NOJIRA-optimize-aicall-conversation-latency
  docs/plans/2026-03-04-optimize-aicall-conversation-latency-design.md
Due: none

NOJIRA-optimize-aicall-conversation-latency
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start_test.go
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/run.py
  docs/plans/2026-03-04-optimize-aicall-conversation-latency-plan.md
Due: none

NOJIRA-optimize-aicall-conversation-latency
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

NOJIRA-optimize-aicall-conversation-latency
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

NOJIRA-Add-coding-conventions-document
  docs/coding-conventions.md
  docs/plans/2026-03-04-coding-conventions-design.md
  docs/plans/2026-03-04-coding-conventions-plan.md
Due: none

NOJIRA-Add-coding-conventions-document
  docs/coding-conventions.md
Due: none

NOJIRA-Add-coding-conventions-document
  CLAUDE.md
Due: none

NOJIRA-Add-coding-conventions-document
  docs/database-patterns-checklist.md
  docs/reference.md
Due: none

NOJIRA-optimize-aicall-conversation-latency (#645)
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start_test.go
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/run.py
  docs/plans/2026-03-04-optimize-aicall-conversation-latency-design.md
  docs/plans/2026-03-04-optimize-aicall-conversation-latency-plan.md
Due: none

NOJIRA-Add-team-member-switch-notification
  bin-ai-manager/models/message/main.go
  bin-ai-manager/models/message/main_test.go
  bin-ai-manager/pkg/messagehandler/event.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/pipecat_message.go
  bin-pipecat-manager/models/message/event.go
  bin-pipecat-manager/models/message/event_test.go
  bin-pipecat-manager/models/message/member_switched.go
  bin-pipecat-manager/models/message/member_switched_test.go
  bin-pipecat-manager/pkg/httphandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/pipecat/team_flow.py
  docs/plans/2026-03-05-team-member-switch-notification-design.md
  docs/plans/2026-03-05-team-member-switch-notification-plan.md
Due: none

NOJIRA-Add-team-member-switch-notification
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-team-member-switch-notification
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

NOJIRA-Add-team-member-switch-notification (#647)
  bin-ai-manager/models/message/main.go
  bin-ai-manager/models/message/main_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/messagehandler/event.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/pipecat_message.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-pipecat-manager/models/message/event.go
  bin-pipecat-manager/models/message/event_test.go
  bin-pipecat-manager/models/message/member_switched.go
  bin-pipecat-manager/models/message/member_switched_test.go
  bin-pipecat-manager/pkg/httphandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/pipecat/team_flow.py
  docs/plans/2026-03-05-team-member-switch-notification-design.md
  docs/plans/2026-03-05-team-member-switch-notification-plan.md
Due: run-bin-api-manager, run-bin-openapi-manager
