Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

feat: add UUID conversion to ScanRow helper
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
Due: run-bin-flow-manager

feat: add JSON conversion to ScanRow helper
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
Due: run-bin-flow-manager

feat: add db tags to Flow model and Identity struct
  bin-common-handler/models/identity/identity.go
  bin-flow-manager/models/flow/flow.go
Due: run-bin-common-handler, run-bin-flow-manager

refactor: update FlowCreate to use dbutil.PrepareValues
  bin-flow-manager/pkg/dbhandler/flows.go
Due: run-bin-flow-manager

refactor: update flow read operations to use dbutil.ScanRow
  bin-flow-manager/pkg/dbhandler/flows.go
Due: run-bin-flow-manager

fix: address errcheck linter warnings in dbutil tests
  bin-flow-manager/pkg/dbutil/main_test.go
Due: run-bin-flow-manager

feat: add db tags to Activeflow model
  bin-flow-manager/models/activeflow/activeflow.go
Due: run-bin-flow-manager

refactor: update activeflow operations to use dbutil helpers
  bin-flow-manager/pkg/dbhandler/activeflow.go
Due: run-bin-flow-manager

chore: update dependencies after Identity db tags addition
  bin-agent-manager/go.mod
  bin-agent-manager/go.sum
  bin-common-handler/go.mod
  bin-common-handler/go.sum
  bin-customer-manager/go.mod
  bin-customer-manager/go.sum
  bin-number-manager/go.mod
  bin-number-manager/go.sum
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-registrar-manager/go.mod
  bin-registrar-manager/go.sum
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-bin-agent-manager, run-bin-common-handler, run-bin-customer-manager, run-bin-number-manager, run-bin-openapi-manager, run-bin-registrar-manager, run-bin-transcribe-manager, run-voip-asterisk-proxy

docs: add implementation plan for database mapping improvement
  bin-flow-manager/docs/plans/2026-01-11-database-mapping-improvement.md
  bin-flow-manager/go.sum
Due: run-bin-flow-manager

docs: add database handler consolidation design
  bin-flow-manager/docs/plans/2026-01-12-databasehandler-consolidation-design.md
Due: run-bin-flow-manager

docs: add database handler consolidation implementation plan
  bin-flow-manager/docs/plans/2026-01-12-databasehandler-consolidation.md
Due: run-bin-flow-manager

feat(databasehandler): add GetDBFields for struct tag parsing
  bin-common-handler/pkg/databasehandler/mapping.go
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

test: add edge case coverage for GetDBFields
  bin-common-handler/pkg/databasehandler/mapping.go
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

feat(databasehandler): add convertValue helper for type conversions
  bin-common-handler/pkg/databasehandler/mapping_internal.go
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

test: add comprehensive coverage for convertValue
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

feat(databasehandler): implement prepareFieldsFromStruct with tag parsing
  bin-common-handler/pkg/databasehandler/mapping_internal.go
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

test: add comprehensive coverage for prepareFieldsFromStruct
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

feat(databasehandler): implement prepareFieldsFromMap with auto type detection
  bin-common-handler/pkg/databasehandler/mapping_internal.go
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

fix: remove dead code and add comprehensive test coverage for prepareFieldsFromMap
  bin-common-handler/pkg/databasehandler/mapping_internal.go
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

feat(databasehandler): add PrepareFields unified API for struct and map
  bin-common-handler/pkg/databasehandler/mapping.go
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

feat(databasehandler): add ScanRow for struct scanning with NULL handling
  bin-common-handler/pkg/databasehandler/mapping.go
  bin-common-handler/pkg/databasehandler/mapping_internal.go
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

refactor(databasehandler): update PrepareUpdateFields to use PrepareFields internally
  bin-common-handler/pkg/databasehandler/main.go
  bin-common-handler/pkg/databasehandler/main_test.go
Due: run-bin-common-handler

refactor: update imports from dbutil to databasehandler
  bin-flow-manager/pkg/dbhandler/activeflow.go
  bin-flow-manager/pkg/dbhandler/flows.go
Due: run-bin-flow-manager

refactor(dbhandler): update FlowCreate to use PrepareFields with SetMap
  bin-flow-manager/pkg/dbhandler/flows.go
Due: run-bin-flow-manager

refactor(dbhandler): update activeflow operations to use commondatabasehandler
  bin-flow-manager/go.sum
  bin-flow-manager/pkg/dbhandler/activeflow.go
Due: run-bin-flow-manager

refactor: remove pkg/dbutil after migrating to common databasehandler
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
  bin-flow-manager/pkg/dbutil/scan_test_helper.go
Due: run-bin-flow-manager

chore: update dependencies after databasehandler consolidation
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
Due: run-bin-flow-manager

chore: fix vendoring for api-manager and openapi-manager after go generate
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
Due: run-bin-api-manager, run-bin-openapi-manager

docs: enhance bin-common-handler update workflow in CLAUDE.md
  CLAUDE.md
Due: none

refactor(databasehandler): simplify by consolidating files and unifying converters
  bin-common-handler/pkg/databasehandler/mapping.go
  bin-common-handler/pkg/databasehandler/mapping_internal.go
  bin-common-handler/pkg/databasehandler/mapping_test.go
Due: run-bin-common-handler

refactor(databasehandler): migrate services to PrepareFields and remove fallback
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-common-handler/pkg/databasehandler/main.go
  bin-common-handler/pkg/databasehandler/mapping.go
  bin-conversation-manager/pkg/dbhandler/account.go
  bin-conversation-manager/pkg/dbhandler/conversation.go
  bin-conversation-manager/pkg/dbhandler/message.go
  bin-flow-manager/pkg/dbhandler/activeflow.go
  bin-flow-manager/pkg/dbhandler/flows.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-conversation-manager, run-bin-flow-manager, run-bin-openapi-manager

refactor(databasehandler): remove PrepareUpdateFields and add proper error handling
  bin-common-handler/pkg/databasehandler/main.go
  bin-common-handler/pkg/databasehandler/main_test.go
  bin-conversation-manager/pkg/dbhandler/account.go
  bin-conversation-manager/pkg/dbhandler/conversation.go
  bin-conversation-manager/pkg/dbhandler/message.go
  bin-flow-manager/pkg/dbhandler/activeflow.go
  bin-flow-manager/pkg/dbhandler/flows.go
  bin-pipecat-manager/pkg/dbhandler/pipecatcalls.go
Due: run-bin-common-handler, run-bin-conversation-manager, run-bin-flow-manager

fix: remove unused test helper types from main_test.go
  bin-common-handler/pkg/databasehandler/main_test.go
  bin-flow-manager/Dockerfile
Due: run-bin-common-handler, run-bin-flow-manager

fix: use AWS ECR Public for Docker images to avoid Docker Hub rate limits
  bin-agent-manager/Dockerfile
  bin-ai-manager/Dockerfile
  bin-api-manager/Dockerfile
  bin-billing-manager/Dockerfile
  bin-call-manager/Dockerfile
  bin-campaign-manager/Dockerfile
  bin-chat-manager/Dockerfile
  bin-conference-manager/Dockerfile
  bin-conversation-manager/Dockerfile
  bin-customer-manager/Dockerfile
  bin-email-manager/Dockerfile
  bin-flow-manager/Dockerfile
  bin-hook-manager/Dockerfile
  bin-message-manager/Dockerfile
  bin-number-manager/Dockerfile
  bin-outdial-manager/Dockerfile
  bin-pipecat-manager/Dockerfile
  bin-queue-manager/Dockerfile
  bin-registrar-manager/Dockerfile
  bin-route-manager/Dockerfile
  bin-sentinel-manager/Dockerfile
  bin-storage-manager/Dockerfile
  bin-tag-manager/Dockerfile
  bin-transcribe-manager/Dockerfile
  bin-transfer-manager/Dockerfile
  bin-tts-manager/Dockerfile
  bin-webhook-manager/Dockerfile
  voip-asterisk-proxy/Dockerfile
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Add_monorepo_commit_message_format_guidelines
  CLAUDE.md
Due: none

NOJIRA-Update_commit_message_format_with_narrative_style
  CLAUDE.md
Due: none

VOIP-1190: Fix golangci-lint errcheck issues in bin-ai-manager
  bin-ai-manager/pkg/dbhandler/ai.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/message.go
  bin-ai-manager/pkg/dbhandler/summary.go
Due: none
