Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-contact-case-management
  bin-contact-manager/cmd/contact-manager/main.go
  bin-contact-manager/pkg/casehandler/case_list_get.go
  bin-contact-manager/pkg/casehandler/case_list_get_test.go
  bin-contact-manager/pkg/casehandler/main.go
  bin-contact-manager/pkg/casehandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/kase.go
  bin-contact-manager/pkg/dbhandler/kase_list_test.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/listenhandler/main.go
  bin-contact-manager/pkg/listenhandler/models/request/v1_cases.go
  bin-contact-manager/pkg/listenhandler/v1_cases.go
  bin-contact-manager/pkg/listenhandler/v1_cases_test.go
  bin-contact-manager/pkg/listenhandler/v1_contacts_test.go
Due: none

NOJIRA-contact-case-management
  bin-common-handler/pkg/requesthandler/contact_cases.go
  bin-common-handler/pkg/requesthandler/contact_cases_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

NOJIRA-contact-case-management
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/cases/id.yaml
  bin-openapi-manager/openapi/paths/cases/id_close.yaml
  bin-openapi-manager/openapi/paths/cases/id_continue.yaml
  bin-openapi-manager/openapi/paths/cases/main.yaml
  bin-openapi-manager/openapi/paths/cases/unresolved.yaml
Due: run-bin-openapi-manager

NOJIRA-contact-case-management
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/cases/id_notes.yaml
  bin-openapi-manager/openapi/paths/cases/id_notes_id.yaml
Due: run-bin-openapi-manager

NOJIRA-contact-case-management
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/cases/id_messages.yaml
Due: run-bin-openapi-manager

NOJIRA-contact-case-management
  bin-api-manager/pkg/servicehandler/case_message.go
  bin-api-manager/pkg/servicehandler/case_message_test.go
Due: run-bin-api-manager

NOJIRA-contact-case-management
  bin-contact-manager/pkg/casehandler/lifecycle.go
  bin-contact-manager/pkg/listenhandler/v1_cases_test.go
Due: none

NOJIRA-contact-case-management
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/cases/id_close.yaml
Due: run-bin-openapi-manager

VOIP-1229-remove-storage-manager-workload-identity
  bin-storage-manager/CLAUDE.md
  bin-storage-manager/docs/architecture.md
  bin-storage-manager/docs/operations.md
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-storage-manager/pkg/filehandler/bucketfile.go
  bin-storage-manager/pkg/filehandler/main.go
Due: run-bin-storage-manager

VOIP-1229-remove-storage-manager-workload-identity
  bin-storage-manager/cmd/storage-control/main.go
  bin-storage-manager/cmd/storage-manager/main.go
  bin-storage-manager/docs/operations.md
  bin-storage-manager/pkg/filehandler/main.go
  bin-storage-manager/pkg/filehandler/main_test.go
Due: run-bin-storage-manager

VOIP-1229-remove-storage-manager-workload-identity
  bin-storage-manager/docs/dependencies.md
Due: run-bin-storage-manager

VOIP-1229-remove-storage-manager-workload-identity
  bin-storage-manager/docs/operations.md
  bin-storage-manager/k8s/deployment.yml
Due: run-bin-storage-manager

VOIP-1229-remove-storage-manager-workload-identity (#1060)
  bin-storage-manager/CLAUDE.md
  bin-storage-manager/cmd/storage-control/main.go
  bin-storage-manager/cmd/storage-manager/main.go
  bin-storage-manager/docs/architecture.md
  bin-storage-manager/docs/dependencies.md
  bin-storage-manager/docs/operations.md
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-storage-manager/k8s/deployment.yml
  bin-storage-manager/pkg/filehandler/bucketfile.go
  bin-storage-manager/pkg/filehandler/main.go
  bin-storage-manager/pkg/filehandler/main_test.go
Due: run-bin-storage-manager

NOJIRA-wire-gcp-credentials-remaining-services
  bin-api-manager/k8s/deployment.yml
  bin-rag-manager/CLAUDE.md
  bin-rag-manager/docs/operations.md
  bin-rag-manager/k8s/deployment.yml
  bin-transcribe-manager/docs/operations.md
  bin-transcribe-manager/k8s/deployment.yml
  bin-tts-manager/docs/operations.md
  bin-tts-manager/k8s/deployment.yml
Due: run-bin-api-manager, run-bin-transcribe-manager, run-bin-tts-manager

NOJIRA-wire-gcp-credentials-remaining-services
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/pkg/servicehandler/main.go
Due: run-bin-api-manager

VOIP-1230-contact-namespace-rename
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
Due: run-bin-openapi-manager

NOJIRA-wire-gcp-credentials-remaining-services (#1062)
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/k8s/deployment.yml
  bin-api-manager/pkg/servicehandler/main.go
  bin-rag-manager/CLAUDE.md
  bin-rag-manager/docs/operations.md
  bin-rag-manager/k8s/deployment.yml
  bin-transcribe-manager/docs/operations.md
  bin-transcribe-manager/k8s/deployment.yml
  bin-tts-manager/docs/operations.md
  bin-tts-manager/k8s/deployment.yml
Due: run-bin-api-manager, run-bin-transcribe-manager, run-bin-tts-manager

VOIP-1231-fix-contact-manager-case-timeout-flag
  bin-contact-manager/cmd/contact-manager/main.go
Due: none

VOIP-1231-fix-contact-manager-case-timeout-flag (#1063)
  bin-contact-manager/cmd/contact-manager/main.go
Due: none

VOIP-1232-contact-manager-deadlock
  bin-contact-manager/docs/operations.md
  bin-contact-manager/pkg/casehandler/getorcreate.go
  bin-contact-manager/pkg/casehandler/getorcreate_deadlock_test.go
  bin-contact-manager/pkg/casehandler/main.go
  bin-contact-manager/pkg/casehandler/peerlock.go
  bin-contact-manager/pkg/contacthandler/interaction.go
  bin-contact-manager/pkg/dbhandler/kase.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/subscribehandler/main.go
Due: none

VOIP-1232-contact-manager-deadlock
  bin-contact-manager/pkg/casehandler/getorcreate_deadlock_test.go
Due: none

VOIP-1234-ai-insight
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
  bin-dbscheme-manager/bin-manager/main/versions/a5a40c93d3e6_ai_aicalls_add_active_reference_key_.py
Due: none

VOIP-1234-ai-insight
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

VOIP-1234-ai-insight (#1065)
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
  bin-dbscheme-manager/bin-manager/main/versions/a5a40c93d3e6_ai_aicalls_add_active_reference_key_.py
Due: none

VOIP-1234-fix-migration
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
  bin-dbscheme-manager/bin-manager/main/versions/a5a40c93d3e6_ai_aicalls_add_active_reference_key_.py
Due: none

VOIP-1234-fix-migration
  bin-dbscheme-manager/bin-manager/main/versions/a5a40c93d3e6_ai_aicalls_add_active_reference_key_.py
Due: none

VOIP-1234-fix-migration (#1066)
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
  bin-dbscheme-manager/bin-manager/main/versions/a5a40c93d3e6_ai_aicalls_add_active_reference_key_.py
Due: none

VOIP-1234-fix-migration-backfill
  bin-dbscheme-manager/bin-manager/main/versions/a5a40c93d3e6_ai_aicalls_add_active_reference_key_.py
Due: none

VOIP-1234-fix-migration-backfill (#1067)
  bin-dbscheme-manager/bin-manager/main/versions/a5a40c93d3e6_ai_aicalls_add_active_reference_key_.py
Due: none

VOIP-1234-fix-migration-retry
  bin-dbscheme-manager/bin-manager/main/versions/a5a40c93d3e6_ai_aicalls_add_active_reference_key_.py
Due: none

VOIP-1234-fix-migration-retry (#1068)
  bin-dbscheme-manager/bin-manager/main/versions/a5a40c93d3e6_ai_aicalls_add_active_reference_key_.py
Due: none

VOIP-1234-contact-case-rate-limit
  bin-ai-manager/internal/config/main.go
  bin-ai-manager/pkg/aicallhandler/metrics_conversation.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none
