Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

VOIP-1447-Fleet-go-toolchain-upgrade
  voip-rtpengine-proxy/Dockerfile
  voip-rtpengine-proxy/go.mod
  voip-rtpengine-proxy/pkg/ngclient/ngclient.go
  voip-rtpengine-proxy/pkg/pcapwatcher/mock_main.go
  voip-rtpengine-proxy/pkg/processmanager/manager.go
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  .circleci/config_work.yml
Due: none

VOIP-1444-orphaned-flow-reconciliation
  bin-campaign-manager/docs/architecture.md
  bin-campaign-manager/docs/domain.md
  bin-campaign-manager/docs/operations.md
  bin-campaign-manager/models/campaign/reconcile.go
  bin-campaign-manager/pkg/campaignhandler/main.go
  bin-campaign-manager/pkg/campaignhandler/mock_campaignhandler.go
  bin-campaign-manager/pkg/campaignhandler/reconcile.go
  bin-campaign-manager/pkg/campaignhandler/reconcile_test.go
  bin-campaign-manager/pkg/dbhandler/campaign.go
  bin-campaign-manager/pkg/dbhandler/campaign_reconcile_test.go
  bin-campaign-manager/pkg/dbhandler/main.go
  bin-campaign-manager/pkg/dbhandler/mock_dbhandler.go
  bin-campaign-manager/pkg/listenhandler/flows.go
  bin-campaign-manager/pkg/listenhandler/flows_test.go
  bin-campaign-manager/pkg/listenhandler/main.go
  bin-campaign-manager/pkg/listenhandler/models/request/flows.go
  bin-campaign-manager/scripts/database_scripts/table_campaigns.sql
  bin-dbscheme-manager/bin-manager/main/versions/9f7413ad1d07_schedule_schedules_seed_campaign_flow_.py
  bin-dbscheme-manager/bin-manager/main/versions/ab1507b96589_campaign_campaigns_add_index_tm_delete.py
  docs/plans/2026-09-02-voip-1444-orphaned-flow-reconciliation-design.md
  docs/plans/2026-09-02-voip-1444-orphaned-flow-reconciliation-plan.md
Due: run-bin-campaign-manager

VOIP-1441-Remove-orphaned-self-and-peer-conversation-route (#1255)
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/conversationhandler/get_by_self_and_peer_test.go
  bin-conversation-manager/pkg/conversationhandler/main.go
  bin-conversation-manager/pkg/conversationhandler/mock_conversationhandler.go
  bin-conversation-manager/pkg/listenhandler/main.go
  bin-conversation-manager/pkg/listenhandler/models/request/v1_conversations.go
  bin-conversation-manager/pkg/listenhandler/v1_conversations.go
  bin-conversation-manager/pkg/listenhandler/v1_conversations_get_or_create_test.go
  bin-conversation-manager/pkg/listenhandler/v1_conversations_self_and_peer_test.go
  docs/.docs-gen/bin-conversation-manager.extracted.json
Due: run-bin-conversation-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-agent-manager/go.mod
Due: run-bin-agent-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-ai-manager/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-api-manager/go.mod
Due: run-bin-api-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-billing-manager/go.mod
Due: run-bin-billing-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-call-manager/go.mod
Due: run-bin-call-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-campaign-manager/go.mod
Due: run-bin-campaign-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-common-handler/go.mod
Due: run-bin-common-handler

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-conference-manager/go.mod
Due: run-bin-conference-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-contact-manager/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-conversation-manager/go.mod
Due: run-bin-conversation-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-customer-manager/go.mod
Due: run-bin-customer-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-direct-manager/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-email-manager/go.mod
Due: run-bin-email-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-flow-manager/go.mod
Due: run-bin-flow-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-hook-manager/go.mod
Due: run-bin-hook-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-message-manager/go.mod
Due: run-bin-message-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-number-manager/go.mod
Due: run-bin-number-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-openapi-manager/go.mod
Due: run-bin-openapi-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-outdial-manager/go.mod
Due: run-bin-outdial-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-pipecat-manager/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-queue-manager/go.mod
Due: run-bin-queue-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-rag-manager/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-registrar-manager/go.mod
Due: run-bin-registrar-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-route-manager/go.mod
Due: run-bin-route-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-schedule-manager/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-sentinel-manager/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-storage-manager/go.mod
Due: run-bin-storage-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-tag-manager/go.mod
Due: run-bin-tag-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-talk-manager/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-timeline-manager/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-transcribe-manager/go.mod
Due: run-bin-transcribe-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-transfer-manager/go.mod
Due: run-bin-transfer-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-tts-manager/go.mod
Due: run-bin-tts-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-webchat-manager/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  bin-webhook-manager/go.mod
Due: run-bin-webhook-manager

VOIP-1447-Fleet-go-toolchain-upgrade
  voip-asterisk-proxy/go.mod
Due: run-voip-asterisk-proxy
