Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-api-error-pr3-flows-activeflows
  bin-api-manager/server/flows_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr4-numbers-providers
  docs/plans/2026-04-25-api-error-pr4-numbers-providers-plan.md
Due: none

NOJIRA-api-error-pr4-numbers-providers
  bin-api-manager/server/numbers.go
  bin-api-manager/server/numbers_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr4-numbers-providers
  bin-api-manager/server/available_numbers.go
Due: run-bin-api-manager

NOJIRA-api-error-pr4-numbers-providers
  bin-api-manager/server/providers.go
  bin-api-manager/server/providers_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr4-numbers-providers
  bin-api-manager/server/providercalls.go
Due: run-bin-api-manager

NOJIRA-api-error-pr4-numbers-providers
  bin-api-manager/server/trunks.go
Due: run-bin-api-manager

NOJIRA-api-error-pr4-numbers-providers
  bin-api-manager/server/routes.go
Due: run-bin-api-manager

NOJIRA-api-error-pr4-numbers-providers
  bin-api-manager/server/error_translate.go
  bin-api-manager/server/error_translate_test.go
  bin-api-manager/server/numbers_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr5-billing-customers
  docs/plans/2026-04-25-api-error-pr5-billing-customers-plan.md
Due: none

NOJIRA-api-error-pr5-billing-customers
  bin-api-manager/server/billings.go
Due: run-bin-api-manager

NOJIRA-api-error-pr5-billing-customers
  bin-api-manager/server/billing_accounts.go
  bin-api-manager/server/billing_accounts_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr5-billing-customers
  bin-api-manager/server/billing_account.go
  bin-api-manager/server/billing_account_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr5-billing-customers
  bin-api-manager/server/storage_account.go
  bin-api-manager/server/storage_accounts.go
Due: run-bin-api-manager

NOJIRA-api-error-pr5-billing-customers
  bin-api-manager/server/conversation_accounts.go
Due: run-bin-api-manager

NOJIRA-api-error-pr6-messages-emails
  docs/plans/2026-04-25-api-error-pr6-messages-emails-plan.md
Due: none

NOJIRA-api-error-pr6-messages-emails
  bin-api-manager/server/messages.go
  bin-api-manager/server/messages_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr6-messages-emails
  bin-api-manager/server/emails.go
  bin-api-manager/server/emails_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr6-messages-emails
  bin-api-manager/server/aimessages.go
  bin-api-manager/server/aimessages_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr6-messages-emails
  bin-api-manager/server/conversations.go
Due: run-bin-api-manager

NOJIRA-api-error-pr6-messages-emails
  bin-api-manager/server/service_agents_conversations.go
Due: run-bin-api-manager

NOJIRA-api-error-pr6-messages-emails
  bin-message-manager/pkg/messagehandler/send.go
  bin-number-manager/pkg/numberhandler/number.go
  bin-number-manager/pkg/numberhandler/renew.go
Due: run-bin-message-manager, run-bin-number-manager

NOJIRA-api-error-pr7-ai-group
  docs/plans/2026-04-25-api-error-pr7-ai-group-plan.md
Due: none
