Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-schedule-manager/docs/architecture.md
  bin-schedule-manager/pkg/subscribehandler/binding_golden_test.go
  bin-schedule-manager/pkg/subscribehandler/main.go
  bin-schedule-manager/pkg/subscribehandler/main_test.go
Due: none

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-registrar-manager/docs/architecture.md
  bin-registrar-manager/pkg/subscribehandler/binding_golden_test.go
  bin-registrar-manager/pkg/subscribehandler/main.go
  bin-registrar-manager/pkg/subscribehandler/main_test.go
Due: run-bin-registrar-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-storage-manager/docs/architecture.md
  bin-storage-manager/pkg/subscribehandler/binding_golden_test.go
  bin-storage-manager/pkg/subscribehandler/main.go
  bin-storage-manager/pkg/subscribehandler/main_test.go
Due: run-bin-storage-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-contact-manager/docs/architecture.md
  bin-contact-manager/pkg/subscribehandler/binding_golden_test.go
  bin-contact-manager/pkg/subscribehandler/main.go
  bin-contact-manager/pkg/subscribehandler/run_sequencing_test.go
  bin-contact-manager/pkg/subscribehandler/subscribehandler_test.go
Due: none

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-number-manager/docs/architecture.md
  bin-number-manager/docs/dependencies.md
  bin-number-manager/pkg/subscribehandler/binding_golden_test.go
  bin-number-manager/pkg/subscribehandler/main.go
  bin-number-manager/pkg/subscribehandler/main_test.go
Due: run-bin-number-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-tag-manager/docs/architecture.md
  bin-tag-manager/pkg/subscribehandler/binding_golden_test.go
  bin-tag-manager/pkg/subscribehandler/main.go
  bin-tag-manager/pkg/subscribehandler/main_test.go
Due: run-bin-tag-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-transfer-manager/docs/architecture.md
  bin-transfer-manager/pkg/subscribehandler/binding_golden_test.go
  bin-transfer-manager/pkg/subscribehandler/main.go
  bin-transfer-manager/pkg/subscribehandler/main_test.go
Due: run-bin-transfer-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  docs/reference/rabbitmq-queues-reference.md
Due: none

VOIP-1406-Migrate-subscribers-to-topic-bindings
  tasks/todo.md
Due: none

NOJIRA-Scale-hook-flow-managers-to-two-replicas
  bin-flow-manager/komodo/docker-compose.yml
  bin-hook-manager/README.md
  bin-hook-manager/docs/operations.md
  bin-hook-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-flow-manager, run-bin-hook-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-common-handler/docs/architecture.md
  bin-common-handler/models/eventtopic/routingkey.go
  bin-common-handler/models/eventtopic/routingkey_test.go
  docs/plans/2026-08-29-voip-1406-consumer-topic-migration-design.md
Due: run-bin-common-handler

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-agent-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-billing-manager/pkg/subscribehandler/main.go
  bin-call-manager/pkg/subscribehandler/main.go
  bin-campaign-manager/pkg/subscribehandler/main.go
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-conference-manager/pkg/subscribehandler/main.go
  bin-contact-manager/pkg/subscribehandler/main.go
  bin-conversation-manager/pkg/subscribehandler/main.go
  bin-direct-manager/pkg/subscribehandler/main.go
  bin-flow-manager/pkg/subscribehandler/main.go
Due: run-bin-conference-manager, run-bin-conversation-manager, run-bin-flow-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-number-manager/pkg/subscribehandler/main.go
  bin-queue-manager/pkg/subscribehandler/main.go
  bin-registrar-manager/pkg/subscribehandler/main.go
  bin-schedule-manager/pkg/subscribehandler/main.go
  bin-storage-manager/pkg/subscribehandler/main.go
Due: run-bin-number-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-storage-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-tag-manager/pkg/subscribehandler/main.go
  bin-transcribe-manager/pkg/subscribehandler/main.go
  bin-transfer-manager/pkg/subscribehandler/main.go
  bin-webhook-manager/pkg/subscribehandler/main.go
Due: run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-webhook-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  bin-billing-manager/docs/architecture.md
  docs/reference/rabbitmq-queues-reference.md
  tasks/todo.md
Due: run-bin-billing-manager

NOJIRA-Scale-hook-flow-managers-to-two-replicas (#1223)
  bin-flow-manager/komodo/docker-compose.yml
  bin-hook-manager/README.md
  bin-hook-manager/docs/operations.md
  bin-hook-manager/komodo/docker-compose.yml
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-flow-manager, run-bin-hook-manager

VOIP-1406-Migrate-subscribers-to-topic-bindings
  docs/plans/2026-08-29-voip-1406-consumer-topic-migration-design.md
Due: none

NOJIRA-Scale-tts-manager-to-two-replicas
  bin-tts-manager/CLAUDE.md
  bin-tts-manager/docs/operations.md
  bin-tts-manager/komodo/docker-compose.yml
  bin-tts-manager/pkg/buckethandler/main.go
  bin-tts-manager/pkg/buckethandler/main_test.go
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-tts-manager

NOJIRA-Replicadegraded-fire-immediately-docs
  docs/workflows/manager-replica-scaling.md
Due: none

VOIP-1407-Cutover-remove-fanout-dual-publish
  tasks/todo.md
Due: none

VOIP-1407-Cutover-remove-fanout-dual-publish
  docs/plans/2026-08-29-voip-1407-fanout-cutover-design.md
  tasks/todo.md
Due: none

NOJIRA-Replicadegraded-fire-immediately-docs (#1225)
  docs/workflows/manager-replica-scaling.md
Due: none

VOIP-1407-Cutover-remove-fanout-dual-publish
  docs/plans/2026-08-29-voip-1407-fanout-cutover-design.md
Due: none

NOJIRA-Scale-tts-manager-to-two-replicas (#1224)
  bin-tts-manager/CLAUDE.md
  bin-tts-manager/docs/operations.md
  bin-tts-manager/komodo/docker-compose.yml
  bin-tts-manager/pkg/buckethandler/main.go
  bin-tts-manager/pkg/buckethandler/main_test.go
  docs/plans/2026-08-28-bin-manager-two-replica-rollout-design.md
  docs/workflows/manager-replica-scaling.md
Due: run-bin-tts-manager

VOIP-1407-Cutover-remove-fanout-dual-publish
  docs/plans/2026-08-29-voip-1407-fanout-cutover-plan.md
Due: none

NOJIRA-Transcribe-manager-per-pod-rpc-routing
  bin-api-manager/pkg/servicehandler/transcribe.go
  bin-api-manager/pkg/servicehandler/transcribe_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/transcribe_transcribes.go
  bin-common-handler/pkg/requesthandler/transcribe_transcribes_test.go
  bin-conference-manager/pkg/conferencehandler/transcribe.go
  bin-conference-manager/pkg/conferencehandler/transcribe_test.go
  bin-transcribe-manager/docs/operations.md
  bin-transcribe-manager/pkg/transcribehandler/health.go
  bin-transcribe-manager/pkg/transcribehandler/health_test.go
  bin-transcribe-manager/pkg/transcribehandler/stop.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-transcribe-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
