Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Add-aggregated-events-endpoint
  bin-timeline-manager/models/event/request.go
  bin-timeline-manager/models/event/response.go
Due: none

NOJIRA-Add-aggregated-events-endpoint
  bin-timeline-manager/pkg/dbhandler/event.go
  bin-timeline-manager/pkg/dbhandler/event_test.go
  bin-timeline-manager/pkg/dbhandler/main.go
  bin-timeline-manager/pkg/dbhandler/mock_main.go
Due: none

NOJIRA-Add-aggregated-events-endpoint
  bin-timeline-manager/pkg/eventhandler/event.go
  bin-timeline-manager/pkg/eventhandler/event_test.go
  bin-timeline-manager/pkg/eventhandler/main.go
  bin-timeline-manager/pkg/eventhandler/mock_main.go
  bin-timeline-manager/pkg/listenhandler/models/request/aggregated_event.go
  bin-timeline-manager/pkg/listenhandler/models/response/aggregated_event.go
Due: none

NOJIRA-Add-aggregated-events-endpoint
  bin-timeline-manager/pkg/listenhandler/main.go
  bin-timeline-manager/pkg/listenhandler/v1_aggregated_events.go
Due: none

NOJIRA-Add-aggregated-events-endpoint
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/timeline_aggregated_events.go
Due: run-bin-common-handler

NOJIRA-Add-aggregated-events-endpoint
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/timelines/aggregated_events.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Add-aggregated-events-endpoint
  bin-api-manager/pkg/servicehandler/aggregated_events.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
Due: run-bin-api-manager

NOJIRA-Add-aggregated-events-endpoint
  bin-api-manager/server/aggregated_events.go
Due: run-bin-api-manager

NOJIRA-Add-aggregated-events-endpoint
  bin-timeline-manager/pkg/listenhandler/main_test.go
Due: none

NOJIRA-Add-aggregated-events-endpoint
  bin-api-manager/pkg/servicehandler/aggregated_events_test.go
Due: run-bin-api-manager

NOJIRA-Add-aggregated-events-endpoint
  bin-api-manager/server/aggregated_events_test.go
Due: run-bin-api-manager

NOJIRA-Add-aggregated-events-endpoint
  bin-api-manager/pkg/servicehandler/aggregated_events.go
  bin-api-manager/pkg/servicehandler/aggregated_events_test.go
Due: run-bin-api-manager

NOJIRA-Add-aggregated-events-endpoint
  docs/plans/2026-03-14-aggregated-events-endpoint-design.md
  docs/plans/2026-03-14-aggregated-events-endpoint-plan.md
Due: none

NOJIRA-Add-aggregated-events-endpoint
  docs/plans/2026-03-14-aggregated-events-endpoint-design.md
Due: none

NOJIRA-Add-file-type-field
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/paths/files/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Fix-alembic-migration-head
  bin-dbscheme-manager/bin-manager/main/versions/fd2a3b4c5d6e_storage_files_add_type_column.py
Due: none

NOJIRA-Add-activeflow-id-to-ai-message
  docs/plans/2026-03-15-add-activeflow-id-to-ai-message-design.md
Due: none

NOJIRA-Add-activeflow-id-to-ai-message
  docs/plans/2026-03-15-add-activeflow-id-to-ai-message.md
Due: none

NOJIRA-Rag-manager-multi-tenant-database-design
  docs/plans/2026-03-15-rag-manager-multi-tenant-database-design.md
Due: none

NOJIRA-Add-activeflow-id-to-ai-message
  bin-dbscheme-manager/bin-manager/main/versions/889f8fc50634_ai_messages_add_column_activeflow_id.py
Due: none

NOJIRA-Add-activeflow-id-to-ai-message
  bin-pipecat-manager/models/message/main.go
  bin-pipecat-manager/models/message/member_switched.go
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/listenhandler/v1_messages_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session_test.go
Due: none

NOJIRA-Add-activeflow-id-to-ai-message
  bin-ai-manager/models/message/field.go
  bin-ai-manager/models/message/filters.go
  bin-ai-manager/models/message/main.go
  bin-ai-manager/models/message/webhook.go
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/send.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
  bin-ai-manager/pkg/listenhandler/v1_messages_test.go
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/messagehandler/db_test.go
  bin-ai-manager/pkg/messagehandler/event.go
  bin-ai-manager/pkg/messagehandler/event_test.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/mock_main.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_messages.sql
Due: none

NOJIRA-Add-activeflow-id-to-ai-message
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/aimessages_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Rag-manager-multi-tenant-database-design (#687)
  docs/plans/2026-03-15-rag-manager-multi-tenant-database-design.md
Due: none

NOJIRA-Add-activeflow-id-to-ai-message
  bin-ai-manager/scripts/database_scripts_test/table_ai_messages.sql
Due: none

NOJIRA-Add-activeflow-id-to-ai-message
  bin-ai-manager/models/message/filters.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Rag-manager-postgresql-foundation
  docs/plans/2026-03-15-rag-manager-postgresql-foundation-plan.md
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-rag-manager/go.mod
  bin-rag-manager/go.sum
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-rag-manager/cmd/rag-manager/main.go
  bin-rag-manager/internal/config/config.go
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-rag-manager/go.mod
  bin-rag-manager/go.sum
  bin-rag-manager/models/chunk/field.go
  bin-rag-manager/models/chunk/main.go
  bin-rag-manager/models/document/field.go
  bin-rag-manager/models/document/main.go
  bin-rag-manager/models/document/webhook.go
  bin-rag-manager/models/query/main.go
  bin-rag-manager/models/rag/field.go
  bin-rag-manager/models/rag/main.go
  bin-rag-manager/models/rag/webhook.go
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-rag-manager/pkg/dbhandler/chunk.go
  bin-rag-manager/pkg/dbhandler/document.go
  bin-rag-manager/pkg/dbhandler/main.go
  bin-rag-manager/pkg/dbhandler/mock_main.go
  bin-rag-manager/pkg/dbhandler/rag.go
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-rag-manager/go.mod
  bin-rag-manager/go.sum
  bin-rag-manager/pkg/dbhandler/chunk.go
  bin-rag-manager/pkg/dbhandler/chunk_test.go
  bin-rag-manager/pkg/dbhandler/document.go
  bin-rag-manager/pkg/dbhandler/document_test.go
  bin-rag-manager/pkg/dbhandler/rag.go
  bin-rag-manager/pkg/dbhandler/rag_test.go
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-dbscheme-manager/rag-manager/alembic.ini.sample
  bin-dbscheme-manager/rag-manager/main/README
  bin-dbscheme-manager/rag-manager/main/env.py
  bin-dbscheme-manager/rag-manager/main/script.py.mako
  bin-dbscheme-manager/rag-manager/main/versions/001_create_rag_tables.py
  bin-rag-manager/cmd/rag-manager/main.go
  bin-rag-manager/go.mod
  bin-rag-manager/go.sum
  bin-rag-manager/k8s/deployment.yml
  bin-rag-manager/pkg/listenhandler/main_test.go
  bin-rag-manager/pkg/raghandler/main.go
  bin-rag-manager/pkg/raghandler/main_test.go
  bin-rag-manager/pkg/raghandler/mock_main.go
Due: none

NOJIRA-Rag-manager-postgresql-foundation
  bin-rag-manager/cmd/rag-manager/main.go
  bin-rag-manager/pkg/dbhandler/chunk.go
  bin-rag-manager/pkg/dbhandler/document.go
  bin-rag-manager/pkg/dbhandler/rag.go
Due: none

NOJIRA-Enable-clickhouse-for-ai-manager
  bin-ai-manager/cmd/ai-control/main.go
  bin-ai-manager/cmd/ai-manager/main.go
Due: none

NOJIRA-Enable-clickhouse-for-ai-manager
  bin-ai-manager/k8s/deployment.yml
Due: none

NOJIRA-Enable-clickhouse-for-ai-manager
  bin-tts-manager/k8s/deployment.yml
Due: run-bin-tts-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
