Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-add-initial-token-topup-for-new-customers
  bin-billing-manager/pkg/accounthandler/event.go
  bin-billing-manager/pkg/accounthandler/event_test.go
  docs/plans/2026-02-21-add-initial-token-topup-for-new-customers-design.md
  docs/plans/2026-02-21-add-initial-token-topup-for-new-customers-plan.md
Due: run-bin-billing-manager

NOJIRA-add-initial-token-topup-for-new-customers
  bin-billing-manager/pkg/accounthandler/event.go
  bin-billing-manager/pkg/accounthandler/event_test.go
Due: run-bin-billing-manager

NOJIRA-add-initial-token-topup-for-new-customers (#562)
  bin-billing-manager/pkg/accounthandler/event.go
  bin-billing-manager/pkg/accounthandler/event_test.go
  docs/plans/2026-02-21-add-initial-token-topup-for-new-customers-design.md
  docs/plans/2026-02-21-add-initial-token-topup-for-new-customers-plan.md
Due: run-bin-billing-manager

NOJIRA-fix-verification-email-ai-native
  bin-customer-manager/pkg/customerhandler/signup.go
Due: run-bin-customer-manager

NOJIRA-fix-verification-email-ai-native
  docs/plans/2026-02-21-fix-verification-email-ai-native-design.md
  docs/plans/2026-02-21-fix-verification-email-ai-native-plan.md
Due: none

NOJIRA-fix-verification-email-ai-native (#565)
  bin-customer-manager/pkg/customerhandler/signup.go
  docs/plans/2026-02-21-fix-verification-email-ai-native-design.md
  docs/plans/2026-02-21-fix-verification-email-ai-native-plan.md
Due: run-bin-customer-manager

NOJIRA-fix-customer-manager-missing-dep
  bin-customer-manager/go.mod
  bin-customer-manager/go.sum
Due: run-bin-customer-manager

NOJIRA-fix-customer-manager-missing-dep (#566)
  bin-customer-manager/go.mod
  bin-customer-manager/go.sum
Due: run-bin-customer-manager

NOJIRA-fix-signup-accesskey-expiry
  bin-customer-manager/pkg/customerhandler/complete_signup_test.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
Due: run-bin-customer-manager

NOJIRA-add-plan-subscription-pricing
  bin-billing-manager/models/account/plan.go
  bin-billing-manager/models/account/plan_test.go
  bin-billing-manager/pkg/accounthandler/event_test.go
Due: run-bin-billing-manager

NOJIRA-add-plan-subscription-pricing
  bin-api-manager/docsdev/build/html/_sources/billing_account_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/billing_account_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/billing_account.html
  bin-api-manager/docsdev/build/html/billing_account_overview.html
  bin-api-manager/docsdev/build/html/billing_account_tutorial.html
  bin-api-manager/docsdev/source/billing_account_overview.rst
  bin-api-manager/docsdev/source/billing_account_tutorial.rst
Due: run-bin-api-manager

NOJIRA-hash-accesskey-tokens
  bin-common-handler/pkg/utilhandler/hash_sha256.go
  bin-common-handler/pkg/utilhandler/hash_sha256_test.go
  bin-common-handler/pkg/utilhandler/main.go
  bin-common-handler/pkg/utilhandler/mock_main.go
Due: run-bin-common-handler

NOJIRA-hash-accesskey-tokens
  bin-customer-manager/models/accesskey/accesskey.go
  bin-customer-manager/models/accesskey/accesskey_test.go
  bin-customer-manager/models/accesskey/field.go
  bin-customer-manager/models/accesskey/field_test.go
  bin-customer-manager/models/accesskey/filters.go
  bin-customer-manager/models/accesskey/filters_test.go
  bin-customer-manager/models/accesskey/webhook.go
  bin-customer-manager/models/accesskey/webhook_test.go
  bin-customer-manager/pkg/accesskeyhandler/db.go
  bin-customer-manager/pkg/accesskeyhandler/db_test.go
  bin-customer-manager/pkg/accesskeyhandler/main.go
  bin-customer-manager/pkg/accesskeyhandler/main_test.go
  bin-customer-manager/pkg/dbhandler/accesskey_test.go
  bin-customer-manager/pkg/listenhandler/v1_accesskeys_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_complete_signup_test.go
  bin-customer-manager/scripts/database_scripts_test/customer_accesskeys.sql
Due: run-bin-customer-manager

NOJIRA-hash-accesskey-tokens
  bin-api-manager/pkg/servicehandler/accesskeys.go
  bin-api-manager/pkg/servicehandler/auth_test.go
  bin-api-manager/server/accesskeys_test.go
Due: run-bin-api-manager

NOJIRA-hash-accesskey-tokens
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-hash-accesskey-tokens
  bin-dbscheme-manager/bin-manager/main/versions/8f42ac0555e7_customer_accesskeys_hash_token.py
Due: none

NOJIRA-hash-accesskey-tokens
  docs/plans/2026-02-22-accesskey-token-hashing-design.md
  docs/plans/2026-02-22-accesskey-token-hashing-plan.md
Due: none

NOJIRA-hide-speaking-pod-id
  bin-tts-manager/models/speaking/webhook.go
Due: run-bin-tts-manager

NOJIRA-hash-accesskey-tokens
  bin-customer-manager/pkg/accesskeyhandler/db.go
  bin-customer-manager/pkg/accesskeyhandler/db_test.go
  bin-customer-manager/scripts/database_scripts_test/customer_accesskeys.sql
  bin-dbscheme-manager/bin-manager/main/versions/8f42ac0555e7_customer_accesskeys_hash_token.py
Due: run-bin-customer-manager

NOJIRA-hide-speaking-pod-id
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/speaking.go
  bin-api-manager/pkg/servicehandler/speaking_test.go
Due: run-bin-api-manager

NOJIRA-hide-speaking-pod-id
  CLAUDE.md
Due: none

NOJIRA-hide-speaking-pod-id
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-hide-speaking-pod-id
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  docs/plans/2026-02-22-hide-speaking-pod-id-design.md
  docs/plans/2026-02-22-hide-speaking-pod-id-plan.md
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-hash-accesskey-tokens
  bin-customer-manager/pkg/accesskeyhandler/db_test.go
  docs/plans/2026-02-22-accesskey-token-hashing-design.md
Due: run-bin-customer-manager

NOJIRA-hash-accesskey-tokens
  bin-api-manager/pkg/servicehandler/accesskeys.go
Due: run-bin-api-manager

NOJIRA-hide-speaking-pod-id
  bin-tts-manager/models/speaking/webhook_test.go
Due: run-bin-tts-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
