Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

WIP
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/requirements.txt_org
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

VOIP-1106-Add_pipecat_manager (#249)
  .circleci/config.yml
  .circleci/config_work.yml
  .gitignore
  bin-pipecat-manager/Dockerfile
  bin-pipecat-manager/cmd/pipecat-manager/init.go
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/k8s/deployment.yml
  bin-pipecat-manager/k8s/kustomization.yml
  bin-pipecat-manager/k8s/namespace.yml
  bin-pipecat-manager/k8s/service.yml
  bin-pipecat-manager/models/pipecatcall/event.go
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-pipecat-manager/models/pipecatframe/frames.pb.go
  bin-pipecat-manager/models/pipecatframe/helper.go
  bin-pipecat-manager/models/pipecatframe/rtvi.go
  bin-pipecat-manager/pkg/listenhandler/main.go
  bin-pipecat-manager/pkg/listenhandler/models/request/main.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls.go
  bin-pipecat-manager/pkg/listenhandler/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatcall.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/proto/frames.proto
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/requirements.txt_org
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/uv.lock
Due: none

Fixed
  .circleci/config_work.yml
  bin-agent-manager/go.mod
  bin-agent-manager/go.sum
Due: run-bin-agent-manager

Fixed
  bin-agent-manager/go.sum
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-billing-manager/go.mod
  bin-billing-manager/go.sum
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager

Fixed
  .circleci/config_work.yml
Due: none

Fixed
  bin-call-manager/pkg/callhandler/recoveryhandler_homer.go
  bin-email-manager/pkg/emailhandler/engine_sendgrid.go
  bin-flow-manager/pkg/actionhandler/action.go
  bin-message-manager/pkg/requestexternal/telnyx.go
  bin-number-manager/pkg/dbhandler/db.go
  bin-number-manager/pkg/requestexternal/models/telnyx/available_number.go
  bin-number-manager/pkg/requestexternal/telnyx.go
  bin-number-manager/pkg/requestexternal/telnyx_test.go
  bin-webhook-manager/pkg/webhookhandler/message.go
Due: run-bin-call-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-message-manager, run-bin-number-manager, run-bin-webhook-manager

Fixed
  bin-campaign-manager/pkg/dbhandler/campaign.go
  bin-campaign-manager/pkg/dbhandler/campaigncall.go
  bin-campaign-manager/pkg/dbhandler/outplan.go
  bin-chat-manager/pkg/dbhandler/chat.go
  bin-chat-manager/pkg/dbhandler/chatroom.go
  bin-chat-manager/pkg/dbhandler/messagechat.go
  bin-chat-manager/pkg/dbhandler/messagechatroom.go
  bin-conversation-manager/pkg/dbhandler/media.go
  bin-email-manager/pkg/dbhandler/emails.go
  bin-outdial-manager/pkg/dbhandler/outdial.go
  bin-outdial-manager/pkg/dbhandler/outdialtarget.go
  bin-outdial-manager/pkg/dbhandler/outdialtargetcall.go
  bin-route-manager/pkg/dbhandler/provider.go
  bin-route-manager/pkg/dbhandler/route.go
  bin-storage-manager/pkg/dbhandler/accounts.go
  bin-storage-manager/pkg/dbhandler/files.go
Due: run-bin-campaign-manager, run-bin-chat-manager, run-bin-conversation-manager, run-bin-email-manager, run-bin-outdial-manager, run-bin-route-manager, run-bin-storage-manager

Fixed
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/send_test.go
  bin-api-manager/pkg/dbhandler/main.go
  bin-api-manager/pkg/streamhandler/process.go
  bin-api-manager/pkg/websockhandler/run_external_media.go
  bin-call-manager/pkg/callhandler/action.go
  bin-call-manager/pkg/callhandler/arievent.go
  bin-call-manager/pkg/dbhandler/recording_test.go
  bin-call-manager/pkg/groupcallhandler/start_test.go
  bin-number-manager/pkg/requestexternal/telnyx_test.go
  bin-outdial-manager/pkg/dbhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-registrar-manager/cmd/registrar-manager/main.go
  bin-transcribe-manager/pkg/dbhandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/aws.go
  bin-transcribe-manager/pkg/streaminghandler/run.go
  bin-transcribe-manager/pkg/streaminghandler/start_test.go
  bin-transcribe-manager/pkg/transcribehandler/health_test.go
  bin-tts-manager/pkg/buckethandler/file.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/run.go
  bin-tts-manager/pkg/streaminghandler/start_test.go
  bin-webhook-manager/pkg/dbhandler/main.go
Due: run-bin-api-manager, run-bin-call-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-registrar-manager, run-bin-transcribe-manager, run-bin-tts-manager, run-bin-webhook-manager

Fixed
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/pkg/dbhandler/main_test.go
  bin-api-manager/pkg/servicehandler/activeflows_test.go
  bin-api-manager/pkg/servicehandler/call_test.go
  bin-api-manager/pkg/streamhandler/stream.go
  bin-api-manager/pkg/websockhandler/etc.go
  bin-api-manager/pkg/websockhandler/media_stream.go
  bin-api-manager/pkg/websockhandler/run_external_media.go
  bin-api-manager/pkg/websockhandler/subscription.go
  bin-api-manager/pkg/zmq/zmq.go
  bin-api-manager/server/chats_test.go
  bin-api-manager/server/files_test.go
  bin-api-manager/server/service_agents_files_test.go
  bin-api-manager/server/storage_files_test.go
  bin-common-handler/pkg/rabbitmqhandler/consume.go
  bin-common-handler/pkg/rabbitmqhandler/main.go
  bin-common-handler/pkg/rabbitmqhandler/publish.go
  bin-common-handler/pkg/requesthandler/agent_agents.go
  bin-common-handler/pkg/requesthandler/agent_agents_test.go
  bin-common-handler/pkg/requesthandler/conversation_messages_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/queue_queue_test.go
  bin-flow-manager/pkg/actionhandler/action_test.go
  bin-flow-manager/pkg/activeflowhandler/action_test.go
  bin-hook-manager/api/v1.0/conversation/conversation_test.go
  bin-hook-manager/api/v1.0/emails/emails_test.go
  bin-hook-manager/api/v1.0/messages/messages_test.go
  bin-hook-manager/cmd/hook-manager/main.go
  bin-message-manager/pkg/requestexternal/messagebird.go
  bin-queue-manager/pkg/dbhandler/queuecall.go
  bin-storage-manager/pkg/filehandler/bucketfile.go
  bin-transfer-manager/pkg/transferhandler/transferee.go
  bin-tts-manager/pkg/audiohandler/aws.go
  bin-tts-manager/pkg/buckethandler/file.go
  voip-asterisk-proxy/pkg/listenhandler/ari_handler_test.go
  voip-asterisk-proxy/pkg/servicehandler/recording.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-queue-manager, run-bin-storage-manager, run-bin-transfer-manager, run-bin-tts-manager, run-voip-asterisk-proxy

Fixed
  .circleci/config_work.yml
  bin-queue-manager/pkg/subscribehandler/callmanager.go
Due: run-bin-queue-manager

Fixed
  bin-api-manager/pkg/websockhandler/run_external_media.go
Due: run-bin-api-manager

Fixed
  bin-api-manager/Dockerfile
Due: run-bin-api-manager

WIP
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/start.go
Due: none

WIP
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

WIP
  bin-pipecat-manager/k8s/deployment.yml
Due: none

WIP
  bin-pipecat-manager/k8s/deployment.yml
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/main.py_
  bin-pipecat-manager/scripts/pipecat/poetry.lock
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
Due: none

WIP
  bin-pipecat-manager/Dockerfile
  bin-pipecat-manager/README.md
  bin-pipecat-manager/scripts/pipecat/poetry.lock
  bin-pipecat-manager/scripts/pipecat/pyproject.toml_
  bin-pipecat-manager/scripts/pipecat/requirements.txt
Due: none

WIP
  bin-pipecat-manager/models/pipecatcall/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/main.py
Due: none

WIP
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/scripts/pipecat/main.py
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-pipecat-manager/pkg/pipecatcallhandler/etc.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/scripts/pipecat/main.py
Due: none

WIP
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

WIP
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-pipecat-manager/scripts/pipecat/main.py
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
