Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Add-mcp-tool-exposure-b2
  bin-ai-manager/pkg/mcpschema/helpers_test.go
  bin-ai-manager/pkg/mcpschema/normalize.go
  bin-ai-manager/pkg/mcpschema/normalize_test.go
  bin-api-manager/docsdev/build/doctrees/ai_struct_mcpserver.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/_sources/ai_struct_mcpserver.rst.txt
  bin-api-manager/docsdev/build/html/ai_struct_mcpserver.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/ai_struct_mcpserver.rst
  docs/plans/2026-09-29-mcp-tool-exposure-pr-b2-design.md
Due: run-bin-api-manager

NOJIRA-Strengthen-pipeline-error-test-coverage
  bin-ai-manager/pkg/messagehandler/pipeline_error.go
  bin-ai-manager/pkg/messagehandler/pipeline_error_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipelineerror_test.go
Due: none

NOJIRA-Add-mcp-tool-exposure-b2
  bin-ai-manager/pkg/mcpschema/helpers_test.go
  bin-ai-manager/pkg/mcpschema/normalize.go
  bin-ai-manager/pkg/mcpschema/normalize_test.go
  docs/plans/2026-09-29-mcp-tool-exposure-pr-b2-design.md
Due: none

NOJIRA-Add-mcp-tool-exposure-b2
  bin-ai-manager/pkg/mcpschema/helpers_test.go
  bin-ai-manager/pkg/mcpschema/main.go
  bin-ai-manager/pkg/mcpschema/normalize.go
  bin-ai-manager/pkg/mcpschema/normalize_test.go
  docs/plans/2026-09-29-mcp-tool-exposure-pr-b2-design.md
Due: none

VOIP-1543-Harden-pipeline-error-test-coverage
  bin-ai-manager/pkg/messagehandler/pipeline_error.go
  bin-ai-manager/pkg/messagehandler/pipeline_error_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipelineerror_test.go
  docs/plans/2026-09-29-harden-pipeline-error-test-coverage-design.md
Due: none

VOIP-1543-Harden-pipeline-error-test-coverage
  bin-pipecat-manager/pkg/pipecatcallhandler/pipelineerror_test.go
  docs/plans/2026-09-29-harden-pipeline-error-test-coverage-design.md
Due: none

NOJIRA-Add-mcp-tool-exposure-b2
  bin-ai-manager/pkg/mcpschema/normalize.go
  bin-ai-manager/pkg/mcpschema/normalize_test.go
  docs/plans/2026-09-29-mcp-tool-exposure-pr-b2-design.md
Due: none

NOJIRA-Add-mcp-tool-exposure-b2
  bin-ai-manager/pkg/mcpschema/normalize.go
  bin-ai-manager/pkg/mcpschema/normalize_test.go
Due: none

NOJIRA-Add-mcp-tool-exposure-b2
  bin-pipecat-manager/docs/operations.md
  docs/plans/2026-09-29-mcp-tool-exposure-pr-b2-design.md
Due: none

VOIP-1545-Refresh-asterisk-proxy-readme
  docs/plans/2026-09-30-voip-1545-asterisk-proxy-readme-refresh-design.md
  voip-asterisk-proxy/README.md
  voip-asterisk-proxy/docs/architecture.md
  voip-asterisk-proxy/docs/domain.md
Due: run-voip-asterisk-proxy

VOIP-1545-Refresh-asterisk-proxy-readme
  docs/plans/2026-09-30-voip-1545-asterisk-proxy-readme-refresh-design.md
  voip-asterisk-proxy/docs/domain.md
Due: run-voip-asterisk-proxy

VOIP-1545-Refresh-asterisk-proxy-readme
  docs/plans/2026-09-30-voip-1545-asterisk-proxy-readme-refresh-design.md
  voip-asterisk-proxy/README.md
  voip-asterisk-proxy/docs/domain.md
  voip-asterisk-proxy/docs/operations.md
  voip-asterisk-proxy/docs/subsystems.md
  voip-asterisk-proxy/pkg/servicehandler/recording.go
  voip-asterisk-proxy/pkg/servicehandler/recording_test.go
Due: run-voip-asterisk-proxy

Tighten recording upload test assertions
  docs/plans/2026-09-30-voip-1545-asterisk-proxy-readme-refresh-design.md
  voip-asterisk-proxy/pkg/servicehandler/recording_test.go
Due: run-voip-asterisk-proxy

Update the VOIP-1545 design document status
  docs/plans/2026-09-30-voip-1545-asterisk-proxy-readme-refresh-design.md
Due: none

VOIP-1545-Refresh-asterisk-proxy-readme
  docs/plans/2026-09-30-voip-1545-asterisk-proxy-readme-refresh-design.md
  voip-asterisk-proxy/README.md
  voip-asterisk-proxy/docs/architecture.md
  voip-asterisk-proxy/docs/domain.md
  voip-asterisk-proxy/docs/operations.md
  voip-asterisk-proxy/docs/subsystems.md
  voip-asterisk-proxy/pkg/servicehandler/recording.go
  voip-asterisk-proxy/pkg/servicehandler/recording_test.go
Due: run-voip-asterisk-proxy

VOIP-1544-Upgrade-pipecat-to-1.12.0
  bin-pipecat-manager/Dockerfile
  bin-pipecat-manager/docs/dependencies.md
  bin-pipecat-manager/docs/plans/2026-09-30-pipecat-1.12-upgrade-design.md
  bin-pipecat-manager/scripts/pipecat/conftest.py
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/routing_llm.py
  bin-pipecat-manager/scripts/pipecat/routing_stt.py
  bin-pipecat-manager/scripts/pipecat/routing_tts.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/team_flow.py
  bin-pipecat-manager/scripts/pipecat/test_init_pipeline.py
  bin-pipecat-manager/scripts/pipecat/test_routing_llm.py
  bin-pipecat-manager/scripts/pipecat/test_routing_stt.py
  bin-pipecat-manager/scripts/pipecat/test_routing_tts.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
  bin-pipecat-manager/scripts/pipecat/test_team_flow.py
  bin-pipecat-manager/scripts/pipecat/test_upgrade_112.py
  bin-pipecat-manager/scripts/pipecat/uv.lock
Due: none

VOIP-1544-Upgrade-pipecat-to-1.12.0
  bin-pipecat-manager/docs/plans/2026-09-30-pipecat-1.12-upgrade-design.md
  bin-pipecat-manager/scripts/pipecat/routing_llm.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_init_pipeline.py
  bin-pipecat-manager/scripts/pipecat/test_team_flow.py
  bin-pipecat-manager/scripts/pipecat_realtest/test_gemini_tool_filter_real.py
  bin-pipecat-manager/scripts/pipecat_realtest/test_upgrade_112_real.py
Due: none

VOIP-1544-Upgrade-pipecat-to-1.12.0
  bin-pipecat-manager/docs/plans/2026-09-30-pipecat-1.12-upgrade-design.md
  bin-pipecat-manager/scripts/pipecat_realtest/test_upgrade_112_real.py
Due: none

VOIP-1544-Upgrade-pipecat-to-1.12.0
  bin-pipecat-manager/Dockerfile
  bin-pipecat-manager/docs/dependencies.md
  bin-pipecat-manager/docs/plans/2026-09-30-pipecat-1.12-upgrade-design.md
  bin-pipecat-manager/scripts/pipecat/pyproject.toml
  bin-pipecat-manager/scripts/pipecat/requirements.txt
  bin-pipecat-manager/scripts/pipecat/uv.lock
  bin-pipecat-manager/scripts/pipecat_realtest/test_upgrade_112_real.py
Due: none

VOIP-1544-Upgrade-pipecat-to-1.12.0
  bin-pipecat-manager/docs/plans/2026-09-30-pipecat-1.12-upgrade-design.md
Due: none

VOIP-1544-Upgrade-pipecat-to-1.12.0
  bin-pipecat-manager/docs/plans/2026-09-30-pipecat-1.12-upgrade-design.md
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_init_pipeline.py
  bin-pipecat-manager/scripts/pipecat_realtest/test_upgrade_112_real.py
Due: none

VOIP-1544-Upgrade-pipecat-to-1.12.0
  bin-pipecat-manager/docs/operations.md
  bin-pipecat-manager/k8s/deployment.yml
  bin-pipecat-manager/k8s/kustomization.yml
  bin-pipecat-manager/k8s/namespace.yml
  bin-pipecat-manager/k8s/service.yml
  bin-pipecat-manager/komodo/docker-compose.yml
Due: none

VOIP-1544-Upgrade-pipecat-to-1.12.0
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/docs/domain.md
  bin-pipecat-manager/docs/operations.md
  bin-pipecat-manager/docs/plans/2026-09-30-pipecat-1.12-upgrade-design.md
  bin-pipecat-manager/komodo/docker-compose.yml
  bin-pipecat-manager/komodo/environment.env
Due: none

VOIP-1544-Upgrade-pipecat-to-1.12.0
  bin-pipecat-manager/docs/architecture.md
  bin-pipecat-manager/docs/plans/2026-09-30-pipecat-1.12-upgrade-design.md
  bin-pipecat-manager/komodo/docker-compose.yml
  bin-pipecat-manager/komodo/environment.env
  bin-pipecat-manager/scripts/pipecat/test_run.py
Due: none

VOIP-1544-Upgrade-pipecat-to-1.12.0
  bin-pipecat-manager/komodo/docker-compose.yml
  bin-pipecat-manager/scripts/pipecat/test_run.py
Due: none

VOIP-1545-Add-asterisk-rtdb-migration-2285f2ace275
  bin-dbscheme-manager/asterisk_config/config/versions/2285f2ace275_add_external_signaling_hostname.py
  docs/plans/2026-09-30-voip-1545-asterisk-rtdb-migration-2285f2ace275-design.md
Due: none

Clarify the PR-C apply notes in the design document
  docs/plans/2026-09-30-voip-1545-asterisk-rtdb-migration-2285f2ace275-design.md
Due: none

VOIP-1553 Disable call recovery unless explicitly enabled
  bin-call-manager/CLAUDE.md
  bin-call-manager/cmd/call-control/main.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/docs/architecture.md
  bin-call-manager/docs/domain.md
  bin-call-manager/docs/operations.md
  bin-call-manager/docs/plans/2026-10-01-disable-call-recovery-by-default-design.md
  bin-call-manager/internal/config/main.go
  bin-call-manager/internal/config/main_test.go
  bin-call-manager/pkg/callhandler/event_test.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/recovery.go
  bin-call-manager/pkg/callhandler/recovery_test.go
  bin-sentinel-manager/CLAUDE.md
  bin-sentinel-manager/README.md
  bin-sentinel-manager/docs/architecture.md
  bin-sentinel-manager/docs/domain.md
  bin-sentinel-manager/docs/operations.md
  monitoring/grafana/dashboards/sentinel-manager.json
Due: run-bin-call-manager

VOIP-1553 Cover recovery env binding and constructor wiring in tests
  bin-call-manager/docs/plans/2026-10-01-disable-call-recovery-by-default-design.md
  bin-call-manager/internal/config/main.go
  bin-call-manager/internal/config/main_test.go
  bin-call-manager/pkg/callhandler/recovery_test.go
Due: run-bin-call-manager

VOIP-1553 Clarify accepted RECOVERY_ENABLED values
  bin-call-manager/docs/operations.md
  bin-call-manager/docs/plans/2026-10-01-disable-call-recovery-by-default-design.md
Due: run-bin-call-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
