Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

VOIP-1024-Refactor_variables (#169)
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/recordinghandler/main.go
  bin-flow-manager/pkg/activeflowhandler/main.go
Due: run-bin-call-manager, run-bin-flow-manager

Fixed
  bin-transcribe-manager/pkg/transcribehandler/main.go
Due: run-bin-transcribe-manager

NOJIRA-Fix_wrong_variable_name (#170)
  bin-transcribe-manager/pkg/transcribehandler/main.go
Due: run-bin-transcribe-manager

WIP
  bin-ai-manager/models/summary/event.go
  bin-ai-manager/models/summary/main.go
  bin-ai-manager/models/summary/webhook.go
  bin-ai-manager/pkg/cachehandler/handler.go
  bin-ai-manager/pkg/cachehandler/main.go
  bin-ai-manager/pkg/cachehandler/mock_main.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/dbhandler/summary.go
  bin-ai-manager/pkg/dbhandler/summary_test.go
  bin-ai-manager/pkg/engine_openai_handler/main.go
  bin-ai-manager/pkg/engine_openai_handler/mock_main.go
  bin-ai-manager/pkg/engine_openai_handler/send.go
  bin-ai-manager/pkg/summaryhandler/db.go
  bin-ai-manager/pkg/summaryhandler/main.go
  bin-ai-manager/pkg/summaryhandler/mock_main.go
  bin-ai-manager/pkg/summaryhandler/start.go
  bin-ai-manager/pkg/summaryhandler/variable.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_summaries.sql
Due: none

WIP
  bin-transcribe-manager/pkg/transcribehandler/recording.go
  bin-transcribe-manager/pkg/transcribehandler/start.go
  bin-transcribe-manager/pkg/transcribehandler/transcribe.go
  bin-transcribe-manager/pkg/transcribehandler/variable.go
  bin-transcribe-manager/pkg/transcripthandler/process.go
  bin-transcribe-manager/pkg/transcripthandler/recording.go
Due: run-bin-transcribe-manager

WIP
  bin-transcribe-manager/pkg/transcripthandler/recording.go
Due: run-bin-transcribe-manager

WIP
  bin-transcribe-manager/pkg/transcripthandler/main.go
Due: run-bin-transcribe-manager

WIP
  bin-transcribe-manager/pkg/listenhandler/main.go
  bin-transcribe-manager/pkg/transcripthandler/recording.go
Due: run-bin-transcribe-manager

WIP
  bin-transcribe-manager/pkg/transcripthandler/process.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/pkg/dbhandler/transcribe.go
  bin-transcribe-manager/pkg/transcribehandler/db_test.go
  bin-transcribe-manager/pkg/transcribehandler/recording.go
  bin-transcribe-manager/pkg/transcribehandler/recording_test.go
  bin-transcribe-manager/pkg/transcripthandler/main.go
  bin-transcribe-manager/pkg/transcripthandler/mock_main.go
  bin-transcribe-manager/pkg/transcripthandler/process.go
  bin-transcribe-manager/pkg/transcripthandler/recording.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/models/transcript/transcript.go
  bin-transcribe-manager/pkg/transcripthandler/process.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/pkg/transcripthandler/recording.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/pkg/transcripthandler/db.go
  bin-transcribe-manager/pkg/transcripthandler/recording.go
  bin-transcribe-manager/pkg/transcripthandler/recording_test.go
  bin-transcribe-manager/pkg/transcripthandler/transcript.go
Due: run-bin-transcribe-manager

Fixed
  bin-ai-manager/pkg/aicallhandler/process.go
  bin-ai-manager/pkg/aicallhandler/process_test.go
  bin-conference-manager/pkg/conferencehandler/transcribe.go
  bin-conference-manager/pkg/conferencehandler/transcribe_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
Due: run-bin-conference-manager, run-bin-flow-manager

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/models/summary/main.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/db_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aihandler/db.go
  bin-ai-manager/pkg/aihandler/db_test.go
  bin-ai-manager/pkg/aihandler/main.go
  bin-ai-manager/pkg/aihandler/mock_main.go
  bin-ai-manager/pkg/dbhandler/ai.go
  bin-ai-manager/pkg/dbhandler/ai_test.go
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
  bin-ai-manager/pkg/dbhandler/summary.go
  bin-ai-manager/pkg/dbhandler/summary_test.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/models/request/summaries.go
  bin-ai-manager/pkg/listenhandler/models/response/calls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/pkg/listenhandler/v1_ais.go
  bin-ai-manager/pkg/listenhandler/v1_ais_test.go
  bin-ai-manager/pkg/listenhandler/v1_services.go
  bin-ai-manager/pkg/listenhandler/v1_summaries.go
  bin-ai-manager/pkg/listenhandler/v1_summaries_test.go
  bin-ai-manager/pkg/summaryhandler/db.go
  bin-ai-manager/pkg/summaryhandler/db_test.go
  bin-ai-manager/pkg/summaryhandler/main.go
  bin-ai-manager/pkg/summaryhandler/mock_main.go
  bin-ai-manager/pkg/summaryhandler/start.go
  bin-ai-manager/pkg/summaryhandler/start_test.go
  bin-ai-manager/pkg/summaryhandler/variable.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_summaries.sql
Due: none

Fixed
  bin-dbscheme-bin-manager/bin-manager/main/versions/5f23751b14a9_ai_summaries_create_table.py
Due: run-bin-dbscheme-bin-manager

Fixed
  bin-ai-manager/pkg/summaryhandler/content.go
  bin-ai-manager/pkg/summaryhandler/content_test.go
  bin-ai-manager/pkg/summaryhandler/start.go
  bin-ai-manager/pkg/summaryhandler/start_test.go
Due: none

Fixed
  bin-ai-manager/pkg/summaryhandler/content.go
  bin-ai-manager/pkg/summaryhandler/service_test.go
  bin-ai-manager/pkg/summaryhandler/start.go
  bin-ai-manager/pkg/summaryhandler/start_test.go
Due: none

Fixed
  bin-transcribe-manager/pkg/streaminghandler/gcp.go
Due: run-bin-transcribe-manager

Fixed
  bin-ai-manager/pkg/summaryhandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/gcp.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/pkg/streaminghandler/gcp.go
  bin-transcribe-manager/pkg/streaminghandler/main.go
Due: run-bin-transcribe-manager

Fixed
  bin-ai-manager/pkg/summaryhandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/stop.go
  bin-transcribe-manager/pkg/transcribehandler/stop.go
Due: run-bin-transcribe-manager

Fixed
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/pkg/summaryhandler/main.go
Due: none

Fixed
  bin-ai-manager/pkg/summaryhandler/start.go
Due: none

VOIP-1027-Fix_wrong_aisummary_handle (#173)
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/pkg/summaryhandler/content.go
  bin-ai-manager/pkg/summaryhandler/content_test.go
  bin-ai-manager/pkg/summaryhandler/main.go
  bin-ai-manager/pkg/summaryhandler/service_test.go
  bin-ai-manager/pkg/summaryhandler/start.go
  bin-ai-manager/pkg/summaryhandler/start_test.go
  bin-transcribe-manager/pkg/streaminghandler/gcp.go
  bin-transcribe-manager/pkg/streaminghandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/stop.go
  bin-transcribe-manager/pkg/transcribehandler/stop.go
Due: run-bin-transcribe-manager
