Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Fix-outbound-config-uuid-binary
  bin-dbscheme-manager/bin-manager/main/versions/dd500d4e8cb7_call_outbound_configs_uuid_columns_to_.py
Due: none

NOJIRA-Fix-outbound-config-uuid-binary
  .claude/scripts/check-migration-uuid-columns.sh
  .claude/settings.json
  bin-dbscheme-manager/CLAUDE.md
  docs/conventions/database.md
Due: none

NOJIRA-Fix-outbound-config-uuid-binary
  .claude/scripts/check-migration-uuid-columns.sh
  bin-call-manager/pkg/dbhandler/outbound_config.go
  bin-dbscheme-manager/bin-manager/main/versions/dd500d4e8cb7_call_outbound_configs_uuid_columns_to_.py
  docs/conventions/database.md
Due: run-bin-call-manager

NOJIRA-Fix-outbound-config-uuid-binary (#898)
  .claude/scripts/check-migration-uuid-columns.sh
  .claude/settings.json
  bin-call-manager/pkg/dbhandler/outbound_config.go
  bin-dbscheme-manager/CLAUDE.md
  bin-dbscheme-manager/bin-manager/main/versions/dd500d4e8cb7_call_outbound_configs_uuid_columns_to_.py
  docs/conventions/database.md
Due: run-bin-call-manager

NOJIRA-Fix-outbound-config-time-scan
  bin-call-manager/pkg/dbhandler/outbound_config.go
Due: run-bin-call-manager

review: explicit UTC + log unparseable DATETIME
  bin-call-manager/pkg/dbhandler/outbound_config.go
Due: run-bin-call-manager

NOJIRA-Fix-outbound-config-time-scan (#899)
  bin-call-manager/pkg/dbhandler/outbound_config.go
Due: run-bin-call-manager

NOJIRA-Fix-outbound-config-wire-format
  docs/plans/2026-05-08-outbound-config-wire-format-design.md
Due: none

NOJIRA-Fix-outbound-config-wire-format
  bin-call-manager/pkg/listenhandler/models/request/outbound_configs.go
  bin-call-manager/pkg/listenhandler/v1_outbound_configs.go
  bin-call-manager/pkg/listenhandler/v1_outbound_configs_test.go
  bin-common-handler/pkg/requesthandler/call_outbound_configs.go
  bin-common-handler/pkg/requesthandler/call_outbound_configs_test.go
Due: run-bin-call-manager, run-bin-common-handler

NOJIRA-Fix-outbound-config-wire-format
  docs/conventions/rpc.md
  docs/conventions/testing.md
  docs/workflows/common-gotchas.md
Due: none

NOJIRA-Fix-outbound-config-wire-format
  bin-call-manager/models/outboundconfig/iso.go
  bin-call-manager/pkg/outboundconfighandler/validate.go
  bin-call-manager/pkg/outboundconfighandler/validate_test.go
Due: run-bin-call-manager

NOJIRA-Fix-outbound-config-wire-format
  bin-call-manager/pkg/outboundconfighandler/validate_test.go
Due: run-bin-call-manager

NOJIRA-Fix-outbound-config-wire-format (#900)
  bin-call-manager/models/outboundconfig/iso.go
  bin-call-manager/pkg/listenhandler/models/request/outbound_configs.go
  bin-call-manager/pkg/listenhandler/v1_outbound_configs.go
  bin-call-manager/pkg/listenhandler/v1_outbound_configs_test.go
  bin-call-manager/pkg/outboundconfighandler/validate.go
  bin-call-manager/pkg/outboundconfighandler/validate_test.go
  bin-common-handler/pkg/requesthandler/call_outbound_configs.go
  bin-common-handler/pkg/requesthandler/call_outbound_configs_test.go
  docs/conventions/rpc.md
  docs/conventions/testing.md
  docs/plans/2026-05-08-outbound-config-wire-format-design.md
  docs/workflows/common-gotchas.md
Due: run-bin-call-manager, run-bin-common-handler

NOJIRA-Move-default-outgoing-source-to-outboundconfig
  docs/plans/2026-05-08-outbound-source-number-ownership-design.md
Due: none

NOJIRA-Move-default-outgoing-source-to-outboundconfig
  docs/plans/2026-05-08-outbound-source-number-ownership-plan.md
Due: none

NOJIRA-Move-default-outgoing-source-to-outboundconfig
  bin-dbscheme-manager/bin-manager/main/versions/1ebd3fdcea8d_call_outbound_configs_add_default_.py
Due: none

NOJIRA-Move-default-outgoing-source-to-outboundconfig
  bin-common-handler/pkg/requesthandler/customer_customer.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-customer-manager/pkg/listenhandler/models/request/customers.go
Due: run-bin-common-handler, run-bin-customer-manager

NOJIRA-Move-default-outgoing-source-to-outboundconfig
  bin-dbscheme-manager/bin-manager/main/versions/ff02d243a799_customer_customers_drop_default_.py
Due: none

NOJIRA-Move-default-outgoing-source-to-outboundconfig
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
Due: run-bin-call-manager

NOJIRA-Outbound-codec-sip-only
  docs/plans/2026-05-08-outbound-codec-sip-only-design.md
Due: none

NOJIRA-Outbound-codec-sip-only
  docs/plans/2026-05-08-outbound-codec-sip-only-plan.md
Due: none

NOJIRA-Outbound-codec-sip-only
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
Due: run-bin-call-manager

NOJIRA-Update-readme
  docs/plans/2026-05-09-readme-update-design.md
Due: none

NOJIRA-Update-readme
  docs/plans/2026-05-09-readme-update-plan.md
Due: none

NOJIRA-Update-readme
  README.md
Due: none
