Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

Fix mcp_server_ids empty-array-vs-omitted PUT semantics
  bin-ai-manager/pkg/listenhandler/models/request/ais.go
  bin-ai-manager/pkg/listenhandler/v1_ais.go
  bin-ai-manager/pkg/listenhandler/v1_ais_test.go
  bin-api-manager/pkg/servicehandler/ai.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mcpserver_test.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/ais.go
  bin-api-manager/server/ais_test.go
  bin-api-manager/server/mcpservers_test.go
  bin-common-handler/pkg/requesthandler/ai_ais.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-api-manager, run-bin-common-handler

docs: VOIP-1512 design for missing-tool runtime visibility + alert
  docs/plans/2026-09-10-voip-1512-missing-tool-visibility-design.md
Due: none

Add MCP_SECRET_ENCRYPTION_KEYS env var to bin-ai-manager Komodo stack
  bin-ai-manager/komodo/docker-compose.yml
Due: none

NOJIRA-Fix-mcp-secret-encryption-keys-env-var (#1286)
  bin-ai-manager/komodo/docker-compose.yml
Due: none

VOIP-1512-Insight-missing-tool-visibility
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/test_missing_tool_logging.py
  bin-pipecat-manager/scripts/pipecat/tools.py
  docs/plans/2026-09-10-voip-1512-missing-tool-visibility-design.md
Due: none

VOIP-1515-case-unassign-endpoints
  bin-api-manager/docsdev/source/contact_case_overview.rst
  bin-api-manager/docsdev/source/service_agent_case_overview.rst
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/case.go
  bin-api-manager/pkg/servicehandler/case_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_case.go
  bin-api-manager/pkg/servicehandler/serviceagent_case_test.go
  bin-api-manager/server/contact_cases.go
  bin-api-manager/server/contact_cases_test.go
  bin-api-manager/server/service_agents_contact_cases.go
  bin-api-manager/server/service_agents_contact_cases_test.go
  bin-common-handler/pkg/requesthandler/contact_cases.go
  bin-common-handler/pkg/requesthandler/contact_cases_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/contact_cases/id_unassign.yaml
  bin-openapi-manager/openapi/paths/service_agents/contact_cases_id_unassign.yaml
  docs/plans/2026-09-11-voip-1515-case-unassign-design.md
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

VOIP-1515-case-unassign-endpoints (#1289)
  bin-api-manager/docsdev/source/contact_case_overview.rst
  bin-api-manager/docsdev/source/service_agent_case_overview.rst
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/case.go
  bin-api-manager/pkg/servicehandler/case_test.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_case.go
  bin-api-manager/pkg/servicehandler/serviceagent_case_test.go
  bin-api-manager/server/contact_cases.go
  bin-api-manager/server/contact_cases_test.go
  bin-api-manager/server/service_agents_contact_cases.go
  bin-api-manager/server/service_agents_contact_cases_test.go
  bin-common-handler/pkg/requesthandler/contact_cases.go
  bin-common-handler/pkg/requesthandler/contact_cases_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/contact_cases/id_unassign.yaml
  bin-openapi-manager/openapi/paths/service_agents/contact_cases_id_unassign.yaml
  docs/plans/2026-09-11-voip-1515-case-unassign-design.md
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

Fix ValidateMcpServerIDs returning 500 instead of 400
  bin-ai-manager/pkg/aihandler/mcpserver_validation.go
  bin-ai-manager/pkg/aihandler/mcpserver_validation_test.go
  bin-ai-manager/pkg/listenhandler/v1_ais_test.go
Due: none

Distinguish DB infra failures from not-found in ValidateMcpServerIDs
  bin-ai-manager/pkg/aihandler/mcpserver_validation.go
  bin-ai-manager/pkg/aihandler/mcpserver_validation_test.go
Due: none

NOJIRA-Fix-mcp-server-ids-validation-error-status (#1290)
  bin-ai-manager/pkg/aihandler/mcpserver_validation.go
  bin-ai-manager/pkg/aihandler/mcpserver_validation_test.go
  bin-ai-manager/pkg/listenhandler/v1_ais_test.go
Due: none

Add design doc: PUT /mcpservers/:id partial-update fix
  docs/plans/2026-09-12-mcp-server-put-partial-update-design.md
Due: none

Address Round 2 design review findings
  docs/plans/2026-09-12-mcp-server-put-partial-update-design.md
Due: none

Address Round 1 code review nit: table-driven secret field
  bin-ai-manager/pkg/mcpserverhandler/handler_partial_update_test.go
Due: none

Regenerate bin-openapi-manager gen.go to match id.yaml description update
  bin-openapi-manager/gens/models/gen.go
Due: run-bin-openapi-manager

Add PUT partial-update migration roadmap design doc
  docs/plans/2026-09-12-put-partial-update-migration-roadmap.md
Due: none

Add Phase 1 design doc: registrar PUT partial-update fix
  docs/plans/2026-09-12-registrar-put-partial-update-phase1-design.md
Due: none

NOJIRA-Add-PUT-partial-update-migration-roadmap (#1292)
  docs/plans/2026-09-12-put-partial-update-migration-roadmap.md
Due: none

Add Phase 2 design doc: customer PUT partial-update
  docs/plans/2026-09-12-customer-put-partial-update-phase2-design.md
Due: none

VOIP-1516-conversation-account-timeout-design-doc
  docs/plans/2026-09-12-voip-1516-conversation-account-timeout-design.md
Due: none

VOIP-1516-conversation-account-timeout
  bin-conversation-manager/pkg/accounthandler/db.go
  bin-conversation-manager/pkg/accounthandler/db_test.go
Due: run-bin-conversation-manager

VOIP-1516-conversation-account-timeout
  docs/plans/2026-09-12-voip-1516-conversation-account-timeout-design.md
Due: none

VOIP-1516-conversation-account-timeout
  bin-conversation-manager/pkg/accounthandler/db.go
  bin-conversation-manager/pkg/accounthandler/db_test.go
  docs/plans/2026-09-12-voip-1516-conversation-account-timeout-design.md
Due: run-bin-conversation-manager

Add Phase 3 design doc: route PUT partial-update
  docs/plans/2026-09-12-route-put-partial-update-phase3-design.md
Due: none

Add Phase 4a design doc for PUT /queues/{id} partial update
  docs/plans/2026-09-12-queue-put-partial-update-phase4a-design.md
Due: none

Add Phase 4b design doc for PUT /providers/{id} partial update
  docs/plans/2026-09-12-provider-put-partial-update-phase4b-design.md
Due: none
