Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

VOIP-1576-Add-flow-builder-llm-diagnostics
  bin-ai-manager/pkg/builderhandler/flow_diag_test.go
Due: none

VOIP-1576-Add-flow-builder-llm-diagnostics
  bin-ai-manager/docs/operations.md
  bin-ai-manager/pkg/builderhandler/flow_chat.go
  bin-ai-manager/pkg/builderhandler/flow_diag.go
  bin-ai-manager/pkg/builderhandler/flow_diag_test.go
  bin-ai-manager/pkg/builderhandler/flow_turn.go
  docs/plans/2026-10-08-flow-builder-llm-diagnostics.md
Due: none

VOIP-1577-Fix-flow-builder-missing-draft
  docs/plans/2026-10-08-flow-builder-missing-draft.md
Due: none

VOIP-1577-Fix-flow-builder-missing-draft
  bin-ai-manager/docs/operations.md
  bin-ai-manager/pkg/builderhandler/config.go
  bin-ai-manager/pkg/builderhandler/flow_diag_test.go
  bin-ai-manager/pkg/builderhandler/flow_turn.go
  docs/plans/2026-10-08-flow-builder-missing-draft.md
Due: none

VOIP-1577-Fix-flow-builder-missing-draft
  bin-ai-manager/docs/operations.md
  bin-ai-manager/pkg/builderhandler/flow_turn.go
  docs/plans/2026-10-08-flow-builder-missing-draft.md
Due: none

VOIP-1577-Fix-flow-builder-missing-draft
  bin-ai-manager/pkg/builderhandler/flow_diag_test.go
  bin-ai-manager/pkg/builderhandler/flow_turn.go
Due: none

VOIP-1578-Fix-flow-builder-plain-text-reply
  docs/plans/2026-10-08-flow-builder-follow-up-turns.md
Due: none

VOIP-1578-Fix-flow-builder-plain-text-reply
  bin-ai-manager/docs/operations.md
  bin-ai-manager/pkg/builderhandler/flow_history_test.go
  bin-ai-manager/pkg/builderhandler/flow_turn.go
Due: none

VOIP-1578-Fix-flow-builder-plain-text-reply
  bin-ai-manager/pkg/builderhandler/flow_history_test.go
  bin-ai-manager/pkg/builderhandler/flow_turn.go
  docs/plans/2026-10-08-flow-builder-follow-up-turns.md
Due: none

VOIP-1578-Fix-flow-builder-plain-text-reply
  bin-ai-manager/pkg/builderhandler/flow_history_test.go
Due: none

VOIP-1578-Fix-flow-builder-plain-text-reply
  bin-ai-manager/docs/operations.md
  bin-ai-manager/pkg/builderhandler/flow_history_test.go
  bin-ai-manager/pkg/builderhandler/flow_turn.go
  docs/plans/2026-10-08-flow-builder-follow-up-turns.md
Due: none

NOJIRA-Drop-flow-builder-server-layout
  bin-ai-manager/models/flowbuilder/main.go
  bin-ai-manager/models/flowbuilder/validate.go
  bin-ai-manager/models/flowbuilder/validate_test.go
  bin-ai-manager/pkg/builderhandler/flow_chat_test.go
  bin-ai-manager/pkg/builderhandler/flow_graph.go
  bin-ai-manager/pkg/builderhandler/flow_transcode.go
  bin-ai-manager/pkg/builderhandler/flow_transcode_test.go
  bin-ai-manager/pkg/builderhandler/flow_validate.go
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/flow_builder.go
  bin-api-manager/server/flow_builder_test.go
  bin-common-handler/pkg/requesthandler/ai_flow_builder_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Drop-flow-builder-server-layout
  bin-api-manager/server/flow_builder_test.go
Due: run-bin-api-manager

NOJIRA-VOIP-1579-design-review-closed
  docs/plans/2026-10-09-call-recording-out-includes-injected-audio.md
Due: none

NOJIRA-VOIP-1579-implement-call-bridge-injected-audio-recording
  bin-api-manager/docsdev/build/doctrees/recording_overview.doctree
  bin-api-manager/docsdev/build/html/_sources/recording_overview.rst.txt
  bin-api-manager/docsdev/build/html/recording_overview.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/recording_overview.rst
  bin-call-manager/pkg/callhandler/arievent.go
  bin-call-manager/pkg/callhandler/arievent_test.go
  bin-call-manager/pkg/callhandler/bridge.go
  bin-call-manager/pkg/callhandler/bridge_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/externalmediahandler/start.go
  bin-call-manager/pkg/externalmediahandler/start_test.go
Due: run-bin-api-manager, run-bin-call-manager

NOJIRA-VOIP-1579-code-review-round-1-fixes
  bin-api-manager/docsdev/build/doctrees/recording_overview.doctree
  bin-api-manager/docsdev/build/html/_sources/recording_overview.rst.txt
  bin-api-manager/docsdev/build/html/recording_overview.html
  bin-api-manager/docsdev/source/recording_overview.rst
  bin-call-manager/docs/domain.md
  bin-call-manager/pkg/callhandler/arievent_test.go
  bin-call-manager/pkg/callhandler/bridge.go
  bin-call-manager/pkg/callhandler/start.go
  docs/plans/2026-10-09-call-recording-out-includes-injected-audio.md
Due: run-bin-api-manager, run-bin-call-manager

NOJIRA-VOIP-1579-code-review-round-2-fixes
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/externalmediahandler/start.go
Due: run-bin-call-manager
