Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Fix-tts-audiosocket-silence-feed (#483)
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/run.go
  bin-tts-manager/pkg/streaminghandler/run_test.go
  docs/plans/2026-02-15-tts-audiosocket-silence-feed-design.md
  docs/plans/2026-02-15-tts-audiosocket-silence-feed-plan.md
Due: run-bin-tts-manager

NOJIRA-Add-monthly-token-allowance-billing
  docs/plans/2026-02-14-monthly-token-allowance-design.md
Due: none

NOJIRA-Test-coverage-sentinel-manager
  bin-sentinel-manager/internal/config/config_test.go
  bin-sentinel-manager/models/pod/event_test.go
  bin-sentinel-manager/models/pod/main_test.go
  bin-sentinel-manager/pkg/monitoringhandler/main_test.go
  bin-sentinel-manager/pkg/monitoringhandler/run_test.go
Due: none

NOJIRA-Test-coverage-campaign-manager
  bin-campaign-manager/models/campaign/convert_test.go
  bin-campaign-manager/models/campaigncall/convert_test.go
  bin-campaign-manager/models/outplan/convert_test.go
  bin-campaign-manager/pkg/campaignhandler/campaign_test.go
  bin-campaign-manager/pkg/outplanhandler/outplan_test.go
Due: run-bin-campaign-manager

NOJIRA-Test-coverage-hook-manager
  bin-hook-manager/api/v1.0/conversation/conversation_test.go
  bin-hook-manager/api/v1.0/emails/emails_test.go
  bin-hook-manager/api/v1.0/messages/messages_test.go
  bin-hook-manager/internal/config/config_test.go
  bin-hook-manager/pkg/servicehandler/conversation_test.go
  bin-hook-manager/pkg/servicehandler/main_test.go
  bin-hook-manager/pkg/servicehandler/message_test.go
  bin-hook-manager/pkg/servicehandler/mock_test.go
Due: run-bin-hook-manager

NOJIRA-Test-coverage-storage-manager
  bin-storage-manager/internal/config/config_test.go
  bin-storage-manager/models/account/account_test.go
  bin-storage-manager/models/file/file_test.go
  bin-storage-manager/pkg/dbhandler/accounts_test.go
Due: run-bin-storage-manager

NOJIRA-Test-coverage-queue-manager
  bin-queue-manager/models/queue/convert_test.go
  bin-queue-manager/models/queue/webhook_test.go
  bin-queue-manager/models/queuecall/convert_test.go
  bin-queue-manager/models/queuecall/event_test.go
  bin-queue-manager/models/queuecall/field_test.go
  bin-queue-manager/models/queuecall/webhook_test.go
Due: run-bin-queue-manager

NOJIRA-Test-coverage-talk-manager
  bin-talk-manager/models/message/message_test.go
  bin-talk-manager/pkg/dbhandler/chat_test.go
  bin-talk-manager/pkg/listenhandler/v1_participants_test.go
  bin-talk-manager/pkg/participanthandler/participant_test.go
Due: none

NOJIRA-Test-coverage-tts-manager
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  bin-tts-manager/models/speaking/speaking_test.go
  bin-tts-manager/pkg/buckethandler/main_test.go
  bin-tts-manager/pkg/dbhandler/main_test.go
  bin-tts-manager/pkg/dbhandler/speaking_test.go
  bin-tts-manager/pkg/dbhandler/streaming_test.go
  bin-tts-manager/pkg/listenhandler/main_test.go
  bin-tts-manager/pkg/speakinghandler/main_test.go
  bin-tts-manager/pkg/ttshandler/main_test.go
Due: run-bin-tts-manager

NOJIRA-Test-coverage-conversation-manager
  bin-conversation-manager/models/media/media_test.go
  bin-conversation-manager/pkg/conversationhandler/db_test.go
  bin-conversation-manager/pkg/conversationhandler/etc_test.go
  bin-conversation-manager/pkg/subscribehandler/main_test.go
Due: run-bin-conversation-manager

NOJIRA-Test-coverage-customer-manager
  bin-customer-manager/models/accesskey/filters_test.go
  bin-customer-manager/models/accesskey/webhook_test.go
  bin-customer-manager/models/customer/field_test.go
  bin-customer-manager/models/customer/filters_test.go
  bin-customer-manager/models/customer/webhook_test.go
  bin-customer-manager/pkg/accesskeyhandler/db_test.go
  bin-customer-manager/pkg/accesskeyhandler/main_test.go
  bin-customer-manager/pkg/customerhandler/cleanup_test.go
  bin-customer-manager/pkg/customerhandler/db_test.go
  bin-customer-manager/pkg/customerhandler/main_test.go
  bin-customer-manager/pkg/listenhandler/main_test.go
Due: run-bin-customer-manager

NOJIRA-Test-coverage-contact-manager
  bin-contact-manager/internal/config/config_test.go
  bin-contact-manager/pkg/contacthandler/contact_additional_test.go
  bin-contact-manager/pkg/dbhandler/additional_test.go
  bin-contact-manager/pkg/listenhandler/v1_contacts_update_test.go
Due: none

NOJIRA-Test-coverage-conference-manager
  bin-conference-manager/internal/config/config_test.go
  bin-conference-manager/models/conference/conference_test.go
  bin-conference-manager/models/conferencecall/conferencecall_test.go
  bin-conference-manager/pkg/dbhandler/conference_test.go
  bin-conference-manager/pkg/dbhandler/conferencecall_test.go
  bin-conference-manager/pkg/subscribehandler/callmanager_test.go
Due: run-bin-conference-manager

NOJIRA-Test-coverage-billing-manager
  bin-billing-manager/internal/config/main_test.go
  bin-billing-manager/models/account/filters_test.go
  bin-billing-manager/models/account/plan_test.go
  bin-billing-manager/models/account/resource_type_test.go
  bin-billing-manager/models/account/webhook_test.go
  bin-billing-manager/models/failedevent/failedevent_test.go
  bin-billing-manager/models/failedevent/field_test.go
Due: run-bin-billing-manager

NOJIRA-Test-coverage-agent-manager
  bin-agent-manager/models/agent/filters_test.go
  bin-agent-manager/models/agent/webhook_test.go
  bin-agent-manager/pkg/agenthandler/agent_additional_test.go
  bin-agent-manager/pkg/dbhandler/agent_additional_test.go
  bin-agent-manager/pkg/listenhandler/v1_agents_additional_test.go
  bin-agent-manager/pkg/subscribehandler/callmanager_additional_test.go
  bin-agent-manager/pkg/subscribehandler/customer_manager_additional_test.go
Due: run-bin-agent-manager

NOJIRA-Test-coverage-transcribe-manager
  bin-transcribe-manager/internal/config/main_test.go
  bin-transcribe-manager/models/transcribe/webhook_test.go
  bin-transcribe-manager/models/transcript/webhook_test.go
  bin-transcribe-manager/pkg/dbhandler/streaming_test.go
  bin-transcribe-manager/pkg/dbhandler/transcribe_test.go
  bin-transcribe-manager/pkg/dbhandler/transcript_test.go
  bin-transcribe-manager/pkg/transcripthandler/transcript_test.go
Due: run-bin-transcribe-manager

NOJIRA-Test-coverage-route-manager
  bin-route-manager/models/provider/webhook_test.go
  bin-route-manager/models/route/webhook_test.go
  bin-route-manager/pkg/dbhandler/provider_test.go
  bin-route-manager/pkg/dbhandler/route_test.go
  bin-route-manager/pkg/providerhandler/provider_test.go
  bin-route-manager/pkg/routehandler/dialroute_test.go
  bin-route-manager/pkg/routehandler/route_test.go
Due: run-bin-route-manager

NOJIRA-Test-coverage-registrar-manager
  bin-registrar-manager/internal/config/main_test.go
  bin-registrar-manager/models/extension/filters_test.go
  bin-registrar-manager/models/extension/webhook_test.go
  bin-registrar-manager/models/extensiondirect/event_test.go
  bin-registrar-manager/models/extensiondirect/extensiondirect_test.go
  bin-registrar-manager/models/extensiondirect/field_test.go
  bin-registrar-manager/models/extensiondirect/filters_test.go
  bin-registrar-manager/models/extensiondirect/webhook_test.go
  bin-registrar-manager/models/trunk/filters_test.go
  bin-registrar-manager/models/trunk/webhook_test.go
  bin-registrar-manager/pkg/dbhandler/extension_direct_test.go
  bin-registrar-manager/pkg/extensiondirecthandler/handler_test.go
  bin-registrar-manager/pkg/listenhandler/v1_extension_directs_test.go
Due: run-bin-registrar-manager

NOJIRA-Test-coverage-transfer-manager
  bin-transfer-manager/coverage.html
  bin-transfer-manager/models/transfer/webhook_test.go
  bin-transfer-manager/pkg/dbhandler/transfer_test.go
  bin-transfer-manager/pkg/listenhandler/main_test.go
  bin-transfer-manager/pkg/subscribehandler/main_test.go
  bin-transfer-manager/pkg/transferhandler/db_test.go
  bin-transfer-manager/pkg/transferhandler/service_start_test.go
  bin-transfer-manager/pkg/transferhandler/transferer_comprehensive_test.go
Due: run-bin-transfer-manager

NOJIRA-Test-coverage-number-manager
  bin-number-manager/internal/config/main_test.go
  bin-number-manager/models/availablenumber/available_number_test.go
  bin-number-manager/models/providernumber/provider_number_test.go
  bin-number-manager/pkg/dbhandler/number_test.go
  bin-number-manager/pkg/listenhandler/v1_numbers_test.go
  bin-number-manager/pkg/subscribehandler/customer_manager_test.go
  bin-number-manager/pkg/subscribehandler/flow_manager_test.go
Due: run-bin-number-manager

NOJIRA-Test-coverage-webhook-manager
  bin-webhook-manager/pkg/accounthandler/account_test.go
  bin-webhook-manager/pkg/dbhandler/account_test.go
  bin-webhook-manager/pkg/listenhandler/v1_webhooks_test.go
  bin-webhook-manager/pkg/subscribehandler/customermanager_test.go
  bin-webhook-manager/pkg/webhookhandler/webhook_test.go
Due: run-bin-webhook-manager

NOJIRA-Test-coverage-email-manager
  bin-email-manager/internal/config/config_test.go
  bin-email-manager/models/email/main_test.go
  bin-email-manager/pkg/dbhandler/emails_test.go
  bin-email-manager/pkg/emailhandler/email_test.go
  bin-email-manager/pkg/emailhandler/hook_test.go
  bin-email-manager/pkg/emailhandler/main_test.go
  bin-email-manager/pkg/emailhandler/util_test.go
  bin-email-manager/pkg/listenhandler/main_test.go
Due: run-bin-email-manager

NOJIRA-Test-coverage-timeline-manager
  bin-timeline-manager/pkg/dbhandler/event_test.go
  bin-timeline-manager/pkg/eventhandler/event_test.go
  bin-timeline-manager/pkg/listenhandler/main_test.go
  bin-timeline-manager/pkg/siphandler/main_test.go
Due: none

NOJIRA-Test-coverage-pipecat-manager
  bin-pipecat-manager/models/message/event_test.go
  bin-pipecat-manager/models/message/main_test.go
  bin-pipecat-manager/models/pipecatframe/rtvi_test.go
  bin-pipecat-manager/pkg/listenhandler/main_test.go
  bin-pipecat-manager/pkg/listenhandler/models/request/main_test.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_messages_test.go
  bin-pipecat-manager/pkg/listenhandler/models/request/v1_pipecatcalls_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/etc_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatcall_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session_test.go
Due: none

NOJIRA-Test-coverage-outdial-manager
  bin-outdial-manager/models/outdial/convert_test.go
  bin-outdial-manager/models/outdial/webhook_test.go
  bin-outdial-manager/models/outdialtarget/outdialtarget_test.go
  bin-outdial-manager/models/outdialtarget/webhook_test.go
  bin-outdial-manager/models/outdialtargetcall/outdialtargetcall_test.go
  bin-outdial-manager/pkg/dbhandler/main_test.go
  bin-outdial-manager/pkg/dbhandler/outdial_test.go
  bin-outdial-manager/pkg/dbhandler/outdialtargetcall_test.go
  bin-outdial-manager/pkg/outdialhandler/outdial_test.go
  bin-outdial-manager/pkg/outdialtargethandler/outdialtarget_test.go
Due: run-bin-outdial-manager

NOJIRA-Test-coverage-flow-manager
  bin-flow-manager/models/activeflow/convert_test.go
  bin-flow-manager/models/activeflow/webhook_test.go
  bin-flow-manager/models/flow/convert_test.go
  bin-flow-manager/models/flow/flow_test.go
  bin-flow-manager/models/flow/webhook_test.go
  bin-flow-manager/pkg/dbhandler/activeflow_test.go
  bin-flow-manager/pkg/dbhandler/flows_test.go
Due: run-bin-flow-manager

NOJIRA-Test-coverage-tag-manager
  bin-tag-manager/models/tag/event_test.go
  bin-tag-manager/models/tag/filters_test.go
  bin-tag-manager/models/tag/webhook_test.go
  bin-tag-manager/pkg/dbhandler/main_constructor_test.go
  bin-tag-manager/pkg/dbhandler/tag_error_test.go
  bin-tag-manager/pkg/listenhandler/v1_tags_error_test.go
  bin-tag-manager/pkg/subscribehandler/customermanager_test.go
  bin-tag-manager/pkg/subscribehandler/error_test.go
  bin-tag-manager/pkg/subscribehandler/main_test.go
  bin-tag-manager/pkg/taghandler/db_test.go
  bin-tag-manager/pkg/taghandler/event_test.go
  bin-tag-manager/pkg/taghandler/main_constructor_test.go
  bin-tag-manager/pkg/taghandler/tag_error_test.go
Due: run-bin-tag-manager

NOJIRA-Test-coverage-api-manager
  bin-api-manager/internal/config/main_test.go
  bin-api-manager/lib/middleware/authenticate_test.go
  bin-api-manager/lib/service/auth_test.go
  bin-api-manager/lib/service/ping_test.go
  bin-api-manager/lib/service/signup_test.go
  bin-api-manager/server/main_test.go
Due: run-bin-api-manager

NOJIRA-Test-coverage-call-manager
  bin-call-manager/models/groupcall/groupcall_test.go
  bin-call-manager/models/recording/recording_test.go
  bin-call-manager/pkg/dbhandler/call_application_test.go
  bin-call-manager/pkg/dbhandler/externalmedia_test.go
Due: run-bin-call-manager

NOJIRA-Test-coverage-common-handler
  bin-common-handler/pkg/databasehandler/convert_test.go
  bin-common-handler/pkg/databasehandler/main_test.go
  bin-common-handler/pkg/utilhandler/handler_test.go
  bin-common-handler/pkg/utilhandler/string_test.go
  bin-common-handler/pkg/utilhandler/time_full_test.go
  bin-common-handler/pkg/utilhandler/url_full_test.go
Due: run-bin-common-handler

NOJIRA-Test-coverage-ai-manager
  bin-ai-manager/models/aicall/filters_test.go
  bin-ai-manager/models/aicall/webhook_test.go
  bin-ai-manager/models/message/event_test.go
  bin-ai-manager/models/message/field_test.go
  bin-ai-manager/models/message/main_test.go
  bin-ai-manager/models/message/tool_test.go
  bin-ai-manager/models/message/webhook_test.go
  bin-ai-manager/models/summary/event_test.go
  bin-ai-manager/models/summary/field_test.go
  bin-ai-manager/models/summary/main_test.go
  bin-ai-manager/models/summary/webhook_test.go
  bin-ai-manager/pkg/aihandler/chatbot_test.go
  bin-ai-manager/pkg/engine_dialogflow_handler/main_test.go
  bin-ai-manager/pkg/engine_openai_handler/main_test.go
  bin-ai-manager/pkg/messagehandler/event_test.go
  bin-ai-manager/pkg/subscribehandler/conferencemanager_test.go
  bin-ai-manager/pkg/subscribehandler/pipecat_message_test.go
Due: none

NOJIRA-Test-coverage-message-manager
  bin-message-manager/internal/config/config_test.go
  bin-message-manager/models/message/filters_test.go
  bin-message-manager/models/message/webhook_test.go
  bin-message-manager/pkg/dbhandler/message_test.go
  bin-message-manager/pkg/listenhandler/main_test.go
  bin-message-manager/pkg/messagehandler/message_test.go
  bin-message-manager/pkg/messagehandler/provider_messagebird_test.go
  bin-message-manager/pkg/messagehandler/provider_telnyx_test.go
  bin-message-manager/pkg/messagehandlermessagebird/main_test.go
Due: run-bin-message-manager

NOJIRA-Test-coverage-rag-manager
  bin-rag-manager/pkg/chunker/chunker_test.go
  bin-rag-manager/pkg/chunker/openapi_test.go
  bin-rag-manager/pkg/embedder/embedder_test.go
  bin-rag-manager/pkg/generator/generator_test.go
  bin-rag-manager/pkg/listenhandler/main_test.go
  bin-rag-manager/pkg/raghandler/main_test.go
  bin-rag-manager/pkg/retriever/retriever_test.go
Due: none

NOJIRA-Test-coverage-agent-manager
  bin-agent-manager/pkg/agenthandler/agent_additional_test.go
  bin-agent-manager/pkg/dbhandler/agent_additional_test.go
Due: run-bin-agent-manager

NOJIRA-Test-coverage-ai-manager
  bin-ai-manager/pkg/subscribehandler/conferencemanager_test.go
Due: none

NOJIRA-Test-coverage-transfer-manager
  bin-transfer-manager/coverage.html
Due: run-bin-transfer-manager

NOJIRA-Fix-allowance-sentinel-and-add-current-endpoint
  bin-billing-manager/pkg/dbhandler/allowance.go
  bin-dbscheme-manager/bin-manager/main/versions/a1b2c3d4e5f7_billing_allowances_fix_tm_delete_sentinel.py
  docs/plans/2026-02-15-fix-allowance-sentinel-and-current-endpoint-design.md
  docs/plans/2026-02-15-fix-allowance-sentinel-and-current-endpoint-plan.md
Due: run-bin-billing-manager

NOJIRA-Fix-allowance-sentinel-and-add-current-endpoint
  bin-billing-manager/pkg/listenhandler/main.go
  bin-billing-manager/pkg/listenhandler/v1_allowance.go
Due: run-bin-billing-manager

NOJIRA-Fix-allowance-sentinel-and-add-current-endpoint
  bin-common-handler/pkg/requesthandler/billing_accounts.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
