Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/.gitignore
  bin-timeline-manager/go.mod
Due: none

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/go.mod
  bin-timeline-manager/go.sum
  bin-timeline-manager/internal/config/main.go
  bin-timeline-manager/internal/config/main_test.go
Due: none

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/go.mod
  bin-timeline-manager/go.sum
  bin-timeline-manager/models/event/event.go
  bin-timeline-manager/models/event/request.go
Due: none

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/go.mod
  bin-timeline-manager/go.sum
  bin-timeline-manager/pkg/dbhandler/event.go
  bin-timeline-manager/pkg/dbhandler/event_test.go
  bin-timeline-manager/pkg/dbhandler/main.go
  bin-timeline-manager/pkg/dbhandler/mock_main.go
Due: none

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/pkg/eventhandler/event.go
  bin-timeline-manager/pkg/eventhandler/event_test.go
  bin-timeline-manager/pkg/eventhandler/main.go
  bin-timeline-manager/pkg/eventhandler/mock_main.go
Due: none

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/go.mod
  bin-timeline-manager/go.sum
  bin-timeline-manager/pkg/listenhandler/main.go
  bin-timeline-manager/pkg/listenhandler/mock_main.go
  bin-timeline-manager/pkg/listenhandler/v1_events.go
Due: none

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/cmd/timeline-manager/main.go
Due: none

NOJIRA-Add-timeline-manager-service
  bin-common-handler/models/outline/queuename.go
  bin-common-handler/models/outline/servicename.go
Due: run-bin-common-handler

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/migrations/000001_create_events_table.down.sql
  bin-timeline-manager/migrations/000001_create_events_table.up.sql
  bin-timeline-manager/migrations/000002_add_resource_id_column.down.sql
  bin-timeline-manager/migrations/000002_add_resource_id_column.up.sql
Due: none

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/cmd/timeline-control/main.go
  bin-timeline-manager/go.mod
  bin-timeline-manager/go.sum
Due: none

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/Dockerfile
Due: none

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/cmd/timeline-control/main.go
  bin-timeline-manager/cmd/timeline-manager/main.go
  bin-timeline-manager/pkg/dbhandler/event.go
Due: none

NOJIRA-Add-timeline-manager-service
  docs/plans/2026-02-02-timeline-manager-design.md
  docs/plans/2026-02-02-timeline-manager-implementation.md
Due: none

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/cmd/timeline-manager/main.go
  bin-timeline-manager/internal/config/main.go
Due: none

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/migrations/000002_add_resource_id_column.down.sql
  bin-timeline-manager/migrations/000002_add_resource_id_column.up.sql
Due: none

NOJIRA-Add-timeline-manager-service
  .circleci/config.yml
  .circleci/config_work.yml
  bin-timeline-manager/k8s/deployment.yml
  bin-timeline-manager/k8s/kustomization.yml
  bin-timeline-manager/k8s/namespace.yml
  bin-timeline-manager/k8s/service.yml
Due: none

NOJIRA-Add-timeline-manager-service
  bin-common-handler/go.mod
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/send_request.go
  bin-common-handler/pkg/requesthandler/timeline_events.go
  bin-common-handler/pkg/requesthandler/timeline_events_test.go
Due: run-bin-common-handler

NOJIRA-Add-timeline-manager-service
  bin-agent-manager/go.mod
  bin-ai-manager/go.mod
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-billing-manager/go.mod
  bin-call-manager/go.mod
  bin-campaign-manager/go.mod
  bin-conference-manager/go.mod
  bin-conversation-manager/go.mod
  bin-customer-manager/go.mod
  bin-email-manager/go.mod
  bin-flow-manager/go.mod
  bin-hook-manager/go.mod
  bin-message-manager/go.mod
  bin-number-manager/go.mod
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-outdial-manager/go.mod
  bin-pipecat-manager/go.mod
  bin-queue-manager/go.mod
  bin-registrar-manager/go.mod
  bin-route-manager/go.mod
  bin-sentinel-manager/go.mod
  bin-storage-manager/go.mod
  bin-tag-manager/go.mod
  bin-talk-manager/go.mod
  bin-transcribe-manager/go.mod
  bin-transfer-manager/go.mod
  bin-tts-manager/go.mod
  bin-webhook-manager/go.mod
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

NOJIRA-Add-timeline-manager-service
  bin-timeline-manager/Dockerfile
  bin-timeline-manager/internal/config/main_test.go
  bin-timeline-manager/k8s/deployment.yml
  bin-timeline-manager/models/event/event_test.go
  bin-timeline-manager/pkg/dbhandler/event.go
  bin-timeline-manager/pkg/dbhandler/event_test.go
  bin-timeline-manager/pkg/eventhandler/event_test.go
  bin-timeline-manager/pkg/listenhandler/main_test.go
Due: none

Fix Dockerfile to use monorepo build context
  bin-timeline-manager/Dockerfile
Due: none

NOJIRA-Add-timeline-manager-defaults-and-claudemd
  bin-timeline-manager/CLAUDE.md
  bin-timeline-manager/internal/config/main.go
Due: none

Fix ClickHouse config location
  bin-timeline-manager/CLAUDE.md
  bin-timeline-manager/internal/config/main.go
  bin-timeline-manager/k8s/deployment.yml
Due: none

Add WaitForConnection to fix CLI race condition
  bin-timeline-manager/cmd/timeline-control/main.go
  bin-timeline-manager/pkg/dbhandler/main.go
  bin-timeline-manager/pkg/dbhandler/mock_main.go
Due: none

Fix Timestamp type and add CLI tests
  bin-timeline-manager/cmd/timeline-control/main_test.go
  bin-timeline-manager/models/event/event.go
  bin-timeline-manager/models/event/event_test.go
  bin-timeline-manager/pkg/eventhandler/event.go
  bin-timeline-manager/pkg/eventhandler/event_test.go
  bin-timeline-manager/pkg/listenhandler/main_test.go
Due: none

Fix Publisher type for ClickHouse compatibility
  bin-timeline-manager/cmd/timeline-control/main.go
  bin-timeline-manager/models/event/event.go
  bin-timeline-manager/models/event/event_test.go
  bin-timeline-manager/models/event/request.go
  bin-timeline-manager/pkg/dbhandler/event.go
  bin-timeline-manager/pkg/dbhandler/event_test.go
  bin-timeline-manager/pkg/dbhandler/main.go
  bin-timeline-manager/pkg/dbhandler/mock_main.go
  bin-timeline-manager/pkg/eventhandler/event_test.go
  bin-timeline-manager/pkg/listenhandler/main_test.go
Due: none

Refactor models to follow flow-manager pattern
  bin-timeline-manager/cmd/timeline-control/main.go
  bin-timeline-manager/models/event/event.go
  bin-timeline-manager/models/event/event_test.go
  bin-timeline-manager/models/event/request.go
  bin-timeline-manager/pkg/eventhandler/event.go
  bin-timeline-manager/pkg/eventhandler/event_test.go
  bin-timeline-manager/pkg/eventhandler/main.go
  bin-timeline-manager/pkg/eventhandler/mock_main.go
  bin-timeline-manager/pkg/listenhandler/main_test.go
  bin-timeline-manager/pkg/listenhandler/models/request/event.go
  bin-timeline-manager/pkg/listenhandler/models/response/event.go
  bin-timeline-manager/pkg/listenhandler/v1_events.go
Due: none

Update CLAUDE.md with model organization and ClickHouse gotcha
  bin-timeline-manager/CLAUDE.md
Due: none

NOJIRA-Add-timeline-manager-defaults-and-claudemd (#386)
  bin-timeline-manager/CLAUDE.md
  bin-timeline-manager/cmd/timeline-control/main.go
  bin-timeline-manager/cmd/timeline-control/main_test.go
  bin-timeline-manager/k8s/deployment.yml
  bin-timeline-manager/models/event/event.go
  bin-timeline-manager/models/event/event_test.go
  bin-timeline-manager/pkg/dbhandler/event.go
  bin-timeline-manager/pkg/dbhandler/event_test.go
  bin-timeline-manager/pkg/dbhandler/main.go
  bin-timeline-manager/pkg/dbhandler/mock_main.go
  bin-timeline-manager/pkg/eventhandler/event.go
  bin-timeline-manager/pkg/eventhandler/event_test.go
  bin-timeline-manager/pkg/eventhandler/main.go
  bin-timeline-manager/pkg/eventhandler/mock_main.go
  bin-timeline-manager/pkg/listenhandler/main_test.go
  bin-timeline-manager/pkg/listenhandler/models/request/event.go
  bin-timeline-manager/pkg/listenhandler/models/response/event.go
  bin-timeline-manager/pkg/listenhandler/v1_events.go
Due: none

NOJIRA-Fix-vendor-sync-oapi-codegen
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Fix-timeline-requesthandler-types
  bin-common-handler/pkg/requesthandler/timeline_events_test.go
  bin-timeline-manager/cmd/timeline-control/main.go
  bin-timeline-manager/cmd/timeline-control/main_test.go
  bin-timeline-manager/models/event/event.go
  bin-timeline-manager/models/event/request.go
  bin-timeline-manager/models/event/response.go
  bin-timeline-manager/pkg/dbhandler/event.go
  bin-timeline-manager/pkg/eventhandler/event.go
  bin-timeline-manager/pkg/eventhandler/event_test.go
  bin-timeline-manager/pkg/listenhandler/main_test.go
Due: run-bin-common-handler

NOJIRA-Fix-timeline-requesthandler-types (#387)
  bin-common-handler/pkg/requesthandler/timeline_events_test.go
  bin-timeline-manager/cmd/timeline-control/main.go
  bin-timeline-manager/cmd/timeline-control/main_test.go
  bin-timeline-manager/models/event/event.go
  bin-timeline-manager/models/event/request.go
  bin-timeline-manager/models/event/response.go
  bin-timeline-manager/pkg/dbhandler/event.go
  bin-timeline-manager/pkg/eventhandler/event.go
  bin-timeline-manager/pkg/eventhandler/event_test.go
  bin-timeline-manager/pkg/listenhandler/main_test.go
Due: run-bin-common-handler

Add timeline endpoint handler
  bin-api-manager/server/timelines.go
Due: run-bin-api-manager

Add timeline external API implementation plan
  docs/plans/2026-02-03-timeline-external-api-implementation.md
Due: none

Regenerate API server with timeline endpoint
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
Due: run-bin-api-manager

Add comprehensive timeline tests
  bin-api-manager/pkg/servicehandler/timeline_test.go
  bin-api-manager/server/timelines_test.go
Due: run-bin-api-manager

Add timeline events API specification
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/timelines/resource_events.yaml
Due: run-bin-openapi-manager
