Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

Fixed
  bin-number-manager/pkg/numberhandler/db.go
  bin-number-manager/pkg/numberhandler/number.go
  bin-number-manager/pkg/numberhandler/renew.go
Due: run-bin-number-manager

VOIP-1182-Add_number_register (#314)
  bin-number-manager/cmd/number-control/main.go
  bin-number-manager/models/number/number.go
  bin-number-manager/pkg/numberhandler/db.go
  bin-number-manager/pkg/numberhandler/event.go
  bin-number-manager/pkg/numberhandler/main.go
  bin-number-manager/pkg/numberhandler/mock_main.go
  bin-number-manager/pkg/numberhandler/number.go
  bin-number-manager/pkg/numberhandler/number_test.go
  bin-number-manager/pkg/numberhandler/renew.go
Due: run-bin-number-manager

Fixed
  bin-call-manager/go.sum
  bin-call-manager/pkg/channelhandler/address.go
  bin-call-manager/pkg/channelhandler/address_test.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/pkg/channelhandler/address_test.go
Due: run-bin-call-manager

VOIP-1183-Support_destination_address_type_extension (#315)
  bin-call-manager/go.sum
  bin-call-manager/pkg/channelhandler/address.go
  bin-call-manager/pkg/channelhandler/address_test.go
Due: run-bin-call-manager

WIP
  bin-agent-manager/cmd/agent-control/main.go
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_test.go
  bin-agent-manager/pkg/agenthandler/db.go
  bin-agent-manager/pkg/agenthandler/db_test.go
  bin-agent-manager/pkg/agenthandler/main.go
  bin-agent-manager/pkg/agenthandler/mock_main.go
Due: run-bin-agent-manager

Fixed
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_test.go
Due: run-bin-agent-manager

VOIP-1184-Fix_agent_control_update_permission (#316)
  bin-agent-manager/cmd/agent-control/main.go
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_test.go
  bin-agent-manager/pkg/agenthandler/db.go
  bin-agent-manager/pkg/agenthandler/db_test.go
  bin-agent-manager/pkg/agenthandler/main.go
  bin-agent-manager/pkg/agenthandler/mock_main.go
Due: run-bin-agent-manager

WIP
  bin-transcribe-manager/cmd/transcribe-manager/main.go
  bin-transcribe-manager/go.sum
Due: run-bin-transcribe-manager

WIP
  bin-transcribe-manager/cmd/transcribe-manager/main.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/cmd/transcribe-manager/main.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/cmd/transcribe-manager/main.go
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

Fixed
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

NOJIRA-Fix_wrong_start (#317)
  bin-transcribe-manager/cmd/transcribe-manager/main.go
  bin-transcribe-manager/go.sum
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

Add Cobra+Viper config refactoring design document
  bin-transcribe-manager/CLAUDE.md
  bin-transcribe-manager/docs/plans/2026-01-05-cobra-viper-config-refactor-design.md
Due: run-bin-transcribe-manager

feat: add config package with Cobra/Viper bindings
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-transcribe-manager/internal/config/main.go
Due: run-bin-transcribe-manager

refactor: replace main with Cobra command structure
  bin-transcribe-manager/cmd/transcribe-manager/main.go
Due: run-bin-transcribe-manager

refactor: add initialization and daemon functions
  bin-transcribe-manager/cmd/transcribe-manager/init.go
  bin-transcribe-manager/cmd/transcribe-manager/main.go
Due: run-bin-transcribe-manager

refactor: update run function to use config.Get()
  bin-transcribe-manager/cmd/transcribe-manager/main.go
Due: run-bin-transcribe-manager

refactor: delete obsolete init.go file
  bin-transcribe-manager/cmd/transcribe-manager/init.go
Due: run-bin-transcribe-manager

fix: prevent panic when Prometheus config is empty
  bin-transcribe-manager/cmd/transcribe-manager/main.go
Due: run-bin-transcribe-manager

docs: update CLAUDE.md for Cobra/Viper config pattern
  bin-transcribe-manager/CLAUDE.md
Due: run-bin-transcribe-manager

docs: add Cobra/Viper refactoring implementation plan
  bin-transcribe-manager/docs/plans/2026-01-05-cobra-viper-config-refactor.md
Due: run-bin-transcribe-manager

VOIP-1179-Extract_common_config (#318)
  bin-transcribe-manager/CLAUDE.md
  bin-transcribe-manager/cmd/transcribe-manager/init.go
  bin-transcribe-manager/cmd/transcribe-manager/main.go
  bin-transcribe-manager/docs/plans/2026-01-05-cobra-viper-config-refactor-design.md
  bin-transcribe-manager/docs/plans/2026-01-05-cobra-viper-config-refactor.md
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-transcribe-manager/internal/config/main.go
Due: run-bin-transcribe-manager

Add design doc for optional STT provider configuration
  bin-transcribe-manager/docs/plans/2026-01-05-optional-stt-providers-design.md
Due: run-bin-transcribe-manager

Add .worktrees to .gitignore
  bin-transcribe-manager/.gitignore
Due: run-bin-transcribe-manager

Add implementation plan for optional STT providers
  bin-transcribe-manager/docs/plans/2026-01-05-optional-stt-providers.md
Due: run-bin-transcribe-manager

feat: add nil-check defense to gcpRun
  bin-transcribe-manager/pkg/streaminghandler/gcp.go
Due: run-bin-transcribe-manager

feat: add nil-check defense to awsRun
  bin-transcribe-manager/pkg/streaminghandler/aws.go
Due: run-bin-transcribe-manager

feat: implement dynamic handler list in runStart
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

feat: implement conditional STT provider initialization
  bin-transcribe-manager/pkg/streaminghandler/main.go
Due: run-bin-transcribe-manager

fix: add nil check for streaming handler initialization
  bin-transcribe-manager/cmd/transcribe-manager/main.go
Due: run-bin-transcribe-manager

test: add tests for optional provider initialization
  bin-transcribe-manager/pkg/streaminghandler/main_test.go
Due: run-bin-transcribe-manager

docs: update provider configuration requirements
  bin-transcribe-manager/CLAUDE.md
Due: run-bin-transcribe-manager

fix: simplify error handling in main.go
  bin-transcribe-manager/cmd/transcribe-manager/main.go
Due: run-bin-transcribe-manager

VOIP-1185-Make_provider_optionable (#319)
  bin-transcribe-manager/.gitignore
  bin-transcribe-manager/CLAUDE.md
  bin-transcribe-manager/cmd/transcribe-manager/main.go
  bin-transcribe-manager/docs/plans/2026-01-05-optional-stt-providers-design.md
  bin-transcribe-manager/docs/plans/2026-01-05-optional-stt-providers.md
  bin-transcribe-manager/pkg/streaminghandler/aws.go
  bin-transcribe-manager/pkg/streaminghandler/gcp.go
  bin-transcribe-manager/pkg/streaminghandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/main_test.go
  bin-transcribe-manager/pkg/streaminghandler/run.go
Due: run-bin-transcribe-manager

docs: add CLAUDE.md for AI-assisted development
  bin-flow-manager/CLAUDE.md
Due: run-bin-flow-manager

Add design doc for POD_IP and streaming port config refactoring
  bin-transcribe-manager/docs/plans/2026-01-05-config-pod-ip-streaming-port.md
Due: run-bin-transcribe-manager

config: add PodIP and StreamingListenPort fields to Config struct
  bin-transcribe-manager/internal/config/main.go
Due: run-bin-transcribe-manager
