Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-rtp-debug-force-provider-call
  bin-call-manager/models/call/metadata.go
  bin-call-manager/pkg/callhandler/hangup.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/callhandler/status.go
Due: run-bin-call-manager

NOJIRA-rtp-debug-force-provider-call
  bin-call-manager/pkg/callhandler/start.go
Due: run-bin-call-manager

NOJIRA-rtp-debug-force-provider-call
  bin-call-manager/pkg/callhandler/db.go
Due: run-bin-call-manager

NOJIRA-rtp-debug-force-provider-call (#795)
  bin-call-manager/models/call/metadata.go
  bin-call-manager/pkg/callhandler/arievent_test.go
  bin-call-manager/pkg/callhandler/db.go
  bin-call-manager/pkg/callhandler/hangup.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/callhandler/status.go
  bin-call-manager/pkg/callhandler/status_test.go
  bin-route-manager/pkg/providercallhandler/providercall.go
  docs/plans/2026-04-22-rtp-debug-force-provider-call.md
Due: run-bin-call-manager, run-bin-route-manager

NOJIRA-thin-gateway-doc
  bin-api-manager/CLAUDE.md
Due: run-bin-api-manager

NOJIRA-easy-provider-setup
  bin-route-manager/pkg/telnyxclient/main.go
  bin-route-manager/pkg/telnyxclient/mock_main.go
  bin-route-manager/pkg/telnyxclient/telnyx.go
  bin-route-manager/pkg/telnyxclient/telnyx_test.go
Due: run-bin-route-manager

NOJIRA-easy-provider-setup
  bin-route-manager/pkg/providerhandler/main.go
  bin-route-manager/pkg/providerhandler/mock_main.go
  bin-route-manager/pkg/providerhandler/setup.go
  bin-route-manager/pkg/providerhandler/setup_test.go
Due: run-bin-route-manager

NOJIRA-easy-provider-setup
  bin-route-manager/pkg/listenhandler/main.go
  bin-route-manager/pkg/listenhandler/models/request/providers_setup.go
  bin-route-manager/pkg/listenhandler/v1_providers_setup.go
  bin-route-manager/pkg/listenhandler/v1_providers_setup_test.go
  bin-route-manager/pkg/providerhandler/setup.go
Due: run-bin-route-manager

NOJIRA-easy-provider-setup
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/route_providers.go
  bin-common-handler/pkg/requesthandler/route_providers_test.go
Due: run-bin-common-handler

NOJIRA-easy-provider-setup
  bin-route-manager/pkg/telnyxclient/telnyx.go
Due: run-bin-route-manager

NOJIRA-easy-provider-setup
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/provider.go
  bin-api-manager/server/providers.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/providers/setup.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-easy-provider-setup
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/providers.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-route-manager/pkg/listenhandler/v1_providers_setup.go
  bin-route-manager/pkg/listenhandler/v1_providers_setup_test.go
  bin-route-manager/pkg/providerhandler/setup_test.go
Due: run-bin-api-manager, run-bin-openapi-manager, run-bin-route-manager

NOJIRA-easy-provider-setup
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/providers.go
  bin-common-handler/pkg/requesthandler/route_providers.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-route-manager/pkg/listenhandler/v1_providers_setup_test.go
  bin-route-manager/pkg/providerhandler/setup.go
  bin-route-manager/pkg/telnyxclient/telnyx_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager, run-bin-route-manager

NOJIRA-easy-provider-setup
  bin-api-manager/pkg/servicehandler/provider.go
  bin-common-handler/pkg/requesthandler/route_providers_test.go
  bin-route-manager/pkg/listenhandler/main.go
  bin-route-manager/pkg/telnyxclient/main.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-route-manager

NOJIRA-fix-provider-setup-credential-leak
  bin-route-manager/pkg/listenhandler/main.go
  bin-route-manager/pkg/listenhandler/v1_providers_setup.go
  bin-route-manager/pkg/listenhandler/v1_providers_setup_test.go
  bin-route-manager/pkg/telnyxclient/telnyx.go
Due: run-bin-route-manager

Redesign Telnyx provider setup to use IP connection flow
  bin-route-manager/cmd/route-manager/main.go
  bin-route-manager/internal/config/config.go
  bin-route-manager/pkg/providerhandler/main.go
  bin-route-manager/pkg/providerhandler/provider_test.go
  bin-route-manager/pkg/providerhandler/setup.go
  bin-route-manager/pkg/providerhandler/setup_test.go
  bin-route-manager/pkg/telnyxclient/main.go
  bin-route-manager/pkg/telnyxclient/mock_main.go
  bin-route-manager/pkg/telnyxclient/telnyx.go
  bin-route-manager/pkg/telnyxclient/telnyx_test.go
Due: run-bin-route-manager

NOJIRA-fix-provider-setup-credential-leak
  bin-route-manager/cmd/route-manager/main.go
  bin-route-manager/internal/config/config.go
  bin-route-manager/pkg/providerhandler/main.go
  bin-route-manager/pkg/providerhandler/provider_test.go
  bin-route-manager/pkg/providerhandler/setup.go
  bin-route-manager/pkg/providerhandler/setup_test.go
Due: run-bin-route-manager

NOJIRA-fix-provider-setup-credential-leak
  bin-route-manager/internal/config/config.go
Due: run-bin-route-manager

NOJIRA-fix-provider-setup-credential-leak
  bin-route-manager/pkg/listenhandler/main.go
  bin-route-manager/pkg/providerhandler/setup.go
  bin-route-manager/pkg/providerhandler/setup_test.go
Due: run-bin-route-manager

NOJIRA-fix-provider-setup-credential-leak
  bin-route-manager/k8s/deployment.yml
Due: run-bin-route-manager

NOJIRA-fix-provider-setup-credential-leak
  bin-route-manager/pkg/telnyxclient/telnyx.go
Due: run-bin-route-manager

NOJIRA-fix-provider-metadata-migration
  bin-dbscheme-manager/bin-manager/main/versions/629a307b92d0_route_providers_add_column_metadata.py
Due: none

NOJIRA-fix-provider-metadata-migration (#798)
  bin-dbscheme-manager/bin-manager/main/versions/629a307b92d0_route_providers_add_column_metadata.py
Due: none

NOJIRA-api-error-response-codes
  docs/plans/2026-04-24-api-error-response-codes-design.md
Due: none

NOJIRA-api-error-response-codes
  docs/plans/2026-04-24-api-error-response-codes-plan.md
Due: none

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/status.go
  bin-common-handler/models/errors/status_test.go
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/voipbin_error.go
  bin-common-handler/models/errors/voipbin_error_test.go
Due: run-bin-common-handler

NOJIRA-api-error-response-codes
  bin-common-handler/models/errors/voipbin_error_test.go
Due: run-bin-common-handler

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
