Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Add-delegate-token
  bin-api-manager/cmd/api-manager/main.go
Due: run-bin-api-manager

NOJIRA-Add-delegate-token
  bin-api-manager/lib/service/auth_delegate_test.go
  bin-api-manager/pkg/servicehandler/auth_delegate.go
  bin-api-manager/pkg/servicehandler/auth_delegate_test.go
Due: run-bin-api-manager

NOJIRA-Add-delegate-token
  bin-api-manager/pkg/servicehandler/auth_delegate_test.go
Due: run-bin-api-manager

NOJIRA-Fix-merge-hook
  .claude/scripts/block-merge-without-permission.sh
Due: none

NOJIRA-Fix-merge-hook (#928)
  .claude/scripts/block-merge-without-permission.sh
Due: none

NOJIRA-Add-whatsapp-conversation-account
  docs/superpowers/specs/2026-05-20-whatsapp-conversation-account-design.md
Due: none

NOJIRA-Add-whatsapp-conversation-account
  docs/superpowers/plans/2026-05-20-whatsapp-conversation-account.md
Due: none

NOJIRA-Add-whatsapp-conversation-account
  bin-dbscheme-manager/bin-manager/main/versions/71c07017065e_conversation_accounts_add_provider_data.py
Due: none

NOJIRA-Add-whatsapp-conversation-account
  bin-common-handler/models/address/main.go
  bin-conversation-manager/models/account/account.go
  bin-conversation-manager/models/conversation/conversation.go
  bin-conversation-manager/models/message/message.go
Due: run-bin-common-handler, run-bin-conversation-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-conversation-manager/internal/convtitle/build.go
  bin-conversation-manager/internal/convtitle/build_test.go
Due: run-bin-conversation-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-common-handler/pkg/requesthandler/billing_hooks_test.go
  bin-common-handler/pkg/requesthandler/conversation_accounts.go
  bin-common-handler/pkg/requesthandler/conversation_accounts_test.go
  bin-common-handler/pkg/requesthandler/conversation_hook.go
  bin-common-handler/pkg/requesthandler/conversation_hook_test.go
  bin-common-handler/pkg/requesthandler/email_hooks_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/message_hook_test.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-conversation-manager/go.sum
  bin-conversation-manager/pkg/listenhandler/models/request/v1_accounts.go
  bin-hook-manager/api/v1.0/conversation/conversation.go
  bin-hook-manager/api/v1.0/conversation/conversation_test.go
  bin-hook-manager/cmd/hook-control/main.go
  bin-hook-manager/go.sum
  bin-hook-manager/models/hook/hook.go
  bin-hook-manager/pkg/servicehandler/conversation.go
  bin-hook-manager/pkg/servicehandler/conversation_test.go
  bin-hook-manager/pkg/servicehandler/main.go
  bin-hook-manager/pkg/servicehandler/mock_servicehandler.go
  bin-hook-manager/pkg/servicehandler/mock_test.go
Due: run-bin-common-handler, run-bin-conversation-manager, run-bin-hook-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-conversation-manager/pkg/whatsapphandler/hook.go
  bin-conversation-manager/pkg/whatsapphandler/hook_test.go
  bin-conversation-manager/pkg/whatsapphandler/main.go
  bin-conversation-manager/pkg/whatsapphandler/mock_whatsapphandler.go
  bin-conversation-manager/pkg/whatsapphandler/send.go
  bin-conversation-manager/pkg/whatsapphandler/send_test.go
  bin-conversation-manager/pkg/whatsapphandler/setup.go
  bin-conversation-manager/pkg/whatsapphandler/setup_test.go
  bin-conversation-manager/pkg/whatsapphandler/teardown.go
  bin-conversation-manager/pkg/whatsapphandler/verify.go
  bin-conversation-manager/pkg/whatsapphandler/verify_test.go
Due: run-bin-conversation-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-conversation-manager/cmd/conversation-control/main.go
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-conversation-manager/pkg/conversationhandler/hook.go
  bin-conversation-manager/pkg/conversationhandler/hook_test.go
  bin-conversation-manager/pkg/conversationhandler/main.go
  bin-conversation-manager/pkg/conversationhandler/mock_conversationhandler.go
  bin-conversation-manager/pkg/listenhandler/v1_hooks.go
  bin-conversation-manager/pkg/listenhandler/v1_hooks_test.go
Due: run-bin-conversation-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-conversation-manager/cmd/conversation-control/main.go
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-conversation-manager/pkg/accounthandler/db.go
  bin-conversation-manager/pkg/accounthandler/db_test.go
  bin-conversation-manager/pkg/accounthandler/main.go
  bin-conversation-manager/pkg/accounthandler/mock_accounthandler.go
  bin-conversation-manager/pkg/accounthandler/setup.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts_test.go
Due: run-bin-conversation-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-common-handler/pkg/databasehandler/mapping.go
  bin-conversation-manager/scripts/database_scripts_test/table_conversation_accounts.sql
Due: run-bin-common-handler, run-bin-conversation-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-conversation-manager/cmd/conversation-control/main.go
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-conversation-manager/pkg/messagehandler/main.go
  bin-conversation-manager/pkg/messagehandler/send.go
  bin-conversation-manager/pkg/messagehandler/send_test.go
Due: run-bin-conversation-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-conversation-manager/docs/architecture.md
  bin-conversation-manager/pkg/listenhandler/main.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts.go
  bin-conversation-manager/pkg/listenhandler/v1_hooks.go
Due: run-bin-conversation-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-conversation-manager/pkg/whatsapphandler/hook.go
  bin-conversation-manager/pkg/whatsapphandler/hook_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-conversation-manager, run-bin-openapi-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-conversation-manager/pkg/conversationhandler/hook.go
  bin-conversation-manager/pkg/whatsapphandler/main.go
  bin-conversation-manager/pkg/whatsapphandler/send.go
  bin-conversation-manager/pkg/whatsapphandler/verify.go
Due: run-bin-conversation-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-conversation-manager/pkg/listenhandler/v1_accounts.go
  bin-conversation-manager/pkg/listenhandler/v1_accounts_test.go
  bin-conversation-manager/pkg/whatsapphandler/verify.go
  bin-conversation-manager/pkg/whatsapphandler/verify_test.go
Due: run-bin-api-manager, run-bin-conversation-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-conversation-manager/pkg/conversationhandler/execute_mode.go
  bin-conversation-manager/pkg/conversationhandler/execute_mode_test.go
  bin-conversation-manager/pkg/conversationhandler/hook_test.go
  bin-conversation-manager/pkg/listenhandler/v1_hooks_test.go
Due: run-bin-conversation-manager

NOJIRA-Add-whatsapp-conversation-account
  bin-conversation-manager/pkg/listenhandler/v1_hooks.go
Due: run-bin-conversation-manager

NOJIRA-Add-aievaluation-design
  docs/plans/2026-05-21-add-aievaluation-design.md
Due: none

NOJIRA-Add-active-ai-id-to-aimessage
  docs/superpowers/specs/2026-05-21-active-ai-id-aimessage-design.md
Due: none

NOJIRA-Add-active-ai-id-to-aimessage
  docs/superpowers/plans/2026-05-21-active-ai-id-aimessage.md
Due: none

NOJIRA-Add-active-ai-id-to-aimessage
  bin-ai-manager/models/message/field.go
  bin-ai-manager/models/message/main.go
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
