Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

Proactively fix the same AMQP channel race in api-manager
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/pkg/subscribehandler/main.go
  bin-api-manager/pkg/subscribehandler/run_test.go
Due: run-bin-api-manager

Dual-publish routing-keyed events from SendWebhookToCustomer/SendWebhookToURI
  bin-webhook-manager/pkg/webhookhandler/routingkey.go
  bin-webhook-manager/pkg/webhookhandler/webhook.go
  bin-webhook-manager/pkg/webhookhandler/webhook_test.go
Due: run-bin-webhook-manager

Add PublishEventWithRoutingKey to NotifyHandler
  bin-common-handler/pkg/notifyhandler/main.go
  bin-common-handler/pkg/notifyhandler/mock_main.go
  bin-common-handler/pkg/notifyhandler/publish.go
  bin-common-handler/pkg/notifyhandler/publish_test.go
Due: run-bin-common-handler

VOIP-1258-topic-exchange-scoped-routing: Revert agent_id -> owner_id rename decision
  bin-api-manager/docs/plans/2026-07-14-voip-1258-implementation-plan.md
  bin-api-manager/docs/plans/2026-07-14-voip-1258-topic-exchange-scoped-routing-design.md
Due: run-bin-api-manager

Add reqHandler dependency to webhookHandler
  bin-webhook-manager/cmd/webhook-control/main.go
  bin-webhook-manager/cmd/webhook-manager/main.go
  bin-webhook-manager/pkg/webhookhandler/main.go
  bin-webhook-manager/pkg/webhookhandler/webhook_test.go
Due: run-bin-webhook-manager

Add per-pod scope refcount component for dynamic AMQP bind/unbind
  bin-api-manager/pkg/websockhandler/scoperefcount.go
  bin-api-manager/pkg/websockhandler/scoperefcount_test.go
Due: run-bin-api-manager

Add dedicated test coverage for TopicCreateWithKind (Task 1.4)
  bin-common-handler/pkg/rabbitmqhandler/main_test.go
  bin-common-handler/pkg/rabbitmqhandler/topic_test.go
Due: run-bin-common-handler

Remove dead QueueNameAgentEvent/QueueNameTalkEvent subscriptions
  bin-api-manager/cmd/api-manager/main.go
Due: run-bin-api-manager

Fix publishRoutingKeyedEvent: unwrap the wire envelope before parsing owner data
  bin-webhook-manager/pkg/webhookhandler/routingkey.go
  bin-webhook-manager/pkg/webhookhandler/webhook_test.go
Due: run-bin-webhook-manager

Address round-1 review: scope the envelope-unwrapping claim, silence expected non-envelope noise
  bin-webhook-manager/pkg/webhookhandler/routingkey.go
  bin-webhook-manager/pkg/webhookhandler/webhook_test.go
Due: run-bin-webhook-manager

Add doc comment noticed by round-2 review (stray uncommitted diff cleanup)
  bin-webhook-manager/pkg/webhookhandler/routingkey_test.go
Due: run-bin-webhook-manager

Fix critical gap: api-manager silently discarded all new topic-exchange events
  bin-api-manager/pkg/subscribehandler/main.go
  bin-api-manager/pkg/subscribehandler/webhookmanager.go
  bin-api-manager/pkg/subscribehandler/webhookmanager_test.go
Due: run-bin-api-manager

VOIP-1259-jailbreak-rate-limit-phase1-design
  docs/plans/2026-07-15-jailbreak-rate-limit-phase1-design.md
Due: none

VOIP-1259-jailbreak-rate-limit-phase1
  docs/plans/2026-07-15-jailbreak-rate-limit-phase1-design.md
Due: none

VOIP-1259-jailbreak-rate-limit-phase1
  bin-call-manager/cmd/call-control/main.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/internal/config/main.go
  bin-call-manager/pkg/cachehandler/handler.go
  bin-call-manager/pkg/cachehandler/main.go
  bin-call-manager/pkg/cachehandler/mock_main.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/metrics.go
  bin-call-manager/pkg/callhandler/mock_main.go
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/validate.go
  bin-call-manager/pkg/callhandler/validate_test.go
  bin-call-manager/pkg/channelhandler/mock_main.go
  bin-call-manager/pkg/dbhandler/mock_main.go
Due: run-bin-call-manager

VOIP-1259-jailbreak-rate-limit-phase1
  bin-message-manager/cmd/message-control/main.go
  bin-message-manager/cmd/message-manager/main.go
  bin-message-manager/internal/config/config.go
  bin-message-manager/pkg/cachehandler/handler.go
  bin-message-manager/pkg/cachehandler/main.go
  bin-message-manager/pkg/cachehandler/mock_main.go
  bin-message-manager/pkg/messagehandler/main.go
  bin-message-manager/pkg/messagehandler/message_test.go
  bin-message-manager/pkg/messagehandler/metrics.go
  bin-message-manager/pkg/messagehandler/ratelimit.go
  bin-message-manager/pkg/messagehandler/ratelimit_test.go
  bin-message-manager/pkg/messagehandler/send.go
  bin-message-manager/pkg/messagehandler/send_test.go
Due: run-bin-message-manager

VOIP-1259-jailbreak-rate-limit-phase1
  bin-email-manager/cmd/email-control/main.go
  bin-email-manager/cmd/email-manager/main.go
  bin-email-manager/internal/config/config.go
  bin-email-manager/pkg/cachehandler/handler.go
  bin-email-manager/pkg/cachehandler/main.go
  bin-email-manager/pkg/cachehandler/mock_main.go
  bin-email-manager/pkg/emailhandler/email.go
  bin-email-manager/pkg/emailhandler/email_test.go
  bin-email-manager/pkg/emailhandler/hook_test.go
  bin-email-manager/pkg/emailhandler/main.go
  bin-email-manager/pkg/emailhandler/main_test.go
  bin-email-manager/pkg/emailhandler/metrics.go
  bin-email-manager/pkg/emailhandler/ratelimit.go
  bin-email-manager/pkg/emailhandler/send_test.go
  bin-email-manager/pkg/emailhandler/validate_identity_test.go
  bin-email-manager/pkg/emailhandler/validate_test.go
Due: run-bin-email-manager

VOIP-1259-jailbreak-rate-limit-phase1
  bin-ai-manager/internal/config/main.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/metrics.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_createcall_test.go
  bin-ai-manager/pkg/aicallhandler/tool_sessioncap_test.go
Due: none

VOIP-1259-jailbreak-rate-limit-phase1
  bin-call-manager/pkg/callhandler/outgoing_call_ratelimit_test.go
  bin-email-manager/pkg/emailhandler/email_ratelimit_test.go
  bin-email-manager/pkg/emailhandler/ratelimit_test.go
Due: run-bin-call-manager, run-bin-email-manager

NOJIRA-Add-webchat-manager-design
  docs/plans/2026-06-29-add-webchat-manager-design.md
Due: none

v6: Add conversation-manager integration (message-manager pattern)
  docs/plans/2026-06-29-add-webchat-manager-design.md
Due: none

Resolve all Open Questions in section 15 and 16.7 (CEO/CTO sign-off)
  docs/plans/2026-06-29-add-webchat-manager-design.md
Due: none

v7: Decouple session creation from first message
  docs/plans/2026-06-29-add-webchat-manager-design.md
Due: none

Round 4 review: fold in v7 API-shape findings (APPROVE WITH COMMENTS)
  docs/plans/2026-06-29-add-webchat-manager-design.md
Due: none

v8: Add Widget theme/appearance customization
  docs/plans/2026-06-29-add-webchat-manager-design.md
Due: none

Round 5 review: fix v8 ThemeConfig findings (APPROVE WITH COMMENTS)
  docs/plans/2026-06-29-add-webchat-manager-design.md
Due: none

Add webchat_widget direct resource type support
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/boot_test.go
  bin-direct-manager/models/direct/direct.go
Due: run-bin-api-manager

Add bin-webchat-manager Phase 1 data layer (models + dbhandler)
  bin-webchat-manager/go.mod
  bin-webchat-manager/go.sum
  bin-webchat-manager/models/message/field.go
  bin-webchat-manager/models/message/filters.go
  bin-webchat-manager/models/message/message.go
  bin-webchat-manager/models/message/message_test.go
  bin-webchat-manager/models/session/field.go
  bin-webchat-manager/models/session/filters.go
  bin-webchat-manager/models/session/session.go
  bin-webchat-manager/models/session/session_test.go
  bin-webchat-manager/models/widget/field.go
  bin-webchat-manager/models/widget/filters.go
  bin-webchat-manager/models/widget/widget.go
  bin-webchat-manager/models/widget/widget_test.go
  bin-webchat-manager/pkg/cachehandler/handler.go
  bin-webchat-manager/pkg/cachehandler/main.go
  bin-webchat-manager/pkg/cachehandler/mock_main.go
  bin-webchat-manager/pkg/dbhandler/main.go
  bin-webchat-manager/pkg/dbhandler/main_test.go
  bin-webchat-manager/pkg/dbhandler/message.go
  bin-webchat-manager/pkg/dbhandler/message_test.go
  bin-webchat-manager/pkg/dbhandler/mock_main.go
  bin-webchat-manager/pkg/dbhandler/session.go
  bin-webchat-manager/pkg/dbhandler/session_test.go
  bin-webchat-manager/pkg/dbhandler/widget.go
  bin-webchat-manager/pkg/dbhandler/widget_test.go
  bin-webchat-manager/scripts/database_scripts_test/messages.sql
  bin-webchat-manager/scripts/database_scripts_test/sessions.sql
  bin-webchat-manager/scripts/database_scripts_test/widgets.sql
Due: none

Add bin-webchat-manager Phase 1 handler and listenhandler layers
  bin-common-handler/models/outline/queuename.go
  bin-common-handler/models/outline/servicename.go
  bin-flow-manager/models/activeflow/activeflow.go
  bin-webchat-manager/cmd/webchat-manager/main.go
  bin-webchat-manager/go.mod
  bin-webchat-manager/go.sum
  bin-webchat-manager/internal/config/config.go
  bin-webchat-manager/pkg/listenhandler/main.go
  bin-webchat-manager/pkg/listenhandler/mock_main.go
  bin-webchat-manager/pkg/listenhandler/models/request/v1_messages.go
  bin-webchat-manager/pkg/listenhandler/models/request/v1_sessions.go
  bin-webchat-manager/pkg/listenhandler/models/request/v1_widgets.go
  bin-webchat-manager/pkg/listenhandler/v1_messages.go
  bin-webchat-manager/pkg/listenhandler/v1_sessions.go
  bin-webchat-manager/pkg/listenhandler/v1_widgets.go
  bin-webchat-manager/pkg/messagehandler/concurrency_test.go
  bin-webchat-manager/pkg/messagehandler/create.go
  bin-webchat-manager/pkg/messagehandler/create_test.go
  bin-webchat-manager/pkg/messagehandler/db.go
  bin-webchat-manager/pkg/messagehandler/main.go
  bin-webchat-manager/pkg/messagehandler/mock_main.go
  bin-webchat-manager/pkg/sessionhandler/create.go
  bin-webchat-manager/pkg/sessionhandler/create_test.go
  bin-webchat-manager/pkg/sessionhandler/db.go
  bin-webchat-manager/pkg/sessionhandler/db_test.go
  bin-webchat-manager/pkg/sessionhandler/main.go
  bin-webchat-manager/pkg/sessionhandler/mock_main.go
  bin-webchat-manager/pkg/widgethandler/create.go
  bin-webchat-manager/pkg/widgethandler/create_test.go
  bin-webchat-manager/pkg/widgethandler/db.go
  bin-webchat-manager/pkg/widgethandler/db_test.go
  bin-webchat-manager/pkg/widgethandler/main.go
  bin-webchat-manager/pkg/widgethandler/mock_main.go
Due: run-bin-common-handler, run-bin-flow-manager

Add webchat_message_created event publishing to bin-webchat-manager
  bin-webchat-manager/cmd/webchat-manager/main.go
  bin-webchat-manager/models/message/event.go
  bin-webchat-manager/models/message/field.go
  bin-webchat-manager/models/message/filters.go
  bin-webchat-manager/models/message/message.go
  bin-webchat-manager/models/message/webhook.go
  bin-webchat-manager/pkg/messagehandler/concurrency_test.go
  bin-webchat-manager/pkg/messagehandler/create.go
  bin-webchat-manager/pkg/messagehandler/create_test.go
  bin-webchat-manager/pkg/messagehandler/main.go
  bin-webchat-manager/scripts/database_scripts_test/messages.sql
Due: none

Wire bin-conversation-manager to bin-webchat-manager (design doc §16)
  bin-common-handler/models/address/main.go
  bin-common-handler/models/address/normalize.go
  bin-common-handler/models/address/validate.go
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-conversation-manager/go.mod
  bin-conversation-manager/internal/convtitle/build.go
  bin-conversation-manager/models/conversation/conversation.go
  bin-conversation-manager/models/message/message.go
  bin-conversation-manager/pkg/conversationhandler/event.go
  bin-conversation-manager/pkg/conversationhandler/event_webchat.go
  bin-conversation-manager/pkg/conversationhandler/event_webchat_test.go
  bin-conversation-manager/pkg/subscribehandler/main.go
  bin-conversation-manager/pkg/subscribehandler/webchatmanager.go
Due: run-bin-common-handler, run-bin-conversation-manager

Add bin-webchat-manager RPC client and webhook models
  bin-common-handler/go.mod
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/send_request.go
  bin-common-handler/pkg/requesthandler/webchat_message.go
  bin-common-handler/pkg/requesthandler/webchat_session.go
  bin-common-handler/pkg/requesthandler/webchat_widget.go
  bin-webchat-manager/models/session/webhook.go
  bin-webchat-manager/models/widget/webhook.go
Due: run-bin-common-handler

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
