Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Fix_service_agent_chat_list_query_logic
  bin-api-manager/pkg/servicehandler/serviceagent_talk_test.go
Due: run-bin-api-manager

Accept HTTP 204 No Content for participant delete operation
  bin-common-handler/pkg/requesthandler/talk_participants.go
  bin-common-handler/pkg/requesthandler/talk_participants_test.go
Due: run-bin-common-handler

Nojira fix service agent chat list query logic (#352)
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_file.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk_test.go
  bin-api-manager/pkg/subscribehandler/talk.go
  bin-api-manager/pkg/subscribehandler/talk_test.go
  bin-api-manager/server/service_agents_talk.go
  bin-common-handler/pkg/requesthandler/talk_participants.go
  bin-common-handler/pkg/requesthandler/talk_participants_test.go
  bin-dbscheme-manager/bin-manager/main/versions/91c93611e3ec_talk_chats_add_column_member_count.py
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_channels.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_chats_id_join.yaml
  bin-talk-manager/models/chat/chat.go
  bin-talk-manager/models/chat/field.go
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/mock_main.go
  bin-talk-manager/pkg/listenhandler/models/request/participants.go
  bin-talk-manager/pkg/listenhandler/v1_chats_participants.go
  bin-talk-manager/pkg/listenhandler/v1_chats_test.go
  bin-talk-manager/pkg/listenhandler/v1_participants_test.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/participanthandler/main.go
  bin-talk-manager/pkg/participanthandler/mock_main.go
  bin-talk-manager/pkg/participanthandler/participant.go
  bin-talk-manager/pkg/participanthandler/participant_test.go
  bin-talk-manager/pkg/reactionhandler/reaction.go
  bin-talk-manager/scripts/database_scripts/table_chats.sql
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

Add WebSocket keep-alive design document
  docs/plans/2026-01-20-websocket-keepalive-design.md
Due: none

NOJIRA-Add_websocket_keepalive_pingpong
  bin-api-manager/pkg/websockhandler/subscription.go
  bin-api-manager/pkg/zmqsubhandler/main.go
  bin-api-manager/pkg/zmqsubhandler/mock_zmqsubhandler.go
  bin-api-manager/pkg/zmqsubhandler/run.go
Due: run-bin-api-manager

NOJIRA-Add_websocket_keepalive_pingpong (#353)
  bin-api-manager/pkg/websockhandler/subscription.go
  bin-api-manager/pkg/zmqsubhandler/main.go
  bin-api-manager/pkg/zmqsubhandler/mock_zmqsubhandler.go
  bin-api-manager/pkg/zmqsubhandler/run.go
  docs/plans/2026-01-20-websocket-keepalive-design.md
Due: run-bin-api-manager

Fixed
  bin-api-manager/docsdev/source/activeflow_overview.rst
  bin-api-manager/docsdev/source/agent_overview.rst
  bin-api-manager/docsdev/source/call_overview.rst
  bin-api-manager/docsdev/source/conference_overview.rst
  bin-api-manager/docsdev/source/flow_overview.rst
  bin-api-manager/docsdev/source/queue_overview.rst
Due: run-bin-api-manager

NOJIRA-Fix_docs (#354)
  bin-api-manager/docsdev/source/activeflow_overview.rst
  bin-api-manager/docsdev/source/agent_overview.rst
  bin-api-manager/docsdev/source/call_overview.rst
  bin-api-manager/docsdev/source/conference_overview.rst
  bin-api-manager/docsdev/source/flow_overview.rst
  bin-api-manager/docsdev/source/queue_overview.rst
Due: run-bin-api-manager

NOJIRA-Fix_documentation_audit_critical_issues
  bin-api-manager/docsdev/source/billing_account.rst
  bin-api-manager/docsdev/source/billing_account_tutorial.rst
  bin-api-manager/docsdev/source/mediastream.rst
  bin-api-manager/docsdev/source/mediastream_tutorial.rst
  bin-api-manager/docsdev/source/transcribe.rst
  bin-api-manager/docsdev/source/transcribe_tutorial.rst
Due: run-bin-api-manager

NOJIRA-Fix_documentation_audit_critical_issues
  bin-api-manager/docsdev/source/architecture.rst
  bin-api-manager/docsdev/source/architecture_backend.rst
  bin-api-manager/docsdev/source/architecture_communication.rst
  bin-api-manager/docsdev/source/architecture_data.rst
  bin-api-manager/docsdev/source/architecture_flow.rst
  bin-api-manager/docsdev/source/architecture_overview.rst
  bin-api-manager/docsdev/source/architecture_rtc.rst
  bin-api-manager/docsdev/source/architecture_tutorial.rst
Due: run-bin-api-manager

NOJIRA-Fix_documentation_audit_critical_issues
  bin-api-manager/docsdev/source/ai.rst
  bin-api-manager/docsdev/source/ai_tutorial.rst
  bin-api-manager/docsdev/source/webhook.rst
  bin-api-manager/docsdev/source/webhook_tutorial.rst
  bin-api-manager/docsdev/source/websocket.rst
  bin-api-manager/docsdev/source/websocket_tutorial.rst
Due: run-bin-api-manager

NOJIRA-Fix_documentation_audit_critical_issues
  bin-api-manager/.gitignore
Due: run-bin-api-manager

NOJIRA-Fix_documentation_audit_critical_issues
  bin-api-manager/docsdev/build/doctrees/activeflow.doctree
  bin-api-manager/docsdev/build/doctrees/activeflow_overview.doctree
  bin-api-manager/docsdev/build/doctrees/agent.doctree
  bin-api-manager/docsdev/build/doctrees/agent_overview.doctree
  bin-api-manager/docsdev/build/doctrees/call.doctree
  bin-api-manager/docsdev/build/doctrees/call_overview.doctree
  bin-api-manager/docsdev/build/doctrees/conference.doctree
  bin-api-manager/docsdev/build/doctrees/conference_overview.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/doctrees/flow.doctree
  bin-api-manager/docsdev/build/doctrees/flow_overview.doctree
  bin-api-manager/docsdev/build/doctrees/queue.doctree
  bin-api-manager/docsdev/build/doctrees/queue_overview.doctree
  bin-api-manager/docsdev/build/html/_sources/activeflow_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/agent_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/call_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/conference_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/flow_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/queue_overview.rst.txt
  bin-api-manager/docsdev/build/html/activeflow.html
  bin-api-manager/docsdev/build/html/activeflow_overview.html
  bin-api-manager/docsdev/build/html/agent.html
  bin-api-manager/docsdev/build/html/agent_overview.html
  bin-api-manager/docsdev/build/html/call.html
  bin-api-manager/docsdev/build/html/call_overview.html
  bin-api-manager/docsdev/build/html/conference.html
  bin-api-manager/docsdev/build/html/conference_overview.html
  bin-api-manager/docsdev/build/html/flow.html
  bin-api-manager/docsdev/build/html/flow_overview.html
  bin-api-manager/docsdev/build/html/index.html
  bin-api-manager/docsdev/build/html/queue.html
  bin-api-manager/docsdev/build/html/queue_overview.html
  bin-api-manager/docsdev/build/html/searchindex.js
Due: run-bin-api-manager

NOJIRA-Convert_Unicode_diagrams_to_ASCII_in_docsdev
  bin-api-manager/docsdev/source/activeflow_overview.rst
  bin-api-manager/docsdev/source/agent_overview.rst
  bin-api-manager/docsdev/source/architecture_backend.rst
  bin-api-manager/docsdev/source/architecture_communication.rst
  bin-api-manager/docsdev/source/architecture_data.rst
  bin-api-manager/docsdev/source/architecture_flow.rst
  bin-api-manager/docsdev/source/architecture_overview.rst
  bin-api-manager/docsdev/source/architecture_rtc.rst
  bin-api-manager/docsdev/source/call_overview.rst
  bin-api-manager/docsdev/source/conference_overview.rst
  bin-api-manager/docsdev/source/flow_overview.rst
  bin-api-manager/docsdev/source/queue_overview.rst
Due: run-bin-api-manager

NOJIRA-Add_audio_debug_logging_for_sample_rate
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: none

NOJIRA-Add_audio_debug_logging_for_sample_rate
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket_test.go
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

Add pipecat-manager binary to gitignore
  bin-pipecat-manager/.gitignore
Due: none

NOJIRA-Add_audio_debug_logging_for_sample_rate
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

NOJIRA-Improve_audio_resampling_quality
  bin-pipecat-manager/docs/plans/2026-01-22-audio-resampling-design.md
Due: none

NOJIRA-Improve_audio_resampling_quality
  bin-pipecat-manager/.gitignore
  bin-pipecat-manager/Dockerfile
  bin-pipecat-manager/docs/plans/2026-01-22-audio-resampling-design.md
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket_test.go
Due: none

NOJIRA-Improve_audio_resampling_quality
  .circleci/config_work.yml
Due: none

NOJIRA-Improve_audio_resampling_quality
  bin-pipecat-manager/Dockerfile
Due: none

NOJIRA-Improve_audio_resampling_quality (#358)
  .circleci/config_work.yml
  bin-pipecat-manager/.gitignore
  bin-pipecat-manager/Dockerfile
  bin-pipecat-manager/docs/plans/2026-01-22-audio-resampling-design.md
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket_test.go
Due: none

NOJIRA-Pipecat_manager_performance_optimization
  bin-pipecat-manager/docs/plans/2026-01-22-performance-optimization.md
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/bufferpool.go
  bin-pipecat-manager/pkg/pipecatcallhandler/bufferpool_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket_test.go
Due: none

NOJIRA-Pipecat_manager_performance_optimization (#359)
  bin-pipecat-manager/docs/plans/2026-01-22-performance-optimization.md
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/bufferpool.go
  bin-pipecat-manager/pkg/pipecatcallhandler/bufferpool_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pythonrunner_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket_test.go
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
