Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-add-tts-billing
  bin-billing-manager/pkg/billinghandler/db.go
  bin-billing-manager/pkg/billinghandler/event_tts.go
  bin-billing-manager/pkg/billinghandler/event_tts_test.go
  bin-billing-manager/pkg/billinghandler/main.go
  bin-billing-manager/pkg/billinghandler/mock_main.go
Due: run-bin-billing-manager

NOJIRA-add-tts-billing
  bin-billing-manager/cmd/billing-manager/main.go
  bin-billing-manager/pkg/subscribehandler/main.go
  bin-billing-manager/pkg/subscribehandler/tts.go
  bin-billing-manager/pkg/subscribehandler/tts_test.go
Due: run-bin-billing-manager

NOJIRA-add-rst-doc-update-rule
  CLAUDE.md
Due: none

NOJIRA-add-pending-plan-docs
  docs/plans/2026-02-20-fix-auth-complete-signup-404-design.md
  docs/plans/2026-02-20-fix-auth-complete-signup-404-plan.md
  docs/plans/2026-02-20-fix-number-manager-critical-issues.md
  docs/plans/2026-02-21-fix-billing-call-cost-type-detection.md
Due: none

NOJIRA-refactor-stt-result-processing
  bin-transcribe-manager/pkg/streaminghandler/result.go
Due: run-bin-transcribe-manager

NOJIRA-refactor-stt-result-processing
  bin-transcribe-manager/pkg/streaminghandler/result_test.go
Due: run-bin-transcribe-manager

NOJIRA-refactor-stt-result-processing
  bin-transcribe-manager/pkg/streaminghandler/gcp.go
Due: run-bin-transcribe-manager

NOJIRA-refactor-stt-result-processing
  bin-transcribe-manager/pkg/streaminghandler/aws.go
Due: run-bin-transcribe-manager

NOJIRA-refactor-stt-result-processing
  bin-transcribe-manager/pkg/streaminghandler/aws_test.go
  bin-transcribe-manager/pkg/streaminghandler/gcp_test.go
Due: run-bin-transcribe-manager

NOJIRA-pipecat-manager-websocket-external-media
  bin-pipecat-manager/cmd/pipecat-control/main.go
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_audiosocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_websocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket_test.go
  docs/plans/2026-02-23-pipecat-manager-websocket-external-media-design.md
  docs/plans/2026-02-23-pipecat-manager-websocket-external-media-plan.md
Due: none

NOJIRA-pipecat-manager-websocket-external-media (#586)
  bin-pipecat-manager/cmd/pipecat-control/main.go
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/models/pipecatcall/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/audiosocket_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_audiosocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/mock_websocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/pipecatframe_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session.go
  bin-pipecat-manager/pkg/pipecatcallhandler/session_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket_test.go
  docs/plans/2026-02-23-pipecat-manager-websocket-external-media-design.md
  docs/plans/2026-02-23-pipecat-manager-websocket-external-media-plan.md
Due: none

NOJIRA-update-pipecat-manager-claude-md
  bin-pipecat-manager/CLAUDE.md
Due: none

NOJIRA-update-pipecat-manager-claude-md (#587)
  bin-pipecat-manager/CLAUDE.md
Due: none

NOJIRA-fix-pipecat-websocket-dual-reader
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

NOJIRA-increase-pipecat-cpu-limit
  bin-pipecat-manager/k8s/deployment.yml
Due: none

NOJIRA-increase-pipecat-cpu-limit (#589)
  bin-pipecat-manager/k8s/deployment.yml
Due: none

NOJIRA-fix-pipecat-websocket-dual-reader (#588)
  bin-pipecat-manager/pkg/pipecatcallhandler/run.go
  bin-pipecat-manager/pkg/pipecatcallhandler/start.go
Due: none

NOJIRA-burstable-qos-all-services
  bin-agent-manager/k8s/deployment.yml
  bin-ai-manager/k8s/deployment.yml
  bin-api-manager/k8s/deployment.yml
  bin-billing-manager/k8s/deployment.yml
  bin-call-manager/k8s/deployment.yml
  bin-campaign-manager/k8s/deployment.yml
  bin-conference-manager/k8s/deployment.yml
  bin-contact-manager/k8s/deployment.yml
  bin-conversation-manager/k8s/deployment.yml
  bin-customer-manager/k8s/deployment.yml
  bin-email-manager/k8s/deployment.yml
  bin-flow-manager/k8s/deployment.yml
  bin-hook-manager/k8s/deployment.yml
  bin-message-manager/k8s/deployment.yml
  bin-number-manager/k8s/deployment.yml
  bin-outdial-manager/k8s/deployment.yml
  bin-pipecat-manager/k8s/deployment.yml
  bin-queue-manager/k8s/deployment.yml
  bin-rag-manager/k8s/deployment.yml
  bin-registrar-manager/k8s/deployment.yml
  bin-route-manager/k8s/deployment.yml
  bin-sentinel-manager/k8s/deployment.yml
  bin-storage-manager/k8s/deployment.yml
  bin-tag-manager/k8s/deployment.yml
  bin-talk-manager/k8s/deployment.yml
  bin-timeline-manager/k8s/deployment.yml
  bin-transcribe-manager/k8s/deployment.yml
  bin-transfer-manager/k8s/deployment.yml
  bin-tts-manager/k8s/deployment.yml
  bin-webhook-manager/k8s/deployment.yml
  docs/plans/2026-02-23-burstable-qos-all-services-design.md
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

NOJIRA-fix-dependency-sync
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-api-manager/vendor/monorepo/bin-billing-manager/models/billing/billing.go
  bin-api-manager/vendor/monorepo/bin-billing-manager/models/billing/cost_type.go
  bin-api-manager/vendor/monorepo/bin-customer-manager/models/customer/customer.go
  bin-api-manager/vendor/monorepo/bin-pipecat-manager/models/pipecatcall/session.go
  bin-api-manager/vendor/monorepo/bin-route-manager/models/route/route.go
  bin-billing-manager/go.mod
  bin-campaign-manager/go.mod
  bin-campaign-manager/go.sum
  bin-conference-manager/go.mod
  bin-conference-manager/go.sum
  bin-contact-manager/go.mod
  bin-contact-manager/go.sum
  bin-conversation-manager/go.mod
  bin-conversation-manager/go.sum
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-hook-manager/go.mod
  bin-hook-manager/go.sum
  bin-message-manager/go.mod
  bin-message-manager/go.sum
  bin-outdial-manager/go.mod
  bin-outdial-manager/go.sum
  bin-queue-manager/go.mod
  bin-queue-manager/go.sum
  bin-registrar-manager/go.mod
  bin-registrar-manager/go.sum
  bin-sentinel-manager/go.mod
  bin-sentinel-manager/go.sum
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-tag-manager/go.mod
  bin-tag-manager/go.sum
  bin-talk-manager/go.mod
  bin-talk-manager/go.sum
  bin-transfer-manager/go.mod
  bin-transfer-manager/go.sum
Due: run-bin-api-manager, run-bin-billing-manager, run-bin-campaign-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transfer-manager

NOJIRA-remove-asterisk-write-delay
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket.go
Due: none

NOJIRA-remove-asterisk-write-delay
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket_test.go
Due: none

NOJIRA-remove-asterisk-write-delay (#593)
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket_test.go
Due: none

NOJIRA-add-transcribe-provider-selection
  bin-transcribe-manager/models/transcribe/field.go
  bin-transcribe-manager/models/transcribe/field_test.go
  bin-transcribe-manager/models/transcribe/transcribe.go
  bin-transcribe-manager/models/transcribe/webhook.go
  bin-transcribe-manager/models/transcribe/webhook_test.go
Due: run-bin-transcribe-manager

NOJIRA-add-transcribe-provider-selection
  bin-transcribe-manager/internal/config/main.go
  bin-transcribe-manager/pkg/streaminghandler/helper.go
  bin-transcribe-manager/pkg/streaminghandler/main.go
  bin-transcribe-manager/pkg/streaminghandler/main_test.go
  bin-transcribe-manager/pkg/streaminghandler/start.go
  bin-transcribe-manager/pkg/streaminghandler/start_test.go
Due: run-bin-transcribe-manager

NOJIRA-add-transcribe-provider-selection
  bin-transcribe-manager/pkg/streaminghandler/mock_main.go
  bin-transcribe-manager/pkg/transcribehandler/main.go
  bin-transcribe-manager/pkg/transcribehandler/mock_main.go
  bin-transcribe-manager/pkg/transcribehandler/recording.go
  bin-transcribe-manager/pkg/transcribehandler/recording_test.go
  bin-transcribe-manager/pkg/transcribehandler/start.go
  bin-transcribe-manager/pkg/transcribehandler/start_test.go
  bin-transcribe-manager/pkg/transcribehandler/transcribe.go
  bin-transcribe-manager/pkg/transcribehandler/transcribe_test.go
Due: run-bin-transcribe-manager

NOJIRA-add-transcribe-provider-selection
  bin-transcribe-manager/pkg/listenhandler/models/request/v1_transcribes.go
  bin-transcribe-manager/pkg/listenhandler/v1_transcribes.go
  bin-transcribe-manager/pkg/listenhandler/v1_transcribes_test.go
Due: run-bin-transcribe-manager

NOJIRA-remove-asterisk-write-fragmentation
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket.go
  bin-pipecat-manager/pkg/pipecatcallhandler/websocket_test.go
Due: none

NOJIRA-add-transcribe-provider-selection
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/transcribe_transcribes.go
  bin-common-handler/pkg/requesthandler/transcribe_transcribes_test.go
Due: run-bin-common-handler

NOJIRA-add-transcribe-provider-selection
  bin-api-manager/gens/openapi_server/gen.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/transcribes/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-add-transcribe-provider-selection
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/transcribe.go
  bin-api-manager/pkg/servicehandler/transcribe_test.go
  bin-api-manager/server/transcribes.go
  bin-api-manager/server/transcribes_test.go
  bin-api-manager/vendor/monorepo/bin-common-handler/pkg/requesthandler/main.go
  bin-api-manager/vendor/monorepo/bin-common-handler/pkg/requesthandler/mock_main.go
  bin-api-manager/vendor/monorepo/bin-common-handler/pkg/requesthandler/transcribe_transcribes.go
  bin-api-manager/vendor/monorepo/bin-transcribe-manager/models/transcribe/field.go
  bin-api-manager/vendor/monorepo/bin-transcribe-manager/models/transcribe/transcribe.go
  bin-api-manager/vendor/monorepo/bin-transcribe-manager/models/transcribe/webhook.go
  bin-api-manager/vendor/monorepo/bin-transcribe-manager/pkg/listenhandler/models/request/v1_transcribes.go
Due: run-bin-api-manager

NOJIRA-add-transcribe-provider-selection
  bin-flow-manager/models/action/option.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle_test.go
Due: run-bin-flow-manager

NOJIRA-add-transcribe-provider-selection
  bin-dbscheme-manager/bin-manager/main/versions/fe1a2b3c4d5e_transcribe_transcribes_add_provider.py
  bin-transcribe-manager/CLAUDE.md
Due: run-bin-transcribe-manager

NOJIRA-add-transcribe-provider-selection
  bin-transcribe-manager/cmd/transcribe-control/main.go
  bin-transcribe-manager/scripts/database_scripts_test/table_transcribes.sql
Due: run-bin-transcribe-manager

NOJIRA-remove-asterisk-write-fragmentation
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/scripts/pipecat/run.py
Due: none

NOJIRA-add-transcribe-provider-selection
  bin-ai-manager/pkg/summaryhandler/service_test.go
  bin-ai-manager/pkg/summaryhandler/start.go
  bin-ai-manager/pkg/summaryhandler/start_test.go
  bin-conference-manager/pkg/conferencehandler/transcribe.go
  bin-conference-manager/pkg/conferencehandler/transcribe_test.go
Due: run-bin-conference-manager

NOJIRA-remove-asterisk-write-fragmentation
  bin-pipecat-manager/CLAUDE.md
  bin-pipecat-manager/pkg/pipecatcallhandler/run_test.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner_test.go
  bin-pipecat-manager/scripts/pipecat/test_run.py
Due: none
