Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-timeline-manager-peer-events
  bin-timeline-manager/docs/plans/2026-07-24-add-peer-events-table-design.md
Due: none

NOJIRA-timeline-manager-peer-events
  bin-common-handler/models/address/derive.go
  bin-common-handler/models/address/derive_test.go
Due: run-bin-common-handler

NOJIRA-timeline-manager-peer-events
  bin-contact-manager/pkg/contacthandler/interaction.go
  bin-contact-manager/pkg/contacthandler/interaction_crm_eligibility_test.go
Due: none

NOJIRA-timeline-manager-peer-events
  bin-timeline-manager/migrations/000005_create_peer_events_table.down.sql
  bin-timeline-manager/migrations/000005_create_peer_events_table.up.sql
  bin-timeline-manager/pkg/dbhandler/main.go
  bin-timeline-manager/pkg/dbhandler/mock_main.go
  bin-timeline-manager/pkg/dbhandler/peer_event.go
  bin-timeline-manager/pkg/dbhandler/peer_event_insert.go
  bin-timeline-manager/pkg/dbhandler/peer_event_insert_test.go
  bin-timeline-manager/pkg/subscribehandler/flushbatch_peer_event_test.go
  bin-timeline-manager/pkg/subscribehandler/main.go
  bin-timeline-manager/pkg/subscribehandler/peer_event.go
  bin-timeline-manager/pkg/subscribehandler/peer_event_test.go
Due: none

NOJIRA-timeline-manager-peer-events
  bin-timeline-manager/pkg/subscribehandler/main.go
  bin-timeline-manager/pkg/subscribehandler/main_test.go
Due: none

NOJIRA-timeline-manager-peer-events (#1135)
  bin-common-handler/models/address/derive.go
  bin-common-handler/models/address/derive_test.go
  bin-contact-manager/pkg/contacthandler/interaction.go
  bin-contact-manager/pkg/contacthandler/interaction_crm_eligibility_test.go
  bin-timeline-manager/docs/plans/2026-07-24-add-peer-events-table-design.md
  bin-timeline-manager/migrations/000005_create_peer_events_table.down.sql
  bin-timeline-manager/migrations/000005_create_peer_events_table.up.sql
  bin-timeline-manager/pkg/dbhandler/main.go
  bin-timeline-manager/pkg/dbhandler/mock_main.go
  bin-timeline-manager/pkg/dbhandler/peer_event.go
  bin-timeline-manager/pkg/dbhandler/peer_event_insert.go
  bin-timeline-manager/pkg/dbhandler/peer_event_insert_test.go
  bin-timeline-manager/pkg/subscribehandler/flushbatch_peer_event_test.go
  bin-timeline-manager/pkg/subscribehandler/main.go
  bin-timeline-manager/pkg/subscribehandler/main_test.go
  bin-timeline-manager/pkg/subscribehandler/peer_event.go
  bin-timeline-manager/pkg/subscribehandler/peer_event_test.go
Due: run-bin-common-handler

Fix Round 1 PR review findings on the peer/local Address redesign
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/contact_peer_event_overview.rst
  bin-timeline-manager/models/peerevent/peerevent.go
  bin-timeline-manager/pkg/dbhandler/main.go
  docs/plans/2026-07-24-peer-events-read-api-design.md
Due: run-bin-api-manager

Fix Round 2 PR review finding: RST notes claimed a nonexistent Interaction struct shape
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/contact_peer_event_overview.rst
  bin-api-manager/docsdev/source/contact_peer_event_struct.rst
  docs/plans/2026-07-24-peer-events-read-api-design.md
Due: run-bin-api-manager

Fix Round 3 PR review MINOR: assert exact commonaddress.Address in peer_events tests
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/server/contact_peer_events_test.go
  docs/plans/2026-07-24-peer-events-read-api-design.md
Due: run-bin-api-manager

docs: Record Round 4 PR review disposition (APPROVE #1 of 2 consecutive)
  docs/plans/2026-07-24-peer-events-read-api-design.md
Due: none

docs: Record Round 5 PR review disposition (APPROVE #2, loop closed)
  docs/plans/2026-07-24-peer-events-read-api-design.md
Due: none

Retire contact_interactions write/get/resolution paths, proxy List via peer_events
  bin-common-handler/pkg/requesthandler/contact_interactions.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-contact-manager/cmd/contact-manager/main.go
  bin-contact-manager/docs/plans/2026-07-25-contact-interaction-retire-to-peer-events-design.md
  bin-contact-manager/go.mod
  bin-contact-manager/pkg/contacthandler/interaction.go
  bin-contact-manager/pkg/contacthandler/interaction_crm_eligibility_test.go
  bin-contact-manager/pkg/contacthandler/interaction_read.go
  bin-contact-manager/pkg/contacthandler/interaction_read_test.go
  bin-contact-manager/pkg/contacthandler/interaction_test.go
  bin-contact-manager/pkg/contacthandler/main.go
  bin-contact-manager/pkg/contacthandler/mock_main.go
  bin-contact-manager/pkg/contacthandler/resolution.go
  bin-contact-manager/pkg/contacthandler/resolution_test.go
  bin-contact-manager/pkg/listenhandler/main.go
  bin-contact-manager/pkg/listenhandler/models/request/v1_interactions.go
  bin-contact-manager/pkg/listenhandler/v1_interactions.go
  bin-contact-manager/pkg/subscribehandler/callmanager.go
  bin-contact-manager/pkg/subscribehandler/conversationmanager.go
  bin-contact-manager/pkg/subscribehandler/main.go
  bin-contact-manager/pkg/subscribehandler/subscribehandler_test.go
Due: run-bin-common-handler

Retire contact_interactions unresolved/get/resolution paths, reuse peer_events response schema for List
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/contact_interactions/id.yaml
  bin-openapi-manager/openapi/paths/contact_interactions/id_resolutions.yaml
  bin-openapi-manager/openapi/paths/contact_interactions/id_resolutions_id.yaml
  bin-openapi-manager/openapi/paths/contact_interactions/main.yaml
  bin-openapi-manager/openapi/paths/contact_interactions/unresolved.yaml
  bin-openapi-manager/openapi/paths/service_agents/contact_interactions.yaml
  bin-openapi-manager/openapi/paths/service_agents/contact_interactions_id.yaml
  bin-openapi-manager/openapi/paths/service_agents/contact_interactions_id_resolutions.yaml
  bin-openapi-manager/openapi/paths/service_agents/contact_interactions_id_resolutions_id.yaml
  bin-openapi-manager/openapi/paths/service_agents/contact_interactions_unresolved.yaml
Due: run-bin-openapi-manager

Update tool_insight.go to consume peer_events response shape
  bin-ai-manager/pkg/aicallhandler/tool_insight.go
  bin-ai-manager/pkg/aicallhandler/tool_insight_test.go
Due: none

Distinguish contact-with-no-addresses error, add RPC-error test coverage
  bin-api-manager/pkg/servicehandler/interaction_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_interaction_test.go
  bin-contact-manager/pkg/contacthandler/interaction_read.go
  bin-contact-manager/pkg/contacthandler/interaction_read_test.go
Due: run-bin-api-manager

Remove dead contact_interactions/contact_resolutions code and tables
  bin-contact-manager/go.mod
  bin-contact-manager/models/interaction/interaction.go
  bin-contact-manager/models/interaction/interaction_test.go
  bin-contact-manager/models/interaction/list_response.go
  bin-contact-manager/models/resolution/resolution.go
  bin-contact-manager/models/resolution/resolution_test.go
  bin-contact-manager/pkg/casehandler/casenote_isolation_test.go
  bin-contact-manager/pkg/dbhandler/address_ownership_read.go
  bin-contact-manager/pkg/dbhandler/address_ownership_read_test.go
  bin-contact-manager/pkg/dbhandler/interaction.go
  bin-contact-manager/pkg/dbhandler/interaction_test.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/resolution.go
  bin-contact-manager/pkg/dbhandler/resolution_test.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
  bin-dbscheme-manager/bin-manager/main/versions/d8b04ef3ddd0_contact_drop_legacy_interaction_.py
Due: none

Remove dropped tables from schema-ownership.md
  bin-dbscheme-manager/docs/schema-ownership.md
Due: none

NOJIRA-Remove-legacy-contact-interaction-code (#1138)
  bin-contact-manager/go.mod
  bin-contact-manager/models/interaction/interaction.go
  bin-contact-manager/models/interaction/interaction_test.go
  bin-contact-manager/models/interaction/list_response.go
  bin-contact-manager/models/resolution/resolution.go
  bin-contact-manager/models/resolution/resolution_test.go
  bin-contact-manager/pkg/casehandler/casenote_isolation_test.go
  bin-contact-manager/pkg/dbhandler/address_ownership_read.go
  bin-contact-manager/pkg/dbhandler/address_ownership_read_test.go
  bin-contact-manager/pkg/dbhandler/interaction.go
  bin-contact-manager/pkg/dbhandler/interaction_test.go
  bin-contact-manager/pkg/dbhandler/main.go
  bin-contact-manager/pkg/dbhandler/mock_main.go
  bin-contact-manager/pkg/dbhandler/resolution.go
  bin-contact-manager/pkg/dbhandler/resolution_test.go
  bin-contact-manager/scripts/database_scripts_test/contacts.sql
  bin-dbscheme-manager/bin-manager/main/versions/d8b04ef3ddd0_contact_drop_legacy_interaction_.py
  bin-dbscheme-manager/docs/schema-ownership.md
Due: none

VOIP-1270-case-peer-address-contact-claim
  DESIGN.md
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
