Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-api-error-pr12-contacts-extensions
  bin-api-manager/server/extensions.go
  bin-api-manager/server/extensions_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr13-service-agents
  docs/plans/2026-04-25-api-error-pr13-service-agents-plan.md
Due: none

NOJIRA-api-error-pr13-service-agents
  bin-api-manager/server/service_agents_contacts.go
  bin-api-manager/server/service_agents_contacts_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr13-service-agents
  bin-api-manager/server/service_agents_agents.go
  bin-api-manager/server/service_agents_agents_test.go
  bin-api-manager/server/service_agents_calls.go
  bin-api-manager/server/service_agents_calls_test.go
  bin-api-manager/server/service_agents_extensions.go
  bin-api-manager/server/service_agents_tags.go
Due: run-bin-api-manager

NOJIRA-api-error-pr13-service-agents
  bin-api-manager/server/service_agents_files.go
  bin-api-manager/server/service_agents_files_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr13-service-agents
  bin-api-manager/server/service_agents_ws.go
Due: run-bin-api-manager

NOJIRA-api-error-pr14-service-agents-talk
  docs/plans/2026-04-26-api-error-pr14-service-agents-talk-plan.md
Due: none

NOJIRA-api-error-pr14-service-agents-talk
  bin-api-manager/server/service_agents_talk.go
  bin-api-manager/server/service_agents_talk_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr15-finals
  docs/plans/2026-04-26-api-error-pr15-finals-plan.md
Due: none

NOJIRA-api-error-pr15-finals
  bin-api-manager/server/storage_files.go
  bin-api-manager/server/storage_files_test.go
Due: run-bin-api-manager

NOJIRA-api-error-pr15-finals
  bin-api-manager/server/ws.go
Due: run-bin-api-manager

NOJIRA-api-error-pr15-finals
  bin-api-manager/server/calls.go
  bin-api-manager/server/conferences.go
Due: run-bin-api-manager

NOJIRA-api-error-pr15-finals
  bin-api-manager/server/aggregated_events.go
  bin-api-manager/server/aggregated_events_test.go
  bin-api-manager/server/error_translate.go
  bin-api-manager/server/timelines.go
  bin-api-manager/server/timelines_sip.go
  bin-api-manager/server/timelines_test.go
Due: run-bin-api-manager

NOJIRA-typed-errors-pr2bc
  bin-api-manager/pkg/serviceerrors/sentinels.go
  bin-api-manager/pkg/servicehandler/accesskeys.go
  bin-api-manager/pkg/servicehandler/activeflows.go
  bin-api-manager/pkg/servicehandler/aggregated_events.go
  bin-api-manager/pkg/servicehandler/aggregated_events_test.go
  bin-api-manager/pkg/servicehandler/billingaccount.go
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/call.go
  bin-api-manager/pkg/servicehandler/email.go
  bin-api-manager/pkg/servicehandler/flow.go
  bin-api-manager/pkg/servicehandler/message.go
  bin-api-manager/pkg/servicehandler/numbers.go
  bin-api-manager/pkg/servicehandler/recording.go
  bin-api-manager/pkg/servicehandler/storage_accounts.go
  bin-api-manager/pkg/servicehandler/storage_file.go
  bin-api-manager/pkg/servicehandler/timeline_sip.go
  bin-api-manager/server/error_translate.go
  docs/plans/2026-04-26-typed-errors-pr2bc-plan.md
Due: run-bin-api-manager

NOJIRA-typed-errors-pr2bc (#820)
  bin-api-manager/pkg/serviceerrors/sentinels.go
  bin-api-manager/pkg/servicehandler/accesskeys.go
  bin-api-manager/pkg/servicehandler/activeflows.go
  bin-api-manager/pkg/servicehandler/aggregated_events.go
  bin-api-manager/pkg/servicehandler/aggregated_events_test.go
  bin-api-manager/pkg/servicehandler/billingaccount.go
  bin-api-manager/pkg/servicehandler/boot.go
  bin-api-manager/pkg/servicehandler/call.go
  bin-api-manager/pkg/servicehandler/email.go
  bin-api-manager/pkg/servicehandler/flow.go
  bin-api-manager/pkg/servicehandler/message.go
  bin-api-manager/pkg/servicehandler/numbers.go
  bin-api-manager/pkg/servicehandler/recording.go
  bin-api-manager/pkg/servicehandler/storage_accounts.go
  bin-api-manager/pkg/servicehandler/storage_file.go
  bin-api-manager/pkg/servicehandler/timeline_sip.go
  bin-api-manager/server/error_translate.go
  docs/plans/2026-04-26-typed-errors-pr2bc-plan.md
Due: run-bin-api-manager

NOJIRA-typed-rpc-pr0-wire-unwrap
  bin-api-manager/pkg/servicehandler/provider.go
  bin-api-manager/server/providers.go
  bin-call-manager/pkg/channelhandler/hangup.go
  bin-common-handler/pkg/requesthandler/common.go
  bin-common-handler/pkg/requesthandler/common_test.go
  docs/plans/2026-04-26-typed-rpc-design.md
Due: run-bin-api-manager, run-bin-call-manager, run-bin-common-handler

NOJIRA-typed-rpc-pr0-wire-unwrap (#821)
  bin-api-manager/pkg/servicehandler/provider.go
  bin-api-manager/server/providers.go
  bin-call-manager/pkg/channelhandler/hangup.go
  bin-common-handler/pkg/requesthandler/common.go
  bin-common-handler/pkg/requesthandler/common_test.go
  docs/plans/2026-04-26-typed-rpc-design.md
Due: run-bin-api-manager, run-bin-call-manager, run-bin-common-handler

NOJIRA-typed-rpc-pr1-billing-pilot
  bin-billing-manager/pkg/accounthandler/account.go
  bin-billing-manager/pkg/accounthandler/balance.go
  bin-billing-manager/pkg/accounthandler/db.go
  bin-billing-manager/pkg/accounthandler/paddle.go
  bin-billing-manager/pkg/accounthandler/resource_limit.go
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-billing-manager/pkg/billinghandler/db.go
  bin-billing-manager/pkg/listenhandler/error_response_test.go
  bin-billing-manager/pkg/listenhandler/main.go
  bin-billing-manager/pkg/listenhandler/v1_accounts.go
  bin-billing-manager/pkg/listenhandler/v1_billing.go
  bin-billing-manager/pkg/listenhandler/v1_billings.go
  docs/plans/2026-04-26-typed-rpc-design.md
Due: run-bin-billing-manager

NOJIRA-typed-rpc-pr1-billing-pilot (#822)
  bin-billing-manager/pkg/accounthandler/account.go
  bin-billing-manager/pkg/accounthandler/balance.go
  bin-billing-manager/pkg/accounthandler/db.go
  bin-billing-manager/pkg/accounthandler/paddle.go
  bin-billing-manager/pkg/accounthandler/resource_limit.go
  bin-billing-manager/pkg/billinghandler/billing.go
  bin-billing-manager/pkg/billinghandler/db.go
  bin-billing-manager/pkg/listenhandler/error_response_test.go
  bin-billing-manager/pkg/listenhandler/main.go
  bin-billing-manager/pkg/listenhandler/v1_accounts.go
  bin-billing-manager/pkg/listenhandler/v1_billing.go
  bin-billing-manager/pkg/listenhandler/v1_billings.go
  docs/plans/2026-04-26-typed-rpc-design.md
Due: run-bin-billing-manager

NOJIRA-typed-rpc-pr2-call
  bin-call-manager/pkg/callhandler/db.go
  bin-call-manager/pkg/channelhandler/db.go
  bin-call-manager/pkg/confbridgehandler/db.go
  bin-call-manager/pkg/externalmediahandler/db.go
  bin-call-manager/pkg/groupcallhandler/db.go
  bin-call-manager/pkg/listenhandler/error_response_test.go
  bin-call-manager/pkg/listenhandler/main.go
  bin-call-manager/pkg/listenhandler/main_test.go
  bin-call-manager/pkg/listenhandler/v1_calls.go
  bin-call-manager/pkg/listenhandler/v1_channels.go
  bin-call-manager/pkg/listenhandler/v1_external_medias.go
  bin-call-manager/pkg/listenhandler/v1_recordings.go
  bin-call-manager/pkg/recordinghandler/db.go
Due: run-bin-call-manager

NOJIRA-pipecat-pod-ping-design
  docs/plans/2026-04-26-pipecat-pod-ping-design.md
Due: none

NOJIRA-pipecat-pod-ping-design: add implementation plan
  docs/plans/2026-04-26-pipecat-pod-ping-plan.md
Due: none

NOJIRA-typed-rpc-pr3-flow
  bin-flow-manager/pkg/activeflowhandler/db.go
  bin-flow-manager/pkg/flowhandler/db.go
  bin-flow-manager/pkg/listenhandler/error_response_test.go
  bin-flow-manager/pkg/listenhandler/main.go
Due: run-bin-flow-manager

NOJIRA-typed-rpc-pr4-conference
  bin-conference-manager/pkg/conferencecallhandler/db.go
  bin-conference-manager/pkg/conferencehandler/conference.go
  bin-conference-manager/pkg/listenhandler/error_response_test.go
  bin-conference-manager/pkg/listenhandler/main.go
Due: run-bin-conference-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
