Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

Fixed
  bin-ai-manager/pkg/messagehandler/streaming_send.go
Due: none

NOJIRA-Fix_wrong_message_role (#231)
  bin-ai-manager/pkg/messagehandler/streaming_send.go
Due: none

Fixed
  bin-tts-manager/pkg/streaminghandler/say_test.go
Due: run-bin-tts-manager

Fixed
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send_test.go
Due: none

NOJIRA-Fix_wrong_message_end_handle (#233)
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/messagehandler/streaming_send_test.go
Due: none

Fixed
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/tts_streamings.go
  bin-common-handler/pkg/requesthandler/tts_streamings_test.go
  bin-hook-manager/go.mod
  bin-hook-manager/go.sum
  bin-tts-manager/models/streaming/streaming.go
  bin-tts-manager/pkg/listenhandler/models/request/streamings.go
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/listenhandler/v1_streamings_test.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs_test.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/mock_main.go
  bin-tts-manager/pkg/streaminghandler/run.go
  bin-tts-manager/pkg/streaminghandler/say.go
  bin-tts-manager/pkg/streaminghandler/start.go
  bin-tts-manager/pkg/streaminghandler/start_test.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
  bin-tts-manager/pkg/streaminghandler/streaming_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-hook-manager, run-bin-tts-manager

Fixed
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs_test.go
Due: run-bin-tts-manager

VOIP-1092-Add_custom_elevenlabs_voice_id_support (#234)
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/tts_streamings.go
  bin-common-handler/pkg/requesthandler/tts_streamings_test.go
  bin-hook-manager/go.mod
  bin-hook-manager/go.sum
  bin-tts-manager/models/streaming/streaming.go
  bin-tts-manager/pkg/listenhandler/models/request/streamings.go
  bin-tts-manager/pkg/listenhandler/v1_streamings.go
  bin-tts-manager/pkg/listenhandler/v1_streamings_test.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs_test.go
  bin-tts-manager/pkg/streaminghandler/main.go
  bin-tts-manager/pkg/streaminghandler/mock_main.go
  bin-tts-manager/pkg/streaminghandler/run.go
  bin-tts-manager/pkg/streaminghandler/say.go
  bin-tts-manager/pkg/streaminghandler/start.go
  bin-tts-manager/pkg/streaminghandler/start_test.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
  bin-tts-manager/pkg/streaminghandler/streaming_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-hook-manager, run-bin-tts-manager

Fixed
  bin-api-manager/go.mod
  bin-api-manager/go.sum
Due: run-bin-api-manager

Fixed
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/pkg/channelhandler/arievent.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/models/channel/main.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/channelhandler/arievent.go
  bin-call-manager/pkg/channelhandler/arievent_test.go
  bin-call-manager/pkg/externalmediahandler/start.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/pkg/bridgehandler/playback.go
Due: run-bin-call-manager

VOIP-1083-Add_channel_type_snoop (#236)
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/models/channel/main.go
  bin-call-manager/pkg/bridgehandler/playback.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/channelhandler/arievent.go
  bin-call-manager/pkg/channelhandler/arievent_test.go
  bin-call-manager/pkg/externalmediahandler/start.go
Due: run-bin-call-manager

WIP
  bin-tts-manager/cmd/tts-manager/main.go
  bin-tts-manager/k8s/deployment.yml
  bin-tts-manager/pkg/ttshandler/tts_test.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/k8s/deployment.yml
Due: run-bin-tts-manager

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-tts-manager

WIP
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  bin-tts-manager/pkg/streaminghandler/run.go
  bin-tts-manager/pkg/streaminghandler/say.go
Due: run-bin-tts-manager

WIP
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
Due: none

WIP
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
Due: run-bin-tts-manager

Fixed
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-tts-manager/pkg/streaminghandler/streaming.go
Due: run-bin-tts-manager

VOIP-1096-Fix_missing_welcome_message (#239)
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/pkg/messagehandler/streaming_send.go
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  bin-tts-manager/pkg/streaminghandler/audiosocket.go
  bin-tts-manager/pkg/streaminghandler/elevenlabs.go
  bin-tts-manager/pkg/streaminghandler/run.go
  bin-tts-manager/pkg/streaminghandler/say.go
Due: run-bin-tts-manager

Fixed
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/pkg/channelhandler/hangup.go
Due: run-bin-call-manager

Fixed
  bin-call-manager/pkg/channelhandler/hangup.go
  bin-call-manager/pkg/externalmediahandler/db.go
  bin-call-manager/pkg/externalmediahandler/stop.go
Due: run-bin-call-manager

VOIP-1097-Fix_channel_not_found_error_handle (#240)
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/pkg/channelhandler/hangup.go
  bin-call-manager/pkg/externalmediahandler/db.go
  bin-call-manager/pkg/externalmediahandler/stop.go
Due: run-bin-call-manager

WIP
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/server/mcp.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/mcp/main.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

WIP
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
  bin-ai-manager/pkg/engine_openai_handler/tool.go
Due: none

WIP
  bin-ai-manager/pkg/engine_openai_handler/tool.go
Due: none

WIP
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
Due: none

WIP
  bin-ai-manager/pkg/engine_openai_handler/main.go
  bin-ai-manager/pkg/engine_openai_handler/streaming_send.go
Due: none
