Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Conversation-agent-assignment-design
  docs/plans/2026-04-30-assignable-conversation-design.md
Due: none

NOJIRA-Conversation-agent-assignment-design review fixes (iter 1)
  docs/plans/2026-04-30-assignable-conversation-design.md
Due: none

NOJIRA-Conversation-agent-assignment-design polish (iter 2)
  docs/plans/2026-04-30-assignable-conversation-design.md
Due: none

NOJIRA-Conversation-agent-assignment-design (#873)
  docs/plans/2026-04-30-assignable-conversation-design.md
Due: none

NOJIRA-Conversation-agent-assignment-plan
  docs/plans/2026-04-30-assignable-conversation-plan.md
Due: none

NOJIRA-Conversation-agent-assignment-plan review fixes (iter 1)
  docs/plans/2026-04-30-assignable-conversation-plan.md
Due: none

NOJIRA-Conversation-agent-assignment-plan review fixes (iter 2)
  docs/plans/2026-04-30-assignable-conversation-plan.md
Due: none

NOJIRA-Conversation-agent-assignment-plan review fixes (iter 3)
  docs/plans/2026-04-30-assignable-conversation-plan.md
Due: none

NOJIRA-Conversation-agent-assignment-plan (#874)
  docs/plans/2026-04-30-assignable-conversation-plan.md
Due: none

NOJIRA-Conversation-agent-assignment executeActiveflow refactor
  bin-conversation-manager/pkg/conversationhandler/hook.go
  bin-conversation-manager/pkg/conversationhandler/hook_test.go
  bin-conversation-manager/pkg/conversationhandler/message.go
  bin-conversation-manager/pkg/conversationhandler/message_test.go
Due: run-bin-conversation-manager

NOJIRA-Conversation-agent-assignment add ExecuteMode and getExecuteMode
  bin-conversation-manager/pkg/conversationhandler/execute_mode.go
  bin-conversation-manager/pkg/conversationhandler/execute_mode_test.go
  bin-conversation-manager/pkg/conversationhandler/main.go
Due: run-bin-conversation-manager

NOJIRA-Conversation-agent-assignment add runExecuteModeAgent
  bin-conversation-manager/pkg/conversationhandler/execute_mode.go
  bin-conversation-manager/pkg/conversationhandler/execute_mode_test.go
Due: run-bin-conversation-manager

NOJIRA-Conversation-agent-assignment add flow-mode dispatchers
  bin-conversation-manager/pkg/conversationhandler/execute_mode.go
  bin-conversation-manager/pkg/conversationhandler/execute_mode_test.go
Due: run-bin-conversation-manager

NOJIRA-Conversation-agent-assignment wire dispatch into hookLine
  bin-conversation-manager/pkg/conversationhandler/hook.go
  bin-conversation-manager/pkg/conversationhandler/hook_test.go
Due: run-bin-conversation-manager

NOJIRA-Conversation-agent-assignment wire dispatch into MessageEventReceived
  bin-conversation-manager/pkg/conversationhandler/message.go
  bin-conversation-manager/pkg/conversationhandler/message_test.go
Due: run-bin-conversation-manager

NOJIRA-Conversation-agent-assignment owner_type derivation in Update
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/conversationhandler/db_test.go
Due: run-bin-conversation-manager

NOJIRA-Conversation-agent-assignment agent validation on assignment
  bin-conversation-manager/go.mod
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/conversationhandler/db_test.go
Due: run-bin-conversation-manager

NOJIRA-Conversation-agent-assignment field-level permission gate
  bin-api-manager/pkg/servicehandler/conversation.go
  bin-api-manager/pkg/servicehandler/conversation_test.go
Due: run-bin-api-manager

NOJIRA-Conversation-agent-assignment empty-string round-trip test
  bin-api-manager/server/conversations_test.go
Due: run-bin-api-manager

NOJIRA-Conversation-unassign-design
  docs/plans/2026-04-30-conversation-unassign-design.md
Due: none

NOJIRA-Conversation-unassign-design
  docs/plans/2026-04-30-conversation-unassign-plan.md
Due: none

NOJIRA-Conversation-unassign-design
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/conversations/id_unassign.yaml
  bin-openapi-manager/openapi/paths/service_agents/conversations_id.yaml
  bin-openapi-manager/openapi/paths/service_agents/conversations_id_unassign.yaml
Due: run-bin-openapi-manager

NOJIRA-Conversation-unassign-design
  bin-openapi-manager/openapi/paths/service_agents/conversations_id.yaml
Due: run-bin-openapi-manager

NOJIRA-Conversation-unassign-design
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
Due: run-bin-api-manager

NOJIRA-Conversation-unassign-design
  bin-api-manager/pkg/servicehandler/conversation.go
  bin-api-manager/pkg/servicehandler/conversation_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversation.go
  bin-api-manager/server/conversations.go
  bin-api-manager/server/service_agents_conversations.go
Due: run-bin-api-manager

NOJIRA-Conversation-unassign-design
  bin-api-manager/pkg/servicehandler/conversation.go
  bin-api-manager/pkg/servicehandler/conversation_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversation.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversation_test.go
  bin-api-manager/server/service_agents_conversations.go
Due: run-bin-api-manager

NOJIRA-ServiceAgent-conversation-permission
  bin-api-manager/pkg/servicehandler/serviceagent_conversation.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversation_test.go
  docs/plans/2026-05-01-serviceagent-conversation-permission-design.md
  docs/plans/2026-05-01-serviceagent-conversation-permission-plan.md
Due: run-bin-api-manager

NOJIRA-ServiceAgent-conversation-permission
  bin-api-manager/pkg/servicehandler/serviceagent_conversation_test.go
Due: run-bin-api-manager

NOJIRA-ServiceAgent-conversation-permission
  bin-api-manager/pkg/servicehandler/serviceagent_conversation_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversationmessage.go
Due: run-bin-api-manager

NOJIRA-ServiceAgent-conversation-permission (#877)
  bin-api-manager/pkg/servicehandler/serviceagent_conversation.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversation_test.go
  bin-api-manager/pkg/servicehandler/serviceagent_conversationmessage.go
  docs/plans/2026-05-01-serviceagent-conversation-permission-design.md
  docs/plans/2026-05-01-serviceagent-conversation-permission-plan.md
Due: run-bin-api-manager

NOJIRA-Conversation-title-improvement
  docs/plans/2026-05-02-conversation-title-design.md
Due: none

NOJIRA-Conversation-title-improvement
  docs/plans/2026-05-02-conversation-title-plan.md
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
