Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Insight-AI-realtime-listen
  bin-common-handler/pkg/databasehandler/main.go
  bin-common-handler/pkg/databasehandler/main_test.go
Due: run-bin-common-handler

NOJIRA-Insight-AI-realtime-listen
  bin-common-handler/pkg/requesthandler/ai_aicalls.go
  bin-common-handler/pkg/requesthandler/ai_aicalls_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/listenhandler/models/request/aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-common-handler/pkg/requesthandler/ai_aicalls.go
  bin-common-handler/pkg/requesthandler/ai_aicalls_test.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-pipecat-manager/pkg/pipecatcallhandler/runner.go
Due: run-bin-common-handler

NOJIRA-Insight-AI-realtime-listen
  bin-dbscheme-manager/bin-manager/main/versions/42cf2ffc4273_ai_messages_add_column_origin.py
  bin-dbscheme-manager/bin-manager/main/versions/6e848e2cf613_ai_aicalls_add_column_listen_call_id.py
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/models/aicall/field.go
  bin-ai-manager/models/aicall/field_test.go
  bin-ai-manager/models/aicall/filters.go
  bin-ai-manager/models/aicall/filters_test.go
  bin-ai-manager/models/aicall/main.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/scripts/database_scripts_test/table_ai_aicalls.sql
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/messagehandler/db.go
  bin-ai-manager/pkg/messagehandler/db_test.go
  bin-ai-manager/pkg/messagehandler/main.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/internal/config/main.go
  bin-ai-manager/internal/config/main_test.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/cachehandler/listen.go
  bin-ai-manager/pkg/cachehandler/listen_test.go
  bin-ai-manager/pkg/cachehandler/main.go
  bin-ai-manager/pkg/cachehandler/mock_main.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/cmd/ai-control/main.go
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/main_test.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/dbhandler/aicall.go
  bin-ai-manager/pkg/dbhandler/aicall_test.go
  bin-ai-manager/pkg/dbhandler/main.go
  bin-ai-manager/pkg/dbhandler/mock_main.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/aicallhandler/db.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/aicallhandler/send_test.go
  bin-ai-manager/pkg/aicallhandler/service_test.go
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/start_test.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/models/ai/allowed_tools_test.go
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/models/tool/main.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  docs/plans/2026-07-30-case-insight-assistant-tool-expansion-design.md
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/aicallhandler/metrics_listen.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_test.go
  bin-ai-manager/pkg/messagehandler/main.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/aicallhandler/metrics_listen.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_insight.go
  bin-ai-manager/pkg/aicallhandler/tool_insight_test.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/messagehandler/event.go
  bin-ai-manager/pkg/messagehandler/event_test.go
  bin-ai-manager/pkg/messagehandler/main.go
  bin-ai-manager/pkg/messagehandler/metrics_foreign.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/docs/architecture.md
  bin-ai-manager/pkg/aicallhandler/listen.go
  bin-ai-manager/pkg/aicallhandler/listen_test.go
  bin-ai-manager/pkg/aicallhandler/listen_trigger.go
  bin-ai-manager/pkg/aicallhandler/listen_trigger_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/metrics_listen.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
  bin-ai-manager/pkg/listenhandler/main.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/aicallhandler/listen.go
  bin-ai-manager/pkg/aicallhandler/listen_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/aicallhandler/listen.go
  bin-ai-manager/pkg/aicallhandler/listen_test.go
  bin-ai-manager/pkg/aicallhandler/main.go
  bin-ai-manager/pkg/aicallhandler/metrics_listen.go
  bin-ai-manager/pkg/aicallhandler/mock_main.go
Due: none

NOJIRA-Redeploy-pipecat-manager-tool-whitelist
  bin-pipecat-manager/README.md
  bin-pipecat-manager/docs/dependencies.md
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/subscribehandler/binding_golden_test.go
  bin-ai-manager/pkg/subscribehandler/main.go
  bin-ai-manager/pkg/subscribehandler/transcribemanager.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/listen.go
  bin-ai-manager/pkg/aicallhandler/listen_test.go
  bin-ai-manager/pkg/aicallhandler/metrics_listen.go
  bin-ai-manager/pkg/aicallhandler/process.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/pkg/aicallhandler/metrics_listen_test.go
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_aicall.go
  bin-api-manager/pkg/servicehandler/serviceagent_aicall_test.go
  bin-api-manager/server/service_agents_aicalls.go
  bin-common-handler/pkg/requesthandler/ai_aicalls.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/ais/id.yaml
  bin-openapi-manager/openapi/paths/ais/main.yaml
  bin-openapi-manager/openapi/paths/service_agents/aicalls_id_listen.yaml
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-Insight-AI-realtime-listen
  bin-api-manager/docsdev/build/doctrees/ai_overview.doctree
  bin-api-manager/docsdev/build/doctrees/ai_struct_tool.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/_sources/ai_overview.rst.txt
  bin-api-manager/docsdev/build/html/_sources/ai_struct_tool.rst.txt
  bin-api-manager/docsdev/build/html/ai.html
  bin-api-manager/docsdev/build/html/ai_overview.html
  bin-api-manager/docsdev/build/html/ai_struct_tool.html
  bin-api-manager/docsdev/build/html/objects.inv
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/ai_overview.rst
  bin-api-manager/docsdev/source/ai_struct_tool.rst
Due: run-bin-api-manager

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/docs/architecture.md
  bin-ai-manager/docs/domain.md
  bin-ai-manager/docs/operations.md
  docs/.docs-gen/bin-ai-manager.extracted.json
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/docs/operations.md
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/internal/config/main.go
  bin-ai-manager/internal/config/main_test.go
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/listen.go
  bin-ai-manager/pkg/aicallhandler/listen_test.go
  bin-ai-manager/pkg/aicallhandler/listen_trigger.go
  bin-ai-manager/pkg/aicallhandler/listen_trigger_test.go
  bin-ai-manager/pkg/aicallhandler/tool_insight.go
  bin-ai-manager/pkg/aicallhandler/tool_insight_test.go
  bin-ai-manager/pkg/cachehandler/listen.go
  bin-ai-manager/pkg/cachehandler/listen_test.go
  bin-common-handler/pkg/databasehandler/main.go
Due: run-bin-common-handler

VOIP-1460-Fix-orphaned-tool-messages-insight-multiturn
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_unknown_test.go
  bin-pipecat-manager/scripts/pipecat/message_filters.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/team_flow.py
  bin-pipecat-manager/scripts/pipecat/test_init_pipeline.py
  bin-pipecat-manager/scripts/pipecat/test_message_filters.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
  bin-pipecat-manager/scripts/pipecat/test_team_flow.py
  docs/plans/2026-09-04-fix-orphaned-tool-messages-design.md
Due: none

Address round-1 code review nits in message_filters.py
  bin-pipecat-manager/scripts/pipecat/message_filters.py
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-ai-manager/cmd/ai-control/main.go
  bin-ai-manager/docs/operations.md
  bin-ai-manager/internal/config/main.go
  bin-ai-manager/internal/config/main_test.go
  bin-ai-manager/pkg/aicallhandler/event.go
  bin-ai-manager/pkg/aicallhandler/event_test.go
  bin-ai-manager/pkg/aicallhandler/listen_trigger.go
  bin-ai-manager/pkg/aicallhandler/listen_trigger_test.go
  bin-ai-manager/pkg/cachehandler/listen.go
  bin-ai-manager/pkg/cachehandler/listen_test.go
Due: none

VOIP-1460-Fix-orphaned-tool-messages-insight-multiturn (#1267)
  bin-ai-manager/pkg/aicallhandler/start.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_unknown_test.go
  bin-pipecat-manager/scripts/pipecat/message_filters.py
  bin-pipecat-manager/scripts/pipecat/run.py
  bin-pipecat-manager/scripts/pipecat/team_flow.py
  bin-pipecat-manager/scripts/pipecat/test_init_pipeline.py
  bin-pipecat-manager/scripts/pipecat/test_message_filters.py
  bin-pipecat-manager/scripts/pipecat/test_run.py
  bin-pipecat-manager/scripts/pipecat/test_team_flow.py
  docs/plans/2026-09-04-fix-orphaned-tool-messages-design.md
Due: none

Add Insight AI conversation listen design (VOIP-1470)
  docs/plans/2026-09-05-insight-ai-conversation-listen-design.md
Due: none

VOIP-1470-Insight-AI-conversation-listen
  docs/superpowers/plans/2026-09-05-insight-ai-conversation-listen.md
Due: none

VOIP-1470-Insight-AI-conversation-listen
  bin-contact-manager/models/kase/kase.go
  bin-contact-manager/models/kase/kase_test.go
  bin-flow-manager/pkg/activeflowhandler/actionhandle.go
Due: run-bin-flow-manager

VOIP-1470-Insight-AI-conversation-listen
  bin-ai-manager/docs/operations.md
  bin-ai-manager/internal/config/main.go
  bin-ai-manager/internal/config/main_test.go
Due: none
