Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-Headless-signup-auto-provisioning
  bin-customer-manager/pkg/customerhandler/complete_signup_test.go
  bin-customer-manager/pkg/customerhandler/signup.go
Due: run-bin-customer-manager

NOJIRA-Billing-token-add-subtract
  bin-billing-manager/pkg/dbhandler/account_test.go
Due: run-bin-billing-manager

NOJIRA-Billing-token-add-subtract
  bin-billing-manager/pkg/accounthandler/db_test.go
Due: run-bin-billing-manager

NOJIRA-Headless-signup-auto-provisioning
  bin-customer-manager/pkg/customerhandler/complete_signup_test.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
Due: run-bin-customer-manager

NOJIRA-Headless-signup-auto-provisioning
  bin-api-manager/server/auth_complete_signup.go
  bin-customer-manager/pkg/customerhandler/complete_signup_test.go
  bin-customer-manager/pkg/customerhandler/db.go
  bin-customer-manager/pkg/customerhandler/signup.go
Due: run-bin-api-manager, run-bin-customer-manager

NOJIRA-Billing-token-add-subtract
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Headless-signup-auto-provisioning
  bin-api-manager/server/auth_signup.go
  bin-api-manager/server/auth_signup_test.go
  bin-common-handler/pkg/requesthandler/customer_customer.go
  bin-customer-manager/pkg/cachehandler/handler.go
  bin-customer-manager/pkg/cachehandler/main.go
  bin-customer-manager/pkg/cachehandler/mock_main.go
  bin-customer-manager/pkg/customerhandler/complete_signup_test.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_complete_signup.go
  bin-customer-manager/pkg/listenhandler/v1_customers_complete_signup_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-customer-manager

NOJIRA-Remove-old-allowance-design-docs
  docs/plans/2026-02-14-monthly-token-allowance-design.md
  docs/plans/2026-02-15-add-allowance-billing-control-design.md
  docs/plans/2026-02-15-add-allowance-billing-control-plan.md
  docs/plans/2026-02-15-fix-allowance-sentinel-and-current-endpoint-design.md
  docs/plans/2026-02-15-fix-allowance-sentinel-and-current-endpoint-plan.md
Due: none

NOJIRA-Clean-remaining-allowance-references
  bin-billing-manager/CLAUDE.md
  docs/plans/2026-02-15-billing-ledger-refactoring-design.md
  docs/plans/2026-02-15-billing-ledger-refactoring-plan.md
  docs/plans/2026-02-16-billing-token-add-subtract-design.md
Due: run-bin-billing-manager

NOJIRA-Headless-signup-auto-provisioning
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/server/auth_complete_signup.go
  bin-api-manager/server/auth_complete_signup_test.go
  bin-common-handler/pkg/requesthandler/customer_customer.go
  bin-customer-manager/pkg/customerhandler/complete_signup_test.go
  bin-customer-manager/pkg/customerhandler/main.go
  bin-customer-manager/pkg/customerhandler/signup.go
  bin-customer-manager/pkg/customerhandler/signup_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_complete_signup.go
  bin-customer-manager/pkg/listenhandler/v1_customers_complete_signup_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-customer-manager

NOJIRA-Publish-VAD-webhook-events
  bin-transcribe-manager/models/streaming/event.go
  bin-transcribe-manager/models/streaming/webhook.go
  bin-transcribe-manager/models/streaming/webhook_test.go
Due: run-bin-transcribe-manager

NOJIRA-Publish-VAD-webhook-events
  bin-transcribe-manager/pkg/streaminghandler/gcp.go
Due: run-bin-transcribe-manager

NOJIRA-Publish-VAD-webhook-events
  bin-transcribe-manager/pkg/streaminghandler/aws.go
Due: run-bin-transcribe-manager

NOJIRA-Publish-VAD-webhook-events
  docs/plans/2026-02-16-vad-webhook-events-design.md
  docs/plans/2026-02-16-vad-webhook-events-plan.md
Due: none

NOJIRA-Publish-VAD-webhook-events
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/pkg/streaminghandler/gcp_test.go
Due: run-bin-transcribe-manager

NOJIRA-Publish-VAD-webhook-events
  bin-transcribe-manager/pkg/streaminghandler/aws.go
  bin-transcribe-manager/pkg/streaminghandler/aws_test.go
Due: run-bin-transcribe-manager

NOJIRA-Publish-VAD-webhook-events
  bin-transcribe-manager/pkg/streaminghandler/aws.go
  bin-transcribe-manager/pkg/streaminghandler/gcp.go
Due: run-bin-transcribe-manager

NOJIRA-Update-webhook-manager-readme
  bin-webhook-manager/README.md
Due: run-bin-webhook-manager

NOJIRA-Customer-account-deletion-design
  docs/plans/2026-02-16-customer-account-deletion-design.md
Due: none

NOJIRA-Customer-account-deletion-design
  docs/plans/2026-02-16-customer-account-deletion-plan.md
Due: none

NOJIRA-Customer-account-deletion-design
  docs/plans/2026-02-16-customer-account-deletion-design.md
  docs/plans/2026-02-16-customer-account-deletion-plan.md
Due: none

NOJIRA-Customer-account-deletion-design
  bin-dbscheme-manager/bin-manager/main/versions/27b482dafc0c_billing_accounts_add_column_status.py
  bin-dbscheme-manager/bin-manager/main/versions/dafeedbccfa5_customer_customers_add_column_status_tm_.py
Due: none

NOJIRA-Customer-account-deletion-design
  bin-customer-manager/models/customer/customer.go
  bin-customer-manager/models/customer/event.go
  bin-customer-manager/models/customer/field.go
  bin-customer-manager/models/customer/webhook.go
  bin-customer-manager/pkg/listenhandler/v1_customers_signup_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_test.go
  bin-customer-manager/scripts/database_scripts_test/customer_customers.sql
Due: run-bin-customer-manager

NOJIRA-Customer-account-deletion-design
  bin-customer-manager/pkg/customerhandler/freeze.go
  bin-customer-manager/pkg/customerhandler/freeze_test.go
  bin-customer-manager/pkg/customerhandler/main.go
  bin-customer-manager/pkg/customerhandler/mock_main.go
  bin-customer-manager/pkg/dbhandler/customer.go
  bin-customer-manager/pkg/dbhandler/customer_test.go
  bin-customer-manager/pkg/dbhandler/main.go
  bin-customer-manager/pkg/dbhandler/mock_main.go
Due: run-bin-customer-manager

NOJIRA-Customer-account-deletion-design
  bin-customer-manager/cmd/customer-manager/main.go
  bin-customer-manager/pkg/customerhandler/expiry.go
  bin-customer-manager/pkg/customerhandler/expiry_test.go
  bin-customer-manager/pkg/customerhandler/main.go
  bin-customer-manager/pkg/customerhandler/mock_main.go
Due: run-bin-customer-manager

NOJIRA-Customer-account-deletion-design
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-common-handler/pkg/requesthandler/customer_customer.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-customer-manager/pkg/listenhandler/main.go
  bin-customer-manager/pkg/listenhandler/v1_customers_freeze.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-customer-manager

NOJIRA-Customer-account-deletion-design
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/customer.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/server/customer_test.go
  bin-api-manager/server/customers.go
  bin-api-manager/server/customers_test.go
  bin-api-manager/server/service_agents_customer_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/customers/id_freeze.yaml
  bin-openapi-manager/openapi/paths/customers/id_recover.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-Customer-account-deletion-design
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/lib/service/unregister.go
Due: run-bin-api-manager

NOJIRA-Customer-account-deletion-design
  bin-api-manager/lib/middleware/authenticate.go
  bin-api-manager/lib/middleware/authenticate_test.go
Due: run-bin-api-manager

NOJIRA-Customer-account-deletion-design
  bin-call-manager/pkg/callhandler/event.go
  bin-call-manager/pkg/callhandler/event_test.go
  bin-call-manager/pkg/callhandler/main.go
  bin-call-manager/pkg/callhandler/mock_main.go
  bin-call-manager/pkg/subscribehandler/customer_manager.go
  bin-call-manager/pkg/subscribehandler/customer_manager_test.go
  bin-call-manager/pkg/subscribehandler/main.go
Due: run-bin-call-manager

NOJIRA-Customer-account-deletion-design
  bin-call-manager/pkg/callhandler/outgoing_call.go
  bin-call-manager/pkg/callhandler/outgoing_call_test.go
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_registrar_test.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_sip_test.go
  bin-call-manager/pkg/callhandler/start_incoming_domain_type_trunk_test.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-call-manager/pkg/callhandler/validate.go
Due: run-bin-call-manager

NOJIRA-Customer-account-deletion-design
  bin-billing-manager/models/account/account.go
  bin-billing-manager/models/account/field.go
  bin-billing-manager/pkg/accounthandler/balance.go
  bin-billing-manager/pkg/accounthandler/event.go
  bin-billing-manager/pkg/accounthandler/main.go
  bin-billing-manager/pkg/accounthandler/mock_main.go
  bin-billing-manager/pkg/dbhandler/account.go
  bin-billing-manager/pkg/dbhandler/account_test.go
  bin-billing-manager/pkg/dbhandler/main.go
  bin-billing-manager/pkg/dbhandler/mock_main.go
  bin-billing-manager/pkg/listenhandler/v1_accounts_test.go
  bin-billing-manager/pkg/subscribehandler/customer.go
  bin-billing-manager/pkg/subscribehandler/main.go
  bin-billing-manager/scripts/database_scripts_test/table_billing_accounts.sql
Due: run-bin-billing-manager

NOJIRA-Customer-account-deletion-design
  bin-customer-manager/cmd/customer-control/main.go
Due: run-bin-customer-manager

NOJIRA-Customer-account-deletion-design
  bin-billing-manager/cmd/billing-control/main.go
  bin-billing-manager/pkg/accounthandler/account.go
  bin-billing-manager/pkg/accounthandler/main.go
  bin-billing-manager/pkg/accounthandler/mock_main.go
Due: run-bin-billing-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
