Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Refactor-correlation-ownership-validation
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_correlation_test.go
  docs/plans/2026-06-09-refactor-correlation-ownership-validation-design.md
Due: none

NOJIRA-Refactor-correlation-ownership-validation (#975)
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_correlation_test.go
  docs/plans/2026-06-09-refactor-correlation-ownership-validation-design.md
Due: none

NOJIRA-Add-create-call-llm-tool-design
  docs/plans/2026-06-09-add-create-call-llm-tool-design.md
Due: none

NOJIRA-Add-create-call-llm-tool-design
  bin-ai-manager/docs/domain.md
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/models/tool/main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_createcall_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-ai-manager/pkg/toolhandler/main_test.go
Due: none

NOJIRA-Add-create-call-llm-tool-design (#976)
  bin-ai-manager/docs/domain.md
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/models/tool/main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_createcall_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-ai-manager/pkg/toolhandler/main_test.go
  docs/plans/2026-06-09-add-create-call-llm-tool-design.md
Due: none

NOJIRA-Clarify-correlation-activeflow-id-label
  bin-ai-manager/docs/plans/2026-06-08-add-correlation-llm-tool-design.md
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_correlation_test.go
  docs/plans/2026-06-09-clarify-correlation-activeflow-id-label-design.md
Due: none

Use activeflow terminology in get_correlation output and description
  bin-ai-manager/docs/plans/2026-06-08-add-correlation-llm-tool-design.md
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_correlation_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  docs/plans/2026-06-09-clarify-correlation-activeflow-id-label-design.md
Due: none

NOJIRA-Clarify-correlation-activeflow-id-label (#977)
  bin-ai-manager/docs/plans/2026-06-08-add-correlation-llm-tool-design.md
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_correlation_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  docs/plans/2026-06-09-clarify-correlation-activeflow-id-label-design.md
Due: none

NOJIRA-Add-timeline-listenhandler-reqresp-logging
  bin-registrar-manager/pkg/listenhandler/main.go
  bin-timeline-manager/pkg/listenhandler/main.go
  docs/plans/2026-06-09-add-timeline-listenhandler-reqresp-logging-design.md
Due: run-bin-registrar-manager

NOJIRA-Add-timeline-listenhandler-reqresp-logging (#978)
  bin-registrar-manager/pkg/listenhandler/main.go
  bin-timeline-manager/pkg/listenhandler/main.go
  docs/plans/2026-06-09-add-timeline-listenhandler-reqresp-logging-design.md
Due: run-bin-registrar-manager

Extract map[string]any to variable map converter into variable model
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_coerce_test.go
  bin-flow-manager/models/variable/variable.go
  bin-flow-manager/models/variable/variable_test.go
Due: run-bin-flow-manager

Rename variable converter to NewVariablesFromMap
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-flow-manager/models/variable/variable.go
  bin-flow-manager/models/variable/variable_test.go
Due: run-bin-flow-manager

Regenerate openapi models with oapi-codegen v2.7.1 to match CI
  bin-openapi-manager/gens/models/gen.go
Due: run-bin-openapi-manager

NOJIRA-Add-call-variables-docs
  bin-api-manager/docsdev/build/html/_sources/call_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/_sources/variable_overview.rst.txt
  bin-api-manager/docsdev/build/html/call_tutorial.html
  bin-api-manager/docsdev/build/html/variable_overview.html
  bin-api-manager/docsdev/source/call_tutorial.rst
  bin-api-manager/docsdev/source/variable_overview.rst
Due: run-bin-api-manager

NOJIRA-Add-call-variables-docs (#981)
  bin-api-manager/docsdev/build/html/_sources/call_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/_sources/variable_overview.rst.txt
  bin-api-manager/docsdev/build/html/call_tutorial.html
  bin-api-manager/docsdev/build/html/variable_overview.html
  bin-api-manager/docsdev/source/call_tutorial.rst
  bin-api-manager/docsdev/source/variable_overview.rst
Due: run-bin-api-manager

NOJIRA-Add-get-resource-tool-design
  docs/plans/2026-06-11-add-get-resource-tool-design.md
Due: none

NOJIRA-Add-get-resource-tool-design
  bin-ai-manager/docs/domain.md
  bin-ai-manager/go.mod
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/models/tool/main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_correlation_test.go
  bin-ai-manager/pkg/aicallhandler/tool_resource.go
  bin-ai-manager/pkg/aicallhandler/tool_resource_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-ai-manager/pkg/toolhandler/definitions_resource_test.go
  bin-ai-manager/pkg/toolhandler/main_test.go
Due: none

NOJIRA-Add-get-resource-tool-design
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_correlation_test.go
  bin-ai-manager/pkg/aicallhandler/tool_resource.go
  bin-ai-manager/pkg/aicallhandler/tool_resource_test.go
Due: none

NOJIRA-Add-get-resource-tool-design
  bin-ai-manager/pkg/aicallhandler/tool_resource.go
  bin-ai-manager/pkg/aicallhandler/tool_resource_test.go
Due: none

NOJIRA-Add-get-resource-tool-design (#984)
  bin-ai-manager/docs/domain.md
  bin-ai-manager/go.mod
  bin-ai-manager/models/message/tool.go
  bin-ai-manager/models/tool/main.go
  bin-ai-manager/pkg/aicallhandler/tool.go
  bin-ai-manager/pkg/aicallhandler/tool_correlation_test.go
  bin-ai-manager/pkg/aicallhandler/tool_resource.go
  bin-ai-manager/pkg/aicallhandler/tool_resource_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-ai-manager/pkg/toolhandler/definitions_resource_test.go
  bin-ai-manager/pkg/toolhandler/main_test.go
  docs/plans/2026-06-11-add-get-resource-tool-design.md
Due: none

NOJIRA-Add-get-resource-include-config-design
  docs/plans/2026-06-12-add-get-resource-include-config-design.md
Due: none

NOJIRA-Add-get-resource-include-config-design
  bin-ai-manager/pkg/aicallhandler/tool_resource.go
  bin-ai-manager/pkg/aicallhandler/tool_resource_config_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
Due: none

Apply PR review round 1 fixes
  bin-ai-manager/docs/domain.md
  bin-ai-manager/pkg/aicallhandler/tool_resource.go
  bin-ai-manager/pkg/aicallhandler/tool_resource_config_test.go
  bin-ai-manager/pkg/toolhandler/definitions_resource_test.go
  docs/plans/2026-06-11-add-get-resource-tool-design.md
  docs/plans/2026-06-12-add-get-resource-include-config-design.md
Due: none

Apply PR review round 2 suggestions
  bin-ai-manager/pkg/aicallhandler/tool_resource.go
  docs/plans/2026-06-12-add-get-resource-include-config-design.md
Due: none

NOJIRA-Add-get-resource-include-config-design (#985)
  bin-ai-manager/docs/domain.md
  bin-ai-manager/pkg/aicallhandler/tool_resource.go
  bin-ai-manager/pkg/aicallhandler/tool_resource_config_test.go
  bin-ai-manager/pkg/toolhandler/definitions.go
  bin-ai-manager/pkg/toolhandler/definitions_resource_test.go
  docs/plans/2026-06-11-add-get-resource-tool-design.md
  docs/plans/2026-06-12-add-get-resource-include-config-design.md
Due: none

NOJIRA-Document-webhook-payload-envelope
  bin-api-manager/docsdev/build/html/_sources/webhook_overview.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/webhook.html
  bin-api-manager/docsdev/build/html/webhook_overview.html
  bin-api-manager/docsdev/source/webhook_overview.rst
Due: run-bin-api-manager

NOJIRA-Document-webhook-payload-envelope (#986)
  bin-api-manager/docsdev/build/html/_sources/webhook_overview.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/webhook.html
  bin-api-manager/docsdev/build/html/webhook_overview.html
  bin-api-manager/docsdev/source/webhook_overview.rst
Due: run-bin-api-manager

NOJIRA-Fix-transcribe-tutorial-webhook-and-events
  bin-api-manager/docsdev/build/html/_sources/transcribe_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/transcribe_tutorial.html
  bin-api-manager/docsdev/source/transcribe_tutorial.rst
Due: run-bin-api-manager

Address review: fix WebSocket envelope and webhook event list
  bin-api-manager/docsdev/build/html/_sources/transcribe_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/_sources/webhook_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/transcribe_tutorial.html
  bin-api-manager/docsdev/build/html/webhook_tutorial.html
  bin-api-manager/docsdev/source/transcribe_tutorial.rst
  bin-api-manager/docsdev/source/webhook_tutorial.rst
Due: run-bin-api-manager

Address review: fix WebSocket subscription topics to match ZMQ prefix matching
  bin-api-manager/docsdev/build/html/_sources/transcribe_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/transcribe_tutorial.html
  bin-api-manager/docsdev/source/transcribe_tutorial.rst
Due: run-bin-api-manager

NOJIRA-Fix-transcribe-tutorial-webhook-and-events (#987)
  bin-api-manager/docsdev/build/html/_sources/transcribe_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/_sources/webhook_tutorial.rst.txt
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/build/html/transcribe_tutorial.html
  bin-api-manager/docsdev/build/html/webhook_tutorial.html
  bin-api-manager/docsdev/source/transcribe_tutorial.rst
  bin-api-manager/docsdev/source/webhook_tutorial.rst
Due: run-bin-api-manager
