Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Add-talk-manager
  bin-talk-manager/models/participant/participant.go
  bin-talk-manager/pkg/participanthandler/main.go
  bin-talk-manager/pkg/participanthandler/mock_main.go
  bin-talk-manager/pkg/participanthandler/participant.go
Due: none

NOJIRA-Add-talk-manager
  bin-talk-manager/pkg/reactionhandler/main.go
  bin-talk-manager/pkg/reactionhandler/mock_main.go
  bin-talk-manager/pkg/reactionhandler/reaction.go
Due: none

fix(talk-manager): use event constant for reaction updates
  bin-talk-manager/models/message/event.go
  bin-talk-manager/pkg/reactionhandler/reaction.go
Due: none

docs(talk-manager): add comprehensive CLAUDE.md with testing guidelines
  bin-talk-manager/CLAUDE.md
Due: none

feat(common-handler): add talk-manager queue and service names
  bin-common-handler/models/outline/queuename.go
  bin-common-handler/models/outline/servicename.go
Due: run-bin-common-handler

feat(talk-manager): add RabbitMQ RPC listen handler with routing
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_participants.go
  bin-talk-manager/pkg/listenhandler/v1_reactions.go
  bin-talk-manager/pkg/listenhandler/v1_talks.go
Due: none

feat(talk-manager): wire all handlers together in main
  bin-talk-manager/cmd/talk-manager/main.go
  bin-talk-manager/go.mod
  bin-talk-manager/go.sum
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_participants.go
  bin-talk-manager/pkg/listenhandler/v1_reactions.go
  bin-talk-manager/pkg/listenhandler/v1_talks.go
Due: none

chore: update dependencies after bin-common-handler changes
  bin-api-manager/go.mod
  bin-api-manager/go.sum
Due: run-bin-api-manager

test(talk-manager): add comprehensive test suite for all handlers
  bin-talk-manager/pkg/dbhandler/main_test.go
  bin-talk-manager/pkg/dbhandler/message_test.go
  bin-talk-manager/pkg/dbhandler/participant_test.go
  bin-talk-manager/pkg/dbhandler/talk_test.go
  bin-talk-manager/pkg/messagehandler/message_test.go
  bin-talk-manager/pkg/participanthandler/participant_test.go
  bin-talk-manager/pkg/reactionhandler/reaction_test.go
  bin-talk-manager/pkg/talkhandler/talk_test.go
Due: none

fix(talk-manager): SQLite compatibility fixes for testing
  bin-talk-manager/models/message/message.go
  bin-talk-manager/pkg/dbhandler/message.go
  bin-talk-manager/pkg/dbhandler/participant.go
  bin-talk-manager/pkg/participanthandler/main.go
  bin-talk-manager/pkg/participanthandler/participant.go
  bin-talk-manager/scripts/database_scripts/table_participants.sql
Due: none

test(talk-manager): add comprehensive listenhandler tests and update testing guidelines
  bin-talk-manager/CLAUDE.md
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/mock_main.go
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
  bin-talk-manager/pkg/listenhandler/v1_participants_test.go
  bin-talk-manager/pkg/listenhandler/v1_reactions_test.go
  bin-talk-manager/pkg/listenhandler/v1_talks_test.go
  bin-talk-manager/pkg/participanthandler/mock_main.go
Due: none

NOJIRA-add-talk-manager
  bin-talk-manager/pkg/dbhandler/message_test.go
  bin-talk-manager/pkg/dbhandler/talk_test.go
Due: none

NOJIRA-add-talk-manager
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/subscribehandler/main.go
  bin-api-manager/pkg/subscribehandler/talk.go
  bin-api-manager/pkg/subscribehandler/webhookmanager.go
  bin-api-manager/pkg/subscribehandler/webhookmanager_test.go
  bin-common-handler/go.mod
  bin-common-handler/go.sum
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/send_request.go
  bin-common-handler/pkg/requesthandler/talk_participants.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/go.mod
  bin-openapi-manager/go.sum
  bin-openapi-manager/openapi/openapi.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_chats.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_chats_id.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_chats_id_participants.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_chats_id_participants_id.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_messages.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_messages_id.yaml
  bin-openapi-manager/openapi/paths/service_agents/talk_messages_id_reactions.yaml
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_participants.go
  bin-talk-manager/pkg/listenhandler/v1_reactions.go
  bin-talk-manager/pkg/listenhandler/v1_talks.go
  bin-talk-manager/pkg/listenhandler/v1_talks_test.go
Due: run-bin-api-manager, run-bin-common-handler, run-bin-openapi-manager

NOJIRA-add-talk-manager-rpc-methods-to-bin-common-handler
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_messages.go
  bin-common-handler/pkg/requesthandler/talk_participants.go
  bin-common-handler/pkg/requesthandler/talk_talks.go
Due: run-bin-common-handler

NOJIRA-add-talk-manager-external-api-endpoints-to-bin-api-manager
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/server/service_agents_talk.go
Due: run-bin-api-manager

NOJIRA-add-talk-rpc-method-tests-to-bin-common-handler
  bin-common-handler/pkg/requesthandler/talk_messages_test.go
  bin-common-handler/pkg/requesthandler/talk_participants_test.go
  bin-common-handler/pkg/requesthandler/talk_talks_test.go
Due: run-bin-common-handler

NOJIRA-add-talk-endpoint-tests-to-bin-api-manager
  bin-api-manager/server/service_agents_talk_test.go
Due: run-bin-api-manager

NOJIRA-add-bin-talk-manager-replace-directives-to-all-services
  bin-agent-manager/go.mod
  bin-ai-manager/go.mod
  bin-billing-manager/go.mod
  bin-call-manager/go.mod
  bin-campaign-manager/go.mod
  bin-chat-manager/go.mod
  bin-conference-manager/go.mod
  bin-conversation-manager/go.mod
  bin-customer-manager/go.mod
  bin-email-manager/go.mod
  bin-flow-manager/go.mod
  bin-hook-manager/go.mod
  bin-message-manager/go.mod
  bin-number-manager/go.mod
  bin-outdial-manager/go.mod
  bin-pipecat-manager/go.mod
  bin-queue-manager/go.mod
  bin-registrar-manager/go.mod
  bin-route-manager/go.mod
  bin-sentinel-manager/go.mod
  bin-storage-manager/go.mod
  bin-tag-manager/go.mod
  bin-transcribe-manager/go.mod
  bin-transfer-manager/go.mod
  bin-tts-manager/go.mod
  bin-webhook-manager/go.mod
  voip-asterisk-proxy/go.mod
Due: run-bin-agent-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

NOJIRA-add-comprehensive-talk-endpoint-tests
  bin-api-manager/server/service_agents_talk_test.go
Due: run-bin-api-manager

NOJIRA-add-talk-api-documentation
  bin-api-manager/docsdev/source/index.rst
  bin-api-manager/docsdev/source/talk.rst
  bin-api-manager/docsdev/source/talk_overview.rst
  bin-api-manager/docsdev/source/talk_struct_message.rst
  bin-api-manager/docsdev/source/talk_struct_participant.rst
  bin-api-manager/docsdev/source/talk_struct_talk.rst
  bin-api-manager/docsdev/source/talk_tutorial.rst
Due: run-bin-api-manager

NOJIRA-add-square-talk-client-implementation-guide
  docs/plans/2026-01-17-square-talk-client-implementation-guide.md
Due: none

NOJIRA-add-talk-manager
  .circleci/config_work.yml
  bin-talk-manager/k8s/deployment.yml
  bin-talk-manager/k8s/kustomization.yml
  bin-talk-manager/k8s/namespace.yml
  bin-talk-manager/k8s/service.yml
Due: none

NOJIRA-add-talk-manager
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
  bin-talk-manager/pkg/listenhandler/v1_participants_test.go
  bin-talk-manager/pkg/listenhandler/v1_reactions_test.go
  bin-talk-manager/pkg/listenhandler/v1_talks_test.go
Due: none

NOJIRA-add-talk-manager
  bin-talk-manager/cmd/talk-manager/main.go
  bin-talk-manager/pkg/dbhandler/main_test.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_participants.go
  bin-talk-manager/pkg/listenhandler/v1_talks.go
  bin-talk-manager/pkg/reactionhandler/reaction_test.go
Due: none

NOJIRA-add-talk-manager
  bin-talk-manager/cmd/talk-manager/main.go
  bin-talk-manager/pkg/dbhandler/main_test.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_participants.go
  bin-talk-manager/pkg/listenhandler/v1_talks.go
Due: none

NOJIRA-add-talk-manager
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
  bin-talk-manager/pkg/listenhandler/v1_participants_test.go
  bin-talk-manager/pkg/listenhandler/v1_reactions_test.go
Due: none

NOJIRA-add-talk-manager
  bin-talk-manager/Dockerfile
Due: none

NOJIRA-add-talk-manager
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/server/service_agents_talk.go
Due: run-bin-api-manager

NOJIRA-add-talk-manager
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/server/service_agents_talk.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_messages.go
  bin-common-handler/pkg/requesthandler/talk_participants.go
  bin-common-handler/pkg/requesthandler/talk_talks.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-add-talk-manager
  bin-api-manager/pkg/servicehandler/serviceagent_talk.go
  bin-api-manager/pkg/subscribehandler/talk.go
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_chats.go
  bin-common-handler/pkg/requesthandler/talk_chats_test.go
  bin-common-handler/pkg/requesthandler/talk_messages.go
  bin-common-handler/pkg/requesthandler/talk_messages_test.go
  bin-common-handler/pkg/requesthandler/talk_participants.go
  bin-common-handler/pkg/requesthandler/talk_participants_test.go
Due: run-bin-api-manager, run-bin-common-handler

NOJIRA-add-talk-manager
  bin-common-handler/pkg/requesthandler/talk_chats.go
  bin-common-handler/pkg/requesthandler/talk_chats_test.go
  bin-common-handler/pkg/requesthandler/talk_messages.go
  bin-common-handler/pkg/requesthandler/talk_messages_test.go
  bin-common-handler/pkg/requesthandler/talk_participants.go
  bin-common-handler/pkg/requesthandler/talk_participants_test.go
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
  bin-talk-manager/pkg/listenhandler/v1_participants_test.go
  bin-talk-manager/pkg/listenhandler/v1_reactions_test.go
  bin-talk-manager/pkg/listenhandler/v1_talks_test.go
Due: run-bin-common-handler

NOJIRA-add-talk-manager
  CLAUDE.md
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
  bin-talk-manager/pkg/listenhandler/v1_participants.go
  bin-talk-manager/pkg/listenhandler/v1_participants_test.go
  bin-talk-manager/pkg/listenhandler/v1_reactions.go
  bin-talk-manager/pkg/listenhandler/v1_reactions_test.go
  bin-talk-manager/pkg/listenhandler/v1_talks.go
  bin-talk-manager/pkg/listenhandler/v1_talks_test.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/participanthandler/participant.go
  bin-talk-manager/pkg/reactionhandler/reaction.go
Due: none

NOJIRA-Add-talk-manager
  CLAUDE.md
  bin-ai-manager/pkg/dbhandler/main_test.go
  bin-billing-manager/pkg/dbhandler/main_test.go
  bin-call-manager/pkg/dbhandler/main_test.go
  bin-campaign-manager/pkg/dbhandler/main_test.go
  bin-chat-manager/pkg/dbhandler/main_test.go
  bin-conference-manager/pkg/dbhandler/main_test.go
  bin-conversation-manager/pkg/dbhandler/main_test.go
  bin-email-manager/pkg/dbhandler/main_test.go
  bin-flow-manager/pkg/dbhandler/main_test.go
  bin-message-manager/pkg/dbhandler/main_test.go
  bin-number-manager/pkg/dbhandler/main_test.go
  bin-outdial-manager/pkg/dbhandler/main_test.go
  bin-pipecat-manager/pkg/dbhandler/main_test.go
  bin-registrar-manager/pkg/dbhandler/main_test.go
  bin-route-manager/pkg/dbhandler/main_test.go
  bin-storage-manager/pkg/dbhandler/main_test.go
  bin-talk-manager/CLAUDE.md
  bin-transcribe-manager/pkg/dbhandler/main_test.go
  bin-transfer-manager/pkg/dbhandler/main_test.go
  bin-webhook-manager/pkg/dbhandler/main_test.go
  docs/plans/2026-01-16-add-billing-get-by-id-endpoint-design.md
  docs/plans/2026-01-17-talk-manager-implementation-plan.md
Due: run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-conference-manager, run-bin-conversation-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-webhook-manager

NOJIRA-Add-talk-manager
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_chats.go
  bin-common-handler/pkg/requesthandler/talk_chats_test.go
  bin-talk-manager/cmd/talk-manager/main.go
  bin-talk-manager/models/chat/chat.go
  bin-talk-manager/models/chat/event.go
  bin-talk-manager/models/chat/field.go
  bin-talk-manager/models/message/message.go
  bin-talk-manager/models/participant/participant.go
  bin-talk-manager/models/talk/event.go
  bin-talk-manager/pkg/chathandler/chat.go
  bin-talk-manager/pkg/chathandler/chat_test.go
  bin-talk-manager/pkg/chathandler/main.go
  bin-talk-manager/pkg/chathandler/mock_main.go
  bin-talk-manager/pkg/dbhandler/chat.go
  bin-talk-manager/pkg/dbhandler/chat_test.go
  bin-talk-manager/pkg/dbhandler/main.go
  bin-talk-manager/pkg/dbhandler/message.go
  bin-talk-manager/pkg/dbhandler/mock_main.go
  bin-talk-manager/pkg/dbhandler/participant.go
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/v1_chats.go
  bin-talk-manager/pkg/listenhandler/v1_chats_test.go
  bin-talk-manager/pkg/listenhandler/v1_messages.go
  bin-talk-manager/pkg/messagehandler/message.go
  bin-talk-manager/pkg/messagehandler/message_test.go
  bin-talk-manager/pkg/participanthandler/main.go
  bin-talk-manager/pkg/participanthandler/participant.go
  bin-talk-manager/pkg/talkhandler/main.go
  bin-talk-manager/pkg/talkhandler/mock_main.go
  bin-talk-manager/pkg/talkhandler/talk.go
  bin-talk-manager/scripts/database_scripts/table_chats.sql
  bin-talk-manager/scripts/database_scripts/table_messages.sql
  bin-talk-manager/scripts/database_scripts/table_participants.sql
Due: run-bin-common-handler

NOJIRA-add-talk-manager
  bin-talk-manager/pkg/listenhandler/main.go
  bin-talk-manager/pkg/listenhandler/v1_chats_participants.go
  bin-talk-manager/pkg/listenhandler/v1_messages_test.go
  bin-talk-manager/pkg/listenhandler/v1_participants.go
  bin-talk-manager/pkg/participanthandler/main.go
  bin-talk-manager/pkg/participanthandler/mock_main.go
  bin-talk-manager/pkg/participanthandler/participant.go
Due: none

NOJIRA-add-talk-manager
  bin-common-handler/pkg/requesthandler/mock_main.go
  bin-common-handler/pkg/requesthandler/talk_messages.go
  bin-common-handler/pkg/requesthandler/talk_participants.go
Due: run-bin-common-handler

NOJIRA-add-talk-manager
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler
