Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

VOIP-1447-Fleet-go-toolchain-upgrade
  voip-kamailio-proxy/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  voip-rtpengine-proxy/go.mod
Due: none

VOIP-1447-Fleet-go-toolchain-upgrade
  docs/plans/2026-09-02-fleet-go-toolchain-upgrade-design.md
Due: none

VOIP-1444-orphaned-flow-reconciliation
  bin-campaign-manager/docs/architecture.md
  bin-campaign-manager/docs/domain.md
  bin-campaign-manager/docs/operations.md
  bin-campaign-manager/models/campaign/reconcile.go
  bin-campaign-manager/pkg/campaignhandler/main.go
  bin-campaign-manager/pkg/campaignhandler/mock_campaignhandler.go
  bin-campaign-manager/pkg/campaignhandler/reconcile.go
  bin-campaign-manager/pkg/campaignhandler/reconcile_test.go
  bin-campaign-manager/pkg/dbhandler/campaign.go
  bin-campaign-manager/pkg/dbhandler/campaign_reconcile_test.go
  bin-campaign-manager/pkg/dbhandler/main.go
  bin-campaign-manager/pkg/dbhandler/mock_dbhandler.go
  bin-campaign-manager/pkg/listenhandler/flows.go
  bin-campaign-manager/pkg/listenhandler/flows_test.go
  bin-campaign-manager/pkg/listenhandler/main.go
  bin-campaign-manager/pkg/listenhandler/models/request/flows.go
  bin-campaign-manager/scripts/database_scripts/table_campaigns.sql
  bin-dbscheme-manager/bin-manager/main/versions/9f7413ad1d07_schedule_schedules_seed_campaign_flow_.py
  bin-dbscheme-manager/bin-manager/main/versions/ab1507b96589_campaign_campaigns_add_index_tm_delete.py
  docs/plans/2026-09-02-voip-1444-orphaned-flow-reconciliation-design.md
  docs/plans/2026-09-02-voip-1444-orphaned-flow-reconciliation-plan.md
Due: run-bin-campaign-manager

VOIP-1446-Upgrade-k8s-io-deps-to-GA
  bin-sentinel-manager/go.mod
  bin-sentinel-manager/go.sum
  bin-sentinel-manager/pkg/k8swatchhandler/run.go
  bin-sentinel-manager/pkg/k8swatchhandler/run_test.go
  docs/plans/2026-09-03-voip-1446-k8s-io-ga-upgrade-design.md
  docs/plans/2026-09-03-voip-1446-k8s-io-ga-upgrade-plan.md
Due: none

VOIP-1446-Upgrade-k8s-io-deps-to-GA
  voip-asterisk-proxy/cmd/asterisk-proxy/annotation.go
  voip-asterisk-proxy/cmd/asterisk-proxy/annotation_test.go
  voip-asterisk-proxy/docs/operations.md
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-voip-asterisk-proxy

VOIP-1446-Upgrade-k8s-io-deps-to-GA
  bin-call-manager/go.mod
  bin-call-manager/go.sum
Due: run-bin-call-manager

Add transcript-layer page-cap and success-path edge case tests
  bin-ai-manager/pkg/aicallhandler/tool_insight_test.go
Due: none

VOIP-1446-Upgrade-k8s-io-deps-to-GA
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-sentinel-manager/go.mod
  bin-sentinel-manager/go.sum
  bin-sentinel-manager/pkg/k8swatchhandler/run.go
  bin-sentinel-manager/pkg/k8swatchhandler/run_test.go
  docs/plans/2026-09-03-voip-1446-k8s-io-ga-upgrade-design.md
  docs/plans/2026-09-03-voip-1446-k8s-io-ga-upgrade-plan.md
  voip-asterisk-proxy/cmd/asterisk-proxy/annotation.go
  voip-asterisk-proxy/cmd/asterisk-proxy/annotation_test.go
  voip-asterisk-proxy/docs/operations.md
  voip-asterisk-proxy/go.mod
  voip-asterisk-proxy/go.sum
Due: run-bin-call-manager, run-voip-asterisk-proxy

Fix stale go.sum entry for go.yaml.in/yaml/v2 blocking deploy
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-api-manager/go.mod
  bin-api-manager/go.sum
Due: run-bin-api-manager

NOJIRA-Fix-stale-go-sum-blocking-deploy (#1259)
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-api-manager/go.mod
  bin-api-manager/go.sum
Due: run-bin-api-manager

Fix stale go.sum entry for go.yaml.in/yaml/v2 in bin-common-handler
  bin-common-handler/go.mod
  bin-common-handler/go.sum
Due: run-bin-common-handler

NOJIRA-Fix-bin-common-handler-gosum (#1261)
  bin-common-handler/go.mod
  bin-common-handler/go.sum
Due: run-bin-common-handler

Extract get_call_transcript's pagination loops into a shared helper
  bin-ai-manager/pkg/aicallhandler/tool_insight.go
  bin-ai-manager/pkg/aicallhandler/tool_insight_test.go
  docs/plans/2026-09-03-call-transcript-pagination-helper-extraction-design.md
Due: none

Factor out duplicated TRANSCRIBE_ID_ALREADY_EXISTS error construction
  bin-transcribe-manager/pkg/transcribehandler/start.go
Due: run-bin-transcribe-manager

NOJIRA-Extract-call-transcript-pagination-helper (#1262)
  bin-ai-manager/pkg/aicallhandler/tool_insight.go
  bin-ai-manager/pkg/aicallhandler/tool_insight_test.go
  docs/plans/2026-09-03-call-transcript-pagination-helper-extraction-design.md
Due: none

NOJIRA-Insight-AI-realtime-listen-design
  docs/plans/2026-09-03-insight-ai-realtime-listen-design.md
Due: none

NOJIRA-Insight-AI-realtime-listen-design-rev2
  docs/plans/2026-09-03-insight-ai-realtime-listen-design.md
Due: none

NOJIRA-Insight-AI-realtime-listen-design-rev3
  docs/plans/2026-09-03-insight-ai-realtime-listen-design.md
Due: none

NOJIRA-Insight-AI-realtime-listen-design-rev8
  docs/plans/2026-09-03-insight-ai-realtime-listen-design.md
Due: none

NOJIRA-Insight-AI-realtime-listen-design-rev4
  docs/plans/2026-09-03-insight-ai-realtime-listen-design.md
Due: none

NOJIRA-Insight-AI-realtime-listen-design-rev6
  docs/plans/2026-09-03-insight-ai-realtime-listen-design.md
Due: none

NOJIRA-Insight-AI-realtime-listen-design-rev7
  docs/plans/2026-09-03-insight-ai-realtime-listen-design.md
Due: none

NOJIRA-Insight-AI-realtime-listen-design-rev9
  docs/plans/2026-09-03-insight-ai-realtime-listen-design.md
Due: none

NOJIRA-Insight-AI-realtime-listen-design-rev5
  docs/plans/2026-09-03-insight-ai-realtime-listen-design.md
Due: none

NOJIRA-Insight-AI-realtime-listen-design-rev10
  docs/plans/2026-09-03-insight-ai-realtime-listen-design.md
Due: none

WIP: emit_info_card design doc (10-round review, approved)
  docs/plans/2026-09-04-insight-assistant-emit-info-card-design.md
  tasks/todo.md
Due: none

VOIP-1455-Add-emit-info-card-insight-tool
  tasks/todo.md
Due: none

NOJIRA-Insight-AI-realtime-listen
  docs/plans/2026-09-03-insight-ai-realtime-listen-design.md
  docs/plans/2026-09-04-insightai-realtime-listen-plan.md
Due: none

NOJIRA-Insight-AI-realtime-listen
  bin-customer-manager/models/customer/customer.go
  bin-customer-manager/models/customer/customer_test.go
Due: run-bin-customer-manager

NOJIRA-Insight-AI-realtime-listen
  bin-contact-manager/models/kase/kase.go
  bin-contact-manager/models/kase/kase_test.go
Due: none

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
