Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

VOIP-1186: Fix conference incoming call customerID handling (#329)
  CLAUDE.md
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/pkg/callhandler/start.go
  bin-call-manager/pkg/callhandler/start_test.go
  bin-conference-manager/go.mod
  bin-conference-manager/go.sum
  bin-conference-manager/pkg/conferencecallhandler/service.go
Due: run-bin-call-manager, run-bin-conference-manager

WIP
  CLAUDE.md
  bin-api-manager/CLAUDE.md
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/storage_file.go
  bin-openapi-manager/CLAUDE.md
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

WIP
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/storage_file.go
Due: run-bin-api-manager

NOJIRA-Update_doc (#330)
  CLAUDE.md
  bin-api-manager/CLAUDE.md
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/pkg/servicehandler/storage_file.go
  bin-openapi-manager/CLAUDE.md
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

VOIP-1188: Add design document for config standardization
  bin-flow-manager/docs/plans/2026-01-10-standardize-config-cobra-viper-design.md
Due: run-bin-flow-manager

VOIP-1188: Add implementation plan for Cobra/Viper migration
  bin-flow-manager/docs/plans/2026-01-10-cobra-viper-migration.md
Due: run-bin-flow-manager

VOIP-1188: Refactor ai-manager config to Cobra/Viper
  bin-ai-manager/cmd/ai-manager/init.go
  bin-ai-manager/cmd/ai-manager/main.go
  bin-ai-manager/go.mod
  bin-ai-manager/go.sum
  bin-ai-manager/internal/config/main.go
Due: none

VOIP-1188: Refactor api-manager config to Cobra/Viper
  bin-api-manager/cmd/api-manager/init.go
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/go.mod
  bin-api-manager/go.sum
  bin-api-manager/internal/config/main.go
Due: run-bin-api-manager

VOIP-1188: Fix api-manager config initialization order
  bin-api-manager/cmd/api-manager/main.go
  bin-api-manager/internal/config/main.go
Due: run-bin-api-manager

VOIP-1188: Refactor billing-manager config to Cobra/Viper
  bin-billing-manager/cmd/billing-manager/init.go
  bin-billing-manager/cmd/billing-manager/main.go
  bin-billing-manager/go.mod
  bin-billing-manager/go.sum
  bin-billing-manager/internal/config/main.go
Due: run-bin-billing-manager

VOIP-1188: Migrate bin-call-manager to Cobra/Viper configuration
  bin-call-manager/cmd/call-manager/init.go
  bin-call-manager/cmd/call-manager/main.go
  bin-call-manager/go.mod
  bin-call-manager/go.sum
  bin-call-manager/internal/config/main.go
Due: run-bin-call-manager

VOIP-1188: Refactor campaign-manager config to Cobra/Viper
  bin-campaign-manager/cmd/campaign-manager/init.go
  bin-campaign-manager/cmd/campaign-manager/main.go
  bin-campaign-manager/go.mod
  bin-campaign-manager/go.sum
  bin-campaign-manager/internal/config/main.go
Due: run-bin-campaign-manager

VOIP-1188: Migrate bin-chat-manager to Cobra/Viper configuration
  bin-chat-manager/cmd/chat-manager/init.go
  bin-chat-manager/cmd/chat-manager/main.go
  bin-chat-manager/go.mod
  bin-chat-manager/go.sum
  bin-chat-manager/internal/config/config.go
Due: run-bin-chat-manager

VOIP-1188: Migrate bin-conference-manager to Cobra/Viper
  bin-conference-manager/cmd/conference-manager/init.go
  bin-conference-manager/cmd/conference-manager/main.go
  bin-conference-manager/go.mod
  bin-conference-manager/go.sum
  bin-conference-manager/internal/config/config.go
Due: run-bin-conference-manager

VOIP-1188: Migrate bin-conversation-manager to Cobra/Viper
  bin-conversation-manager/cmd/conversation-manager/init.go
  bin-conversation-manager/cmd/conversation-manager/main.go
  bin-conversation-manager/go.mod
  bin-conversation-manager/go.sum
  bin-conversation-manager/internal/config/config.go
Due: run-bin-conversation-manager

refactor/email-manager-cobra-viper
  bin-email-manager/cmd/email-manager/init.go
  bin-email-manager/cmd/email-manager/main.go
  bin-email-manager/go.mod
  bin-email-manager/go.sum
  bin-email-manager/internal/config/config.go
Due: run-bin-email-manager

refactor/hook-manager-cobra-viper
  bin-hook-manager/cmd/hook-manager/init.go
  bin-hook-manager/cmd/hook-manager/main.go
  bin-hook-manager/go.mod
  bin-hook-manager/go.sum
  bin-hook-manager/internal/config/config.go
Due: run-bin-hook-manager

refactor/message-manager-cobra-viper
  bin-message-manager/cmd/message-manager/init.go
  bin-message-manager/cmd/message-manager/main.go
  bin-message-manager/go.mod
  bin-message-manager/go.sum
  bin-message-manager/internal/config/config.go
Due: run-bin-message-manager

refactor: Migrate bin-outdial-manager, bin-pipecat-manager, and bin-queue-manager to Cobra/Viper
  bin-outdial-manager/cmd/outdial-manager/init.go
  bin-outdial-manager/cmd/outdial-manager/main.go
  bin-outdial-manager/go.mod
  bin-outdial-manager/go.sum
  bin-outdial-manager/internal/config/config.go
  bin-pipecat-manager/cmd/pipecat-manager/init.go
  bin-pipecat-manager/cmd/pipecat-manager/main.go
  bin-pipecat-manager/go.mod
  bin-pipecat-manager/go.sum
  bin-pipecat-manager/internal/config/config.go
  bin-queue-manager/cmd/queue-manager/init.go
  bin-queue-manager/cmd/queue-manager/main.go
  bin-queue-manager/go.mod
  bin-queue-manager/go.sum
  bin-queue-manager/internal/config/config.go
Due: run-bin-outdial-manager, run-bin-queue-manager

VOIP-1188: Migrate bin-route-manager to Cobra/Viper
  bin-route-manager/cmd/route-manager/init.go
  bin-route-manager/cmd/route-manager/main.go
  bin-route-manager/go.mod
  bin-route-manager/go.sum
  bin-route-manager/internal/config/config.go
Due: run-bin-route-manager

VOIP-1188: Migrate bin-sentinel-manager to Cobra/Viper
  bin-sentinel-manager/cmd/sentinel-manager/init.go
  bin-sentinel-manager/cmd/sentinel-manager/main.go
  bin-sentinel-manager/go.mod
  bin-sentinel-manager/go.sum
  bin-sentinel-manager/internal/config/config.go
Due: none

VOIP-1188: Migrate bin-storage-manager to Cobra/Viper
  bin-storage-manager/cmd/storage-manager/init.go
  bin-storage-manager/cmd/storage-manager/main.go
  bin-storage-manager/go.mod
  bin-storage-manager/go.sum
  bin-storage-manager/internal/config/config.go
Due: run-bin-storage-manager

VOIP-1188: Migrate bin-tag-manager to Cobra/Viper
  bin-tag-manager/cmd/tag-manager/init.go
  bin-tag-manager/cmd/tag-manager/main.go
  bin-tag-manager/go.mod
  bin-tag-manager/go.sum
  bin-tag-manager/internal/config/config.go
Due: run-bin-tag-manager

VOIP-1188: Migrate final batch (transcribe/transfer/tts/webhook) to Cobra/Viper
  bin-transcribe-manager/go.mod
  bin-transcribe-manager/go.sum
  bin-transfer-manager/cmd/transfer-manager/init.go
  bin-transfer-manager/cmd/transfer-manager/main.go
  bin-transfer-manager/go.mod
  bin-transfer-manager/go.sum
  bin-transfer-manager/internal/config/main.go
  bin-tts-manager/cmd/tts-manager/init.go
  bin-tts-manager/cmd/tts-manager/main.go
  bin-tts-manager/go.mod
  bin-tts-manager/go.sum
  bin-tts-manager/internal/config/main.go
  bin-webhook-manager/cmd/webhook-manager/init.go
  bin-webhook-manager/cmd/webhook-manager/main.go
  bin-webhook-manager/go.mod
  bin-webhook-manager/go.sum
  bin-webhook-manager/internal/config/main.go
Due: run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager

VOIP-1188: Update flow-manager dependencies
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
Due: run-bin-flow-manager

NOJIRA-Add_git_workflow_rule_no_main_merge_without_permission
  CLAUDE.md
Due: none

NOJIRA-Add_rule_never_commit_directly_to_main
  CLAUDE.md
Due: none

NOJIRA-Add_rule_never_commit_directly_to_main (#331)
  CLAUDE.md
Due: none

VOIP-1189: Add design document for database mapping improvement
  bin-flow-manager/docs/plans/2026-01-11-database-mapping-improvement-design.md
Due: run-bin-flow-manager

feat: create dbutil package structure with placeholder functions
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
Due: run-bin-flow-manager

feat: implement GetDBFields helper with reflection
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
Due: run-bin-flow-manager

fix: add embedded struct support to GetDBFields
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
Due: run-bin-flow-manager

feat: implement PrepareValues helper for basic types
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
Due: run-bin-flow-manager

fix: add embedded struct support to PrepareValues
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
Due: run-bin-flow-manager

feat: add UUID conversion support to PrepareValues
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
Due: run-bin-flow-manager

feat: add JSON conversion support to PrepareValues
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
Due: run-bin-flow-manager

feat: implement ScanRow helper for basic types
  bin-flow-manager/go.mod
  bin-flow-manager/go.sum
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
  bin-flow-manager/pkg/dbutil/scan_test_helper.go
Due: run-bin-flow-manager

fix: address code quality issues in ScanRow implementation
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
  bin-flow-manager/pkg/dbutil/scan_test_helper.go
Due: run-bin-flow-manager

feat: add NULL handling to ScanRow helper
  bin-flow-manager/pkg/dbutil/main.go
  bin-flow-manager/pkg/dbutil/main_test.go
Due: run-bin-flow-manager

Path conditions:
  run-bin-agent-manager: any of: bin-agent-manager/.*
  run-bin-api-manager: any of: bin-api-manager/.*
  run-bin-billing-manager: any of: bin-billing-manager/.*
  run-bin-call-manager: any of: bin-call-manager/.*
  run-bin-campaign-manager: any of: bin-campaign-manager/.*
  run-bin-chat-manager: any of: bin-chat-manager/.*
  run-bin-chatbot-manager: any of: bin-chatbot-manager/.*
  run-bin-common-handler: any of: bin-common-handler/.*
  run-bin-conference-manager: any of: bin-conference-manager/.*
  run-bin-conversation-manager: any of: bin-conversation-manager/.*
  run-bin-customer-manager: any of: bin-customer-manager/.*
  run-bin-dbscheme-bin-manager: any of: bin-dbscheme-bin-manager/.*
  run-bin-email-manager: any of: bin-email-manager/.*
  run-bin-flow-manager: any of: bin-flow-manager/.*
  run-bin-hook-manager: any of: bin-hook-manager/.*
  run-bin-message-manager: any of: bin-message-manager/.*
  run-bin-number-manager: any of: bin-number-manager/.*
  run-bin-outdial-manager: any of: bin-outdial-manager/.*
  run-bin-openapi-manager: any of: bin-openapi-manager/.*
  run-bin-queue-manager: any of: bin-queue-manager/.*
  run-bin-registrar-manager: any of: bin-registrar-manager/.*
  run-bin-route-manager: any of: bin-route-manager/.*
  run-bin-storage-manager: any of: bin-storage-manager/.*
  run-bin-tag-manager: any of: bin-tag-manager/.*
  run-bin-transcribe-manager: any of: bin-transcribe-manager/.*
  run-bin-transfer-manager: any of: bin-transfer-manager/.*
  run-bin-tts-manager: any of: bin-tts-manager/.*
  run-bin-webhook-manager: any of: bin-webhook-manager/.*
  run-voip-asterisk-proxy: any of: voip-asterisk-proxy/.*
