Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Conversation-title-improvement
  bin-conversation-manager/internal/convtitle/build.go
  bin-conversation-manager/internal/convtitle/build_test.go
Due: run-bin-conversation-manager

NOJIRA-Conversation-title-improvement
  bin-conversation-manager/pkg/conversationhandler/db.go
  bin-conversation-manager/pkg/conversationhandler/db_test.go
  bin-conversation-manager/pkg/conversationhandler/event_test.go
Due: run-bin-conversation-manager

NOJIRA-Conversation-title-improvement
  bin-conversation-manager/pkg/linehandler/hook.go
Due: run-bin-conversation-manager

NOJIRA-selective-codec-outbound
  docs/plans/2026-05-03-selective-codec-outbound-design.md
Due: none

NOJIRA-selective-codec-outbound
  docs/plans/2026-05-03-selective-codec-outbound-plan.md
Due: none

NOJIRA-selective-codec-outbound
  bin-customer-manager/models/customer/metadata.go
  bin-customer-manager/models/customer/metadata_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_signup_test.go
  bin-customer-manager/pkg/listenhandler/v1_customers_test.go
Due: run-bin-customer-manager

NOJIRA-selective-codec-outbound
  bin-call-manager/models/call/metadata.go
  bin-call-manager/models/call/metadata_test.go
Due: run-bin-call-manager

NOJIRA-selective-codec-outbound
  bin-call-manager/models/common/sip.go
Due: run-bin-call-manager

NOJIRA-selective-codec-outbound
  bin-call-manager/pkg/callhandler/tech_headers.go
  bin-call-manager/pkg/callhandler/tech_headers_test.go
Due: run-bin-call-manager

NOJIRA-selective-codec-outbound
  bin-call-manager/pkg/callhandler/codec.go
  bin-call-manager/pkg/callhandler/codec_test.go
Due: run-bin-call-manager

NOJIRA-selective-codec-outbound
  bin-call-manager/pkg/callhandler/outgoing_call.go
Due: run-bin-call-manager

NOJIRA-selective-codec-outbound
  bin-call-manager/pkg/callhandler/codec.go
  bin-call-manager/pkg/callhandler/codec_test.go
  bin-call-manager/pkg/callhandler/tech_headers.go
Due: run-bin-call-manager

NOJIRA-selective-codec-outbound
  docs/plans/2026-05-03-selective-codec-outbound-kamailio-handover.md
Due: none

NOJIRA-Fix-500-regressions
  bin-agent-manager/pkg/agenthandler/db.go
  bin-agent-manager/pkg/listenhandler/v1_agents.go
  bin-api-manager/server/me.go
  bin-queue-manager/pkg/listenhandler/v1_queues.go
  bin-queue-manager/pkg/queuehandler/create.go
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-queue-manager

NOJIRA-Fix-500-regressions
  bin-agent-manager/pkg/listenhandler/v1_agents_additional_test.go
  bin-api-manager/server/me.go
  bin-queue-manager/pkg/listenhandler/v1_queues_test.go
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-queue-manager

NOJIRA-Fix-500-regressions (#880)
  bin-agent-manager/pkg/agenthandler/db.go
  bin-agent-manager/pkg/listenhandler/v1_agents.go
  bin-agent-manager/pkg/listenhandler/v1_agents_additional_test.go
  bin-api-manager/server/me.go
  bin-queue-manager/pkg/listenhandler/v1_queues.go
  bin-queue-manager/pkg/listenhandler/v1_queues_test.go
  bin-queue-manager/pkg/queuehandler/create.go
Due: run-bin-agent-manager, run-bin-api-manager, run-bin-queue-manager

NOJIRA-Fix-aimessages-500
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls_test.go
  bin-ai-manager/pkg/listenhandler/v1_messages.go
Due: none

NOJIRA-Fix-500-IDGet-regressions
  bin-agent-manager/pkg/listenhandler/v1_agents.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_ais.go
  bin-ai-manager/pkg/listenhandler/v1_messages.go
  bin-ai-manager/pkg/listenhandler/v1_summaries.go
  bin-ai-manager/pkg/listenhandler/v1_teams.go
  bin-queue-manager/pkg/listenhandler/v1_queuecalls.go
  bin-queue-manager/pkg/listenhandler/v1_queues.go
  bin-registrar-manager/pkg/listenhandler/v1_trunks.go
  bin-route-manager/pkg/listenhandler/v1_routes.go
Due: run-bin-agent-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager

NOJIRA-Fix-500-IDGet-regressions
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_ais.go
  bin-ai-manager/pkg/listenhandler/v1_teams.go
  bin-registrar-manager/pkg/listenhandler/v1_trunks.go
  bin-route-manager/pkg/listenhandler/v1_routes.go
Due: run-bin-registrar-manager, run-bin-route-manager

NOJIRA-Fix-500-IDGet-regressions
  bin-flow-manager/pkg/actionhandler/action.go
Due: run-bin-flow-manager

NOJIRA-Fix-500-IDGet-regressions (#882)
  bin-agent-manager/pkg/listenhandler/v1_agents.go
  bin-ai-manager/pkg/listenhandler/v1_aicalls.go
  bin-ai-manager/pkg/listenhandler/v1_ais.go
  bin-ai-manager/pkg/listenhandler/v1_messages.go
  bin-ai-manager/pkg/listenhandler/v1_summaries.go
  bin-ai-manager/pkg/listenhandler/v1_teams.go
  bin-flow-manager/pkg/actionhandler/action.go
  bin-queue-manager/pkg/listenhandler/v1_queuecalls.go
  bin-queue-manager/pkg/listenhandler/v1_queues.go
  bin-registrar-manager/pkg/listenhandler/v1_trunks.go
  bin-route-manager/pkg/listenhandler/v1_routes.go
Due: run-bin-agent-manager, run-bin-flow-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager

NOJIRA-Fix-agent-create-500-errors
  bin-agent-manager/pkg/agenthandler/agent.go
Due: run-bin-agent-manager

NOJIRA-Fix-agent-create-500-errors
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_test.go
Due: run-bin-agent-manager

NOJIRA-Fix-agent-create-500-errors (#883)
  bin-agent-manager/pkg/agenthandler/agent.go
  bin-agent-manager/pkg/agenthandler/agent_test.go
Due: run-bin-agent-manager

NOJIRA-Fix-transcribe-500-regressions
  bin-transcribe-manager/pkg/listenhandler/v1_transcribes.go
  bin-transcribe-manager/pkg/listenhandler/v1_transcribes_test.go
  bin-transcribe-manager/pkg/listenhandler/v1_transcripts.go
Due: run-bin-transcribe-manager

NOJIRA-Fix-transcribe-500-regressions (#884)
  bin-transcribe-manager/pkg/listenhandler/v1_transcribes.go
  bin-transcribe-manager/pkg/listenhandler/v1_transcribes_test.go
  bin-transcribe-manager/pkg/listenhandler/v1_transcripts.go
Due: run-bin-transcribe-manager

NOJIRA-Fix-agent-name-validation
  docs/plans/2026-05-05-agent-name-length-validation-design.md
Due: none

NOJIRA-Fix-agent-name-validation
  docs/plans/2026-05-05-agent-name-length-validation-plan.md
Due: none

NOJIRA-Fix-agent-name-validation
  bin-agent-manager/pkg/listenhandler/v1_agents.go
  bin-agent-manager/pkg/listenhandler/v1_agents_additional_test.go
Due: run-bin-agent-manager

NOJIRA-Fix-agent-name-validation
  bin-agent-manager/pkg/listenhandler/v1_agents.go
Due: run-bin-agent-manager

NOJIRA-Fix-agent-name-validation-apimgr
  bin-api-manager/server/error_translate.go
Due: run-bin-api-manager

NOJIRA-Fix-agent-name-validation-apimgr (#886)
  bin-api-manager/server/error_translate.go
Due: run-bin-api-manager

NOJIRA-Fix-agent-name-validation (#885)
  bin-agent-manager/pkg/listenhandler/v1_agents.go
  bin-agent-manager/pkg/listenhandler/v1_agents_additional_test.go
  docs/plans/2026-05-05-agent-name-length-validation-design.md
  docs/plans/2026-05-05-agent-name-length-validation-plan.md
Due: run-bin-agent-manager

NOJIRA-Fix-flows-500-not-found
  bin-api-manager/pkg/servicehandler/flow.go
  bin-api-manager/pkg/servicehandler/flow_test.go
  docs/plans/2026-05-06-fix-flows-get-500-not-found.md
Due: run-bin-api-manager

NOJIRA-Fix-flows-500-not-found (#887)
  bin-api-manager/pkg/servicehandler/flow.go
  bin-api-manager/pkg/servicehandler/flow_test.go
  docs/plans/2026-05-06-fix-flows-get-500-not-found.md
Due: run-bin-api-manager

Update openapi.yaml
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-openapi-manager
