Repository voipbin/monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-bin-agent-manager, run-bin-api-manager, run-bin-billing-manager, run-bin-call-manager, run-bin-campaign-manager, run-bin-chat-manager, run-bin-chatbot-manager, run-bin-common-handler, run-bin-conference-manager, run-bin-conversation-manager, run-bin-customer-manager, run-bin-dbscheme-bin-manager, run-bin-email-manager, run-bin-flow-manager, run-bin-hook-manager, run-bin-message-manager, run-bin-number-manager, run-bin-outdial-manager, run-bin-openapi-manager, run-bin-queue-manager, run-bin-registrar-manager, run-bin-route-manager, run-bin-storage-manager, run-bin-tag-manager, run-bin-transcribe-manager, run-bin-transfer-manager, run-bin-tts-manager, run-bin-webhook-manager, run-voip-asterisk-proxy

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-changes:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/config_work.yml
          mapping: |
            bin-agent-manager/.*        run-bin-agent-manager true
            bin-api-manager/.*          run-bin-api-manager true
            bin-billing-manager/.*      run-bin-billing-manager true
            bin-call-manager/.*         run-bin-call-manager true
            bin-campaign-manager/.*     run-bin-campaign-manager true
            bin-chat-manager/.*         run-bin-chat-manager true
            bin-chatbot-manager/.*      run-bin-chatbot-manager true
            bin-common-handler/.*       run-bin-common-handler true
            bin-conference-manager/.*   run-bin-conference-manager true
            bin-conversation-manager/.* run-bin-conversation-manager true
            bin-customer-manager/.*     run-bin-customer-manager true
            bin-dbscheme-bin-manager/.* run-bin-dbscheme-bin-manager true
            bin-email-manager/.*        run-bin-email-manager true
            bin-flow-manager/.*         run-bin-flow-manager true
            bin-hook-manager/.*         run-bin-hook-manager true
            bin-message-manager/.*      run-bin-message-manager true
            bin-number-manager/.*       run-bin-number-manager true
            bin-outdial-manager/.*      run-bin-outdial-manager true
            bin-openapi-manager/.*      run-bin-openapi-manager true
            bin-queue-manager/.*        run-bin-queue-manager true
            bin-registrar-manager/.*    run-bin-registrar-manager true
            bin-route-manager/.*        run-bin-route-manager true
            bin-storage-manager/.*      run-bin-storage-manager true
            bin-tag-manager/.*          run-bin-tag-manager true
            bin-transcribe-manager/.*   run-bin-transcribe-manager true
            bin-transfer-manager/.*     run-bin-transfer-manager true
            bin-tts-manager/.*          run-bin-tts-manager true
            bin-webhook-manager/.*      run-bin-webhook-manager true

            voip-asterisk-proxy/.*      run-voip-asterisk-proxy true

NOJIRA-Fix-groupcalls-migration-table-name
  bin-dbscheme-manager/bin-manager/main/versions/7a4eed7c79ed_call_manager_groupcalls_add_column_.py
Due: none

NOJIRA-Fix-groupcalls-migration-table-name
  .claude/scripts/check-migration-table-names.sh
  .claude/settings.json
Due: none

NOJIRA-voip-kamailio-proxy
  .circleci/config.yml
  .circleci/config_work.yml
  .claude/PRPs/reports/provider-health-check-kamailio-proxy-report.md
  voip-kamailio-proxy/Dockerfile
  voip-kamailio-proxy/Makefile
  voip-kamailio-proxy/cmd/kamailio-proxy/init.go
  voip-kamailio-proxy/cmd/kamailio-proxy/main.go
  voip-kamailio-proxy/go.mod
  voip-kamailio-proxy/go.sum
  voip-kamailio-proxy/pkg/listenhandler/main.go
  voip-kamailio-proxy/pkg/listenhandler/request/providers.go
  voip-kamailio-proxy/pkg/listenhandler/v1_providers.go
  voip-kamailio-proxy/pkg/listenhandler/v1_providers_test.go
  voip-kamailio-proxy/pkg/siphandler/health.go
  voip-kamailio-proxy/pkg/siphandler/health_test.go
Due: none

NOJIRA-voip-kamailio-proxy
  bin-dbscheme-manager/bin-manager/main/versions/1dfbaffb90cc_route_providers_add_column_health_.py
  bin-route-manager/pkg/providerhandler/provider.go
  bin-route-manager/pkg/providerhandler/provider_test.go
  voip-kamailio-proxy/Dockerfile
  voip-kamailio-proxy/cmd/kamailio-proxy/main.go
  voip-kamailio-proxy/pkg/listenhandler/main.go
  voip-kamailio-proxy/pkg/listenhandler/v1_providers.go
  voip-kamailio-proxy/pkg/listenhandler/v1_providers_test.go
  voip-kamailio-proxy/pkg/siphandler/health.go
Due: run-bin-route-manager

NOJIRA-voip-kamailio-proxy
  bin-route-manager/cmd/route-manager/main.go
  bin-route-manager/internal/config/config.go
  bin-route-manager/pkg/healthcheckhandler/health.go
  bin-route-manager/pkg/healthcheckhandler/health_test.go
  bin-route-manager/pkg/healthcheckhandler/main.go
  bin-route-manager/pkg/healthcheckhandler/mock_main.go
Due: run-bin-route-manager

NOJIRA-voip-kamailio-proxy
  bin-api-manager/gens/openapi_redoc/api.html
  bin-api-manager/gens/openapi_redoc/openapi.json
  bin-api-manager/gens/openapi_server/gen.go
  bin-api-manager/server/providers_test.go
  bin-openapi-manager/gens/models/gen.go
  bin-openapi-manager/openapi/openapi.yaml
Due: run-bin-api-manager, run-bin-openapi-manager

NOJIRA-voip-kamailio-proxy
  bin-route-manager/cmd/route-manager/main.go
  voip-kamailio-proxy/pkg/listenhandler/v1_providers_test.go
Due: run-bin-route-manager

NOJIRA-fix-provider-webhook-message
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/provider.go
  bin-api-manager/pkg/servicehandler/provider_test.go
  bin-api-manager/server/providers_test.go
Due: run-bin-api-manager

NOJIRA-fix-provider-webhook-message (#786)
  bin-api-manager/pkg/servicehandler/main.go
  bin-api-manager/pkg/servicehandler/mock_main.go
  bin-api-manager/pkg/servicehandler/provider.go
  bin-api-manager/pkg/servicehandler/provider_test.go
  bin-api-manager/server/providers_test.go
Due: run-bin-api-manager

NOJIRA-voip-kamailio-proxy
  voip-kamailio-proxy/cmd/kamailio-proxy/init.go
  voip-kamailio-proxy/cmd/kamailio-proxy/main.go
  voip-kamailio-proxy/pkg/listenhandler/main.go
  voip-kamailio-proxy/pkg/listenhandler/v1_providers_test.go
Due: none

NOJIRA-voip-kamailio-proxy
  bin-common-handler/models/outline/queuename.go
  bin-common-handler/pkg/requesthandler/kamailio_providers_test.go
  voip-kamailio-proxy/cmd/kamailio-proxy/init.go
  voip-kamailio-proxy/pkg/listenhandler/v1_providers_test.go
Due: run-bin-common-handler

NOJIRA-voip-kamailio-proxy
  voip-kamailio-proxy/cmd/kamailio-proxy/main_test.go
  voip-kamailio-proxy/pkg/listenhandler/main.go
Due: none

NOJIRA-voip-kamailio-proxy
  voip-kamailio-proxy/cmd/kamailio-proxy/main_test.go
  voip-kamailio-proxy/pkg/listenhandler/v1_providers_test.go
Due: none

NOJIRA-voip-kamailio-proxy
  bin-common-handler/models/outline/queuename.go
  bin-common-handler/pkg/requesthandler/kamailio_providers_test.go
  voip-kamailio-proxy/cmd/kamailio-proxy/init.go
  voip-kamailio-proxy/cmd/kamailio-proxy/main.go
  voip-kamailio-proxy/cmd/kamailio-proxy/main_test.go
  voip-kamailio-proxy/pkg/listenhandler/main.go
  voip-kamailio-proxy/pkg/listenhandler/v1_providers_test.go
Due: run-bin-common-handler

NOJIRA-update-rtc-architecture-docs
  docs/plans/2026-04-21-rtc-architecture-docs-update-design.md
Due: none

NOJIRA-update-rtc-architecture-docs
  docs/plans/2026-04-21-rtc-architecture-docs-update.md
Due: none

NOJIRA-update-rtc-architecture-docs
  bin-api-manager/docsdev/source/architecture_rtc.rst
Due: run-bin-api-manager

NOJIRA-update-rtc-architecture-docs
  bin-api-manager/docsdev/build/doctrees/architecture.doctree
  bin-api-manager/docsdev/build/doctrees/architecture_rtc.doctree
  bin-api-manager/docsdev/build/doctrees/environment.pickle
  bin-api-manager/docsdev/build/html/_sources/architecture_rtc.rst.txt
  bin-api-manager/docsdev/build/html/architecture.html
  bin-api-manager/docsdev/build/html/architecture_rtc.html
  bin-api-manager/docsdev/build/html/searchindex.js
  bin-api-manager/docsdev/source/architecture_rtc.rst
Due: run-bin-api-manager

NOJIRA-fix-number-renew-cronjob
  bin-number-manager/k8s/cronjob.yml
Due: run-bin-number-manager

NOJIRA-fix-number-renew-cronjob (#789)
  bin-number-manager/k8s/cronjob.yml
Due: run-bin-number-manager

NOJIRA-add-squash-merge-rule
  CLAUDE.md
Due: none

NOJIRA-add-squash-merge-rule (#790)
  CLAUDE.md
Due: none

NOJIRA-kamailio-proxy-use-common-queue-name
  voip-kamailio-proxy/cmd/kamailio-proxy/init.go
  voip-kamailio-proxy/pkg/listenhandler/v1_providers_test.go
Due: none

NOJIRA-call-metadata-route-provider-ids
  docs/plans/2026-04-21-call-metadata-route-provider-ids-design.md
Due: none

NOJIRA-call-metadata-route-provider-ids
  docs/plans/2026-04-21-call-metadata-route-provider-ids-plan.md
Due: none

NOJIRA-route-manager-readme-update
  bin-route-manager/README.md
Due: run-bin-route-manager

NOJIRA-call-metadata-route-provider-ids
  docs/plans/2026-04-21-call-metadata-route-provider-ids-design.md
  docs/plans/2026-04-21-call-metadata-route-provider-ids-plan.md
Due: none

NOJIRA-kamailio-proxy-use-common-queue-name (#791)
  voip-kamailio-proxy/cmd/kamailio-proxy/init.go
  voip-kamailio-proxy/pkg/listenhandler/v1_providers_test.go
Due: none

NOJIRA-route-manager-readme-update (#792)
  bin-route-manager/README.md
Due: run-bin-route-manager

NOJIRA-call-metadata-route-provider-ids
  bin-common-handler/pkg/requesthandler/main.go
  bin-common-handler/pkg/requesthandler/route_dialroutes.go
  bin-common-handler/pkg/requesthandler/route_dialroutes_test.go
  bin-route-manager/pkg/listenhandler/models/request/dialroute.go
Due: run-bin-common-handler, run-bin-route-manager

NOJIRA-call-metadata-route-provider-ids
  bin-call-manager/pkg/listenhandler/models/request/calls.go
  bin-common-handler/pkg/requesthandler/call_calls.go
  bin-common-handler/pkg/requesthandler/call_calls_test.go
  bin-common-handler/pkg/requesthandler/main.go
Due: run-bin-call-manager, run-bin-common-handler

NOJIRA-call-metadata-route-provider-ids
  bin-common-handler/pkg/requesthandler/mock_main.go
Due: run-bin-common-handler
